.card form [class*="col-"] {
  padding-left: 0px;
}

input[type="text"] {
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-label {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #7695a5;
  height: 36px;
  padding-top: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  text-align: right !important;
  margin-top: 5px !important;
}

@media (max-width: 992px) {
  .custom-label {
    padding-top: 0px !important;
  }
}

@media (min-width: 992px) {
  .card form [class*="col-"]:last-child {
    padding-right: 6px !important;
  }
}

.custom-input {
  font-size: 12px;
  // margin-left: 25px;
  border: solid 1px #ccc;
  border-radius: 4px;
  height: 36px;
  padding: 0 8px !important;
  width: 100%;
}

ng-select {
  // margin-left: 25px;
  background-image: none;
  font-size: 13px;
}

.trigger-section-title {
  padding: 0px 20px !important;
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 768px) {
  .card-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .card-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

@media (max-width: 992px) {
  .condition {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  .add-remove-icons-wrap {
    margin-top: 3px !important;
  }
}

.add-remove-icons-wrap {
  text-align: right;
  margin-top: 10px;
}

.form-control {
  margin-left: 25px;
  border: solid 1px #ddd;
  background-image: none;
  padding-left: 5px;
  border-radius: 7px;
}

.form-group {
  padding-bottom: 0px;
  margin: 10px 0 0 0;
}

.is-invalid {
  // margin-left: 28px;
  margin-left: 0px;
  margin-top: 2px;
  font-size: 12px;
  color: red;
}

.condition {
  background-color: rgba(227, 230, 232, 0.6);
  // padding: 7px 0px;
  padding: 2px 8px;
  width: 90%;
  margin: 10px auto;
  border-radius: 4px;
}

.custom-icon {
  color: #757677;
  border: solid 2px;
  border-radius: 40px;
}

.custom-icon:hover {
  opacity: 0.6;
}

.card-custom-trigger {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  //margin-left: -30px;
  margin-right: -30px;
  min-height: 345px;
  background-color: white;
}

.li-active {
  //border: 3px solid #039be5 !important;
  color: #000000 !important;
  cursor: default !important;
  background-color: rgba(227, 230, 232, 0.6) !important;
  border: 1px solid #757677 !important;
  //Sborder-radius: 5px;
}

.li-active a {
  color: #039be5 !important;
}

$f21blue: #039be5;
.btn-with-border-effect {
  background: none;
  border: 0;
  box-sizing: border-box;
  // margin: 1em;
  // padding: 1em 2em;
  //   padding-bottom: 37px;
  font-size: 14px;
  font-weight: 300;

  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.are-you-sure {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0px 15px;
}

// start SWITCH BTN
.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  // border: 2px solid #999999;
  border: 1px solid #d9d9d9 !important;
  border-radius: 22px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  // background-color: #EEEEEE;
  color: #4caf50;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  // background-color: #EEEEEE;
  color: #f44336;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 22px;
  margin: 5px;
  background: #f44336;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  // border: 2px solid #999999;
  border: 1px solid #d9d9d9 !important;
  border-radius: 22px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #4caf50;
}
// ./end SWITCH BTN

// -----------------------------------
// Success Check Animation
// -----------------------------------
.success-checkmark {
  width: 80px;
  // height: 115px;
  margin: 0 auto;
  position: relative;
  right: 5px;
  margin-top: 16px;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: "";
      height: 100px;
      position: absolute;
      background: #ffffff;
      transform: rotate(-45deg);
    }

    .success-icon-line {
      height: 5px;
      background-color: #4caf50;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.success-line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.success-line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .success-icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, 0.5);
    }

    .success-icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #ffffff;
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

// -----------------------------------
// Error banmark Animation
// -----------------------------------
.error-banmark {
  width: 80px;
  // height: 115px;
  margin: 0 auto;
  position: relative;
  right: 3px;
  margin-top: 16px;

  .ban-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    // border: 4px solid rgb(175, 76, 76);
    border: 4px solid #f27474;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: "";
      height: 100px;
      position: absolute;
      background: rgba(255, 255, 255, 0);
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      // background-color: rgb(175, 76, 76);
      background-color: #f27474;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-long-invert {
        top: 39px;
        left: 8px;
        width: 60px;
        transform: rotate(45deg);
        animation: icon-line-long 0.75s;
      }

      &.line-long {
        top: 39px;
        left: 8px;
        width: 60px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.85s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      // border: 4px solid rgba(175, 76, 76, 0.5);
      border: 4px solid rgba(242, 116, 116, 0.5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: rgba(255, 255, 255, 0);
    }
  }
}

.trigger--add-icon {
  display: none;
}

.trigger--add-icon-last {
  display: inline-block;
  margin-right: 7px;
}

.trigger-status {
  margin-left: 0px;
  font-size: 12px;
  color: #7695a5;
  line-height: 1.2em;
  font-weight: 400;
  margin-top: 8px;
}
