// .example-custom-placeholder {
//     background: #ccc;
//     border: dotted 3px #999;
//     min-height: 60px;
//     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
//   }
  
  .header__center {
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .header__center::before,
  .header__center::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
  }

  .auto-suggest-group{
    display: flex;
  }

  .sx-input {
    border: 0;
    cursor: default;
    display: flex;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 30px;
    border-radius: 4px 0 0 4px;
    background: #f2f2f2;
    font-weight: 500;
    font-size: 14px;
    margin: 6px 0;
    margin-right: 2px;
    padding: 0 0 0 10px;
    width: calc(50% - 2px);
    color: #1e293b;
}


.dx-input {
    border: 0;
    background: #fff;
    margin: 6px 0;
    font-size: 14px;
    height: 30px;
    width: 50%;
    padding: 0 10px;
    border-radius: 0 4px 4px 0;
    color: #1e293b;
    width: calc(50% - 2px);
}

.dx-input:focus, .sx-input:focus {
    outline: 2px solid rgba(236,182,6,1);
}