
<div class="apps-right-side-bar"
  [ngClass]="{'apps-right-side-bar-panel-mode': SIDEBAR_APPS_IN_CHAT_PANEL_MODE, 'apps-right-side-bar-dshbrd-mode': !SIDEBAR_APPS_IN_CHAT_PANEL_MODE}">

  <div #appsSidebar id="apps-sidebar-header">
    <!-- [ngStyle]="{'fill':APP_SIDEBAR_WIDE === true ? '#039be5' : '#fff'}" -->

    <h5>
      {{ 'Apps' | translate }}
      <span class="width-wide-btn-wpr"
        (click)="enlargeSidebarWide()">
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" 
          height="24px" 
          viewBox="0 0 24 24"
          width="24px" 
          
          [ngClass]="{'isWide':APP_SIDEBAR_WIDE === true , 'isClose':APP_SIDEBAR_WIDE === false}">
          <g>
            <rect fill="none" height="24" width="24" />
          </g>
          <g>
            <path
              d="M20,4H4C2.9,4,2,4.9,2,6v12c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V6C22,4.9,21.1,4,20,4z M4,18V6h2v12H4z M8,18V6h8v12H8z M20,18h-2V6h2V18z" />
          </g>
        </svg>
      </span>
      <i class="material-icons" style="padding-right: 25px; float: right;cursor:pointer"
        (click)="closeAppsRightSideBar()">close</i>
    </h5>
  </div>
  <!-- [ngStyle]="{ 'height': app.iframeHeight + 'px'}" -->
  <div *ngIf="SIDEBAR_APPS_IN_CHAT_PANEL_MODE === false" class="dashbord-app-wpr">
    <div class="dashbord-app--wpr-f" *ngFor="let app of dashboardApps; let first = first;">
      <!-- [ngStyle]="{'height.px': dashboardIframeHeight}" -->
      <!-- [ngStyle]="{'height.px': webchatIframeHeight}" -->
      <!-- <iframe  *ngIf="dashboardApps?.length === 1" [src]="app.iframeUrl | sanitizeHtml" style="width:100%; min-height:390px; height: calc(100vh - 100px)" id="{{app._id}}" frameBorder="0"
        allowfullscreen (load)="getIframeHasLoaded(app?._id, app?.title)"></iframe> -->
      <!-- [ngStyle]="{'width': someAngularVariable +'px', 'left': 'calc(100% - ' +someAngularVariable + 'px)' }" -->

      <!-- *ngIf="dashboardApps?.length > 1" -->
      <!-- [ngStyle]="{'height.vh': frameHeightDashbordHeight}" -->
      <!-- min-height:390px -->
     
      <iframe allow="camera; microphone" *ngIf="dashboardApps?.length === 1" [src]="app.iframeUrl | sanitizeHtml"
        style="width:100%; min-height:390px; height: calc(100vh + 100px)" id="{{app._id}}" frameBorder="0"
        allowfullscreen (load)="getIframeHasLoaded(app?._id, app?.title)"></iframe>
      <!-- <iframe  *ngIf="dashboardApps?.length > 1" [src]="app.iframeUrl | sanitizeHtml" style="width:100%; " id="{{app._id}}" frameBorder="0"
        allowfullscreen (load)="getIframeHasLoaded(app?._id, app?.title)" 
        [ngStyle]="{'height': first ? 'calc(' +frameHeightDashbordHeight + 'vh - 110px)' :  'calc(' +frameHeightDashbordHeight + 'vh - 0px)'}" ></iframe> -->
      <iframe allow="camera; microphone" *ngIf="dashboardApps?.length > 1" [src]="app.iframeUrl | sanitizeHtml" style="width:100%; "
        id="{{app._id}}" frameBorder="0" allowfullscreen (load)="getIframeHasLoaded(app?._id, app?.title)"
        [ngStyle]="{'height.px': dashboardIframeHeight}"></iframe>
    </div>

    <div *ngIf="dashboardApps?.length === 0" class="no-apps">
      No apps installed for this project
    </div>
  </div>
  <!-- [ngStyle]="{ 'height': app.iframeHeight + 'px'}" -->
  <div *ngIf="SIDEBAR_APPS_IN_CHAT_PANEL_MODE === true" class="webchat-app-wpr">
    <div class="webchat-app--wpr-f" *ngFor="let app of webchatApps; let first = first;">

      <!-- <iframe *ngIf="webchatApps?.length === 1" [src]="app.iframeUrl | sanitizeHtml" style="width:100%;min-height:630px;height: calc(100vh - 60px)" id="{{app?._id}}" frameBorder="0"
        allowfullscreen (load)="getIframeHasLoaded(app?._id, app?.title)" ></iframe> -->
      <!-- *ngIf="webchatApps?.length > 1" -->
      <!-- [ngStyle]="{'height': 'calc(' +frameHeightWebchatHeight + 'vh - 60px)'}" -->
      <!-- [ngStyle]="{'height.vh': frameHeightWebchatHeight}" -->
      <!-- min-height:630px -->
      <iframe [src]="app.iframeUrl | sanitizeHtml" style="width:100%;" id="{{app?._id}}" frameBorder="0" allowfullscreen
        (load)="getIframeHasLoaded(app?._id, app?.title)"
        [ngStyle]="{'height': first ? 'calc(' +frameHeightWebchatHeight + 'vh - 60px)' : 'calc(' +frameHeightWebchatHeight + 'vh - 0px)'}"></iframe>
    </div>
    <div *ngIf="webchatApps?.length === 0" class="no-apps">
      No apps installed for this project
    </div>

  </div>
</div>