// @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
textarea {
  // height:36px;
  background: #fff;
  border-color: #d9d9d9;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  font-family: monospace;
  white-space: pre;
  border-radius: 4px;
}

// start CHECKBOX
/* Customize the label (the container) */
// .container {
//   display: block;
//   position: relative;
//   padding-left: 35px;
//   margin-bottom: 12px;
//   cursor: pointer;
//   font-size: 14px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   padding-top: 3px;
// }

// /* Hide the browser's default checkbox */
// .container input {
//   position: absolute;
//   opacity: 0;
//   cursor: pointer;
// }

// /* start Create a custom checkbox */
// .checkmark {
//   position: absolute;
//   top: 0;
//   // top: 2;
//   left: 0;
//   height: 25px;
//   width: 25px;
//   // height: 20px;
//   // width: 20px;
//   background-color: #fff;
//   border: solid 1px #ddd;
//   border-radius: 5px;
// }

// /* On mouse-over, add a grey background color */
// // .container:hover input ~ .checkmark {
// //   background-color: #ccc;
// // }

// /* When the checkbox is checked, add a blue background */
// .container input:checked ~ .checkmark {
//   background-color: #2196f3;
// }

// /* Create the checkmark/indicator (hidden when not checked) */
// .checkmark:after {
//   content: "";
//   position: absolute;
//   display: none;
// }

// /* Show the checkmark when checked */
// .container input:checked ~ .checkmark:after {
//   display: block;
// }

// /* Style the checkmark/indicator */
// .container .checkmark:after {
//   left: 9px;
//   top: 5px;
//   // left: 7px;
//   // top: 3px;
//   width: 5px;
//   height: 10px;
//   border: solid white;
//   border-width: 0 3px 3px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
// }
// end CHECKBOX

.float_left_chat_img {
  float: left !important;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

// .full-img {
//     background-image: url(assets/img/tiledesk-chat.png);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// start SWITCH BTN
.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  // border: 2px solid #999999;
  border: 1px solid #d9d9d9 !important;
  border-radius: 22px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  // background-color: #EEEEEE;
  color: #4caf50;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  // background-color: #EEEEEE;
  color: #f44336;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 21px;
  height: 21px;
  margin: 6px;
  background: #f44336;
  position: absolute;
  top: 0;
  bottom: 5px;
  right: 56px;
  // border: 2px solid #999999;
  border: 1px solid #d9d9d9 !important;
  border-radius: 22px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #4caf50;
}
// ./end SWITCH BTN

pre {
  font-family: monospace;
  background-color: #fff;

  // margin: 4em auto;
  // padding: 0.5em;
  border: none;
  // border-radius: 0.25em;
  border-radius: 0.25em 0.25em 0px 0px;
  // box-shadow: .1em .1em .5em rgba(0,0,0,.45);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  line-height: 0;
  counter-reset: line;

  span {
    display: block;
    line-height: 2.1rem;

    &:before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 0.5em;
      margin-right: 0.5em;
      color: #039be5;
      // background: #f2feef;
      background: rgba(3, 155, 229, 0.1);
      width: 30px;
      text-align: end;
    }
  }
}

/// START COPY TO CLIPBOARD TOOLTIP EFFECT
@-moz-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}

.has-copied-text {
  background-color: #555;
  color: white;
  -moz-animation: fadeinout 1s linear forwards;
  -webkit-animation: fadeinout 1s linear forwards;
  animation: fadeinout 2s linear forwards;
}
/// end COPY TO CLIPBOARD TOOLTIP EFFECT

@media (max-width: 992px) {
  //   .wrap-subtitle-prechat-form {
  //     max-width: 100% !important;
  //   }
  //   .wrap-subtitle-test-widget {
  //     max-width: 100% !important;
  //   }

  .large-device {
    display: none;
  }
}

@media (min-width: 992px) {
  .small-device {
    display: none;
  }
}

.widget-setting-label {
  color: #566787;
  margin-top: 8px;
  font-size: 16px;
  font-family: Google Sans, sans-serif;
  font-weight: 400;
}

.widget-settings-div-button {
  // margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 16px;
  border-top: 1px solid #e8f0f5;
  max-width: 850px;
  cursor: pointer;
}

.widget-settings-div-button:hover {
  background-color: #f4f9ff;
}
