textarea {
    // height:36px;  
    background: #fff; 
    border-color: #d9d9d9; 
    width: 100%;
    background-color: #f5f5f5;
    padding:10px;
    font-family: monospace; 
    white-space: pre;
    border-radius: 4px;

}

  
  // start CHECKBOX
  /* Customize the label (the container) */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 3px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    // top: 2;
    left: 0;
    height: 25px;
    width: 25px;
    // height: 20px;
    // width: 20px;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  // .container:hover input ~ .checkmark {
  //   background-color: #ccc;
  // }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    // left: 7px;
    // top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  // my cusyom 
//   .chekboxCustomHeight {
//     margin-bottom: 26px !important;
//   }
  // end CHECKBOX


  .float_left_chat_img {
    float: left !important;
  }

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
  
// .full-img {
//     background-image: url(assets/img/tiledesk-chat.png);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }