@import "./src/assets/sass/cds/_variables.scss";


:host{
    --selectedColor: #{$icon-color};
}

mat-radio-group ::ng-deep{
    display: flex;
    gap: 10px;

    label{
        margin: 0px;
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
        border-color: var(--selectedColor) 
    }
    
    .mat-radio-button.mat-accent .mat-radio-inner-circle{
        color: var(--selectedColor);
        background-color: var(--selectedColor);
    }
    
    .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
        background-color: var(--selectedColor);
    }
}