input[type="text"] {
    // min-width: 307px !important;
    height: 36px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9 !important;
    // border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px !important;
    background-color: #fff !important;
    background-image: none !important;
    // border: solid 1px #ddd;
}

.table td,
.table th {
    vertical-align: middle;
}

.table td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.table td p {
    margin-bottom: 0px;
}

.btn-visibility-custom {
    padding-top: 2px;
    padding-bottom: 1px;
    padding-right: 3px;
    padding-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card form [class*="col-"] {
    padding: 0px;
}

/* Remove input background colour for Chrome autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

// @media (min-width: 992px) {

//     .card form [class*="col-"]:last-child {
//         padding-right: 0px;
//     }
// }

// START NEW NK
// .dropdown.dropdown-lg .dropdown-menu {
//     margin-top: -1px;
//     padding: 6px 20px;
// }
// .input-group-btn .btn-group {
//     display: flex !important;
// }
// .btn-group .btn {
//     border-radius: 0;
//     margin-left: -1px;
// }
// .btn-group .btn:last-child {
//     border-top-right-radius: 4px;
//     border-bottom-right-radius: 4px;
// }
// .btn-group .form-horizontal .btn[type="submit"] {
//   border-top-left-radius: 4px;
//   border-bottom-left-radius: 4px;
// }
// .form-horizontal .form-group {
//     margin-left: 0;
//     margin-right: 0;
// }
// .form-group .form-control:last-child {
//     border-top-left-radius: 4px;
//     border-bottom-left-radius: 4px;
// }

// @media screen and (min-width: 768px) {
//     #adv-search {
//         width: 500px;
//         margin: 0 auto;
//     }
//     .dropdown.dropdown-lg {
//         position: static !important;
//     }
//     .dropdown.dropdown-lg .dropdown-menu {
//         min-width: 500px;
//     }
// }

// @media screen and (max-width: 767px) {
//     .dropdown-menu-right {
//         right: -71px;
//         min-width: 260px;
//     }
// }

// .input-group .input-group-btn {
//     padding: 3px 12px !important;
// }

@media screen and (min-width: 768px) {
    .advancedOptionForm {
        width: 500px;
        margin: 0 auto;
    }

    .section-select-dept {
        padding-right: 15px;
    }
    // .section-select-agent {
    //     padding-right: 15px;
    // }
}

@media screen and (max-width: 767px) {
    .advancedOptionForm {
        padding-right: 25px;
        padding-left: 25px;
    }
}

// PLACEHOLDER CUSTOM FONT-SIZE
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 0.9em !important;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 0.9em !important;
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 0.9em !important;
}

// THE 'X' INSIDE THE 'fullText' INPUT
.buttonInside {
    position: relative;
    // margin-bottom:10px;
}

// THE 'X' INSIDE THE 'fullText' INPUT
// .glyphicon-remove{
#clear-fulltext-search {
    // .fulltext-remove-btn{
    position: absolute;
    right: 5px;
    top: 10px;
    padding: 2px;
    font-size: 0.9em;
    color: #999999;
    z-index: 3;
    cursor: pointer;
}

#clear-fulltext-search:hover {
    color: #f44336;
}

.searchTopBtn {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 0px;
}

//   CUSTOMIZE FONT WEIGHT AND COLOR OF THE 'X' INSIDE THE SELECT OPTIONS 'FILTER BY DEPT'
// .ng-select .ng-select-container {

//     color: #000 !important;
//     font-weight: 1000 !important;
// }

// HOVER ON THE MEMBER LIST OF THE COLUMN SERVED BY
p.member:hover {
    background-color: #58c1d6;
    color: #fff;
    border-radius: 4px;
}

// END NEW NK

// start TOOLTIP
/* Tooltip container */
.tooltipx {
    position: relative;
    display: inline-block;
    // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipx .tooltiptext {
    visibility: hidden;
    // width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 12px !important;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    /* Position the tooltip text - TOP */
    // width: 420px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

    // NEW
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background-color: #394f5a;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipx:hover .tooltiptext {
    visibility: visible;
}
// /.end TOOLTIP

.requester-avatar {
    border-radius: 50%;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 3px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 21px;
    position: relative;
    top: 4px;
}

.lead_data {
    position: relative;
    top: -2px;
}

.requester_fullname_undefined {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.requester-verified {
    position: relative;
    left: -20px;
}

.requester-email {
    color: #7695a5;
    font-weight: 100;
    line-height: 18px;
    font-size: 11px;
    display: block;
    margin-left: 34px;
    margin-top: -10px;
}

.requester-verified-email {
    position: relative;
    left: 20px;
}

.column-th-span {
    font-size: 14px;
    font-weight: 500;
    color: #353f45;
    // color: #566787;
}

.column-td {
    font-size: 12px;
    font-weight: 400;
}

.member {
    font-weight: 400;
}
.current-user-member {
    font-weight: 400;
    color: #4caf50;
}

.msg-alert {
    font-family: "Google Sans", sans-serif !important;
    font-weight: 400;
}

.user_profile_in_history {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin-top: 1px;
    margin-bottom: 1px;
}

.ua_browser_icon {
    width: 13px;
    // margin-bottom: 2px;
}

.padding_5 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
