@import "./src/assets/sass/md/_variables.scss";

// .modal-open {
//   overflow: hidden;
// }

// .modal-open .modal {
//   overflow-x: hidden;
//   overflow-y: auto;
// }

// .modal {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1050;
//   display: none;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   outline: 0;
// }

// .modal-dialog {
//   position: relative;
//   width: auto;
//   margin: 0.5rem;
//   pointer-events: none;
// }

// .fadenk:not(.show) {
//     opacity: 0;
// }
// .fadenk {
//     transition: opacity .15s linear;
// }

// .modal.fadenk .modal-dialog {
//   transition: -webkit-transform 0.3s ease-out;
//   transition: transform 0.3s ease-out;
//   transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
//   -webkit-transform: translate(0, -50px);
//   transform: translate(0, -50px);
// }

// @media (prefers-reduced-motion: reduce) {
//   .modal.fadenk .modal-dialog {
//     transition: none;
//   }
// }

// .modal.show .modal-dialog {
//   -webkit-transform: none;
//   transform: none;
// }

// .modal.modal-static .modal-dialog {
//   -webkit-transform: scale(1.02);
//   transform: scale(1.02);
// }

// .modal-dialog-scrollable {
//   display: -ms-flexbox;
//   display: flex;
//   max-height: calc(100% - 1rem);
// }

// .modal-dialog-scrollable .modal-content {
//   max-height: calc(100vh - 1rem);
//   overflow: hidden;
// }

// .modal-dialog-scrollable .modal-footer,
// .modal-dialog-scrollable .modal-header {
//   -ms-flex-negative: 0;
//   flex-shrink: 0;
// }

// .modal-dialog-scrollable .modal-body {
//   overflow-y: auto;
// }

// .modal-dialog-centered {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-align: center;
//   align-items: center;
//   min-height: calc(100% - 1rem);
// }

// .modal-dialog-centered::before {
//   display: block;
//   height: calc(100vh - 1rem);
//   content: "";
// }

// .modal-dialog-centered.modal-dialog-scrollable {
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -ms-flex-pack: center;
//   justify-content: center;
//   height: 100%;
// }

// .modal-dialog-centered.modal-dialog-scrollable .modal-content {
//   max-height: none;
// }

// .modal-dialog-centered.modal-dialog-scrollable::before {
//   content: none;
// }

// .modal-content {
//   position: relative;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   width: 100%;
//   pointer-events: auto;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-radius: 0.3rem;
//   outline: 0;
// }

// .modal-backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1040;
//   width: 100vw;
//   height: 100vh;
//   background-color: #000;
// }

// .modal-backdrop.fadenk {
//   opacity: 0;
// }

// .modal-backdrop.show {
//   opacity: 0.5;
// }

// .modal-header {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-align: start;
//   align-items: flex-start;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   padding: 1rem 1rem;
//   border-bottom: 1px solid #dee2e6;
//   border-top-left-radius: calc(0.3rem - 1px);
//   border-top-right-radius: calc(0.3rem - 1px);
// }

// .modal-header .close {
//   padding: 1rem 1rem;
//   margin: -1rem -1rem -1rem auto;
// }

// .modal-title {
//   margin-bottom: 0;
//   line-height: 1.5;
// }

// .modal-body {
//   position: relative;
//   -ms-flex: 1 1 auto;
//   flex: 1 1 auto;
//   padding: 1rem;
// }

// .modal-footer {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   -ms-flex-align: center;
//   align-items: center;
//   -ms-flex-pack: end;
//   justify-content: flex-end;
//   padding: 0.75rem;
//   border-top: 1px solid #dee2e6;
//   border-bottom-right-radius: calc(0.3rem - 1px);
//   border-bottom-left-radius: calc(0.3rem - 1px);
// }

// .modal-footer > * {
//   margin: 0.25rem;
// }

// .modal-scrollbar-measure {
//   position: absolute;
//   top: -9999px;
//   width: 50px;
//   height: 50px;
//   overflow: scroll;
// }

// @media (min-width: 576px) {
//   .modal-dialog {
//     max-width: 500px;
//     margin: 1.75rem auto;
//   }
//   .modal-dialog-scrollable {
//     max-height: calc(100% - 3.5rem);
//   }
//   .modal-dialog-scrollable .modal-content {
//     max-height: calc(100vh - 3.5rem);
//   }
//   .modal-dialog-centered {
//     min-height: calc(100% - 3.5rem);
//   }
//   .modal-dialog-centered::before {
//     height: calc(100vh - 3.5rem);
//   }
//   .modal-sm {
//     max-width: 300px;
//   }
// }

// @media (min-width: 992px) {
//   .modal-lg,
//   .modal-xl {
//     max-width: 800px;
//   }
// }

// @media (min-width: 1200px) {
//   .modal-xl {
//     max-width: 1140px;
//   }
// }

.modal {
  top: 0;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.modal-body {
  position: relative;
  // padding-top: 35px;
  // padding-bottom: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.modal-footer {
  text-align: right;
  border-top: 1px solid #e5e5e5;
  background-color: #eeeeee;
  padding-top: 10px !important;
  border-radius: 0 0 6px 6px;
}

// .center_modal {

//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }

@media screen and (min-width: 768px) { 
  // .modal:before {
  //   display: inline-block;
  //   vertical-align: middle;
  //   content: " ";
  //   height: 100%;
  // }
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d9d9d9 !important;
  font-weight: 200 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d9d9d9 !important;
  font-weight: 200 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #d9d9d9 !important;
  font-weight: 200 !important;
}


// .create-response_view input[type="text"] {
//   // min-width: 307px !important;
//   height: 36px;
//   font-size: 14px;
//   width: 100%;
//   margin-bottom: 10px;
//   -webkit-appearance: none;
//   background: #fff;
//   // border: 1px solid #d9d9d9 !important;
//   border-top: 1px solid #c0c0c0;
 
//   padding: 0 8px;
//   box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   border-radius: 5px;
//   background-color: #fff !important;
//   border: solid 1px #ddd;
// }
textarea[type="text"] {
  // min-width: 307px !important;
  // height: 36px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  // border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding-right: 8px;
  padding-top: 5px;
  padding-left: 8px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff !important;
}

.texarea-is-empty {
  // border-color: #f44336 !important;
  background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2) !important;
  background-size: 0% 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: rgba(0, 0, 0, 0);
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
}

.custom-label__canned_response {
  color: #7695a5;
  padding-top: 7px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.add_custom_field_in_msg_btn {
  padding-top: 6px;
  padding-bottom: 6px;
  letter-spacing: 1px;
  border-radius: 30px;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 8px;
  margin-left: 16px;
  // border-color: $brand-primary;
  // color: $brand-primary;
  // border-color: #999999;
  // color: #999999;
}
.add_custom_field_in_msg_btn:hover {
  background-color: #eee;
}

.hidden_elem {
  opacity: 0.01;
  height: 0;
  position: absolute;
  z-index: -1;
}

.add_field_hidden {
  opacity: 0;
  display: none;
}

.add_field_visible {
  opacity: 1;
  display: block;
}

.visible_elem {
  opacity: 1;
}
.left_field_container {
  cursor: pointer;
 
}

.canned-res-name{
  transition: all .1s ease-in-out;
}

.left_field_container:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  
  .canned-res-name {
    transform: scale(1.1);
  }
}

.first-item {
  border-top: 1px solid #d9d9d9;
}

// .add-field-to-texarea_view {
//   opacity: 0;
// }

// --------------------------------------------------------------
// @ Skeleton
// --------------------------------------------------------------
.skeleton {
  .skeleton_input,
  .skeleton_canned_msg_textarea,
  h3,
  h4,
  li,
  p {
    animation: loading 1.7s infinite linear;
    background: #f6f7f8;
    background-image: -webkit-linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
  }

  h3 {
    height: 22px;
    width: 200px;
    margin-top: 0px !important;
  }

  h4 {
    height: 30px;
    width: 200px;
  }

  p {
    height: 18px;
    width: 200px;
  }

  li {
    height: 18px;
    width: 200px;
    margin-left: 16px;
    margin-top: 12px;
  }
  .skeleton_canned_msg_textarea {
    height: 124px;
    min-width: 100%;
    border-radius: 5px;
  }
  .skeleton_input {
    min-width: 100%;
    margin-top: 0px !important;
    height: 36px;
    border-radius: 5px;
  }
}

@keyframes loading {
  0% {
    background-position: -100px;
    width: 200px;
  }

  100% {
    background-position: 200px;
  }
}

// -------------------------------------------------
// stretch spinner https://tobiasahlin.com/spinkit/
// -------------------------------------------------
.stretchspinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stretchspinner > div {
  background-color: $brand-primary;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.stretchspinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.stretchspinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.stretchspinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.stretchspinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}



