
<div class="modal" id="myModal" tabindex="-1" role="dialog"
  [ngStyle]="{'display':displayModal_AddEditResponse, 'height': canned_response_modal_height}"
  style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header" style="padding-bottom:15px; border-bottom:none !important">
        <button type="button" class="close" aria-label="Close" (click)="closeModal_AddEditResponse()">

          <span aria-hidden="true">
            
            <svg class="tide-icon" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M13.357 11.993l10.256 10.295c0.39 0.391 0.39 1.024 0 1.415-0.194 0.195-0.449 0.292-0.704 0.292s-0.51-0.097-0.705-0.292l-10.257-10.295-10.256 10.295c-0.194 0.195-0.449 0.292-0.704 0.292s-0.51-0.097-0.705-0.292c-0.39-0.391-0.39-1.024 0-1.415l10.256-10.295-10.256-10.294c-0.39-0.391-0.39-1.024 0-1.415s1.020-0.391 1.409 0l10.256 10.294 10.256-10.294c0.39-0.391 1.020-0.391 1.41 0 0.389 0.391 0.389 1.024 0 1.415l-10.256 10.294z">
              </path>
            </svg>

          </span>
        </button>
        <h4 class="modal-title"
          style="text-align: center;font-family: 'Poppins', sans-serif !important; font-size: 28px;">
          <!-- <i class="material-icons" style="vertical-align: middle">info</i> -->

          <!-- 
          // ------------------------------------------------------------------
          // title 'Add response' (if modalMode is = add )
          // ------------------------------------------------------------------ -->
          <section *ngIf="modalMode === 'add'">
            <span style="vertical-align: middle; padding-left:8px">
              {{ "CannedResponses.AddResponses" | translate }}
            </span>
          </section>

          <!-- 
          // ------------------------------------------------------------------
          // title 'Edit response' (if modalMode is = edit )
          // ------------------------------------------------------------------ -->
          <section *ngIf="modalMode === 'edit'">
            <span style="vertical-align: middle; padding-left:8px">
              {{ "CannedResponses.EditResponses" | translate }}
            </span>
          </section>
        </h4>
      </div>
      <!-- *ngIf="displayAddcustomizationView === false" -->
      <div class="modal-body" [ngClass]="{'hidden_elem' : displayAddcustomizationView === true}"
        style="padding-top: 0px;padding-bottom: 0px;">

        <div *ngIf="showSkeleton === true" class="edit-response_view" style="min-height: 200px;">
          <div class="stretchspinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>

        <div *ngIf="showSkeleton === false" class="edit-response_view">
        
          <div class="row" >
    
            <div class="col-xs-12">

              <!-- 
              // ------------------------------------------------------------------
              // Skeleton for the 'title' input (only edit mode)
              // ------------------------------------------------------------------ -->
              <!-- <div *ngIf="showSkeleton === true" class="skeleton">
                <div class="skeleton_input"> </div>
              </div> -->

              <!-- 
              // ------------------------------------------------------------------
              // Title
              // ------------------------------------------------------------------ -->
              <!-- <input *ngIf="showSkeleton === false" id="canned-response-title" name="canned-response-title"
                [(ngModel)]="cannedResponseTitle" class="input" type="text" style="margin-bottom: 0px;"> -->

              <div class="form-group" style="margin-top: 0px;">
                <input id="canned-response-title" name="canned-response-title" [(ngModel)]="cannedResponseTitle"
                  value="" placeholder="{{ 'CannedResponses.EnterCannedResponseTitle' | translate }}" class="form-control" />
              </div>
            </div>
          </div>


          <div class="row">
            <!-- 
            // ------------------------------------------------------------------
            // Message label
            // ------------------------------------------------------------------ -->
            <!-- <label class="col-xs-6 custom-label__canned_response" style="margin-top: 11px;">
              {{ "CannedResponses.Message" | translate }}
            </label> -->

            <!-- 
            // ------------------------------------------------------------------
            // Btn add personalization  
            // ------------------------------------------------------------------ -->
            <!-- <div class="col-xs-6">
              <button _ngcontent-c2="" class="btn btn-white add_custom_field_in_msg_btn"
                style="float: right; margin-bottom:5px" (click)="hasClickedAddCustomization()">
                {{ "CannedResponses.AddCustomization" | translate }}
              </button>
            </div> -->

            <div class="col-xs-12">
              <!-- 
              // ------------------------------------------------------------------
              // Skeleton for the 'message' texarea (only edit mode)
              // ------------------------------------------------------------------ -->
              <!-- <div *ngIf="showSkeleton === true" class="skeleton">
                <div class="skeleton_canned_msg_textarea"> </div>
              </div> -->

              <!-- 
              // ------------------------------------------------------------------
              // Message texarea
              // ------------------------------------------------------------------ -->
              <div class="form-group" style="margin-top: 0px;">
                <textarea style="resize: vertical;" id="canned-response-message"
                  name="canned-response-message" [ngClass]="{'texarea-is-empty' : texareaIsEmpty === true}"
                  [(ngModel)]="cannedResponseMessage" (ngModelChange)="cannedResponseMessageChanged($event)" rows="4"
                  class="form-control canned-response-texarea"
                  placeholder="{{'CannedResponses.WriteMsgToSendToYourVisitors' | translate}}"> </textarea>

                <span *ngIf="texareaIsEmpty === true" class="error-message" style="color: #f6303a;font-size: 14px;">
                  {{'CannedResponses.PleaseFillOutThisField' | translate }}
                </span>
              </div>

              <!-- <textarea class="form-control" placeholder="Here can be your nice text" rows="5"></textarea> -->
            </div>


            <div class="col-xs-12">
              <button _ngcontent-c2="" class="btn btn-white add_custom_field_in_msg_btn"
                style="float: right; margin-bottom:5px; box-shadow:none" (click)="hasClickedAddCustomization()">
                {{ "CannedResponses.AddCustomization" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- 
      // ------------------------------------------------------------------
      // Personalisation
      // ------------------------------------------------------------------ -->
      <div class="modal-body" style="height: 200px;padding-top: 0px; padding-bottom: 0px;"
        [ngClass]="{'add_field_visible' : displayAddcustomizationView === true, 'add_field_hidden':displayAddcustomizationView === false}">

        <div class="add-field-to-texarea_view" style="height:100%;">
          <div class="row" style="height:100%;">
            <div class="col-xs-5" style="padding: 0px;height:100%;border-right: 1px solid #d9d9d9">
              <!-- border-top: 1px solid #d9d9d9 !important; border-bottom: 1px solid #d9d9d9 !important; -->


              <div *ngFor="let field of customFields; let first = first" class="left_field_container">
                <!-- margin-bottom: 3px; [class.first-item]="first" -->
                <div (mouseenter)="mouseEnter(field?.field_value)" (mouseleave)="mouseLeave()" style="padding: 15px 25px;
                  border-bottom: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; font-weight: 400;"
                  (click)="insertCustomField(field?.field_value)">

                  <div class="canned-res-name">
                    {{ 'CannedResponses.' + field?.field_name | translate }}
                  </div>
                </div>
              </div>
            </div>

            <!-- background-color: aliceblue; -->
            <div class="col-xs-7" style="height:100%;">


              <div *ngIf="hovered_value.length === 0"
                style="display: flex; margin-bottom: 0px; color:#7695a5; padding:30px; text-align: center">
                <!-- <i class="material-icons" style="vertical-align: middle; margin-bottom: 2px;color: #00bcd4;"> info </i> -->
                <span style="font-size:16px;">
                  {{ 'CannedResponses.SelectACustomizationToAddToYourMessage' | translate }}.
                </span>
                <!-- Create a more engaging experience for your customers by using personalization. -->
              </div>

              <div *ngFor="let field of customFields">
                <div *ngIf="field.field_value === hovered_value" style="padding: 30px;">
                  <span style="color:#7695a5">
                    {{  field?.field_desc | translate }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="modal-footer" style="margin-top: 0px; text-align: center;background-color: #fff;">

        <!-- 
        // ------------------------------------------------------------------
        // Create canned response button (if modalMode is = add )
        // ------------------------------------------------------------------ -->
        <section *ngIf="modalMode === 'add'">
          <button *ngIf="displayAddcustomizationView === false" style="margin-top:0px;" class="btn btn-primary"
            (click)="createResponse()" style="padding:12px 16px;">
            {{ "CannedResponses.AddResponses" | translate }}
          </button>
        </section>

        <!-- 
        // ------------------------------------------------------------------
        // Update canned response button (if modalMode is = edit )
        // ------------------------------------------------------------------ -->
        <section *ngIf="modalMode === 'edit'">
          <button *ngIf="displayAddcustomizationView === false" style="margin-top:0px;" class="btn btn-primary"
            (click)="editResponse()" style="padding:12px 16px;">
            {{ "Update" | translate }}
          </button>
        </section>

        <button *ngIf="displayAddcustomizationView === true" class="btn btn-secondary"
          (click)="closeAddcustomizationView()" style="padding:12px 36px;">
          {{ "Cancel" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>