<!-- <span class="navbar-brand navbar-brand-sidebar-settings"
  [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }"
  [ngClass]="{'is_opened':IS_OPEN_SETTINGS_SIDEBAR, 'is_closed':!IS_OPEN_SETTINGS_SIDEBAR }">
  <i class="material-icons">settings</i>
  <span *ngIf="IS_OPEN_SETTINGS_SIDEBAR">Chatbots </span>
</span> -->
<span class="navbar-brand navbar-brand-sidebar-settings"
  [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }"
  [ngClass]="{'is_opened':IS_OPEN_SETTINGS_SIDEBAR, 'is_closed':!IS_OPEN_SETTINGS_SIDEBAR }">

  <div class="chatbot-svg-icon">
 

    <!-- <svg xmlns="http://www.w3.org/2000/svg" height="29px" viewBox="0 -960 960 960" width="29px" fill="#3C4858">
      <path
        d="M151.33-370.67q-46.66 0-79-32.47Q40-435.61 40-482t32.47-78.86q32.47-32.47 78.86-32.47V-702q0-27 19.84-46.83Q191-768.67 218-768.67h150.67q0-46.66 32.47-79Q433.61-880 480-880t78.86 32.47q32.47 32.47 32.47 78.86H742q27 0 46.83 19.84Q808.67-729 808.67-702v108.67q46.66 0 79 32.47Q920-528.39 920-482t-32.47 78.86q-32.47 32.47-78.86 32.47v184q0 27-19.84 46.84Q769-120 742-120H218q-27 0-46.83-19.83-19.84-19.84-19.84-46.84v-184ZM348.82-464q19.51 0 33.01-13.66 13.5-13.65 13.5-33.16 0-19.51-13.65-33.01-13.66-13.5-33.17-13.5t-33.01 13.65Q302-530.02 302-510.51t13.66 33.01q13.65 13.5 33.16 13.5Zm262.67 0q19.51 0 33.01-13.66 13.5-13.65 13.5-33.16 0-19.51-13.66-33.01-13.65-13.5-33.16-13.5-19.51 0-33.01 13.65-13.5 13.66-13.5 33.17t13.65 33.01q13.66 13.5 33.17 13.5ZM314.67-283.33h330.66V-350H314.67v66.67ZM218-186.67h524V-702H218v515.33Zm262-258Z" />
    </svg> -->

    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"   height="29px" width="29px">
      <style type="text/css">
          .st0 {
              fill: #3C4858
          }
      </style>
    <path class="st0" d="M12,21.9c-1,0-1.8-0.3-2.5-1c-0.7-0.7-1-1.5-1-2.5c0-0.8,0.3-1.6,0.8-2.2c0.5-0.6,1.2-1,1.9-1.2v-2.3H5.5V9H3
        V2.5h6.4V9H7v2.3h10V8.9c-0.8-0.2-1.4-0.6-1.9-1.2c-0.5-0.6-0.8-1.3-0.8-2.2c0-1,0.3-1.8,1-2.5c0.7-0.7,1.5-1,2.5-1
        c1,0,1.8,0.3,2.5,1c0.7,0.7,1,1.5,1,2.5c0,0.8-0.3,1.6-0.8,2.2c-0.5,0.6-1.2,1-1.9,1.2v3.9h-5.7v2.3c0.8,0.2,1.4,0.6,1.9,1.2
        c0.5,0.6,0.8,1.3,0.8,2.2c0,1-0.3,1.8-1,2.5C13.8,21.6,13,21.9,12,21.9z M17.8,7.5c0.5,0,1-0.2,1.4-0.6c0.4-0.4,0.6-0.8,0.6-1.4
        c0-0.5-0.2-1-0.6-1.4c-0.4-0.4-0.8-0.6-1.4-0.6c-0.5,0-1,0.2-1.4,0.6C16,4.5,15.8,5,15.8,5.5c0,0.5,0.2,1,0.6,1.4S17.2,7.5,17.8,7.5
        z M4.5,7.5H8V4H4.5C4.5,4,4.5,7.5,4.5,7.5z M12,20.4c0.5,0,1-0.2,1.4-0.6S14,19,14,18.5s-0.2-1-0.6-1.4c-0.4-0.4-0.8-0.6-1.4-0.6
        c-0.5,0-1,0.2-1.4,0.6S10,17.9,10,18.5s0.2,1,0.6,1.4C11,20.2,11.5,20.4,12,20.4z" />
    </svg>

  </div>

  <span class="chatbot-sidebar-title" *ngIf="IS_OPEN_SETTINGS_SIDEBAR">Flows </span>

</span>




<div class="main-content" style="padding-top:0px; padding-left: 5px;padding-right: 5px;">
  <div class="page-title--sidebar-settings"
    [ngClass]="{'page-title--sidebar-settings_opened':IS_OPEN_SETTINGS_SIDEBAR, 'page-title--sidebar-settings_closed':!IS_OPEN_SETTINGS_SIDEBAR }">
    <!-- My Chatbots -->
    {{ pageName }}
  </div>
  <div class="container-fluid" style="padding-left: 5px;padding-right: 5px;">

    <div class="content-wpr" style="display: flex;">
      <!-- [kbCount]="kbCount" -->
      <appdashboard-bots-sidebar [allTemplatesCount]="allTemplatesCount"
        [allCommunityTemplatesCount]="allCommunityTemplatesCount"
        [customerSatisfactionTemplatesCount]="customerSatisfactionTemplatesCount"
        [increaseSalesTemplatesCount]="increaseSalesTemplatesCount" 
        [myChatbotOtherCount]="myChatbotOtherCount"
        [automationsCount]="automationsCount"
        [flowWebhooksCount]="flowWebhooksCount"
        [customerSatisfactionBotsCount]="customerSatisfactionBotsCount"
        [increaseSalesBotsCount]="increaseSalesBotsCount" >
      </appdashboard-bots-sidebar>
      <div class="teplate-content" style="flex: 1 1 auto; margin-left: 15px; ">

        <!-- -------------------------------------------------------------------- -->
        <!-- Alert displayed when the number of chatbot exceed the chatbot limit -->
        <!-- -------------------------------------------------------------------- -->

        <ng-container *ngIf="chatBotLimit || chatBotLimit === 0 ">
          <appdashboard-chatbot-alert *ngIf="chatBotCount > chatBotLimit && isVisiblePAY"></appdashboard-chatbot-alert>
        </ng-container>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-tdblu-no-boxshadow pull-right" (click)="createBlankTilebot()"
              style="margin-right: 20px">
              Create from scratch
            </button>
            <!-- *ngIf="pageName !== 'Automations'" -->
            <button  class="btn btn-outlined pull-right" (click)="goToBotAllTemplates()" style="margin-right: 16px">
              Add from template
            </button>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">

            <div class="card card--no-border" style="margin-top: 5px;">
              <!-- <div class="card-header card-header-custom-bkgrnd">

              </div> -->
              <!-- ------------------------------------------------------------------ -->
              <!-- Go to tempaltes -->
              <!-- ------------------------------------------------------------------ -->
              <!-- <div (click)="goToBotsTemplates()">Bot templates </div> -->

              <loading-spinner *ngIf="showSpinner"></loading-spinner>
              <!-- New chatbot list -->
              <div *ngIf="!showSpinner" class="main--wrapper">
                <div class="page-title--wrapper">
                  <div class="title--header">
                    <!-- {{ pageName }} -->
                  </div>

                  <div class="page--actions" *ngIf="faqkbList && faqkbList?.length > 0">
                    <span class="order-by-label">Order by </span>

                    <div class="dropdown" (click)="isOpenDropdown(isOpen = !isOpen)">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="order-by-selected-value" *ngIf="orderBylastUpdated">Last updates </span>
                        <span class="order-by-selected-value" *ngIf="orderByCreationDate">Creation date </span>
                        <span class="order-by-selected-value" *ngIf="orderByChatbotName">Name </span>
                        <span class="caret dropdown-caret"
                          [ngClass]="{'caret-rotate-0': is0penDropDown === false, 'caret-rotate-180': is0penDropDown === true}"></span>
                      </a>
                      <ul class="dropdown-menu" style="left: -53px;">
                        <li>
                          <a (click)="orderBy('lastUpdates')">
                            Last updates
                          </a>
                        </li>
                        <li>
                          <a (click)="orderBy('creationDate')">
                            Creation date
                          </a>
                        </li>
                        <li>
                          <a (click)="orderBy('botname')">
                            Name
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div *ngIf="faqkbList && faqkbList?.length === 0" class="no-bot-tr-msg-wpr">
                  <p class="no-bot-msg" *ngIf="isChatbotRoute">
                    <span style="display: block;">
                      You don't have Chatbots.
                    </span>
                    <span style="display: block;">
                      Get you started with a <span class="btn---link" (click)="goToBotAllTemplates()"> chatbot
                        template </span> or create a new one from scratch
                    </span>
                    <span style="display: block;">
                      <button class="btn btn-tdblu-no-boxshadow center" (click)="createBlankTilebot()"
                        style="margin-right: 20px; box-shadow: unset;">
                        Create from scratch
                      </button>
                    </span>
                  </p>

                  <p class="no-bot-msg" *ngIf="!isChatbotRoute">
                    <span style="display: block;">
                      You don't have Automation yet.
                    </span>
                    <span style="display: block;">
                      Create a new one from scratch
                    </span>
                    <span style="display: block;">
                      <button class="btn btn-tdblu-no-boxshadow center" (click)="createBlankTilebot()"
                        style="box-shadow: unset;">
                        Create from scratch
                      </button>
                    </span>
                  </p>
                </div>

          
             

                <div class="card-list" *ngFor="let faqkb of faqkbList; let i = index">

                  <div class="cl-card" (click)='goToBotDtls(faqkb)'>
                    <div class="cl-card-content">

                      <div class="cl-card-first-column">

                        <div class="bot-type-logo-wpr" *ngIf="faqkb.type === 'internal'">
                          <div class="bot-type-logo--img-wpr " style="top: -39px; left: 14px;">
                            <img class="bot-type-logo" src="assets/img/tiledesk_logo_no_text.png" />
                          </div>
                        </div>

                        <div class="bot-type-logo-wpr" *ngIf="faqkb.type === 'external'">
                          <div class="bot-type-logo--img-wpr" style="top: -39px; left: 14px;">
                            <img class="bot-type-logo" src="assets/img/external_bot_logo.png" />
                          </div>
                        </div>

                        <div class="bot-type-logo-wpr" *ngIf="faqkb.type === 'dialogflow'">
                          <div class="bot-type-logo--img-wpr ">
                            <img class="bot-type-logo" src="assets/img/Dialogflow_logo_no_text.png" />
                          </div>
                        </div>

                        <div class="bot-type-logo-wpr" *ngIf="faqkb.type === 'rasa'">
                          <div class="bot-type-logo--img-wpr ">
                            <img class="bot-type-logo" src="assets/img/rasa_bot_logo.png" />
                          </div>
                        </div>

                        <div class="bot-type-logo-wpr" *ngIf="faqkb.type === 'tilebot'">
                          <div class="bot-list-type-logo-img-wpr ">
                            <img *ngIf="!faqkb?.subtype" class="bot-type-logo" [src]="botLogo" />
                            <img *ngIf="faqkb?.subtype && faqkb?.subtype === 'chatbot'" class="bot-type-logo" [src]="botLogo" />
                            <img *ngIf="faqkb?.subtype && faqkb?.subtype === 'copilot'" class="bot-type-logo" src="assets/img/logos/copilot-logo.svg"/>
                            <img *ngIf="faqkb?.subtype && faqkb?.subtype === 'webhook'" class="bot-type-logo" src="assets/img/logos/webhook-logo.svg"/>
                          </div>
                        </div>

                        <div class="cl-card-img-wpr">

                          <!--  -->
                          <ng-container *ngIf="!faqkb?.subtype || faqkb?.subtype === 'chatbot'">
                            <img *ngIf="UPLOAD_ENGINE_IS_FIREBASE"
                              src="https://firebasestorage.googleapis.com/v0/b/{{storageBucket}}/o/profiles%2F{{faqkb?._id}}%2Fphoto.jpg?alt=media"
                              onerror="this.src='assets/img/avatar_bot_tiledesk.svg'" />

                            <img *ngIf="!UPLOAD_ENGINE_IS_FIREBASE" [src]="faqkb.botImage"
                              onerror="this.src='assets/img/avatar_bot_tiledesk.svg'" />
                          </ng-container>

                          <ng-container *ngIf="faqkb?.subtype && faqkb?.subtype !== 'chatbot'">
                            <img *ngIf="UPLOAD_ENGINE_IS_FIREBASE"
                              src="https://firebasestorage.googleapis.com/v0/b/{{storageBucket}}/o/profiles%2F{{faqkb?._id}}%2Fphoto.jpg?alt=media"
                              onerror="this.src='assets/img/avatar_flow_tiledesk.svg'" />

                            <img *ngIf="!UPLOAD_ENGINE_IS_FIREBASE" [src]="faqkb.botImage"
                              onerror="this.src='assets/img/avatar_flow_tiledesk.svg'" />

                          </ng-container>

                        </div>

                        <div class="cl-card-info-wpr">
                          <span class="cl-card-item-name-wpr">

                            <div class="cl-card-item-name">

                              <span *ngIf="botIdToRename !== faqkb._id">{{ faqkb.name }}</span>
                              <input *ngIf="botIdToRename === faqkb._id" type="text" [(ngModel)]="faqkb.name"
                                (ngModelChange)="changeChatBotName($event)" (click)="$event.stopPropagation()"
                                (keypress)="onPressEnterUpdateChatBotName($event);$event.stopPropagation() ">
                            </div>
                          </span>
                          <div class="cl-card-item-description-wpr">
                            <!-- <div class="bot-card-bot-no-description" *ngIf="!faqkb.description"> No description provided</div> -->
                            <div class="cl-card-item-description" *ngIf="faqkb.description"> {{ faqkb?.description }}
                            </div>
                          </div>

                          <div class="cl-card-item-info">

                            {{'Created' | translate}} {{ faqkb?.createdAt | amTimeAgo}} / {{ "Updated" | translate }} {{
                            faqkb?.updatedAt | amTimeAgo }}

                          </div>

                        </div>
                      </div>

                      <!-- ---------------------------------------------- -->
                      <!-- Icon human in the loop -->
                      <!-- (mouseenter)="openPopover()"  -->
                      <!-- scheduleClosePopover() -->
                      <!-- (mouseleave)="scheduleClosePopover()" -->
                      <!-- ---------------------------------------------- -->
                      <div class="cl-card-second-column">
                        <ng-container *ngIf="!faqkb?.subtype || faqkb?.subtype === 'chatbot'">
                          <div *ngIf="faqkb.agents_available === true || faqkb.agents_available === undefined" class="cl-availble-for-agent"
                            style="position: relative; top: 1px;height: 24px;" 
          
                            [satPopoverAnchor]="botAvailableForAgents"
                            (mouseenter)="botAvailableForAgents.open()"
                            (mouseleave)="botAvailableForAgents.close()">
                            <span class="material-icons">boy</span>
                          </div>
                        </ng-container>
                        <div class="cl-card-stats-wpr">

                          <div *ngIf="faqkb.type === 'tilebot'" class="cl-card-item-stats">
                            <div class="cl-card-item-stats-title">
                              <span *ngIf="faqkb.published"> Published </span>
                              <span *ngIf="!faqkb.published"> Draft </span>
                            </div>

                            <div class="cl-card-item-stats-values">
                              <span *ngIf="faqkb.published" class="material-icons bot-published-icon">
                                done
                              </span>

                              <span *ngIf="!faqkb.published" class="material-icons bot-unpublished-icon">
                                error_outline
                              </span>
                            </div>
                          </div>

                          <ng-container *ngIf="!faqkb?.subtype || faqkb?.subtype === 'chatbot'">
                            <div *ngIf="isVisibleAnalytics" class="cl-card-item-stats">
                              <div class="cl-card-item-stats-title">
                                <!-- {{ "BotsAddEditPage.Messages" | translate }} -->
                                Messages
                              </div>
                              <div class="cl-card-item-stats-values">
                                {{ faqkb?.message_count}}
                              </div>
                            </div>
                          </ng-container>



                        </div>

                        <div class="cl-card-action-wpr">
                          <div class="cl-card-action-group">
                            <ng-container *ngIf="!faqkb?.subtype || faqkb?.subtype === 'chatbot'">
                              <div *ngIf="isVisibleAnalytics" class="cl-card-action-btn-wpr">
                                <button id="btn-{{faqkb._id}}" mat-icon-button
                                  (click)="$event.stopPropagation();openBotMsgsStats(faqkb)"
                                  matTooltipClass="custom-mat-tooltip" 
                                  matTooltip="Messages" #tooltip="matTooltip"
                                  matTooltipPosition='below' 
                                  matTooltipHideDelay="100">
                                  <mat-icon>leaderboard</mat-icon>
                                </button>
                              </div>
                            </ng-container>

                            <div class="cl-card-action-btn-wpr" (click)="$event.stopPropagation()">
                              <button id="share-btn-{{faqkb._id}}" mat-icon-button [matMenuTriggerFor]="menu"
                                matTooltipClass="custom-mat-tooltip" matTooltip="Share" #tooltip="matTooltip"
                                matTooltipPosition='below' matTooltipHideDelay="100">
                                <mat-icon>share</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button class="mat-menu-btn" mat-menu-item
                                  (click)='shareWithLink(faqkb._id, faqkb?.name)'>
                                  <mat-icon>link</mat-icon>
                                  <span>Share with link</span>
                                </button>

                                <button class="mat-menu-btn" mat-menu-item (click)='exportChatbotToJSON(faqkb)'>
                                  <mat-icon>file_download</mat-icon>

                                  <span>Export</span>
                                </button>
                                <!-- <button *ngIf="!faqkb?.is_system_identity_bot" mat-menu-item 
                                (click)='openDeleteModal(faqkb?._id, faqkb?.name, faqkb?.has_faq, faqkb?.type)'>
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'BotsPage.tooltipDeleteBot' | translate }}</span>
                              </button> -->
                              </mat-menu>
                            </div>

                            <div class="cl-card-action-btn-wpr" (click)="$event.stopPropagation()">
                              <button mat-icon-button [matMenuTriggerFor]="sharemenu"
                                matTooltipClass="custom-mat-tooltip" matTooltip="Actions" #tooltip="matTooltip"
                                matTooltipPosition='below' matTooltipHideDelay="100">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #sharemenu="matMenu">

                                <!-- <button class="mat-menu-btn" 
                                  mat-menu-item 
                                  (click)='renameChatbot(faqkb)'>
                                  <mat-icon>edit</mat-icon>
                                  <span>Rename</span>
                                </button> -->

                                <button class="mat-menu-btn" mat-menu-item
                                  (click)="openTestSiteInPopupWindow(faqkb?._id)">
                                  <mat-icon>visibility</mat-icon>
                                  <span>Test it out</span>
                                </button>

                                <button class="mat-menu-btn" mat-menu-item
                                  (click)='duplicateChatbot(faqkb?._id,  faqkb?.name)'>
                                  <mat-icon>content_copy</mat-icon>
                                  <!-- <span>{{ 'Duplicate' | translate }}</span> -->
                                  <span>Duplicate</span>
                                </button>
                                <button class="mat-menu-btn" *ngIf="!faqkb?.is_system_identity_bot" mat-menu-item
                                  (click)='openDeleteModal(faqkb?._id, faqkb?.name, faqkb?.has_faq, faqkb?.type)'>
                                  <mat-icon>delete</mat-icon>
                                  <!-- <span>{{ 'BotsPage.tooltipDeleteBot' | translate }}</span> -->
                                  <span>Delete</span>
                                </button>
                              </mat-menu>

                            </div>

                          </div>
                        </div>
                      </div>

                    </div>

                    <!-- ---------------------------------------------- -->
                    <!-- Popover for the icon human in the loop 
                      (mouseenter)="cancelClosePopover()" 
                      (mouseleave)="scheduleClosePopover()" -->
                    <!-- ---------------------------------------------- -->
                    <sat-popover #botAvailableForAgents horizontalAlign="center" verticalAlign="above"
                      panelClass="custom-panel-sat-popover" 
                      closeTransition="1ms ease-in"
                      forceAlignment="true">

                      <div class="custom-panel-sat-popover-content-wpr" style="padding: 12px;">

                        <div class="custom-panel-sat-popover-title">
                          Available to agents
                        </div>

                        <div class="custom-panel-sat-popover-description">
                          Chatbot visible to agents for the purpose to be put back in the conversation
                        </div>

                      </div>
                    </sat-popover>

                  </div>
                </div>
              </div>


              <!-- ./ New chatbot list -->

            </div>
          </div>
          <!-- /. end col-md-12 -->



        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>

<!-- --------------------------------------------- -->
<!-- MODAL WINDOW  -->
<!-- --------------------------------------------- -->

<!-- --------------------------------- -->
<!-- NEW DELETE BOT MODAL WINDOW  -->
<!-- --------------------------------- -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDeleteBotModal}"
  style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content custom--modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseDeleteBotModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title warning">
          <!-- <i class="material-icons" style="vertical-align: middle"> report_problem </i> -->
          <span class="modal-header-icon-wpr">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="none">
              <path
                d="m40-120 440-760 440 760H40Zm115.33-66.67h649.34L480-746.67l-324.67 560ZM482.78-238q14.22 0 23.72-9.62 9.5-9.61 9.5-23.83 0-14.22-9.62-23.72-9.61-9.5-23.83-9.5-14.22 0-23.72 9.62-9.5 9.62-9.5 23.83 0 14.22 9.62 23.72 9.62 9.5 23.83 9.5Zm-33.45-114H516v-216h-66.67v216ZM480-466.67Z" />
            </svg>
          </span>
          <span style="vertical-align: middle; padding-left:8px">
            {{ "BotsPage.DeleteBot" | translate }}
          </span>
        </h4>
        <!-- <h4 class="modal-title" style="color: #fff; padding-top:10px; font-size: 1.1em ">
          {{ "BotsPage.TheBotWithID" | translate }}
          <code>{{ id_toDelete }}</code>
          {{ "BotsPage.WillBeDeleted" | translate }}
        </h4> -->
      </div>
      <div class="modal-body">
        <!-- <p style="font-weight: 400; color: rgba(0,0,0,0.87)">
          {{ "BotsPage.IfYouDeletedTheBot" | translate }}

          <strong> “{{ bot_name_to_delete}}”</strong>,

          {{ "BotsPage.YouAlsoDeleteItsFaqs" | translate }}
        </p> -->

        <label class="col-sm-10 modal-body--content">
          {{ "BotsPage.ToDeleteTheBotType" | translate }}
          <strong> {{id_toDelete}}</strong>

        </label>
        <div class="col-sm-10">
          <input [(ngModel)]="bot_id_typed" (input)="checkIdBotTyped()" class="" type="text" placeholder="ID bot">
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-gray-no-boxshadow" (click)="onCloseDeleteBotModal()">
          {{ "Cancel" | translate }}
        </button>
        <button style="margin-top:0px" class="btn btn-red" [disabled]="!ID_BOT_TYPED_MATCHES_THE_BOT_ID"
          (click)="trashTheBot()">
          {{ "BotsPage.DeleteBot" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>