@import "./src/assets/sass/md/_variables.scss";

input[type="text"] {
  // min-width: 307px !important;
  height: 36px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9 !important;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff !important;
  border: solid 1px #ddd;
}

/* TABLE CONTENT VERTICAL ALIGNMENT */
.table td,
.table th {
  vertical-align: middle;
}

/* MODAL START */

// MODAL BOOTSTRAP BREAKPOINTS
// from 992 to 1020px
// @media (min-width: 992px) and (max-width: 1019px){
//     .modal-dialog {
//             margin-left: 33%;
//         }
//     }

//     @media (min-width: 1020px) and (max-width: 1199px) {
//         .modal-dialog {
//             margin-left: 35%;
//         }
//     }

//     @media (min-width: 1200px) and (max-width: 1469px)  {
//         .modal-dialog {
//             margin-left: 37%;
//         }
//     }

//     @media (min-width: 1470px) and (max-width: 1549px) {
//         .modal-dialog {
//             margin-left: 38%;
//         }
//     }

//     @media (min-width: 1550px) and (max-width: 1649px){
//         .modal-dialog {
//             margin-left: 39%;
//         }
//     }
//     @media (min-width: 1650px) {
//         .modal-dialog {
//             margin-left: 40%;
//         }
//     }
/**
    * MODAL DELETE TYPE (RED MODAL HEADER)
    */
.modal {
  top: 0;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 6px 6px 0px 0px;
  background-color: #ff5252;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

button.close {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.modal-body {
  position: relative;
  // padding-top: 35px;
  // padding-bottom: 35px;
  padding-right: 0px;
  padding-left: 15px;
  min-height: 150px;
}

.modal-footer {
  // padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  // background-color: #edf0f1;
  background-color: #eeeeee;
  padding-top: 10px !important;
}

/* MODAL END */

/* REMOVE THE BORDER THAT IS USED TO SHOW THAT THE ELEMENT IS FOCUSED */
*:focus {
  outline: none;
}

/* MODAL END */

/* TABLE CONTENT VERTICAL ALIGNMENT */
.table td,
.table th {
  vertical-align: middle;
}

// start TOOLTIP
/* Tooltip container */
.tooltipx {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipx .tooltiptext {
  visibility: hidden;
  // width: 120px;
  background-color: black;
  // background-color: rgba(0,0,0,0.6);
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 12px !important;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* Position the tooltip text - TOP */
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */

  // NEW
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background-color: #394f5a;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipx:hover .tooltiptext {
  visibility: visible;
}

// end TOOLTIP

.card-header-custom-bkgrnd {
  // display:none;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0px;
  border-radius: 3px 3px 0px 0px;
  // background-color: #f2f6f8;
  background-color: #ffffff;
  // border-bottom: 1px solid #eff3f5;
  padding-top: 12px;
  padding-bottom: 12px;
}

.column-th-span {
  font-size: 14px;
  font-weight: 500;
  color: #353f45;
  // color: #566787;
}

input[type="checkbox"]:disabled {
  background-color: #f9f9f9 !important;
  opacity: 0.5 !important;
  // cursor: not-allowed;
}

.truncate {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.url-top-position {
  position: relative;
  top: -5px;
}


.bot-type-logo-wpr {
  // background: #ffff;
  // width: 18px;
  // height: 18px;
  // display: flex;
  // top: 0;
  // justify-content: center;
  // align-items: center;
  // border-radius: 9999px;
  position: relative;
}

.bot-type-logo--img-wpr {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -54px;
  left: -3px;
  border-radius: 50%;
  border: 1px solid #eee;
  background: #fff;
}

.bot-type-logo {
  width: 18px;
  height: 18px;
  padding: 4px;
  position: relative;
  top: -3px;
  left: -1px;
  // position: absolute;
  // top: -54px;
  // left: -3px;
  // border-radius: 50%;
  // border: 1px solid #eee;
  // background: #fff;
}


// .bot-type-logo-wpr > img {
//   padding: 1px;
// }

@media (min-width: 768px) {
  .bot--full--desc {
    display: block;
  }

  .bot--truncated--desc {
    display: none;
  }
}

@media (max-width: 768px) {
  .bot--truncated--desc {
    display: block;
  }

  .bot--full--desc {
    display: none;
  }
}

.bot--img {
  vertical-align: middle;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin-right: 6px;
  object-fit: cover;
}

.bot_description_wpr {
  color: #7695a5;
  font-weight: 400;
  line-height: 18px;
  font-size: 12px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-new.btn-block {
  // display: inline-flex;
  text-transform: none;
}

.btn-new span {
  display: inline-block;
}

.btn-size-m {
  border-radius: 4px;
  font-size: 14px;
  height: 34px;
  line-height: 18px;
  min-width: 64px;
  padding: 0 14px;
  text-transform: none;
}

.btn--primary {
  background-color: var(--blue-light);
  border-color: var(--blue-light);
  color: #fff;
}

.btn--primary:hover {
  background-color: var(--blue-light);
  border-color: var(--blue-light);
  color: #fff;
}

.no-bot-tr-msg-wpr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

// .no-bot-tr-msg-wpr:hover {
//   background-color: #fff !important;
// }

.no-bot-msg {
  font-size: 18px;
  margin-bottom: 0px;
  color: var(--text-color);
  font-weight: 400;
  font-family: var(--header-font-family);
  margin-top: 60px;
  text-align: center;
  line-height: 1.7em;
}

.btn---link {
  color: #0566ff;
  cursor: pointer;
}

.btn---link:hover {
  text-decoration: underline;
}


::ng-deep .custom-mat-tooltip {
  background-color: #2d323e !important;
  font-size: 12px !important;
  border-radius: 2px !important;
  font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: #fff !important;
}

/* New chatbot table
/* ************************************* */
// .page-title--wrapper {
//     justify-content: space-between;
//     display: flex;
//     flex-flow: row;
//     margin: 15px 26px;
// }
// .page-title--wrapper .title--header { 
//   font-size: var(--title--header-font-size);
//   font-weight: var(--title--header-font-weight);
//   font-style: normal;
//   font-stretch: normal;
//   line-height: normal;
//   letter-spacing: 0px;
//   color: var(--text-color);
//   margin-bottom: 0;
//   cursor: default;
//   display: flex;
//   align-items: center;
//   font-family: var(--header-font-family) ;
//   text-transform: var(--title--header-text-transform);
//  }

//  .page-title--wrapper .page--actions {
//     display: flex;
//     align-items: center;
//  }

//  .page--actions > .order-by-label {
//   margin-right: 12px;
//   font-weight: var(--order-by-label-font-weight);
//   font-family: var(--header-font-family);
//   color: var(--secondary-text-color) ;
//   font-size:  var(--order-by-label-font-size);
//  }

//  .order-by-selected-value {
//   color: var(--text-color);
//   font-weight:var(--order-by-selectet-value-font-weight);
//   font-family: var(--header-font-family);
//   font-size: var(--order-by-selectet-value-font-size)
//  }

//  .dropdown-caret {
//   color: var(--text-color)!important;
//  }

//  .caret-rotate-0 {
//   transform: rotate(0deg);
//  }

//  .caret-rotate-180 {
//   transform: rotate(180deg);
// }


// .cl-card {
//   align-items: center;
//   display: flex;
//   height: 100px;
//   justify-content: space-between;
//   letter-spacing: 0px;
//   margin: 10px 26px 0px;
//   padding: 0px;
//   border-radius: var(--cl-card-border-radius);
//   box-shadow: var(--card-elevation);
//   border: 1px solid transparent;
//   background-color: var(--card-background-color);
//   transition: transform .2s cubic-bezier(.4, 1, .75, .9), box-shadow .2s cubic-bezier(.4, 1, .75, .9);
//   -webkit-font-smoothing: antialiased;
//   text-rendering: optimizeLegibility;
//   cursor: pointer;
// }

// .cl-card:hover {
//   box-shadow: var(--card-deep-elevation)
// }

// .cl-card-content{
//   display: flex;
//   justify-content: space-between;
//   flex: 1 1 0%;
//   min-width: 0px;
//   padding: 10px 10px 10px 0px;
// }

// .cl-card-first-column {
//   display: flex;
//   align-items: center;
// }

// .bot-list-type-logo-img-wpr {
//   width: 18px;
//   height: 18px;
//   position: absolute;
//   top: -37px;
//   left: 13px;
//   border-radius: 50%;
//   border: 1px solid #eee;
//   background: #fff;
// }

// .cl-card-img-wpr {
//   // background-color: #f7b6a7;
//   border-radius: var(--cl-card-img-wpr-border-radius);
//   height: 64px;
//   width: 64px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   overflow: hidden;
//   margin-left: 20px;
//   border: var(--cl-card-img-wpr-border)
// }

// // .cl-card-img-wpr>img {
// //   vertical-align: middle;
// //   width: 52px;
// //   height: 52px;
// //   border-radius: 50%;
// //   border: 1px solid #eee;
// //   object-fit: cover;
// // }

// .cl-card-info-wpr {
//   margin-left: 20px;
//   display: flex;
//   flex-flow: column;
//   flex: 1 1 0%;
//   min-width: 0px;
// }

// .cl-card-item-name-wpr {
//   display: flex;
//   flex-direction: row;
// }

// .cl-card-item-name {
//   font-size: var(--cl-card-item-name-font-size);
//   letter-spacing: 0px;
//   font-weight: var(--cl-card-item-name-font-weight);
//   // text-transform: uppercase;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   word-wrap: normal;
//   font-family: var(--header-font-family);
//   color: var(--text-color);
// }

// .cl-card-item-description-wpr {
//   font-size: var(--cl-card-item-description-wpr-font-size);
//   font-weight: var(--cl-card-item-description-wpr-font-weight);
//   margin-top: 4px;
//   display: table;
//   table-layout: fixed;
//   width: 90%;
// }

// .cl-card-item-description-wpr > .cl-card-item-description {
//   display: table-cell;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   overflow: hidden;
//   margin-left: 24px;
// }

// .cl-card-item-info {
//   font-size: var(--cl-card-item-info-font-size);
//   color: var(--secondary-text-color);
//   letter-spacing: 0px;
//   opacity: var(--cl-card-item-info-opacity);
//   font-family: var(--content-font-family);
//   font-weight: var(--cl-card-item-info-font-weight);
//   // margin-bottom: 4px;
// }

// .cl-card-second-column {
//   display: flex;
//   align-items: center;
// }

// .cl-card-stats-wpr {
//   display: flex;
//   flex-flow: row;
// }

// // .bot-card-stats-wpr-draft-bot {
// //   margin-right: 26px;
// // }

// .cl-card-item-stats {
//   margin-left: 10px;
//   padding-right: 10px;
//   display: flex;
//   flex-flow: column;
//   justify-content: center;
//   align-items: center;
//   border-right: 1px solid rgba(131, 134, 158, .2);
//   min-width: 70px;
// }

// .card-list-item-stats:last-child {
//   border-right: 0;
// }

// .cl-card-item-stats-title{
//   font-size: var(--cl-card-item-stats-title-font-size);
//   letter-spacing: 0px;
//   text-transform: var(--cl-card-item-stats-title-text-transform);
//   color: var(--text-color);
//   font-family: var(--header-font-family);
//   font-weight: var(--cl-card-item-stats-title-font-weight);
// }

// .cl-card-item-stats-values {
//   font-size: var(--cl-card-item-stats-values-font-size);
//   font-weight: var(--cl-card-item-stats-values-font-weight);
//   letter-spacing: 0px;
//   color: var(--text-color);
// }

// .cl-card-item-stats-values>.bot-published-icon {
//   color: #4caf50;
//   font-size: 16px;
//   position: relative;
//   top: 2px;
// }

// .cl-card-item-stats-values>.bot-unpublished-icon {
//   color: #f44336;
//   font-size: 16px;
//   position: relative;
//   top: 2px;
// }

// .cl-card-action-group {
//   margin-left: 20px;
//   margin-right: 20px;
//   display: inline-flex;
//   gap: 12px;
// }

// .cl-card-action-btn-wpr {
//   display: flex;
//   flex: 1 1 auto;
// }
// .mat-icon-button {
//   color: var(--icon-color)
// }

// .mat-icon-button:hover {
//   background-color: var(--mat-icon-button-hover-background-color);
//   border-radius: 50%;
//   color: var(--icon-hover-color)
// }

// .mat-menu-btn>mat-icon {
//   font-size: var(--mat-icon-font-size) !important;
//   margin-top: 4px !important;
// }