
<!-- <span class="navbar-brand navbar-brand-sidebar-settings"
  [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }"
  [ngClass]="{'is_opened':IS_OPEN_SETTINGS_SIDEBAR, 'is_closed':!IS_OPEN_SETTINGS_SIDEBAR }">

  <i class="material-icons">settings</i>
  <span *ngIf="IS_OPEN_SETTINGS_SIDEBAR">{{ 'Settings' | translate }} </span>
</span> -->

<div class="main-content" style="padding-top:0px; padding-right: 0px; margin-left: -5px;">

  <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
      
    <div class="page-title--sidebar-settings" style="top:19px"
        [ngClass]="{'page-title--sidebar-settings_opened':IS_OPEN_SETTINGS_SIDEBAR, 'page-title--sidebar-settings_closed':!IS_OPEN_SETTINGS_SIDEBAR }">

        <i class="material-icons" style="vertical-align: middle !important; cursor: pointer;"
          (click)="goBack()">keyboard_arrow_left</i>

        <span *ngIf="CREATE_VIEW">
          {{ "GroupsAddEditPage.AddGroup" | translate }}
        </span>

        <span *ngIf="EDIT_VIEW">
          {{ "GroupsAddEditPage.EditGroup" | translate }}
          <!-- <span style="color: #566787; font-weight:400">
            {{ groupNameToUpdate }}
          </span> -->
        </span>

      </div>
    <div class="content-wpr" style="display: flex;">
      <appdashboard-settings-sidebar> </appdashboard-settings-sidebar>
      <div class="teplate-content" style="flex: 1 1 auto; margin-left: 20px;">
        
        <ng-container *ngIf="permissionChecked">
            <ng-container *ngIf="isAuthorized; else unauthorizedTpl">

              <span *ngIf="CREATE_VIEW">

                <loading-spinner *ngIf="showSpinner"></loading-spinner>
                <span *ngIf="!showSpinner">

                  <div class="row">
                    <div class="col-md-8 card-wpr">
                      <!-- card--no-border -->
                      <div class="card">
                        <div class="card-content">
                          <label class="col-sm-2 custom-label-edit-group">
                            {{ "GroupsAddEditPage.GroupName" | translate }}
                          </label>
                          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                            <input [(ngModel)]="groupName" class="input" type="text"
                              placeholder='{{ "GroupsAddEditPage.GroupName" | translate }}'>
                          </div>

                          <!-- SPACER -->
                          <div class="col-sm-12" style="height:15px"></div>

                          <label class="col-sm-2"></label>
                          <div class="col-sm-10">
                            <!-- btn-primary -->
                            <button class="btn btn-tdblu-no-boxshadow" [disabled]="groupName?.length < 2" (click)="create()">
                              {{ "GroupsAddEditPage.CreateGroup" | translate }}
                            </button>
                          </div>
                        </div>
                        <!-- ./ card-content -->
                      </div>
                      <!-- ./ card -->
                    </div>
                    <!-- ./ col-md-8 -->
                    <!-- // RIGHT SIDEBAR CREATE VIEW -->
                    <div class="col-md-4">
                      <div class="card card--no-border" style="margin-top:5px">
                        <div class="card-content" style="font-size: 14px;">
                          <!-- <h4 class="card-title"
                        style="text-transform: none; color: #566787; font-weight:400; margin-bottom: 15px">
                        {{ "QuickTips" | translate }}
                      </h4> -->
                          <div class="row">
                            <div class="col-sm-12 col-md-12">
                              <h3 class="card_title__underlined">
                                <span class="card_title__underline">
                                  {{ "QuickTips" | translate }}
                                </span>
                              </h3>
                            </div>
                            <div class="col-sm-12 col-md-12">
                              <div class="section-subtitle"> </div>
                            </div>
                          </div>

                          <p style="color:#7695a5; line-height: 1.3;">
                            <!-- Use groups to organize support teams. -->
                            {{ "GroupsQuickTips1" | translate }}
                            <br>
                            <!-- You can group agents based on skills and assign groups of agents to your departments. -->
                            {{ "GroupsQuickTips2" | translate }}
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- ./ row -->
                </span>
                <!-- /. CREATE_VIEW showSpinner -->
              </span>
              <!-- CREATE VIEW  -->

              <span *ngIf="EDIT_VIEW">

                <div class="row">
                  <div class="col-md-8 card-wpr">
                    <div class="card custom_card" style="padding-top:0px; padding-bottom:0px; margin-bottom: 5px;">

                      <!-- style="margin-top: 16px" -->
                      <div class="card-content">

                        <!-- <div class="row"> -->
                        <!-- <div class="col-md-12"> -->

                        <label class="col-sm-2 custom-label-edit-group">
                          {{ "GroupsAddEditPage.GroupName" | translate }}
                        </label>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                          <input [(ngModel)]="groupNameToUpdate" class="input" type="text">
                        </div>

                        <!-- SPACER -->
                        <div class="col-sm-12 spacer_div" style="height:15px"></div>

                        <!-- <label class="col-sm-2"></label> -->
                        <div class="col-sm-10 offset-sm-2">
                          <button class="btn btn-tdblu-no-boxshadow" (click)="editGroupName()">
                            {{ "GroupsAddEditPage.UpdateGroupName" | translate }}
                          </button>
                        </div>
                      </div>
                    </div> <!-- ./ card -->

                 
                  
                    <div class="card-wpr">
                      <div class="card" style="padding-top:0px; padding-bottom:0px; margin-top: 5px;">

                        <div class="card-header card-header-custom-bkgrnd card-header-flex">
                          <h4 class="card-header-title" style="margin-bottom: 9px;">

                            {{ "GroupsAddEditPage.Members" | translate }}
                            <span style="font-weight: 500">

                              ({{ count }})
                            </span>
                        
                          </h4>
                        
                          <button class="btn btn-tdblu-no-boxshadow" (click)="open_users_list_modal()" style="margin-top: 0px;">
                            {{ 'GroupsAddEditPage.AddMembers' | translate }}
                          </button>
                        </div>

                        <loading-spinner *ngIf="showSpinner"></loading-spinner>
                        <div *ngIf="!showSpinner" class="card-content table-responsive" style="padding-top:0px">

                          <table class="table table-hover">
                            <thead>
                              <tr>

                                <th>
                                  <span class="column-th-span">
                                    {{ "GroupsAddEditPage.User" | translate }}
                                  </span>
                                </th>

                                <th>
                                  <span class="column-th-span">
                                    {{ "GroupsAddEditPage.Role" | translate }}
                                  </span>
                                </th>

                                <th>
                                  <span class="column-th-span">
                                    Email
                                  </span>
                                </th>

                                <th>
                                  <span class="column-th-span">
                                  
                                    {{ "Actions" | translate }}
                                  </span>
                                </th>

                              </tr>

                            </thead>

                            <tbody style="font-weight:400">
                              <!-- IF THERE ISN'T GROUP'S MEMBERS -->
                              <tr *ngIf="group_members?.length === 0">
                                <td colspan="5" style="text-align: center; padding-top: 16px;">

                                  <p style="font-size:14px; color:#7695a5; font-weight: 400; padding-top: 6px;">
                                    {{ "GroupsAddEditPage.NoMembers" | translate }}
                                  </p>
                                </td>
                              </tr>

                              <tr *ngFor="let projectUser of projectUsersList">
                                
                                <td *ngIf="projectUser?.is_group_member" (click)="goToMemberProfile(projectUser?._id)"
                                  style="cursor:pointer"
                                  matTooltipClass="custom-mat-tooltip"
                                  matTooltip="{{'ViewDetails' | translate}}" 
                                  #tooltip="matTooltip" 
                                  matTooltipPosition='above'
                                  matTooltipHideDelay="100">

                                  <!-- Avatar con iniziali (mostrato di default) -->
                                  <div class="user-img-in-group avatar-with-initials" 
                                    [ngStyle]="{'background': 'linear-gradient(rgb(255,255,255) -125%,' + (projectUser?.id_user?.fillColour || 'rgb(98, 100, 167)') + ')', 'display': 'flex'}"
                                    style="align-items: center; justify-content: center; border-radius: 50%; position: relative;">
                                    <span class="avatar-initials-text">
                                      {{ projectUser?.id_user?.fullname_initial || 'N/A' }}
                                    </span>
                                    
                                    <!-- --------------------------------------------------- -->
                                    <!-- USECASE uploadEngine Firebase -->
                                    <!-- --------------------------------------------------- -->
                                    <img *ngIf="UPLOAD_ENGINE_IS_FIREBASE" class="user-img-in-group"
                                      #firebaseImg
                                      src="https://firebasestorage.googleapis.com/v0/b/{{storageBucket}}/o/profiles%2F{{projectUser?.id_user?._id}}%2Fphoto.jpg?alt=media"
                                      (load)="firebaseImg.style.display='block'; firebaseImg.parentElement.querySelector('.avatar-initials-text').style.display='none';"
                                      (error)="firebaseImg.style.display='none';"
                                      style="position: absolute; top: 0; left: 0; display: none; object-fit: cover;" />

                                    <!-- --------------------------------------------------- -->
                                    <!-- USECASE uploadEngine Native -->
                                    <!-- --------------------------------------------------- -->
                                    <img *ngIf="!UPLOAD_ENGINE_IS_FIREBASE" class="user-img-in-group"
                                      #nativeImg
                                      src="{{baseUrl}}files?path=uploads%2Fusers%2F{{projectUser?.id_user?._id}}%2Fimages%2Fthumbnails_200_200-photo.jpg"
                                      (load)="nativeImg.style.display='block'; nativeImg.parentElement.querySelector('.avatar-initials-text').style.display='none';"
                                      (error)="nativeImg.style.display='none';"
                                      style="position: absolute; top: 0; left: 0; display: none; object-fit: cover;" />
                                  </div>

                                </td>
                                <td *ngIf="projectUser?.is_group_member" (click)="goToMemberProfile(projectUser?._id)"
                                  style="cursor:pointer;font-size:13px"
                                  matTooltipClass="custom-mat-tooltip"
                                  matTooltip="{{'ViewDetails' | translate}}" 
                                  #tooltip="matTooltip" 
                                  matTooltipPosition='above'
                                  matTooltipHideDelay="100">
                                  {{ projectUser?.role | translate }}
                                </td>

                              
                                <td *ngIf="projectUser?.is_group_member" (click)="goToMemberProfile(projectUser?._id)"
                                  style="cursor:pointer; font-size:13px"
                                  matTooltipClass="custom-mat-tooltip"
                                  matTooltip="{{'ViewDetails' | translate}}" 
                                  #tooltip="matTooltip" 
                                  matTooltipPosition='above'
                                  matTooltipHideDelay="100">
                                  {{ projectUser?.id_user?.email }}
                                </td>

                                <!-- ACTIONS DELETE -->
                                <td *ngIf="projectUser?.is_group_member" class="td--actions text-end">
                            
                                  <button type="button" rel="tooltip" title="{{ 'UsersPage.tootipDeleteUser' | translate }}"
                                    class="btn btn-danger"
                                    (click)='openDeleteModal(projectUser?.id_user?._id, projectUser?.id_user?.email)'>
                                    <i class="material-icons" style="padding-top: 3px;">delete</i>
                                  </button>
                      
                                </td>

                              </tr>
                            </tbody>
                          </table>

                        </div>
                      </div>
                    </div>
                  </div> <!-- ./ col-md-8 -->
          
                  <!--  -------------------------------------------- -->
                  <!--  RIGHT SIDEBAR EDIT VIEW 'GROUP ATTRIBUTES' -->
                  <!--  -------------------------------------------- -->
                  <div class="col-md-4">
                    <div class="card card--no-border" style="margin-bottom: 5px; margin-top: 5px;">
                      <div class="card-content" style="font-size: 14px;">
                  

                        <div class="row">
                          <div class="col-sm-12 col-md-12">
                            <h3 class="card_title__underlined">
                              <span class="card_title__underline">
                                {{ "QuickTips" | translate }}
                              </span>
                            </h3>
                          </div>
                          <div class="col-sm-12 col-md-12">
                            <div class="section-subtitle"> </div>
                          </div>
                        </div>

                        <p class="title-attribute" style="margin-bottom: 3px; padding-top: 5px;">

                          {{ "GroupsAddEditPage.GroupID" | translate }}

                        </p>
                        <p class="attribute">
                          {{ id_group }}
                        </p>

                        <p class="title-attribute" style="margin-bottom: 3px; padding-top: 0px;">
                          <!-- <strong> -->
                          {{ "GroupsPage.CreationDate" | translate }}
                          <!-- </strong> -->
                        </p>
                        <p class="attribute" style="margin-bottom: 9px">
                          {{ groupCreatedAt | date: 'd/M/y'}}
                        </p>


                        <!-- ------ -->
                        <ng-container *ngIf="PERMISSION_TO_VIEW_DEPT">
                          <div class="row">
                            <div class="col-sm-12 col-md-12">
                              <h3 class="card_title__underlined">
                                <span class="card_title__underline">
                                  {{ "Departments" | translate }}
                                </span>
                              </h3>
                            </div>
                            <div class="col-sm-12 col-md-12">
                              <div class="section-subtitle"> </div>
                            </div>
                          </div>

                          <div *ngIf="departmentsOfGroup?.length > 0" class="department-container" style="display: flex;flex-wrap: wrap;gap: 6px;margin-bottom: 12px;">
                              <div class="dep-of-group"  *ngFor="let dept of departmentsOfGroup" (click)="goToDeptDetail(dept?._id)">
                                {{dept.name}}
                              </div>
                          </div>

                          <div class="no-department-associated" *ngIf="departmentsOfGroup?.length === 0" >
                            {{'NoDepartmentAssigned' | translate}}
                          </div>
                        </ng-container>

              
                      </div>
                    </div>
                  </div>

                </div>  <!-- ./ row -->

              </span> <!-- /. EDIT_VIEW -->

            </ng-container>
            <ng-template #unauthorizedTpl>
              <unauthorized-for-settings></unauthorized-for-settings>
            </ng-template>
          </ng-container>
      </div>


    </div>
  </div>
</div>

<!-- NEW MODAL ADD MEMBER TO A GROUP -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display_users_list_modal}"
  style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content custom--modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button> -->
        <h4 class="modal-title" style="font-size: 14px;">
          {{ "GroupsAddEditPage.AddMembersToTheGroup" | translate }}
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCloseModal()"></button>
      </div>

      <div class="modal-body" style="padding-bottom: 0px!important;">
        <div class="row">
          <div class="col-md-12">
            <div class="card" style="margin-top: 0px; margin-bottom: 0px;">

              <loading-spinner *ngIf="showSpinnerInModal"></loading-spinner>

              <div *ngIf="!showSpinnerInModal" class="card-content table-responsive"
                [ngStyle]="{ 'height': users_list_modal_height }" style="overflow-y: auto;">
                <table class="table table-hover">
                  <thead style="color: #f9f9f9">
                    <tr>
                      <th style="text-align: center;">
                        <span class="column-th-span">
                          {{ "GroupsAddEditPage.Select" | translate }}
                        </span>
                      </th>
                      <th>
                        <span class="column-th-span">
                          {{ "Teammate" | translate }}
                        </span>
                      </th>
                      <th style="max-width: 150px; padding-left: 3px;">
                        <span class="column-th-span">
                          {{ "GroupsAddEditPage.Role" | translate }}
                        </span>
                      </th>
                      <th>
                        <span class="column-th-span">
                          Email
                        </span>
                      </th>
                    </tr>
                  </thead>
                  <tbody style="font-weight:400">
                    <tr *ngFor="let project_user of projectUsersList">
                      <td *ngIf="project_user.status === 'active'" style="text-align: center;">

                        <!-- *ngIf="!project_user?.is_group_member" -->
                        <div class="checkbox" style="margin: auto !important;">
                          <label>
                            <input [disabled]="project_user?.is_group_member" [checked]="project_user?.is_group_member"
                              type="checkbox" class="form-check-input" style="width: 16px;height: 16px;"
                              value="{{project_user?.id_user?._id}}" (click)="change(project_user?.id_user?._id)">
                          </label>
                        </div>
                      </td>

                      <td *ngIf="project_user.status === 'active'" style="padding-left:10px;" rel="tooltip" title="{{ project_user?.id_user?._id }}">
                        <!-- --------------------------------------------------- -->
                        <!-- USECASE uploadEngine Firebase -->
                        <!-- --------------------------------------------------- -->
                        <img *ngIf="UPLOAD_ENGINE_IS_FIREBASE" class="user-img-in-group"
                          src="https://firebasestorage.googleapis.com/v0/b/{{storageBucket}}/o/profiles%2F{{project_user?.id_user?._id}}%2Fphoto.jpg?alt=media"
                          onerror="this.src='assets/img/no_image_user.png'" />

                        <!-- --------------------------------------------------- -->
                        <!-- USECASE uploadEngine Native -->
                        <!-- --------------------------------------------------- -->
                        <img *ngIf="!UPLOAD_ENGINE_IS_FIREBASE" class="user-img-in-group"
                          src="{{baseUrl}}files?path=uploads%2Fusers%2F{{project_user?.id_user?._id}}%2Fimages%2Fthumbnails_200_200-photo.jpg"
                          onerror="this.src='assets/img/no_image_user.png'" />


                        <span style="font-size:13px"> {{ project_user?.id_user?.firstname }} </span>
                        <span style="font-size:13px">
                          {{project_user?.id_user?.lastname}}</span>
                      </td>
                      <td *ngIf="project_user.status === 'active'" style="padding-left:10px; max-width: 150px; font-size:13px">
                        {{ project_user?.role | translate }}
                      </td>
                      <td *ngIf="project_user.status === 'active'" style="padding-left:10px;font-size:13px">
                        {{project_user?.id_user?.email}}
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-gray-no-boxshadow" (click)="onCloseModal()">
          {{ "Cancel" | translate }}
        </button>

        <button type="button" class="btn btn-tdblu-no-boxshadow" (click)="addMembersToTheGroup()" style="margin-bottom: 0px;margin-left: 12px;">
          {{ "GroupsAddEditPage.Add" | translate }}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- ============ END NEW MODAL ADD MEMBER TO A GROUP ============ -->


<!-- ============ MODAL - INFO WINDOWS - ADDING MEMBER ============ -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayAddingMembersModal}"
  style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content custom--modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" aria-label="Close" (click)="onCloseAddingMembersModal()">
          <span aria-hidden="true">&times;</span>
        </button> -->

        <h4 class="modal-title" style="font-size: 14px;">
          {{ "GroupsAddEditPage.UpdateGroup" | translate }}
        </h4>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCloseAddingMembersModal()"></button>
      </div>

      <div class="modal-body" style="padding-right: 15px; padding-top:15px; padding-bottom:15px" style="font-size: 14px;">
        <span *ngIf="SHOW_CIRCULAR_SPINNER">
          <div class="loader" style="top:25%">
            <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="15" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
          </div>
          <p style="margin-top: 60px; text-align: center; color: #566787; font-weight: 500">
            {{ "GroupsAddEditPage.Processing" | translate }}
          </p>
        </span>

        <span *ngIf="!SHOW_CIRCULAR_SPINNER">
          <!-- class="loader" style="top:5%" -->
          <div style="text-align: center">
            <!--      WHEN NO ERROR OCCUR      -->
            <span *ngIf="!ADD_MEMBER_TO_GROUP_ERROR">
              <i class="material-icons" style="color:#70b665">done</i>
              <p style="color:#70b665; font-weight: 500">
                {{ "GroupsAddEditPage.Completed" | translate }}
              </p>

              <p style="margin-top: 0px; text-align: center; font-weight: 400; color: #333;">
                <span *ngIf="COUNT_OF_MEMBERS_ADDED == 1;else greater_than_one_content">
                  <!-- Member added to the group -->
                  {{ "GroupsAddEditPage.MemberAddedtoGroup" | translate }}
                </span>
                <ng-template #greater_than_one_content>
                  {{ "GroupsAddEditPage.MembersAddedtoGroup" | translate }}
                </ng-template>
              </p>
            </span>

            <!--   ERROR   -->
            <span *ngIf="ADD_MEMBER_TO_GROUP_ERROR">
              <i class="material-icons" style="color:#ff5252">report_problem</i>
              <p style="color:#ff5252; font-weight: 500">
                <!-- {{ "UserEditAddPage.Error" | translate }} -->
                {{ "Error" | translate }}
              </p>

              <p style="margin-top: 0px; text-align: center; font-weight: 500; color: #333;">
                {{ "GroupsAddEditPage.AnErrorHasOccurred" | translate }}
              </p>
            </span>

          </div>

        </span>
      </div>

      <div class="modal-footer" style="text-align: center;">
        <button class="btn btn-tdblu-no-boxshadow" [disabled]="SHOW_CIRCULAR_SPINNER"
          (click)="onCloseAddingMembersModal()">
          {{ "GroupsAddEditPage.Continue" | translate }}
        </button>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<!--  MODAL - INFO WINDOWS - CREATING GROUP  -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayCreateGroupModal}"
  style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content custom-modal-content custom--modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" aria-label="Close" (click)="onCloseCreateGroupModal()">
          <span aria-hidden="true">&times;</span>
        </button> -->

        <h4 class="modal-title" style="font-size: 14px;">
          {{ "GroupsAddEditPage.CreateGroup" | translate }}
        </h4>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCloseCreateGroupModal()"></button>
      </div>

      <div class="modal-body" style="font-size: 14px;">
        <span class="modal-loader-wpr" *ngIf="SHOW_CIRCULAR_SPINNER">
          <div class="loader" style="top:25%">
            <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="15" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
          </div>
          <p>
            {{ "UserEditAddPage.Processing" | translate }}
          </p>
        </span>

        <span class="no-error-modal-ms-wpr" *ngIf="!SHOW_CIRCULAR_SPINNER">
          <!-- class="loader" style="top:5%" -->
          <div style="text-align: center">
            <!--      WHEN NO ERROR OCCUR      -->
            <span class="no-error-modal-msg" *ngIf="!CREATE_GROUP_ERROR">
              <i class="material-icons" style="color:#70b665">done</i>
              <p style="color:#70b665; font-weight: 500">
                {{ "UserEditAddPage.Completed" | translate }}
              </p>
            </span>

            <!--   ERROR   -->
            <span *ngIf="CREATE_GROUP_ERROR">
              <i class="material-icons" style="color:#ff5252">report_problem</i>
              <p style="color:#ff5252; font-weight: 500">
                {{ "Error" | translate }}
              </p>
            </span>

          </div>

          <!--      WHEN NO ERROR OCCUR      -->
          <span class="no-error-modal-content" *ngIf="!CREATE_GROUP_ERROR">
            <p>
              {{ "GroupsAddEditPage.GroupCreated1" | translate }}
              <strong>{{ group_name }} </strong>
              {{ "GroupsAddEditPage.GroupCreated2" | translate }}
            </p>
          </span>

          <!--    ERROR     -->
          <span *ngIf="CREATE_GROUP_ERROR">
            <p style="margin-top: 0px; text-align: center; font-weight: 500">
              {{ "GroupsAddEditPage.AnErrorHasOccurred" | translate }}
            </p>
          </span>

        </span>
      </div>

      <div class="modal-footer" style="text-align: center;">
        <button class="btn btn-tdblu-no-boxshadow" [disabled]="SHOW_CIRCULAR_SPINNER"
          (click)="onCloseCreateGroupModal()">
          {{ "GroupsAddEditPage.Continue" | translate }}
        </button>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- ============= MODAL DELETE 'MEMBER' ============= -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDeleteModal}"
  style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content custom--modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" aria-label="Close" (click)="onCloseDeleteModal()">
          <span aria-hidden="true">&times;</span>
        </button> -->
        <h4 class="modal-title warning" style="font-size: 14px;">
          <!-- <i class="material-icons" style="vertical-align: middle">report_problem</i> -->
          <span class="modal-header-icon-wpr"> 
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="none">
              <path
                d="m40-120 440-760 440 760H40Zm115.33-66.67h649.34L480-746.67l-324.67 560ZM482.78-238q14.22 0 23.72-9.62 9.5-9.61 9.5-23.83 0-14.22-9.62-23.72-9.61-9.5-23.83-9.5-14.22 0-23.72 9.62-9.5 9.62-9.5 23.83 0 14.22 9.62 23.72 9.62 9.5 23.83 9.5Zm-33.45-114H516v-216h-66.67v216ZM480-466.67Z" />
            </svg>
          </span>
          <span style="vertical-align: middle; padding-left:8px">
            {{ "GroupsAddEditPage.RemoveMember" | translate }}
          </span>
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCloseDeleteModal()"></button>
      </div>
      <div class="modal-body" style="font-size: 14px;">
        <p class="modal-body--content">
          {{ "GroupsAddEditPage.AreYouSureRemoveMember" | translate }}?
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-gray-no-boxshadow" (click)="onCloseDeleteModal()">
          {{ "Cancel" | translate }}
        </button>
        <button class="btn btn-red" (click)="deleteMemberFromTheGroup()" style="margin-bottom: 0px;margin-left: 12px;">
          {{ "GroupsAddEditPage.RemoveMember" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>