<h1 mat-dialog-title> {{ 'KbPage.CreateNewNamespace' | translate }} </h1>

<div mat-dialog-content>

    <mat-form-field appearance="fill" class="cc-mat-form-field">
        <mat-label>{{ 'KbPage.NamespaceName' | translate }}</mat-label>
        <input matInput [(ngModel)]="namespaceName">
    </mat-form-field>
</div>

<div mat-dialog-actions style="justify-content: center;">
    <button class="mat-dialog-close-btn" mat-button (click)="onNoClick()">
        {{ "Cancel" | translate }}
       
    </button>
    <!-- [mat-dialog-close]="newKb.url" -->
    <button [disabled]="namespaceName?.length < 2" class="mat-dialog-ok-btn" mat-button
        (click)="onOkPresssed(namespaceName)" cdkFocusInitial>
        <!-- Create namespace -->
        {{ "Create" | translate }}
        
    </button>
</div>
