@import "./src/assets/sass/cds/_variables.scss";

.text-editor-wrapper {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;    
}

.field-box {
    display: flex;
    flex-direction: column;
    // width: 70%;
    min-width: 90px;
    gap: 10px;
}

.title-label {
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
    
}

div.value-wrp{
    position: relative;
    .flex{
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        .close{
            // height: 16px;
            width: 17px;
            top: -7px;
            right: -7px;
            font-size: 15px;
            border-radius: 50%;
            background: white;
            cursor: pointer;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            &:hover{
                background: #ecb606;
                color: white;
            }
        }
    }

    div.tag{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 8px;
        right: unset;
        border-radius: 7px;
        margin: 5px;
        padding: 5px 10px;
        background-color: #ecb606;
        color: white;

    }
}

// cds-textarea#assignTo ::ng-deep {
//     display: flex;
//     textarea {
//         border: 1px solid rgb(118, 118, 118) !important;
//         resize: none !important; 
//         padding: 8px 20px !important;
//         height: 25px !important;
//         min-height: 25px !important;
//     }
// }

.set-attribute-destination-label-and-value-wpr {
    // background: #e8e6dd;
    // padding: 3px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.set-attribute-label {
    color: #6c6859d9;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 400;
    // background: #e8e6dd;
    padding: 0px 3px;
}

.set-attribute-value {
    font-size: 10px;
    font-weight: 400;
    background: #ecb606;
    width: fit-content;
    padding: 0px 6px;
    border-radius: 4px;
    color: #fff;
    // height: 18px;
    line-height: 1.5;

}

.empty{
    background: none;
    color: red;
    font-size: 12px;
}