@import "./src/assets/sass/cds/_variables.scss";


$text-color: white;
$background-color: transparent;
$text-color-hover: $icon-color;
$background-color-hover: $icon-color-background;
$text-color-active: white;
$background-color-active: $icon-color;

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #728087;
    padding: 4px;
}

.search-box {
    width: 100%;
    display: flex;
    justify-content: center;
    .input-box {
        border: 1px solid #5f6368;
        width: 100%;
        height: 30px;
        border-radius:20px;
    }

    .input-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        .custom-input {
            background-color: transparent;
            border-radius: 6px;
            border: none;
            color: #d2cfcf;
            text-align: left;
        }
    }
}

.intents-list {
    .topic-internal {

    }
    
}




.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 190px;
}





.icon-container{

}
.rocket_launch {
    color: #0aae10;
    font-size: 20px;
    font-weight: 600;
    span{
        font-size: 20px;
    }
}


.undo {
    color: #ff4000;
    font-size: 20px;
    font-weight: 600;
}


.item-box{

}


.title-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    justify-content: flex-end;
    padding: 10px 0px;

    .title {
        color: $text-color;
        font-weight: 500;
        font-size: 14px;
    }

    .new-intent-button {
        display: flex;
        flex-direction: row;
        font-size: 14px;
        align-items: center;
        //border: dashed 1px;
        padding: 0px 14px 0px 10px;
        border-radius: 16px;
        cursor: pointer;

        .plus-icon {
            font-size: 16px;
            color: $text-color;
        }

        .button-text {
            margin-bottom: 0px;
            color: $text-color;
        }
    }

    .new-intent-button:hover {
        background-color: $background-color-hover;
        //border: 1px solid white;

        .plus-icon {
            font-size: 16px;
            color: $text-color
        }

        .button-text {
            color: $text-color;
        }
    }
}

.disable-add-intent-btn {
    pointer-events: none;
}

.icon-container {
    width: 38px;
    display: flex;
    justify-content: flex-start;
}

.icon-list {
    display: flex;
    flex-direction: row;
}

.custom-divider {
    background-color: #334754;
    width: 80%;
    height: 1px;
    box-shadow: 0px 0px 10px #334754;
    margin: 6px 0px 14px 0px;
}






.intent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 6px;
    min-height: 38px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.3s;
    align-items: start;
    height: 20px;
    padding-left: 10px;
    .item-box {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 2px 0px;
    }

    .item-box-default {
        
    }

    .delete-box {
        display: none;
        margin-right: 4px;
        position: absolute;
        right: 0px;
    }

    

    .intent-display-name {
        color: $text-color;
        font-weight: 500;
        margin-bottom: 0px;
        font-size: 14px;
        overflow: hidden;
        max-width: 170px;
        // max-width: 150px; //GAB
    }

    .icon-list {
        display: flex;
        flex-direction: row;

        .icon {
            color: #8c989e;
        }

        .ai-icon {
            margin-bottom: 0px;
            font-size: 12px;
            margin-top: -5px;
            margin-right: 3px;
        }

        .webhook-icon {
            font-size: 12px;
            margin-right: 3px;
        }

        .list-alt-icon {
            font-size: 12px;
            margin-right: 3px;
        }

        .bolt-icon {
            font-size: 12px;
            margin-right: -2px;
            font-weight: 600;
        }

        .actions {
            display: flex;
        }

        .action-counter {
            font-size: 10px;
            padding: 0px;
            margin: 0px;
            margin-top: -4px;
        }
    }
}

.intent:hover {
    // background-color: #d2d2d2;
    background-color: $background-color-hover;

    .delete-box {
        display: block;
        .delete-icon {
            font-size: 20px;
        }
    }

    .delete-box:hover {
        .delete-icon {
            font-size: 20px;
            // color: $color-red-hex;
            color: #fff;
            transition: 0.3s;
        }
    }

    .intent-display-name {
        // color: #333;
        color: #fff;
        font-weight: 500;
        margin-bottom: 0px;
        font-size: 14px;
        // max-width: 150px;
    }

    .icon-list {
        .icon {
            // color: #333;
            color: #8c989e;
        }
    }
}

.intent:active {
    background-color: $background-color-active;
    border-right: solid 5px $background-color-hover;
    border-radius: 6px 10px 10px 6px;

    .intent-display-name {
        // color: #333;
        color: $text-color-active;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .icon-list {
        .icon {
            // color: #333;
            color: white;
        }
    }
}

.active {
    background-color: $background-color-active !important;
    border-right: solid 5px $background-color-hover;
    border-radius: 6px 10px 10px 6px;

    .intent-display-name {
        // color: #333;
        color: $text-color-active;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .icon-list {
        .icon {
            // color: #333;
            color: $background-color-hover !important;
        }
    }
}



.add-start {
    width: 100%;
    border: dashed 1px grey;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    border-radius: 10px;
}

