<knowledge-base-table
  [kbsList]="kbsList"
  [kbsListCount]="kbsListCount"
  [refresh]="refresh"
  [hasRemovedKb]="hasRemovedKb"
  [hasUpdatedKb]="hasUpdatedKb"
  [getKbCompleted]="getKbCompleted"
  [selectedNamespaceName]="selectedNamespaceName"
  [hasAlreadyVisitedKb]="hasAlreadyVisitedKb"
  [isAvailableRefreshRateFeature]="isAvailableRefreshRateFeature"
  [t_params]="t_params"
  [refreshRateIsEnabled]="refreshRateIsEnabled"
  [payIsVisible]="payIsVisible"
  [salesEmail]="salesEmail"
  [project_name]="project_name"
  [id_project]="id_project"
  [showKBTableSpinner]="showKBTableSpinner"
  [currentSortParams]="currentSortParams"
  (openBaseModalDetail)="openBaseModalDetail.emit($event)"
  (openBaseModalDelete)="openBaseModalDelete.emit($event)"
  (openBaseModalNamespaceDelete)="openBaseModalNamespaceDelete.emit()"
  (openBaseModalPreview)="openBaseModalPreview.emit()"
  (onOpenAddContents)="onOpenAddContents.emit()"
  (openBaseModalPreviewSettings)="openBaseModalPreviewSettings.emit()"
  (openAddKnowledgeBaseModal)="openAddKnowledgeBaseModal.emit($event)"
  (checkStatus)="checkStatus.emit($event)"
  (runIndexing)="runIndexing.emit($event)"
  (loadPage)="loadPage.emit($event)"
  (loadByFilter)="loadByFilter.emit($event)"
>
</knowledge-base-table>

