
@import "./src/assets/sass/md/_variables.scss";

/* TABLE CONTENT VERTICAL ALIGNMENT */
.table td,
.table th {
  vertical-align: middle;
}

.table td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.table td p {
  margin-bottom: 0px;
}

button {
  padding-top: 2px;
  padding-bottom: 1px;
  padding-right: 3px;
  padding-left: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* MODAL START */
// @media (min-width: 992px) {

// }
// @media (min-width: 768px) {
//     .modal-dialog {
//         width: 600px;
//         margin: 30px auto;
//     }
// }

// MODAL BOOTSTRAP BREAKPOINTS

// @media (min-width: 769px) and (max-width: 991px){
//     .modal-dialog {
//         width: 700px;
//         }
//     }
// // from 992 to 1020px
// @media (min-width: 992px) and (max-width: 1019px){
// .modal-dialog {
//         margin-left: 33%;
//     }
// }

// @media (min-width: 1020px) and (max-width: 1119px) {
//     .modal-dialog {
//         // margin-left: 35%;
//         margin-left: 31%;
//         width: 670px;
//     }
// }
// @media (min-width: 1120px) and (max-width: 1199px) {
//     .modal-dialog {
//         // margin-left: 35%;
//         margin-left: 31%;
//         width: 700px;
//     }
// }

// @media (min-width: 1200px) and (max-width: 1289px)  {
//     .modal-dialog {
//         // margin-left: 37%;
//         margin-left: 29%;
//         width: 800px;
//     }
// }

// @media (min-width: 1290px) and (max-width: 1369px)  {
//     .modal-dialog {
//         // margin-left: 37%;
//         margin-left: 29%;
//         width: 850px;
//     }
// }

// @media (min-width: 1369px) and (max-width: 1469px)  {
//     .modal-dialog {
//         // margin-left: 37%;
//         margin-left: 29%;
//         width: 850px;
//     }
// }

// @media (min-width: 1470px) and (max-width: 1549px) {
//     .modal-dialog {
//         margin-left: 29%;
//         width: 900px;
//     }
// }

// @media (min-width: 1550px) and (max-width: 1649px){
//     .modal-dialog {
//         margin-left: 30%;
//         width: 900px;
//     }
// }
// @media (min-width: 1650px) and (max-width: 1679px) {
//     .modal-dialog {
//         // margin-left: 40%;
//         margin-left: 31%;
//         width: 900px;
//     }
// }
// // and (max-width: 1679px)
// @media (min-width: 1680px)  {
//     .modal-dialog {
//         // margin-left: 40%;
//         margin-left: 33%;
//         width: 900px;
//     }
// }

// @media (min-width: 991px){
// .modal-dialog {
//     left: 110px !important;
//     }
// }

// @media (min-width: 768px)  {
//     .modal-dialog {
//       width: 600px;
//       margin: 30px auto;
//     }
// }

// @media (min-width: 1252px) {
//     .modal-dialog {
//       width: 900px;
//     }
// }
.modal {
  top: 0;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.modal-body {
  position: relative;
  // padding-top: 35px;
  // padding-bottom: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 15px;
}

.modal-footer {
  // padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  // background-color: #edf0f1;
  background-color: #eeeeee;
  padding-top: 10px !important;
}


/* MODAL END */

// MESSAGES IN MODAL
.msgcontainer {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  display: inline-block;
  min-width: 150px;
  max-width: 350px;
}

.msgcontainer::after {
  content: "";
  clear: both;
  display: table;
}


