.cds-action-arrow-down-icon-wpr {
    position: absolute;
    text-align: center;
    width: 100%;
    // bottom: -30px;
    bottom: -22px;
    left: 0px;
    z-index: 1;
}

.cds-action-arrow-icon {
    transform: rotate(90deg);
    color: #6c6859;
}