.info-container {
    display: flex;
    flex-direction: row;
    padding: 12px 15px;
    border-radius: 4px;
    background-color: #d7ebfa6e;
    .info-icon {
        margin-right: 8px;
        font-size: 20px;
    }
    p {
        margin-bottom: 0px;
    }
}

.form-container {
    margin-top: 12px;
    margin-bottom: 12px;
    .input-container {
        margin-bottom: 14px;
    }
    .input-label {
        font-weight: 400;
    }
    .custom-input {
        width: 100%;
        height: 37px;
        border-radius: 6px;
        border: 2px solid #c6cdd4;
        padding: 0px 15px;
        color: #22272d;
        line-height: 35px;
        font-weight: 400;
        &.invalid {
            border: 2px solid red !important;
            outline: 0px solid red !important;
            transition: border 0.3s;
        }
    }
    .custom-textarea {
        width: 100%;
        border-radius: 6px;
        border: 2px solid #c6cdd4;
        padding: 0px 15px;
        color: #22272d;
        line-height: 35px;
        font-weight: 400;
        &.invalid {
            border: 2px solid red !important;
            outline: 0px solid red !important;
            transition: border 0.3s;
        }
    }
}

.modal-footer {
    padding: 18px;
    background-color: #fff;
    button {
        border-radius: 6px;
    }
    button#addkb-btn {
        margin-left: 10px;
    }
}



.preview-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //background-color: #006cff;
    color: white;
    border: none;
    padding: 4px 12px 4px 8px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 13px;
    color: rgb(98, 119, 140);
    background: linear-gradient(rgba(239, 245, 246, 0.64) 0%, rgb(238, 244, 246) 100%), rgb(255, 255, 255);
    box-shadow: rgb(212, 217, 230) 0px 1px 0px;
    .material-icons {
        font-size: 19px;
    }
    &:hover {
        background: linear-gradient(rgba(239, 245, 246, 0.851) 0%, rgb(225, 241, 246) 100%), rgb(255, 255, 255);
    }
}


// .file-input-container {
//     position: relative;
//     width: auto;
//     height: 36px;
//     overflow: hidden;
//   }
  
//   .file-input-container input[type="file"] {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     opacity: 0;
//     cursor: pointer;
//   }
  
//   .file-input-text {
//     display: block;
//     width: 100%;
//     height: 100%;
//     line-height: 36px; 
//     background-color: #f0f0f0; 
//     color: #333; 
//     padding: 0 8px;
//   }
  
//   .file-input-button {
//     display: block;
//     width: 100%;
//     height: 100%;
//     line-height: 36px;
//     background-color: #3f51b5; 
//     text-align: center; 
//     cursor: pointer;
//   }
  
//   .file-input-button:hover {
//     background-color: #303f9f; 
// }