
<h1 mat-dialog-title>{{ 'KbPage.TitleSitemap' | translate }} </h1>

<div *ngIf="!isSitemapLoaded" mat-dialog-content>

    <div class="info-container">
        <i class="material-icons-outlined info-icon">help_outline</i>
        <div class="info-text">
          <p>{{ 'KbPage.InfoSitemap' | translate }}</p>
        </div>
    </div>
    <div class="form-container">
        <form [formGroup]="kbForm">
            <div class="input-container">
                <span class="input-label">{{ 'KbPage.LabelInputSitemap' | translate }}</span>
                <input type="url" name="url" class="custom-input" [(ngModel)]="kb.url" formControlName="url"
                    placeholder="{{ 'KbPage.PlaceholderInputSitemap' | translate }}" (input)="onChangeInput($event)"
                    [class.invalid]="(kbForm.controls.url.errors?.pattern || kbForm.controls.url.errors?.required) && kbForm.controls.url.touched">
            </div>
        </form>
    </div>
</div>

<div *ngIf="!isSitemapLoaded" mat-dialog-actions style="justify-content: center;">  
    <button class="mat-dialog-close-btn" mat-button (click)="onCloseBaseModal()">
        {{ "Cancel" | translate }}
    </button>

    <button class="mat-dialog-ok-btn" mat-button [disabled]="buttonDisabled" (click)="onSendSitemap()">
        {{ 'OnboardPage.Next' | translate }}
    </button>
</div>

<div *ngIf="isSitemapLoaded" mat-dialog-content >

    <div class="info-container">
        <i class="material-icons-outlined info-icon">help_outline</i>
        <div class="info-text">
            <span>{{ 'KbPage.InfoSitemapList' | translate }} {{KB_LIMIT_CONTENT}}</span>
        </div>
    </div>


    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="custom--expansion-panel">
            <mat-expansion-panel-header class="disable_ripple">
                <mat-panel-title> {{'KbPage.AdvancedOptions' | translate}} </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="expansion-panel-content">
                <!-- SCRAPE TYPE -->
                <div class="option-box">
                    <div style="display: flex; flex-direction: column; align-items: flex-start;">
                        <span class="input-label">
                            {{'KbPage.IndexingType' | translate}}
                        </span>
                       
                        <ng-select class="scrape-types-select" style="min-width: 200px; margin-bottom: 6px;" 
                            appendTo="body" 
                            [items]="scrape_types | selectOptionsTranslate" 
                            bindLabel="name" 
                            bindValue="value"
                            placeholder="{{ 'KbPage.PlaceholderSelectEngine' | translate }}" 
                            [clearable]="false"
                            [searchable]="false" 
                            [(ngModel)]="selectedScrapeType" 
                            (change)="onSelectScrapeType(selectedScrapeType)">
            
                            <!-- <ng-option *ngFor="let type of scrape_types" [value]="type.value">{{type.name}}</ng-option> -->
                            
                        </ng-select>
                    </div>
                </div>
                <div *ngIf="selectedScrapeType === 4" class="option-box" style="width: 100%; margin-left: 12px;">

                    <!-- TAGS TO EXTRACT -->
                    <div style="display: flex; flex-direction: column; align-items: flex-start;">
                        <span class="input-label">
                            {{'KbPage.ExtractTags' | translate }}
                        </span>
                        <mat-form-field class="chip-list" appearance="outline" style="width: 95%; font-size: 13px;">
                            <mat-chip-list #extractTags aria-label="Tag selection">
                                <mat-chip *ngFor="let tag of extract_tags" 
                                    (removed)="removeTag('extract_tags', tag)">
                                    {{ tag }}
                                    <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                    <!-- <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon> -->
                                </mat-chip>
                                <input style="font-size: 13px; background-color: white; border: none;" 
                                    [matChipInputFor]="extractTags" 
                                    placeholder="{{'KbPage.TypeAndPressEnter' | translate}}"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
                                    (matChipInputTokenEnd)="addTag('extract_tags', $event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>

                    <!-- UNWANTED TAGS -->
                    <div style="display: flex; flex-direction: column; align-items: flex-start;">
                        <span class="input-label">
                            <!-- Unwanted Tags -->
                            {{'KbPage.UnwantedTags' | translate}}
                        </span>
                        <mat-form-field class="chip-list" appearance="outline" style="width: 95%; font-size: 13px;">
                            <mat-chip-list #unwantedTags aria-label="Tag selection">
                                <mat-chip *ngFor="let tag of unwanted_tags"
                                    (removed)="removeTag('unwanted_tags', tag)">
                                    {{ tag }}
                                    <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip>
                                <input style="font-size: 13px; background-color: white; border: none;" 
                                    [matChipInputFor]="unwantedTags" 
                                    placeholder="{{'KbPage.TypeAndPressEnter' | translate}}"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
                                    (matChipInputTokenEnd)="addTag('unwanted_tags', $event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>

                    <!-- UNWANTED CLASSNAMES -->
                    <div style="display: flex; flex-direction: column; align-items: flex-start;">
                        <span class="input-label">
                            <!-- Unwanted Classnames -->
                            {{'KbPage.UnwantedClassnames' | translate}}
                        </span>
                        <mat-form-field class="chip-list" appearance="outline" style="width: 95%; font-size: 13px;">
                            <mat-chip-list #unwantedClassnames aria-label="Tag selection">
                                <mat-chip *ngFor="let tag of unwanted_classnames"
                                    (removed)="removeTag('unwanted_classnames', tag)">
                                    {{ tag }}
                                    <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip>
                                <input style="font-size: 13px; background-color: white; border: none;" 
                                    [matChipInputFor]="unwantedClassnames" placeholder="{{'KbPage.TypeAndPressEnter' | translate}}"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
                                    (matChipInputTokenEnd)="addTag('unwanted_classnames', $event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>

                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion> 

    <div class="form-container">
        <div class="input-container">
        <span class="input-label">{{ 'KbPage.titleTextareaUrls' | translate }}</span> 
        <textarea type="text" class="custom-textarea" 
            [(ngModel)]="listOfUrls" 
            [ngClass]="{'invalid':errorLimit }"
            placeholder="{{ 'KbPage.PlaceholderInputSitemapList' | translate }}" (input)="onChangeList($event)" rows="4"
        ></textarea>
        <span *ngIf="!errorLimit"class="input-label">{{countSitemap}} {{ 'KbPage.LabelSitemapList' | translate }}</span>
        <span *ngIf="errorLimit" class="input-label-error">{{ 'KbPage.InfoSitemapList' | translate }} {{KB_LIMIT_CONTENT}}</span>
        </div>
    </div>
</div>

<div *ngIf="isSitemapLoaded" mat-dialog-actions style="justify-content: center;">  
    <button class="mat-dialog-close-btn" mat-button (click)="onCloseBaseModal()">
        {{ "Cancel" | translate }}
    </button>

    <button class="mat-dialog-ok-btn" mat-button [disabled]="buttonDisabled || countSitemap === 0 || selectedScrapeType === 4 && extract_tags.length === 0" (click)="onSaveKnowledgeBase()">
        {{ 'KbPage.Import' | translate }} {{countSitemap}} URL
    </button>
</div>

















<!-- <div *ngIf="!isSitemapLoaded" class="modal" tabindex="-1" role="dialog" style="background-color: rgba(90,90,90,0.5); display:block">
  <div class="modal-dialog" role="document">
      <div class="modal-content">

          <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="onCloseBaseModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">
                  <span style="vertical-align: middle;">
                      {{ 'KbPage.TitleSitemap' | translate }}
                  </span>
              </h4>
          </div>
  
          <div class="modal-body">
              <div class="info-container">
                  <i class="material-icons-outlined info-icon">help_outline</i>
                  <div class="info-text">
                    <p>{{ 'KbPage.InfoSitemap' | translate }}</p>
                  </div>
              </div>
              <div class="form-container">
                  <form [formGroup]="kbForm">
                      <div class="input-container">
                          <span class="input-label">{{ 'KbPage.LabelInputSitemap' | translate }}</span>
                          <input type="url" name="url" class="custom-input" [(ngModel)]="kb.url" formControlName="url"
                              placeholder="{{ 'KbPage.PlaceholderInputSitemap' | translate }}" (input)="onChangeInput($event)"
                              [class.invalid]="(kbForm.controls.url.errors?.pattern || kbForm.controls.url.errors?.required) && kbForm.controls.url.touched">
                      </div>
                  </form>
              </div>
          </div>
          
          <div class="modal-footer">
              <button class="btn btn-white" style="padding:12px 16px;" (click)="onCloseBaseModal()">
                {{ "Cancel" | translate }}
              </button>
              <button id="addkb-btn" class="btn btn-primary" [disabled]="buttonDisabled" (click)="onSendSitemap()">
                {{ 'OnboardPage.Next' | translate }}
              </button>
          </div> 

      </div>
  </div>
</div>

<div *ngIf="isSitemapLoaded" class="modal" tabindex="-1" role="dialog" style="background-color: rgba(90,90,90,0.5); display:block">
  <div class="modal-dialog" role="document">
      <div class="modal-content">

          <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="onCloseBaseModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">
                  <span style="vertical-align: middle;">
                      {{ 'KbPage.TitleSitemapList' | translate }}
                  </span>
              </h4>
          </div>
  
          <div class="modal-body">
              <div class="info-container">
                  <i class="material-icons-outlined info-icon">help_outline</i>
                  <div class="info-text">
                      <span>{{ 'KbPage.InfoSitemapList' | translate }} {{KB_LIMIT_CONTENT}}</span>
                  </div>
              </div>
              <div class="form-container">
                    <div class="input-container">
                      <span class="input-label">{{ 'KbPage.titleTextareaUrls' | translate }}</span> 
                      <textarea type="text" class="custom-textarea" 
                          [(ngModel)]="listOfUrls" 
                          [ngClass]="{'invalid':errorLimit }"
                          placeholder="{{ 'KbPage.PlaceholderInputSitemapList' | translate }}" (input)="onChangeList($event)" rows="4"
                      ></textarea>
                      <span *ngIf="!errorLimit"class="input-label">{{countSitemap}} {{ 'KbPage.LabelSitemapList' | translate }}</span>
                      <span *ngIf="errorLimit" class="input-label-error">{{ 'KbPage.InfoSitemapList' | translate }} {{KB_LIMIT_CONTENT}}</span>
                    </div>
              </div>
          </div>
          
          <div class="modal-footer">
              <button class="btn btn-white" style="padding:12px 16px;" (click)="onCloseBaseModal()">
                {{ "Cancel" | translate }}
              </button>
              <button id="addkb-btn" class="btn btn-primary" [disabled]="buttonDisabled" (click)="onSaveKnowledgeBase()">
                {{ 'KbPage.Import' | translate }} {{countSitemap}} URL
              </button>
          </div> 

      </div>
  </div>
</div> -->