<div class="content columns">
  <main class="column is-10 is-offset-1">
  
    <h1>
      <span class="icon" style="cursor: pointer;" (click)="goBackToFaqKbList()" >
        <i class="fa fa-angle-left" style="font-size:1em; color:#afafaf"></i>
      </span>
      <!-- Mongo DB FAQ -->
      <span class="title" style="padding-left: 25px;">FAQ</span>
    </h1>
    <hr>
    <!-- <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input [(ngModel)]="question" placeholder="Question" class="input">
            <span class="icon is-small is-left">
              <i class="fa fa-question"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input [(ngModel)]="answer" placeholder="Answer" class="input">
            <span class="icon is-small is-left">
                <i class="fa fa-info"></i>
            </span>
          </p>
        </div>
      </div>
    </div> -->
    <!-- <button class="button is-success" (click)="createFaq()" [disabled]="question?.length < 2 || answer?.length < 2">
      Aggiungi FAQ
    </button> -->
    <div class="create" style="text-align: right!important; padding-top:25px; padding-bottom:15px">
      <button class="button is-success" style="padding-left:18px" (click)="goToEditAddPage_CREATE()">
          <!-- is-small -->
        <span class="icon" style="padding-right:16px">
          <i class="fa fa-plus-circle"></i>
        </span>
        Aggiungi Faq Kb
      </button>
    </div>
  
    <!-- MOMGO DB FAQ LIST -->
    <!-- is-narrow is-bordered -->
    <table class="table is-striped" style="margin-top:5px">
      <thead>
        <tr>
          <th style="width: 280px !important">
            Id
          </th>
          <th>
            Question
          </th>
          <th>
            Answer
          </th>
          <th>
            Creation Date
          </th>
          <th colspan="2">
            Actions
          </th>
        </tr>
      </thead>
  
      <tbody>
  
        <tr *ngFor="let faq of faq">
          <td style="width: 280px !important">
            {{ faq?._id }}
          </td>
          <td>
            {{ faq?.question }}
          </td>
          <td>
            {{ faq?.answer }}
          </td>
          <td>
            {{ faq?.createdAt | date: 'd/M/y'}}
          </td>

          <!-- EDIT -->
          <td style="text-align: center!important;padding-right:0px; padding-left:0px;">
            <!-- <span class="button is-small is-warning" (click)='openUpdateModal(faq?._id, faq?.question, faq?.answer, hasClickedUpdateModal = true)'>
              Edit
            </span> -->
            <span class="icon" style="color:#f6ca4f; cursor: pointer;" >
              <i class="fa fa-pencil"></i>
            </span>
          </td>
          <!-- /. edit -->

          <!-- DELETE -->
          <td style="text-align: center!important; padding-left: 0px; padding-right: 18px;">
            <!-- <span class="button is-small is-danger" (click)='openDeleteModal(faq?._id, hasClickedDeleteModal = true)'>
              Delete
            </span> -->
            <span class="icon" style="color:#e36456;cursor: pointer;" (click)='openDeleteModal(faq?._id, hasClickedDeleteModal = true)'>
              <i class="fa fa-trash-o"></i>
            </span>
          </td>
          <!-- /. delete -->
        </tr>
      </tbody>
    </table>

         <!-- MODAL -->
    <!-- <div class="backdrop" [ngStyle]="{'display':display}"></div> -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
                <span aria-hidden="true">&times;</span>
              </button>
              <!-- <strong></strong> -->
              <span *ngIf="DISPLAY_DATA_FOR_UPDATE_MODAL">
                <h4 class="modal-title">Update FAQ with id:
                  <code>{{id_toUpdate}}</code>
                </h4>
              </span>
      
              <span *ngIf="DISPLAY_DATA_FOR_DELETE_MODAL">
                <h4 class="modal-title">Delete FAQ with id:
                  <code>{{id_toDelete}}</code>
                </h4>
              </span>
      
            </div>
      
            <span *ngIf="DISPLAY_DATA_FOR_UPDATE_MODAL">
              <div class="modal-body">
                <!-- <p>{{question_toUpdate}}</p> -->
                <div class="field is-horizontal">
                  <div class="field-body">
      
                    <div class="field">
                      <p class="control is-expanded has-icons-left">
                        <input [(ngModel)]="question_toUpdate" placeholder="Question" class="input">
                        <span class="icon is-small is-left">
                            <i class="fa fa-question"></i>
                        </span>
                      </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                          <input [(ngModel)]="answer_toUpdate" placeholder="Answer" class="input">
                          <span class="icon is-small is-left">
                              <i class="fa fa-info"></i>
                          </span>
                        </p>
                    </div>
        
                  </div>
                </div>
              </div>
            </span>
      
            <span *ngIf="DISPLAY_DATA_FOR_DELETE_MODAL">
              <div class="modal-body">
      
                  <!-- <strong>{{deptName_toDelete}}</strong>  -->
              <p> Are you sure you want to delete this FAQ ?</p>
              </div>
            </span>
      
            <span *ngIf="DISPLAY_DATA_FOR_UPDATE_MODAL">
              <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onCloseUpdateModalHandled()">Save</button>
              </div>
            </span>
      
            <span *ngIf="DISPLAY_DATA_FOR_DELETE_MODAL">
              <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onCloseDeleteModalHandled()">Confirm</button>
              </div>
            </span>
      
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

  </main>
</div>