@import "../../../../../variables";

.button-tab {
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.button-header-tab {
    background: $bg-color-bck-hex;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: $height-header;
    min-height: $height-header;
    color: $color-txt-3-hex;
    border-bottom: 1px solid $color-txt-3-hex;

    .form-group {
        position: absolute;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0 30px;
        &.is-error {
            .form-control {
                background-image: linear-gradient($color-red-hex,$color-red-hex),linear-gradient($color-light-gray-hex,$color-light-gray-hex);
                background-size: 100% 2px,100% 1px;
                transition-duration: .3s;
            }
        }
        &.is-focused {
            .form-control {
                background-image: linear-gradient($color-blue-hex,$color-blue-hex),linear-gradient($color-light-gray-hex,$color-light-gray-hex);
                background-size: 100% 2px,100% 1px;
                transition-duration: .3s;
            }
        }
        label.title {
            position: absolute;
            display: block;
            top: 0;
            left: 30px;
            width: calc(100% - 80px);
            margin: 0;
            padding: 0;
            text-align: left;
            font-weight: 400;
            font-size: 1em;
            line-height: $height-header;
            color: $color-light-gray-hex;
            &.noDisplay {
                display: none;
            }
        }
    }

    .i-priority-color-mark {
        background-color: $color-blue-hex;
        position: absolute;
        border-radius: 100%;
        top: 22px;
        left: 12px;
        display: block;
        width: 8px;
        height: 8px;
    }

    
    input {
        position: absolute;
        display: block;
        top: 0;
        left: 30px;
        width: calc(100% - 80px);
        margin-top: 8px;
        padding: 0;
        color: $color-bck-light-gray-hex;
        font-size: 1em;
    }
    .btn-save {
        position: absolute;
        width: auto;
        max-width: 80%;
        right: 10px;
        padding: 8px;
    }
}


.button-content-tab {
    background-color: $bg-color-card-hex;
    flex: 1;
    min-height: 100px;
    height: auto;
    .section{
        padding: 0 3em;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-out, opacity 0.2s linear;
        .form-group {
            input {
                background-color: $color-withe-hex;
                border: 0px solid $color-light-gray-hex;
                padding: 0 6px;
                border-radius: 4px;
            }
        }
        &.displayed {
            padding: 1em 3em;
            height: auto;
            opacity: 1;
            overflow: visible;
        }
    }
}


.button-footer-tab {
    min-height: 50px;
    border-top: 1px solid $color-txt-3-hex;
    background: $bg-color-bck-hex;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    button {
        padding: 8px;
        margin: 8px;
    }
}





/** NG-SELECT **/
.ng-select.ng-select-focused>.ng-select-container {
    border-color: $color-red-hex;
    box-shadow: inset 0 1px 1px #00000013,0 0 0 3px #007eff1a;
}

/** FORM GROUP **/
.form-group {
    .form-control {
        background-size: 0 2px,0% 1px;
    }
}
.form-group.is-focused {
    .form-control {
        background-size: 100% 2px,100% 1px;
    }
}

.form-group.is-error {
    .form-control {
        outline: none;
        background-image: linear-gradient($color-red-hex,$color-red-hex),linear-gradient($color-light-gray-hex,$color-light-gray-hex);
        background-size: 100% 2px,100% 1px;
        box-shadow: none;
        transition-duration: .3s;
    }
    .ng-select {
        &.form-control-select ::ng-deep .ng-select-container  { 
            display: flex;
            outline: none;
            background-image: linear-gradient($color-red-hex,$color-red-hex),linear-gradient($color-light-gray-hex,$color-light-gray-hex);
            background-size: 100% 2px,100% 1px;
            box-shadow: none;
            transition-duration: .3s;
        }
    }
}

.form-group label.control-label {
    top: -35px; 
    left: 0;
    font-size: 0.8em;
    line-height: normal;
    position: absolute;
    pointer-events: none;
    transition: .3s ease all;
    color: $color-txt-4-hex;

}
.form-group.is-empty label.control-label {
    top: -6px;
    left: 6px;
    font-size: 1em;
    line-height: normal;
    position: absolute;
    color: $color-txt-3-hex;
    z-index:1;
    pointer-events: none;
}
.form-group.is-focused label.control-label {
    top: -35px; 
    left: 0;
    font-size: 0.8em;
    line-height: normal;
    position: absolute;
    pointer-events: none;
    transition: .3s ease all;
    color: $color-txt-4-hex;
  }

