<div id="button-tab" class="button-tab">

    <div class="button-header-tab">

        <div class="buttons-drawer-title">
            Button
        </div>
        <div class="control-button" (click)="onCloseButtonPanel()">
            <em class="material-icons">chevron_right</em>
        </div> 
        
    </div> 

    <div class="button-content-tab">
       
        <div class="section displayed">

            <div class="form-group" [ngClass]="{'is-error':buttonLabel}">
               <label class="control-label ">
                    {{ 'Button title' | translate }}
                </label>
                <cds-text id="input_title" 
                    #input_title
                    [text]="buttonLabel"
                    (onChange)="onChangeTitle($event)">
                </cds-text>
                <div *ngIf="emojiPikerBtn" class="emoji-picker">
                    <div class="emoji-picker-button" [satPopoverAnchor]="emojiPicker" (click)="emojiPicker.toggle();">
                        <span class="material-icons" style="font-size: 16px;">
                            emoji_emotions
                        </span>
                    </div>
                </div>
            </div> 
        </div>

        
        <div class="section displayed">
            <div class="form-group ng-select">
                <label class="control-label">
                    {{ 'Type' | translate }}
                </label>
                <div class="selectFormModel class-test-select">
                    <ng-select 
                        class = "form-control-select" 
                        [items] = "buttonTypes" 
                        bindLabel="label"
                        bindValue="value"
                        [searchable] = false
                        [clearable] = false
                        [(ngModel)] = "buttonType"
                        (change) = "onChangeTypeButton($event)">
                    </ng-select>
                </div>
            </div>
        </div>

        <div class="section" [ngClass]="{'displayed':buttonType === typeOfButton.URL}">

            <div class="form-group ng-select">
                <label class="control-label">
                    {{ 'Open in' | translate }}
                </label>
                <div class="selectFormModel class-test-select">
                    <ng-select 
                        class = "form-control-select" 
                        [items] = "urlTypes" 
                        bindLabel="label"
                        bindValue="value"
                        [searchable] = false
                        [clearable] = false
                        [(ngModel)] = "urlType">
                    </ng-select>
                </div>
            </div>

            <div class="form-group" [ngClass]="{'is-error':errorUrl === true}">
                <label class="control-label">
                    {{ 'Url' | translate }}
                </label>
                <cds-text
                    [text]="buttonUrl"
                    (onChange)="onChangeUrl($event)">
                </cds-text>
            </div> 

        </div>
        

        <div class="section" 
            [ngClass]="{'displayed':buttonType === typeOfButton.ACTION}">
            <div class="form-group ng-select">
                <label class="control-label">
                    {{ 'Go to block' | translate }}
                </label>
                <cds-select #select_action id="select-action"
                    [items]="listOfActions"
                    [bindLabelSelect]="'name'"
                    [bindValueSelect]="'value'"
                    [itemSelected]="buttonAction"
                    (onSelected)="onChangeSelect($event)">
                </cds-select>
                <cds-attributes
                    *ngIf="buttonAction"
                    #cds_attributes
                    id="cds-attributes"
                    class = "cds-attributes"
                    [openBlock]="openBlockAttributes"
                    [attributes]="buttonAttributes"
                    (changeAttributes)="onChangeAttributes($event)"
                ></cds-attributes>
            </div>

        </div>
       
    </div> 

    <!-- 
    <div class="button-footer-tab">
        <button 
            #button_save
            type="button" 
            class="btn btn-primary btn-save" 
            (click)="onSaveButton()">
            {{ 'Save' | translate }}
        </button>
    </div> 
    -->

</div>


<sat-popover #emojiPicker id="emojiPicker"
    horizontalAlign="center" 
    verticalAlign="center"  
    hasBackdrop 
    (backdropClicked)="emojiPicker.close()"
    interactiveClose="false">
    <emoji-mart
        class="box-emoji-mart"
        [showPreview]="false" 
        [perLine]="emojiPerLine" 
        [include]="emojiiCategories"
        [color]="emojiColor" 
        [darkMode]="false"
        [emojiSize] = "24"
        (emojiSelect)="onAddEmoji($event)">
    </emoji-mart>
</sat-popover> 

