<div class="button-tab">

    <div class="button-header-tab">

        <div class="buttons-drawer-title">
            Button
        </div>
        <div class="control-button" (click)="onCloseButtonPanel()">
            <em class="material-icons">close</em>
        </div> 
        
    </div> 

    <div class="button-content-tab">
       
        <div class="section displayed titleField">

            <div class="form-group" [ngClass]="{'is-error':buttonLabelResult === false}">
               <label 
                    class="control-label title"
                    [ngClass]="{'noDisplay':!buttonLabel}">
                    {{ 'Titolo del bottone...' | translate }}
                </label>
                <input 
                    type="text" 
                    [(ngModel)] = "buttonLabel"
                    class="input form-control"
                    (blur) = "onBlurButtonLabel($event)"
                />
            </div> 

            <!-- <div class="titleField form-group" [ngClass]="{'is-error':buttonLabelResult === false}">
                
            </div> -->
        </div>
        
        <div class="section displayed">
            <div class="form-group ng-select">
                <label class="control-label">
                    {{ 'Type' | translate }}
                </label>
                <div class="selectFormModel">
                    <ng-select 
                        class = "form-control-select" 
                        [items] = "buttonTypes" 
                        [searchable] = false
                        [clearable] = false
                        [(ngModel)] = "buttonType"
                        (change) = "onChangeTypeButton($event)">
                    </ng-select>
                </div>
            </div>
        </div>

        <div class="section"
            [ngClass]="{'displayed':buttonType === typeOfButton.URL}">

            <div class="form-group ng-select">
                <label class="control-label">
                    {{ 'Open in' | translate }}
                </label>
                <div class="selectFormModel">
                    <ng-select 
                        class = "form-control-select" 
                        [items] = "urlTypes" 
                        [searchable] = false
                        [clearable] = false
                        [(ngModel)] = "urlType">
                    </ng-select>
                </div>
            </div>

            <div class="form-group" [ngClass]="{'is-error':errorUrl === true}">
                <label class="control-label">
                    {{ 'Url' | translate }}
                </label>
                <input 
                    type="text" 
                    [(ngModel)] = "buttonUrl"
                    class="input form-control"
                />
            </div> 

        </div>
        

        <div class="section" 
            [ngClass]="{'displayed':buttonType === typeOfButton.ACTION}">
            <div class="form-group ng-select">
                <label class="control-label">
                    {{ 'Go to intent' | translate }}
                </label>
                <div class="selectFormModel">

                    <!-- <cds-text id="text-condition"
                        [control]="actionConditionFormGroup.controls['trueIntent']"
                        [autocompleteOptions]="listOfActions">
                    </cds-text> -->
                    <ng-select [items]="listOfActions"
                        placeholder="Select intent"
                        [(ngModel)]="buttonAction"
                        (change) = "onChangeActionButton($event)">
                    </ng-select>

                    <!-- <ng-select 
                        class = "form-control-select" 
                        [items] = "listOfActions" 
                        [searchable] = false
                        [clearable] = false
                        [(ngModel)] = "buttonAction"
                        (change) = "onChangeActionButton($event)">
                    </ng-select> -->

                </div>
            </div>

        </div>
       
    </div> 

    <div class="button-footer-tab">
        <button 
            type="button" 
            class="btn btn-primary btn-save" 
            (click)="onSaveButton()">
            {{ 'Save button' | translate }}
        </button>
    </div>

</div>




