@import "./src/assets/sass/cds/_variables.scss";

.emoji-picker {
    position: absolute;
    right: 10px;
    bottom: -4px;
}

.box-emoji-mart {
    height: 1px;
    // visibility: hidden;
    // &.picker-visible {
    //     height: auto;
    //     visibility: visible;
    // }
}

.button-tab {
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #4d5e79;
    border-left: solid 2px #b28e26;
    box-shadow: 0 0 42px 2px #000000c7;
}

.button-header-tab:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: 1px;
    background-color: #6474913d;
}

.buttons-drawer-title {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    padding-left: 20px;
    cursor: default;
}

.control-button {
    display: flex;
    justify-content: right;
    margin: 12px;
    position: absolute;
    top: 0;
    left: -22px;
    cursor: pointer;
    em {
        background: #303f5c;
        border: 2px solid #b28e26!important;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        cursor: pointer;
        font-size: 18px;
        display: block;
    }
}

.button-header-tab {
    position: relative;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: $height-header;
    min-height: $height-header;
    color: $color-txt-3-hex;
}


.button-content-tab {
    position: relative;
    flex: 1;
    min-height: 100px;
    height: auto;
    overflow-y: auto;
    .section {
        padding: 0 3em;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-out, opacity 0.2s linear;
        .form-group {
            input {
                background-color: $color-withe-hex;
                border: 0px solid $color-light-gray-hex;
                padding: 0 6px;
                border-radius: 4px;
            }
        }
        &.displayed {
            padding: 1em 2em;
            height: auto;
            opacity: 1;
            overflow: visible;
            display: inline-block;
            width: 100%;
        }
        &.titleField{
            padding: 0em 3em;
        }
    }
    .cds-attributes {
        margin-top: 20px;
        display: block;
    }
}



.button-footer-tab {
    min-height: 50px;
    border-top: 1px solid #6474913d;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    button {
        padding: 8px;
        margin: 8px;
        background: $light-blue!important;
        color: $light-black!important;
        box-shadow: none!important;
        font-weight: 500!important;
        font-family: Poppins,Roboto,Arial,sans-serif!important;
        text-transform: capitalize!important;
        font-size: 14px!important;
        padding: 6px 12px;
    }
}





/** NG-SELECT **/
.ng-select.ng-select-focused>.ng-select-container {
    border-color: $color-red-hex;
    box-shadow: inset 0 1px 1px #00000013,0 0 0 3px #007eff1a;
}
.ng-select.form-control-select{
    text-align: start;
}

/** FORM GROUP **/
.form-group {
    .form-control {
        background-size: 0 2px,0% 1px;
    }
}
.form-group.is-focused {
    .form-control {
        background-size: 100% 2px,100% 1px;
    }
}

.form-group.is-error {
    .form-control {
        outline: none;
        background-image: linear-gradient($color-red-hex,$color-red-hex),linear-gradient($color-light-gray-hex,$color-light-gray-hex);
        background-size: 100% 2px,100% 1px;
        box-shadow: none;
        transition-duration: .3s;
    }
    .ng-select {
        &.form-control-select ::ng-deep .ng-select-container  { 
            display: flex;
            outline: none;
            background-image: linear-gradient($color-red-hex,$color-red-hex),linear-gradient($color-light-gray-hex,$color-light-gray-hex);
            background-size: 100% 2px,100% 1px;
            box-shadow: none;
            transition-duration: .3s;
        }
    }
}

.form-group label.control-label {
    top: -35px; 
    left: 0;
    font-size: 0.8em;
    line-height: normal;
    position: absolute;
    pointer-events: none;
    transition: .3s ease all;
    color: $color-txt-4-hex;

}
.form-group.is-empty label.control-label {
    top: -10px;
    left: 6px;
    font-size: 1em;
    line-height: normal;
    position: absolute;
    color: $color-txt-3-hex;
    z-index:1;
    pointer-events: none;
}
.form-group.is-focused label.control-label {
    top: -35px; 
    left: 0;
    font-size: 0.8em;
    line-height: normal;
    position: absolute;
    pointer-events: none;
    transition: .3s ease all;
    color: $color-txt-4-hex;
}


::ng-deep .ng-dropdown-panel {
    .ng-dropdown-panel-items {
        max-height: 200px;
        overflow: scroll;
    }
}
  