@import "./src/assets/sass/md/_variables.scss";

.main-content-projects-for-panel {
  padding-top: 0px;
  margin-top: 0px !important;
  padding-bottom: 0px !important;
  // background: #fff;
  background: #2d323e;

  padding-left: 0px;
  padding-right: 10px;
  min-height: calc(100% - 0px);
  position: relative; // requirements for perfect scrollbar
  height: 400px; // requirements for perfect scrollbar
  // width: 300px;
  // height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-content-projects-for-panel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-content-projects-for-panel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container-projects-for-panel {
  padding: 0px !important;
}

/* Tooltip text */
.tooltipx .tooltiptext {
  visibility: hidden;

  // background-color: black;
  /* // background-color: rgba(0,0,0,0.6); */
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 10px !important;
  text-transform: none !important;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* Position the tooltip text - BOTTOM */

  width: 120px;
  top: 100%;
  left: 50%;
  /* margin-left: -60px; */
  margin-left: -92px;

  // NEW
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background-color: #394f5a;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipx:hover .tooltiptext {
  visibility: visible;
}
/* // end TOOLTIP */

.open-user-profile-person-icon {
  font-size: 20px !important;
  display: block !important;
  float: right !important;
  color: $brand-recent-project-text !important;
}

.head-title {
  // font-family: "Google Sans", sans-serif !important;
  // margin-top: 95px;
  // color: #f0806f;
  color: $brand-recent-project-text;
  margin-top: 25px;
  // font-weight: 600;
}

.head-sub-title {
  // color: #f0806f;
  color: #ffffff;
  font-size: 21px;
  line-height: 1.2;
}

.card-add-project-icon {
  color: $brand-secodary;
  text-align: center;
  padding-top: 25px;
}

.card-add-project-text {
  color: $brand-secodary;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Google Sans", sans-serif !important;
  font-weight: 400;
  font-size: 24px;
}

.project-user-status-icon {
  width: 16px;
  height: 16px;
  float: left;
  border-radius: 50%;
  margin-right: 2px;
}
.project-user-availability-status-text {
  color: #7695a5;
  font-size: 12px;
  position: relative;
  top: -7px;
  font-weight: 300;
  text-transform: capitalize;
}

.is-user-online {
  background-color: #4caf50;
}
.is-user-offline {
  background-color: #f44336;
}

.is-user-online-text-color {
  color: #4caf50;
  font-weight: 600;
}
.is-user-offline-text-color {
  color: #f44336;
  font-weight: 600;
}

.project-card-project-user-isBusy {
  position: absolute;
  top: 36px;
  left: 17px;
  width: fit-content;
}

.project-user---role {
  font-size: 11px;
  margin-top: 3px;
  font-family: "Google Sans", sans-serif !important;
  color: #000;
  width: fit-content;
  // background: #e4e6eb;
  // padding: 0px 6px;
  // border-radius: 30px;
}

// .onoffswitch {
//   position: relative;
//   width: 43px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
// }
// .onoffswitch-checkbox {
//   position: absolute;
//   opacity: 0;
//   pointer-events: none;
// }
// .onoffswitch-label {
//   display: block;
//   overflow: hidden;
//   cursor: pointer;
//   height: 13px;
//   padding: 0;
//   line-height: 13px;
//   border: 0px solid #ffffff;
//   border-radius: 21px;
//   background-color: #9e9e9e;
// }
// .onoffswitch-label:before {
//   content: "";
//   display: block;
//   width: 21px;
//   margin: -4px;
//   background: #f44336;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 26px;
//   border-radius: 21px;
//   box-shadow: 0 6px 12px 0px #757575;
// }
// .onoffswitch-checkbox:checked + .onoffswitch-label {
//   background-color: #9e9e9e;
// }
// .onoffswitch-checkbox:checked + .onoffswitch-label,
// .onoffswitch-checkbox:checked + .onoffswitch-label:before {
//   border-color: #9e9e9e;
// }
// .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
//   margin-left: 0;
// }
// .onoffswitch-checkbox:checked + .onoffswitch-label:before {
//   right: 0px;
//   background-color: #4caf50;
//   box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
// }

// .sidebar-wrapper-in-projects {
//   height: 100vh !important;
// }

// span.sidebar-normal {
//   color: rgba(255, 255, 255, 0.6);
// }

// li.active a span.sidebar-normal {
//   color: #ffffff !important;
// }

/* NK start CUSTOM SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* border-radius: 6px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* width: 10px !important; */
}
/* NK end CUSTOM SCROLL BAR */

.project-avatar {
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 33px;
  position: relative;
  // top: 4px;
  color: #1e2129;
  background-color: #a9abad;
  text-transform: uppercase;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-weight: 500;
  // margin-top: 8px;
  // margin-bottom: 8px;
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  // cursor: pointer;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.flex-container:hover {
  background-color: rgba(200, 200, 200, 0.2);
}

.flex-child-left {
  // flex: 0 0 20%;
  width: 60px;
  text-align: center;
  padding: 8px 0px;
}
// border: 2px solid yellow;

.flex-child-right {
  // flex: 0 0 80%;
  flex: 1;
  padding: 8px 0px;

  // border: 2px solid yellow;
}

.flex-child--right {
  // flex: 0 0 80%;
  // width: 20px;
  width: 30px;
  padding: 8px 0px;

  // border: 2px solid yellow;
}

.pinned-project {
  color: #165cee !important;
}

.push-pin-icon-wpr:hover .push-pin-icon-as-btn {
  color: #165cee !important;
}

.push-pin-icon-as-btn {
  color: #b1b4b8;
  vertical-align: middle;
  transform: rotate(45deg);
  font-size: 20px;
  cursor: pointer;
}

.push-pin-icon-as-btn:hover {
  color: #165cee !important;
}

.status--text {
  color: #7695a5;
  font-size: 12px;
  // font-weight: 300;
  text-transform: capitalize;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-right: 18px;
}

.online-text-color {
  color: #4caf50;
  // font-weight: 600;
}
.offline-text-color {
  color: #f44336;
  // font-weight: 600;
}

.project-name-projects-for-panel {
  color: #dbddde;
  font-weight: 400;
  margin-left: 0px;
  width: 220px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: relative;
  top: 3px;
}

.icon-as-btn {
  font-size: 12px;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 5px;
  height: 22px;
  width: 22px;
}

.projects-item--isBusy-icon-wpr {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.projects-item--isBusy-icon {
  border-radius: 50%;
  // background-color: #fedd00;
  font-size: 18px;
  color: #fedd00;
}

.projects-item--isBusy-busy-text {
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin-left: 3px;
  position: relative;
  top: -4px;
  text-transform: capitalize;
  color: #fedd00;
}

// -----------------------
// i on-off switch
// -----------------------
.i_onoffswitch {
  position: relative;
  width: 33px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.i_onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.i_onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 18px;
  padding: 0;
  line-height: 18px;
  // border: 1px solid #e3e3e3;
  border-radius: 18px;
  background-color: #f44336;
  transition: background-color 0.3s ease-in;
}
.i_onoffswitch-label:before {
  content: "";
  display: block;
  width: 18px;
  margin: 0px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 18px;
  transition: all 0.3s ease-in 0s;
}
.i_onoffswitch-checkbox:checked + .i_onoffswitch-label {
  background-color: #4caf50;
}
.i_onoffswitch-checkbox:checked + .i_onoffswitch-label,
.i_onoffswitch-checkbox:checked + .i_onoffswitch-label:before {
  border-color: #4caf50;
}
.i_onoffswitch-checkbox:checked + .i_onoffswitch-label:before {
  right: 0px;
}
// -----------------------
// i on-off switch ./end
// -----------------------

// ------------------------------------------------------------------
// New switch button // https://proto.io/freebies/onoff/
// ------------------------------------------------------------------
.onoffswitch--prjcts-for-panel {
  position: relative;
  width: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox--prjcts-for-panel {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label--prjcts-for-panel {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 8px;
  padding: 0;
  line-height: 8px;
  border: 0px solid #ffffff;
  border-radius: 16px;
  background-color: #eeeeee;
}
.onoffswitch-label--prjcts-for-panel:before {
  content: "";
  display: block;
  width: 16px;
  margin: -4px;
  background: #f44336;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 18px;
  border-radius: 16px;
  // box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox--prjcts-for-panel:checked + .onoffswitch-label--prjcts-for-panel {
  background-color: #eeeeee;
}
.onoffswitch-checkbox--prjcts-for-panel:checked + .onoffswitch-label--prjcts-for-panel,
.onoffswitch-checkbox--prjcts-for-panel:checked + .onoffswitch-label--prjcts-for-panel:before {
  border-color: #eeeeee;
}
.onoffswitch-checkbox--prjcts-for-panel:checked + .onoffswitch-label--prjcts-for-panel .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox--prjcts-for-panel:checked + .onoffswitch-label--prjcts-for-panel:before {
  right: 0px;
  background-color: #4caf50;
  // box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

// ---- new
.availabily-and-busy-wpr--prjcts-for-panel {
  margin-top: 6px;
  margin-left: 0px;
}

.availabily---wpr--prjcts-for-panel {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 6px;
}

.availibility-status-text--prjcts-for-panel {
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 11px;
  // margin-left: 3px;
  position: relative;
  top: -2px;
  display: inline-block;
  min-width: 85px;
}

.online-text-color {
  color: #4caf50;
  // font-weight: 600;
}
.offline-text-color {
  color: #f44336;
  // font-weight: 600;
}

.projects-for-panel--isBusy-icon-wpr {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.project-item--isBusy-icon {
  border-radius: 50%;
  background-color: #fedd00;
  font-size: 16px;
  color: #fff;
}

.projects-for-panel--isBusy-busy-text {
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-size: 11px;
  margin-left: 0px;
  position: relative;
  top: -3px;
}

.text-pulse-animation {
  animation: textpulse 5s;
  -moz-animation: textpulse 5s infinite; /* Firefox */
  -webkit-animation: textpulse 5s infinite; /* Safari and Chrome */
}

@keyframes textpulse {
  0% {
    color: transparent;
  }
  50% {
    color: #feb92c;
  }
  100% {
    color: transparent;
  }
}
/* Firefox */
@-moz-keyframes textpulse {
  0% {
    color: transparent;
  }
  50% {
    color: #feb92c;
  }
  100% {
    color: transparent;
  }
}
/* Safari and Chrome */
@-webkit-keyframes textpulse {
  0% {
    color: transparent;
  }
  50% {
    color: #feb92c;
  }
  100% {
    color: transparent;
  }
}

/* 
// -------------------------------------------------
// stretch spinner https://tobiasahlin.com/spinkit/
// ------------------------------------------------- */
.stretchspinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stretchspinner > div {
  background-color: $brand-primary;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.stretchspinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.stretchspinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.stretchspinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.stretchspinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/* MODAL START */
.modal {
  top: 0;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.modal-body {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 15px;
  padding-left: 15px;
}

.modal-footer {
  /* // padding: 15px; */
  text-align: right;
  border-top: 1px solid #e5e5e5;
  /* // background-color: #edf0f1; */
  background-color: #eeeeee;
  padding-top: 10px !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .modal-dialog {
    width: 240px;
  }
}
/* MODAL END */

// ------------------------------------------------------------
// Tooltip in project for panel
// ------------------------------------------------------------
/* Tooltip container */
.tooltip-pfp {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-pfp .tooltiptext-pfp {
  visibility: hidden;
  width: 200px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.06);
  color: #000 !important;
  text-align: center;
  padding: 3px 3px;
  border-radius: 4px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  // bottom: 125%;
  // left: 50%;
  // margin-left: -60px;

  top: -13px;
  right: 105%;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
}

/* Tooltip arrow */
.tooltip-pfp .tooltiptext-pfp::after {
  // content: "";
  // position: absolute;
  // top: 100%;
  // left: 50%;
  // margin-left: -5px;
  // border-width: 5px;
  // border-style: solid;
  // border-color: #555 transparent transparent transparent;

  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-pfp:hover .tooltiptext-pfp {
  visibility: visible;
  opacity: 1;
}

// -----------------------------------------------------------------
// NO MORE USED - ANIMATED ARROW https://codepen.io/cbrst/pen/ebxwLJ
// -----------------------------------------------------------------
.small-projects-sidebar:hover #arrow_1 .arrow:hover span {
  $size: 16px;
  $width: 2px;
  width: $size * 1.414;
}

.arrow-wrapper {
  display: flex;
  align-items: center;
}

#arrow_1 .arrow {
  $size: 16px;
  $width: 2px;

  cursor: pointer;
  display: block;
  width: $size / 1.414;
  height: $size / 1.414 * 2;
  position: relative;

  & span,
  &:before,
  &:after {
    // background: #fff;
    background: #b1b4b8;
    content: "";
    display: block;
    width: $size;
    height: $width;
    position: absolute;
    top: calc(50% - (#{$width} / 2));
  }

  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }

  & span {
    width: 0;
  }
  &:hover span {
    width: $size * 1.414;
  }

  @each $direction in "left" "right" {
    &.arrow--#{$direction} {
      & span,
      &:before,
      &:after {
        #{$direction}: 0;
        transform-origin: #{$direction} 50%;
      }

      &:before,
      &:after {
        transition: #{$direction} 0.3s 0.05s;
      }

      & span {
        transition: width 0.3s, #{$direction} 0.3s 0.05s;
      }

      // &:hover {
      //   & span,
      //   &:before,
      //   &:after {
      //     #{$direction}: $size / 1.414 * -1;
      //   }
      // }
    }
  }
}
