hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
}

.page_title {

    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #333333;
    padding-top: 22px;
    color: #333333;
    font-weight: 500;
    letter-spacing: .056em;
    padding-bottom: 12px;
}

.gotohome {
    padding-right: 50px;
    color: #039be5;
    font-weight: 550;
    font-size: 14px;
    font-family: Open Sans, HelveticaNeue, Helvetica Neue, Helvetica, Arial;
    line-height: 90px;
    cursor: pointer;
}


.verification-email-error {
    text-align: center;
    color: #333;
    font-weight: 400;
    letter-spacing: .056em;
    font-size: 20px;
    vertical-align: middle;
    margin-top: 35px;
}


.resend--verification--email {
    cursor: pointer; 
    color: #03a5e8;
    margin-top: 30px;
}

.resend--verification--email:hover { 
    text-decoration: underline;
}

.verification-email-error-msg {
    text-align: center;
    color: #333;
    margin-top: 16px;
}

.verification-email-processing {
    text-align: center;
    color: #333;
    font-weight: 400;
    letter-spacing: .056em;
    font-size: 20px;
    vertical-align: middle;
    margin-top: 35px;
}