<div class="tpl-modal-box">
    <div class="tpl-modal-header">
        <div class="tpl-modal-header-text">
            <span text-type="h4" text-weight="semi-bold" text-max-lines="3">Add a custom attribute</span>
        </div>
        <i text-color="light" text-actions="" class="material-icons cds-close-btn-icon" [mat-dialog-close]="true">close</i>
    </div>
    <div class="tpl-modal-content">
        <div data-theme="info" class="tpl-info">
            <i class="material-icons-outlined tpl-info-icon">help_outline</i>
            <div text-type="h6" class="tpl-info-text">
                The attribute’s name can only contain alphanumeric
                characters which are letters A-Z, numbers 0-9, dash or
                underscore.
            </div>
        </div>
    <div text-color="default" text-type="h6" text-bottom="1">Attribute name</div> 
    <input text-type="h6" placeholder="Type attribute name" data-error="false" data-form-error="true" data-height="standard" class="tpl-input" [(ngModel)]="data.name">
</div> 
<div class="tpl-modal-buttons">
    <button type="button" data-disabled="false" data-icon-size="standard" data-icon-position="before" data-theme="grey-outline" data-height="standard" data-width="auto" data-align="center" data-actions="true" text-type="h5" class="btn btn-cancel" (click)="onCloseDialog()">Cancel</button>
    <button type="button" data-disabled="false" data-icon-size="standard" data-icon-position="before" data-theme="default" data-height="standard" data-width="auto" data-align="center" data-actions="true" text-type="h5" class="btn btn-warning cds-yellow-button" [mat-dialog-close]="data.name">Add attribute</button>
</div>
