.home-block-wpr {
    margin-top: 18px;
    border-radius: 12px;
    padding: 24px;
    // box-shadow: 0 0 20px 4px rgb(154 161 177 / 15%), 0 4px 80px -8px rgb(36 40 47 / 25%),
    //     0 4px 4px -2px rgb(91 94 105 / 15%);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a;
}
._2vFcS {
    margin: 22px 60px 0px 60px;
    border-radius: 8px;
}

._2iqgV {
    flex-direction: column;
}

._2qLvL {
    display: flex;
}

.cKPgl {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    gap: 8px;
    position: relative;
    border-radius: 4px;
}

._2N7fw {
    align-items: flex-start;
}

._1fLoo {
    flex: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #0c172d;
    overflow: hidden;
    margin-top: 6px;
}

.KJpMb {
    flex: auto;
    padding: 6px 0;
}


._1aC9T {
    align-items: center;
}

.o_7eO {
    margin-left: auto;
    transition: opacity 300ms ease-in-out;
}

._1FEtf {
    display: block;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    text-align: left;
}

._2u1EA {
    background-color: #208ef0;
}

._3pOpF {
    min-width: 36px;
    height: 36px;
    border-radius: 4px;
    // background-color: var(--cobaltSub);
}

._1e3oJ {
    justify-content: center;
}

._2tIkX {
    justify-content: center;
}

._24ku1 {
    width: 10px;
    height: 10px;
    transform: rotate(180deg);
}

.SHY5O {
    display: flex;
    align-items: center;
    justify-content: center;
}

// ._3S-3- {
//     width: 24px;
//     height: 24px;
// }

._2_Qkq {
    position: absolute;
    right: -42px;
    top: 50%;
    z-index: 1;
    transition: opacity 300ms ease-in-out;
}

._1FEtf[disabled] {
    pointer-events: none;
    opacity: 0.6;
}

._3pOpF {
    min-width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: #2196f3;
}


.connect-whatsapp-wizard-title {
    font-size: 24px;
    font-family: Poppins,Roboto, Arial, sans-serif;
   
    color: #e0f0ff;
    padding: 0px 60px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-weight: 400;
}