// input[type="text"] {
//   /* min-width: 307px !important; */
//   height: 36px;
//   font-size: 14px;
//   width: 100%;
//   margin-bottom: 10px;
//   -webkit-appearance: none;
//   background: #fff;
//   border: 1px solid #d9d9d9 !important;
//   border-top: 1px solid #c0c0c0;
//   /* border-radius: 2px; */
//   padding: 0 8px;
//   box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   border-radius: 5px;
//   background-color: #fff !important;
//   border: solid 1px #ddd;
// }

// select {
//   height: 36px;
//   background: #fff;
//   border-radius: 0px;
//   border-color: #d9d9d9;
// }
.card form [class*="col-"] {
  padding: 0px;
}

// start CHECKBOX
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 3px;
}

/* Hide the browser's default checkbox */
// .container input {
//   position: absolute;
//   opacity: 0;
//   cursor: pointer;
// }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  // top: 2;
  left: 0;
  height: 25px;
  width: 25px;
  // height: 20px;
  // width: 20px;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
// .container:hover input ~ .checkmark {
//   background-color: #ccc;
// }

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--blue-light);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  // left: 7px;
  // top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// my cusyom 
.chekboxCustomHeight {
  margin-bottom: 26px !important;
}
// end CHECKBOX

// <!-- SWITCH  -->
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  // height: 34px;
  height: 20px;
  top: 4px
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  // height: 26px;
  // width: 26px;
  height: 11px;
  width: 11px;
  left: 4px;
  bottom: 4px;
  // background-color: white;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: #1eb848;
}

input:checked + .slider {
  // background-color: #2196F3;
  background: #fff;
}

//   input:focus + .slider {
//     box-shadow: 0 0 1px #2196F3;
//   }

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
// <!-- END SWITCH BTN -->

.disabled {
  color: #ddd !important;
}

.it {
  display: none;
}

// from 992 to 1007px (USED FROR THE BTN LABELS 'OPENING - CLOSING')
// @media (min-width: 992px) and (max-width: 1007px){
//     .edithours_btnlabel {
//         display: none;
//     }
// }

// from 992 to 1015px (USED FROR THE BTN LABELS 'FROM - TO')
@media (min-width: 992px) and (max-width: 1015px) {
  .edithours_btnlabel {
    display: none;
  }
  .edithours_btnlabelTo {
    display: none;
  }
}

// ACTIVES THE HTML TAG <BR> WHEN THE WINDOWS WIDTH IS < of di 1332
@media (min-width: 1332px) {
  .newline {
    display: none;
  }
}

// BTN LABEL 'TO'
@media (max-width: 1332px) {
  .edithours_btnlabelTo {
    // display: none;
    padding-left: 14px !important;
  }

  .edithours_btnlabelTo.it_custom {
    // display: none;
    padding-left: 6px !important;
  }
}

// FOR THE ICON-BTN SCHEDULE
// .custom_schedule_btn {
//   padding:1px !important;
// }

// .custom_schedule_btn:hover {
//  background-color: #9c27b0 !important;
//  color: #fff !important;
// }

.close_pm:hover {
  background-color: #f44336 !important;
  color: #fff !important;
}
.close_pm {
  margin-top: 0px; 
  margin-bottom: 0px; 
  border-radius: 50%; 
  padding-top:1px; 
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  // margin-left:15px;
  border: solid 1px; 
  width: 16px;
  height: 16px
}

.open_pm {
  margin-top: 0px; 
  margin-bottom: 0px; 
  border-radius: 50%; 
  padding-top:1px; 
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  // margin-left:15px;
  border: solid 1px; 
  width: 16px;
  height: 16px
}

.open_pm:hover {
  background-color: #4caf50 !important;
  color: #fff !important;
  border-color: #4caf50 !important;
}

  // START - CUSTOM NOTIFICATION 
  // https://bootsnipp.com/snippets/featured/a-different-approach-to-bootstrap-alert
  .oaerror {
    width: 100%; /* Configure it fit in your design  */
    margin: 0 auto; /* Centering Stuff */
    background-color: #FFFFFF; /* Default background */
    // padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right:20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 0 auto;
    font-family:'Poppins','Roboto', 'Arial', sans-serif;
    font-size: 14px;
  }

  .info {
    border-left-color: #5bc0de;
    // background-color: rgba(91, 192, 222, 0.1);
  }
   // END - CUSTOM NOTIFICATION

// start TOOLTIP
/* Tooltip container */
.tooltipx {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipx .tooltiptext {
  visibility: hidden;
  // width: 120px;
  // background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 12px !important;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* Position the tooltip text - TOP */
  // width: 420px;
  bottom: 100%;
  left: 50%; 
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
   // NEW
   box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
   background-color: #394f5a;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipx:hover .tooltiptext {
  visibility: visible;
}
// /.end TOOLTIP 


/*  MODAL  */
.modal {
  top: 0;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header {
  padding: 15px !important;
  border-bottom: 1px solid #e5e5e5 !important;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.modal-body {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 0px;
  padding-left: 15px;
}

.modal-footer {
  /* // padding: 15px; */
  text-align: right;
  border-top: 1px solid #e5e5e5;
  /* // background-color: #edf0f1; */
  background-color: #eeeeee;
  padding-top:10px !important;
}
/*  MODAL END */

.opened_label {
  background-color: #4caf50; color: white; padding: 4px 8px; border-radius: 3px; letter-spacing: 1px; font-size: 0.8em;
}

.closed_label {
  background-color: #f44336; color: white; padding: 4px 8px; border-radius: 3px; letter-spacing: 1.3px; font-size: 0.8em; 
}


// start DISABLED STYLE (APPLIED WHEN OPERATING HOURS IS NOT ACTIVE)
// SECTION 'SELECT A TIMEZONE' 
.oaerror_info_disabled {
  border-left-color: #999;
  background-color: rgba(192, 192, 192, 0.1);
}

// CARD BACKGROUND
.card_disabled {
  background-color: rgba(192, 192, 192, 0.1);
}

// labels 'OPENED' / 'CLOSED'
.opened_closed_label_disabled {
  background-color: #bbbcbb;
}

.open_close_switch_disabled {
  cursor: not-allowed
}

.day_label_disabled {
  color: #ddd !important
}
// /.end DISABLED STYLE (APPLIED WHEN OPERATING HOURS IS NOT ACTIVE)

.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

// WHEN IS > 
@media (min-width: 768px) {
  .custom_col {
    border-right: 1px solid #e0e0e0;
  }
}

.oh-table td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}




// NG-SELECT css
.ng-select.ng-select-opened>.ng-select-container{
  background:#fff;border-color:#b3b3b3 #ccc #d9d9d9
}
.ng-select.ng-select-opened>.ng-select-container:hover{
  box-shadow:none
}
.ng-select.ng-select-opened>.ng-select-container .ng-arrow{
  top:-2px;border-color:transparent transparent #999;border-width:0 5px 5px
}
.ng-select.ng-select-opened>.ng-select-container .ng-arrow:hover{
  border-color:transparent transparent #666
}
.ng-select.ng-select-opened.ng-select-bottom>.ng-select-container{
  border-bottom-right-radius:0;border-bottom-left-radius:0
}
.ng-select.ng-select-opened.ng-select-top>.ng-select-container{
  border-top-right-radius:0;border-top-left-radius:0
}
.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
  border-color:#007eff;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 0 3px rgba(0,126,255,0.1)
}
.ng-select.ng-select-disabled>.ng-select-container{
  background-color:#f9f9f9
}
.ng-select .ng-has-value .ng-placeholder{
  display:none
}
.ng-select .ng-select-container{
  background-color:#fff;border-radius:4px;border:1px solid #ccc;min-height:36px;align-items:center
}
.ng-select .ng-select-container:hover{
  box-shadow:0 1px 0 rgba(0,0,0,0.06)
}
.ng-select .ng-select-container .ng-value-container{
  align-items:center;padding-left:10px
}
.ng-select .ng-select-container .ng-value-container .ng-placeholder{
  color:#aaa;
}
.ng-select.ng-select-single .ng-select-container{
  height:36px
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
  left:0;padding-left:10px;padding-right:50px;top:5px
}
.ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value{
  background-color:#f9f9f9;border:1px solid #e3e3e3
}
.ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value .ng-value-label{
  padding:0px 5px
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container{
  padding-left:7px;padding-top:5px
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
  font-size:0.9em;margin-right:5px;margin-bottom:5px;background-color:#f5faff;border-radius:2px;border:1px solid #c2e0ff
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-select-disabled{
  background-color:#f9f9f9;border:1px solid #e3e3e3
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label{
  display:inline-block;padding:0px 5px 0px 1px
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon{
  display:inline-block;padding:0px 5px
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover{
  background-color:#d8eafd
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left{
  border-right:1px solid #c2e0ff
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right{
  border-left:1px solid #c2e0ff
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input{
  padding-bottom:3px;padding-left:3px
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder{
  top:5px;padding-bottom:5px;padding-left:3px
}
.ng-select .ng-clear-wrapper{
  color:#999
}
.ng-select .ng-clear-wrapper .ng-clear:hover{
  color:#D0021B
}
.ng-select .ng-spinner-zone{
  padding-right:5px;padding-top:5px
}
.ng-select .ng-arrow-wrapper{
  padding-right:5px;width:25px
}
.ng-select .ng-arrow-wrapper .ng-arrow{
  border-color:#999 transparent transparent;border-style:solid;border-width:5px 5px 2.5px
}
.ng-select .ng-arrow-wrapper .ng-arrow:hover{
  border-top-color:#666
}
.ng-dropdown-panel{
  background-color:#fff;border:1px solid #ccc;box-shadow:0 1px 0 rgba(0,0,0,0.06)
}
.ng-dropdown-panel.ng-select-bottom{
  top:100%;border-bottom-right-radius:4px;border-bottom-left-radius:4px;border-top-color:#e6e6e6;margin-top:-1px
}
.ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option:last-child{
  border-bottom-right-radius:4px;border-bottom-left-radius:4px
}
.ng-dropdown-panel.ng-select-top{
  bottom:100%;border-top-right-radius:4px;border-top-left-radius:4px;border-bottom-color:#e6e6e6;margin-bottom:-1px
}
.ng-dropdown-panel.ng-select-top .ng-dropdown-panel-items .ng-option:first-child{
  border-top-right-radius:4px;border-top-left-radius:4px
}
.ng-dropdown-panel .ng-dropdown-header{
  border-bottom:1px solid #ccc;padding:5px 7px
}
.ng-dropdown-panel .ng-dropdown-footer{
  border-top:1px solid #ccc;padding:5px 7px
}
.ng-dropdown-panel .ng-dropdown-panel-items{
  margin-bottom:1px
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup{
  user-select:none;cursor:default;padding:8px 10px
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-select-disabled{
  color:rgba(0,0,0,0.54)
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked{
  background-color:#ebf5ff;color:#333
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected{
  color:#333;background-color:#f5faff;font-weight:600
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  background-color:#fff;color:rgba(0,0,0,0.87);padding:8px 10px
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected{
  color:#333;background-color:#f5faff
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label{
  font-weight:600
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked{
  background-color:#ebf5ff;color:#333
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled{
  color:#cccccc
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child{
  padding-left:22px
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label{
  padding-right:5px;font-size:80%;font-weight:400
}
// NG-SELECT css end

// start SWITCH BTN
.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  // border: 2px solid #999999; 
  border: 1px solid #d9d9d9 !important;
  border-radius: 22px;
}
.onoffswitch-inner {
  display: block; 
  width: 200%; 
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; 
  float: left; 
  width: 50%; 
  height: 30px; 
  padding: 0; 
  line-height: 30px;
  font-size: 14px; 
  color: white; 
  font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  // background-color: #EEEEEE; 
  color: #4CAF50;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  // background-color: #EEEEEE; 
  color: #F44336;
  text-align: right;
}
.onoffswitch-switch {
  display: block; 
  width: 22px; 
  margin: 5px;
  background: #F44336;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  // border: 2px solid #999999;
  border: 1px solid #d9d9d9 !important;
  border-radius: 22px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
  background-color: #4CAF50; 
}
// ./end SWITCH BTN