<div class="navbar-brand" style="z-index: -1;margin-top:10px; padding-left:30px">
    <i class="material-icons" style="vertical-align: middle !important; cursor: pointer;" (click)="goBack()">keyboard_arrow_left</i>
    {{ "Hours" | translate }}
  </div>
  
  <div class="main-content" style="padding-top:0px">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="padding-top: 25px;padding-bottom: 25px;">
            <div class="card-content">

             
              <div class="col-sm-10 col-sm-offset-2">
                <label class="container" for="hoursActive" style="margin-left: 0px;" >
                    {{ "HoursPage.ActivateTimetables" | translate }} 
                  
                  <!-- [checked]="checkModel" -->
                  <input type="checkbox" id="hoursActive"  (change)="onChange($event)"/>
                  <span class="checkmark"></span>
                </label>
              </div>

              <!-- SPACER -->
              <div class="col-sm-12 spacer" style="height:15px"></div>

              <div class="row">
                <div class="col-md-12">
                  <div class="card">

                    <div class="card-content table-responsive">

                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>
                            <span style="color: #566787">
                              <strong>
                                Weekday
                              </strong>
                            </span>
                            </th>
                            
                              <th colspan="2">
                                <span style="color: #566787">
                                  <strong>
                                    Status
                                  </strong>
                                </span>
                              </th>

                              <th>
                                  <span style="color: #566787">
                                    <strong>
                                      Hours
                                    </strong>
                                  </span>
                                </th>

                                <th></th>
                                <th></th>
                                <th></th>
                              <tr>

                        </thead>

                        <tbody>
                          <tr *ngFor="let d of days">
                           
                            <td>
                              {{ d.weekday }}
                            </td>

                            <td style="white-space: nowrap; width: 1%;">
                              <label class="switch" style="margin-bottom: 0px;">
                                  <!-- [checked]="projectUser?.user_available === true" -->
                                  <!-- (click)="changeOpenedClosedStatus(d._id, d.weekday, isOpen = !isOpen)"  -->
                                <input type="checkbox" (change)="onChangeOpenedClosedStatus($event, d._id, d.weekday)"[checked]="d.isOpen == true"  >
                                <span class="slider round"></span>
                              </label>

                            </td>
                            
                            <td>
                             <span *ngIf="d.isOpen">
                                APERTO
                              </span>
                              <span *ngIf="!d.isOpen">
                                CHIUSO
                              </span>
                            </td>
      
                            <td>
                            <!-- <span *ngFor="let oh of d.operatingHours"> -->
                              <tr *ngFor="let oh of d.operatingHours">
                                  <td> {{ oh.start }} </td>
                                  <td> {{ oh.end }}  </td>
                                  
                              </tr>
                                
                                <!-- </span> -->

                            </td>

                            <td>

                              <!-- <input atp-time-picker value="19:00"/> -->
                  
                              <!-- <tr  *ngFor="let oh of d.operatingHours">
                                <button (click)="open(d?._id)">Time</button>
                                <input type="time" value="{{ oh.start  }}">
                                <button (click)="open(d?._id)">Time</button>
                                <input type="time" value="{{ oh.end  }}">
                              </tr>  -->
                            </td>
                            <td>
                                <button (click)="openAmStart(d?._id)">Time</button>
                                <input type="time" value="{{ d.operatingHoursAmStart }}">

                                <button (click)="openAmEnd(d?._id)">Time</button>
                                <input type="time" value="{{ d.operatingHoursAmEnd }}">


                            </td>

                            <td>
                                <button (click)="openPmStart(d?._id)">Time</button>
                                <input type="time" value="{{ d.operatingHoursPmStart }}">

                                <button (click)="openPmEnd(d?._id)">Time</button>
                                <input type="time" value="{{ d.operatingHoursPmEnd }}">
                            </td>
 
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>

              <label  class="col-sm-2" style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right;">
               + {{ "Hours" | translate }}
              </label>
              <div class="col-sm-10">
                <input [(ngModel)]="operatingHours" class="" type="text" placeholder='{{ "Hours" | translate }}'>
              </div>
 
  
            </div>
  
            <!-- SPACER -->
            <!-- <div class="col-sm-12 spacer" style="height:15px"></div> -->
            
            <div style="padding-left:25px" class="col-sm-10 col-sm-offset-2">
              <button class="btn btn-success" (click)="updateProjectOperatingHours()">

                {{ "HoursPage.UpdateHours" | translate }}
              </button>

              <button class="btn btn-success" (click)="testAvailableProjectUserConsideringProjectOperatingHours()">

                  TEST AVAILABLE
                </button>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>