@import "./src/assets/sass/cds/_variables.scss";

.cds-action-content{
  // position: relative;
  padding: 0px 10px;
}

.previewContent{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  padding: 3px 0px;

  .icon-action img{
    height: 16px;
    filter: brightness(0) saturate(100%) invert(42%) sepia(2%) saturate(2720%) hue-rotate(9deg) brightness(91%) contrast(81%);
  }

  .title-label{
   color: #6c6859;
   font-size: 12px; 
  }
}

.preview-divider {
  margin: 0;
  border-top: 2px solid $light-brown;
}

.content-action {
    margin-top: 10px;
    height: 50px;
    // float: left;
    width: calc(100% - 250px);
}
.content {
    //padding: 10px 30px;
    padding: 20px 0px;
    margin-left: 30px;
    margin-right: 30px;
}

.condition-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 3px 0px;
}

.condition-text {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.icon-action {
  transition: opacity .15s ease 0s;
  opacity: .85;
  background: none;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
      height: 20px;
  }
} 