@media (max-width: 576px) {
  .right-side-bar {
    width: 100% !important;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .right-side-bar {
    width: 50% !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .right-side-bar {
    width: 40% !important;
  }
}

// from 992
@media (min-width: 992px) {
  .right-side-bar {
    width: 40% !important;
  }
}

.speech-wrapper-train {
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  .bubble {
    width: 100%;
    //   min-height: 150px;
    height: auto;
    display: block;
    background: #f5f5f5;
    // background:rgb(115,212,253);
    border-radius: 4px;
    //   box-shadow: 2px 8px 5px #000;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    //   margin: 0 0 25px;
    &.alt {
      margin: 0 0 0 60px;
    }
    .txt {
      padding: 8px 14px 8px 14px;
      .name {
        font-weight: 600;
        font-size: 12px;
        margin: 0 0 4px;
        color: #3498db;
        span {
          font-weight: normal;
          color: #b3b3b3;
        }
        &.alt {
          color: #2ecc71;
        }
      }
      .message {
        font-size: 14px;
        margin: 0;
        color: #2b2b2b;
        font-weight: 400;
      }
      .timestamp {
        font-size: 11px;
        position: absolute;
        bottom: 8px;
        right: 10px;
        text-transform: uppercase;
        color: #999;
      }
    }
    .bubble-arrow {
      position: absolute;
      width: 0;
      bottom: 42px;
      left: -16px;
      height: 0;
      &.alt {
        right: -2px;
        bottom: 40px;
        left: auto;
      }
    }
    .bubble-arrow:after {
      content: "";
      position: absolute;
      border: 0 solid transparent;
      border-top: 9px solid #f5f5f5;
      // border-top: 9px solid rgb(115,212,253);
      border-radius: 0 20px 0;
      width: 15px;
      height: 30px;
      transform: rotate(145deg);
    }
    .bubble-arrow.alt:after {
      transform: rotate(45deg) scaleY(-1);
    }
  }
}

.answer-bubble {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 15px 15px 0px 15px;
  padding: 8px;
  font-size: 12px;
  font-weight: 400;
}

.first-answer-bubble {
  background-color: #75d5fd;
}

.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  border-radius: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 6px 0;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* NK start CUSTOM SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* width: 10px !important; */
}
/* NK end CUSTOM SCROLL BAR */

.background-admin {
  background-image: url('/assets/img/open-book-icon-white-admin.svg'),
    linear-gradient(240deg, rgba(150, 50, 50, 0.6), rgba(0, 0, 200, 0.8)) !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.globalFooterCards .container-xl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px auto;
  padding: 0 5px;
}

a.globalFooterCard.card-subscriptions,
div.globalFooterCard.card-subscriptions {
  color: #24b47e;
}

@media (min-width: 880px) {
  a.globalFooterCard,
  div.globalFooterCard {
    padding-left: 40px;
  }
}

@media (min-width: 670px) {
  a.globalFooterCard,
  div.globalFooterCard {
    -ms-flex-preferred-size: 1%;
    flex-basis: 1%;
    padding-left: 40px;
  }
}

a.globalFooterCard,
div.globalFooterCard {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 15px;
  z-index: 499;
  z-index: calc(500 - 1);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  padding: 40px 40px 40px 40px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  -webkit-transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: color, background-color, box-shadow, transform;
  transition-property: color, background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

.common-Link {
  color: #6772e5;
  font-weight: 500;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  cursor: pointer;
}

a.globalFooterCard.card-connect,
div.globalFooterCard.card-connect {
  color: #3297d3;
}

@media (min-width: 880px) {
  a.globalFooterCard,
  div.globalFooterCard {
    padding-left: 40px;
  }
}

a.globalFooterCard:hover, div.globalFooterCard:active, div.globalFooterCard:hover {
    -webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
}

a.globalFooterCard:hover, div.globalFooterCard:hover {
    color: #32325d!important;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

input[type=url]{
      height: 36px;
      font-size: 16px;
      width: 100%;
      margin-bottom: 10px;
      -webkit-appearance: none;
      background: #fff;
      border: 1px solid #d9d9d9 !important;
      border-top: 1px solid #c0c0c0;
      border-radius: 2px; 
      padding: 0 8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      border-radius: 5px;
      background-color: #fff !important;
      border: solid 1px #ddd;
    }
