<!-- <span class="navbar-brand navbar-brand-sidebar-settings" *ngIf="log_type !== LogType.REQUEST"
    [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }"
    [ngClass]="{'is_opened':IS_OPEN_SETTINGS_SIDEBAR, 'is_closed':!IS_OPEN_SETTINGS_SIDEBAR }">

    <div class="chatbot-svg-icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"
            height="29px" width="29px">
            <style type="text/css">
                .st0 {
                    fill: #3C4858
                }
            </style>
            <path class="st0" d="M12,21.9c-1,0-1.8-0.3-2.5-1c-0.7-0.7-1-1.5-1-2.5c0-0.8,0.3-1.6,0.8-2.2c0.5-0.6,1.2-1,1.9-1.2v-2.3H5.5V9H3
                V2.5h6.4V9H7v2.3h10V8.9c-0.8-0.2-1.4-0.6-1.9-1.2c-0.5-0.6-0.8-1.3-0.8-2.2c0-1,0.3-1.8,1-2.5c0.7-0.7,1.5-1,2.5-1
                c1,0,1.8,0.3,2.5,1c0.7,0.7,1,1.5,1,2.5c0,0.8-0.3,1.6-0.8,2.2c-0.5,0.6-1.2,1-1.9,1.2v3.9h-5.7v2.3c0.8,0.2,1.4,0.6,1.9,1.2
                c0.5,0.6,0.8,1.3,0.8,2.2c0,1-0.3,1.8-1,2.5C13.8,21.6,13,21.9,12,21.9z M17.8,7.5c0.5,0,1-0.2,1.4-0.6c0.4-0.4,0.6-0.8,0.6-1.4
                c0-0.5-0.2-1-0.6-1.4c-0.4-0.4-0.8-0.6-1.4-0.6c-0.5,0-1,0.2-1.4,0.6C16,4.5,15.8,5,15.8,5.5c0,0.5,0.2,1,0.6,1.4S17.2,7.5,17.8,7.5
                z M4.5,7.5H8V4H4.5C4.5,4,4.5,7.5,4.5,7.5z M12,20.4c0.5,0,1-0.2,1.4-0.6S14,19,14,18.5s-0.2-1-0.6-1.4c-0.4-0.4-0.8-0.6-1.4-0.6
                c-0.5,0-1,0.2-1.4,0.6S10,17.9,10,18.5s0.2,1,0.6,1.4C11,20.2,11.5,20.4,12,20.4z" />
        </svg>
    </div>
    <span class="chatbot-sidebar-title" *ngIf="IS_OPEN_SETTINGS_SIDEBAR">
        {{'Flows' | translate }} 
    </span>
</span> -->

<div class="main-content" style="padding-top:0px; padding-left: 5px;padding-right: 5px;">
    
    <!-- <div class="page-title--sidebar-settings"
        [ngStyle]="{'left':log_type == LogType.REQUEST ? '25px' : '253px'}"
        [ngClass]="{'page-title--sidebar-settings_opened':IS_OPEN_SETTINGS_SIDEBAR, 'page-title--sidebar-settings_closed':!IS_OPEN_SETTINGS_SIDEBAR }">
        <div class="top-header-wpr" style="display: flex;">
            <div class="top-header-back-icon-wpr" (click)="goBack()">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                    <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
                </svg>
            </div>
            <div class="top-header-page-name-wpr">
                <span *ngIf="log_type === LogType.WEBHOOK">Webhook logs</span>
                <span *ngIf="log_type !== LogType.WEBHOOK">{{'Request' | translate }} logs</span>
            </div>
        </div>
    </div> -->

    <div class="page-title--sidebar-settings"  *ngIf="log_type === LogType.WEBHOOK"
        [ngClass]="{'page-title--sidebar-settings_opened':IS_OPEN_SETTINGS_SIDEBAR, 'page-title--sidebar-settings_closed':!IS_OPEN_SETTINGS_SIDEBAR }"
        style="left: 235px;top: 18px;">
        <span (click)="goBack()" style="cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--icon-color)">
            <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
        </svg>

        </span>
        Webhook logs
    </div>

    <div class="container-fluid" style="padding-left: 5px;padding-right: 5px;">
        <div class="content-wpr" style="display: flex;">

            <appdashboard-bots-sidebar 
                *ngIf="log_type !== LogType.REQUEST"
                [allTemplatesCount]="allTemplatesCount"
                [allCommunityTemplatesCount]="allCommunityTemplatesCount"
                [customerSatisfactionTemplatesCount]="customerSatisfactionTemplatesCount"
                [increaseSalesTemplatesCount]="increaseSalesTemplatesCount" 
                [chatBotCount]="chatBotCount"
                [myChatbotOtherCount]="myChatbotOtherCount"
                [automationsCount]="automationsCount" 
                [flowWebhooksCount]="flowWebhooksCount"
                [customerSatisfactionBotsCount]="customerSatisfactionBotsCount"
                [increaseSalesBotsCount]="increaseSalesBotsCount">
            </appdashboard-bots-sidebar>

            <div class="teplate-content" style="flex: 1 1 auto; margin-left: 15px; ">
                <div class="row">
                    <div class="col-12">
                        <div class="card card--no-border" style="margin-top: 5px;">
                            <div class="main--wrapper">

                                <div *ngIf="log_type === LogType.WEBHOOK"  class="flow-webhook-detail" style="display: flex; justify-content: space-between; align-items: center;">
                                    <div class="flow-webhook-detail-left">
                                        <div class="flow-webhook-header">
                                            <div class="flow-webhook-name">
                                                {{currentWH?.name }}
                                            </div>
                                        </div>
                                        <div class="flow-webhook-meta-wpr">
                                            <div class="flow-webhook-meta" style="margin-top: 6px;">
                                                <div class="flow-webhook-url-wpr">
                                                    <div class="flow-webhook-url">
                                                        <span id="webhook-text">{{ webhookURL }}</span>
                                                    </div>
                                                    <!-- Copy Icon -->
                                                    <div class="copy-container" (click)="copyToClipboard($event)">
                                                        <span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="14px"
                                                                viewBox="0 0 24 24" width="14px" fill="#3ea9f5"
                                                                style="cursor: pointer;">
                                                                <path d="M0 0h24v24H0V0z" fill="none" />
                                                                <path
                                                                    d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z" />
                                                            </svg>
                                                            <span class="copy--tooltip" *ngIf="copied">{{'Copied' | translate}}!</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flow-webhook-detail-right">
                                        <div class="wh-onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="wh-onoffswitch-checkbox"
                                                id="whonoffswitch" tabindex="0" [checked]="currentWH?.enabled"
                                                (change)="webhookOnOff($event, currentWH?.webhook_id)">
                                            <label class="wh-onoffswitch-label" for="whonoffswitch">
                                                <span class="wh-onoffswitch-inner"></span>
                                                <span class="wh-onoffswitch-switch"></span>
                                            </label>
                                        </div>

                                        <div class="wh-btn-delete-wpr">
                                            <button class="btn btn-round-red delete-flow-wh"
                                                (click)="$event.stopPropagation();deleteWebhook(currentWH?.webhook_id)">
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="22px"
                                                        viewBox="0 -960 960 960" width="22px" fill="none">
                                                        <path d="m376-300 104-104 104 104 56-56-104-104 104-104-56-56-104 104-104-104-56 56 104 104-104 104 56 56Zm-96 180q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520Zm-400 0v520-520Z"></path>
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>
                                    </div>

                                </div>

                                <div *ngIf="log_type === LogType.REQUEST" class="request-detail" style="display: flex; justify-content: space-between; align-items: center;">
                                    <div class="request-detail-left">
                                        <div class="request-detail-header">
                                            <div class="request-detail-title">
                                                {{currentRequest?.title}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- ------------------------------------------------------------ -->
                                <!-- Logs -->
                                <!-- ------------------------------------------------------------ -->
                                <div class="logs-section" style="padding: 0px 12px; margin-top: 40px;">
                                    <div class="logs-filter-wrapper">
                                        <div class="logs-filters-left">
                                            <div class="logs-filter-label-wpr">

                                                <div class="logs-label">
                                                    Logs
                                                </div>
                                            </div>

                                        </div>
                                        <div class="chevron">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="66" height="35"
                                                viewBox="0 0 66 66" preserveAspectRatio="none" style="height: 100%;">
                                                <polygon class="a" points="29 66 28 66 38 33 28 0 29 0 39 33 29 66"
                                                    fill="#e6e9ed">
                                                </polygon>
                                            </svg>
                                        </div>
                                        <div class="logs-filters-right">
                                            <!-- <div class="logs-label">Level:</div> -->
                                            <ng-select class="custom--input loglevel-select" [clearable]="false"
                                                [(ngModel)]="selectedLogLevel" (ngModelChange)="onLogLevelChange(selectedLogLevel)" dropdownPosition="bottom"
                                                [searchable]="false"
                                                style="width: 90px;">
                                                <ng-option *ngFor="let level of logLevels" [value]="level.value">{{ level.label }}</ng-option>
                                            </ng-select>
                                            <!-- <span>{{ selectedLogLevel }}</span> -->
                                        </div>

                                    </div>


                                  

                                    <!-- <div id="cds_widget_log" class="cds-widget-log-container">

                                        <div class="content-log" (wheel)="onWheel($event)">

                                            <div *ngFor="let log of listOfLogs; let i = index;" class="row-log"
                                                [class.closed]="!log.open">
                                                <span [id]="'row-log-button_'+i"
                                                    class="row-log-button material-icons-outlined"
                                                    [class.open]="log.open"
                                                    (click)="onToggleRowLog(i)">chevron_right</span>
                                                <span class="row-log-time">
                                                    {{log.rows?.timestamp | date: 'dd/MM/yyyy HH:mm:ss'}}
                                                </span>
                                                <span class="row-log-level" [ngClass]="log.rows?.level">
                                                    {{log.rows?.level}}
                                                </span>
                                                <span [id]="'row-log-text_'+i" class="row-log-text">
                                                    {{log.rows?.text}}
                                                </span>
                                            </div>
                                            <div *ngIf="loadingNext" class="row-log-loading">
                                                <div class="loading-loader"></div>
                                                <span class="loading-label">

                                                    Loading after
                                                    <span *ngIf="listOfLogs?.length">
                                                        {{listOfLogs[listOfLogs.length - 1]?.rows?.timestamp | date:
                                                        'dd/MM/yyyy HH:mm:ss'}}
                                                    </span>
                                                </span>

                                            </div>

                                        </div>
                                    </div> -->



                                    <!-- <div id="cds_widget_log" class="cds-widget-log-container">
                                        <div class="content-log" (wheel)="onWheel($event)">
                                            <div class="log--row" *ngFor="let log of listOfLogs; let i = index;"  (click)="onToggleLog(i)">
                                                <div class="log--col-time"> {{log.rows?.timestamp | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
                                                <div class="log--col-level" [ngClass]="log.rows?.level"> {{log.rows?.level}}</div>
                                                <div [id]="'log--col-message_'+i" class="log--col-message" [class.expanded]="expandedLogs.has(i)">
                                                    {{log.rows?.text}}
                                                </div>
                                            </div>
                                            <div *ngIf="loadingNext" class="row-log-loading">
                                                <div class="loading-loader"></div>
                                                <span class="loading-label">
                                                    Loading after
                                                    <span *ngIf="listOfLogs?.length">
                                                        {{listOfLogs[listOfLogs.length - 1]?.rows?.timestamp | date:
                                                        'dd/MM/yyyy HH:mm:ss'}}
                                                    </span>
                                                </span>
                                    
                                            </div>
                                        </div>
                                    </div> -->
                     

                                    <!-- ---------------------------------- -->
                                    <!-- Test as bt -->
                                    <!-- ---------------------------------- -->
                                    <div id="cds_widget_log" class="cds-widget-log-container">

                                        <div class="content-log" [ngStyle]="{'min-height': '100px', 'display': listOfLogs.length === 0 ? 'flex' : 'none', 'align-items': 'center', 'justify-content': 'center', 'flex-direction': 'column', 'gap':'0px'}">
                                            <span class="no-logs-title">No logs available</span>
                                            <button (click)="getStaticLastLogs()" class="btn btn-refresh-log" title="Refresh logs">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#3ea9f5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M23 4v6h-6M1 20v-6h6M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                                            </button>
                                        </div>

                                        <div class="content-log" *ngIf="listOfLogs.length > 0" (wheel)="onWheel($event)">
                                            
                                            <div *ngIf="loadingPrev" class="row-log-loading" style="text-align:center; padding: 10px 0;">
                                                <div class="loading-loader"></div>
                                                <span class="loading-label">
                                                    Loading previous logs...
                                                    <span *ngIf="listOfLogs?.length">
                                                        {{ listOfLogs[0]?.rows?.timestamp | date: 'dd/MM/yyyy HH:mm:ss' }}
                                                    </span>
                                                </span>
                                            </div>

                                            <div *ngFor="let log of listOfLogs; let i = index;" class="log--row" [class.closed]="!log.open">
                                                <span    
                                                    [id]="'row-log-button_'+i"
                                                    class="material-icons-outlined row-log-button"
                                                    [class.open]="expandedLogs.has(i)"
                                                    (click)="onToggleLog(i)">
                                                    chevron_right
                                                </span>
                                                <div class="log--col-time2 row-log-time">
                                                    {{ log.rows?.timestamp | date: 'dd/MM/yyyy HH:mm:ss' }}
                                                </div>
                                                <div class="log--col-level2 row-log-level" [ngClass]="log.rows?.level">
                                                    {{ log.rows?.level }}
                                                </div>
                                                <div [id]="'row-log-text_'+i" class="log--col-message2 row-log-text" [class.expanded]="expandedLogs.has(i)">
                                                    {{ log.rows?.text }} 
                                                    <div *ngIf="expandedLogs.has(i)"><b>request id: </b>{{ log?.request_id }}</div> 
                                                </div>
                                            </div>


                                            
                                            <div *ngIf="loadingNext" class="row-log-loading">
                                                <div class="loading-loader"></div>
                                                <span class="loading-label">
                                                    Loading after logs...
                                                    <span *ngIf="listOfLogs?.length">
                                                        {{ listOfLogs[listOfLogs.length - 1]?.rows?.timestamp | date: 'dd/MM/yyyy HH:mm:ss' }}
                                                    </span>
                                                </span>
                                            </div>


                                        </div>
                                    </div>



                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>