@import "../../../assets/sass/md/_variables.scss";
@import "./src/assets/sass/_spinner-section.scss";
@import "./src/assets/sass/_animations.scss";


//---------------------//
// STRUCTURE
//---------------------//
.activate-appsumo-product {
  animation: none !important;
  /**  local variables **/ 
  --width-col-rigth: 360px;
  //----------------------------------//
  font-family: $mdb-font-family-poppins;
  background: white;
  width: 100%;
  margin: 0px; 
  padding: 0px;
  display: flex;
  //---------------------//
  // STRUCTURE
  //---------------------//
  .col-left {
    min-height: 100vh;
    height: auto;
    background: white;
    // width: calc(100% - var(--width-col-rigth));
    width: 100%;
    position: relative;
    float: left;
    padding: 100px 60px 60px;
    z-index: 20;
  }
  .col-right {
    min-height: 100vh;
    height: auto;
    // width: var(--width-col-rigth);
    width: 100%;
    position: relative;
    float: left;
    overflow: hidden;
    z-index: 10;
  }  

  .lft-col-left {
    background: white;
    // width: 50%;
    position: relative;
    float: left;
    margin:0;
    padding: 0;
    padding-right: 10px;
  }
  .rgh-col-right {
    width: 50%;
    position: relative;
    float: left;
    margin:0;
    padding: 0;
  }
  //---------------------//

  .logo {
    position: absolute;
    width: 150px;
    top: 20px;
    left: 20px;
    z-index: 9999;
  }
  .title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3em;
    margin-top: 10px;
    margin-bottom: 0.5em;
    span {
      display: "block";
    }
  }
  .pre-title {
    color: $black-input-color;
    position: relative;
    line-height: normal;
    margin: 0 0 0.5em;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
  }
  .description {
    margin-top: 0px; 
    color: #525f7f; 
    font-size: 14px; 
    font-weight: 400;
  }

  // .close-wizard-page {
  //   text-align: left;
  //   height: 66px;
  //   position: absolute;
  //   top: 20px;
  //   right: 20px;
  //   margin-left: -100%;
  //   color: $white;
  //   z-index: 9999;
  //   .close-btn {
  //     font-size: 60px;
  //     font-weight: 100;
  //     color: $white;
  //     cursor: pointer;
  //     opacity: 0.8;
  //   }
  //   .close-btn:hover {
  //     opacity: 0.5;
  //   }
  // }


  // ANIMATIONS //
  .fade-in-right {
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
            animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
  }
  .fade-in-left {
    -webkit-animation: fade-in-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
            animation: fade-in-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
  }


  /** START DISPLAY_SPINNER_SECTION */
  .loading-section {
    display: flex;
    flex-flow: column;
    // .images-wrapper {
    //   left: 50%;
    //   position: absolute;
    //   top: 50%;
    //   transform: translate(-50%, -50%);
    //   border-radius: 50%;
    //   background-color: #fff;
    //   height: 112px;
    //   overflow: hidden;
    //   width: 112px;
    //   margin-left: 0px;
    //   margin-top: -55px;
    // }
  }


  // .wizard-success-container {
  //   align-items: center;
  //   display: flex;
  //   flex-direction: column;
  //   position: absolute;
  //   margin-top: 8px;
  //   top: 50%;
  //   left: 0;
  //   right: 0;
  //   margin-left: 0px;

  //   .success-label {
  //     color:#70b665;
  //     .wizard-span-processing-msg {
  //       font-size: 18px;
  //       top: 2px;
  //       position: relative;
  //     }
  //     .wizard-span-success-msg {
  //       font-size: 18px;
  //       top: 2px;
  //       position: relative;
  //       margin-left: 8px;
  //     }
  //   }
  //   /** END DISPLAY_SPINNER_SECTION */
    
  // }


  /** **/
  @media (max-width: 992px) {
    .col-left {
      width: 100%;
    }
    .col-right {
      display: none;
    }

    .close-wizard-page {  
      .close-btn {
        color: $black-color;
      }
    }
  }
}




$color-pro-plan: #3ea9f5;

.logo_on_rocket {
  max-width: 34px;
  height: auto;
  padding-top: 25px;
  float: right;
  position: absolute;
  z-index: 1050;
  right: 176px;
  bottom: 323px;
  -webkit-transform: rotate(30deg);
  transform: rotate(-30deg);
}

.razzo_wizard_script {
  max-width: 639px;
  height: auto;
  padding-top: 25px;
  float: right;
  position: absolute;
  z-index: 1050;
  right: -80px;
  bottom: 200px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

@media (min-width: 992px) {
  .wizard-bckgrnd {
    // background-size: 475px 449px, 188px 100%, 179px 100%;
    // background-size: 199px 449px, 188px 100%, 179px 100%;
    background-size: 375px 100%, 188px 100%, 179px 100%;
    background-position: right -12px bottom, right, calc(100% - 179px);
    // background-repeat: repeat-y;
    background-repeat: no-repeat;

    background-image: linear-gradient(to bottom, #1a73e8 0%, $color-pro-plan 100%),
      linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #eff2f6 50%, #eff2f6 100%);
  }
}

@media (max-width: 992px) {
  .razzo_wizard_script {
    display: none;
  }
  .logo_on_rocket {
    display: none;
  }
}

.install-widget-page-title {
  margin-top: 10px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 36px;
}

@media (max-width: 510px) {
  .install-widget-page-title {
    font-size: 24px;
  }
}

pre {
  font-family: monospace;
  background-color: #fff;

  // margin: 4em auto;
  // padding: 0.5em;
  border: none;
  // border-radius: 0.25em;
  border-radius: 0.25em 0.25em 0px 0px;
  // box-shadow: .1em .1em .5em rgba(0,0,0,.45);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  line-height: 0;
  counter-reset: line;

  span {
    display: block;
    line-height: 2.1rem;

    &:before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 0.5em;
      margin-right: 0.5em;
      color: #039be5;
      // background: #f2feef;
      background: rgba(3, 155, 229, 0.1);
      width: 30px;
      text-align: end;
    }
  }
}

.ng-select.select-language-in-wizard .ng-select-container {
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-bottom-color: #3ea9f5;
  border-radius: 0;
  height: 50px;
  line-height: 1.5em;
}

.ng-select.select-language-in-wizard {
  font-size: 18px;
}

.unchecked-color:hover {
  transform: scale(1.1);
}

.checked-color:after {
  // border: red 2px solid;
  content: "\f00c";
  position: absolute;
  font-family: FontAwesome;
  right: -3px;
  border-radius: 50px;
  background: #4caf50;
  color: #fff;
  padding-left: 3px;
  // padding-right: 3px;
  height: 20px;
  width: 20px;
}

.configure-widget-palette {
  height: 34px;
  width: 34px;
  // border-radius: 50%;
  margin-right: 10px;
  // border: 1px solid #eee;
  cursor: pointer;
  float: left;
  top: 1px;
  left: 1px;
  border-right: 1px solid #e5effe !important;
}

.no-top-padding {
  margin-top: 0px !important;
}

.wizard-control-label {
  margin-top:6px !important;
  color: #3c4858 !important;
}

.close-wizard-page {
  text-align: left;
  height: 66px;
  position: absolute;
  top: 20px;
  right: 20px;
  margin-left: -100%;
  color: $white;
  z-index: 9999;

  .close-btn {
    font-size: 60px;
    font-weight: 100;
    color: $white;
    cursor: pointer;
    opacity: 0.8;
  }

  .close-btn:hover {
    opacity: 0.5;
  }

}

.blank-span-h24 {
  display: block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
}


.oval-thought-border {
  position: relative;
  padding: 70px 30px;
  margin: 1em auto 80px;
  border: 6px solid #f0806f;
  text-align: center;
  color: #333;
  background: transparent;
  border-top-left-radius: 240px 140px;
  border-top-right-radius: 240px 140px;
  border-bottom-right-radius: 240px 140px;
  border-bottom-left-radius: 240px 140px;
  -webkit-border-top-left-radius: 240px 140px;
  -webkit-border-top-right-radius: 240px 140px;
  -webkit-border-bottom-right-radius: 240px 140px;
  -webkit-border-bottom-left-radius: 240px 140px;
  -moz-border-radius: 240px / 140px;
  border-radius: 240px / 140px;
}

.oval-thought-border:before {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: -40px;
  right: 100px;
  width: 50px;
  height: 50px;
  border: 6px solid #f0806f;
  background: transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  display: block;
}

.oval-thought-border:after {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: -60px;
  right: 50px;
  width: 25px;
  height: 25px;
  border: 6px solid #f0806f;
  background: transparent;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  display: block;
}

.link-to-payments {
  color: #03a5e8;
  cursor: pointer;
}

.link-to-payments:hover {
  text-decoration: underline;
}

.link-to-contact-us {
  color: #03a5e8;
  cursor: pointer;
}

.link-to-contact-us:hover { 
  text-decoration: underline;
}


/* New
/* ------------------------------------------ */
.pricing-page-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding: 0px 0px 32px;
}

.pricing-page {
  width: 100%;
  margin-right: 40px;
}

.pricing-page-header-wpr {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  gap: 0px;
  align-items: flex-start;
  margin-top: 40px;
  min-height: 78px;
}

.pricing-page-header-title-wpr {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.pricing-page-header-title {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

.pricing-page-header-title-text {
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-family: "Poppins","Roboto", "Arial", sans-serif;
}

.pricing-page-header-period-switch-wpr {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgb(8, 15, 26);
  -webkit-box-flex: 0;
  flex-grow: 0;
  -webkit-box-align: center;
  align-items: center;
}

.pricing-page-header-period-switch {
  background-color: rgba(100, 116, 145, 0.08);
  border-radius: 26px;
  padding: 4px;
  height: 50px;
}

.period-btn {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  padding: 0px 14px;
  border: 0px;
  background-color: transparent;
  height: 100%;
  border-radius: 22px;
  font-weight: 500;
  color: rgb(8, 15, 26);
  cursor: pointer;
}

.selected-period-btn {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  padding: 0px 14px;
  border: 0px;
  height: 100%;
  border-radius: 22px;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(5, 102, 255);
  box-shadow: rgb(0 27 71 / 8%) 0px 3px 8px;
}

.plan-switch-wpr {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgb(8, 15, 26);
  -webkit-box-flex: 0;
  flex-grow: 0;
  -webkit-box-align: center;
  align-items: center;
}

.plan-switch-btns-wpr {
  background-color: rgba(100, 116, 145, 0.08);
  border-radius: 26px;
  padding: 4px;
  height: 50px;
}

.plan-btn {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  padding: 0px 14px;
  border: 0px;
  background-color: transparent;
  height: 100%;
  border-radius: 22px;
  font-weight: 500;
  color: rgb(8, 15, 26);
  cursor: pointer;
}

.selected-plan-btn {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  padding: 0px 14px;
  border: 0px;
  height: 100%;
  border-radius: 22px;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(5, 102, 255);
  box-shadow: rgb(0 27 71 / 8%) 0px 3px 8px;
}

.span-24 {
  display: block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
}

.plan-card-wpr {
  background-color: rgb(255, 255, 255);
  padding: 32px 40px;
  color: rgb(100, 116, 145);
  display: flex;
  flex-direction: row;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-radius: 8px;
  border: 2px solid rgb(239, 242, 246);
  gap: 40px;
}

.plan-card-left-content {
  flex: 1 1 0%;
}
.plan-card-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.01em;
  color: rgb(8, 15, 26);
  font-family: "Poppins","Roboto", "Arial", sans-serif;
}
.span-8 {
  display: block;
  width: 8px;
  min-width: 8px;
  height: 8px;
  min-height: 8px;
}

.plan-description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgb(100, 116, 145);
}

.span-32 {
  display: block;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
}

.span-4 {
  display: block;
  width: 4px;
  min-width: 4px;
  height: 4px;
  min-height: 4px;
}

.plan-features {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
  max-height: none;
  flex: 1 1 calc(50% - 20px);
  // max-width: calc(50% - 20px);
  padding-left: 0px;
  padding-bottom: 0px !important;
}

.plan-features-wpr {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  width: 100%;
}

.plan-features::before {
  content: unset !important;
}

.plan-features-text-and-icon-wpr {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

.plan-features-icon {
  background: rgb(220, 233, 255);
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.span-16 {
  display: block;
  width: 16px;
  min-width: 16px;
  height: 16px;
  min-height: 16px;
}

.plan-features-text {
  color: rgb(8, 15, 26);
  position: relative;
  padding-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
}

.check-icon {
  fill: rgb(5, 102, 255);
  color: rgb(5, 102, 255);
}

.plan-card-vertical-line {
  background: rgb(239, 242, 246);
  width: 1px;
  display: flex;
}

.plan-card-right-content {
  flex-direction: column;
  align-items: normal;
  width: 180px;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
}

.plan-card-price-wpr {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  pointer-events: none;
}

.plan-card-price {
  height: auto;
  position: relative;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.02em;
  color: rgb(8, 15, 26);
  font-weight: 500;
}

.plan-card-currency {
  position: absolute;
  top: 7px;
  margin-left: 4px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  font-weight: 500;
}

.plan-card-price-period {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgb(8, 15, 26);
  font-weight: 500;
  margin-left: 4px;
}

.span-12 {
  display: block;
  width: 4px;
  min-width: 4px;
  height: 4px;
  min-height: 4px;
}

.btn-size-xl-round {
  border-radius: 26px;
  font-size: 18px;
  height: 46px;
  line-height: 23px;
  min-width: 160px;
  padding: 0 20px;
  text-transform: unset;
  font-weight: 400;
  box-shadow: unset;
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
}

.btn-new {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
.btn--primary {
  background-color: var(--blue-light);
  border-color: var(--blue-light);
  color: #fff;
}

.btn--primary:hover {
  background-color: var(--blue-light);
  border-color: var(--blue-light);
  color: #fff;
}

.btn-text {
  text-transform: none;
  font-weight: 300;
}

.checkout-btn-wpr {
  display: flex;
  justify-content: center;
}

.two-months-free-text-container {
  height: 26px;
  margin-top: 6px;
  // background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  background: linear-gradient(90deg, hsl(269, calc(1 * 52.7%), 52.7%), hsl(325, calc(1 * 31.7%), 51.8%));
  // background: #0566ff;
  color: #fff;
  font-weight: 400;
  padding: 3px 6px;
  border-radius: 4px;
}

.highlighted-features-wpr {
  display: flex;
  /* flex-flow: row wrap; */
  /* -webkit-box-align: center; */
  /* margin: -3px -2px; */
  /* flex: 1 1 0%; */
  align-items: center;
  /* justify-content: flex-start; */
  /* transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1) 0s; */
  gap: 12px;
  flex-direction: row;
}

.highlighted-features {
  border-radius: 4px;
}

.highlighted-feature {
  padding: 0px 6px;
  font-size: 14px;
  font-weight: 400;
}



