@import "../../_variables.scss";

// .card-tools {
//     background-color: rgba($bg-color-card-rgb);
//     // padding: 2em;
//     border-radius: 1em;
//     max-height: 100%;
//     overflow-x: hidden;
//     overflow-y: auto;

//     font-family: 'Poppins','Roboto', 'Arial', sans-serif;
//     color: #394f5a; 
//     font-size: 16px;
//     padding: 20px 20px;
//     z-index: 14;

// }

.card-title {
    font-size: 1em;  
    color: rgb(59 130 246);
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

.add-responses {
    grid-gap: 15px;
    display: grid;
    .add-response {
        text-align: center;
        cursor: pointer;
        box-sizing: border-box;
        margin: 0;
        outline: none;
        padding: 0;
        i {
            align-items: center;
            border: 1px solid rgba(241, 245, 249, 0.12);
            border-radius: 4px;
            color: rgb(148 163 184); // #59687b;
            display: flex;
            font-size: 1.5em;
            justify-content: center;
            padding: 8px;
            width: 100%;
        }
        span {
            color:rgb(148 163 184); //#59687b;
            font-size: 0.8em;
            font-weight: 600;
            line-height: 19px;
        }
    }
}
