<p style="z-index: 1050;position: relative;  padding-left:30px" class="navbar-brand"
  [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }">
  {{ 'Support' | translate }}
</p>

<div class="main-content" style="padding-top:0px;padding-left:0px; padding-right:0px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">


        <div class="container-fluid">
            <div class="card-container">
              
                
                <div class="support-card">
                    <label class="title-label">
                        {{'SelfService' | translate }}
                        
                    </label>
                    <div class="section-wrp">
                        <div class="support-card-item" *ngFor="let item of SUPPORT_OPTIONS['SELF_SERVICE']" (click)="onCardItemClick(item, 'SELF_SERVICE')">
                            <div class="section-info">
                                <div class="section-icon">
                                    <span class="material-icons-outlined" *ngIf="!item.localIcon">{{item.icon}}</span>
                                    <img class="icon" *ngIf="item.localIcon" [src]="item.icon"/>
                                </div>
                                <div class="section-text">
                                    <div class="support-title">{{item.label | translate}}</div>
                                    <div class="support-description">{{item?.description | translate }}</div>
                                </div>
                            </div>
                            <div class="section-icon">
                                <span class="material-icons-outlined">open_in_new</span>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="support-card">
                    <label class="title-label">
                        
                        {{'ContactUs' | translate }}
                    </label>
                    <div class="section-wrp">
                        <div class="support-card-item"  *ngFor="let item of SUPPORT_OPTIONS['CONTACT_US']" (click)="onCardItemClick(item, 'CONTACT_US')">
                            <div class="section-info">
                                <div class="section-icon">
                                    <span class="material-icons-outlined" *ngIf="!item.localIcon">{{item.icon}}</span>
                                    <img class="icon" *ngIf="item.localIcon" [src]="item.icon"/>
                                </div>
                                <div class="section-text">
                                    <div class="support-title">{{item.label | translate}}</div>
                                    <div class="support-description">{{item?.description | translate }}</div>
                                </div>
                            </div>
                            <div class="section-icon">
                                
                                <span *ngIf="item.label !== 'DiscordChannel'" class="material-icons-outlined">chevron_right</span>
                                <span *ngIf="item.label === 'DiscordChannel'" class="material-icons-outlined">open_in_new</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





      </div>
    </div>
  </div>
</div>
