
@import "./src/assets/sass/cds/_variables.scss";
$max-height: 230px;

.response-frame-wrapper {
    position: relative;
    display: inline-block;
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0;
    overflow: visible;
    max-width: calc(100% - 40px);
    width: auto;
    min-height: 140px;
}
.response-frame-panel {
    border: 2px dashed #eeeef1;
    border-radius: 6px;
    display: flex;
    font-size: 16px;
    padding: 10px 20px 20px;
    text-align: center;
    margin: 0;
    position: relative;
    width: calc(100% - 30px);
}


.frame-panel {
    position: relative;
}

.text-editable-div {
    margin-left: 20px;
    display: block;
    margin-top: 0px;
    margin-left: 30px;
    width: calc(100% - 66px);
}
// .frame-panel {
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     z-index: 1;
//     border-radius: 8px;
//     margin: 0px;
//     padding: 0;
//     // &:hover{
//     //     background-color: #006cffc9;
//     //     transition: background-color 0.3s ease-in;
//     //     .frame-response {
//     //         display: inline-block;
//     //     }
//     // }
// }
.bck-frame{
    background-color: #006cffc9;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




.response-frame-uploader-overlay {
    background: #f0f4f7;
}

.response-frame-uploader label {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.response-frame-uploader label input {
    display: none;
}


.extensions-response {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 27px 0px 0px 0px;
    padding: 0px 33px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    .delay-wrapper,
    .filter-wrapper {
        display: block;
        height: auto;
        width: auto;
        // padding: 0em 0.75em 0;
    }
}

.frame-response {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    max-width: 100%;
    .text-editor-wrapper {
        .text-editor {
            position: relative;
            margin: 0;
            padding: 0;

            .response-controls {
                position: absolute;
                top: 10px;
                left: 0px;
                opacity: 1;
                transition: opacity 0.3s ease-in-out;
                .control-button {
                    cursor: pointer;
                    color: $color-bck-gray-hex;
                    transition: color .3s;
                    height: 20px;
                    &.delete{
                        height: 24px;
                        width: 24px;
                        background: $color-bck-gray-hex;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        em {
                            font-size: 1.15em;
                            color: $color-withe-hex;
                            transition: color .3s;
                        }
                    }
                }
                .control-button:hover{
                    color: $color-withe-hex;
                    &.delete{
                        box-shadow: 0 2px 6px 0 rgb(255 255 255 / 15%);
                        em {
                            color: $color-red-hex;
                        }
                    }
                }
            }

            .box-textarea {
                width: calc(100% - 40px);
                margin-left: 20px;
                textarea {
                    border-radius: 8px;
                    background: $color-withe-hex;
                    border: 1px solid $color-withe-hex;
                    overflow-x: hidden;
                    overflow-y: auto;
                    width: calc(100% - 2.5em);
                    padding: 20px 20px;
                    color: $color-text-dark-hex;
                    font-size: 1.15em;
                    line-height: 25px;
                    resize: vertical;
                }
            }

            .text-editor-drop {
                position: absolute;
                display: inline-flex;
                margin: 0;
                left: 0;
                top: -30px;
                color: #dcdcdc;
                cursor: grab;
            }
        }

        .editor-utils {
            position: relative;
            margin: -20px 50px 0px 0px;
            float: right;
            .num-chars {
                background: $color-light-gray-hex;
                padding: 0px 8px;
                border-radius: 12px;
                font-size: 0.8em;
                color: $color-text-box-hex;
                float: right;
                &.error {
                    background: $color-orange-hex;
                }
            }
            .text-editor-insert-attribute {
                float: right;
            }
            .moji-picker {
                float: right;
            }
        }
    }
}


.frame-response:hover {
    .text-editor-wrapper .text-editor {
        .response-controls {
            opacity: 1;
        }
    }
}



.content-frame {
    display: flex;
    #contentFrame {
        position: relative;
        border-radius: 6px;
    }
    .control-button {
        &.delete {
            position: absolute;
            top: 0px;
            right: 0px;
            margin-right: 0px;
            opacity: 0;
            color: $color-withe-hex;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
    }
    &:hover{
        .control-button {
            &.delete {
                margin-right: -24px;
                opacity: 1;
            }
        }
    }
}



