<p style="margin-top:10px; padding-left:30px" class="navbar-brand">{{ "Users" | translate }}</p>
<div class="main-content" style="padding-top:0px">
  <div class="container-fluid">

    <div class="create" style="text-align: right!important; padding-top:5px; padding-bottom:0px">

      <!-- the invite button is displayed for non-agent roles -->
      <button *ngIf="USER_ROLE !== 'agent'" class="btn btn-info" style="padding-left:8px; padding-right: 16px;" (click)="goToAddUser()">
        <span class="icon" style="padding-right:8px">
          <i class="material-icons">person_add</i>
        </span>
        {{ "UsersPage.Invites" | translate }}
      </button>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <loading-spinner *ngIf="showSpinner"></loading-spinner>

          <div *ngIf="!showSpinner" class="card-content table-responsive">

            <table class="table table-hover">
              <thead>
                <tr>
                  <!-- FOR DEBUG: ID OF THE PROJECT-USER  -->
                  <!-- <th>
                    <span style="color: #566787">
                      <strong>
                        Project_User Id
                      </strong>
                    </span>
                  </th> -->

                  <th>
                    <span style="color: #566787">
                      <strong>
                        {{ "UsersPage.User" | translate }}
                      </strong>
                    </span>
                  </th>

                  <th>
                    <span style="color: #566787">
                      <strong>
                        {{ "UsersPage.Role" | translate }}
                      </strong>
                    </span>
                  </th>

                  <th>
                    <span style="color: #566787">
                      <strong>
                        Email
                      </strong>
                    </span>
                  </th>

                  <!-- OLD: AVAILABLE / UNAVAILABLE INDICATOR -->
                  <!-- <th>
                    <span style="color: #566787">
                      <strong>
                        {{ "UsersPage.Available" | translate }}
                      </strong>
                    </span>
                  </th> -->

                  <!-- SWITCH BTN AVAILABLE / UNAVAILABLE  -->
                  <th>
                    <span style="color: #566787">
                      <strong>
                        {{ "UsersPage.Available" | translate }}
                      </strong>
                    </span>
                  </th>

                  <!-- FOR DEBUG: USER ID -->
                  <!-- <th>
                    <span style="color: #566787">
                      <strong>
                        {{ "UsersPage.UserId" | translate }}
                      </strong>
                    </span>
                  </th> -->

                  <th>
                    <span style="color: #566787">
                      <!-- Actions -->
                      <strong>
                        {{ "UsersPage.Actions" | translate }}
                      </strong>
                    </span>
                  </th>

                </tr>

              </thead>

              <tbody>

                <tr *ngFor="let projectUser of projectUsersList">
                  <!-- FOR DEBUG: ID OF THE PROJECT-USER  -->
                  <!-- <td>
                    {{ projectUser?._id }}
                  </td> -->

                  <td (click)="goToMemberProfile(projectUser?.id_user?._id)" style="cursor:pointer">
                    <span class="tooltipx">
                      {{ projectUser?.id_user?.firstname }}
                      <span style="text-transform: uppercase"> 
                        {{ projectUser?.id_user?.lastname }} 
                      </span>
                      <span class="tooltiptext">
                        {{"UsersPage.ViewProfileUser" | translate }} {{projectUser?.id_user?._id}}
                      </span>

                    </span>
                  </td>

                  <td (click)="goToMemberProfile(projectUser?.id_user?._id)" style="cursor:pointer">
                    <span class="tooltipx">
                      {{ projectUser?.role }}
                      <span class="tooltiptext">
                        {{"UsersPage.ViewProfileUser" | translate }} {{projectUser?.id_user?._id}}
                      </span>
                    </span>
                  </td>

                  <td (click)="goToMemberProfile(projectUser?.id_user?._id)" style="cursor:pointer">
                    <span class="tooltipx">
                      {{ projectUser?.id_user?.email }}
                      <span class="tooltiptext">
                        {{"UsersPage.ViewProfileUser" | translate }} {{projectUser?.id_user?._id}}
                      </span>
                    </span>
                  </td>

                  <!-- OLD: AVAILABLE / UNAVAILABLE INDICATOR -->
                  <!-- <td (click)="goToMemberProfile(projectUser?.id_user?._id)" style="cursor:pointer">
                    <i *ngIf="projectUser?.user_available === true" class="material-icons" style=" font-size: 16px; color: #1eb848; margin-right:0px">fiber_manual_record</i>
                    <i *ngIf="projectUser?.user_available === false" class="material-icons" style=" font-size: 16px; color: #cac9c9; margin-right:0px">fiber_manual_record</i>
                  </td> -->
                  

                  <!-- SWITCH AVAILABLE / UNAILABLE  -->
                  <td>
                    <label class="switch" style="margin-bottom: 0px;">
                      <input type="checkbox" (click)="changeAvailabilityStatus(projectUser?.user_available, projectUser?._id)" [checked]="projectUser?.user_available === true">
                      <span class="slider round"></span>
                    </label>
                  </td>


                  <!-- FOR DEBUG: USER ID -->
                  <!-- <td (click)="goToMemberProfile(projectUser?.id_user?._id)">
                    {{ projectUser?.id_user?._id }}
                  </td> -->

                  <!-- ACTIONS -->
                  <td class="td-actions text-right">
                    <span *ngIf="projectUser?.role !== 'owner' && CURRENT_USER_ID !== projectUser?.id_user?._id">
                      <button type="button" rel="tooltip" title="{{ 'UsersPage.tootipEditUser' | translate }}" class="btn btn-primary btn-simple btn-xs"
                        (click)='goToEditUser(projectUser?._id)'>
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" rel="tooltip" title="{{ 'UsersPage.tootipDeleteUser' | translate }}" class="btn btn-danger btn-simple btn-xs"
                        (click)='openDeleteModal(projectUser?._id, projectUser?.id_user?._id, projectUser?.id_user?.firstname, projectUser?.id_user?.lastname)'>
                        <i class="material-icons">close</i>
                      </button>
                    </span>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============ USERS DELETE MODAL ============ -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}" style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#ff5252;">
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
          <span aria-hidden="true" style="color: #fff">&times;</span>
        </button>

        <h4 class="modal-title" style="color: #fff">
          <i class="material-icons" style="vertical-align: middle">report_problem</i>
          <span style="vertical-align: middle; padding-left:8px">
            {{ "UsersPage.modalDeleteUser" | translate }}
          </span>
        </h4>

        <h4 class="modal-title" style="color: #fff; padding-top:10px; font-size: 1.1em;">
          <!-- Il membro con ID:  -->
          {{ "UsersPage.TheMemberWithId" | translate }}
          <code>{{user_id}}</code>
          {{ "UsersPage.WillBeRemoved" | translate }}
        </h4>

      </div>

      <div class="modal-body">
        <p style="color:rgba(0,0,0,0.87)">
          {{ "UsersPage.AreYouSure" | translate }}
          <b>{{user_firstname}} {{user_lastname }} </b> 
          {{ "UsersPage.FromTheProject" | translate }}?
        </p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-white" (click)="onCloseModal()" style="padding:12px 16px;">
          <!-- Annulla -->
          {{ "UsersPage.Cancel" | translate }}
        </button>
        <!-- Confirm -->
        <button class="btn btn-danger" (click)="onCloseDeleteModalHandled()">
          {{ "UsersPage.modalDeleteUser" | translate }}
        </button>
      </div>


    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>