@import "./src/assets/sass/md/_variables.scss";

/* MODAL START */
// MODAL BOOTSTRAP BREAKPOINTS
// from 992 to 1020px
// @media (min-width: 992px) and (max-width: 1019px){
//     .modal-dialog {
//             margin-left: 33%;
//         }
//     }

//     @media (min-width: 1020px) and (max-width: 1199px) {
//         .modal-dialog {
//             margin-left: 35%;
//         }
//     }

//     @media (min-width: 1200px) and (max-width: 1469px)  {
//         .modal-dialog {
//             margin-left: 37%;
//         }
//     }

//     @media (min-width: 1470px) and (max-width: 1549px) {
//         .modal-dialog {
//             margin-left: 38%;
//         }
//     }

//     @media (min-width: 1550px) and (max-width: 1649px){
//         .modal-dialog {
//             margin-left: 39%;
//         }
//     }
//     @media (min-width: 1650px) {
//         .modal-dialog {
//             margin-left: 40%;
//         }
//     }

.modal {
  top: 0;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

button.close {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.modal-body {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 0px;
  padding-left: 15px;
}

.modal-footer {
  // padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  // background-color: #edf0f1;
  background-color: #eeeeee;
  padding-top: 10px !important;
}

// MODAL TRANSITION

/* MODAL END */

// <!-- SWITCH AVAILABLE / UNAILABLE  -->
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  // height: 34px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  // height: 26px;
  // width: 26px;
  height: 11px;
  width: 11px;
  left: 4px;
  bottom: 4px;
  // background-color: white;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider:before {
  background-color: #1eb848;
}

input:checked+.slider {
  // background-color: #2196F3;
  background: #fff;
}

//   input:focus + .slider {
//     box-shadow: 0 0 1px #2196F3;
//   }

input:checked+.slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// <!-- END SWITCH  -->

// start TOOLTIP
/* Tooltip container */
.tooltipx {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipx .tooltiptext {
  visibility: hidden;
  // width: 120px;
  // background-color: black;
  // background-color: rgba(0,0,0,0.6);
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 12px !important;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* Position the tooltip text - TOP */
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */

  // NEW
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background-color: #394f5a;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipx:hover .tooltiptext {
  visibility: visible;
}

// end TOOLTIP

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
// @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
//   /* Force table to not be like tables anymore */
//   table,
//   thead,
//   tbody,
//   th,
//   td,
//   tr {
//     display: block;
//   }

//   /* Hide table headers (but not display: none;, for accessibility) */
//   thead tr {
//     position: absolute;
//     top: -9999px;
//     left: -9999px;
//   }

//   tr {
//     border: 1px solid #ccc;
//   }

//   td {
//     /* Behave  like a "row" */
//     border: none;
//     border-bottom: 1px solid #eee;
//     position: relative;
//     padding-left: 50%;
//   }

//   td:before {
//     /* Now like a table header */
//     position: absolute;
//     /* Top/left values mimic padding */
//     top: 6px;
//     left: 6px;
//     width: 45%;
//     padding-right: 10px;
//     white-space: nowrap;
//   }
// }
/* END NEW FOR TABLE */

.users-groups-tab {
  color: #fff;
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding-bottom: 8px;
  padding-top: 5px;
  cursor: pointer;
}

.card-header-custom-bckgrnd {
  // display:none;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0px;
  border-radius: 3px 3px 0px 0px;
  // background-color: #f2f6f8;
  background-color: #ffffff;
  // border-bottom: 1px solid #eff3f5;
  padding-top: 12px;
  padding-bottom: 12px;
}

// .btn-primary-custom {
//   margin: 0px;
//   background-color: #039be5;
//   padding: 8px 16px;
//   text-transform: none;
//   text-transform: none;
//   font-size: 14px;
//   font-weight: 500;

//   box-shadow: 0 2px 2px 0 rgba(3, 155, 229, 0.14), 0 3px 1px -2px rgba(3, 155, 229, 0.2),
//     0 1px 5px 0 rgba(3, 155, 229, 0.12) !important;
// }

// .btn-primary-custom:hover {
//   background-color: #039be5 !important;
//   box-shadow: 0 14px 26px -12px rgba(3, 155, 229, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12),
//     0 8px 10px -5px rgba(3, 155, 229, 0.2) !important;
// }

.nav-pills.nav-pills-info.custom>li.active>a,
.nav-pills.nav-pills-info.custom>li.active>a:focus,
.nav-pills.nav-pills-info.custom>li.active>a:hover {
  // background-color: #00bcd4;
  background-color: #039be5 !important;
  -webkit-box-shadow: 0 12px 20px -10px rgba(3, 115, 229, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(3, 115, 229, 0.2) !important;
  box-shadow: 0 12px 20px -10px rgba(3, 115, 229, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(3, 115, 229, 0.2) !important;
}

//Colors
// $background: #fefefe;
// $text: #4b507a;

// $cyan: #60daaa;
// $yellow: #fbca67;
// $orange: #ff8a30;
// $red: #f45e61;
// $blue: #0eb7da;

$f21blue: #039be5;
// Basic styles

// .center {
//   &:hover {
//     color: $f21blue;
//   }

//   // Set up base styles, we're going to scale instead of animating width/height
//   &::before,
//   &::after {
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     transform-origin: center; // Ensure scaling is done from the center (expands outwards)
//   }

//   // scale3d(<scale-horizontal>, <scale-vertical>, <scale-depth>);
//   &::before {
//     // border-top: 2px solid $purple;
//     border-bottom: 3px solid $f21blue;
//     transform: scale3d(0,1,1); // Shrink only width
//   }

//    &:hover::before,
//   &:hover::after {
//     transform: scale3d(1,1,1); // Show full-size
//     transition: transform 0.5s;
//   }
// }

.column-th-span {
  font-size: 14px;
  font-weight: 500;
  color: #353f45;
  // color: #566787;
}

// - start - BOTTOM NAVBAR  //
.bottom-nav {
  background-color: #fff;
  width: 100%;
  // z-index: 1028;
  position: relative;
  top: -5px;
  box-shadow: 0 2px 2px rgba(0, 0, 60, 0.08);
  padding-bottom: 5px;
  float: left;
  height: 50px;
  padding-left: 0px;
  display: flex;
  flex-grow: 1;
}

.bottom-nav li {
  float: left;
  padding: 15px;
  list-style: none;
  position: relative;
  display: block;
  height: 52px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .bottom-nav li {
    z-index: 1049;
  }
}

.bottom-nav li a {
  padding: 18px 15px;
  color: #797979;
  line-height: 20px;
}

.bottom-nav li a:hover {
  text-decoration: none;
  //  background-color: #eee;
}

.li-active {
  border-bottom: 3px solid $brand-primary !important;
  color: $brand-primary !important;
  cursor: default !important;
}

.li-active a {
  color: $brand-primary !important;
}

// $f21blue: $brand-primary;
.btn-with-border-effect {
  background: none;
  border: 0;
  box-sizing: border-box;
  // margin: 1em;
  // padding: 1em 2em;
  //   padding-bottom: 37px;
  font-size: 14px;
  font-weight: 300;

  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.border-from-center {
  &:hover {
    color: $brand-primary;
  }

  // Set up base styles, we're going to scale instead of animating width/height
  &::before,
  &::after {
    //   top: 3px;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center; // Ensure scaling is done from the center (expands outwards)
  }

  // scale3d(<scale-horizontal>, <scale-vertical>, <scale-depth>);
  &::before {
    // border-top: 2px solid $purple;
    border-bottom: 3px solid $brand-primary;
    transform: scale3d(0, 1, 1); // Shrink only width
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1, 1, 1); // Show full-size
    transition: transform 0.5s;
  }
}

@media (max-width: 991px) {
  .bottom-nav {
    top: -2px !important;
  }

  .chart-wrapper {
    margin-top: 60px !important;
  }
}

@media (max-width: 370px) {
  .bottom-nav {
    height: 37px !important;
  }

  .bottom-nav li {
    padding: 6px !important;
    height: 39px;
  }
}

// - end - BOTTOM NAVBAR  //

.msg-alert {
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
  font-weight: 400;
}

// TOOLTIP START
.White__Tooltip {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black;
}

.White__Tooltip .White__Tooltiptext {
  visibility: hidden;
  width: fit-content;
  // background-color: #fff;
  // color: rgba(0,0,0, 0.87);
  text-align: center;
  border-radius: 6px;
  padding: 4px 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  // min-height: 41px;
  line-height: 1.2;
  // font-size: 16px;
  // border: 1px solid #eee;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;

  // NEW
  color: #fff;
  font-size: 14px;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background-color: #394f5a;
}

.White__Tooltip:hover .White__Tooltiptext {
  visibility: visible;
  opacity: 1;
}

// TOOLTIP END

// .broken-image {
//   display: none;
// }

.chat-with-agent {
  color: #7695a5 !important;
  cursor: pointer !important;
  font-size: 16px !important;
  vertical-align: middle !important;
  margin-right: 5px;
}

// IS BUSY
.isBusy {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 109px;
  right: 60px;
}

.user-is-busy {
  background-color: #feb92c;
  color: #fff;
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 16px;
  width: 16px;
  height: 16px;
  // top: 5px;
  // left: 12px;
  bottom: 18px;
  left: 16px;
  border-radius: 9px;
  /* padding: 0 5px; */
  font-size: 11px;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.35);
  z-index: 2;
}

.is-busy-text {
  position: absolute;
  left: -8px;
  margin-top: -35px;
  font-size: 12px;
  font-weight: 400;
}

.user-avatar-wrap {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0 16px;
  height: 56px;
  width: 84px;
  // cursor: pointer;
}

.user-img-in-teammates-list {
  vertical-align: middle;
  width: 64px;
  height: 64px;
  object-fit: cover;
  // height: 52px;
  // border-radius: 50%;
  // border: 1px solid #eee;
 
}

// .altenative-projetuser-avatar {
//   color: #ffffff;
//   line-height: 50px;
//   margin: auto;
//   display: block;
//   font-weight: 400;
//   font-size: 18px;
//   text-align: center;
// }

.is-busy-color-transition {
  color: #fedd00;
  animation: myfirst 5s;
  -moz-animation: myfirst 5s infinite;
  /* Firefox */
  -webkit-animation: myfirst 5s infinite;
  /* Safari and Chrome */
}

@keyframes myfirst {
  0% {
    // background: #4caf50;
    color: #7695a5;
  }

  50% {
    // background: #fedd00;
    color: #fedd00;
  }

  100% {
    // background: #4caf50;
    // color: #1e2129;
    color: #7695a5;
  }
}

/* Firefox */
@-moz-keyframes myfirst {
  0% {
    // background: #4caf50;
    // color: #1e2129;
    color: #7695a5;
  }

  50% {
    // background: #fedd00;
    color: #fedd00;
  }

  100% {
    // background: #4caf50;
    // color: #1e2129;
    color: #7695a5;
  }
}

/* Safari and Chrome */
@-webkit-keyframes myfirst {
  0% {
    // background: #4caf50;
    // color: #1e2129;
    color: #7695a5;
  }

  50% {
    // background: #fedd00;
    color: #fedd00;
  }

  100% {
    // background: #4caf50;
    // color: #1e2129;
    color: #7695a5;
  }
}

// tooltip
.tool__tip {
  display: inline-block;
  position: relative;
  /* border-bottom:1px dotted #666; */
  text-align: left;
}

.tool__tip h4 {
  margin: 3px 0;
  font-size: 13px;
  margin-top: 0px;
}

/* ------------------------
/ tootip top  
/ ---------------------- */
.tool__tip .top {
  min-width: fit-content;
  max-width: fit-content;
  top: -7px;
  left: 50%;
  transform: translate(-30%, -100%);
  padding: 3px 5px;
  color: #ffffff;
  background-color: #394f5a;
  opacity: 1;
  font-weight: normal;
  font-size: 12px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: none;
}

.tool__tip:hover .top {
  display: block;
}

.tool__tip .top i {
  position: absolute;
  top: 100%;
  left: 30%;
  margin-left: -15px;
  width: 30px;
  height: 15px;
  overflow: hidden;
}

.tool__tip .top i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #394f5a;
  opacity: 1;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

/* ./end tootip top  */
// #pu-role {
//   font-weight: 400;
//   font-size: 14px;
// }

// #pu-pending-status > div {
//   font-weight: 400;
//   font-size: 14px;
// }

// #pu-status {
//   margin-top: 4px;
// }

.select-teammate-status {
  height: 20px;
  cursor: pointer;
  border: unset;
  padding: 0 6px;
  text-transform: var(--cl-card-item-stats-values-text-transform);
  // background: rgb(226, 232, 239);
  // border-radius: 15px;
  // text-transform: capitalize;
  // font-weight: 400;
  // text-align: center;
  // font-size: 14px;
  // border-color: #d9d9d9;
  // width: 130px;
  // height: 30px;
}
#pu-status-wpr:hover > div > .select-teammate-status {
  height: 30px;
  background-color: #eef0fc
}
// .select-teammate-status:hover { 
//   height: 30px;
//   // border: 1px solid #eee;
//   background-color: #eef0fc
// }

.is-user-online {
  background-color: #4caf50;
}

.is-user-offline {
  background-color: #f44336;
}

.is-user-inactive {
  background-color: #697482;
}

.teammate-status-icon {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  left: 73px;
  top: 20px;
  width: 14px;
  height: 14px;
  z-index: 2;
  // left: 54px;
  // bottom: 4px;
  // width: 12px;
  // height: 12px;
}



::ng-deep .custom-mat-tooltip {
  background-color: #2d323e !important;
  font-size: 12px !important;
  border-radius: 2px !important;
  font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: #fff !important;
}

.upgrade--plan-btn {
  color: #039be5;
  cursor: pointer;
  background: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  // display: block;
  border: #fff;
  margin-top: 6px;
}

.upgrade--plan-btn:hover {
  background: #e8eaed;
}

// .fa:before {
//     content: "\f2da";
//     display: inline-block;
//     font-family: FontAwesome;
//     position: absolute;
//     right: -1.5em;
//   }

.link-to-teammates-roles-docs>.row {
  background-color: rgb(241, 241, 241);
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 12px;
}

.link-to-teammates-roles-docs>.row > div >a {
  color: #0f62ff !important;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 8px;
}

.link-to-teammates-roles-docs>.row > div >span { 
  margin-left: 15px;
}

.link-to-teammates-roles-docs>.row > div >span > svg{ 
  width: 25px;height:auto; vertical-align: middle;
}

.link-to-teammates-roles-docs>.row > div >a:hover {
  text-decoration: underline;
}