.widget-container {
  width: 371px;
  margin: auto 12%;
}

.td-widget-preview-card {
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 6px 0 rgba(70, 82, 89, 0.1), 0 10px 20px 0 rgba(70, 82, 89, 0.15);
  box-shadow: 0 3px 6px 0 rgba(70, 82, 89, 0.1), 0 10px 20px 0 rgba(70, 82, 89, 0.15);
  min-height: 220px;
}

.td-widget-preview-card-content {
  padding: 0px;
  text-align: center;
  height: 52px;
  // background-color: rgb(1, 118, 255);
  border-radius: 10px 10px 0 0;
  background-color: #217eeb;
  fill: #fff;
  color: #fff;
}

.card-header-left {
  float: left;
  margin-top: 14px;
  margin-left: 13px;
}

.card-header-right {
  float: right;
  margin-top: 14px;
}

.td-preview-close-icon {
  margin-left: 16px;
  margin-right: 16px;
}

.td-widget-preview-card-footer {
  padding-top: 0px;
  border-top: none;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 103px;
  background: #fff;
}

.td-widget-preview-avatar-image {
  display: block !important;
}

.td-widget-preview-avatar-image {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 60px;
  margin-left: 12px;
}

.td-widget-preview-avatar-image img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.td-widget-preview-avatar--image  {
  width: 40px;
  height: 40px;
  margin-left: 12px;
  // position: absolute;
  // top: 60px;
}

.td-widget-preview-avatar--image img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.td-widget-preview-msg_receive {
  // background-color: #f7f7f7;
  // color: #1a1a1a;
  background-color: rgb(240, 242, 247);
  color: #06132b;
  max-width: 272px;
  min-width: 14px;
  margin: 0 20px 4px 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  margin-left: 59px;
}

.td-widget-preview-msg_receive > div { 
  display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 10px 8px 0px;
                padding-top: 3px;
                font-size: 12px;
                font-weight: 600;
                color: #ee7aae;

}

.td-widget-preview-msg_receive-p {
  font-size: 14px;
  margin: 0;
  padding: 10px;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-variant: normal;
  font-weight: 300;
  overflow: hidden;
  line-height: 1.3;
  font-weight: 300;
  white-space: pre-line;
}

.td-widget-preview-msg-sent-p {
    // text-align: right;
    padding: 6px 12px;
    // background-color: #62a8ea;
    background: linear-gradient(135grad, rgb(42, 106, 193), rgba(42, 106, 193, 0.8));
    color: #fff;
    margin-right: 0;
    margin-left: 114px;
     margin-left: 1oopx;
    margin-top: 10px;
    border-radius: 20px;
}

.td-widget-preview-slide-in-left {
  text-align: left;
  padding-left: 10px;
  font-size: 10px;
  color: #aaaaaa;
  width: 100%;
}


.powered-by-container {
width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.powered-by-container > .footer--wpr-text-and-logo {
text-align: center;
    color: #5f6368;
    display: flex;
    align-items: center;
    justify-content: center;
}

.powered-by-container >  .footer--wpr-text-and-logo ::ng-deep a {
  text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: #5f6368;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    font-family: Mulish, sans-serif;
    letter-spacing: .24px;
    -webkit-font-smoothing: antialiased;
    padding: 4px 12px;

}

.powered-by-container > .footer--wpr-text-and-logo ::ng-deep a > img {
      width: 20px;
    height: auto;
    max-height: 40px;
    position: relative;
    vertical-align: middle;
    object-fit: contain;
    padding-right: 1px;
 }

#buttons-in-message {
  text-align: right;
  display: block;
  margin: 4px 16px;
  height: auto;
}

.button-in-msg {
  padding: 8px 16px;
  position: relative;
  max-width: 280px;
  min-width: inherit;
  cursor: pointer;
  border: 1px solid;
  border-radius: 20px;
  margin: 3px;
  background: var(--backgroundColor);
  overflow: hidden;
  font-family: "Muli", sans-serif;
  font-size: var(--buttonFontSize);
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: -.24px;
  -webkit-font-smoothing: antialiased;
  color: var(--textColor);
  line-height: 16px;
}

.td-widget-preview-card {
  cursor: auto;
}

.button-in-msg text {
  cursor: auto;
}

#chat-preview-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  // -webkit-box-shadow: 0 -1px 0 0 rgba(191,191,191,.2);
  // box-shadow: 0 -1px 0 0 rgba(191,191,191,.2);
  background: #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.textarea-container {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  margin: 0 8px;
  height: 58px;
}

.no-gap {
  gap: 0px !important;
}

.icons-container {
  display: flex;
  align-self: flex-end;
  gap: 8px;
}

.chat21-textarea-button {
  fill: #5f6368;
  pointer-events: auto;
  height: 56px;
}

.v-align-center {
  display: inline-flex;
  align-items: center;
  height: 100%;
  float: left;
}

.visible-text-area {
  width: 90%;
  margin: 8px 0;
  pointer-events: auto;
  border-radius: 16px;
  background-color: #f6f7fb;
  height: 42px;
  font-size: 16px;
  color: #aaa;
}

.visible-text-area.w-100 {
  width: 100%;
}

.visible-text-area.w-90 {
  width: 90%;
}

.visible-text-area>span {
  position: relative;
  top: 9px;
  left: 11px;
}

.chat21-audio-button {
  display: flex;
  width: 34px;
  text-align: center;
  justify-content: center;
  height: 56px
}

.hide-attachment-btn {
  display: none;
}

.hide-emoji-btn {
  display: none;
}

.hide-audio-btn {
  display: none;
}