<div class="form-fields">
    <div *ngIf="fields.length > 0" class="card-content">

        <table class="table table-hover form-fields-table">
            <thead>
              <tr>
                <th class="col-30">
                    <span class="ff--column-th-span">
                        {{ "Name" | translate }}
                    </span>
                </th>
                <th style="width:auto">
                    <span class="ff--column-th-span ">
                        {{ "AddIntentPage.Label" | translate }}
                    </span>
                </th>
                <th style="width:80px">
                    <span class="ff--column-th-span">
                        {{ "Actions" | translate }}
                    </span>
                </th>
              </tr>
            </thead>

            <tbody cdkDropList (cdkDropListDropped)="drop($event)" style="display:block">
                
                <tr *ngFor="let field of fields; let i = index;" 
                [ngClass]="{'selected':selectedObjectId === i}" 
                cdkDrag cdkDragLockAxis="y">
                    <!-- ------------------- -->
                    <!-- FIELS NAME -->
                    <!-- ------------------- -->
                    <td class="ellips" class="col-30" (click)='editField(i)'>
                        <span class="label-field">
                            {{ field.name }}
                        </span>
                    </td>
                    <!-- LABEL -->
                    <td style="width:auto" (click)='editField(i)'>
                        <span class="label-field">
                            {{ field?.label }}
                        </span>
                    </td>
                    <!-- ------------------------------------------------ -->
                    <!-- ACTIONS -->
                    <!-- ------------------------------------------------ -->
                    <td class="td-actions">
                        <!-- EDIT -->
                        <button 
                            type="button" 
                            class="btn btn-primary btn-simple btn-xs" 
                            (click)='editField(i)'>
                            <i class="material-icons cds-edit-field-icon">edit</i>
                            <span class="tooltiptext-custom" style="text-transform:none"></span>
                        </button>
                        <!-- DELETE -->
                        <button type="button" 
                            class="btn btn-danger btn-simple btn-xs"
                            (click)='deleteFieldModal(i)'>
                            <i class="material-icons">close</i>
                        </button>
                        <!-- DRAG INDICATOR -->
                        <div class="td-order">
                            <i class="material-icons">drag_indicator</i>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>