<footer class="footer" style="padding-bottom:20px;padding-top:20px;">
   <strong> Chat21 Dashboard </strong>
    <!-- Build me from scratch at <a href="https://angularfirebase.com">AngularFirebase.com</a><br> -->
    <br>Open Source | {{ "Change dashboard Language" | translate }}: <button (click)="switchLanguage('en')">en</button>  <button (click)="switchLanguage('it')">it</button> | Created by <a href="http://www.frontiere21.com/">Frontiere21</a>
    <!-- {{ 'Intro' | translate }}
    <h1 translate>Title</h1> -->
</footer>
