


<div *ngIf="hasSelectChatBotOrKb === 'kb'" class="main-content onboarding-templt-page">
    <img *ngIf="displayLogoWithText" [src]="companyLogo" class="logo" />
    <img *ngIf="!displayLogoWithText" [src]="companyLogoNoText" class="logo no-text" />

    <div class="scrollable-list">
        <div class="scrollable-list-content-container">
            <div class="scrollable-list-wpr" no-prevent-default="true">

                <h2 class="onboarding-templt-page-title" [ngClass]="{'onboarding-templt-page-title-mobile': isMobile}">
                
                  
                   <!-- Get AI to respond using your Knowledge Base -->
                   {{'OnboardPage.GetAIToRespondUsingYourKB' | translate}}
                </h2>
                <h4 class="create-new-kb-assistant-description_one"
                        [ngClass]="{'onboarding-templt-page-description-mobile': isMobile}">
                
                        <!-- This advanced chatbot solution allows you to integrate multiple content types, ensuring that users receive timely and precise answers to their questions.  -->
                        <!-- Create your advanced AI chatbot and connect it to your contents to ensure your users receive timely and precice answers to their questions. -->
                        {{'OnboardPage.CreateYourAdvancedAIChatbot' | translate}}
                </h4>
                

                <div class="create-new-kb-assistant-wpr"> 
                    

                    <button [ngStyle]="{ 'min-width': createChatbotBtnWidth }" id="create-kb-assistant-btn" class="create-kb-assistant-btn"
                        (click)="createChatbotfromKbOfficialResponderTemplate()" [disabled]="spinnerInBtn">
                        <!-- Create your chatbot -->
                        <span *ngIf="!spinnerInBtn"> 
                            {{ 'CreateYourChatbot' | translate}}
                        </span>
                        

                        <span *ngIf="spinnerInBtn"> 
                            
                             <i class="fa fa-spinner fa-spin"></i> &nbsp; {{'ProcessingNoDot' | translate}}
                        </span>
                    </button>
                </div> 
            </div> 
        </div>
    </div>
</div>
<!--  -->
<div *ngIf="hasSelectChatBotOrKb === 'templates'" class="main-content onboarding-templt-page">

    <img *ngIf="displayLogoWithText" [src]="companyLogo" class="logo" />
    <img *ngIf="!displayLogoWithText" [src]="companyLogoNoText" class="logo no-text" />

    <div class="scrollable-list">
        <div class="scrollable-list-content-container">

            <div class="scrollable-list-wpr" no-prevent-default="true">
                <h2 class="onboarding-templt-page-title" [ngClass]="{'onboarding-templt-page-title-mobile': isMobile}">
                    
                    <!-- Select a pre-built chatbot automation template. -->
                    {{'OnboardPage.SelectAPreBuiltChatbotAutomationTemplate' | translate}}

                </h2>
                <h4 class="onboarding-templt-page-description"
                    [ngClass]="{'onboarding-templt-page-description-mobile': isMobile}">
                    <span *ngIf="DIPLAY_CUSTOM_SUBTITLE === false">
                        {{'OnboardPage.ChooseATemplateFor' | translate: t_paramsUserRole }}
                    </span>
                    <span *ngIf="DIPLAY_CUSTOM_SUBTITLE === true">
                        {{'OnboardPage.ChooseYourChatbotFromOurTemplates' | translate }}
                    </span>
                    <!-- <span [ngClass]="{'onboarding-templt-page-title-mobile': isMobile}">
                        These templates are designed to cater to different use cases, providing a solid foundation that can be tailored to meet your unique requirements, ensuring a seamless and efficient user experience.
                    </span> -->
                </h4>
                <div class="tmplt-btns-container">
                    <div *ngIf="isLoading" class="tmplt-list-wpr" [ngClass]="{'tmplt-list-wpr-mobile': isMobile}">

                        <ul class="tmplt-list">
                            <li>
                                <button class="tmplt-btn tmplt-btn-isActive" style="width:274px ; height: 100px ;">
                                </button>
                            </li>
                            <li>
                                <button class="tmplt-btn" style="width:274px ; height: 47 ;">
                                </button>
                            </li>
                            <li>
                                <button class="tmplt-btn" style="height: 274px; height: 47 ;">
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="!isLoading" class="tmplt-list-wpr" [ngClass]="{'tmplt-list-wpr-mobile': isMobile}">
                        <ul role="tablist" class="tmplt-list">
                            <li *ngFor="let template of templates; let i = index" role="presentation">
                                <button (click)="selectedTemplate(i, template._id)" id="tmplt_{{template._id}}"
                                    role="tab" type="button" aria-selected="true" class="tmplt-btn  tmplt-btn-isActive"
                                    [ngClass]="{'tmplt-btn-isActive': selectedIndex === i}">
                                    <div class="tmplt-name">{{template?.name}}</div>
                                    <div class="tmplt-desc"
                                        [ngClass]="{'tmplt-desc-is-visible': selectedIndex === i  }">
                                        <span *ngIf="template?.title">
                                            {{template?.title}}
                                        </span>
                                        <!-- <span *ngIf="!template?.short_description"> {{template?.description}} </span> -->
                                    </div>
                                </button>
                            </li>

                        </ul>
                        <!-- <h4 class="start-from-scratch-link">I want to
                            <span class="start--from--scratch" >
                                start from scratch
                            </span>
                        </h4> -->
                    </div>

                    <!-- ------------------------------------------- -->
                    <!-- New preview card -->
                    <!-- ------------------------------------------- -->
                    <div *ngIf="!isMobile" class="template-preview-card">
                        <div class="template-preview-card-content">

                            <!-- <img  *ngIf="templateid === '651a87648cb2c70013d80d8b'" src="https://tiledesk.com/wp-content/uploads/2023/11/Demo-booking-bot.png"> -->

                            <!-- <img  *ngIf="templateid === '651e66be6717f500135f41b9'" src="https://tiledesk.com/wp-content/uploads/2023/11/Product-Cards.png"> -->

                            <!-- <img  *ngIf="templateid === '6529582c23034f0013ee1af6'" src="https://tiledesk.com/wp-content/uploads/2023/11/Lead-gen-bot.png"> -->

                            <!-- <img  *ngIf="templateid === '651ecc5749598e0013305876'" src="https://tiledesk.com/wp-content/uploads/2023/11/Manage-Support-Requests.png"> -->

                            <!-- <img  *ngIf="templateid === '651fc9ef8c10e70013b6e240'" src="https://tiledesk.com/wp-content/uploads/2023/11/GPT-Powered-KB.png"> -->

                            <!-- <img  *ngIf="templateid === '651ad6c1bfdf310013ca90d7'" src="https://tiledesk.com/wp-content/uploads/2023/11/customer-service.png"> -->

                            <div *ngIf="templateid === '651a87648cb2c70013d80d8b'" style="background-image: url(https://tiledesk.com/wp-content/uploads/2023/11/Demo-booking-bot.png); background-repeat: no-repeat;
                                width: 100%;
                                height: 100%;
                                background-size: cover;
                                background-position: 0px -86px;"></div>

                            <div *ngIf="templateid === '651e66be6717f500135f41b9'" style="background-image: url(https://tiledesk.com/wp-content/uploads/2023/11/Product-Cards.png); background-repeat: no-repeat;
                                width: 100%;
                                height: 100%;
                                background-size: cover;
                                background-position: 0px -86px;"></div>

                            <div *ngIf="templateid === '6529582c23034f0013ee1af6'" style="background-image: url(https://tiledesk.com/wp-content/uploads/2023/11/Lead-gen-bot.png); background-repeat: no-repeat;
                                width: 100%;
                                height: 100%;
                                background-size: cover;
                                background-position: 0px -86px;"></div>

                            <div *ngIf="templateid === '651ecc5749598e0013305876'" style="background-image: url(https://tiledesk.com/wp-content/uploads/2023/11/Manage-Support-Requests.png); background-repeat: no-repeat;
                                width: 100%;
                                height: 100%;
                                background-size: cover;
                                background-position: 0px -86px;"></div>

                            <div *ngIf="templateid === '651fc9ef8c10e70013b6e240'" style="background-image: url(https://tiledesk.com/wp-content/uploads/2023/11/GPT-Powered-KB.png); background-repeat: no-repeat;
                                width: 100%;
                                height: 100%;
                                background-size: cover;
                                background-position: 0px -86px;"></div>

                            <div *ngIf="templateid === '651ad6c1bfdf310013ca90d7'" style="background-image: url(https://tiledesk.com/wp-content/uploads/2023/11/customer-service.png); background-repeat: no-repeat;
                                width: 100%;
                                height: 100%;
                                background-size: cover;
                                background-position: 0px -86px;"></div>

                        </div>
                        <div class="template-preview-card-footer">
                            <div class="_left_hwxid_93" style="flex-grow: 1;">


                                <div class="template-preview-card-import-and-start-from-scratch">
                                    <div  class="btn btn-primary" 
                                        (click)="forkTemplate()">
                               
                                        {{ 'ImportChatbot' | translate}}
                                    </div>
                                    <div style="color: #3c4858;"> {{ 'Or' | translate}} </div>
                                    <div style="color: #3ea9f5;" class="template-preview--link"
                                        (click)="presentModalAddBotFromScratch()">
                                        {{ 'StartFromScratch' | translate}}
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                </div>


                <div *ngIf="isMobile" class="row--navigation">
                    <div class="navigation--btn">
                        <button class="btn btn-lg btn-primary btn-let-start" (click)="forkTemplate()">
                            {{ 'ImportChatbot' | translate}}
                        </button>
                        <button class="btn btn-lg btn-primary btn-let-start" (click)="presentModalAddBotFromScratch()">
                            {{ 'StartFromScratch' | translate}}
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>


<!-- <div class="row--navigation" style="padding-bottom: 61px;">
    <div class="navigation--btn">

        <button type="button" class="btn-back" (click)="goToPrevPage()" style="width: unset; max-width: unset; ">
            <svg viewBox="0 0 24 24" focusable="false" class="chakra-icon css-abioxt" role="presentation"
                aria-hidden="true">
                <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
            </svg>

            <span class="onbording-btn-back-text"> 
                {{'Back' | translate }}
            </span>
        </button>

    </div>
</div> -->
