@import "../../../assets/sass/md/_variables.scss";
// LOCAL COLORS //
$color-white: #ffffff;
$color-light-gray: #efefef;
$color-middle-gray: #ccc;
$color-gray: #333;
$color-error: rgb(255, 95, 95);
$color-error-shadow: rgba(255, 95, 95, 0.9);
$color-text: #566787;
$color-pro-plan: #3ea9f5;

.onboarding-templt-page {

    font-family: $mdb-font-family-poppins;
    background: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;

    .logo {
        position: absolute;
        width: 150px;
        top: 20px;
        left: 20px;
        z-index: 9999;
    }

    .logo.no-text {
        width: 31px !important;
    }

    .close-wizard-page {
        text-align: left;
        height: 66px;
        position: absolute;
        top: 20px;
        right: 20px;
        margin-left: -100%;
        color: $white;
        z-index: 9999;

        .close-btn {
            font-size: 60px;
            font-weight: 100;
            color: $white;
            cursor: pointer;
            opacity: 0.8;
        }

        .close-btn:hover {
            opacity: 0.5;
        }
    }
}

.onboarding-templt-page-title {
    line-height: 1.2em;
    text-align: center;
    font-weight: 500;
    font-family: var(--header-font-family);
    font-size: 32px;
}

.onboarding-templt-page-description {
    text-align: center;
    padding-bottom: 32px;
    font-weight: 400;
    font-family: var(--header-font-family);
    // font-size: 20px;
    font-size: 16px;
    color: rgb(100, 116, 145);
    max-width: 800px;
    margin: auto;
}

.scrollable-list {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    // padding: 90px 40px 0 40px;
    overflow: auto;
}

.scrollable-list-content-container {
    height: 100%;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
}



.tmplt-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tmplt-list-wpr {
    position: relative;
    padding: 4px 4px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 24px;
}

.tmplt-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}


.tmplt-btn {
    display: block;
    border: 2px solid #e7e7e7;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
    margin-right: 0px;
    max-height: 98px;
    margin-bottom: 8px;
    width: 274px;
    padding: 12px 16px;
    background-color: #fff;
    max-height: 68px;
    // height: 68px;
    transition: max-height 0.15s ease-out;
}

.tmplt-btn:hover {
    border-color: #3ea9f5;
}

.tmplt-btn-isActive {
    transition: max-height 0.3s ease-in 0s;
    border-color: #3ea9f5;
    background-color: #f1f3fd;
    max-height: 100px;
    transition: max-height 0.25s ease-in;
    // height: 100px;
}




.start-from-scratch-link {
    font-size: 19px;
    height: 24px;
    width: 274px;
    margin-top: 32px;
    font-weight: 400;
    text-align: center;
}

.tmplt-name {
    font-size: 16px;
    color: #050038;
    font-weight: 500;
}

.tmplt-desc {
    // color: #050038;
    color: #647491;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 3px;
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    height: 50px;
    // opacity: 0;
    display: none;
}

.tmplt-desc-is-visible {
    // opacity: 1;
    display: block;
}



.tmplt-card-wpr {
    position: relative;
    overflow: hidden;
    background-color: #f2f2f2;
    border-radius: 8px;
}


.tmplt-card {
    width: 682px;
    height: 454px;
}

.tmplt-card--name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}


.tmplt-desc-content {
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.tmplt-card--desc {
    max-width: 50%;
}


.btn-let-start {
    font-size: 14px;
    padding: 12px 36px;
    width: 100%;
    margin: 10px 0;
    max-width: 300px;
}

.btn-back {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: auto;
    width: 50px;
    max-width: 50px;
    font-size: 20px;
    line-height: 1.2;
    border-color: $color-light-gray;
    border-radius: 3px;
    border: 0px solid $color-light-gray;
    background: $color-light-gray;
    margin: 10px 10px 10px 0;
    padding: 10px;

    svg {
        fill: $color-gray;
        width: 1em;
    }
}

.start--from--scratch {
    color: #03a5e8;
    cursor: pointer;
}

.start--from--scratch:hover {
    text-decoration: underline;
}




/* New card template preview
/* ************************* */

.template-preview-card {
    border: 1px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: all ease .1s;
    width: 682px;
    height: 454px;
}

.template-preview-card-content {
    height: 380px;
    width: 100%;
}

.template-preview-card-footer {
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
    padding: 12px 16px;
    display: flex;
    gap: 12px;
    flex-grow: 1;
}


.template-preview-card-import-and-start-from-scratch {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    gap: 6px
}

.template-preview--link {
    cursor: pointer;
}

.template-preview--link:hover {
    text-decoration: underline;
}

// .template-preview-card-import:hover {
//     text-decoration: underline;
// }
.onboarding-templt-page-title-mobile {
    font-size: 20px;
    max-width: 270px;
    margin: auto;
}

.onboarding-templt-page-description-mobile {
    font-size: 14px !important;
    max-width: 270px;
    margin: auto;
    margin-bottom: 12px;
    margin-top: 12px;
  
}

.tmplt-list-wpr-mobile {
    margin-right: 0px;
}

// --------------



.create-new-kb-assistant-wpr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.create-new-kb-assistant-description_one {
    text-align: center;
    margin-bottom: 32px;
    font-weight: 400;
    font-family: var(--header-font-family);
    font-size: 20px;
    color: rgb(100, 116, 145);
    max-width: 800px;
}

.create-new-kb-assistant-description_two {
    text-align: center;
    margin-bottom: 32px;
    font-weight: 400;
    font-family: var(--header-font-family);
    font-size: 16px;
    color: rgb(100, 116, 145);
    max-width: 800px;
}

.create-kb-assistant-btn {
    // text-transform: capitalize;
    color: white;
    border: none;
    border-radius: 999px;
    font-weight: 400;
    display: flex;
    align-items: center;
    background: var(--blue-light);
    // padding: 0 12px;
    // height: 36px;
    font-size: 21px;
    min-height: 65px;
    padding: 12px 24px;
    font-family: var(--header-font-family);
    text-align: center;


    &:hover {
        // background: #256ffd;
        opacity: .8;
    }
}


.row--navigation {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 0;
    bottom: 0;
    padding: 0;
    background-color: #fff;
}

.navigation--btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.onbording-btn-back-text {
    margin-left: 6px !important;
    font-weight: 400;
}

// @media (max-width: 668px) {

//     .tmplt-list-wpr {
//         margin-right: 0px;
//     }

//     .onboarding-templt-page-title {
//         font-size: 20px;
//         max-width: 250px;
//         margin: auto;
//     }

//     .onboarding-templt-page-description {
//         font-size: 14px;
//         max-width: 250px;
//         margin: auto;
//         margin-bottom: 22px;
//         margin-top: 12px;
//     }

// }