// input[type=text] {
//     // min-width: 307px !important;
//     height: 36px;
//     font-size: 14px;
//     width: 100%;
//     margin-bottom: 10px;
//     -webkit-appearance: none;
//     background: #fff;
//     border: 1px solid #d9d9d9 !important;
//     border-top: 1px solid #c0c0c0;
//     /* border-radius: 2px; */
//     padding: 0 8px;
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     border-radius: 5px;
//     background-color: #fff !important;
//     border: solid 1px #ddd;
// }

textarea {
    // height:36px;  
    background: #fff; 
    border-radius: 0px; 
    border-color: #d9d9d9; 
    width: 100%;
    padding-left: 5px;
    padding-top: 7px;
}
.card form [class*="col-"] {
    padding: 0px;
}

.custom-label {
    color: #7695a5;
    height: 36px;
    padding-top: 7px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: right!important;
}