
<div class="content columns">
    <main class="column is-10 is-offset-1">
  
      <span *ngIf="CREATE_VIEW">
        <h1>
          <span class="icon" style="cursor: pointer;" (click)="goBackToFaqList()">
            <i class="fa fa-angle-left" style="font-size:1em; color:#afafaf"></i>
          </span>
          <span class="title" style="padding-left: 25px;">Aggiungi FAQ</span>
        </h1>
        <hr>
  
        <loading-spinner *ngIf="showSpinner"></loading-spinner>
  
        <div class="field is-horizontal" style="margin-top:55px">
          <div class="field-label is-normal">
            <label class="label">Question</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <!-- <input [(ngModel)]="faqQuestion" class="input" type="text" placeholder="Question"> -->
                <textarea [(ngModel)]="question" class="textarea" placeholder="Question"></textarea>
              </div>
            </div>
          </div>
        </div>
  
        <div class="field is-horizontal" style="margin-top:25px">
          <div class="field-label is-normal">
            <label class="label">Answer</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <!-- <input [(ngModel)]="answer" class="input" type="text" placeholder="Answer"> -->
                <textarea [(ngModel)]="answer" class="textarea" placeholder="Answer"></textarea>
              </div>
            </div>
          </div>
        </div>
  
        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-success" [disabled]="question?.length < 5 || answer?.length < 5" (click)="create()">
                  Crea FAQ 
                </button>
              </div>
            </div>
          </div>
        </div>
  
      </span>
      <!-- /. CREATE_VIEW -->
  
      <span *ngIf="EDIT_VIEW">
          <h1>
            <!-- GO BACK -->
            <span class="icon" style="cursor: pointer;" (click)="goBackToFaqList()">
              <i class="fa fa-angle-left" style="font-size:1em; color:#afafaf"></i>
            </span>
            <span class="title" style="padding-left: 25px;">Modifica FAQ</span>
          </h1>
          <hr>
  
          <loading-spinner *ngIf="showSpinner"></loading-spinner>
    
          <div class="field is-horizontal" style="margin-top:55px">
            <div class="field-label is-normal">
              <label class="label">Question</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <!-- <input [(ngModel)]="question_toUpdate" class="input" type="text" placeholder="Question"> -->
                  <textarea [(ngModel)]="question_toUpdate" class="textarea" placeholder="Question"></textarea>
                </div>
              </div>
            </div>
          </div>
    
          <div class="field is-horizontal" style="margin-top:25px">
            <div class="field-label is-normal">
              <label class="label">Answer</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <!-- <input [(ngModel)]="answer_toUpdate" class="input" type="text" placeholder="Answer"> -->
                  <textarea [(ngModel)]="answer_toUpdate" class="textarea" placeholder="Answer"></textarea>
                </div>
              </div>
            </div>
          </div>
    
          <div class="field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-success" (click)="edit()">
                    Modifica FAQ KB
                  </button>
                </div>
              </div>
            </div>
          </div>
    
        </span>
        <!-- /. EDIT_VIEW -->
  
  
    </main>
  </div>
  