<div class="box-up">

    <div class="action_welcome">
        <div class="section">
            <div *ngIf="showTip" class="action-description">
                <div *ngIf="element?.description"
                    [satPopoverAnchor]="descriptionTooltip"
                    (click)="manageTooltip()">
                    <em class="material-icons">info</em>
                </div>
                <div [innerHtml]="tipText"></div>
                <input class="action-input"
                    [ngModel]="dataInput"
                    [placeholder]="titlePlaceholder"
                    (input)="onChangeText($event.target.value)"/>
            </div>
        </div>
    </div>
    
    <!-- 
    <sat-popover #descriptionTooltip id="descriptionTooltip" 
        hasBackdrop 
        verticalAlign="center" 
        horizontalAlign="after" 
        (backdropClicked)="descriptionTooltip.close()" 
        panelClass="description-tooltip">
        <div class="tooltip-wrp">
            <div class="caret_tooltip"></div>
            <span [innerHTML]="element?.description"></span>
       </div>
    </sat-popover> 
    -->
    
    <!--     
    <appdashboard-panel-reply-tools
        class="panel-tools-response"
        (addNewResponse) = onAddNewResponse($event)>
    </appdashboard-panel-reply-tools> 
    -->

    <div data-adding-allowed="true" class="add-responses">
        <div data-add-response-type="Type.TEXT" class="add-response" (click)="addElement(TypeMessage.TEXT)" ncdkDrag>
            <i class="material-icons">text_fields</i><span>{{'Text' | translate}}</span>
        </div>
        <div data-add-response-type="Type.IMAGE" class="add-response" (click)="addElement(TypeMessage.IMAGE)" cdkDrag>
            <i class="material-icons">image</i><span>{{'Image' | translate}}</span>
        </div>
        <div data-add-response-type="Type.VIDEO" class="add-response" (click)="addElement(TypeMessage.FRAME)" cdkDrag>
            <i class="material-icons">play_circle</i><span>{{'Video' | translate}}</span>
        </div>
    </div>

</div>





<div class="box-dw">

    <div #scrollMe id="scrollMe" class="content draggable-list">
        <div *ngFor="let message of arrayMessagesWithWait; let i = index;">
            
            <div *ngIf="message.type === typeMessage.TEXT">

                <div class="response">
                    <div *ngIf="typeAction === typeActions.REPLY"
                        class="response-drop" 
                        [ngClass]="{'grabbing':textGrabbing}"
                        (mousedown)="mouseDown()" 
                        (mouseup)="mouseUp()" 
                        cdkDragHandle>
                    </div> 
                    <appdashboard-text-response
                        [index] = i
                        [idAction] = idAction
                        [typeAction] = typeAction
                        [response] = message
                        (moveUpResponse) = onMoveUpResponse($event)
                        (moveDownResponse) = onMoveDownResponse($event)
                        (deleteResponse) = onDeleteResponse($event)
                        (openButtonPanel) = onOpenButtonPanel($event)
                        (createNewButton) = onCreateNewButton($event)
                        (changeDelayTimeReplyElement) = onChangeDelayTimeReplyElement()
                        (changeReplyElement) = onChangeReplyElement()>
                    </appdashboard-text-response>
                </div>

            </div>
        </div>

    </div>
</div>