FEATURES_TOKEN=NAT:T
SERVER_BASE_URL=https://YOUR_TILEDESK_SERVER_URL/
WS_URL=wss://YOUR_TILEDESK_SERVER_URL?token=
WIDGET_LOCATION=https://YOUR_WIDGET_URL/
BOT_CREDENTIAL_URL=
RASA_BOT_CREDENTIAL_URL=
CHAT_BASE_URL=https://YOUR_CDS_BASE_URL/
COMMUNITY_TEMPLATES_URL=********
TEMPLATES_URL=********
APPS_URL=http://localhost:3000/modules/apps/
CDS_BASE_URL=http://localhost:3000/modules/apps/
PROMO_BANNER_URL=********
WHATSAPP_API_URL=********
FIREBASE_APIKEY=CHANGEIT
FIREBASE_AUTHDOMAIN=CHANGEIT.firebaseapp.com
FIREBASE_DATABASEURL=https://CHANGEIT.firebaseio.com
FIREBASE_PROJECT_ID=chat21-pre-01
FIREBASE_STORAGEBUCKET=CHANGEIT.appspot.com
FIREBASE_MESSAGINGSENDERID=********
CHAT21_URL=https://CHANGEIT.cloudfunctions.net
FEATURES_TOKEN=PAY:F-ANA:F-ACT:F-TRI:F-GRO:F-DEP:F-OPH:F-MTL:F-DGF:F-NAT:F
BRAND_SRC=https://YOUR_BRAND_SCRIPT_URL/
REMOTE_JS_SRC=https://YOUR_CUSTOM_SCRIPT_URL/
FIREBASE_APP_ID=********
CHAT21_ENGINE=********
FIREBASE_AUTH=********
UPLOAD_ENGINE=********
PUSH_ENGINE=********
API_BASEIMAGE_URL=********
LOG_LEVEL=INFO
FIREBASE_VAPID=********
TILEDESK_PHONE_NUMBER=********
TICKETING_EMAIL=********
AI_MODELS=********



