@import "../../../assets/sass/md/_variables.scss";

$color-pro-plan: #3ea9f5;
//---------------------//
// STRUCTURE
//---------------------//
.css-install-widget {
  // animation: none !important;
  /**  local variables **/ 
  --width-col-rigth: 360px;
  //----------------------------------//
  font-family: $mdb-font-family-poppins;
  background: white;
  width: 100%;
  margin: 0px; 
  padding: 0px;
  display: flex;
  .logo {
    position:absolute;
    width: 150px;
    top: 20px;
    left: 20px;
    z-index: 9999;
  }
  .title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3em;
    margin-top: 10px;
    margin-bottom: 0.5em;
    span {
      display: "block";
    }
  }
  .pre-title {
    color: $black-input-color; //#566787;
    position: relative;
    line-height: normal;
    margin-bottom: 1em;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
  }

  .col-left {
    min-height: 100vh;
    height: auto;
    background: white;
    width: calc(100% - var(--width-col-rigth));
    position: relative;
    float: left;
    padding: 100px 60px 60px;
    z-index: 20;
  }
  .col-right {
    min-height: 100vh;
    height: auto;
    width: var(--width-col-rigth);
    position: relative;
    float: left;
    overflow: hidden;
    z-index: 10;
    background-color: #4caf50;
  }  



  /** START DISPLAY_SPINNER_SECTION */
  .loading-section {
    display: flex;
    flex-flow: column;
    .images-wrapper {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #fff;
      height: 112px;
      overflow: hidden;
      width: 112px;
      margin-left: 0px;
      margin-top: -55px;
    }
  }

  .wizard-success-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 8px;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: 0px;
    .success-label {
      color:#70b665;
      .wizard-span-processing-msg {
        font-size: 18px;
        top: 2px;
        position: relative;
      }
      .wizard-span-success-msg {
        font-size: 18px;
        top: 2px;
        position: relative;
        margin-left: 8px;
      }
    }
    /** END DISPLAY_SPINNER_SECTION */
  }

  /** **/
  @media (max-width: 992px) {
    .col-left {
      width: 100%;
    }
    .col-right {
      display: none;
    }

    .close-wizard-page {  
      .close-btn {
        color: $black-color;
      }
    }
  }

}



.logo_on_rocket {
  max-width: 34px;
  height: auto;
  padding-top: 25px;
  float: right;
  position: absolute;
  z-index: 1050;
  right: 176px;
  bottom: 323px;
  -webkit-transform: rotate(30deg);
  transform: rotate(-30deg);
}

.razzo_wizard_script {
  //   max-width: 639px;
  //   height: auto;
  //   padding-top: 25px;
  //   float: right;
  //   position: absolute;
  //   z-index: 1050;
  //   right: -19px;
  //   bottom: 217px;
  //   transform: rotate(17deg);

  max-width: 639px;
  height: auto;
  padding-top: 25px;
  float: right;
  position: absolute;
  z-index: 1050;
  right: -80px;
  bottom: 200px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

@media (min-width: 992px) {
  .wizard-bckgrnd {
    // background-size: 475px 449px, 188px 100%, 179px 100%;
    // background-size: 199px 449px, 188px 100%, 179px 100%;
    background-size: 375px 100%, 188px 100%, 179px 100%;
    background-position: right -12px bottom, right, calc(100% - 179px);
    // background-repeat: repeat-y;
    background-repeat: no-repeat;

    background-image: linear-gradient(to bottom, #1a73e8 0%, $color-pro-plan 100%),
      linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #eff2f6 50%, #eff2f6 100%);
  }

  
}

@media (max-width: 992px) {
  .razzo_wizard_script {
    display: none;
  }
  .logo_on_rocket {
    display: none;
  }
}

.install-widget-page-title {
  margin-top: 10px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 36px;
}

@media (max-width: 510px) {
  .install-widget-page-title {
    font-size: 24px;
  }
}


pre {
  font-family: monospace;
  background-color: #fff;

  // margin: 4em auto;
  // padding: 0.5em;
  border: none;
  // border-radius: 0.25em;
  border-radius: 0.25em 0.25em 0px 0px;
  // box-shadow: .1em .1em .5em rgba(0,0,0,.45);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  line-height: 0;
  counter-reset: line;

  span {
    display: block;
    line-height: 2.1rem;

    &:before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 0.5em;
      margin-right: 0.5em;
      color: #039be5;
      // background: #f2feef;
      background: rgba(3, 155, 229, 0.1);
      width: 30px;
      text-align: end;
    }
  }
}

.copy-script {
  margin-top: 0px;
  color: #039be5;
  margin: 0px;
  border-radius: 0em 0em 0.25px 0.25px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  position: relative;
  // bottom: 94px;
  bottom: 144px;
  padding: 6px 7px;
  float: right;
  margin-right: 25px;
}

/// START COPY TO CLIPBOARD TOOLTIP EFFECT
@-moz-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}

.has-copied-text {
  background-color: #555;
  color: white;
  -moz-animation: fadeinout 1s linear forwards;
  -webkit-animation: fadeinout 1s linear forwards;
  animation: fadeinout 2s linear forwards;
}
/// end COPY TO CLIPBOARD TOOLTIP EFFECT
