<!-- <table mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="type">
      <th style="width: 80px;" mat-header-cell *matHeaderCellDef>{{ 'Type' | translate }}</th>
      <td mat-cell *matCellDef="let object">{{ object.type }}</td>
    </ng-container>
  

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="column-th-span">{{ 'Name' | translate }}</span></th>
      <td mat-cell *matCellDef="let object">{{ object.name }}</td>
    </ng-container>
  

    <ng-container matColumnDef="state">
      <th style="width: 80px;" mat-header-cell *matHeaderCellDef><span class="column-th-span">{{ 'Status' | translate }}</span></th>
      <td mat-cell *matCellDef="let object">{{ object.status }}</td>
    </ng-container>
  

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="column-th-span">{{ 'KbPage.CreationDate' | translate }}</span></th>
      <td mat-cell *matCellDef="let object">{{ object.createdAt }}</td>
    </ng-container>


  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table> -->
  

  <div class="mat-elevation-z8">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value, 'name')" placeholder="Filtra per Nome o Contenuto">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Seleziona lo stato</mat-label>
        <mat-select (selectionChange)="applyFilter($event.value, 'type')">
          <mat-option value="">Tutti</mat-option>
          <mat-option value="0">Not started</mat-option>
          <mat-option value="2">Started</mat-option>
          <mat-option value="3">Finished</mat-option>
          <mat-option value="4">Error</mat-option>
        </mat-select>
      </mat-form-field>

      
    <table mat-table [dataSource]="dataSource" matSort > 
        <!-- (matSortChange)="announceSortChange($event)" -->
  
        <!-- Type Column -->
        <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td style="width: 70px;" mat-cell *matCellDef="let kb">
            <span *ngIf="kb.type == 'text'" id="description" class="material-icons-outlined">description</span>
            <span *ngIf="kb.type == 'url'" id="link" class="material-icons-outlined">link</span>
            <span *ngIf="kb.type == 'map'" id="site-map" class="material-icons-outlined">lan</span>
        </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th style="width: 70px; text-align:center;" mat-header-cell *matHeaderCellDef>Status</th>
            <td style="text-align:center;" mat-cell *matCellDef="let kb">

                <loading-spinner *ngIf="kb.status == 0 || kb.status == 2" class="custom-spinner"></loading-spinner>
                
                <span *ngIf="kb.status == -1" id="error" class="material-icons-outlined status-icon"
                    matTooltipClass="custom-mat-tooltip" matTooltip="Not indexed" #tooltip="matTooltip"
                    matTooltipPosition='right' matTooltipHideDelay="100">void</span>

                <!-- <span *ngIf="kb.status == 0" id="done" class="material-icons-outlined status-icon"
                    matTooltipClass="custom-mat-tooltip" matTooltip="Not started" #tooltip="matTooltip"
                    matTooltipPosition='right' matTooltipHideDelay="100">schedule</span> -->

                <!-- <span *ngIf="kb.status == 2" id="cached" class="material-icons-outlined status-icon animated-icon"
                    matTooltipClass="custom-mat-tooltip" matTooltip="Indexing..." #tooltip="matTooltip"
                    matTooltipPosition='right' matTooltipHideDelay="100">cached</span> -->

                <span *ngIf="kb.status == 3" id="close" class="material-icons-outlined status-icon"
                    matTooltipClass="custom-mat-tooltip" matTooltip="Finished" #tooltip="matTooltip"
                    matTooltipPosition='right' matTooltipHideDelay="100">check</span>
                    
                <span *ngIf="kb.status == 4" id="error" class="material-icons-outlined status-icon"
                    matTooltipClass="custom-mat-tooltip" matTooltip="Error" #tooltip="matTooltip"
                    matTooltipPosition='right' matTooltipHideDelay="100">error</span>
            
            </td>
        </ng-container>

        <!-- Created At Column -->
        <ng-container matColumnDef="createdAt">
            <th style="width: 120px;" mat-header-cell *matHeaderCellDef mat-sort-header>Data di Creazione</th>
            <td mat-cell *matCellDef="let kb">{{ kb.createdAt | amTimeAgo }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
            <td mat-cell *matCellDef="let kb">{{ kb.name }}</td>
        </ng-container>

      <!-- Aggiunta della colonna personalizzata -->
      <ng-container matColumnDef="actions">
        <th style="width:40px;" mat-header-cell *matHeaderCellDef>
            <span class="column-th-span" style="float:right">
                <button class="preview-button" (click)="onOpenBaseModalPreview()">
                  <span class="material-icon material-icons-round">play_arrow</span>Preview
                </button>
            </span>
        </th>
        <td style="text-align: end;" mat-cell *matCellDef="let kb">
            <!-- Actions -->
            <div style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: flex-end;">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before" class="custom-menu">
                    <button mat-menu-item (click)="onRunIndexing(kb)">
                        <mat-icon>play_arrow</mat-icon>
                        <span>{{ 'KbPage.RunIndexing' | translate }}</span>
                    </button>
                    <button mat-menu-item [disabled]="kb.status == -1 || kb.status == 0 || kb.status == 2"
                        (click)="onOpenBaseModalDelete(kb)">
                        <mat-icon>close</mat-icon>
                        <span>{{ 'Delete' | translate }}</span>
                    </button>
                </mat-menu>
            </div>
        </td>
      </ng-container>
   
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
  