<div class="mat-elevation-z8">
    <!-- <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value, 'name')" placeholder="Filtra per Nome o Contenuto">
    </mat-form-field> -->
    <!-- 
    <mat-form-field>
        <mat-label>Seleziona lo stato</mat-label>
        <mat-select (selectionChange)="applyFilter($event.value, 'type')">
          <mat-option value="">Tutti</mat-option>
          <mat-option value="0">Not started</mat-option>
          <mat-option value="2">Started</mat-option>
          <mat-option value="3">Finished</mat-option>
          <mat-option value="4">Error</mat-option>
        </mat-select> 
    </mat-form-field>
    -->
    <!-- <select class="select-status" (change)="applyFilter($event.value, 'type')">
        <label>Seleziona lo stato</label>
        <option value=""> All </option>
        <option value="0"> Not started </option>
        <option value="2"> Started </option>
        <option value="2"> Finished </option>
        <option value="2"> Error </option>
    </select> -->

    <div class="form-group">

        <div class="cerca">
            <label class="col-sm-12 control-label">
                {{ 'KbPage.TextSearch' | translate }}
            </label>
            <div class="col-sm-12">
                <input (keyup)="applyFilter($event.target.value, 'name')" placeholder="{{ 'KbPage.PlaceholderTextFilter' | translate }}">
            </div>
        </div>

        <div class="stato">
            <label class="col-sm-12 control-label">
                {{ 'KbPage.StateFilter' | translate }}
            </label>
            <div class="col-sm-12">
                <ng-select class="custom-input" 
                    [clearable]='false' 
                    [ngModel]="filterType" 
                    dropdownPosition='bottom' 
                    (ngModelChange)="applyFilter($event, 'type')">
                    <ng-option value=""> {{ 'KbPage.StatusAll' | translate }}</ng-option>
                    <ng-option value="0"> {{ 'KbPage.StatusNotStarted' | translate }}</ng-option>
                    <ng-option value="2"> {{ 'KbPage.StatusStarted' | translate }}</ng-option>
                    <ng-option value="3"> {{ 'KbPage.StatusFinished' | translate }}</ng-option>
                    <ng-option value="4"> {{ 'KbPage.StatusError' | translate }}</ng-option>
                  </ng-select>

            </div>
        </div>
        
    </div>
    

    <table mat-table [dataSource]="dataSource" matSort > 
        <!-- Type Column -->
        <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{ 'KbPage.Type' | translate }}</th>
        <td style="min-width: 70px;" mat-cell *matCellDef="let kb" (click)="onOpenBaseModalDetail(kb)">
            <span *ngIf="kb.type == 'text'" id="description" class="material-icons-outlined">description</span>
            <span *ngIf="kb.type == 'url'" id="link" class="material-icons-outlined">link</span>
            <span *ngIf="kb.type == 'map'" id="site-map" class="material-icons-outlined">lan</span>
        </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th style="min-width: 70px; text-align:center;" mat-header-cell *matHeaderCellDef>{{ 'KbPage.Status' | translate }}</th>
            <td style="text-align:center;" mat-cell *matCellDef="let kb" (click)="onOpenBaseModalDetail(kb)">
                <loading-spinner *ngIf="kb.status < 0 || kb.status > 4" class="custom-spinner"></loading-spinner>
                <!-- <span *ngIf="kb.status == -1" id="error" class="material-icons-outlined status-icon status-void">block</span> -->
                <span *ngIf="kb.status == 0" id="done" class="material-icons-outlined status-icon"
                    matTooltipClass="custom-mat-tooltip" matTooltip="Not started" #tooltip="matTooltip"
                    matTooltipPosition='right' matTooltipHideDelay="100">schedule</span>
                <span *ngIf="kb.status == 2" id="cached" class="material-icons-outlined status-icon animated-icon"
                    matTooltipClass="custom-mat-tooltip" matTooltip="Indexing..." #tooltip="matTooltip"
                    matTooltipPosition='right' matTooltipHideDelay="100">cached</span>
                <span *ngIf="kb.status == 3" id="close" class="material-icons-outlined status-icon status-done">check</span>
                <span *ngIf="kb.status == 4" id="error" class="material-icons-outlined status-icon status-error">error</span>
            </td>
        </ng-container>

        <!-- Created At Column -->
        <ng-container matColumnDef="createdAt">
            <th style="min-width:120px;" mat-header-cell *matHeaderCellDef mat-sort-header>{{'KbPage.CreatedAt' | translate }}</th>
            <td style="font-size: small;" mat-cell *matCellDef="let kb" (click)="onOpenBaseModalDetail(kb)">{{ kb.createdAt | amTimeAgo }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th style="width:auto" mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name' | translate }}</th>
            <td style="width: fit-content;" mat-cell *matCellDef="let kb" (click)="onOpenBaseModalDetail(kb)"><span class="ellipsis-text">{{ kb.name }}</span>
                <p class="subtitle ellipsis-text">{{getSubtitle(kb)}}</p>
            </td>
        </ng-container>

      <!-- Aggiunta della colonna personalizzata -->
      <ng-container matColumnDef="actions">
        <th style="max-width:40px;" mat-header-cell *matHeaderCellDef>
            <span class="column-th-span" style="float:right">
                <button class="preview-button" (click)="$event.stopPropagation(); onOpenBaseModalPreview($event)">
                  <span class="material-icon material-icons-round">play_arrow</span>{{'Preview' | translate}}
                </button>
            </span>
        </th>
        <td style="text-align: end;" mat-cell *matCellDef="let kb">
            <!-- Actions -->
            <div style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: flex-end;">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before" class="custom-menu">
                    <button mat-menu-item (click)="onRunIndexing(kb)">
                        <mat-icon>play_arrow</mat-icon>
                        <span>{{'KbPage.RunIndexing' | translate}}</span>
                    </button>
                    <button mat-menu-item [disabled]="kb.status == 2"
                        (click)="onOpenBaseModalDelete(kb)">
                        <mat-icon>close</mat-icon>
                        <span>{{'Delete' | translate}}</span>
                    </button>
                </mat-menu>
            </div>
        </td>
      </ng-container>
   
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons></mat-paginator>
  </div>
  