table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-elevation-z8{
    box-shadow: none;
  }
  
  .preview-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //background-color: #006cff;
    color: white;
    border: none;
    padding: 4px 12px 4px 8px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 13px;
    color: rgb(98, 119, 140);
    background: linear-gradient(rgba(239, 245, 246, 0.64) 0%, rgb(238, 244, 246) 100%), rgb(255, 255, 255);
    box-shadow: rgb(212, 217, 230) 0px 1px 0px;
    .material-icons {
        font-size: 19px;
    }
    &:hover {
        background: linear-gradient(rgba(239, 245, 246, 0.851) 0%, rgb(225, 241, 246) 100%), rgb(255, 255, 255);
    }
}

::ng-deep .custom-spinner {
    display: flex;
    justify-content: space-evenly;
    .sk-fading-circle {
        width: 20px;
        height: 20px;
        margin: 0px;
    }
    .sk-fading-circle .sk-circle:before {
        background-color: rgb(98, 119, 140) !important;
    }
}