<!-- Page shell -->
<div class="main-content kb-page">
  <div class="container-fluid kb-page__container">
    <div class="kb-layout kb-page__layout">
      <!-- Left sidebar -->
        <appdashboard-kb-namespace-sidebar
          [permissionToAddKb]="PERMISSION_TO_ADD_KB"
          [isAgentsPage]="isAgentsPage"
          [isLoadingNamespaces]="isLoadingNamespaces"
          [namespaces]="namespaces"
          [selectedNamespace]="selectedNamespace"
          [totalCount]="totalCount"
          [quotasKbs]="quotas?.kbs"
          (addNamespace)="presentModalAddNewNamespace()"
          (selectNamespace)="onSelectNamespace($event)"
        ></appdashboard-kb-namespace-sidebar>
        <!-- Main content -->
        <div class="kb-main-content kb-page__main">
          <div class="kb-content">
            <div class="kb-container-wpr">
              <div *ngIf="hideHelpLink" class="kb-link-to-docs-wpr">
                <span>
                  <svg
                    class="kb-link-to-docs__icon"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="none"
                  >
                    <path
                      d="M260-320q47 0 91.5 10.5T440-278v-394q-41-24-87-36t-93-12q-36 0-71.5 7T120-692v396q35-12 69.5-18t70.5-6Zm260 42q44-21 88.5-31.5T700-320q36 0 70.5 6t69.5 18v-396q-33-14-68.5-21t-71.5-7q-47 0-93 12t-87 36v394Zm-40 118q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q58 0 113.5 15T480-740q51-30 106.5-45T700-800q52 0 102 12t96 36q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59ZM280-494Z"
                    />
                  </svg>

                </span>

                <span class="kb-link-to-docs" (click)="goToKbDoc()">
                    {{'KbPage.LearnMoreAboutKB' | translate}}
                </span>
              </div>
      
              <div class="kb-content-container">
                <loading-spinner *ngIf="showSpinner"></loading-spinner>
      
                <div class="card-content" *ngIf="!showSpinner">
      
                  <div class="header">
      
                    <appdashboard-kb-selected-namespace-header
                      [selectedNamespace]="selectedNamespace"
                      [namespaceIsEditable]="namespaceIsEditable"
                      (installOnWebsite)="onOpenInstallOnWebsiteModal()"
                      (configureWelcomeMessage)="onOpenChatbotWelcomeMessageModal()"
                      (mouseOverName)="onMouseOver()"
                      (mouseOutName)="onMouseOut()"
                      (clickName)="hasClickedNamespaceName()"
                      (nameKeypress)="onPressEnterUpdateNamespaceName($event)"
                      (nameFocus)="onFocusNamespaceName($event)"
                      (nameChange)="onChangeNamespaceName($event)"
                      (nameBlur)="onBlurUpdateNamespaceName($event)"
                    ></appdashboard-kb-selected-namespace-header>
      
      
    
                    <appdashboard-kb-header-actions
                      [permissionToExportContents]="PERMISSION_TO_EXPORT_CONTENTS"
                      [hasContents]="(kbsListCount || 0) > 0"
                      [permissionToAddContents]="PERMISSION_TO_ADD_CONTENTS"
                      [permissionToDelete]="PERMISSION_TO_DELETE"
                      [permissionToSyncLinkedResources]="PERMISSION_TO_ADD_FLOWS"
                      [selectedNamespaceIsDefault]="selectedNamespace?.default"
                      (exportContents)="presentDialogExportContents()"
                      (importContents)="presentDialogImportContents()"
                      (deleteNamespace)="onOpenDeleteNamespaceModal()"
                      (syncLinkedResources)="onSyncKbLinkedResources()"
                    ></appdashboard-kb-header-actions>
                  </div>
      
                  <!-- Chatbots using this namespace -->
                  <appdashboard-kb-chatbot-actions-panel
                    [chatbotsUsingNamespace]="chatbotsUsingNamespace"
                    [userRole]="USER_ROLE"
                    [uploadEngineIsFirebase]="UPLOAD_ENGINE_IS_FIREBASE"
                    [storageBucket]="storageBucket"
                    [baseUrl]="baseUrl"
                    [permissionToAddFlows]="PERMISSION_TO_ADD_FLOWS"
                    [exportingTemplate]="esportingKBChatBotTemplate"
                    [hoveredChatbot]="hoveredChatbot"
                    (openChatbot)="presentDialogGoToCDS($event)"
                    (createChatbotOneClick)="createChatbotfromKbOfficialResponderTemplate()"
                  ></appdashboard-kb-chatbot-actions-panel>

                  <!-- TAB SWITCHER START -->
                  <div class="kb-switch-field" *ngIf="(kbsListCount || 0) > 0">
                    <input
                      type="radio"
                      id="tab-contents"
                      name="kb-tab-switch"
                      [checked]="selectedTab === 'contents'"
                      (change)="switchTab('contents')"
                    />
                    <label for="tab-contents">
                      <span>{{ 'KbPage.Contents' | translate }}</span>
                    </label>
                    <input
                      type="radio"
                      id="tab-unanswered"
                      name="kb-tab-switch"
                      [checked]="selectedTab === 'unanswered'"
                      (change)="switchTab('unanswered')"
                    />
                    <label for="tab-unanswered">
                      <span>{{ 'KbPage.UnansweredQuestions' | translate }}</span>
                    </label>
                  </div>
                  <!-- TAB SWITCHER END -->
      
                  <!-- Main tabs -->
                  <div [@fadeInOut] *ngIf="selectedTab === 'contents'">
                    <appdashboard-kb-contents-tab
                      [kbsList]="kbsList"
                      [kbsListCount]="kbsListCount"
                      [refresh]="refreshKbsList"
                      [hasRemovedKb]="hasRemovedKb"
                      [hasUpdatedKb]="hasUpdatedKb"
                      [getKbCompleted]="getKbCompleted"
                      [selectedNamespaceName]="selectedNamespaceName"
                      [hasAlreadyVisitedKb]="hasAlreadyVisitedKb"
                      [isAvailableRefreshRateFeature]="isAvailableRefreshRateFeature"
                      [t_params]="t_params"
                      [refreshRateIsEnabled]="refreshRateIsEnabled"
                      [payIsVisible]="payIsVisible"
                      [salesEmail]="salesEmail"
                      [project_name]="project_name"
                      [id_project]="id_project"
                      [showKBTableSpinner]="showKBTableSpinner"
                      [currentSortParams]="currentSortParams"
                      (openBaseModalDetail)="onOpenBaseModalDetail($event)"
                      (openBaseModalDelete)="onOpenBaseModalDelete($event)"
                      (openBaseModalNamespaceDelete)="onOpenBaseModalNamespaceDelete()"
                      (openBaseModalPreview)="onOpenBaseModalPreview()"
                      (onOpenAddContents)="onOpenAddContent()"
                      (openBaseModalPreviewSettings)="onOpenBaseModalPreviewSettings()"
                      (openAddKnowledgeBaseModal)="openAddKnowledgeBaseModal($event)"
                      (checkStatus)="onCheckStatus($event)"
                      (runIndexing)="onRunIndexing($event)"
                      (loadPage)="onLoadPage($event)"
                      (loadByFilter)="onLoadByFilter($event)"
                    ></appdashboard-kb-contents-tab>
                  </div>
                  <div [@fadeInOut] *ngIf="selectedTab === 'unanswered'">
                    <appdashboard-kb-unanswered-tab
                      [unansweredQuestions]="unansweredQuestions"
                      [unansweredQuestionsCount]="unansweredQuestionsCount"
                      [hasMore]="hasMoreUnansweredQuestions"
                      [isLoadingMore]="isLoadingMoreUnanswered"
                      [showUQTableSpinner]="showUQTableSpinner"
                      [namespace]="selectedNamespace"
                      [id_project]="id_project"
                      (refresh)="refreshUnansweredQuestions()"
                      (loadMore)="loadMoreUnansweredQuestions()"
                      (addFaqFromUnanswered)="onAddFaqFromUnanswered($event)"
                    ></appdashboard-kb-unanswered-tab>
                  </div>
                  <!-- /Main tabs -->
      
                </div>
              </div>
      
            </div>
      
          </div>
        </div>
      </div>

  </div>
</div>

<!-- Modals -->
<modal-page-url *ngIf="typeKnowledgeBaseModal == 'url-page'" (saveKnowledgeBase)="onAddKb($event)"
  (closeBaseModal)="onCloseBaseModal()">
</modal-page-url>

<modal-error-knowledge-base *ngIf="baseModalError" [errorMessage]="errorMessage" (closeBaseModal)="onCloseBaseModal()">
</modal-error-knowledge-base>