<footer>
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <!-- <a target="_blank" href="http://www.tiledesk.com" style="text-transform: none"> -->
                    <a target="_blank" [href]="companySiteUrl" style="text-transform: none">
                        <!-- tiledesk.com -->
                        {{ companySiteName }}
                    </a>
                </li>

                <li>
                    <!-- <a target="_blank" href="http://www.tiledesk.com/privacy.html" style="text-transform: none"> -->
                    <a target="_blank" [href]="privacyPolicyUrl" style="text-transform: none">
                        {{ privacyPolicyLinkName }}
                    </a>
                </li>

                <li *ngIf="displayTermsAndConditionsLink">
                    <!-- <a target="_blank" href="http://www.tiledesk.com/termsofservice.html" style="text-transform: none"> -->
                    <a target="_blank" [href]="termsAndConditionsUrl" style="text-transform: none">
                        {{ "TermsAndConditions" | translate }}
                    </a>
                </li>

                <li *ngIf="display_contact_us_email">
                    <!-- <a target="_blank" href="mailto:info@tiledesk.com" style="text-transform: none"> -->
                    <a target="_blank" href="mailto:{{contactUsEmail}}" style="text-transform: none">
                        <!-- Need help? write to   -->
                        {{ 'NeedHelpWriteTo' | translate }} <span style="font-weight:800">
                            {{contactUsEmail}}
                        </span>
                    </a>
                </li>
                <li>
                    <!-- <a  style="text-transform: none"> -->
                    <span style="padding: 15px;font-weight: 500; font-size: 12px;">
                        &copy; {{test | date: 'yyyy'}} {{company_name}} ver {{version}}
                    </span>
                    <!-- </a> -->
                </li>
                <!-- <li>
                    <a href="#">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="#">
                       Blog
                    </a>
                </li> -->
            </ul>
        </nav>
        <!-- &copy; {{test | date: 'yyyy'}} <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web -->
        <!-- <p class="copyright pull-right" style="font-size:12px; font-weight:500; margin-right: 45px ">
           &copy; {{test | date: 'yyyy'}} tiledesk ver 1.0.11
        </p> -->
    </div>
</footer>