:host {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin-right: 4px;
}

.activities-teammate-avatar-wrap {
  position: relative;
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}

.activities-teammate-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: #fff;
  font-size: 9px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.activities-teammate-avatar__removed-badge {
  position: absolute;
  right: -2px;
  bottom: 0px;
  width: 8px;
  height: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  pointer-events: auto;
  z-index: 1;
}

.activities-teammate-avatar__removed-badge svg {
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 0 1.5px #fff;
}

:host(.activities-teammate-avatar--menu) {
  margin-right: 16px;
  line-height: normal;
}

:host(.activities-teammate-avatar--menu) .activities-teammate-avatar {
  width: 24px;
  height: 24px;
  font-size: 10px;
}

:host(.activities-teammate-avatar--menu) .activities-teammate-avatar__removed-badge {
  right: -2px;
  bottom: 0;
  width: 12px;
  height: 12px;
}

:host(.activities-teammate-avatar--menu) .activities-teammate-avatar__removed-badge svg {
  width: 12px;
  height: 12px;
}
