<p style="margin-top:10px; padding-left:30px" class="navbar-brand">{{ "Departments" | translate }}</p> 
<div class="main-content" style="padding-top:0px">
  <div class="container-fluid">

    <div class="create" style="text-align: right!important; padding-top:5px; padding-bottom:0px">
      <button class="btn btn-info" style="padding-left:8px; padding-right: 16px; margin-bottom: 0px;" (click)="goToEditAddPage_CREATE()">
          <!-- is-small -->
        <span class="icon" style="padding-right:8px">
          <i class="material-icons">add_circle</i>
        </span>
        <!-- Aggiungi Dipartimento -->
        {{ "DepartmentsPage.AddDepartment" | translate }}
      </button>
    </div>
 
    <!-- MOMGO DB DEPARTMENTS LIST -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <loading-spinner *ngIf="showSpinner"></loading-spinner>

          <div *ngIf="!showSpinner" class="card-content table-responsive">
           
            <table class="table">
              <thead>
                <tr>

                  <th>
                    <span style="color: #566787">
                      <!-- Dept Name -->
                      <strong>
                        {{ "Name" | translate }}
                      </strong>
                    </span>
                  </th>
                  <th>
                    <span style="color: #566787"> 
                      <strong>
                        Id
                      </strong>
                    </span>
                  </th>

                  <th>
                    <span style="color: #566787"> 
                      <strong>
                        Bot
                      </strong>
                    </span>
                  </th>

                  <th>
                    <span style="color: #566787"> 
                      <strong>
                        Routing
                      </strong>
                    </span>
                  </th>

                  <th>
                    <span style="color: #566787"> 
                      <strong>
                        Operators
                      </strong>
                    </span>
                  </th>
                  
                  <th>
                    <span style="color: #566787">
                      <!-- Creation Date -->
                      <strong>
                        {{ "DepartmentsPage.CreationDate" | translate }}
                      </strong>
                    </span>
                  </th>

                  <th>
                    <span style="color: #566787">
                      <strong>
                        {{ "DepartmentsPage.Actions" | translate }}
                      </strong>  
                    </span>
                  </th>
                </tr>
              </thead>
  
              <tbody>
   
                <!-- IF THERE ISN'T DEPARTMENTS -->
                <tr *ngIf="departments.length === 1"> 
                  <td colspan="5" style="text-align: center; padding-top: 16px;">
                    <!-- color: #ff5252   -->
                    <p style="font-size:1em; color:#999999; font-weight: 400">
                      <!-- Nessun Visitatore! Clicca qui per simulare un visitatore. -->
                      {{ 'DepartmentsPage.NoDept' | translate }}
                    </p>
                  </td>
                </tr>
                
                <tr *ngFor="let dept of departments">
                  <td *ngIf="dept?.default !== true">
                    {{ dept?.name }}
                  </td>
                  <!-- width: 280px !important -->
                  <td *ngIf="dept?.default !== true" style="">
                    {{ dept?._id }}
                  </td>

                  <!-- // BOT -->
                  <td *ngIf="dept?.default !== true" style="">
                    <span *ngIf="dept?.id_bot"> <span style="color: #aaaaaa">activatet bot: </span> {{ dept?.id_bot }} </span>
                    <span *ngIf="!dept?.id_bot" style="color: #aaaaaa"> no bot activated</span>
                  </td>

                  <td *ngIf="dept?.default !== true" style="text-transform: capitalize;">
                      <!-- *ngIf="dept?.routing !== 'fixed'" -->
                    <span > {{ dept?.routing }}</span>
                    <!-- <span *ngIf="dept?.routing === 'fixed'"> Bot </span> -->
                  </td>

                  <!-- // OPERATORS -->
                  <td *ngIf="dept?.default !== true" style="">
  
                    <!-- USE CASE 1: ROUTING ASSIGNED or POOLED + THE DEPT HAS A GROUP ID NOT NULL AND NOT UNDEFINED + THE GROUP NOT HAS TRASHED VALUE -->
                    <!-- dept?.routing !== 'fixed' &&  -->
                    <span *ngIf="dept?.hasGroupName && !dept?.groupHasBeenTrashed"> 
                      <span style="color: #aaaaaa"> {{ 'DepartmentsPage.Group' | translate }}</span> {{ dept?.hasGroupName }}  
                    </span>

                    <!-- USE CASE 2: ROUTING ASSIGNED or POOLED + THE DEPT HAS A GROUP ID NOT NULL AND NOT UNDEFINED + THE GROUP HAS TRASHED VALUE = TRUE -->
                    <!-- dept?.routing !== 'fixed' &&  -->
                    <span *ngIf="dept?.hasGroupName && dept?.groupHasBeenTrashed === true"> 
                      <span style="color: #aaaaaa; vertical-align: middle; "> {{ 'DepartmentsPage.Group' | translate }} </span> 
                      <span style="vertical-align: middle;">{{ dept?.hasGroupName }} </span>
                      <i class="material-icons" style="vertical-align: middle; font-size:12px; color: #ff5252; padding-left: 8px">report_problem</i> 
                      <span style="color: #ff5252; vertical-align: middle; font-size:12px;">{{ 'DepartmentsPage.TheGroupHasBeenTrashed' | translate }} </span> 
                    </span>

                    <!-- USE CASE 3: ROUTING ASSIGNED or POOLED + THE DEPT HAS A GROUP ID NULL OR NOT UNDEFINED -->
                    <!-- dept?.routing !== 'fixed' &&  -->
                    <span *ngIf="!dept?.hasGroupName"> 
                        {{ 'DepartmentsPage.AllUsers' | translate }}
                    </span>

                    
                  </td>

                  <td *ngIf="dept?.default !== true">
                    {{ dept?.createdAt | date: 'd/M/y'}}
                  </td>
                  <!-- <td style="text-align: center!important">
                    <span class="button is-small is-danger" (click)='openDeleteModal(dept?._id, dept?.name, hasClickedDeleteModal = true)'>
                      Delete
                    </span>
                  </td>
                  <td style="text-align: center!important">
                    <span class="button is-small is-warning" (click)='goToEditAddPage_EDIT(dept?._id, dept?.name)'>
                      Edit
                    </span>
                  </td> -->

                  <!-- NEW EDIT ADD -->
                  <td *ngIf="dept?.default !== true" class="td-actions text-right">
                    <button type="button" rel="tooltip" title="{{ 'DepartmentsPage.tooltipEditDept' | translate }}" class="btn btn-primary btn-simple btn-xs" (click)='goToEditAddPage_EDIT(dept?._id, dept?.name)'>
                      <i class="material-icons">edit</i>
                    </button>
                    <button *ngIf="dept?.default !== true" type="button" rel="tooltip" title="{{ 'DepartmentsPage.tooltipDeleteDept' | translate }}" class="btn btn-danger btn-simple btn-xs" (click)='openDeleteModal(dept?._id, dept?.name)'>
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

       
<!-- ============= DELETE MODAL =============-->

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDeleteModal}" style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header" style="background-color:#ff5252; padding-bottom:24px">
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
          <span aria-hidden="true" style="color: #fff">&times;</span>
        </button>

        <h4 class="modal-title" style="color: #fff">
          <!-- Delete department with id: -->
          <i class="material-icons" style="vertical-align: middle;">report_problem</i>
          <span style="vertical-align: middle; padding-left:8px">
            {{ "DepartmentsPage.DeleteDepartment" | translate }}
          </span>
        </h4>

        <h4 class="modal-title" style="color: #fff; padding-top:10px; font-size: 1.1em;">
          {{ "DepartmentsPage.DeleteDepartmentWithId" | translate }} <code>{{id_toDelete}}</code> {{ "DepartmentsPage.WillBeDeleted" | translate }}
        </h4>
      </div>

      <div class="modal-body">
        <!-- <p> Are you sure you want to delete the department <strong>{{deptName_toDelete}}</strong>?</p> -->
        <p style="font-weight:500; text-align: left; margin-top: 10px; color: #999"> 
          {{ "DepartmentsPage.AreYouSure" | translate }}<strong>{{deptName_toDelete}}</strong>?
        </p>
      </div>

      <div class="modal-footer" style="margin-top: 0px;">
        <button class="btn btn-white" (click)="onCloseModal()" style="padding:12px 16px;">{{ "DepartmentsPage.Cancel" | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="onCloseDeleteModalHandled()">{{ "DepartmentsPage.Confirm" | translate }}</button>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
