// MESSAGES IN MODAL 
.msgcontainer  {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    display: inline-block;
    min-width: 150px;
    max-width: 350px;
}

.msgcontainer::after {
    content: "";
    clear: both;
    display: table;
}

/* Style time text */
.time-right {
    float: left;
    color: #aaa;
    padding-right: 0px !important;
}

// .msg_sender{
//     position: relative;
//     display: block;
//     z-index: 2;
//     float: left;
//     padding-top:10px;
//     padding-right:10px;
// }


// new 2
/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: #f1f1f1 transparent transparent transparent;
}
/* CSS talk bubble */
.talk-bubble {
	// margin: 40px;
  display: inline-block;
  position: relative;
	// width: 350px;
	height: auto;
    background-color: #f1f1f1;
    box-shadow: 0px 5px 8px -4px #c1c1c1;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: #f1f1f1 #f1f1f1 transparent transparent;
}

.tag_member {

   border: 1px solid #00bcd4;
   padding: 2px 4px;
   margin: 0 6px 6px 0;
   color: #00bcd4;
   font-size:12px;
   font-weight: 400
}

.tag_member:hover {

    border: 1px solid #fff;
    padding: 2px 4px;
    margin: 0 6px 6px 0;
    color: #fff;
    font-size:12px;
    background-color: #00bcd4
 }

.tag_member_me {
    border: 1px solid #4caf50;
    padding: 1px 3px;
    margin: 0 6px 6px 0;
    color: #4caf50;
    font-size:12px;
    font-weight: 600
}

/*****************CHAT BODY *******************/
.chat-body h6 {
  font-size: 20px;
  margin: 0 0 20px;
}
.chat-body .answer.left {
  padding: 0 0 0 58px;
  text-align: left;
  float: left;
}
.chat-body .answer {
  position: relative;
  max-width: 600px;
  overflow: hidden;
  clear: both;
}
.chat-body .answer.left .avatar {
  left: 0;
}
.chat-body .answer .avatar {
  bottom: 36px;
}

.chat .avatar {
  width: 40px;
  height: 40px;
  position: absolute;
}
.chat .avatar img {
  display: block;
  border-radius: 20px;
  height: 100%;
}
.chat-body .answer .name {
  font-size: 12px;
  line-height: 16px;
  margin-top:15px;
}
.chat-body .answer.left .avatar .status {
  right: 4px;
}
.chat-body .answer .avatar .status {
  bottom: 0;
}
.chat-body .answer.left .text {
  background: #ebebeb;
  color: #333333;
  border-radius: 8px 8px 8px 0;
}
.chat-body .answer .text {
  padding: 12px;
  font-size: 16px;
  line-height: 26px;
  position: relative;
}
.chat-body .answer.left .text:before {
  left: -30px;
  border-right-color: #ebebeb;
  border-right-width: 12px;
}
.chat-body .answer .text:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  border: 18px solid transparent;
  border-bottom-width: 0;
}
.chat-body .answer.left .time {
  padding-left: 12px;
  color: #333333;
}
.chat-body .answer .time {
  font-size: 16px;
  line-height: 36px;
  position: relative;
  padding-bottom: 1px;
}

@media (min-width: 1270px) {
  .messageText {
        min-width: 300px;
      }
  }

  .messageText {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  .messageTime {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  .senderFullname {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  #fixed-button {
    bottom: 85px;
    right: 55px;
    position: absolute;
    background-color: #eeeeee;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 3px;
    border-radius: 100px;
    padding-bottom: 3px;
    color:#00bcd4;
    cursor: pointer
}

#fixed-button:hover {
  color:#fff;
  background-color: #00bcd4;
} 

// TITLE: REQUEST ATTRIBUTES
// from 767px to 1330px 
@media (min-width: 767px) and (max-width: 1205px){
  .requestattibutestitle {
    height: 69px;
    
  }
  .requestattibutestime {
    float: left !important;
  }
  .requestattibutes {
    float: left !important;
  }
}

@media (min-width: 940px) and (max-width: 991px){
  .requestattibutestitle {
    height: 42px;
    
  }
}