<div class="panel-left-sidebar-toolbar-a">
  <div class="panel-left-sidebar-toolbar-b">
    <div class="panel-left-sidebar-toolbar-c">

      <div class="panel-left-sidebar-logged-in-user">
        <div class="panel-left-sidebar-avatar-wrapper">

          <img class="panel-left-sidebar-avatar"
            *ngIf="userProfileImageExist === true || userImageHasBeenUploaded === true"
            alt="{{user.firstname}} {{user.lastname}}" [src]="getUserProfileImage()">
          <img class="panel-left-sidebar-avatar"
            *ngIf="userProfileImageExist !== true && userImageHasBeenUploaded !== true"
            src="assets/img/no_image_user.png" />

          <div (click)="changeAvailabilityState(IS_AVAILABLE = !IS_AVAILABLE)" *ngIf="!IS_PROJECTS_X_PANEL_ROUTE"
            class="panel-left-sidebar-logged-in-user-status"
            [ngClass]="{'logged-in-user-status-online' : IS_AVAILABLE === true, 'logged-in-user-status-offline' : IS_AVAILABLE === false}">
          </div>

          <div *ngIf="IS_BUSY === true" class="user-is-busy">
            <span class="material-icons"
              style="font-size: 16px; color: #fedd00; position: absolute;top: 7px;  background: #1e2129; border-radius: 50%;">
              access_time
            </span>

          </div>
        </div>

        <div class="panel-left-sidebar-logged-in-user-name-and-email">
          <div class="panel-left-sidebar-logged-in-user-name"> {{ user.firstname }} {{ user.lastname }} </div>
          <div class="panel-left-sidebar-logged-in-user-email"> {{ user.email }} </div>
        </div>
      </div>
    </div>

    <div class="panel-left-sidebar-actions">
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="material-icons dark-style-icon" style="">
            arrow_drop_down
          </span>
        </a>
        <!-- (click)="$event.stopPropagation()" -->
        <ul class="dropdown-menu dark-style-dropdown-menu" style=" left: -125px;" >
          <li (click)="selectAppearance('true')">
            <a>
              <span class="material-icons dark-style-icon icon-in-dropdown"  [ngClass]="{'dark-style-icon-selected' : dkmode === 'true'}">
                bedtime
              </span>
              Dark mode
            </a>
          </li>

          <li (click)="selectAppearance('false')">
            <a>
              <span class="material-icons dark-style-icon icon-in-dropdown" [ngClass]="{'dark-style-icon-selected' : dkmode === 'false'}">
                wb_sunny
              </span>
              Light mode
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>



<!-- <div style="display: none; background-color: #1e2129 !important;
color: #fff !important; position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  min-height: 80px;
  max-height: 80px;">

  <div style="  position: absolute;
  /* top: 92px; */
  /* top: 80px; */
  border-radius: 50%;
  padding: 8px;
  /* -webkit-transform: translateX(-50%); */
  /* transform: translateX(-50%); */
  /* left: 50%; */
  ">
    <img class="avatar" *ngIf="userProfileImageExist === true || userImageHasBeenUploaded === true"
      [src]="getUserProfileImage()" />

    <img class="avatar" *ngIf="userProfileImageExist !== true && userImageHasBeenUploaded !== true"
      src="assets/img/no_image_user.png" />

  </div>
</div> -->