.panel-left-sidebar-toolbar-a {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    background-color: #1e2129 !important;
}

.panel-left-sidebar-toolbar-b {
    flex: 1 1 0%;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    place-content: center space-between;
    align-items: center;
}

.panel-left-sidebar-toolbar-d {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
}

.panel-left-sidebar-logged-in-user {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
}

.panel-left-sidebar-avatar-wrapper {
    position: relative;
}

.panel-left-sidebar-avatar {
    width: 42px;
    min-width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    // margin-right: 16px;
    // margin-left: 4px;
    margin-right: 9px;
    margin-left: 9px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.panel-left-sidebar-logged-in-user-status {
    position: absolute;
    // width: 14px;
    // height: 14px;
    // bottom: 8px;
    // left: 43px;
    width: 12px;
    height: 12px;
    bottom: 8px;
    left: 35px;
    border: 1px solid #2d323e;
    border-radius: 50%;
}

.logged-in-user-status-online {
    background-color: #4caf50;
}

.logged-in-user-status-offline {
    background-color: #f44336;
}

.panel-left-sidebar-logged-in-user-name {
    color: #fff;
}

.panel-left-sidebar-logged-in-user-email {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}
// .dark-style-icon{
//     color: #dbddde;
//     background-color: rgba(255, 255, 255, 0.1);
//     border-radius: 50%;
//     padding: 6px;
//     margin-right: 6px;
//     height: 36px;
//     width: 36px;
// }

.dark-style-dropdown-menu {
    background: #1e212a;
}

.dark-style-dropdown-menu > li > a {
    color: #e4e6eb;
}

.dark-style-dropdown-menu li a:hover,
.dark-style-dropdown-menu li a:focus,
.dark-style-dropdown-menu li a:active {
    background-color: unset;
    // color: #FFFFFF;
}

.dark-style-icon {
    color: #dbddde;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 6px;
    margin-right: 6px;
    height: 36px;
    width: 36px;
}

.dark-style-icon:hover {
    background-color: rgba(45, 136, 255, 0.2);
    color: #3491ff;
}

.dark-style-icon-selected {
    background-color: rgba(45, 136, 255, 0.2);
    color: #3491ff;
}

.icon-in-dropdown {
    margin-left: -10px;
    margin-right: 16px;
}
