<!-- ROW AND CUSTOM COL RESOLVE THE ISSUE: THE NAVIGATION TO PREVIOUS PAGE IS IMPOSSIBLE BECAUSE THE NAVBAR IS OVER THE NAVBAR BRAND IN WHICH THERE IS THE BACK BUTTON -->
<!-- <div class="row"> -->
<!-- <div class="col-md-11 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-9 col-xs-offset-3" style="right:25px"> -->
<!-- navbar-transparent -->
<nav class="navbar navbar-absolute">
  <!-- <div *ngIf="HIDE_PENDING_EMAIL_NOTIFICATION === false"> 
    <div (click)="goToUserProfile()" *ngIf="user?.emailverified == false">

{{"NavBar.PendingVerification" | translate }}
    </div>

  </div> -->

  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" style="margin-top:3px" data-toggle="collapse"
        (click)="sidebarToggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <!-- <a class="navbar-brand" href="#">{{getTitle()}}</a> -->
      <!-- <a class="navbar-brand" href="#">Testina</a> -->
    </div>
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-right">
        <!-- <li>
                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">dashboard</i>
                    <p class="hidden-lg hidden-md">Dashboard</p>
                </a>
            </li> -->

        <!-- // ======= START - TEST - LOGOUT FROM FIREBASE ======= // -->
        <!-- <li *ngIf="APP_IS_DEV_MODE == true" style="cursor:pointer">
                <a (click)="testExpiredSessionFirebaseLogout()">
                    <i class="material-icons">lock_open</i>
                    FireBase Logout
                </a>
            </li> -->
        <!-- // ======= ./END - TEST - LOGOUT FROM FIREBASE ======= // -->

        <!-- <li *ngIf="DETECTED_CHAT_PAGE">
          <a target="_blank" href="{{ CHAT_BASE_URL }}">
            <i class="material-icons">open_in_new</i>
            {{ "NavBar.RunChatInAStandAloneTab" | translate }}
          </a>
        </li> -->

        <!-- -------------------------------------------- -->
        <!-- Quote - usage stats  indicator -->
        <!-- -------------------------------------------- -->
        <!-- // Alternative: follow the example on https://codepen.io/nikitahl/pen/ZEjRBEE -->
        <ng-container *ngIf="project && isVisibleQuoteBtn">
          <li id="usage-stats">

            <button mat-mini-fab aria-label="trend icon" [matMenuTriggerFor]="menu" class="quote-modal-btn"
              [ngClass]="{'quote-modal-btn-no-left-padding': prjct_profile_type === 'free'}"
              (click)="onOpenQuoteMenu()">
              <mat-icon style="color: #555555">
                data_usage
              </mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" style="margin-top: 6px !important; width: 220px !important;">

              <div class="menu-container">
                <p class="menu-title">Usage</p>
                <div class="quotes-container">

                  <div class="quote-container">

                    <div>
                      <p class="quote-title">Conversations</p>
                      <div class="quote-count">{{requests_count | number:'1.0-0'}} / {{requests_limit | number:'1.0-0'}}</div>
                    </div>

                    <div class="quote">
                      <mat-progress-spinner class="example-margin" [strokeWidth]="5" [diameter]="50" [color]="'primary'"
                        [mode]="'determinate'" [value]="requests_perc">
                      </mat-progress-spinner>

                      <div class="percentage">{{ requests_perc }}<span
                          style="font-size: 10px; margin-top: 2px; margin-left: 1px"> %</span></div>
                    </div>

                  </div>

                  <div class="quote-container">

                    <!-- // number:'1.0-1' to diplay minimun 0 and manximum 1 digit after the comma -->
                    <div>
                      <p class="quote-title">AI Tokens</p>
                      <div class="quote-count">{{tokens_count | number:'1.0-0'}} / {{tokens_limit | number:'1.0-0'}}</div>
                    </div>

                    <div class="quote">
                      <mat-progress-spinner class="example-margin" [strokeWidth]="5" [diameter]="50" [color]="'primary'"
                        [mode]="'determinate'" [value]="tokens_perc">
                      </mat-progress-spinner>

                      <div class="percentage">{{ tokens_perc }}<span
                          style="font-size: 10px; margin-top: 2px; margin-left: 1px"> %</span></div>
                    </div>

                  </div>

                  <div class="quote-container">

                    <div>
                      <p class="quote-title">Email</p>
                      <div class="quote-count">{{email_count | number:'1.0-0'}} / {{email_limit | number:'1.0-0'}}</div>
                    </div>

                    <div class="quote">
                      <mat-progress-spinner class="example-margin" [strokeWidth]="5" [diameter]="50" [color]="'primary'"
                        [mode]="'determinate'" [value]="email_perc">
                      </mat-progress-spinner>

                      <div class="percentage">{{ email_perc }}<span
                          style="font-size: 10px; margin-top: 2px; margin-left: 1px"> %</span></div>
                    </div>
                  </div>
                </div>


                <button *ngIf="isVisiblePay"  mat-flat-button class="upgrade-btn" (click)="goToPricing()">
                  <span class="material-icons-outlined">bolt</span>
                  {{ "Pricing.UpgradePlan" | translate }}
                </button>

              </div>

            </mat-menu>
          </li>
        </ng-container>

        <!-- ------------------------------------------------  -->
        <!--  UPGRADE (PROFILE TYPE = FREE) -->
        <!-- ------------------------------------------------  -->
        <ng-container *ngIf="isVisible">
          <li id="trial-days-indicator" *ngIf="project && prjct_profile_type === 'free'">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding:0px;">
              <div id="progress" class="progress" [attr.data-percentage]="prjc_trial_days_left_percentage">
                <span class="progress-left">
                  <span class="progress-bar"
                    [ngClass]="{' progress-bar-expired' : prjct_trial_expired === true}"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"
                    [ngClass]="{' progress-bar-expired' : prjct_trial_expired === true}"></span>
                </span>
                <div class="progress-value">
                  <div style="font-size: 14px;font-weight: 400;">
                    <span *ngIf="prjct_trial_expired === false">
                      {{ prjc_trial_days_left }}
                    </span>
                    <span *ngIf="prjct_trial_expired === true">
                      0
                    </span>
                  </div>
                </div>
              </div>
            </a>

            <ul class="dropdown-menu"
              style="margin-top: 11px; padding-left:20px;padding-right:20px;width: 200px; left: -82px;">
              <p *ngIf="prjct_trial_expired === false" style="margin-bottom:0px">
                {{ "Pricing.Your" | translate }}

                <span style="font-weight:600">
                  {{ "Pricing.30DaysFreeTrial" | translate: tParamsPlanNameTrialExpired }}
                </span>

                {{ "Pricing.WillExpireIn" | translate }}

                <span *ngIf="prjc_trial_days_left < -1">
                  {{ - prjc_trial_days_left }} {{ "Pricing.Days" | translate }}
                </span>

                <span *ngIf="prjc_trial_days_left === -1">
                  {{ "Pricing.Tomorrow" | translate }}
                </span>
              </p>

              <p *ngIf="prjct_trial_expired === true" style="margin-bottom:0px">
                {{ "Pricing.Your" | translate }}
                <span style="font-weight:600">
                  {{ "Pricing.30DaysFreeTrial" | translate: tParamsPlanNameTrialExpired }}
                </span>
                {{ "Pricing.HasExpired" | translate }}
              </p>
            </ul>
          </li>
        </ng-container>


        <!--  ------------------------------------------------ -->
        <!--    UPGRADE BTN (PROFILE TYPE = FREE)  -->
        <!--  ------------------------------------------------ -->
        <ng-container *ngIf="isVisible">
          <li id="upgrade-plan-link" *ngIf="project && prjct_profile_type === 'free'">
            <a class="upgrade-btn-trial-expired" (click)="goToPricing()"> {{ "Pricing.UpgradePlan" | translate }} </a>
          </li>
        </ng-container>


        <!--  ------------------------------------------------ -->
        <!--   PLAN NAME (PROFILE TYPE = PAYMENTS)  && HOME_ROUTE_IS_ACTIVE === false -->
        <!--  ------------------------------------------------ -->
        <ng-container *ngIf="isVisible">
          <li
            [ngClass]="{'hide-expired-subscription-indicator': prjct_profile_type === 'payment' && subscription_is_active === true}"
            id="expired-subscription-indicator" *ngIf="project && prjct_profile_type === 'payment'">
            <a>
              <!--  ------------------------------------------------ -->
              <!--  TOOLTIP SUB EXPIRED (PROFILE TYPE = PAYMENTS) -->
              <!--  ------------------------------------------------ -->
              <span *ngIf="prjct_profile_type === 'payment' && subscription_is_active === false" style="color:#f44336;"
                (click)="openModalSubsExpired()" 
                  class="expired__Tooltip">
                <i class="material-icons"
                  style="vertical-align: middle; color:#f44336; cursor:pointer; position: relative; top: 2px">
                  error_outline
                </i>
                <span class="expired__Tooltiptext"
                  style="font-size:12px; top: 27px;text-transform:none; cursor: pointer; height: fit-content;vertical-align: middle;">

                  <span *ngIf="profile_name !== PLAN_NAME?.C && profile_name !== PLAN_NAME?.F">
                    {{ 'Pricing.SubscriptionPaymentProblem' | translate }}
                  </span>
                  <span *ngIf="profile_name === PLAN_NAME?.C || profile_name === PLAN_NAME?.F">
                    {{ 'Pricing.ThePlanHasExpired' | translate }}
                  </span>
                </span>
              </span>
            </a>
          </li>
        </ng-container>

        <!-- <ng-container class="operating-hours">
          <li *ngIf="project">
            <a class="tool_tip" style="cursor: pointer;" *ngIf="!OPERATING_HOURS_ACTIVE" (click)="goToOperatingHours()">
              <i class="material-icons" style="color:#AAA">access_time</i>
          
              <p class="hidden-lg hidden-md">operatinghoursoff</p>
              <div class="bottom" style="text-align: center; padding: 4px; border-radius: 3px; text-transform: none; min-width: fit-content; white-space: nowrap;">
                {{ 'OperatingHoursAreDisabled' | translate }}
                <i></i>
              </div>
            </a>
            <a class="tool_tip" style="cursor: pointer;" *ngIf="OPERATING_HOURS_ACTIVE" (click)="goToOperatingHours()">
              <i class="material-icons" style="color:#3ea9f5">access_time</i>
              <p class="hidden-lg hidden-md">operatinghourson</p>
              <div class="bottom" style="text-align: center; padding: 4px; border-radius: 3px;">
                {{ 'OperatingHoursAreEnabled' | translate }}

                <i></i>
              </div>
            </a>
          </li>
        </ng-container> -->

        <!-- ------------------------------------------------------ -->
        <!-- Switch theme color -->
        <!-- ------------------------------------------------------ -->
        <!-- <div>
            <input type="checkbox" (change)="changeThemeColor()">
        </div> -->

        <!-- ------------------------------------------------------ -->
        <!-- test site btn -->
        <!-- ------------------------------------------------------ -->
        <ng-container class="test-site">
          <li *ngIf="project">
            <button class="btn btn-success-no-boxshadow simulate-visitor-btn" style="font-size: 12px;margin-top: 14px;padding: 0px 11px 0px 4px !important; max-height:24px; border-radius: 30px;
            font-family: 'Poppins';" (click)="testWidgetPage()">
              <i class="material-icons" style="padding-top: 0px;font-size: 24px;">play_arrow</i>
              <span>{{ 'VisitorsPage.SimulateVisitor' | translate }} </span>
            </button>
          </li>
        </ng-container>
        <!-- <ng-container class="test-site">
          <li *ngIf="project">
            <a class=" navbar-test-site-ancor" (click)="testWidgetPage()">
              <div class="navbar-test-site-btn-wpr tool_tip">
                <i class="material-icons navbar-test-site-icon" style="vertical-align: middle;">play_arrow</i>
                <p class="hidden-lg hidden-md">testwidget</p>
                <div class="bottom"
                  style="text-align: center; padding:2px 5px; border-radius: 3px; text-transform: none;  min-width: fit-content; white-space: nowrap; top: 31px; opacity: 1;">
                  {{ 'VisitorsPage.SimulateVisitor' | translate }}
                  <i></i>
                </div>
              </div>
            </a>
          </li>
        </ng-container> -->

        <!--  ------------------------------------------------ -->
        <!--  ------ PROJECTS  DROPDOWN ------ -->
        <!--  ------------------------------------------------ -->
        <li *ngIf="project">
          <a href="#" class="dropdown-toggle project-dropdown" data-toggle="dropdown">
            <i id="navbar-dropdown" class="material-icons" style="margin-right: 3px;">keyboard_arrow_down</i>
            <span style="text-transform: none"> {{ project.name }} </span>
            <!-- <p class="hidden-lg hidden-md">Projects</p> -->
          </a>

          <ul id="navbar_dropdown" class="dropdown-menu" style="max-height: 240px;overflow-y: auto;">


            <!--  ------------------------------------------------ -->
            <!--  PROJECT SETTINGS  -->
            <!--  ------------------------------------------------ -->
            <!-- <li *ngIf="ROLE_IS_AGENT === false">
              <a routerLink="/project/{{ project?._id }}/project-settings/general">
                <i class="material-icons" style="padding-right: 5px; margin-bottom: 2px; font-size: 20px">settings</i>
                {{ 'ProjectSettings' | translate }}
              </a>
            </li> -->


            <!--  ------------------------------------------------ -->
            <!--  ALL PROJECTS -->
            <!--  ------------------------------------------------ -->
            <li (click)="goToProjects()">
              <a style="cursor: pointer">
                <i class="material-icons" style="padding-right: 5px; margin-bottom: 2px; font-size: 20px">view_list</i>
                {{ 'NavBar.ViewAllProjects' | translate }}
              </a>
            </li>


            <!--  ------------------------------------------------ -->
            <!--  ADD PROJECT -->
            <!--  ------------------------------------------------ -->
            <li id="navbar_create_prjct" *ngIf="MT === true" (click)="goToCreateProject()">
              <a style="cursor: pointer">
                <i class="material-icons"
                  style="padding-right: 5px; margin-bottom: 2px; font-size: 20px">add_circle_outline </i>
                {{ 'AddProject' | translate }}
              </a>
            </li>
            <li class="divider"></li>

            <!--  ------------------------------------------------ -->
            <!--  RECENT PROJECTS -->
            <!--  ------------------------------------------------ -->
            <li>
              <span style="padding-left: 24px;font-size: 12px; color: rgb(118,149,165);font-weight: 400">
                {{ 'RecentProjects' | translate }}
              </span>
            </li>

            <!-- 
            ***** ngFor - reverse order of output using the index *****
            Reverse() works in place. It means, it will change the original array. 
            Slice without parameters returns a copy of projects, so original array, in this case, stays unchanged.  
            let prjct of projects?.reverse()
            -->
            <!-- *ngFor="let prjct of projects?.slice().reverse() | slice:0:5; let i=index" -->
            
            <li *ngFor="let prjct of projects?.slice() | slice:0:5; let i=index" style="cursor: pointer">
              <a (click)="goToHome(prjct, prjct?.id_project, prjct?.role, prjct?.id_project?._id)"
                [ngClass]="{'li-selected' : prjct?.id_project?._id === projectId }">

                <span> {{ prjct?.id_project?.name }} </span>
              </a>
            </li>

            <ng-container *ngIf="projects?.length > 5">
              <li class="divider"></li>
              <li>
                <span style="padding-left: 24px;font-size: 12px; color: rgb(118,149,165);font-weight: 400">
                  {{ 'OtherProjects' | translate}}
                </span>
              </li>

              <!-- *ngFor="let prjct of projects?.slice().reverse() | slice:5:10; let i=index" -->
              <li *ngFor="let prjct of projects?.slice() | slice:5:10; let i=index" style="cursor: pointer">
                <a (click)="goToHome(prjct, prjct?.id_project, prjct?.role, prjct?.id_project?._id)">
                  {{ prjct?.id_project?.name }}
                </a>
              </li>
            </ng-container>

          </ul>
        </li>


        <!--  ------------------------------------------------ -->
        <!--  Sound on / off -->
        <!--  ------------------------------------------------ -->
        <li *ngIf="project">
          <a style="cursor: pointer;" *ngIf="NOTIFICATION_SOUND === 'enabled'" (click)="soundOFF()">
            <i class="material-icons">volume_up</i>
            <!-- <p class="hidden-lg hidden-md">soundon</p> -->
          </a>
          <a style="cursor: pointer;" *ngIf="NOTIFICATION_SOUND === 'disabled'" (click)="soundON()">
            <i class="material-icons">volume_off</i>
            <!-- <p class="hidden-lg hidden-md">soundoff</p> -->
          </a>
        </li>


        <!--  ------------------------------------------------ -->
        <!--  NOTIFICATION -->
        <!--  ------------------------------------------------ -->
        <!-- <li *ngIf="project" class="dropdown" matTooltipClass="custom-mat-tooltip-navbar"
          matTooltip="{{ 'Unserved' | translate }}: {{ unservedRequestCount }} - {{ 'AssignedToYou' | translate}}: {{currentUserRequestCount}}"
          #tooltip="matTooltip" matTooltipPosition='left' matTooltipHideDelay="100">
          <a routerLink="project/{{ project._id }}/wsrequests" class="dropdown-toggle" data-toggle="dropdown">
            <i class="material-icons">notifications</i>

            <!- - SHOW THE BADGE OVER NOTIFICATION IF THE COUNT OF UNSERVED OR TO ASSIGNED TO CURRENT USER REQUESTS IS > 0 - ->
            <span *ngIf="unservedRequestCount > 0 || currentUserRequestCount > 0 ">
              <span class="notification">
                {{ unservedRequestCount + currentUserRequestCount }}
              </span>
            </span>
          </a>
        </li> -->

        <!--  ------------------------------------------------ -->
        <!--  Dashboard language -->
        <!--  ------------------------------------------------ -->
        <!-- <li *ngIf="project">
          <a routerLink="project/{{ project._id }}/user-profile" fragment="language" style="cursor: pointer;">
            <span class="expired__Tooltip">
            <img [src]="flag_url"  style="width: auto;height: 19px; position: relative;top: -1px;">
           
            <span class="expired__Tooltiptext"  style="font-size:12px; top: 27px;text-transform:none; cursor: pointer; height: fit-content;vertical-align: middle;">
              
              {{'TheDashboardIsTranslatedInto' | translate: tlangparams }}
            </span>
          </span>
          </a>
        </li> -->

        <!--  ------------------------------------------------ -->
        <!--  USER -->
        <!--  ------------------------------------------------ -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="material-icons">person</i>
            <span class="tooltipx">
              <span *ngIf="user?.emailverified == false" class="notification"
                style="font-weight: 200; font-size:12px; right:-1px; top:-24px">
                !
                <span class="tooltiptext" style="min-height:44px; line-height: 1.5">
                  {{"NavBar.PendingVerification" | translate }}
                </span>
              </span>
            </span>
          </a>

          <ul *ngIf="user" class="dropdown-menu">
            <div class="card card-profile">
              <div class="card-avatar user-profile-avatar">
                <a>

                  <img *ngIf="userProfileImageExist === true || userImageHasBeenUploaded === true"
                    class="user-img-in-dropdown" [src]="getUserProfileImage()" />

                  <img *ngIf="userProfileImageExist !== true && userImageHasBeenUploaded !== true" class="user-img"
                    src="assets/img/no_image_user.png" />
                </a>
              </div>
              <div class="content">
                <h4 class="card-title user-profile-fullname">
                  <strong> {{ user?.firstname }} {{ user?.lastname }} </strong>
                </h4>
                <h4 class="card-title user-profile-email">
                  {{ user?.email }}
                </h4>
                <h6 class="card-title user-profile-role">
                  {{ USER_ROLE | translate}}
                </h6>


                <button *ngIf="project" class="btn btn-primary view-user-profile-btn"
                  routerLink="project/{{ project._id }}/user-profile">
                  {{ 'NavBar.UserProfile' | translate }}
                </button>
              </div>

              <li class="divider"></li>
              <button type="submit" class="btn btn-white logout-user-profile-btn" (click)="openLogoutModal()">
                {{ 'NavBar.LogOut' | translate }}
              </button>
            </div>

          </ul>
        </li> -->
      </ul>

    </div>
  </div>
</nav>
<!-- </div> -->

<!-- ------------============= PENDING EMAIL VERIFICATION ALERT =============------------ -->
<span *ngIf="HIDE_PENDING_EMAIL_NOTIFICATION === false">
  <div (click)="goToUserProfile()" *ngIf="user?.emailverified == false" data-notify="container" style="z-index: 1055;"
    class="alert alert-danger animated fadeInDown alert-pending-email-verification" role="alert"
    data-notify-position="top-center" [ngClass]="{'is-user-profile-page' : DETECTED_USER_PROFILE_PAGE === true }"
    matTooltipClass="custom-mat-tooltip" matTooltip="{{ 'NavBar.WhenPendingEmailVerification' | translate}}"
    #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
    <!-- <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 5px; z-index: 1033;">×</button> -->
    <span data-notify="icon" class="notifications">
      <i class="fa fa-exclamation-circle" style="font-size: 13px; position: relative;top: -1px;"></i>
      <span
        style="font-family: 'Poppins', sans-serif;font-weight: 400; display: inline; position: relative;top: -2px; font-size: 11px; padding-left: 5px;">
        {{"NavBar.PendingVerification" | translate }}

        <!-- <span class="tooltipx" style="float: right;">
          <span>
            <i class="material-icons" style="position: relative;top: 4px; font-size:14px; color:#ffffff">
              help_outline
            </i>
          </span>
          <span class="tooltiptext"
            style="min-width: 231px;line-height: 1.1;min-height: 34px; top: -5px; right: 105%; ">
            {{ "NavBar.WhenPendingEmailVerification" | translate}}
          </span>
        </span> -->
      </span>
    </span>
    <!-- <span data-notify="title" style="max-width: 100%;">
        {{"NavBar.SomeSystemAreDisabled" | translate }}
      </span>  -->
  </div>
</span>

<!-- ------------============= PENDING OPEN CHAT ALERT =============------------ -->



<!-- MODAL - LOGOUT WINDOWS -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayLogoutModal}"
  style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">
          <!-- tiledesk Log Out -->
          {{ 'NavBar.TiledeskLogOut' | translate: tparams }}
        </h4>
      </div>

      <div class="modal-body">
        <p style="margin-top: 0px; text-align:center; color:#566787; font-size:16px; font-weight:400 ">
          {{ "NavBar.AreYouSureYouWantToLogOut" | translate }}
        </p>
        <p *ngIf="IS_AVAILABLE === true" style="margin-bottom:0px; text-align:center;">
          <!-- {{ "NavBar.NoteThatThisWillNotChangeYourAvailability" | translate }} -->
          <i class="material-icons" style="display: block; color:#f44336">warning</i>
          <span style="color:#f44336"> {{ "NavBar.AttentionIfYouDoNotWantToReceiveRequests" | translate }} </span>
        </p>
      </div>

      <div class="modal-footer" style="text-align: center;">
        <button class="btn btn-white" (click)="onCloseLogoutModalHandled()" style="padding:12px 16px; font-size:12px ">
          {{ "Cancel" | translate}}
        </button>
        <button class="btn btn-primary" (click)="onLogoutModalHandled()" style="padding:12px 16px; font-size:12px ">
          <!-- Log Out -->
          {{ 'NavBar.LogOut' | translate }}
        </button>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>