<!-- margin-top:6px; -->
<p style="padding-left:30px;position: relative;z-index: 1050;" class="navbar-brand"
[ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }">
<i class="material-icons" style="vertical-align: middle !important; cursor: pointer;" (click)="goBack()">
  keyboard_arrow_left
</i>
{{ 'Analytics.AnalyticsTITLE' | translate }}
</p>

<!-- min-height: calc(100% - 53px);margin-top: 0px; padding: 0px -->
<div class="main-content" style="padding-top:0px; background-color: #ffffff;">
    <div class="container-fluid">

        <div class="row col-container">
                <div class="col-md-5 left-side-in-col-container"> 
                    
                  <div class="left-div-padding">
                    <div class="row"> 
                      <div class="col-sm-12"> 
                        <h2 class="demopage-title">
                          {{ "AvailableFromThePlan" | translate: tParamsAvailableFromTier2 }}
                          <!-- {{'Analytics.UpgradeYourAccounttoTrackTheChatsYouHaveWithCustomers' | translate}} -->
                        </h2>
                      </div>
                    </div>
          
                    <div class="row">
                      <div class="col-sm-12">
                        <h3 class="demopage-subtitle"> 
                            <!-- Upgrade Your Account to track the chats you have with customers -->
                            {{'Analytics.UpgradeYourAccounttoTrackTheChatsYouHaveWithCustomers' | translate}}
                        </h3>
                      </div>
                    </div>
          
                    <div class="row">
                      <div class="col-sm-12">
                        <div style="text-align: center;"> 
                            <!-- (click)="goToPricing()" -->
                          <button type="button" class="btn outline-btn-analytics btn-lg" style="padding:11px 22px" (click)="goToPricing()">
                            <span> {{ 'UpgradeNow' | translate }}  </span> 
                          </button>
                        </div>
                      </div>
                    </div>  
                  </div>
                </div>
                  
                <div class="col-md-7 right-side-in-col-container" > 
                  <div style="max-width:780px;margin:auto">
                    <div class="card" style="box-shadow: 0 14px 30px 0 rgba(60,72,91,0.22); border-radius:10px;">
                      <div class="card-content">
                        <div class="row">
                          <div  class="col-md-12">
                            <!-- <img src="assets/img/static_group.png" class="img-fluid" style=""/> -->
                            <!-- <slideshow [imageUrls]="imageUrlArray" [minHeight]="'410px'" [autoPlay]="true"  [showArrows]="false"></slideshow> -->
                            <div class="ng-image-slider-wpr" >
                            <ng-image-slider  #nav
                            [images]="imageObject"
                            [imageSize]="{width: 766, height: 410}"
                            [infinite]="true"
                            [manageImageRatio]="true"
                            [showArrow]="false"
                            [autoSlide]="2">
                            </ng-image-slider>
                            </div>
                          </div>
                        </div>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
    </div>
</div>


<!-- UPGRADE PLAN MODAL -->
<!-- <div  class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayUpgradePlanModal}" style="background-color: rgba(90,90,90,0.5);">
    <div class="modal-dialog" role="document">            
        <div class="modal-content" style="padding-bottom: 24px;" style="padding-top:0px;">                
            <div class="modal-header" style=" padding-top:15px; padding-right:15px; padding-left:15px; padding-bottom:0px">
              <button type="button" class="close" aria-label="Close" (click)="closeUpgradePlanModal()">
                    <span aria-hidden="true">                        
                        <svg class="tide-icon " width="24" height="24" viewBox="0 0 24 24">
                            <path d="M13.357 11.993l10.256 10.295c0.39 0.391 0.39 1.024 0 1.415-0.194 0.195-0.449 0.292-0.704 0.292s-0.51-0.097-0.705-0.292l-10.257-10.295-10.256 10.295c-0.194 0.195-0.449 0.292-0.704 0.292s-0.51-0.097-0.705-0.292c-0.39-0.391-0.39-1.024 0-1.415l10.256-10.295-10.256-10.294c-0.39-0.391-0.39-1.024 0-1.415s1.020-0.391 1.409 0l10.256 10.294 10.256-10.294c0.39-0.391 1.020-0.391 1.41 0 0.389 0.391 0.389 1.024 0 1.415l-10.256 10.294z">
                            </path>
                        </svg>
                    </span>
              </button>
            </div>
            <div class="modal-body" style="padding-top: 0;">
                <div class="row">                    
                    <div class="col-sm-12" >
                        <div class="header-title" style="text-align:center">                    
                        <i class="material-icons"> outline </i>                                
                        <h2 class="modal-title">
                            Trial Expired
                        </h2>
                        </div>
                    </div>
                 </div>
             </div>
        </div>
    </div>
</div> -->
