<div class="right-side-bar" style="    
position: absolute;
z-index: 100;
top: 0;
right: 0;
width: 33%;
height: 100%;
overflow-y: auto;
overflow-x: hidden;
background: #fff;
padding-top:15px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 15px;">

<div style="border-bottom: 1px solid #eeeeee; background-color: #3c4252!important;
color: #fff!important; margin-left:-20px; margin-right:-20px; margin-top:-15px">
  <h5  style="font-weight: 400; text-transform: none; margin-top:0px; font-size: 16px; padding-top: 15px;padding-left: 21px;">
      <!-- Train Bot -->
      {{ 'Train' | translate }} Bot
     <i class="material-icons" style="padding-right: 10px; float: right;cursor:pointer"
     (click)="closeRightSideBar()">close</i>
  </h5> 
</div>

  <p style="margin-top: 15px; margin-bottom: 0px; font-weight:400">  
    <!-- Question -->
  {{ 'FaqTestPage.Question' | translate }}
  </p>   
  
  <div class="speech-wrapper-train" style="margin-bottom:15px; padding-top:10px">
    <div class="bubble">
      <div class="txt selected-question">
     
        <p class="message"> {{ selectedQuestion}} </p>
        
      </div>
      <div class="bubble-arrow"></div>
    </div>
  </div>

 
  <p style="margin-top: 15px; margin-bottom: 10px; font-weight:400">
    <!-- Answers  -->
    {{ 'CurrentAnswers' | translate }}
  </p> 

  <div *ngIf="hits?.length === 0" style="text-align:center; color:#ec971f">

    {{ 'NoGoodMatchFound' | translate }}

  </div>

  <loading-spinner *ngIf="showSpinner"></loading-spinner>
  <!-- [ngStyle]="{ 'height': sidebar_content_height }" -->
  <div *ngIf="!showSpinner" class="sidebar-content"  style="overflow-y: auto;overflow-x: hidden;" >
    <div  *ngFor="let hit of hits; let first = first;">
    
      <div class="answer-wrap" style="margin-bottom: 30px;">
        <div class="answer-bubble" [ngClass]="{ 'first-answer-bubble': first }" style="word-break: break-all;">
            <!-- {{ hit?.document.answer }}  -->
            {{ hit?.answer }} 
        </div> 
        <span style="font-size: 12px; font-weight: 400;float: right;color:#7695a5"> 
            Score: {{ hit?.score }} 
        </span>
      </div>
        
    </div>


  </div>

  <div class="add-answer" style="margin-top:16px; text-align: center">
      <textarea [(ngModel)]="answer" class="textarea" rows="2" style="width:100%; border-radius:5px; border: 1px solid #d9d9d9 !important;padding:8px" 
      placeholder="{{ 'AddAnotherAnswerToTheCurrentQuestion' | translate }}"></textarea>
      <!-- btn-block btn-outline-primary -->
     <button class="btn btn-primary" style="margin-top:0px; margin-bottom:16px" (click)="create()" [disabled]="answer?.length < 1"> 
   
     <!-- {{ 'AddAnswer' | translate }} -->
     {{ 'AddIntent' | translate }}
     
     
     </button>
  </div>




</div>
