@import "./src/assets/sass/cds/_variables.scss";


.extensions-response {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 27px 0 0 0;
    padding: 0px 33px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    .delay-wrapper,
    .filter-wrapper {
        display: block;
        height: auto;
        width: auto;
        // padding: 0em 0.75em 0;
    }

    .response-controls {
        position: absolute;
        top: 26px;
        left: 0px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: 1;
    }
}

.extensions-response:hover{
    .response-controls {
        opacity: 1;
    }
}

.previewMode{
    &.extensions-response{
        margin: 0;
        padding: 0 10px 0px 25px;
    }

    &.image-editor-wrapper{
        // padding: 0;
        margin: 0px;
        cds-textarea.text-editable-div{
            width: calc(100% - 20px);
            margin: 5px auto;
        }

        .response-image-uploader-wrapper{
            margin: 5px auto;
            max-width: calc(100% - 20px);

            img{
                width: 100%;
                border-radius: 8px;
            }


            &.no-image{
                display: flex;
                gap: 10px;
                align-items: center;
                background: none;

                .image{
                    width: 40px;
                    height: 40px;
                    border-radius: 8px;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px -1px 0px 0px inset;
                    display: flex;
        
                    img {
                        max-height: 100%;
                        max-width: 100%;
                        border-radius: inherit;
                    }
                }

                .text{
                    overflow-x: clip;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: .8em;
                    color: rgb(141, 162, 181)
                }
            }
        }

        .response-wrp{
            border-radius: 8px;
            background: #ffffff;
            border: 1px solid #ffffff;
            overflow-x: hidden;
            overflow-y: auto;
            color: #22272d;
            font-size: 1.15em;
            line-height: 25px;
            width: calc(100% - 20px);
            padding: 8px 10px;
    
            line-height: 20px;
            font-size: .8em;
            margin: auto;
    
            &.no-text{
                color: rgb(141, 162, 181)
            }
        }


    }

    &.buttons-response{
        padding: 5px 0px 2px 0px;
        margin: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        .button-reply-add{
            color: $color-txt-2-hex;
            border-color: $color-txt-2-hex;
            margin-right: 10px;
        }
    }

    .button-reply{
        min-width: 200px;
        padding: 2px 10px;
    }
}


.image-editor-wrapper {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 5px 0 0 0;
}

// .image-editor-wrapper:hover {
//     .image-editor {
//         .response-controls {
//             opacity: 1;
//         }
//     }
// }


/** response-controls **/
.response-controls {
    .control-button {
        cursor: pointer;
        color: $color-bck-gray-hex;
        transition: color .3s;
        height: 20px;
        &.delete{
            height: 24px;
            width: 24px;
            background: $color-bck-gray-hex;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            em {
                font-size: 1.15em;
                color: $color-withe-hex;
                transition: color .3s;
            }
        }
    }
    .control-button:hover{
        color: $color-withe-hex;
        &.delete{
            box-shadow: 0 2px 6px 0 rgb(255 255 255 / 15%);
            em {
                color: $color-red-hex;
            }
        }
    }
}

.text-editor-drop {
    position: absolute;
    display: inline-flex;
    margin: 0;
    left: 0;
    top: 0px;
    // top: -35px;
    color: #dcdcdc;
    cursor: grab;
}

.editor-utils {
    position: relative;
    margin: -20px 50px 0px 0px;
    float: right;
    .num-chars {
        background: $color-light-gray-hex;
        padding: 0px 8px;
        border-radius: 12px;
        font-size: 0.8em;
        color: $color-text-box-hex;
        float: right;
        &.error {
            background: $color-orange-hex;
        }
    }
    .text-editor-insert-attribute {
        float: right;
    }
    .moji-picker {
        float: right;
    }
}


.image-panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 8px;
    margin: 0px;
    padding: 0;
    &:hover{
        background-color: #006cffc9;
        transition: background-color 0.3s ease-in;
        .image-response {
            display: inline-block;
        }
    }
}
.bck-image{
    background-color: #006cffc9;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}





.response-image-uploader-overlay {
    background: #f0f4f7;
}

.response-image-uploader label {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.response-image-uploader label input {
    display: none;
}



/** response-image-uploader-wrapper  **/
.response-image-uploader-wrapper {
    position: relative;
    display: block;
    border-radius: 8px; 
    margin-left: 30px;
    // margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.383);
    overflow: visible;
    max-width: calc(100% - 60px);
    width: auto;
    height: auto;
    .image-upload {
        border-radius: 6px;
        display: block;
        overflow: hidden;
    }
    .control-button {
        &.delete {
            color: $color-withe-hex;
            position: absolute;
            top: 0px;
            right: 0px;
            margin-right: 0px;
            opacity: 0;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
    }
    &:hover{
        .control-button {
            &.delete {
                margin-right: -24px;
                opacity: 1;
            }
        }
    }
}


.content-botton-reply {
    position:relative;
    height: 26px;
}

//** CONNECTOR **//
cds-connector.connector {
    position: absolute;
    top: calc(50% - 10px);
    right: -15px;
}

/** BUTTONS **/
.buttons-response {
    // display: flex;
    // flex-wrap: wrap;
    // margin: 12px 0 0 0;
    // width: 100%;
    // font-size: $font-size-base;
    // padding: 0 25px;

    display: flex;
    margin: 15px 0 0;
    gap: 6px;
    width: 100%;
    font-size: 14px;
    padding: 0 25px;
    flex-direction: row;
    float: right;
    justify-content: flex-start;
    /* align-content: flex-end; */
    flex-wrap: wrap;
    align-items: flex-end;

}
.button-reply {
    // float: right;
    display: flex;
    position: relative;
    min-width: 100px;
    text-align: center;
    // margin: 0px 5px 0px; //10px 5px 0;
    padding: 0px 10px;
    user-select: none;
    box-sizing: border-box;
    outline: none;
    background: $color-withe-hex;
    border: 1px solid $color-blue-hex;
    border-radius: $button-border-radius-base;
    color: $color-blue-hex;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: 500;
    line-height: $button-height-base;
    transition: all .3s;
    &.custom-placeholder {
        margin: 10px 5px;
        background: #dfdfdf;
        border: dotted 0px #999;
        height: $button-height-base;
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}
.button-reply:hover {
    .button-controls {
        opacity: 1;
    }
}
.button-reply-text {
    width: 100%;
    height: 100%;
    max-width: $button-max-width-base;
    user-select: none;
    color: $color-blue-hex;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    line-height: $button-height-base;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    overflow: hidden!important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.button-reply-add {
    float: right;
    user-select: none;
    box-sizing: border-box;
    outline: none;
    border: 1px dashed $color-withe-hex;
    border-radius: $button-border-radius-base;
    color: $color-withe-hex;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: 400;
    line-height: $button-height-base;
    // margin: 0px 5px 0;
    order: 1;
    padding: 0 10px;
    transition: all .3s;
    min-width: 100px;
    text-align: center;
    width: fit-content;
    margin-right: 10px;
}
.button-controls {
    justify-content: space-between;
    display: inline-flex;
    width: 28px;
    height: 24px;
    position: absolute;
    left: 0;
    top: -40%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    .buttonsToMove{
        display: inline-flex;
    }
    .control-button {
        cursor: pointer;
        background: $color-bck-gray-hex;
        color: $color-bck-gray-hex;
        transition: color .3s;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2px;
        em {
            font-size: 1.15em;
            color: $color-withe-hex;
            transition: color .3s;
        }
    }
    .control-button:hover{
        color: $color-withe-hex;
        box-shadow: 0 2px 6px 0 rgb(255 255 255 / 15%);
        em {
            color: $color-red-hex;
        }
        &.delete{
            em {
                color: $color-red-hex;
            }
        }
    }
}

/** box-textarea **/
cds-textarea.text-editable-div ::ng-deep{
    display: block;
    margin-left: 30px;
    width: calc(100% - 66px);
    // margin-left: 20px;
    textarea {
        line-height: 20px !important; 
        width: calc(100% - 20px) !important;
        font-size: 0.9em !important;
    }
}
