.invite-teammate-form {
    // min-width: 150px;
    // max-width: 500px;
    width: 100%;
}

.mat--form-field {
    width: 100%;
}

.mat-dialog-close-btn {
    background-color: #647491;
    color: #fff;
}

.mat-dialog-ok-btn {
    background-color:var(--blue-light);
    color: #fff;

}