@import "./src/assets/sass/md/_variables.scss";
input[type="text"] {
    // min-width: 307px !important;
    height: 36px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9 !important;
    // border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff !important;
    // border: solid 1px #ddd;
}

input[type="email"] {
    // min-width: 307px !important;
    height: 36px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9 !important;
    // border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff !important;
    // border: solid 1px #ddd;
}

input[type="password"] {
    // min-width: 307px !important;
    height: 36px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9 !important;
    // border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff !important;
    // border: solid 1px #ddd;
}

.custom-label {
    color: rgb(118, 149, 165);
    height: 36px;
    padding-top: 7px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    text-align: right !important;
}

@media (min-width: 992px) {
    .custom-label {
        padding-top: 14px !important;
    }
}

input[type="email"].invalid-email {
    border: 1px solid #f44336 !important;
}

.card_title__underlined {
    text-transform: none;
    color: #566787;
    margin-bottom: 0px;
    height: 40px !important;
    position: relative;
    font-family: 'Poppins','Roboto', 'Arial', sans-serif;
    height: 30px;
    font-size: 16px;
    margin-top: 10px;
}

.card_title__underline {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -1px;
    border-bottom: 2px solid $brand-primary;
    z-index: 2;
}

.card_title__gray_underline {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -1px;
    border-bottom: 1px solid #ddd;
    width: calc((100% / 3) + 372px);
    z-index: 1;
}

.col-12-section-title {
    margin-bottom: 20px;
}

.send-smtp-test-email {
    background: transparent !important;
    border: 1px solid #3ea9f5 !important;
    color: #3ea9f5 !important;
    // box-shadow: unset !important;
}


