@import "./src/assets/sass/md/_variables.scss";
/****** LOGIN ******/
.btn-forgotpsw {
  width: 100%;
  background-color: $brand-auth-pages-buttons-color;
  height: 56px;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 30px;
}

.btn-forgotpsw_nomatch {
  width: 100%;
  background-color: $brand-auth-pages-buttons-color;
  height: 56px;
  font-size: 16px;
  letter-spacing: 2px;
}

.request-new-psw {
  width: 100%;
  background-color: $brand-auth-pages-buttons-color;
  height: 56px;
  font-size: 16px;
  letter-spacing: 2px;
}

.login-container {
  padding: 30px;
  max-width: 400px;
  width: 100% !important;
  // background-color: #F7F7F7;
  margin: 0 auto;
  // border-radius: 2px;
  // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.login-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.login-container input[type="submit"] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-container input[type="text"],
input[type="password"],
input[type="email"] {
  //   width: 400px !important;
  height: 56px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9 !important;
  border-top: 1px solid #c0c0c0;
  border-radius: 2px;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff !important;
  border: solid 1px #ddd;
}

.login-container input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

label {
  font-weight: 300;
}

// FORM ERROR
.is--danger {
  // padding: 11px 0 11px 20px;
  padding-bottom: 8px;
  color: #da491c;
  line-height: 1.2em;
  font-size:13px
}

.main-panel .main-content {
  min-height: calc(100% - 53px);
}

.pswrd-wpr {
  position: relative;
}

.pswrd-eye-btn {
  cursor: pointer;
  position: absolute;
  right: 1px;
  /* top: calc(50% - 12px); */
  border: 0px;
  background: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  width: 50px;
  /* background: aliceblue; */
  height: 54px;
}
