
 <p style="margin-top:10px; padding-left:30px" class="navbar-brand">
    {{ 'Contacts' | translate }}
  </p> 
 
 <div class="main-content" style="padding-top:0px">
   <div class="container-fluid">
     <div class="row">
       <div class="col-md-12">
         
 
         <div class="card">
             <!-- data-background-color="red" -->
           <div class="card-header" style="background-color:#ffffff; padding: 8px;">
             
             <!-- *********************** // PAGINATION // ***********************  -->
             <div class="row">
               <div class="col-md-12">
                 <div class="tiledesk-pagination" style="margin-top: 10px; margin-right: 3px;  float: right">
                   <div style="width: 120px;">
                     <div class="input-group">
 
                       <!-- -------====== BTN DECREASE PAGE  ======------ -->
                       <span class="input-group-btn" style="padding-right:0px;  padding-left: 0px;">
                         <button [disabled]="pageNo + 1 === 1" class="btn btn-info" type="button" (click)="decreasePageNumber()" 
                          style="padding: 6px 8px">
                           <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                         </button>
                       </span>
 
                       <!-- -------====== DISPLAY No PAGE / No TOTAL PAGES   ======------ -->
                       <span class="input-group-btn" style="padding-right:0px;">
                         <button #searchbtn class="btn btn-info" type="button" style="padding: 6px 8px">
                           {{ pageNo + 1 }} / {{ totalPagesNo_roundToUp }}
                         </button>
                       </span>
                       
                       <!-- -------====== BTN INCREASE PAGE  ======------ -->
                       <span class="input-group-btn" style="padding-right:0px">
                         <button [disabled]="pageNo + 1 === totalPagesNo_roundToUp || totalPagesNo_roundToUp === 0" class="btn btn-info" type="button" 
                          (click)="increasePageNumber()" style="padding: 6px 8px">
                           <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                         </button>
                       </span>
 
                     </div>
                 
                   </div>
                 </div>
               </div>
             </div>
 
             <form #myForm="ngForm" novalidate class="search-form">
               
               <!-- ------====== INPUT 'FULL TEXT' + CLEAR FULL-TEXT SEARCH BTN   ======------ -->
               <div class="row">
                 <div class="col-sm-12"> 
                   <div class="input-group">
 
                     <div class="buttonInside">
                       <!-- INPUT 'FULL TEXT' -->
                       <input name="fullText" type="text" [(ngModel)]="fullText" class="form-control" autocomplete="off"
                         placeholder="{{ 'SearchYourContacts' | translate }}" style="margin-bottom: 20px; padding-bottom: 16px; padding-left: 6px;">
                       
                       <!-- // CLEAR SEARCH FULL-TEXT BTN -->
                       <span id="clear-fulltext-search"  *ngIf="fullText?.length > 0" class="glyphicon glyphicon-remove tooltipx" aria-hidden="true" 
                         (click)="clearFullText()">
                         <span style="font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;" class="tooltiptext-custom">
                          {{ 'ClearSearch' | translate }}
                        </span> 
                       </span>
                     </div>
 
                     <!-- // SEARCH FULL-TEXT BTN -->
                     <span class="input-group-btn" style="padding-right:0px">
                       <button class="btn btn-info searchbtn" type="submit" (click)="search()">
                         <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                       </button>
                     </span>
 
                   </div>
                 </div>
               </div>
 
              
             </form>
 
           </div>  <!-- /.end card-header -->
 
           <loading-spinner *ngIf="showSpinner"></loading-spinner>
           <div  *ngIf="!showSpinner" class="card-content table-responsive">
  
            <table class="table table-hover">
              <thead class="text">
                <tr>
 
                  <!-- ===== CONTACT NAME ===== -->
                  <th>
                     
                    <span style="color: #566787">
                      <strong>
                        <strong>{{ 'Contact' | translate }}</strong>
                      </strong>
                    </span>  
                  </th>
 
                  <!-- ===== CONTACT EMAIL ===== -->
                  <th>
                    <span style="color: #566787">
                      <strong> Email </strong>
                    </span>
                  </th>
 
   
                  <!-- ===== CREATED ===== -->
                  <th>
                    <span style="color: #566787">
                      <strong> 
                        {{ 'Created' | translate }}
                      </strong>
                    </span>
                  </th>

                  <!-- ========== ICON VIEW CONTACT DETAILS ========== -->
                  <th>
                    <span style="color: #566787">
                      <strong> 
                        Actions
                      </strong>
                    </span>
                  </th>
     
                </tr>
              </thead>
              <tbody>
 
                <!-- ===== IF THERE ISN'T HISTORY REQUEST ===== -->
                <tr *ngIf="contacts && contacts?.length === 0"> 
                  <td colspan="4" style="text-align: center; padding-top: 16px; cursor: pointer">
 
                    <p style="font-size:1em; color:#999999; font-weight: 400">
                      {{ 'NoContact' | translate }}
                    </p>
                  </td>
                </tr> 
                 
                <tr *ngFor="let contact of contacts">
   
                  <!-- ===== CONTACT NAME ===== -->
                  <td (click)='goToContactDetails(contact?._id)' style="cursor:pointer">
                    <span class="avatar" [ngStyle]="{'background-color': contact?.avatar_fill_colour }">
                    <span style="color: #ffffff"> {{ contact?.name_initial }} </span></span>
                    
                    <span style="font-size:0.9em">
                        {{ contact?.fullname }}
                      </span>
                  </td>
 
                  <!-- ========== CONTACT EMAIL ========== -->
                  <td (click)='goToContactDetails(contact?._id)' style="cursor:pointer">
                    
                    <p style="font-size:0.9em; margin-bottom: 5px; margin-top: 5px">
                      {{ contact?.email }}
                    </p>
                  </td>
 
                  <!-- ========== CREATED AT ========== -->
                  <td (click)='goToContactDetails(contact?._id)' style="cursor:pointer">
                    
                    <p style="font-size:0.9em; margin-bottom: 5px; margin-top: 5px">
    
                      {{ contact?.createdAt | amTimeAgo }}
                       <!-- ({{ contact?.createdAt | date: 'd/M/y HH:mm' }})  -->

                    </p>
                  </td>

                  <!-- ========== ICON VIEW CONTACT DETAILS ========== -->
                  <td (click)='goToContactDetails(contact?._id)' style="text-align:left; padding-top: 15px" >
                    <span style="cursor:pointer" class="tooltipx">
                        <i style="font-size: 17px !important; color: #00bcd4" class="material-icons">visibility</i>
                        <span class="tooltiptext-custom">
                          {{ 'ViewDetails' | translate }} {{ contact?.email }}
                        </span> 
                    </span>
                  </td>
 
                </tr>
              </tbody>
            </table>
          </div> <!-- ./ card-content table-responsive -->
 
          <div *ngIf="displaysFooterPagination === true" class="card-footer" style="text-align:right">
            <div class="stats">

              <div style="width: 120px; margin: 0 auto; margin-top: 10px " >
                <div class="input-group">

                  <!-- -------====== BTN DECREASE PAGE  ======------ -->
                  <span class="input-group-btn" style="padding-right:0px;  padding-left: 0px;">
                    <button [disabled]="pageNo + 1 === 1" class="btn btn-info" type="button" (click)="decreasePageNumber()" style="padding: 6px 8px">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                  </span>

                  <!-- -------====== DISPLAY No PAGE / No TOTAL PAGES   ======------ -->
                  <span class="input-group-btn" style="padding-right:0px;">
                    <button #searchbtn class="btn btn-info" type="button" style="padding: 6px 8px">
                      {{ pageNo + 1 }} / {{ totalPagesNo_roundToUp }}
                    </button>
                  </span>
                  
                  <!-- -------====== BTN INCREASE PAGE  ======------ -->
                  <span class="input-group-btn" style="padding-right:0px">
                    <button [disabled]="pageNo + 1 === totalPagesNo_roundToUp || totalPagesNo_roundToUp === 0" class="btn btn-info" type="button" (click)="increasePageNumber()" style="padding: 6px 8px">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                  </span>

                </div>
              </div>
              
            </div>
          </div>
 
        </div> <!-- ./ card -->
      </div> <!-- ./ col-md-12 -->
    <div> <!-- ./ row -->
   
  </div> <!-- ./ container-fluid -->
</div> <!-- ./ main-content -->
 
   