input[type="text"] {
    // min-width: 307px !important;
    height: 36px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9 !important;
    // border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px !important;
    background-color: #fff !important;
    background-image: none !important;
    color: #3c4858 !important;
    // border: solid 1px #ddd;
}

input[type="email"] {
    // min-width: 307px !important;
    height: 36px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9 !important;
    // border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff !important;
    color: #3c4858 !important;
    font-weight: 300; 
}

/* Remove input background colour from Chrome autocomplete */
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px white inset;
}

/* TABLE CONTENT VERTICAL ALIGNMENT */
.table td,
.table th {
    vertical-align: middle;
}

.search-form {
    margin: auto;
}

// .search-form > div > div > .full-text-input {
//     border-radius: var(--search-bar-border-radius)
// }

.full-text-input {
    border-radius: var(--search-bar-border-radius) !important
}

// @media screen and (min-width: 768px) {
//     .search-form {
//         width: 600px;
//         // margin: 0 auto;
//         // padding: 15px;
//         max-width: 720px;
//     }

//     .full-text-search {
//         max-width: 350px;
//     }
// }

@media screen and (max-width: 767px) {
    .search-form {
        padding-right: 25px;
        padding-left: 25px;
    }

    .full-text-search {
        width: 100%;
    }

    .search-card {
        margin-bottom: 5px !important;
    }

    .nav-card {
        display: none;
    }
}

// THE 'X' INSIDE THE 'fullText' INPUT
.buttonInside {
    position: relative;
    // margin-bottom:10px;
}

// THE 'X' INSIDE THE 'fullText' INPUT
#clear-fulltext-search {
    // .fulltext-remove-btn{
    position: absolute;
    right: 56px;
    top: 10px;
    padding: 2px;
    font-size: 0.9em;
    color: #999999;
    z-index: 3;
    cursor: pointer;
}

#clear-fulltext-search:hover {
    color: #f44336;
}

.card form [class*="col-"] {
    padding: 0px;
}

// start TOOLTIP
/* Tooltip container */
.tooltipx {
    position: relative;
    display: inline-block;
    // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipx .tooltiptext-custom {
    visibility: hidden;
    // width: 120px;

    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 12px !important;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    /* Position the tooltip text - TOP */
    // width: 420px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */

    max-width: 10em; // only for contacts component
    overflow-wrap: break-word; // only for contacts component
    // NEW
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    z-index: 1000;
    background-color: #394f5a;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipx:hover .tooltiptext-custom {
    visibility: visible;
}

// /.end TOOLTIP

// PLACEHOLDER CUSTOM FONT-SIZE
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 0.9em !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 0.9em !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 0.9em !important;
}

#lead--email::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999 !important;
    font-size: 14px !important;
}

#lead--email:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999 !important;
    font-size: 14px !important;
}

#lead--email::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #999 !important;
    font-size: 14px !important;
}

.lead-applied-filter-wpr {
    margin-top: 0px;
    display: flex;
    position: relative;
    margin-bottom: 16px;
    flex-direction: row;
    // justify-content: center;
    justify-content: flex-start;
}

.lead-applied-filter-title {
    color: #353f45;
    padding: 6px 12px;
    font-family: var(--header-font-family);
    border-radius: 10px;
    font-weight: 500;
    height: 32px;
    font-size: 14px;
    line-height: 1.4;
}

.lead-applied-filter {
    display: flex;
    background-color: #e8f0fe;
    color: #1a73e8;
    padding: 6px 12px;
    font-family: var(--header-font-family);
    border-radius: 10px;
    font-weight: 500;
    height: 32px;
    margin-right: 12px;
    font-size: 14px;
}

.lead-filter-icon-and-text-wpr {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lead-icon-wpr {
    margin-right: 6px;
}

.avatar {
    // margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    // padding: 10px 11px;
    padding-top: 12px;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.contact-verified {
    position: relative;
    left: -20px;
}

.column-th-span {
    font-size: 14px;
    font-weight: 500;
    color: #353f45;
    // color: #566787;
}

.column-td {
    font-size: 0.9em;
    font-weight: 400;
}

// test as Googlr search
.input-group {
    background: whitesmoke;
    transition: all 0.5s ease;
    border-radius: 5px;
    border: 0.1px solid lightgrey;
}

// .contacts-paginantion>.input-group {
//     background: unset;
//     border: unset;
// }

.search-field {
    border-radius: 0 !important;
    border-color: transparent !important;
    width: 100%;
    font-size: 18px;
    background: transparent;
    height: 50px;
    padding: 5px 10px;
    color: #3c4858;
    font-weight: 300;
}

.fa-search {
    color: grey;
    font-size: 18px;
}

.fa-caret-down {
    color: grey;
    font-size: 18px;
}

.custom-input-group---btn {
    background: transparent;
    border: none;
    border-radius: 50%;
    padding: 3px 4px;
}

#lead-advanced-search-dropdown-menu.show {
    top: 16px !important;
    left: 5px !important;
}

.custom-input-group---btn.dropdown-toggle {
    padding: 1px 2px;   
}

// Remove Bootstrap default caret (::after) for custom-input-group---btn dropdown
.custom-input-group---btn.dropdown-toggle::after {
    display: none !important;
    content: none !important;
}

.custom-input-group---btn:active {
    background-color: rgba(60, 64, 67, 0.12);
    outline: none;
    border-radius: 999px;
    
}


.fa-search-btn {
    // margin-top: 5px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 4px 4px;
}

.fa-advanced-option-btn {
    // margin-top: 5px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    // padding: 5px 9px;
    padding: 4px 7px;
}

.fa-clear-search-btn {
    // margin-top: 5px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    // padding: 5px 7px;
    padding: 5px 6px;
}

.search-field:focus {
    outline: 0px;
    /*     background:white; */
}

.input-group:focus-within {
    // background: white;
    // box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 0.1px solid white;
    background: rgba(255, 255, 255, 1);
    // border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
}

// Position buttons after search_field_wrap to the right of the search box
.search_field_wrap {
    flex: 1;
    display: flex;
    margin-right: 12px;
}

// Add spacing between search field and buttons on the right
.full-text-input .search_field_wrap ~ .input-group-text {
    margin-left: 12px;
}

// Ensure proper spacing for all buttons after the search field
.full-text-input .input-group-text:not(:first-child) {
    margin-left: 8px;
}



.notification_on_trash {
    position: absolute;
    top: 5px;
    border: 1px solid #fff;
    right: 4px;
    font-size: 9px;
    background: rgba(32, 33, 36, 0.54);
    color: #ffffff;
    min-width: 20px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    // vertical-align: middle;
    display: block;
}

.nav-contacts-li {
    height: 40px;
    // border-radius: 0 20px 20px 0;
    border-radius: 999px;
    margin-right: 4px;
    margin: 4px;
    line-height: 39px;
    font-weight: 400;
    cursor: pointer;
}

.nav-contacts-li:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.nav-contacts-li-active:hover {
    background-color: var(--blue-20);
    color: #fff !important;
}

.nav-contacts-li-active {
    background-color: var(--blue-20);
    color: #fff !important;
}

.nav-contacts-li-active i {
    color: #fff !important;
}

#contacts-page {
    display: flex;
    // height: calc( 100vh - 30px);
    /* calculate the height. Header is 30px */
}

#contacts-sideBar {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    margin-right: 10px;
    font-size: 14px;
}

#contacts-sideBar>div {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 15px 0px;
    border-radius: 12px;
}

#contacts-content {
    flex: 1 0 auto;
    /* enable grow, disable shrink */
}

@media screen and (max-width: 1065px) {
    #contacts-content {
        flex: 1 1 auto;
        /* enable grow, disable shrink */
    }

    #contacts-sideBar {
        display: none;
    }

    .mobile-trash-contacs-btn {
        display: block;
    }

    // .gray-bckgnd {
    //     background-color: rgba(241, 243, 244, 0.871);
    //     color: rgba(95, 99, 104, 0.54);
    //     text-align: center;
    // }
}

@media screen and (min-width: 1064px) {
    .mobile-trash-contacs-btn {
        display: none;
    }
}

// .search_field_wrap input::-webkit-input-placeholder {
//     /* WebKit browsers */
//     font-size: 18px;
// }
// .search_field_wrap input:-moz-placeholder {
//     /* Mozilla Firefox 4 to 18 */
//     color: 18px;
// }
// .search_field_wrap input::-moz-placeholder {
//     /* Mozilla Firefox 19+ */
//     color: 18px;
// }
// .search_field_wrap input:-ms-input-placeholder {
//     /* Internet Explorer 10+ */
//     color: 18px;
// }

// TOOLTIP START
.White__Tooltip {
    position: relative;
    display: inline-block;
    // border-bottom: 1px dotted black;
}

.White__Tooltip .White__Tooltiptext {
    visibility: hidden;
    width: fit-content;
    // background-color: #fff;
    // color: rgba(0,0,0, 0.87);
    text-align: center;
    border-radius: 6px;
    padding: 4px 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    // min-height: 41px;
    line-height: 1.2;
    // font-size: 16px;
    // border: 1px solid #eee;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;

    // NEW
    color: #fff;
    font-size: 14px;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background-color: #394f5a;
}

.White__Tooltip:hover .White__Tooltiptext {
    visibility: visible;
    opacity: 1;
}

.chat-with-agent {
    color: #7695a5 !important;
    cursor: pointer !important;
    font-size: 16px !important;
    vertical-align: middle !important;
    margin-right: 5px;
}

.contacts-paginantion>.input-group:focus-within {
    box-shadow: unset !important;
}

.lead-list--lead-tag {
    font-size: 11px;
    color: #757575;
    position: relative;
    top: 0px;
    left: -2px;
    font-weight: 400;
}

.display-more-tags-btn {
    font-size: 11px;
    // color: var(--blue-light); // #3ea9f5;
    color: #757575;
    position: relative;
    text-decoration: none;
    // top: -2px;
}

.display-more-tags-btn:hover {
    text-decoration: underline;
}

::ng-deep .custom-mat-tooltip {
    background-color: #2d323e !important;
    font-size: 12px !important;
    border-radius: 2px !important;
    font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #fff !important;
}

#clear-search-btn {
    // padding: 9px 30px;
    // margin-bottom: 0px;
    margin-top: 7px;
    // border-radius: 999px;
}

#cnct-search-btn {
    // padding: 9px 30px;
    // margin-bottom: 0px;
    margin-top: 7px;
    margin-left: 12px;
    // border-radius: 999px;
}

#cnct-search-btn>span {
    color: #fff;
    padding-right: 3px;
    position: relative;
    top: 2px;
}


.kb-link-to-docs-wpr {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
    line-height: 20px;
    // background-color: rgb(241, 241, 241);
    // padding: 15px;
    width: 100%;
  }

  .kb-link-to-docs-wpr > span > svg {
    fill: var(--blue-light);
  }
  
  .kb-link-to-docs {
    margin-left: 8px;
    vertical-align: middle;
    color: var(--blue-light); // #0f62ff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
  
  .kb-link-to-docs:hover {
    text-decoration: underline;
    // color: #fff;
    // padding-right: 3px;
    // position: relative;
    // top: 2px;

    vertical-align: middle; 
    font-size: 19px;
    top: 0px;
  }