<p style="z-index: 1050;position: relative; margin-top:6px; padding-left:30px" class="navbar-brand">
  {{ 'Contacts' | translate }}
</p>

<div class="main-content" style="padding-top:0px;padding-left:0px; padding-right:0px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- 
      // -------------------------------------------------------
      // Search card
      // ------------------------------------------------------- -->
        <div class="card search-card card--no-border" style="margin-bottom: 5px;margin-top: 0px; padding: 15px;">
          <div class="card-content" style="padding-top: 0px;padding-bottom: 0px;">
            <!-- <div class="card-header" style="background-color:#ffffff; padding: 8px;"> -->

            <!-- *********************** // PAGINATION // ***********************  -->
            <!-- <div class="row">
                    <div class="col-md-12">
                      <div class="tiledesk-pagination" style="margin-top: 10px; margin-right: 3px;  float: right">
                        <div style="width: 120px;">
                          <div class="input-group"> -->

            <!-- -------====== BTN DECREASE PAGE  ======------ -->
            <!-- <span class="input-group-btn" style="padding-right:0px;  padding-left: 0px;">
                              <button [disabled]="pageNo + 1 === 1" class="btn btn-info" type="button" (click)="decreasePageNumber()" 
                               style="padding: 6px 8px">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                              </button>
                            </span> -->

            <!-- -------====== DISPLAY No PAGE / No TOTAL PAGES   ======------ -->
            <!-- <span class="input-group-btn" style="padding-right:0px;">
                              <button #searchbtn class="btn btn-info" type="button" style="padding: 6px 8px">
                                {{ pageNo + 1 }} / {{ totalPagesNo_roundToUp }}
                              </button>
                            </span> -->

            <!-- -------====== BTN INCREASE PAGE  ======------ -->
            <!-- <span class="input-group-btn" style="padding-right:0px">
                              <button [disabled]="pageNo + 1 === totalPagesNo_roundToUp || totalPagesNo_roundToUp === 0" class="btn btn-info" type="button" 
                               (click)="increasePageNumber()" style="padding: 6px 8px">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                              </button>
                            </span>
      
                          </div>
                      
                        </div>
                      </div>
                    </div>
                  </div> -->


            <form #myForm="ngForm" novalidate class="search-form">
              <!-- test start -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="input-group">

                    <!-- // SEARCH FULL-TEXT BTN -->
                    <span class="input-group-btn" style="padding-right: 2px;">
                      <button class="custom-input-group---btn" type="submit">
                        <i class="fa fa-search fa-search-btn" (click)="search()"
                          style="color:grey; font-size: 18px;"></i>
                      </button>
                    </span>
                    <!-- (keyup.enter)="search()"  (focus)="onFocusSearchField()" {{ 'SearchYourContacts' | translate }} placeholder=" {{fullTextSearchPlaholder}}" -->
                    <div class="search_field_wrap">
                      <input (keyup.enter)="search()" id="search_field" name="fullText"
                        (focus)="onfocusFullTextSearchField($event)" [(ngModel)]="fullText" autocomplete="off"
                        class="search-field"
                        [placeholder]="hasClickedTrashed === false ? searchInYourContactsPlaceholder : searchInTrashPlaceholder">
                    </div>
                    <!-- // CLEAR SEARCH FULL-TEXT BTN -->
                    <!-- *ngIf="fullText?.length > 0 && showAdvancedSearchOption === false" -->
                    <span *ngIf="fullText?.length > 0 || selectedContactEmail?.length > 0" class="input-group-btn"
                      style="padding-right: 2px;">
                      <button class="custom-input-group---btn" type="button">
                        <i class="fa fa-times fa-clear-search-btn" (click)="clearFullText()"
                          style="color:grey; font-size: 18px;"></i>
                      </button>
                    </span>

                    <!-- // OPEN ADVANCED OPTION BTN NOTE: the class "dropdown keep-open" Keep Dropdown Open -->
                    <span id="dropdown_input_group_btn" class="input-group-btn dropdown keep-open"
                      style="padding-left: 2px;position: static;">
                      <button class="custom-input-group---btn dropdown-toggle" id="dropdown_btn" type="button"
                        data-toggle="dropdown">
                        <i class="fa fa-caret-down fa-advanced-option-btn" style="color:grey; font-size: 18px;"></i>
                      </button>

                      <!-- 
                      // -------------------------------------------------------
                      // Dropdown
                      // ------------------------------------------------------- -->
                      <ul class="dropdown-menu dropdown-menu-right" style="left: 0;padding: 15px; margin-top: 3px;"
                        (click)="$event.stopPropagation()">

                        <li>
                          <!-- <form> (keyup.enter)="search()" -->
                          <div class="col-sm-8">
                            <div class="form-group" style="margin-top: 6px;">
                              <input (keyup.enter)="search()" style="margin-top:2px;border-radius:5px!important"
                                class="form-control" name="contactEmail" autocomplete="off"
                                [(ngModel)]="selectedContactEmail" placeholder="{{ 'SearchByEmail' | translate }}">
                            </div>
                          </div>

                          <div class="col-sm-4" style="text-align: right;">
                            <button style="padding: 9px 30px; margin-bottom: 0px;margin-top: 7px;" pull-right
                              type="submit" class="btn btn-primary searchbtn" (click)="search()">
                              <!-- <span class="glyphicon glyphicon-search" aria-hidden="true" style="color:#7695a5"></span> -->
                              {{'Search'|translate}}
                            </button>
                          </div>
                        </li>
                      </ul>
                    </span>
                  </div><!-- /input-group -->
                </div>

              </div>
              <!-- test end -->



            </form>
          </div>
        </div>
      </div>
    </div>

     
    <!-- ------------------------------------------------------- -->
    <!-- Contacts sidebar -->
    <!-- ------------------------------------------------------- -->
    <div id="contacts-page">
      <div id="contacts-sideBar">
        <div class="card nav-card" style="margin-bottom: 0px;margin-top: 0px; padding: 15px 0px;">
          <div class="card-content" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;">

            <ul style="padding-left: 0px;    list-style: none;">
              <li class="nav-contacts-li" [ngClass]="{'nav-contacts-li-active' : hasClickedTrashed === false}"
                (click)="closeTrashContacts()">

                <i style="vertical-align: middle; color:rgba(32, 33, 36, 0.54); padding-left: 10px;"
                  class="material-icons">contacts</i>
                <span style="padding-left: 15px;">{{'Contacts'| translate}} </span>

                <span style="float: right; margin-right: 20px;"> {{ countOfActiveContacts }}</span>
              </li>
              <li class="nav-contacts-li" [ngClass]="{'nav-contacts-li-active' : hasClickedTrashed === true}"
                (click)="openTrashedContact()">
                <span>
                  <i style="vertical-align: middle; color:rgba(32, 33, 36, 0.54); padding-left: 10px;"
                    class="material-icons">delete</i>
                  <!-- <span class="notification_on_trash">{{ trashedContanctCount }}</span> -->
                  <span style="padding-left: 15px;"> {{'TrashContacts' | translate}}</span>

                  <span style="float: right; margin-right: 20px;"> {{ trashedContanctCount }}</span>
                </span>
              </li>

              <!--
              // -------------------------------------------------------
              // NEW - Visitors
              // ------------------------------------------------------- -->
          
              <!-- <li class="nav-contacts-li" (click)="goToVisitors()">
                <span>
                  <i style="vertical-align: middle; color:rgba(32, 33, 36, 0.54); padding-left: 10px;"
                    class="material-icons">group</i>
                  <span style="padding-left: 15px;"> {{'Visitors' | translate}}</span>
                </span>
              </li> -->



            </ul>
          </div>
        </div>
      </div>

      <!-- 
    // -------------------------------------------------------
    // Contacts list
    // ------------------------------------------------------- -->
      <div id="contacts-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="card contact-list" style="margin-top:0px">
              <div class="card-header card-header-custom-bkgrnd"
                [ngClass]="{'gray-bckgnd': hasClickedTrashed === true}">

                <div class="row">
                  <!-- [ngClass]="{'col-xs-6' : hasClickedTrashed === false, 'col-xs-12': hasClickedTrashed === true}"  -->
                  <div class="col-xs-6">
                    <span *ngIf="hasClickedTrashed === false">
                      <!-- <span style="font-weight: 400;margin-right: 16px;">
                    {{ contacts?.length }} {{ 'Contacts' | translate }} {{ '_Active' | translate}}
                  </span> -->
                      <button style="padding: 6px 14px; margin-top: 0px; margin-bottom: 0px;"
                        class="btn btn-primary btn-simple export-to-csv-btn" (click)="exportContactsToCsv()">
                        {{ 'ExportToCSV' | translate }}
                        <span class="material-icons">
                          save_alt
                        </span>
                      </button>
                    </span>

                    <span *ngIf="hasClickedTrashed === true" style="font-weight: 400;margin-right: 16px;">
                      <i style="vertical-align: middle; color:rgba(32, 33, 36, 0.54)" class="material-icons">delete</i>
                      <!-- {{ trashedContanctCount }} {{ 'Contacts' | translate }} {{ 'inTheTrash' | translate}} -->
                      {{'TrashContacts' | translate}}
                    </span>

                    <!--  <button style="padding: 9px 30px;margin-bottom:0px" class="btn btn-default"
                  (click)="closeTrashContacts()">
                   {{ 'CloseTrash' |translate}}
                </button> -->

                  </div>

                  <div *ngIf="hasClickedTrashed === false" class="col-xs-6" style="text-align: right;">
                    <div class="mobile-trash-contacs-btn">
                      <span style="cursor:pointer" (click)="openTrashedContact()">
                        <span style="font-weight: 400;">
                          {{'TrashContacts' | translate}}
                        </span>
                        <span>
                          <i style="vertical-align: middle; color:rgba(32, 33, 36, 0.54)"
                            class="material-icons">delete</i>
                          <span class="notification_on_trash">{{ trashedContanctCount }}</span>
                        </span>
                      </span>
                    </div>
                  </div>

                  <div *ngIf="hasClickedTrashed === true" class="col-xs-6" style="text-align: right;">
                    <div class="mobile-trash-contacs-btn" (click)="closeTrashContacts()">
                      <i class="material-icons" style="vertical-align: middle;">
                        clear
                      </i>
                      <span style="vertical-align: middle;">
                        {{ 'CloseTrash' |translate}}
                      </span>
                      <!-- <button style="padding: 9px 30px;margin-bottom:0px" class="btn btn-default"
                (click)="closeTrashContacts()">
                 {{ 'CloseTrash' |translate}}

              </button>  -->
                    </div>
                  </div>
                </div>
              </div>

              <loading-spinner *ngIf="showSpinner"></loading-spinner>
              <div *ngIf="!showSpinner" class="card-content table-responsive">

                <table class="table table-hover">
                  <thead class="text">
                    <tr>

                      <!-- ===== CONTACT NAME ===== -->
                      <!-- style="width: 20%;" -->
                      <th>
                        <span class="column-th-span">
                          {{ 'Contact' | translate }}
                        </span>
                      </th>

                      <!-- ===== CHAT WITH ===== -->
                      <!-- style="width: 20%;" -->
                      <!-- <th> </th> -->

                      <!-- ===== CONTACT EMAIL ===== -->
                      
                      <th >
                        <span class="column-th-span">
                          Email
                        </span>
                      </th>

                      <!-- ===== CREATED ===== -->
                      <!-- style="width: 20%;" -->
                      <th >
                        <span class="column-th-span">
                          {{ 'Created' | translate }}
                        </span>
                      </th>

                      <!-- ========== ICON VIEW CONTACT DETAILS ========== -->
                      <!-- style="width: 20%;" -->
                      <th>
                        <span class="column-th-span">
                          {{ 'Actions' | translate }}
                        </span>
                      </th>

                    </tr>
                  </thead>
                  <tbody>

                    <!-- ===== IF THERE ISN'T CONTACTS ===== -->
                    <tr *ngIf="contacts && contacts?.length === 0">
                      <td colspan="4" style="text-align: center; padding-top: 16px; cursor: pointer">

                        <p style="font-size:1em; color:#7695a5; font-weight: 400">
                          {{ 'NoContact' | translate }}
                        </p>
                      </td>
                    </tr>

                    <tr *ngFor="let contact of contacts">

                      <!-- ===== CONTACT NAME ===== -->
                      <td (click)='goToContactDetails(contact?._id)' style="cursor:pointer">

                        <span class="avatar" [ngStyle]="{'background-color': contact?.avatar_fill_colour }">
                          <span style="color: #ffffff"> {{ contact?.name_initial }} </span>
                        </span>
                        <span *ngIf="contact?.contact_is_verified === true" class="tooltipx">
                          <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.6 26.6"
                            width="18" height="18" style="position: relative;left: -52px;top: -7px;"
                            xml:space="preserve">
                            <style type="text/css">
                              .st0 {
                                fill: none;
                              }

                              .st1 {
                                fill: #FFFFFF;
                              }

                              .st2 {
                                fill: #18BDF7;
                              }
                            </style>
                            <path class="st0" d="M1.3,1.3h24v24h-24V1.3z" />
                            <path class="st1"
                              d="M13.3,0L2.4,4.9v7.3c0,6.7,4.6,13,10.9,14.5c6.2-1.5,10.9-7.8,10.9-14.5V4.9L13.3,0z" />
                            <path class="st2" d="M13.3,2.3l-9,4v6c0,5.5,3.8,10.7,9,12c5.2-1.3,9-6.5,9-12v-6L13.3,2.3z M11.3,18.3l-4-4l1.4-1.4l2.6,2.6
                      l6.6-6.6l1.4,1.4L11.3,18.3z" />
                          </svg>

                          <span class="tooltiptext-custom"> {{ "VisitorsPage.AuthenticatedUser" | translate }} </span>
                        </span>

                        <span class="column-td" style="margin-left: 10px;"
                          [ngClass]="{'contact-verified' : contact?.contact_is_verified === true}">
                          {{ contact?.fullname }}
                        </span>

                        <span *ngIf="!contact?.fullname" class="column-td"
                          [ngClass]="{'contact-verified' : contact?.contact_is_verified === true}">
                          n.a
                        </span>

                      </td>

                      <!-- ========== CHAT WITH ========== -->
                      <!-- <td style="width: 1%;">
                        <span>
                          <span class="White__Tooltip">
                            <i class="material-icons chat-with-agent"
                              (click)="chatWithAgent(contact)">
                              chat
                            </i>
                            <span class="White__Tooltiptext" style="font-size: 12px; white-space: nowrap;font-weight: 100;">
                              {{"ChatWith" | translate }}:
                              <span *ngIf="contact.fullname" style="display:block">
                                {{contact?.fullname}}
                              </span>
                              <span *ngIf="!contact.fullname" style="display:block">
                                Guest
                              </span>
                            </span>
                          </span>
                        </span>
                      </td> -->

                      <!-- ========== CONTACT EMAIL ========== -->
                      <td (click)='goToContactDetails(contact?._id)' style="cursor:pointer">

                        <p class="column-td" style="margin-bottom: 5px; margin-top: 5px">
                          {{ contact?.email }}
                        </p>

                        <p class="column-td" *ngIf="!contact?.email" style="margin-bottom: 5px; margin-top: 5px">
                          n.a.
                        </p>
                      </td>

                      <!-- ========== CREATED AT ========== -->
                      <td (click)='goToContactDetails(contact?._id)' style="cursor:pointer">

                        <p class="column-td" style="margin-bottom: 5px; margin-top: 5px">

                          {{ contact?.createdAt | amTimeAgo }}
                          <!-- ({{ contact?.createdAt | date: 'd/M/y HH:mm' }})  -->

                        </p>
                      </td>

                      <!-- ========== ICONS EDIT CONTACT - VIEW CONTACT REQUESTS - REMOVE CONTACT ========== -->
                      <!-- <td (click)='goToContactDetails(contact?._id)' style="text-align:left; padding-top: 15px; padding-left: 22px;" > -->

                      <td *ngIf="hasClickedTrashed === false" class="td-actions text-right"
                        style="padding-left: 0px;padding-top: 17px!important;">

                        <!-- VIEW CONVERSATIONS -->
                        <button style="" type="button"
                          class="btn btn-primary btn-simple btn-xs tooltipx" (click)='goToContactDetails(contact?._id)'>
                          <i class="material-icons">view_list</i>
                          <span class="tooltiptext-custom" style="text-transform:none">
                            {{ 'ViewContactRequests' | translate }}
                          </span>
                        </button>

                        <!-- EDIT CONTACT -->
                        <button type="button" class="btn btn-primary btn-simple btn-xs tooltipx"
                          (click)='goToEditContact(contact?._id)'>
                          <i class="material-icons">edit</i>
                          <span class="tooltiptext-custom" style="text-transform:none">
                            {{ 'EditContact' | translate }}
                          </span>
                        </button>

                        <!-- DELETE CONTACT -->
                        <button type="button" class="btn btn-danger btn-simple btn-xs tooltipx"
                          [disabled]="IS_CURRENT_USER_AGENT === true"
                          (click)='moveContactToTrash(contact?._id, contact?.fullname)'>
                          <i class="material-icons">delete</i>
                          <span class="tooltiptext-custom" style="text-transform:none">
                            <!-- {{ 'DeleteContact' | translate }} -->
                            {{ 'MoveToTrash' | translate }}
                          </span>
                        </button>
                      </td>

                      <td *ngIf="hasClickedTrashed === true" class="td-actions text-right"
                        style="padding-left: 0px;padding-top: 17px;">
                        <button type="button" class="btn btn-danger btn-simple btn-xs tooltipx"
                          [disabled]="IS_CURRENT_USER_OWNER !== true"
                          (click)='deleteContactForever(contact?._id, contact?.fullname)'>
                          <i class="material-icons">delete_forever</i>
                          <span class="tooltiptext-custom" style="text-transform:none">
                            {{ 'DeleteContact' | translate }}

                          </span>
                        </button>

                        <button type="button" class="btn btn-default btn-simple btn-xs tooltipx"
                          [disabled]="IS_CURRENT_USER_OWNER !== true" (click)='restore_contact(contact?._id)'>
                          <!-- {{ 'RestoreContact' | translate }} -->
                          <i class="material-icons">forward</i>
                          <span class="tooltiptext-custom" style="text-transform:none">
                            {{ 'RestoreContact' | translate }}

                          </span>
                        </button>

                      </td>


                      <!-- <span style="cursor:pointer" class="tooltipx">
                    <i style="font-size: 17px !important; color: #00bcd4" class="material-icons">dvr</i>
                    <span class="tooltiptext-custom">
                      {{ 'ViewDetails' | translate }} 
                     
                    </span> 
                </span>
              </td> -->

                    </tr>
                  </tbody>
                </table>
              </div> <!-- ./ card-content table-responsive -->

              <div *ngIf="displaysFooterPagination === true" class="card-footer" style="text-align:center">
                <div class="stats">

                  <div class="contacts-paginantion" style="width: 120px; margin: 0 auto; margin-top: 10px ">
                    <div class="input-group">

                      <!-- -------====== BTN DECREASE PAGE  ======------ -->
                      <span class="input-group-btn" style="padding-right:0px;  padding-left: 0px;">
                        <button [disabled]="pageNo + 1 === 1" class="btn btn-primary decrease-page-number-btn" type="button"
                          (click)="decreasePageNumber()" style="padding: 6px 8px">
                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </button>
                      </span>

                      <!-- -------====== DISPLAY No PAGE / No TOTAL PAGES   ======------ -->
                      <span class="input-group-btn" style="padding-right:0px;">
                        <button #searchbtn class="btn btn-primary" type="button" style="padding: 6px 8px">
                          {{ pageNo + 1 }} / {{ totalPagesNo_roundToUp }}
                        </button>
                      </span>

                      <!-- -------====== BTN INCREASE PAGE  ======------ -->
                      <span class="input-group-btn" style="padding-right:0px">
                        <button [disabled]="pageNo + 1 === totalPagesNo_roundToUp || totalPagesNo_roundToUp === 0"
                          class="btn btn-primary increase-page-number-btn" type="button" (click)="increasePageNumber()" style="padding: 6px 8px">
                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </button>
                      </span>

                    </div>
                  </div>

                </div>
              </div>

            </div> <!-- ./ card -->
          </div>
        </div>
      </div>




      <!-- 
    // -------------------------------------------------------
    // Right sidebar & Contact list
    // ------------------------------------------------------- -->

      <!-- <div class="row">
        <div class="col-xs-12" style="padding-right: 5px;padding-left: 0px;">

          <div class="card nav-card" style="margin-bottom: 0px;margin-top: 0px; padding: 15px 0px;">
            <div class="card-content"
              style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;">

              <ul style="padding-left: 0px;    list-style: none;">
                <li class="nav-contacts-li" [ngClass]="{'nav-contacts-li-active' : hasClickedTrashed === false}"
                  (click)="closeTrashContacts()">
                  <span style="padding-left: 15px;">Contacts </span>
                </li>
                <li class="nav-contacts-li" [ngClass]="{'nav-contacts-li-active' : hasClickedTrashed === true}"
                  (click)="openTrashedContact()">
                  <span>
                    <i style="vertical-align: middle; color:rgba(32, 33, 36, 0.54); padding-left: 10px;"
                      class="material-icons">delete</i>
                    <span class="notification_on_trash">{{ trashedContanctCount }}</span>
                    <span> {{'TrashContacts' | translate}}</span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-9" style="padding-right: 0px;padding-left: 5px;">



        </div>

      </div> -->



    </div> <!-- ./ container-fluid -->
  </div> <!-- ./ main-content -->

  <!-- ============= MODAL REMOVE 'CONTACT' ============= -->
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDeleteModal}"
    style="background-color: rgba(90,90,90,0.5);">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header" style="background-color:#ff5252; padding-bottom:24px">
          <button type="button" class="close" aria-label="Close" (click)="onCloseDeleteModal()">
            <span aria-hidden="true" style="color: #fff">&times;</span>
          </button>
          <h4 class="modal-title" style="color: #fff">
            <i class="material-icons" style="vertical-align: middle">report_problem</i>
            <span style="vertical-align: middle; padding-left:8px">

              {{ "DeleteContact" | translate }}
            </span>
          </h4>

        </div>
        <div class="modal-body">
          <p style="font-weight:500; text-align: left; margin-top: 10px; color: #394f5a;font-size: 16px;">
            {{ "AreYouSure" | translate }} ?
            <!-- <span style="font-weight:600;">{{ groupNameToUpdate }}</span> -->
          </p>
          <p style="color: #7695a5">
            {{ "YouAreAboutToDeleteTheContact" | translate }}
            <span style="font-weight:500;">{{ fullName_toDelete }}</span>
          </p>
        </div>
        <div class="modal-footer" style="margin-top: 0px;">
          <button class="btn btn-white" (click)="onCloseDeleteModal()" style="padding:12px 16px;">

            <!-- {{ "GroupsAddEditPage.Cancel" | translate }} -->
            {{ "Cancel" | translate }}
          </button>
          <button style="margin-top:0px" class="btn btn-danger" (click)="deleteContact()">

            {{ "DeleteContact" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>