.cds-ss-message-wrp{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 25px calc(20%);
    gap: 10px;
    text-align: center;
    color: white;
    transition: .5s;
    opacity: 1;
    padding-top: 110px;
}