<div class="action-connector" >
    <div class="block-line">
        <!-- <svg shape-rendering="geometricPrecision" class="pre-line"><path d="M 0 4 L 13 4" class="sc-eGiIjr kEjIty sc-bTQVhO kjXfPj"></path></svg> -->
    </div>
    <div class="block-connector">
        <div #connectorRef *ngIf="!isConnected" [id]="idConnector" class="point-connector-empty tds_connectable"></div>
        <div #connectorRef *ngIf="isConnected" [id]="idConnector" class="point-connector isConnected"></div>
    </div>
</div>