<span class="navbar-brand navbar-brand-sidebar-settings"
  [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }"
  [ngClass]="{'is_opened':IS_OPEN_SETTINGS_SIDEBAR, 'is_closed':!IS_OPEN_SETTINGS_SIDEBAR }">
  <i class="material-icons">settings</i>
  <span *ngIf="IS_OPEN_SETTINGS_SIDEBAR">{{ 'Settings' | translate }} </span>
</span>


<div class="main-content" style="padding-top:0px; padding-left: 5px;padding-right: 5px;">
  <div class="container-fluid" style="padding-left: 5px;padding-right: 5px;">

    <div class="content-wpr" style="display: flex;">

      <appdashboard-settings-sidebar *ngIf="!ARE_NEW_KB"> </appdashboard-settings-sidebar>

      <appdashboard-bots-sidebar *ngIf="ARE_NEW_KB" [allTemplatesCount]="allTemplatesCount"
        [allCommunityTemplatesCount]="allCommunityTemplatesCount"
        [customerSatisfactionTemplatesCount]="customerSatisfactionTemplatesCount"
        [increaseSalesTemplatesCount]="increaseSalesTemplatesCount" [myChatbotOtherCount]="myChatbotOtherCount"
        [customerSatisfactionBotsCount]="customerSatisfactionBotsCount"
        [increaseSalesBotsCount]="increaseSalesBotsCount">
      </appdashboard-bots-sidebar>


      <div class="template-content">
        <!-- <appdashboard-knowledge-bases-alert [kbsListCount]="kbsListCount" *ngIf="kbsListCount && kbsListCount > kbLimit"> </appdashboard-knowledge-bases-alert> -->

        <div class="template-content-container">
          <loading-spinner *ngIf="showSpinner"></loading-spinner>

          <div class="card-content" *ngIf="!showSpinner">

            <div class="header">
              <!-- <p class="header-title">{{ 'KbPage.AllContents' | translate }}</p> -->

           
              <div class="selected-namespace-content">
                <div class="selected-namespace-name" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
                  <!--  -->
                  <div *ngIf="!namespaceIsEditable" id="namespace-name-output" class="namespace-name-output"> 
                   {{selectedNamespaceName}} 
                  </div>
                  <!-- (blur)="onBlurUpdateNamespaceName($event)" -->
                  <!-- -->
                  <!--  (ngModelChange)="onChangeNamespaceName($event)" -->
                   <input   *ngIf="namespaceIsEditable" [ngStyle]="{ 'width': namespaceNameOutputElWidth }" class="namespace-name-input" type="text" 
                    [(ngModel)]="selectedNamespaceName"
                    (keypress)="onPressEnterUpdateNamespaceName($event)"
                    (focus)="onFocusNamespaceName($event.target.value)">
               
                </div>

               
                
                <!-- ----------- MAT-MENU ----------- -->
                <button mat-icon-button [matMenuTriggerFor]="namespaceList" aria-label="namespaceList">
                  <mat-icon>unfold_more</mat-icon>
                </button>
  
                <mat-menu #namespaceList="matMenu">
                  <button style="padding: 0 10px" class="mat-menu-custom-btn" mat-menu-item   (click)="presentModalAddNewNamespace()">
                    <span >New namespace</span>
                  </button>

                  <button [ngClass]="{'active--namespace': namespace.name === selectedNamespaceName}" mat-menu-item  *ngFor="let namespace of namespaces"  (click)="onSelectNamespace(namespace)">
                    <span >{{namespace.name}}</span>
                  </button>
                </mat-menu>
              </div>
              <!-- --------- ./ MAT-MENU ---------- -->

  <!-- ------- test sat-popover ------------ -->
  <!-- <div class="selected-namespace-content">
    <div class="selected-namespace-name"> {{selectedNamespace}} </div>
    <div class="open-dropdown-namespace-btn-wpr" [satPopoverAnchor]="namespaceslist" (click)="namespaceslist.toggle()">
      <button class="open-dropdown-namespace-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
        class="arrow-down-svg-icon" style="min-width: 20px; min-height: 20px;">
        <path fill-rule="evenodd" d="M10 18h4v-2h-4zM3 6v2h18V6zm3 7h12v-2H6z" clip-rule="evenodd"></path>
      </svg>
    </button>
    </div>
  </div>

  <sat-popover #namespaceslist horizontalAlign="center" verticalAlign="below">
    <div class="popover-wrapper">
      <div class="sat-popover-namespace-list" *ngFor="let namespace of namespaces">
       <div class="sat-popover-namespace-name"> 
        {{namespace.name}}
       </div>
        <button class="btn btn-danger btn-simple" (click)="removeNamespace(namespace)">
          <i class="material-icons">delete_forever</i>
        </button>
        <button class="btn btn-primary btn-simple btn-xs" (click)="editNamespaceName()">
          <i class="material-icons">edit</i>
        </button>
      </div>
    
    </div>
  </sat-popover> -->

  <!-- ------- ./ test sat-popover ------------ -->


              



              <div class="buttons-div">
                <button class="custom-button delete" [disabled]="addButtonDisabled" aria-label="Delete"
                  style="text-transform: capitalize;" (click)="onOpenDeleteNamespaceModal()">
                  <!-- <span class=""> {{ 'KbPage.Add' | translate }} </span> -->
                  <span class="material-icons-round">
                    delete
                  </span>
                  <!-- {{ 'KbPage.DeleteNamespace' | translate }} -->
                </button>

                <button class="custom-button preview-settings"
                  (click)="$event.stopPropagation(); onOpenBaseModalPreviewSettings()">
                  <span class="material-icons-round">settings</span>
                </button>

                <button class="custom-button preview" aria-label="Preview"
                  (click)="$event.stopPropagation(); onOpenBaseModalPreview()">
                  <span class="material-icons-round">play_arrow</span>
                  <span class=""> Preview </span>
                </button>

                <div class="add-kb-div">
                  <!-- width: 150px; -->
                  <button class="custom-button add-content" [disabled]="addButtonDisabled" [matMenuTriggerFor]="menu"
                    aria-label="Actions">
                    <span class="material-icons-round">add</span>
                    <span class=""> {{ 'KbPage.Add' | translate }} </span>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before" class="custom-menu" style="width: 150px;">
                    <add-content-menu class="mat-menu" (openAddKnowledgeBaseModal)="openAddKnowledgeBaseModal($event)">
                    </add-content-menu>
                  </mat-menu>
                </div>
              </div>
            </div>

            <!-- START TABLE -->
            <knowledge-base-table [kbsList]="kbsList" 
              [kbsListCount]="kbsListCount" 
              [refresh]="refreshKbsList"
              (openBaseModalDetail)="onOpenBaseModalDetail($event)"
              (openBaseModalDelete)="onOpenBaseModalDelete($event)"
              (openBaseModalNamespaceDelete)="onOpenBaseModalNamespaceDelete()"
              (openBaseModalPreview)="onOpenBaseModalPreview()"
              (openAddKnowledgeBaseModal)="openAddKnowledgeBaseModal($event)" (checkStatus)="onCheckStatus($event)"
              (runIndexing)="onRunIndexing($event)"
              (loadPage)="onLoadPage($event)"
              (loadByFilter)="onLoadByFilter($event)">
            </knowledge-base-table>
            <!-- END TABLE -->

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- ADD KNOWLEDGE BASE MODAL - START -->
<modal-page-url *ngIf="typeKnowledgeBaseModal == 'url-page'" (saveKnowledgeBase)="onAddKb($event)"
  (closeBaseModal)="onCloseBaseModal()">
</modal-page-url>

<modal-text-file *ngIf="typeKnowledgeBaseModal == 'text-file'" (saveKnowledgeBase)="onAddKb($event)"
  (closeBaseModal)="onCloseBaseModal()">
</modal-text-file>

<modal-site-map *ngIf="typeKnowledgeBaseModal == 'site-map'" [listSitesOfSitemap]="listSitesOfSitemap"
  (sendSitemap)="onSendSitemap($event)" (saveKnowledgeBase)="onAddMultiKb($event)"
  (closeBaseModal)="onCloseBaseModal()">
</modal-site-map>

<modal-urls-knowledge-base *ngIf="typeKnowledgeBaseModal == 'urls'" (saveKnowledgeBase)="onAddMultiKb($event)"
  (closeBaseModal)="onCloseBaseModal()">
</modal-urls-knowledge-base>
<!-- ADD KNOWLEDGE BASE MODAL - END -->


<!-- DETAIL KNOWLEDGE BASE MODAL - START -->
<modal-detail-knowledge-base *ngIf="baseModalDetail" [kb]="kbid_selected" (updateKnowledgeBase)="onUpdateKb($event)"
  (closeBaseModal)="onCloseBaseModal()">
</modal-detail-knowledge-base>
<!-- DETAIL KNOWLEDGE BASE MODAL - END -->

<!-- DELETE KNOWLEDGE BASE MODAL - START -->
<modal-delete-knowledge-base *ngIf="baseModalDelete" [kb]="kbid_selected"
  (deleteKnowledgeBase)="onDeleteKnowledgeBase($event)" (closeBaseModal)="onCloseBaseModal()">
</modal-delete-knowledge-base>
<!-- DELETE KNOWLEDGE BASE MODAL - END -->

<!-- DELETE NAMESPACE MODAL - START -->
<modal-delete-namespace *ngIf="showDeleteNamespaceModal" (deleteNamespace)="onDeleteNamespace()"
  (closeModal)="closeDeleteNamespaceModal()" [selectedNamespace]="selectedNamespace">
</modal-delete-namespace>
<!-- DELETE NAMESPACE MODAL - END -->

<!-- PREVIEW KNOWLEDGE BASE MODAL - START -->
<modal-preview-knowledge-base *ngIf="baseModalPreview" [namespace]="id_project" (closeBaseModal)="onCloseBaseModal()">
</modal-preview-knowledge-base>
<!-- PREVIEW KNOWLEDGE BASE MODAL - END -->

<modal-preview-settings *ngIf="baseModalPreviewSettings" [namespace]="id_project"
  (closeBaseModal)="onCloseBaseModal()"></modal-preview-settings>

<!-- ERROR KNOWLEDGE BASE MODAL - START -->
<modal-error-knowledge-base *ngIf="baseModalError" [errorMessage]="errorMessage"
  (closeBaseModal)="onCloseBaseModal()"></modal-error-knowledge-base>
<!-- ERROR KNOWLEDGE BASE MODAL - END -->