@import "../../assets/sass/md/_variables.scss";

.card-content {
    font-family: 'Poppins';
    padding-top: 10px;
    // margin: 0 60px;
}

.template-content {
    flex: 1 1 auto;
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p.header-title {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 0px;
    }

    .buttons-div {
        display: flex;
        align-items: center;

        button {
            margin-left: 8px;
        }
    }
}

.custom-button {
    text-transform: capitalize;
    color: white;
    border: none;
    height: 36px;
    border-radius: 999px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.custom-button.xs {
    background: var(--blue-light);
    height: 24px;
    font-size: 12px;
    padding: 1px 8px;

    &:hover {
        // background: #256ffd;
        opacity: .8;
    }
}

.custom-button.xs>span {
    text-transform: none;
    position: relative;
    top: -1px;
}

.custom-button.add-content {
    // background: #397dff;
    background: var(--blue-light);
    padding: 0 12px;

    &:hover {
        // background: #256ffd;
        opacity: .8;
    }
}

.custom-button.delete {
    background: #ff5c48;
    padding: 0 8px;
    width: 36px;
    height: 36px;

    span {
        font-size: 20px !important;
    }
}

.custom-button.preview-settings {
    background-color: #38414a;
    padding: 0 8px;
    width: 36px;
    height: 36px;

    span {
        font-size: 20px !important;
    }

    &:hover {
        background: #38414ae0;
    }
}

.custom-button.preview {
    background-color: #38414a;
    padding: 0 12px;

    span {
        margin-right: 6px;
    }

    &:hover {
        background: #38414ae0;
    }
}

.template-content-container {
    width: 80%;
    max-width: 1600px;
    min-width: 900px;
}

.add-kb-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.close {
    font-size: 30px;
    font-weight: 300;
    margin-top: 0px;
    color: black !important;
}

.modal {
    font-family: 'Poppins';
}

.modal-title {
    font-weight: 500;
}

.info-container {
    display: flex;
    flex-direction: row;
    padding: 12px 15px;
    border-radius: 4px;
    background-color: #d7ebfa6e;

    .info-icon {
        margin-right: 8px;
        font-size: 20px;
    }

    p {
        margin-bottom: 0px;
    }

}

.kb-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #c2c2c2;
    border-radius: 12px;
    padding: 2px 10px;
    background: linear-gradient(rgba(239, 245, 246, 0.64) 0%, rgb(238, 244, 246) 100%), rgb(255, 255, 255);
    box-shadow: rgb(212, 217, 230) 0px 1px 0px;

    p {
        font-size: 12px;
        margin-bottom: 0px;
        color: rgb(98, 119, 140);
    }

    .material-icons-round {
        font-size: 20px;
        margin-right: 8px;
        color: rgb(98, 119, 140);
    }
}

.form-container {
    margin-top: 12px;
    margin-bottom: 12px;

    .input-container {
        margin-bottom: 14px;
    }

    .input-label {
        font-weight: 400;
        // letter-spacing: 0.5px;
    }

    .custom-input {
        width: 100%;
        height: 37px;
        border-radius: 6px;
        border: 2px solid #c6cdd4;
        padding: 0px 15px;
        color: #22272d;
        line-height: 35px;
        font-weight: 400;

        // letter-spacing: 0.5px;
        &.invalid {
            border: 2px solid red !important;
            outline: 0px solid red !important;
            transition: border 0.3s;
        }
    }

    .custom-textarea {
        width: 100%;
        border-radius: 6px;
        border: 2px solid #c6cdd4;
        padding: 0px 15px;
        color: #22272d;
        line-height: 35px;
        font-weight: 400;
        resize: vertical;

        &.invalid {
            border: 2px solid red !important;
            outline: 0px solid red !important;
            transition: border 0.3s;
        }
    }
}

.modal-footer {

    padding: 18px;

    button {
        border-radius: 6px;
    }

    button#addkb-btn {
        margin-left: 10px;
    }
}

.status-icon#done {
    margin-top: 5px;
    color: #18e32c;
}

.status-icon#cached {
    margin-top: 5px;
    color: #62778c;
    ;
}

.status-icon#close {
    margin-top: 5px;
    color: #f44336;
}

td {
    .title {
        margin-bottom: 0px;
        font-weight: 500;
    }

    .subtitle {
        margin-bottom: 0px;
        ;
        font-size: 12px;
        color: #727272;
    }

    .mat-icon-button {
        font-size: x-large;
        font-weight: bolder;
    }

    .btn-action {
        padding: 0 4px;
        margin: 0px;
    }

    .btn .material-icons {
        font-size: 18px;
        top: 0px;
    }
}

.icon-btns-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .icon-btn {
        display: flex;
        margin-right: 4px;

        &:hover {
            cursor: pointer;
        }
    }

    .btn-play {
        color: $brand-primary;
        margin-right: 6px;

        .material-icons-round {
            font-size: 28px;
        }
    }

    .btn-edit {
        color: $brand-primary;
        margin-right: 6px;

        .material-icons-round {
            font-size: 22px;
            margin-bottom: 2px;
        }
    }

    .btn-close {
        color: #f44336;
    }
}

.preview-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //background-color: #006cff;
    color: white;
    border: none;
    padding: 4px 12px 4px 8px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 13px;
    color: rgb(98, 119, 140);
    background: linear-gradient(rgba(239, 245, 246, 0.64) 0%, rgb(238, 244, 246) 100%), rgb(255, 255, 255);
    box-shadow: rgb(212, 217, 230) 0px 1px 0px;

    .material-icons {
        font-size: 19px;
    }

    &:hover {
        background: linear-gradient(rgba(239, 245, 246, 0.851) 0%, rgb(225, 241, 246) 100%), rgb(255, 255, 255);
    }
}

// .preview-button {
//     display: inline-block;
//     //transition: background-color 0.15s ease 0s, color 0.15s ease 0s;
//     cursor: pointer;
//     //animation: 0.15s ease 0s 1 normal none running fadein, 0.15s ease 0s 1 normal none running moveinleft;
//     box-sizing: border-box;
//     min-width: 22px;
//     height: 22.4px;
//     margin-top: -4px;
//     margin-bottom: -4px;
//     padding-right: 8px;
//     padding-left: 8px;
//     font-weight: 600;
//     font-size: 12px;
//     line-height: 24px;
//     text-align: center;
//     border-radius: 5px;
//     // color: #61778c;
//     color: rgb(98, 119, 140);
//     background: linear-gradient(rgba(239, 245, 246, 0.64) 0%, rgb(238, 244, 246) 100%), rgb(255, 255, 255);
//     box-shadow: rgb(212, 217, 230) 0px 1px 0px;
// }


// .fake-input {
//     height: 37px;
//     border-radius: 6px;
//     border: solid 2px #c6cdd4;
//     display: flex;
//     align-items: center;
//     padding: 12px;
//     cursor: text;

//     .fake-input-inner {
//         width: 100%;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: space-between;
//     }

//     input {
//         height: 32px;
//         width: 100%;
//         border: transparent;
//     }

//     .input-bold {
//         font-weight: 400;
//     }

//     .enter-button {
//         display: none;
//         transition: background-color 0.15s ease 0s, color 0.15s ease 0s;
//         cursor: pointer;
//         animation: 0.15s ease 0s 1 normal none running fadein, 0.15s ease 0s 1 normal none running moveinleft;
//         box-sizing: border-box;
//         min-width: 22px;
//         height: 22.4px;
//         margin-top: -4px;
//         margin-bottom: -4px;
//         padding-right: 8px;
//         padding-left: 8px;
//         font-weight: 600;
//         font-size: 12px;
//         line-height: 24px;
//         text-align: center;
//         border-radius: 5px;
//         // color: #61778c;
//         color: rgb(98, 119, 140);
//         background: linear-gradient(rgba(239, 245, 246, 0.64) 0%, rgb(238, 244, 246) 100%), rgb(255, 255, 255);
//         box-shadow: rgb(212, 217, 230) 0px 1px 0px;
//     }

//     @keyframes fadein {
//         0% {
//             opacity: 0;
//         }

//         100% {
//             opacity: 1;
//         }
//     }

//     @keyframes moveinleft {
//         0% {
//             transform: translate(16px);
//         }

//         100% {
//             transform: translate(0px);
//         }
//     }
// }


// .answer {
//     min-height: 37px;
//     max-height: 37px;
//     border-radius: 6px;
//     border: solid 2px #c6cdd4;
//     padding: 6px 12px;
//     cursor: text;
//     overflow: hidden;
//     transition: max-height 0.5s ease-out;

//     .answer-title {
//         margin-bottom: 0px;
//         font-size: 12px;
//         font-weight: 600;
//         color: rgb(98, 119, 140) !important;
//     }
// }

.answer-active {
    max-height: 300px;
    overflow-y: scroll;
}

// ::ng-deep .custom-spinner {
//     .sk-fading-circle {
//         width: 20px;
//         height: 20px;
//         margin: 0px;
//     }
//     .sk-fading-circle .sk-circle:before {
//         background-color: rgb(98, 119, 140) !important;
//     }
// }

table {
    margin-bottom: 6px;
}

.counter-box {
    padding: 0px 8px;

    p {
        font-size: 12px;
        color: #ababab;
    }
}

.animated-icon {
    animation: rotate 1.5s linear infinite;
    animation-direction: reverse !important;
}

::ng-deep .custom-mat-tooltip {
    background-color: #2d323e !important;
    font-size: 12px !important;
    border-radius: 2px !important;
    font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #fff !important;
  }

.show-hide-button {
    cursor: pointer;
    display: flex;

    .material-icons-outlined {
        font-size: 20px;
        color: grey;
    }

    &:hover {
        .material-icons-outlined {
            font-size: 20px;
            color: black;
        }
    }
}

.bold {
    font-weight: 500;
}

.contat-us-no-chat-gpt {
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: 6px;
}

.contact-us-via-email {
    color: #2196f3;
    cursor: pointer;
}

.contact-us-via-email:hover {
    text-decoration: underline;
}

.kb-question-text {
    margin-top: 18px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
}

.btn-big-button {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    // font-size: medium;
    text-transform: none;
    border-radius: 4px;
}

.icon-big-button {
    padding: 0 14px;
    font-weight: bold;
    height: auto;
}


// .mat-menu-panel {
//     margin-top: 6px !important;
//     border-radius: 8px !important;
//     background: #FFFFFF!important;
//     box-shadow: 0 40px 64px -32px #161a1e1f, 0 32px 40px -32px #161a1e1a, 0 24px 32px -32px #161a1e14, 0 16px 20px -32px #161a1e14, 0 10px 16px -32px #161a1e0f, 0 4px 8px -32px #161a1e0a, 0 1px 1px #161a1e0a, 0 0 0 1px #161a1e0f!important;
//     border-radius: 10px!important;
//   }



::ng-deep.mat-elevation-z4 {
    background: #FFFFFF;
    box-shadow: 0 40px 64px -32px #161a1e1f, 0 32px 40px -32px #161a1e1a, 0 24px 32px -32px #161a1e14, 0 16px 20px -32px #161a1e14, 0 10px 16px -32px #161a1e0f, 0 4px 8px -32px #161a1e0a, 0 1px 1px #161a1e0a, 0 0 0 1px #161a1e0f;
    border-radius: 10px;
    margin-top: 4px;
}

.btn {
    text-transform: none;
}

.title-class {
    color: black;
    font-weight: 500;
}


/* Namespaces CRUD
/* *************************** */




.selected-namespace-content {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.selected-namespace-content>.selected-namespace-name {
    font-size: 24px;
    font-family: var(--header-font-family);
    font-weight: 400;

}

.namespace-name-output {
    padding: 8px 6px;
    border-radius: 4px !important;
    border: 1px solid transparent;
    color: var(--text-color);
}

.namespace-name-input {
    border-radius: 4px !important;
    padding: 1px 6px;
    // border: 1px solid transparent;
    border: 1px solid #0b57d0 !important;
    color: var(--text-color);
}

.namespace-name-input.edit-mode {
    border: 1px solid #d3dbe5;
}

.open-dropdown-namespace-btn {
    background: transparent;
    display: inline-flex;
    box-shadow: none;
    outline: none;
    padding: 0px 4px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    width: 34px;
    height: 34px;
    border: 1px solid rgb(211, 219, 229);
    border-radius: 8px;
}

.open-dropdown-namespace-btn>svg {
    fill: rgb(100, 116, 145);
}

.open-dropdown-namespace-btn:hover {
    background-color: #dce9ff
}

.open-dropdown-namespace-btn:hover>svg {
    fill: #0566ff;
}


.popover-wrapper {
    box-shadow: 0 5px 15px -5px #0006;
    margin-top: -2px;
    border: 1px solid #0000000f;
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    padding: 8px;
    text-align: center;
}

.sat-popover-namespace-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.mat-menu-custom-btn>.mat-icon {
    margin-right: 0;
    color: var(--blue-light);
    margin-top: 1px;
    font-size: 21px;
    width: 20px;
}

.mat-menu-custom-btn>span {
    // background-color: var(--blue-light);
    // border-color: var(--blue-light);
    padding: 6px;
    color: var(--blue-light);
    border-radius: 4px;
    font-weight: 600;
}

.active--namespace {
    background: rgba(0, 0, 0, .04);
    font-weight: 500;
}

::ng-deep .kb-custom-mat-tooltip {
    background-color: #2d323e !important;
    font-size: 12px !important;
    border-radius: 2px !important;
    font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #fff;
}

.chatbot-using-current-namespace-wpr {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin-left: 8px;
    margin-top: 6px;
    height: 24px;
}

.chatbot-using-current-namespace {
    font-weight: 400;

}

.chatbot-list-using-current-namespace {
    cursor: pointer;
    padding: 0 5px;
    border-radius: 4px;
    font-weight: 500;
    background: #dce9ff;
    font-size: 12px;
}

.chatbot-list-using-current-namespace:hover {
    background: #c3d9ff
}