<span class="navbar-brand navbar-brand-sidebar-settings"
  [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }"
  [ngClass]="{'is_opened':IS_OPEN_SETTINGS_SIDEBAR, 'is_closed':!IS_OPEN_SETTINGS_SIDEBAR }">

  <i class="material-icons">settings</i>

  <span *ngIf="IS_OPEN_SETTINGS_SIDEBAR">{{ 'Settings' | translate }} </span>
</span>


<div class="main-content" style="padding-top:0px; padding-left: 5px;padding-right: 5px;">
  <div class="container-fluid" style="padding-left: 5px;padding-right: 5px;">

    <div class="content-wpr" style="display: flex;">
      <appdashboard-settings-sidebar style="border-right:1px solid #e5effe !important"> </appdashboard-settings-sidebar>
      <div class="teplate-content" style="flex: 1 1 auto; margin: 0 20px;">

        <loading-spinner *ngIf="showSpinner"></loading-spinner>

        <div class="card-content" *ngIf="!showSpinner" style="padding-top: 10px;">

          <div class="add-kb-div">
            <!-- 
              <button class="btn btn-primary" (click)="openSecretsModal()">
                GPT-Key
              </button> 
            -->
            <!-- <button class="btn btn-primary" (click)="openAddKnowledgeBaseModal()" [disabled]="addButtonDisabled">
              {{ 'KbPage.AddKb' | translate }}
            </button> -->
            <button class="btn btn-primary" [disabled]="addButtonDisabled" [matMenuTriggerFor]="menu" aria-label="Actions">
              <span class="btn-bottonazzo">{{ 'Aggiungi un knowledge base' | translate }} </span>
              <mat-icon class="icon-bottonazzo">add</mat-icon>
            </button>

            <mat-menu #menu="matMenu" xPosition="before" class="custom-menu">
              <button mat-menu-item (click)="openAddKnowledgeBaseModal('url-page')">
                <mat-icon>link</mat-icon>
                <span>{{ 'add url page' | translate }}</span>
              </button>
              <button mat-menu-item (click)="openAddKnowledgeBaseModal('text-file')">
                <mat-icon>description</mat-icon>
                <span>{{ 'add file text' | translate }}</span>
              </button>
              <!-- <button mat-menu-item (click)="openAddKnowledgeBaseModal('site-map')">
                <mat-icon>lan</mat-icon>
                <span>{{ 'add site map' | translate }}</span>
              </button> -->
            </mat-menu>

          </div>


          <!-- START TABLE -->
          <knowledge-base-table
            [kbsList]="kbsList"
            [refresh]="refreshKbsList"
            (openBaseModalDelete)="onOpenBaseModalDelete($event)"
            (openBaseModalPreview)="onOpenBaseModalPreview()"
            (runIndexing)="onRunIndexing($event)"
          ></knowledge-base-table>
          <!-- END TABLE -->




          <!-- <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 80px;">
                  <span class="column-th-span">
                    {{ 'Type' | translate }}
                  </span>
                </th>

                <th>
                  <span class="column-th-span">
                    {{ 'Name' | translate }}
                  </span>
                </th>

                <th style="width: 80px;">
                  <span class="column-th-span">
                    {{ 'Status' | translate }}
                  </span>
                </th>

                <th>
                  <span class="column-th-span">
                    {{ 'KbPage.CreationDate' | translate }}
                  </span>
                </th>

                <th>
                  <span class="column-th-span" style="float:right">
                    <button class="preview-button" (click)="onOpenBaseModalPreview(kb)">
                      <span class="material-icon material-icons-round">play_arrow</span>Preview
                    </button>
                  </span>
                </th>

              </tr>
            </thead>


            <tbody class="custom-body">
              <!- - <tr *ngIf="kbsList && kbsList.length === 0"> - ->
              <tr *ngIf="kbSettings.kbs && kbSettings.kbs.length === 0">

                <td colspan="4" style="text-align: center; padding-top: 24px;">
                  <p style="font-size:1em; margin-bottom: 0px; color:#7695a5; font-weight: 400">
                    <i class="material-icons"
                      style="vertical-align: middle; margin-bottom: 2px;color: #00bcd4;">info</i>
                    {{ 'KbPage.NoKbAdded' | translate }}
                  </p>
                </td>
              </tr>

              <tr *ngFor="let kb of kbSettings.kbs; let i = index">

                <!- - Knowledge Base type - ->
                <td>
                  <span *ngIf="kb.type == 'text'" id="description" class="material-icons-outlined">description</span>
                  <span *ngIf="kb.type == 'url'" id="link" class="material-icons-outlined">link</span>
                </td>

                <!- - Knowledge Base name - ->
                <td>
                  <p class="title">{{ kb.name }}</p>
                </td>

                <!- - Knowledge Base status - ->
                <td>
                  <loading-spinner *ngIf="kb.status != 0 && kb.status != 1 && kb.status != 2" class="custom-spinner"></loading-spinner>
                  
                  <span *ngIf="kb.status == 2" id="done" class="material-icons-outlined status-icon"
                    matTooltipClass="custom-mat-tooltip" matTooltip="Indexed" #tooltip="matTooltip"
                    matTooltipPosition='right' matTooltipHideDelay="100">done</span>

                  <span *ngIf="kb.status == 1" id="cached" class="material-icons-outlined status-icon animated-icon"
                    matTooltipClass="custom-mat-tooltip" matTooltip="Indexing..." #tooltip="matTooltip"
                    matTooltipPosition='right' matTooltipHideDelay="100">cached</span>

                  <span *ngIf="kb.status == 0" id="close" class="material-icons-outlined status-icon"
                    matTooltipClass="custom-mat-tooltip" matTooltip="Not indexed" #tooltip="matTooltip"
                    matTooltipPosition='right' matTooltipHideDelay="100">close</span>
                </td>

                <!- - Created at - ->
                <td>
                  {{ kb.createdAt | amTimeAgo }}
                </td>

                <!- - Actions - ->
                <td style="text-align: end;">

                  <div style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: flex-end;">
                    <!- - <button class="preview-button" (click)="openPreviewKnowledgeBaseModal(kb)">
                      <span class="material-icon material-icons-round">play_arrow</span>
                      Preview
                    </button> - ->
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before" class="custom-menu">
                      <button mat-menu-item (click)="runIndexing(kb)">
                        <mat-icon>play_arrow</mat-icon>
                        <span>{{ 'KbPage.RunIndexing' | translate }}</span>
                      </button>
                      <button mat-menu-item (click)="onOpenBaseModalDelete(kb)">
                        <mat-icon>close</mat-icon>
                        <span>{{ 'Delete' | translate }}</span>
                      </button>
                    </mat-menu>
                  </div>

                </td>

              </tr>
            </tbody>


          </table> -->




          <!-- <div class="counter-box">
            <p>
              {{ 'KbPage.KbCounterFooter' | translate: { counter: kbSettings?.kbs?.length } }}
            </p>
          </div> -->

        </div>
      </div>


    </div>
  </div>
</div>


<!-- ADD KNOWLEDGE BASE MODAL - START -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{display: addKnowledgeBaseModal}" style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeAddKnowledgeBaseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <span style="vertical-align: middle;">
            {{ 'Aggiungi ' | translate }}
          </span>
        </h4>
      </div>
      <div class="modal-body">
          <div *ngIf="typeKnowledgeBaseModal == 'url-page'">
            <modal-page-url
              (saveKnowledgeBase)="onAddKb($event)"
              (closeAddKnowledgeBaseModal)="closeAddKnowledgeBaseModal()">
            </modal-page-url>
          </div>
          <div *ngIf="typeKnowledgeBaseModal == 'text-file'">
            <modal-text-file
              (saveKnowledgeBase)="onAddKb($event)"
              (closeAddKnowledgeBaseModal)="closeAddKnowledgeBaseModal()">
            </modal-text-file>
          </div>
          <div *ngIf="typeKnowledgeBaseModal == 'site-map'">
            <modal-site-map
              (saveKnowledgeBase)="onAddKb($event)"
              (closeAddKnowledgeBaseModal)="closeAddKnowledgeBaseModal()">
            </modal-site-map>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- ADD KNOWLEDGE BASE MODAL - END -->


<!-- DELETE KNOWLEDGE BASE MODAL - START -->
  <modal-delete-knowledge-base *ngIf="baseModalDelete"
    [kb]="kbid_selected"
    (deleteKnowledgeBase)="onDeleteKnowledgeBase($event)"
    (closeBaseModal)="onCloseBaseModal()"
  ></modal-delete-knowledge-base>
<!-- DELETE KNOWLEDGE BASE MODAL - END -->

<!-- DELETE KNOWLEDGE BASE MODAL - START -->
  <modal-preview-knowledge-base *ngIf="baseModalPreview" 
    [namespace]="id_project"
    (closeBaseModal)="onCloseBaseModal()"
  ></modal-preview-knowledge-base>
<!--     //(previewKnowledgeBase)="onPreviewKnowledgeBase($event)" DELETE KNOWLEDGE BASE MODAL - END -->