<div class="navbar-brand" style="z-index: -1;margin-top:10px; padding-left:30px">
  <i class="material-icons" style="vertical-align: middle !important; cursor: pointer;" (click)="goBack()">keyboard_arrow_left</i>
  <!-- Profilo -->
  {{ "UserProfile.Profile" | translate }}
</div>
<div class="main-content" style="padding-top:0px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="padding-top:25px; padding-bottom:25px">

          <!-- // USER PROFILE -->
          <div *ngIf="user" class="card-content">

            <label style="height: 36px; padding-top: 20px; padding-left: 16px; padding-right: 16px; text-align: right;" class="col-sm-2 avatar_label">
              Avatar
            </label>
            <div class="col-sm-10">
                
              <div class="card-avatar" style="padding-bottom:15px">
                          
                <img style="vertical-align: middle; width: 60px; height: 60px; border-radius: 50%; border: 1px solid #eee; margin-right: 15px;" class="img" src="assets/img/no_image_user.png" />
                      
              </div> 
            </div>

            <label style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right;" class="col-sm-2 ">
              <!-- Nome -->
              {{ "UserProfile.Name" | translate }}            
            </label>
            <div class="col-sm-10">
                <!-- user.firstname  -->
              <input  style="color:#999999" [(ngModel)]="user_firstname" class="" type="text" placeholder='{{ "UserProfile.Name" | translate }}' disabled>
            </div>

            <label style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right;" class="col-sm-2 ">
              <!-- Cognome -->
              {{ "UserProfile.Lastname" | translate }}
            
            </label>
            <div class="col-sm-10">
                <!-- user.lastname  -->
              <input style="color:#999999" [(ngModel)]="user_lastname " class="" type="text" placeholder='{{ "UserProfile.Lastname" | translate }}' disabled>
            </div>

            <label style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right;" class="col-sm-2">
              Email
            </label>
            <div class="col-sm-10">
                <!-- user.email  -->
              <input style="color:#999999" [(ngModel)]="user_email" class="" type="text" placeholder="Email" disabled>
            </div>

            <label style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right;" class="col-sm-2">
              <!-- ID Utente -->
              {{ "UserProfile.UserId" | translate }}
            </label>
            <div class="col-sm-10">
                <!-- user._id  -->
              <input style="color:#999999" [(ngModel)]="user_id" class="" type="text" placeholder='{{ "UserProfile.UserId" | translate }}' disabled>
            </div>

          </div>

          <!-- // FAQ-KB PROFILE  -->
          <div *ngIf="faqKb" class="card-content" style="padding-top: 25px;">

              <label style="height: 36px; padding-top: 20px; padding-left: 16px; padding-right: 16px; text-align: right;" class="col-sm-2 avatar_label">
                Avatar
              </label>
              <div class="col-sm-10">
                  
                <div class="card-avatar" style="padding-bottom:15px">
                            
                  <img style="vertical-align: middle; width: 60px; height: 60px; border-radius: 50%; border: 1px solid #eee; margin-right: 15px;" class="img" src="assets/img/bot_image.png" />
                        
                </div> 
              </div>
  
              <label style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right;" class="col-sm-2 ">
                
                {{ "UserProfile.Name" | translate }}            
              </label>
              <div class="col-sm-10">
               
                <input  style="color:#999999" [(ngModel)]="faqKb_name" class="" type="text" placeholder='' disabled>
              </div>
  
              <label style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right;" class="col-sm-2 ">
                {{ "UserProfile.FaqKbId" | translate }}
              </label>
              <div class="col-sm-10">             
                <input style="color:#999999" [(ngModel)]="faqKb_id " class="" type="text" placeholder='' disabled>
              </div>
              <label style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right;" class="col-sm-2">
                {{ "UserProfile.FaqKbRemoteId" | translate }}
              </label>
              <div class="col-sm-10">
                <input style="color:#999999" [(ngModel)]="faqKb_remoteId" class="" type="text" placeholder="" disabled>
              </div>
              <label style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right; margin-bottom:25px" class="col-sm-2">
                {{ "UserProfile.FaqKbCreatedAt" | translate }}
              </label>
              <div class="col-sm-10">
                <input style="color:#999999" [(ngModel)]="faqKb_createdAt" class="" type="text" placeholder='' disabled>
              </div>
  
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
