@import "./src/assets/sass/md/_variables.scss";
@import "./src/assets/sass/_spinner-section.scss";
@import "./src/assets/sass/_animations.scss";

// LOCAL COLORS //
$color-white: #ffffff;
$color-enterprise-plan: #6772e5;
$color-pro-plan: #3ea9f5;

//---------------------//
// STRUCTURE
//---------------------//
.css-onboarding {
  /**  local variables **/ 
  --width-col-rigth: 360px;
  //----------------------------------//
  font-family: "Poppins","Roboto",Arial,sans-serif;
  background: white;
  width: 100%;
  margin: 0px; 
  padding: 0px;
  .logo {
    position:absolute;
    width: 150px;
    top: 20px;
    left: 20px;
    z-index: 9999;
  }
  .row {
    z-index: 10;
  }
  .col-left {
    min-height: 100vh;
    height: auto;
    background: white;
    width: calc(100% - var(--width-col-rigth));
    position: relative;
    float: left;
    padding: 100px 60px 60px;
    z-index: 20;
  }
  .col-right {
    min-height: 100vh;
    height: auto;
    width: var(--width-col-rigth);
    position: relative;
    float: left;
    overflow: hidden;
    z-index: 10;
  }


  

  .wizard-bckgrnd {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 375px 100%, 188px 100%, 179px 100%;
    background-position: right -12px bottom, right, calc(100% - 179px);
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #1a73e8 0%, $color-pro-plan 100%),
    linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #eff2f6 50%, #eff2f6 100%);
    .claim {
      height: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 40px;
      font-weight: 200;
      line-height: 1.2em;
      padding: 30px;
      color: #fff;
    }
    .stars{
      width: auto;
      margin: 0;
      padding: 0;
      float: initial;
      display: block;
      position: initial;
      text-align: left;
      svg {
        margin-right: 4px;
        height: 18px;
        width: 18px;
        color: #ff9d28;
      }
    }
    .sing{
      font-size: 20px;
      font-weight: 300;
      text-align: right;
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      position: absolute;
      padding-right: 30px;
      right: 0;
      bottom: 0;
    }
  }
  

  /** **/
  @media (max-width: 992px) {
    .col-left {
      width: 100%;
    }
    .col-right {
      display: none;
    }
  }
}





// .td-widget-preview-avatar-image {
//   display: block!important;
// }



// .main-content{
//   position: initial;
// }

// .loading-section {
//   width: 100%;
//   height: 100%;
//   position: absolute;
// }

// .css-onboarding2 {
//   padding-top: 0px; 
//   background-color: #ffffff;
//   width: 100%;
//   // max-width: calc(100% - 360px);
//   margin-top: 0px; 
//   padding: 0px;
//   .logo {
//     max-width: 150px;
//     float: left;
//     padding: 15px;
//     font-size: 18px;
//     line-height: 20px;
//     position: absolute;
//     top: 10px;
//     left: 10px;
//   }
//   .row {
//     &.equal {
//       margin-bottom: 0px;
//       @media (max-width: 1199px) {
//         .btn {
//           font-size: 13px;
//           padding: 18px 24px;
//         }
//       }
//     }
//   }

//   .fade-in-right{
//     text-align: center;
//   }
  


//   .box-step-0{
//     // margin: 60px auto;
//     max-width: calc(100% - 360px);
//     margin: 0;
//     padding: 0;
//     .container {
//       max-width: 90%;
//       width: auto;
//       margin: 80px auto;
//       padding: 0 15px;
//     }
//     .title {
//       font-size: 40px;
//       font-weight: 500;
//       line-height: normal;
//       margin-top: 0px;
//       margin-bottom: 0.5em;
//     }
//     .description {
//         color: #566787;
//         position: relative;
//         font-family: "Poppins","Roboto",Arial,sans-serif;
//         font-size: 24px;
//         line-height: normal;
//         margin-bottom: 1em;
//     }
//     .col-buttons {
//       text-align: center;
//     }
//     button {
//       white-space: normal;
//       padding: 12px 20px;
//       font-size: 0.8em;
//     }

//     .icon-button {
//       text-align: center;
//       font-size: 6em;
//       line-height: normal;
//     }
  
//   }

//   @media (max-width: 991px) {
//     .box-step-0{
//       margin: auto;
//     }
//   }

//   .box-steps {
//     position: absolute;
//     top: 80px;
//     right: 0;
//     width: 300px;
//     padding: 15px;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;
//     -webkit-box-align: center;
//     align-items: center;
//     font-size: 18px;
//     font-family: "Poppins","Roboto", "Arial", sans-serif;
//     .step-number {
//       display: flex;
//     }
//     .number-label {
//       line-height: 20px;
//       display: flex;
//       -webkit-box-align: center;
//       align-items: center;
//       font-weight: bold;
//       color: rgb(70, 72, 72);
//     }
//     .number-list {
//       height: 20px;
//       overflow: hidden;
//       margin-right: 4px;
//       margin-left: 10px;
//       ul {
//         list-style: none;
//         padding: 0px;
//         margin: 0px;
//         transition: all 0.4s ease 0s;
//         // transform: translateY(var(--translateY));
//       }
//     }
//     .number-of {
//       margin-right: 10px;
//     }
//     .step-points {
//       display: flex;
//     }
//     .point {
//       display: flex;
//       width: 8px;
//       height: 8px;
//       border-radius: 4px;
//       margin-right: 4px;
//       background-color: #efefef;
//       &.active{
//         background-color: #3ea9f5;
//       }
//     }
//   }
  
// }



// @media (min-width: 992px) {
//   .wizard-bckgrnd {
//     background-size: 375px 100%, 188px 100%, 179px 100%;
//     background-position: right -12px bottom, right, calc(100% - 179px);
//     background-repeat: no-repeat;
//     background-image: linear-gradient(to bottom, #1a73e8 0%, $color-pro-plan 100%),
//     linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #eff2f6 50%, #eff2f6 100%);
//   }
//   .css-onboarding {
//     width: 100%;
//     .box-steps {
//       right: 370px;
//     }
//   }
//   // .css-onboarding {
//   //   min-height: calc(100% - 0px);
//   // }
//   .loading-section {
//     width: calc(100% - 364px);
//   }

// }


// // ANIMATIONS //
// .fade-in-right {
//   -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
//           animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
// }
// .fade-in-left {
//   -webkit-animation: fade-in-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
//           animation: fade-in-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
// }

// .rotate-center {
//   -webkit-animation: rotate-center 0.6s ease-in-out 0.5s both;
//           animation: rotate-center 0.6s ease-in-out 0.5s both;
// }
// .rotate-center2 {
//   -webkit-animation: rotate-center 0.6s ease-in-out 1s both;
//           animation: rotate-center 0.6s ease-in-out 1s both;
// }
// .fade-in {
//   -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//           animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
// }
// .rotate-in-2-fwd-cw {
//   -webkit-animation: rotate-in-2-fwd-cw 0.5s ease-out 1s both;
//           animation: rotate-in-2-fwd-cw 0.5s ease-out 1s both;
// }
