<div class="navbar-brand" style="z-index: 1050;position: relative;margin-top:6px; padding-left:30px">
  <!-- goBackToFaqKbList() -->
  <i class="material-icons" style="vertical-align: middle !important; cursor: pointer;" (click)="goBack()">keyboard_arrow_left</i>
  Bot Test 
</div>

<div class="main-content" style="padding-top:0px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card custom_card" style="padding-top:25px; padding-bottom:25px; margin-bottom:0px">
          <div class="card-content">
            <div class="row">
              <div class="col-sm-12"> 
                <form>
                  <!-- Domanda -->
                  <!-- <label class="col-sm-2 custom-label">
                    {{ "FaqTestPage.Question" | translate }}
                  </label> -->
                  <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> -->
                  <div class="col-xs-6 col-xs-offset-3">
                    <input [(ngModel)]="questionToTest" class="input" type="text" placeholder='{{ "FaqTestPage.EnterTheQuestion" | translate }}'  name="testquestion"
                    style="padding-left: 16px;">
                  
                    <i class="material-icons send-icon" (click)="searchRemoteFaq()">
                        send
                    </i>
                  </div>
                  <!-- SPACER and BUTTON -->
                  <!-- <div class="col-sm-12 spacer_div" style="height:15px"></div>
                  <label class="col-sm-2"></label>
                  <div class="col-sm-10"> 
                    <button #runtestbtn type="submit" class="btn btn-success" (click)="searchRemoteFaq()">
                      {{ "FaqTestPage.RunTest" | translate }}
                    </button>
                  </div> -->
                </form>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-8 col-xs-offset-2">
                <div class="speech-wrapper" *ngIf="questionsAndAnswersArray.length === 0">
                  <!-- //////////// GREETINGS BUBBLE //////////// -->
                  <div class="bubble alt">
                    <div class="avatar" style="width: 35px; height: 35px; position: absolute; left: 254px; bottom: 36px;">
                      <div style="display: block;border-radius: 50%; height: 100%; margin-top: 35px; background-color: #fff; border:1px solid #ebebeb;">
                        <img style="vertical-align: middle; width: 36px; height: 36px; border-radius: 50%; border: 1px solid #eee; margin-top: 1px; margin-bottom: 1px;position: relative;top: -2px; left: -1px;" 
                        class="user-img" src="assets/img/tiledesk-chatbot.svg" />
                      </div>
                    </div>
                    <div class="txt">
                      <p class="message">Hi Nikola, start to test the bot, then click on inspect ...... </p>
                    </div>
                    <div class="bubble-arrow alt"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngFor="let faq of questionsAndAnswersArray">
                <!-- col-xs-8 col-xs-offset-2 -->
                <!-- [ngClass]="{'col-xs-8 col-xs-offset-2' : true}" -->
                <!-- [ngClass]="{'col-sm-8 col-sm-offset-2' : windowSize520 === true}"  -->
                <!-- style="background-color:aqua" -->
              <div class="col-xs-8 col-xs-offset-2">
                  <!-- col-xs-8 col-xs-offset-2 -->
              <!-- </div>
            </div>

            <div class="row">
              <div class="col-sm-12"> -->
                <div class="speech-wrapper">
               
                      <div class="bubble">
                        <div class="txt">
                          <!-- <p class="name">Benni</p> -->
                          <p class="message">{{ faq?.q }}</p>
                          
                        </div>
                        <div class="bubble-arrow"></div>
                      </div>
                    <!--  Speech Bubble alternative -->
                  
                    <div class="bubble alt" [ngStyle]="{'margin-left': bubbleAltMarginLeft }">
                      <div class="txt">
                        <!-- <p class="name alt">+353 87 1234 567<span> ~ John</span></p> -->
                        <p class="message">{{ faq?.a }}</p>
                      
                      </div>
                      <div class="bubble-arrow alt"></div>
                    </div>
            
              </div>
            </div>
          </div>

        </div>
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-custom-bkgrnd">
            <h4 class="faq-table-title" style="margin-bottom:2px; font-size:1.1em; color: #566787">
              FAQs <span style="font-weight: 500">({{ faq_number_of_found }})</span> 

              <!-- Hide Score  -->
              <!-- <span style="margin-left: 16px">
                <input type="checkbox" class="form-check-input" style="width: 16px;height: 16px;" 
                (change)="onChangeHideScore($event)">
                {{ "FaqTestPage.HideScore" | translate }}
              </span> -->
            </h4>
          </div>   
          
          <loading-spinner *ngIf="showSpinner"></loading-spinner>
          
          <div *ngIf="!showSpinner" class="card-content table-responsive" style="padding-top:0px">

            <table  class="table table-hover">
              <thead>
                <tr>
                  <!-- // FOR DEBUG - FAQ ID -->
                  <!-- <th>
                    <span style="color: #566787">
                      <strong>
                        FAQ ID 
                      </strong>
                    </span>
                  </th> -->

                  <!-- <th>
                    <span style="color: #566787">
                      <strong>
                        Score 
                      </strong>
                    </span>
                  </th> -->

                  <th>
                    <span class="column-th-span">
                      {{ "FaqTestPage.Question" | translate }}
                    </span>
                  </th>

                  <th >
                    <span class="column-th-span">
                      {{ "FaqTestPage.Answer" | translate }}
                    </span>
                  </th>
                </tr>
              </thead>

              
              <tbody>
                
                <tr *ngFor="let hit of hits">
                    
                  <!-- // FOR DEBUG - FAQ ID -->
                  <!-- <td>
                    {{ hit?.document.id }}
                  </td> -->

                  <!-- <td (click)="getFaqKbIdAndGoToEditFaqPage(hit?.document.id)" style="cursor: pointer;" >
                    <span class="tooltipx" style="font-size: 12px;">
                      {{ hit?.score }}
                      <span class="tooltiptext"> {{ "FaqEditAddPage.FaqID" | translate }}: <br> {{ hit?.document.id }} </span>
                    </span>
                  </td> -->

                  <td (click)="getFaqKbIdAndGoToEditFaqPage(hit?.document.id)" 
                    style="cursor: pointer; white-space: normal !important; word-wrap: break-word;vertical-align: text-top;">
                    <span class="tooltipx">
                      <span style="font-size:13px; font-weight:400"> {{ hit?.document.question }} </span>
                      <span class="tooltiptext"> {{ "FaqEditAddPage.FaqID" | translate }}: <br> {{ hit?.document.id }} </span>
                    </span>
                   
                  </td>

                  <td class="td_answer" (click)="getFaqKbIdAndGoToEditFaqPage(hit?.document.id)" 
                    style="cursor: pointer; white-space: normal !important; word-wrap: break-word;">
                      <!-- margin-bottom: 15px -->
                    <span class="tooltipx" style="margin-bottom: 15px" [ngClass]="{ 'hideScoreHidden': hideScore}">
                      <span style="font-size:13px; font-weight:400">{{ hit?.document.answer }} </span>
                      <span class="tooltiptext"> {{ "FaqEditAddPage.FaqID" | translate }}: <br> {{ hit?.document.id }} </span>
                    </span>  
                    <br>
                    <span *ngIf='hideScore === false' class="score"> Score: {{ hit?.score }} </span>
                  </td>
                 
                </tr>
   
                
              </tbody>


            </table>

            <!-- <div class="row" *ngFor="let hit of hits">
              <div class="col-xs-6 col-md-6 col-lg-6" style="border-top: 1px solid #ddd;">
                {{ hit?.document.question }}
              </div>
              <div class="col-xs-6 col-md-6 col-lg-6" style="border-top: 1px solid #ddd;">
                {{ hit?.document.answer }}
              </div>
              <div class="col-xs-12 col-md-12 col-lg-12" style="border-bottom: 1px solid #ddd;">
                Score: {{ hit?.score }}
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>

  </div>
</div>  