<div class="navbar-brand" style="z-index: -1;margin-top:10px; padding-left:30px">
  <i class="material-icons" style="vertical-align: middle !important; cursor: pointer;" (click)="goBackToFaqKbList()">keyboard_arrow_left</i>
  Faq Test 
</div>

<div class="main-content" style="padding-top:0px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="padding-top:25px; padding-bottom:25px; margin-bottom:0px">
          <div class="card-content">


            <label style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right;" class="col-sm-2 ">Domanda</label>
            <div class="col-sm-10">
              <!-- Faq kb name -->
              <input [(ngModel)]="questionToTest" class="input" type="text" placeholder="Inserisci la domanda">
            </div>

             <!-- SPACER -->
             <div class="col-sm-12" style="height:15px"></div>

             <label style="" class="col-sm-2"></label>
             <div class="col-sm-10"> 
                <!-- [disabled]="faqKbName?.length < 2" -->
               <button class="btn btn-success"  (click)="searchRemoteFaq()">
                 Esegui Test
               </button>
             </div>
          </div>
        </div>

          <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-content table-responsive">
                    <table class="table">
                      <thead>
                        <tr>

                            <th>
                                <span style="color: #566787">
                                    <!-- Name -->
                                  <strong>Score </strong>
                                </span>
                              </th>
      
                          <th>
                            <span style="color: #566787">
                                
                              <strong>Domanda </strong>
                            </span>
                          </th>

                          <th>
                              <span style="color: #566787">
                                  
                                <strong>Risposta </strong>
                              </span>
                            </th>
                        </tr>
                      </thead>

                      <tbody>
                         
                          <tr *ngFor="let hit of hits">
                              <td>
                                  {{ hit.score }}
                                </td>

                              <td>
                                  {{ hit.document.question }}
                                </td>
                                <td>
                                    {{ hit.document.answer }}
                                </td>
                          </tr>
                      </tbody>

                    </table>
       
                  </div>
    </div>
  </div>
</div>