<div class="content-panel-intent-detail">

    <div class="text-editor-wrapper">
        <div class="field-box">
            <label class="title-label">Hidden message:</label>
            <!-- <cds-textarea id="text-condition"
                [control]="actionHideMessageFormGroup.controls['text']">
            </cds-textarea> -->
            <cds-textarea 
                class="text-editable-div"
                [text]="text" 
                [minRow]="1"
                popoverVerticalAlign="above"
                [emojiPikerBtn]="true"
                (changeTextarea)="onChangeTextArea($event)">
            </cds-textarea>
        </div>
    </div>

</div>