<div class="content">


    <div class="textarea-editor-wrapper">
        <div class="field-box">
            <label class="title-label">Question</label>
            <div class="value-wrp">
                <cds-textarea id="question"
                    [textLimitBtn]="false"
                    [emojiPikerBtn]="false"
                    [setAttributeBtn]="true"
                    [minRow]="2" [maxRow]="4"
                    [text]="question"
                    (changeTextarea)="changeTextarea($event, 'question')">
                </cds-textarea>
            </div>
        </div>
    </div>

    <div class="text-editor-wrapper">
        <div class="field-box">
            <label class="title-label">Knowledge Base ID</label>
            <div class="value-wrp">
                <cds-textarea id="assignTo"
                    [textLimitBtn]="false"
                    [emojiPikerBtn]="false"
                    [setAttributeBtn]="true"
                    [minRow]="1" [maxRow]="1"
                    [text]="kbid"
                    (changeTextarea)="changeTextarea($event, 'kbid')">
                </cds-textarea>
            </div>
        </div>
    </div>


    <div class="text-editor-wrapper">
        <div class="field-box">
            <label class="title-label">GPT Key</label>
            <div class="value-wrp">
                <cds-textarea id="assignTo"
                    [textLimitBtn]="false"
                    [emojiPikerBtn]="false"
                    [setAttributeBtn]="true"
                    [minRow]="1" [maxRow]="1"
                    [text]="gptkey"
                    (changeTextarea)="changeTextarea($event, 'gptkey')">
                </cds-textarea>
            </div>
        </div>
    </div>

    <hr class="custom-divider">

    <div class="text-editor-wrapper">
        <div class="field-box">
            <label class="title-label">GPT Reply</label>
            <div class="value-wrp">
                <cds-textarea id="assignTo"
                    [textLimitBtn]="false"
                    [emojiPikerBtn]="false"
                    [setAttributeBtn]="true"
                    [minRow]="1" [maxRow]="1"
                    [readonly]="true"
                    [text]="action.assignReplyTo"
                    (selectedAttribute)="onSelectedAttribute($event, 'assignReplyTo')">
                </cds-textarea>
            </div>
        </div>
    </div>

    <div class="text-editor-wrapper">
        <div class="field-box">
            <label class="title-label">GPT Source</label>
            <div class="value-wrp">
                <cds-textarea id="assignTo"
                    [textLimitBtn]="false"
                    [emojiPikerBtn]="false"
                    [setAttributeBtn]="true"
                    [minRow]="1" [maxRow]="1"
                    [readonly]="true"
                    [text]="action.assignSourceTo"
                    (selectedAttribute)="onSelectedAttribute($event, 'assignSourceTo')">
                </cds-textarea>
            </div>
        </div>
    </div>

    <div class="text-editor-wrapper">
        <div class="field-box">
            <label class="title-label">GPT Success</label>
            <div class="value-wrp">
                <cds-textarea id="assignTo"
                    [textLimitBtn]="false"
                    [emojiPikerBtn]="false"
                    [setAttributeBtn]="true"
                    [minRow]="1" [maxRow]="1"
                    [readonly]="true"
                    [text]="action.assignSuccessTo"
                    (selectedAttribute)="onSelectedAttribute($event, 'assignSuccessTo')">
                </cds-textarea>
            </div>
        </div>
    </div>




</div>