<div class="operand-wrp"
    [ngClass]="{'opened' : openSlectFunction}">
    
    <div class="textarea-value">
        <div class="value-wrp">
            <label>Value</label>
            <cds-textarea id="operand"
                [placeholder]="operandForm.value.isVariable? '' : placeholder"
                [textLimitBtn]="false"
                [emojiPikerBtn]="false"
                [text]="operandForm.value.value"
                [setAttributeBtn]="operandForm.value.value? false : true"
                [minRow]="1" [maxRow]="1"
                [readonly]="operandForm.value.isVariable? true : false"
                [control]="operandForm.get('value')"
                (clearSelectedAttribute)="onClearSelectedAttribute()"
                (selectedAttribute)="onSelectedAttribute($event)"
                (changeTextarea)="onChangeTextArea($event)">
            </cds-textarea>
        </div>
    </div>

    <span class="material-icons" (click)="onToggleSelectFunction()">settings</span>
    <div class="select-function">
        <label>Function</label>
        <cds-select id="selectOperand"
            [items]="listOfFunctions"
            [bindLabelSelect]="'name'"
            [bindValueSelect]="'value'"
            [placeholder]="'Apply a function to the value'"
            [itemSelected]="operandForm.value.function"
            [clearable]="true"
            (onSelected)="onSelectedFunction($event)">
        </cds-select>
    </div>
    
</div>
