.unauthorized-token {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-family: var(--header-font-family);
    height: 100%;
    justify-content: center;
}

.unauthorized-token>.unauthorized-token-title {
    font-size: 36px;
    font-weight: 400;
    color: var(--text-color);
}

.unauthorized-token-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.unauthorized-token-redirect-to-login {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: var(--blue-light);
}

.unauthorized-token-redirect-to-login:hover {
    text-decoration: underline;
}