.card-app-store>.card-content>.card-title {
    font-family: var(--header-font-family);
    font-size: 18px;
}

.app-icon img {
    width: auto;
    height: 50px;
}

.app-icon svg {
    width: auto;
    height: 50px;
}

.card-app-store {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a !important;
    // border: 1px solid #e5effe;
    margin-top: 15px !important;
    border-radius: 12px !important;
    // transition: border 0s,box-shadow 0.4s ease-out,transform 0.4s ease-out,opacity 0.4s ease-out;
    // transition-delay: 0.1s;
    // transform: translateZ(0);
}

// .card-app-store:hover {
//     box-shadow: 0 20px 50px 0 rgba(0,0,0,0.1);
//     z-index: 1;
// }

.card-content-app-store {
    color: #7695a5;
    height: 72px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.3;
}

.app-store-right-col-btn {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.app-store-right-col-btn>a {
    color: var(--blue-20);
    font-weight: 400;
    font-family: var(--header-font-family);
}



.app-store-right-col-btn:hover {
    a {
        color: var(--blue-40);
    }
}

.app-store-left-col-btn {
    display: block;
    text-align: center;
    padding: 10px 0;
    border-right: 0.5px solid #e5effe;
}

.app-store-left-col-btn>a {
    color: var(--blue-20);
    font-weight: 400;
    font-family: var(--header-font-family);
}

.app-store-left-col-btn:hover {
    a {
        color: var(--blue-40);
    }
}

.card-footer-app-store {
    margin: 0 15px 0px;
    padding-top: 0px;
    border-top: 1px solid #e5effe;
    background: #fff;
    font-size: 14px;
    padding-bottom: 0px;
    margin: 0px 5px;
}

.app-card-icon {
    height: 40px;
    width: 40px;
    text-align: center;
    background: #e4e6eb;
    border-radius: 50%;
    padding-top: 9px;
}

.app-card-icon:hover {
    background: #cfd2d7;
}

.app-not-installed {
    pointer-events: none;
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.87);
}

.app-installed {
    color: #07080a;
}

.app-installed-wpr {
    background-color: #7aeb8d;
    height: 41px;
    border-bottom-right-radius: 12px;
}

.app-not-installed-wpr {
    background-color: #e4e6eb;
    pointer-events: none;
}

.app-installed-wpr:hover {
    background-color: #00a11b;
}

.app-installed-wpr:hover .app-installed {
    color: #fff;
}

.icon-start-app-in-app-store-istall {
    color: rgba(0, 0, 0, 0.87);
}

.app-installed-wpr:hover .icon-start-app-in-app-store-istall {
    color: #fff;
}

.uninstall-btn {
    background-color: #f44336;
}

.uninstall-anchor {
    color: rgba(0, 0, 0, 0.87);
}

.uninstall-btn:hover {
    background-color: #8d021f;
}

.uninstall-btn:hover .uninstall-anchor {
    color: #fff;
}

.manage-btn {
    background-color: rgb(45, 88, 230);
}

.manage-btn:hover {
    background-color: #1b74e4;
}



.div-disabled {
    pointer-events: none;
    background: #eee;
}

.card-create-app-icon-wpr {
    color: #f0806f;
    text-align: center;
    padding-top: 25px;
}

.card-create-app-text {
    color: #f0806f;
    text-align: center;
    margin-bottom: 15px;
    font-family: var(--header-font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
}

.create-app-card {
    cursor: pointer;
}

.create-app-card:hover {
    box-shadow: 0 7px 8px -4px rgb(0 0 0 / 20%), 0 12px 17px 2px rgb(0 0 0 / 14%), 0 5px 22px 4px rgb(0 0 0 / 12%) !important;
}

.section-title {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 42px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 18px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.01em;
    border-bottom: 1px solid rgb(239, 242, 246);
    color: #080f1a;
    font-family: var(--header-font-family);
}

.hide-paid-app {
    display: none;
}

.app-alert>div {
    background: #f44336;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 60px;
    padding: 15px;
    font-size: 16px;
    font-family: var(--header-font-family);
}

.app-alert>div>.link-to-integrations {
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}

.available-from-b-plan-badge {
    position: relative;

}

.b--plan-badge-color {
    color: #00a1c2;
    background: rgba(0, 161, 194, .3);
    width: fit-content;
    padding: 0px 3px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: -23px;
}

// .app-alert>div>.link-to-integrations:hover { 
//     font-weight: 600;
//     text-decoration: underline;
// }