<!-- margin-top:6px; -->
<!-- <p style="z-index: 1050;position: relative; padding-left:30px" class="navbar-brand"
  [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }">
  App Store
</p> -->

<span class="navbar-brand navbar-brand-sidebar-settings"
  [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }"
  [ngClass]="{'is_opened':IS_OPEN_SETTINGS_SIDEBAR, 'is_closed':!IS_OPEN_SETTINGS_SIDEBAR }">

  <i class="material-icons">settings</i>

  <span *ngIf="IS_OPEN_SETTINGS_SIDEBAR">{{ 'Settings' | translate }} </span>
</span>

<div class="main-content" style="padding: 0px 5px;">

  <div class="page-title--sidebar-settings"
    [ngClass]="{'page-title--sidebar-settings_opened':IS_OPEN_SETTINGS_SIDEBAR, 'page-title--sidebar-settings_closed':!IS_OPEN_SETTINGS_SIDEBAR }">
    {{'Apps' | translate}}
  </div>

  <!-- <div class="row app-alert" *ngIf="areActivePay">
    <div class="col-md-12"> 
  
      Are you looking for the <span class="link-to-integrations" (click)="goToWhatsapp()"> Whatsapp</span> , <span class="link-to-integrations"  (click)="goToMessenger()"> Facebook Messenger</span> or <span class="link-to-integrations" (click)="goToTelegram()">Telegram</span> app? Check out the new <span class="link-to-integrations" (click)="goToIntegrations()">Integrations</span> section
    </div>
  
  </div> -->

  <div class="container-fluid" style="padding-left: 5px;padding-right: 5px;">
    <div class="content-wpr" style="display: flex;">
      <appdashboard-settings-sidebar></appdashboard-settings-sidebar>

      <div class="teplate-content" style="flex: 1 1 auto; margin: 0 10px 20px 20px;">
        <div class="app-store-content">




          <loading-spinner *ngIf="showSpinner"></loading-spinner>
          <!-- -------------------------------------------------------------------- -->
          <!-- @ Create new app card -->
          <!-- -------------------------------------------------------------------- -->
          <div *ngIf="!showSpinner" class="row">
            <!-- style="margin-left: -5px; padding-left: 7px;" -->
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="card card-app-store create-app-card" (click)="goToCreateApp()">

                <div class="card-content" style="height: 268px;">

                  <h3 class="card-create-app-icon-wpr">
                    <i class="material-icons" style="font-size: 48px;">add</i>
                  </h3>

                  <h4 class="card-create-app-text">
                    {{'CreateNewApp' | translate }}
                  </h4>

                </div>

              </div>
            </div>

            <!-- -------------------------------------------------------------------- -->
            <!-- @ App cards -->
            <!-- -------------------------------------------------------------------- -->
            <!-- [ngClass]="{'hide-paid-app': areVisiblePaidApps === false  && (app.title === 'WhatsApp Business' || app.title === 'Facebook Messenger' || app.title === 'Help Center') }" -->
            <div *ngFor="let app of apps" class="col-lg-4 col-md-4 col-sm-6" style="cursor:pointer">
              <div class="card card-app-store">

                <div class="card-content">
                  <div class="row app-card-header">
                    <div class="col-xs-6">
                      <div class="app-icon" style="height:50px">
                        <img [src]="app.logo" />
                      </div>
                    </div>
                    <!-- flex: 1; width: 50%; -->
                    <div class="col-xs-6">

                      <div *ngIf="app.createdBy === userId" class="edit-app-wpr"
                        style="height: 50px;text-align: right;">
                        <div class="row">
                          <div class="col-xs-4"> </div>
                          <div class="col-xs-4" style="padding-right: 2px; padding-left: 3px;"
                            (click)="goToEditApp(app._id)">
                            <div class="edit-app-btn" role="button" matTooltipClass="custom-mat-tooltip"
                              matTooltip="Edit App" #tooltip="matTooltip" matTooltipPosition='below'
                              matTooltipHideDelay="100">
                              <span class="material-icons app-card-icon">
                                mode_edit
                              </span>
                            </div>
                          </div>
                          <div class="col-xs-4" style="padding-left: 2px;" (click)="deleteNewApp(app._id, app?.title)">
                            <div class="delete-app-btn" role="button" matTooltipClass="custom-mat-tooltip"
                              matTooltip="Delete App" #tooltip="matTooltip" matTooltipPosition='below'
                              matTooltipHideDelay="100">
                              <span class="material-icons app-card-icon">
                                delete_forever
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                  <!-- padding: 0px 20px; min-height: 52px; -->
                  <h5 class="card-title" style="margin-bottom: 28px;" [ngClass]="{'app-store-card-no-badge': 
                (app?.title !== 'Zapier') &&
                (app?.title !== 'WhatsApp Business') && 
                (app?.title !== 'Facebook Messenger') &&
                (app?.title !== 'VXML Voice') && 
                (app?.title !== 'Twilio SMS') &&  
                (app?.title !== 'Help Center') && 
                (app?.title !== 'Send transcript by email') && 
                (app?.title !== 'Telegram')}">
                    {{ app.title}}
                  </h5>

                  <ng-container
                    *ngIf="projectProfileData?.extra3 && projectProfileData?.extra3 !== 'tiledesk_tier3' && projectProfileData?.extra3 !== 'tiledesk_tier4'">
                    <div class="available-from-b-plan-badge"
                      *ngIf="(app?.title === 'Zapier') || (app?.title === 'WhatsApp Business') || (app?.title === 'Facebook Messenger') || (app?.title === 'Help Center')">
                      <div class="b--plan-badge-color">
                        {{ 'AvailableFromThePlan' | translate: tParamsAvailableFromAppSumoTier3 }}
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="dispayBadgeAvaibleFromInAppStore ">
                    <div class="available-from-b-plan-badge"
                      *ngIf="((app?.title === 'Zapier') || (app?.title === 'WhatsApp Business') || (app?.title === 'Facebook Messenger') || (app?.title === 'Help Center') || (app?.title === 'Send transcript by email'))">
                      <div class="b--plan-badge-color">
                        {{ 'AvailableFromThePlans' | translate: tParamsAvailableFromTier2 }}
                      </div>
                    </div>
                  </ng-container>

                  <p class="card-content card-content-app-store" style="padding-top: 5px;">
                    {{ app.description}}
                  </p>
                </div>

                <div class="card-footer card-footer-app-store">

                  <div class="row" style="display: block;">

                    <div *ngIf="app.version === 'v1'" class="col-xs-6 app-store-left-col-btn"
                      (click)="learnmore(app.learnMore, app._id)">
                      <a>
                        {{'LearnMore' | translate}}
                      </a>
                    </div>


                    <!-- app.installed {{app.installed }}  app.version {{app.version }} -->
                    <!-- app.where.appsstore >  {{app.where.appsstore }}  -->
                    <div *ngIf="!app.installed && app.version === 'v1'"
                      [ngClass]="{'div-disabled': app._id === '5fecb0d08b2c259c6e4a9706' }"
                      class="col-xs-6 app-store-right-col-btn"
                      (click)="installApp(app, app.installActionType, app.installActionURL, app.title, app._id)">
                      <a>
                        {{'Install' | translate}}
                      </a>
                    </div>

                    <div *ngIf="app.installed && app.version === 'v1'"
                      class="col-xs-6 app-store-right-col-btn manage-btn"
                      (click)="installApp(app, app.installActionType, app.installActionURL, app.title, app._id)">
                      <a style="color: white;">
                        {{'Manage' | translate}}
                      </a>
                    </div>
                    <!-- --------------------------------------------------- -->
                    <!-- App version v2 -->
                    <!-- --------------------------------------------------- -->
                    <ng-container *ngIf="app.version === 'v2'">
                      <div *ngIf="app.installActionURL === undefined"
                        [ngClass]="{'col-xs-4': app.where.appsstore === true && app.installed, 'col-xs-6': (app.where.appsstore === false || !app.where.appsstore) || !app.installed}"
                        class="app-store-left-col-btn" (click)="learnmore(app.learnMore, app._id, app.title)">
                        <a>
                          {{'LearnMore' | translate}}
                        </a>
                      </div>


                      <div *ngIf="app.installActionURL !== undefined"
                        [ngClass]="{'col-xs-3': app.where.appsstore === true && app.installed, 'col-xs-4': ((app.where.appsstore === false || !app.where.appsstore) && app.installed), 'col-xs-6': ((app.where.appsstore === false || !app.where.appsstore) && !app.installed) ||  (app.where.appsstore === true && !app.installed)}"
                        class="app-store-left-col-btn" (click)="learnmore(app.learnMore, app._id, app.title)">
                        <a>
                          {{'LearnMore' | translate}}
                        </a>
                      </div>

                      <div *ngIf="!app.installed"
                        [ngClass]="{'col-xs-4': app.where.appsstore === true && app.installed, 'col-xs-6': (app.where.appsstore === false || !app.where.appsstore) || !app.installed}"
                        class="app-store-right-col-btn"
                        (click)="installApp(app, app.installActionType, app.installActionURL, app.title, app._id)">
                        <a>
                          {{'Install' | translate}}
                        </a>
                      </div>

                      <div *ngIf="app?.installed && app.installActionURL === undefined"
                        [ngClass]="{'col-xs-4': app.where.appsstore === true, 'col-xs-6': app.where.appsstore === false || !app.where.appsstore }"
                        class="app-store-right-col-btn uninstall-btn" (click)="unistallApp(app._id, app.title)">
                        <a style="color: white;">
                          {{'Uninstall' | translate}}
                        </a>
                      </div>
                      <div *ngIf="app?.installed && app.installActionURL !== undefined"
                        [ngClass]="{'col-xs-3': app.where.appsstore === true , 'col-xs-4': app.where.appsstore === false || !app.where.appsstore }"
                        class="app-store-right-col-btn uninstall-btn" (click)="unistallApp(app._id, app.title)">
                        <a style="color: white;">
                          {{'Uninstall' | translate}}
                        </a>
                      </div>

                      <div *ngIf="app.where.appsstore === true && app?.installed &&  app.installActionURL === undefined"
                        class="col-xs-4 app-store-right-col-btn" (click)="openInAppStoreInstall(app, app.title)"
                        [ngClass]="{'app-not-installed-wpr': !app?.installed, 'app-installed-wpr': app?.installed}">
                        <a [ngClass]="{'app-not-installed': !app?.installed, 'app-installed': app?.installed}">
                          <!-- <span class="material-icons icon-start-app-in-app-store-istall">
                      play_arrow
                    </span> -->
                          {{'VisitorsPage.Open' | translate}}
                        </a>
                      </div>

                      <div *ngIf="app.where.appsstore === true && app?.installed &&  app.installActionURL !== undefined"
                        class="col-xs-3 app-store-right-col-btn" (click)="openInAppStoreInstall(app, app.title)"
                        [ngClass]="{'app-not-installed-wpr': !app?.installed, 'app-installed-wpr': app?.installed}">
                        <a [ngClass]="{'app-not-installed': !app?.installed, 'app-installed': app?.installed}">
                          <!-- <span class="material-icons icon-start-app-in-app-store-istall">
                      play_arrow
                    </span> -->
                          {{'VisitorsPage.Open' | translate}}
                        </a>
                      </div>



                      <div *ngIf="app.installed && app.where.appsstore === true &&  app.installActionURL !== undefined"
                        class="col-xs-3 app-store-right-col-btn manage-btn"
                        (click)="openConfigureUrlInAppStoreInstall(app,  app.title, app._id)">
                        <a style="color: white;">
                          <!-- {{'Manage' | translate}} -->
                          <!-- Configure -->
                          {{'OnboardPage.Configure' | translate}}
                        </a>
                      </div>

                      <div
                        *ngIf="app.installed && (app.where.appsstore === false || !app.where.appsstore)  &&  app.installActionURL !== undefined"
                        class="col-xs-4 app-store-right-col-btn manage-btn"
                        (click)="openConfigureUrlInAppStoreInstall(app,  app.title, app._id)">
                        <a style="color: white;">
                          <!-- {{'Manage' | translate}} -->
                          <!-- Configure -->
                          {{'OnboardPage.Configure' | translate}}
                        </a>
                      </div>
                    </ng-container>


                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <!-- -------------------------------------------------------- -->
            <!-- @ Extenal chatbot -->
            <!-- -------------------------------------------------------- -->
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="card card-app-store">
                <div class="card-content">
                  <div class="row app-card-header">
                    <div class="col-xs-6">
                      <div class="app-icon" style="height:50px">
                        <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 189.9 189.9"
                          style="enable-background:new 0 0 189.9 189.9;" xml:space="preserve">
                          <style type="text/css">
                            .extlogo_st0 {
                              fill: none;
                            }

                            .extlogo_st1 {
                              fill: #03A5E8;
                            }
                          </style>
                          <path class="extlogo_st0" d="M78.5,86h24v24h-24V86z" />
                          <g>
                            <path class="extlogo_st1"
                              d="M114.6,76.4c16.6,16.6,16.4,43.3,0.1,59.6c0,0-0.1,0.1-0.1,0.1l-18.7,18.7c-16.5,16.5-43.3,16.5-59.7,0
                                c-16.5-16.5-16.5-43.3,0-59.7l10.3-10.3c2.7-2.7,7.4-0.9,7.6,2.9c0.2,4.9,1.1,9.9,2.7,14.7c0.6,1.6,0.2,3.4-1.1,4.6l-3.6,3.6
                                c-7.8,7.8-8,20.5-0.3,28.3c7.8,7.9,20.6,8,28.4,0.1l18.7-18.7c7.8-7.8,7.8-20.5,0-28.3c-1-1-2.1-1.8-2.9-2.4
                                c-1.2-0.8-1.9-2.1-1.9-3.5c-0.1-2.9,0.9-6,3.3-8.3l5.9-5.9c1.5-1.5,3.9-1.7,5.7-0.5C111,73,112.9,74.6,114.6,76.4L114.6,76.4z" />
                            <path class="extlogo_st1" d="M153.8,37.2c-16.5-16.5-43.3-16.5-59.7,0L75.4,55.9c0,0-0.1,0.1-0.1,0.1C59,72.4,58.8,99,75.4,115.6
                                c1.8,1.8,3.7,3.4,5.7,4.8c1.8,1.2,4.2,1.1,5.7-0.5l5.9-5.9c2.3-2.3,3.4-5.3,3.3-8.3c-0.1-1.4-0.8-2.7-1.9-3.5
                                c-0.8-0.6-1.8-1.4-2.9-2.4c-7.8-7.8-7.8-20.5,0-28.3l18.7-18.7c7.8-7.8,20.7-7.8,28.4,0.1c7.7,7.9,7.5,20.5-0.3,28.3l-3.6,3.6
                                c-1.2,1.2-1.6,3-1.1,4.6c1.6,4.8,2.5,9.7,2.7,14.7c0.1,3.9,4.9,5.7,7.6,2.9l10.3-10.3C170.3,80.5,170.3,53.7,153.8,37.2L153.8,37.2
                                z" />
                          </g>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <h5 class="card-title" style="min-height: 48px;margin-bottom: 5px;">
                    External
                  </h5>

                  <p class="card-content card-content-app-store" style="padding-top: 5px;">
                    {{'UseYourFavouriteTechnology...' | translate: tparams}}
                  </p>
                </div>

                <div class="card-footer card-footer-app-store">

                  <div class="row" style="display: block;">

                    <div *ngIf="hideExternalChatbotLeranMore" class="col-xs-6 app-store-left-col-btn"
                      (click)="openExternalBotIntegrationTutorial()">
                      <a style="cursor: pointer;">
                        {{'LearnMore' | translate}}
                      </a>
                    </div>



                    <div
                      [ngClass]="{'col-xs-6': hideExternalChatbotLeranMore, 'col-xs-12': !hideExternalChatbotLeranMore }"
                      class="app-store-right-col-btn" (click)="createExternalBot('external')">
                      <a style="cursor: pointer;">
                        {{'Create' | translate}}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>