<!-- margin-top:6px; -->
<p style="z-index: 1050;position: relative; padding-left:30px" class="navbar-brand"
  [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }">
  App Store
</p>

<div class="main-content">
  <div class="container-fluid">

    <div class="row">

      <div class="col-xs-12">
        <button class="btn btn-primary" style="padding: 8px 16px; margin: 0px;" (click)="goToCreateApp()">
          <span class="icon" style="padding-right:8px">
            <i class="material-icons">add_circle</i>
          </span>
          {{'CreateNewApp' | translate }}
        </button>
      </div>
    </div>

    <loading-spinner *ngIf="showSpinner"></loading-spinner>

    <div *ngIf="!showSpinner" class="row">
      <div *ngFor="let app of apps" class="col-lg-4 col-md-4 col-sm-6" style="cursor:pointer">
        <div class="card card-app-store">

          <div class="card-content">
            <div class="row app-card-header">
              <div class="col-xs-6">
                <div class="app-icon">
                  <img [src]="app.logo" />
                </div>
              </div>
              <!-- flex: 1; width: 50%; -->
              <div class="col-xs-6">

                <div *ngIf="app.createdBy === userId" class="edit-app-wpr" style="height: 50px;text-align: right;">
                  <div class="row">
                    <div class="col-xs-4"> </div>
                    <div class="col-xs-4" style="padding-right: 2px; padding-left: 3px;" (click)="goToEditApp(app._id)">
                      <div class="edit-app-btn" role="button" matTooltipClass="custom-mat-tooltip" matTooltip="Edit App"
                        #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
                        <span class="material-icons app-card-icon">
                          mode_edit
                        </span>
                      </div>
                    </div>
                    <div class="col-xs-4" style="padding-left: 2px;" (click)="deleteNewApp(app._id)">
                      <div class="delete-app-btn" role="button" matTooltipClass="custom-mat-tooltip"
                        matTooltip="Delete App" #tooltip="matTooltip" matTooltipPosition='below'
                        matTooltipHideDelay="100">
                        <span class="material-icons app-card-icon">
                          delete_forever
                        </span>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <!-- padding: 0px 20px; -->
            <h5 class="card-title" style="min-height: 52px;margin-bottom: 5px;">
              {{ app.title}}
            </h5>

            <p class="card-content card-content-app-store" style="padding-top: 5px;">
              {{ app.description}}
            </p>
          </div>

          <div class="card-footer card-footer-app-store">

            <div class="row" style="display: block;">

              <div *ngIf="app.version === 'v1'" class="col-xs-6 app-store-left-col-btn"
                (click)="learnmore(app.learnMore, app._id)">
                <a>
                  {{'LearnMore' | translate}}
                </a>
              </div>


              <!-- app.installed {{app.installed }}  app.version {{app.version }} -->
              <!-- app.where.appsstore >  {{app.where.appsstore }}  -->
              <div *ngIf="!app.installed && app.version === 'v1'" class="col-xs-6 app-store-right-col-btn"
                (click)="installApp(app, app.installActionType, app.installActionURL, app.title, app._id)">
                <a>
                  {{'Install' | translate}}
                </a>
              </div>

              <div *ngIf="app.installed && app.version === 'v1'" class="col-xs-6 app-store-right-col-btn manage-btn"
                (click)="installApp(app, app.installActionType, app.installActionURL, app.title, app._id)">
                <a style="color: white;">
                  {{'Manage' | translate}}
                </a>
              </div>
              <!-- --------------------------------------------------- -->
              <!-- App version v2 -->
              <!-- --------------------------------------------------- -->
              <ng-container *ngIf="app.version === 'v2'">
                <div *ngIf="app.installActionURL === undefined"
                  [ngClass]="{'col-xs-4': app.where.appsstore === true && app.installed, 'col-xs-6': (app.where.appsstore === false || !app.where.appsstore) || !app.installed}"
                  class="app-store-left-col-btn" (click)="learnmore(app.learnMore, app._id)">
                  <a>
                    {{'LearnMore' | translate}}
                  </a>
                </div>


                <div *ngIf="app.installActionURL !== undefined"
                  [ngClass]="{'col-xs-3': app.where.appsstore === true && app.installed, 'col-xs-4': ((app.where.appsstore === false || !app.where.appsstore) && app.installed), 'col-xs-6': ((app.where.appsstore === false || !app.where.appsstore) && !app.installed) ||  (app.where.appsstore === true && !app.installed)}"
                  class="app-store-left-col-btn" (click)="learnmore(app.learnMore, app._id)">
                  <a>
                    {{'LearnMore' | translate}}
                  </a>
                </div>

                <div *ngIf="!app.installed"
                  [ngClass]="{'col-xs-4': app.where.appsstore === true && app.installed, 'col-xs-6': (app.where.appsstore === false || !app.where.appsstore) || !app.installed}"
                  class="app-store-right-col-btn"
                  (click)="installApp(app, app.installActionType, app.installActionURL, app.title, app._id)">
                  <a>
                    {{'Install' | translate}}
                  </a>
                </div>

                <div *ngIf="app?.installed && app.installActionURL === undefined"
                  [ngClass]="{'col-xs-4': app.where.appsstore === true, 'col-xs-6': app.where.appsstore === false || !app.where.appsstore }"
                  class="app-store-right-col-btn uninstall-btn" (click)="unistallApp(app._id)">
                  <a style="color: white;">
                    {{'Uninstall' | translate}}
                  </a>
                </div>
                <div *ngIf="app?.installed && app.installActionURL !== undefined"
                  [ngClass]="{'col-xs-3': app.where.appsstore === true , 'col-xs-4': app.where.appsstore === false || !app.where.appsstore }"
                  class="app-store-right-col-btn uninstall-btn" (click)="unistallApp(app._id)">
                  <a style="color: white;">
                    {{'Uninstall' | translate}}
                  </a>
                </div>

                <div *ngIf="app.where.appsstore === true && app?.installed &&  app.installActionURL === undefined"
                  class="col-xs-4 app-store-right-col-btn" (click)="openInAppStoreInstall(app)"
                  [ngClass]="{'app-not-installed-wpr': !app?.installed, 'app-installed-wpr': app?.installed}">
                  <a [ngClass]="{'app-not-installed': !app?.installed, 'app-installed': app?.installed}">
                    <!-- <span class="material-icons icon-start-app-in-app-store-istall">
                      play_arrow
                    </span> -->
                    {{'Open' | translate}}
                  </a>
                </div>

                <div *ngIf="app.where.appsstore === true && app?.installed &&  app.installActionURL !== undefined"
                  class="col-xs-3 app-store-right-col-btn" (click)="openInAppStoreInstall(app)"
                  [ngClass]="{'app-not-installed-wpr': !app?.installed, 'app-installed-wpr': app?.installed}">
                  <a [ngClass]="{'app-not-installed': !app?.installed, 'app-installed': app?.installed}">
                    <!-- <span class="material-icons icon-start-app-in-app-store-istall">
                      play_arrow
                    </span> -->
                    {{'Open' | translate}}
                  </a>
                </div>



                <div *ngIf="app.installed && app.where.appsstore === true &&  app.installActionURL !== undefined"
                  class="col-xs-3 app-store-right-col-btn manage-btn"
                  (click)="openConfigureUrlInAppStoreInstall(app, app.installActionType, app.installActionURL, app.title, app._id)">
                  <a style="color: white;">
                    <!-- {{'Manage' | translate}} -->
                    Configure
                  </a>
                </div>

                <div
                  *ngIf="app.installed && (app.where.appsstore === false || !app.where.appsstore)  &&  app.installActionURL !== undefined"
                  class="col-xs-4 app-store-right-col-btn manage-btn"
                  (click)="openConfigureUrlInAppStoreInstall(app, app.installActionType, app.installActionURL, app.title, app._id)">
                  <a style="color: white;">
                    <!-- {{'Manage' | translate}} -->
                    Configure
                  </a>
                </div>
              </ng-container>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>