<!-- margin-top:6px; -->
<p style="z-index: 1050;position: relative; padding-left:30px" class="navbar-brand"
  [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }">
  App Store
</p>

<div class="main-content">
  <div class="container-fluid">

    <div class="row">

      <div class="col-xs-12">
        <button class="btn btn-primary" style="padding: 8px 16px; margin: 0px;" (click)="goToCreateApp()">
          <span class="icon" style="padding-right:8px">
            <i class="material-icons">add_circle</i>
          </span>
          Create a new app
        </button>
      </div>
    </div>

    <loading-spinner *ngIf="showSpinner"></loading-spinner>

    <div *ngIf="!showSpinner" class="row">
      <div *ngFor="let app of apps" class="col-lg-4 col-md-4 col-sm-6" style="cursor:pointer">
        <div class="card card-app-store">

          <div class="card-content">
            <div class="row app-card-header">
              <div class="col-xs-6">
                <div class="app-icon">
                  <img [src]="app.logo" />
                </div>
              </div>
              <!-- flex: 1; width: 50%; -->
              <div class="col-xs-6">

                <div *ngIf="app.createdBy === userId" class="edit-app-wpr" style="height: 50px;text-align: right;">
                  <div class="row">
                    <div class="col-xs-4"> </div>
                    <div class="col-xs-4" style="padding-right: 2px; padding-left: 3px;" (click)="goToEditApp(app._id)">
                      <div class="edit-app-btn" role="button"  matTooltipClass="custom-mat-tooltip"
                      matTooltip="Edit App" #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
                        <span class="material-icons app-card-icon">
                          mode_edit
                        </span>
                      </div>
                    </div>
                    <div class="col-xs-4" style="padding-left: 2px;" (click)="deleteNewApp(app._id)">
                      <div class="delete-app-btn" role="button"  matTooltipClass="custom-mat-tooltip"
                      matTooltip="Delete App" #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
                        <span class="material-icons app-card-icon">
                          delete_forever
                        </span>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <!-- padding: 0px 20px; -->
            <h5 class="card-title" style="min-height: 52px;margin-bottom: 5px;">
              {{ app.title}}
            </h5>

            <p class="card-content card-content-app-store" style="padding-top: 5px;">
              {{ app.description}}
            </p>
          </div>

          <div class="card-footer card-footer-app-store" style="">

            <div class="row" style="display: block;">

              <div *ngIf="app.version === 'v1'" class="col-xs-6 app-store-left-col-btn"
                (click)="learnmore(app.learnMore)">
                <a>
                  Learn more
                </a>
              </div>

             
              <!-- app.installed {{app.installed }}  app.version {{app.version }} -->
              <!-- app.where.appsstore >  {{app.where.appsstore }}  -->
              <div *ngIf="!app.installed && app.version === 'v1'" class="col-xs-6 app-store-right-col-btn"
                (click)="installApp(app, app.installActionType, app.installActionURL, app.title, app._id)">
                <a>
                  Install
                </a>
              </div>

              <div *ngIf="app.installed && app.version === 'v1'" class="col-xs-6 app-store-right-col-btn"
                style="background-color: rgb(45, 88, 230);"
                (click)="installApp(app, app.installActionType, app.installActionURL, app.title, app._id)">
                <a style="color: white;">
                  Manage
                </a>
              </div>
              <!-- col-xs-4  class="app-store-left-col-btn"-->
              <div *ngIf="app.version === 'v2'" [ngClass]="{'col-xs-4': app.where.appsstore === true && app.installed, 'col-xs-6': (app.where.appsstore === false || !app.where.appsstore) || !app.installed}"
              class="app-store-left-col-btn" (click)="learnmore(app.learnMore)">
                <a>
                  Learn more
                </a>
              </div>
              <div *ngIf="!app.installed && app.version === 'v2'" [ngClass]="{'col-xs-4': app.where.appsstore === true && app.installed, 'col-xs-6': (app.where.appsstore === false || !app.where.appsstore) || !app.installed}" class="app-store-right-col-btn"
                (click)="installApp(app, app.installActionType, app.installActionURL, app.title, app._id)">
                <a>
                  Install
                </a>
              </div>
              <!-- col-xs-4  -->
              <div  *ngIf="app?.installed && (app.version === 'v2' ||  app.version === undefined)"
              [ngClass]="{'col-xs-4': app.where.appsstore === true, 'col-xs-6': app.where.appsstore === false || !app.where.appsstore }"  class="app-store-right-col-btn" style="background-color: #f44336;"
                (click)="unistallApp(app._id)">
                <a style="color: white;">
                  Uninstall
                </a>
              </div>

              <div *ngIf="(app.version === 'v2' && app.where.appsstore === true && app?.installed )"
                class="col-xs-4 app-store-right-col-btn" (click)="openInAppStoreInstall(app)"
                [ngClass]="{'app-not-installed-wpr': !app?.installed, 'app-installed-wpr': app?.installed}">
                <a [ngClass]="{'app-not-installed': !app?.installed, 'app-installed': app?.installed}">
                  <svg preserveAspectRatio="xMidYMin" width="16" height="16" viewBox="0 0 24 24" color="#07080A"
                    stroke="none" stroke-width="0" fill="#07080A" class="jsx-3164811897 "
                    style="vertical-align: middle;">
                    <path
                      d="M20.2253 11.5642C20.5651 11.7554 20.5651 12.2446 20.2253 12.4358L5.74513 20.5809C5.41183 20.7683 5 20.5275 5 20.1451L5 3.85492C5 3.47251 5.41183 3.23165 5.74513 3.41914L20.2253 11.5642Z">
                    </path>
                  </svg>
                  Start
                </a>
              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>