@import "./src/assets/sass/cds/_variables.scss";

.content {
    padding: 20px 0px;
    margin-left: 30px;
    margin-right: 30px;
}

.cds-action-preview{
    .action-description {
        // padding: 3px 16px 10px 16px;
        font-size: 12px;
        color: $brown-85;
        line-height: 1.3;
    }
}

.action-description{
    line-height: 35px;
    font-size: 0.9em;
    color: #d6d6d6;
}

