<div *ngIf="typeAction === typeActions.REPLY" class="extensions-response">
    <div class="delay-wrapper" [ngStyle]="{width: canShowFilter? 'auto': '100%'}">
        <appdashboard-delay-slider
            [delayTime]="delayTime"
            (changeDelayTime)="onChangeDelayTime($event)"
            (clickDelayTime)="onClickDelayTime($event)">
        </appdashboard-delay-slider>
    </div>
    <div class="filter-wrapper" *ngIf="canShowFilter || response._tdJSONCondition?.conditions?.length > 0">
        <appdashboard-filter
            [expression]="response._tdJSONCondition"
            [booleanOperators]="booleanOperators"
            (onChangeExpression)="onChangeExpression($event)">
        </appdashboard-filter>
    </div>
</div>

<div class="text-editor-wrapper">
    
    <div class="text-editor">

        <div class="response-controls">
            <div class="control-button delete" (click)="onDeleteResponse()">
                <em class="material-icons">delete</em>
            </div>
            <div *ngIf="typeAction === typeActions.REPLY" class="control-button" (click)="onMoveUpResponse()">
                <em class="material-icons">expand_less</em>
            </div> 
            <div *ngIf="typeAction === typeActions.REPLY" class="control-button" (click)="onMoveDownResponse()">
                <em class="material-icons">expand_more</em>
            </div>
        </div>

        <div class="url-wrp">
            <span class="control-label">{{ 'url' | translate }}:</span>
            <cds-textarea id="url"
                class="text-editable-div"
                [text]="metadata.src" 
                [minRow]="1" [maxRow]="1"
                popoverVerticalAlign="above"
                [emojiPikerBtn]="false"
                [textLimitBtn]="false"
                (changeTextarea)="onChangeTextarea($event)">
            </cds-textarea>
        </div>

        <div class="url-wrp toogle">
            <span class="control-label">{{ 'Open in' | translate }}:</span>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="metadata.target" (change)="onButtonToogleChange($event)">
                <mat-button-toggle value="parent">Same widget window</mat-button-toggle>
                <mat-button-toggle value="blank">New Tab window</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        

        <div *ngIf="typeAction === typeActions.REPLY" class="text-editor-drop">
            <em class="material-icons">drag_indicator</em>
        </div>

    </div>

</div>