@import "./src/assets/sass/md/_variables.scss";


.column-th-span {
  font-size: 14px;
  font-weight: 500;
  color: #353f45;
  // color: #566787;
}

.main-content-no-padding {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.left-col-custom-padding {
  padding-right: 5px !important;
  padding-left: 10px !important;
}

.right-col-custom-padding {
  padding-right: 10px !important;
  padding-left: 5px !important;
}

.left-card-custom-margin {
  margin-top: 8px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.right-card-custom-margin {
  margin-top: -20px;
}

.table .td-actions .btn {
  margin: 6px !important;
}
@media (max-width: 768px) {
  .left-col-custom-padding {
    padding-right: 10px !important;
  }

  .right-col-custom-padding {
    padding-left: 10px !important;
  }
}

.isHidden {
  display: none;
}

.user-img-in-canned {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #eee;
  object-fit: cover;
}


.link-to-docs-wpr {
  margin-bottom: 16px;
}
.link-to-docs-wpr > div > div > span > svg {
  fill: var(--blue-light);
  vertical-align: middle;
} 

.link-to-docs {
  // background-color: rgb(241, 241, 241);
  margin-right: 0px;
  margin-left: 0px;
  margin-left: -14px;
  // padding-bottom: 12px;
  // padding-top: 12px;
  padding: 10px 0px;
}

.custom-anchor-to-docs {
  color: var(--blue-light); // #0f62ff !important;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 8px;
  text-decoration: none;
}

.custom-anchor-to-docs:hover {
  text-decoration: underline;
}

.canned-avatar-wpr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
