<!-- <p style="z-index: 1050;position: relative;margin-top:6px; padding-left:30px" class="navbar-brand">
  {{ 'Settings' | translate }}
</p> -->
<span class="navbar-brand navbar-brand-sidebar-settings" [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }"
  [ngClass]="{'is_opened':IS_OPEN_SETTINGS_SIDEBAR, 'is_closed':!IS_OPEN_SETTINGS_SIDEBAR }">
  <i class="material-icons">settings</i>
  <span *ngIf="IS_OPEN_SETTINGS_SIDEBAR">{{ 'Settings' | translate }} </span>
</span>
<!-- <span class="navbar-brand navbar-brand-title">
  {{ 'CannedResponses.CannedResponses' | translate }}
</span> -->

<div class="main-content canned-responses-list-maincontent" style="padding-top:0px; padding-left: 0px;padding-right: 5px;">
 
  <div class="page-title--sidebar-settings"
    [ngClass]="{'page-title--sidebar-settings_opened':IS_OPEN_SETTINGS_SIDEBAR, 'page-title--sidebar-settings_closed':!IS_OPEN_SETTINGS_SIDEBAR }">
    {{'CannedResponses.CannedResponses' | translate}}
  </div>
  
  
  <div class="container-fluid" style="padding-right: 5px;    padding-left: 10px;">

    <div class="content-wpr" style="display: flex;">

      <appdashboard-settings-sidebar> </appdashboard-settings-sidebar>
      
      <div class="teplate-content" style="flex: 1 1 auto; margin-left: 20px;">

        <div *ngIf="hideHelpLink" class="link-to-docs-wpr">
          <div class="row link-to-docs">
            <div class="col-md-12">
              <span>
                
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="none">
                  <path
                    d="M260-320q47 0 91.5 10.5T440-278v-394q-41-24-87-36t-93-12q-36 0-71.5 7T120-692v396q35-12 69.5-18t70.5-6Zm260 42q44-21 88.5-31.5T700-320q36 0 70.5 6t69.5 18v-396q-33-14-68.5-21t-71.5-7q-47 0-93 12t-87 36v394Zm-40 118q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q58 0 113.5 15T480-740q51-30 106.5-45T700-800q52 0 102 12t96 36q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59ZM280-494Z" />
                </svg>
              </span>
              <a class="custom-anchor-to-docs" (click)="goCannedResponseDocs()">
                {{'HowCannedResponsesWorks' | translate}}
              </a>
            </div>
          </div>
        </div>

        <div class="row">

          <!-- [ngClass]="{'col-sm-12': innerWidthLessThan992 === true, 'col-sm-7': innerWidthLessThan992 === false }" -->
          <div class="col-sm-8 left-col-custom-padding" >
            <!-- card--no-border -->
            <div class="card left-card-custom-margin ">
              <div class="card-header card-header-custom-bkgrnd">
                <!-- btn-primary -->
                <button class="btn btn-tdblu-no-boxshadow pull-right"
                  (click)="presentResponseModal_inAddMode()">
                  <!-- <span class="icon" style="padding-right:8px">
                    <i class="material-icons">add_circle</i>
                  </span> -->
                  {{ "CannedResponses.AddResponses" | translate }}
                </button>
              </div>

              <loading-spinner *ngIf="showSpinner"></loading-spinner>
              <div *ngIf="!showSpinner" class="card-content table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>
                        <span class="column-th-span">

                          {{ "CannedResponses.Responses" | translate }}
                        </span>
                      </th>

                      <th>
                        <span class="column-th-span">
                          {{ "CreatedBy" | translate }}
                        </span>
                      </th>

                      <th>
                        <span class="column-th-span">
                          {{ "Actions" | translate }}
                        </span>
                      </th>

                    </tr>
                  </thead>

                  <tbody>
                    <!-- IF THERE ISN'T CANNED RESPONSES -->
                    <tr *ngIf="responsesList && responsesList?.length === 0">
                      <td colspan="3" style="text-align: center; padding-top: 24px;">
                        <p style="font-size:1em; margin-bottom: 0px; color:#7695a5; font-weight: 400">
                          <i class="material-icons" style="vertical-align: middle; margin-bottom: 2px;color: #00bcd4;">
                            info
                          </i>
                          {{ 'CannedResponses.YouHaveNotAddedAnyCannedResponses' | translate }}
                        </p>
                      </td>
                    </tr>

                    <tr *ngFor="let response of responsesList; let i = index">
                      <!--  style="width: 1%; white-space: nowrap;" -->
                      <td>

                        <span style="display: block;font-weight: 500;font-size: 14px;color: rgba(0, 0, 0, 0.87)">
                          {{response?.title}}
                        </span>
                        <span style="display: block;color:#7695a5; font-size: 13px;">
                          {{response?.text}}
                        </span>
                      </td>

                      <!-- ------------------------------------------------------- -->
                      <!-- Created By -->
                      <!-- ------------------------------------------------------- -->
                      <td>
                        <!-- --------------------------------------------------- -->
                        <!-- USECASE uploadEngine Firebase -->
                        <!-- --------------------------------------------------- -->
                        <img *ngIf="UPLOAD_ENGINE_IS_FIREBASE" class="user-img-in-canned"
                          src="https://firebasestorage.googleapis.com/v0/b/{{storageBucket}}/o/profiles%2F{{response?.createdBy}}%2Fphoto.jpg?alt=media"
                          onerror="this.src='assets/img/no_image_user.png'" />

                        <!-- --------------------------------------------------- -->
                        <!-- USECASE uploadEngine Native -->
                        <!-- --------------------------------------------------- -->
                        <img *ngIf="!UPLOAD_ENGINE_IS_FIREBASE" class="user-img-in-canned"
                          src="{{baseUrl}}files?path=uploads%2Fusers%2F{{response?.createdBy}}%2Fimages%2Fthumbnails_200_200-photo.jpg"
                          onerror="this.src='assets/img/no_image_user.png'" />

                        <span class="td-tag-table">
                          <span *ngIf="response.createdBy_user">
                            {{ response?.createdBy_user?.firstname }} {{ response?.createdBy_user?.lastname }}
                          </span>

                          <span *ngIf="!response.createdBy_user">
                            n.d
                          </span>
                        </span>
                      </td>


                      <td class="td-actions text-right">
                        <button [disabled]="response?.createdBy_user?._id !== currentUserId" type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs"
                          (click)='presentResponseModal_inEditMode(response?._id, response?.createdBy_user?._id)'>
                          <i class="material-icons">edit</i>
                        </button>

                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs"
                          (click)='openConfirmDialogDeleteResponse(response?._id)'>
                          <i class="material-icons">close</i>
                        </button>
                      </td>

                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          <!-- /. end col-md-8 -->

          <!-- // RIGHT SIDEBAR -->
          <!-- right-col-custom-padding -->
          <!-- [ngClass]="{'isHidden': innerWidthLessThan992 === true, 'col-sm-5': innerWidthLessThan992 === false }" -->
          <div class="col-sm-4 right-col-custom-padding" >
            <div class="card right-card-custom-margin card--no-border">
              <div class="card-content">
                <!-- <h4 class="card-title"
                  style="text-transform: none; color: #566787; font-weight:400; margin-bottom: 15px">
                  {{ "QuickTips" | translate }}
                </h4> -->

                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <h3 class="card_title__underlined">
                      <span class="card_title__underline">
                        {{ "QuickTips" | translate }}
                      </span>
                    </h3>
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <div class="section-subtitle"> </div>
                  </div>
                </div>

                <p style="color:#7695a5">
                  {{ "CannedResponses.QuickTips.1" | translate }}

                </p>
                <p style="color:#7695a5">
                  {{ "CannedResponses.QuickTips.1B" | translate }}
                </p>
                <p style="color:#7695a5">
                  {{ "CannedResponses.QuickTips.1C" | translate }}
                </p>
                <!-- <div>
                  <img src="assets/img/canned_response_2.gif">
                </div> -->
                <!-- <p style="color:#7695a5;">
              {{ "CannedResponses.QuickTips.2" | translate }}
            </p>
            <p style="color:#7695a5">
              {{ "CannedResponses.QuickTips.3" | translate }}
            </p> -->
                <p style="color:#7695a5;  margin-top: 10px;">
                  {{ "CannedResponses.QuickTips.4" | translate }}
                </p>
                <p style="color:#7695a5">
                  {{ "CannedResponses.QuickTips.5" | translate }}
                </p>
                <p style="color:#7695a5">
                  {{ "CannedResponses.QuickTips.6" | translate }}
                </p>
                <p style="color:#7695a5">
                  {{ "CannedResponses.QuickTips.7" | translate }}
                </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>







<appdashboard-canned-responses-add-edit *ngIf="displayModal_AddEditResponse === 'block'"
  (closeModal)='closeModal_AddEditResponse()' (hasSavedResponse)='onSaveResponse()' [modalMode]='modalMode'
  [selectCannedResponseId]='selectCannedResponseId'>
</appdashboard-canned-responses-add-edit>

<!-- <appdashboard-canned-responses-create *ngIf="displayEditResponseModal === 'block'" 
  (closeModal)='onCloseEditResponseModal()'
  (hasSavedResponse)='onSaveResponse()'> 
</appdashboard-canned-responses-create> -->

<!-- ---------------------------------------------------------------- -->
<!-- Delete Canned response modal -->
<!-- ---------------------------------------------------------------- -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayModalDeleteResponse}"
  style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content custom--modal-content" >
      
      <div class="modal-header">

        <button type="button" class="close" aria-label="Close" (click)="closeModalDeleteResponse()"
          style="position: absolute; right: 14px;top: 16px;">
          <span aria-hidden="true">
            <svg class="tide-icon " width="18" height="18" viewBox="0 0 24 24">
              <path
                d="M13.357 11.993l10.256 10.295c0.39 0.391 0.39 1.024 0 1.415-0.194 0.195-0.449 0.292-0.704 0.292s-0.51-0.097-0.705-0.292l-10.257-10.295-10.256 10.295c-0.194 0.195-0.449 0.292-0.704 0.292s-0.51-0.097-0.705-0.292c-0.39-0.391-0.39-1.024 0-1.415l10.256-10.295-10.256-10.294c-0.39-0.391-0.39-1.024 0-1.415s1.020-0.391 1.409 0l10.256 10.294 10.256-10.294c0.39-0.391 1.020-0.391 1.41 0 0.389 0.391 0.389 1.024 0 1.415l-10.256 10.294z">
              </path>
            </svg>
          </span>
        </button>

        <h4 class="modal-title warning">
          <span class="modal-header-icon-wpr"> 
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="none">
              <path
                d="m40-120 440-760 440 760H40Zm115.33-66.67h649.34L480-746.67l-324.67 560ZM482.78-238q14.22 0 23.72-9.62 9.5-9.61 9.5-23.83 0-14.22-9.62-23.72-9.61-9.5-23.83-9.5-14.22 0-23.72 9.62-9.5 9.62-9.5 23.83 0 14.22 9.62 23.72 9.62 9.5 23.83 9.5Zm-33.45-114H516v-216h-66.67v216ZM480-466.67Z" />
            </svg>
          </span>
          <span style="vertical-align: middle;padding-left:8px">
            {{ "CannedResponses.DeleteCannedResponse" | translate }}
          </span>
        </h4>
      </div>

      <div class="modal-body">
        <p class="modal-body--content">
          {{ "CannedResponses.DoYouReallyWantToDeleteTheResponse" | translate}}
        </p>
      </div>

      <div class="modal-footer">
          <button class="btn btn-gray-no-boxshadow" type="button" (click)="closeModalDeleteResponse()">
            {{ "Cancel" | translate }}
          </button>

          <button class="btn btn-red" type="button" (click)="deleteCannedResponse()">
            {{ "CannedResponses.DeleteResponse" | translate }}
          </button>
      
      </div>
    </div>
  </div>
</div>