<div class="strength">
    <ul class="strengthBar">
        <li class="point" [style.background-color]="bar0"></li>
        <li class="point" [style.background-color]="bar1"></li>
        <li class="point" [style.background-color]="bar2"></li>
        <li class="point" [style.background-color]="bar3"></li>
    </ul>

    <span class="strength-pswd-msg" [style.color]="messageColor" *ngIf="passwordToCheck?.length">{{ msg }}</span>
    <span class="strength-pswd-msg" style="color:  rgb(135, 150, 175);" *ngIf="!passwordToCheck?.length">
        Password strength
    </span>
    <!-- (click)="pswrdTips.toggle(); $event.stopPropagation()" (document:click)="pswrdTips.close()" -->
    <span class="strength-pswrd-tips-wpr" [satPopoverAnchor]="pswrdTips"
        (mouseenter)="pswrdTips.open()"
        (mouseleave)="pswrdTips.close()">
        <span class="open-strength-pswrd-tips">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px">
            <path d="M0 0h24v24H0z" fill="rgb(165, 172, 183);" />
            <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z" />
        </svg> -->

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16px" height="16px">
                <style type="text/css">
                    .psw-st0 {
                        fill: none;
                    }

                    .psw-st1 {
                        fill: #A5ACB7;
                    }
                </style>
                <path class="psw-st0" d="M0,0h24v24H0V0z" />
                <path class="psw-st1" d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10S17.5,2,12,2z M13,19h-2v-2h2V19z M15.1,11.2l-0.9,0.9
	C13.4,12.9,13,13.5,13,15h-2v-0.5c0-1.1,0.4-2.1,1.2-2.8l1.2-1.3C13.8,10.1,14,9.6,14,9c0-1.1-0.9-2-2-2s-2,0.9-2,2H8
	c0-2.2,1.8-4,4-4s4,1.8,4,4C16,9.9,15.6,10.7,15.1,11.2z" />
            </svg>
        </span>

    </span>

    <sat-popover #pswrdTips verticalAlign="above">
        <div class="psw-tips-popover-wrapper">
            <div class="psw-tips-popover-title">
                Password Tips
            </div>
            <ul class="psw-tips-popover-list">
                <li>
                    Lowercase characters
                </li>
                <li>
                    Uppercase characters
                </li>
                <li>
                    Numbers (0-9)
                </li>
                <li>
                    Special Characters (!@#$%^&*)
                </li>

                <li>
                    Atleast 8 Character
                </li>
            </ul>
        </div>
    </sat-popover>
</div>