.strength {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

.strengthBar {
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: 2px;
}

.point:last-of-type {
    margin: 0 !important;
}

.point {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    flex-grow: 1;
}

.strength-pswd-msg {
    font-weight: 400;
    flex-grow: 0.1;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

.open-strength-pswrd-tips {
    height: 16px;
    margin-left: 5px;
    cursor: pointer;
    display: block;
}

.psw-tips-popover-wrapper {
    box-shadow: 0 5px 15px -5px rgb(0 0 0 / 40%);
    margin-top: -2px;
    border: 1px solid rgba(0, 0, 0, 0.0588235294);
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    padding: 12px;
    text-align: left;
}

.psw-tips-popover-title {
    font-family: "Poppins","Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 6px;
    margin-left: 20px;
}

.psw-tips-popover-list {
    font-family: "Poppins","Roboto", "Arial", sans-serif;
    padding-left: 20px;
    list-style:  none;
}
