


<div *ngIf = "typeIntentElementSelected === typeIntentElement.RESPONSE">
    
    <appdashboard-panel-response
        class="panel-response"
        [intent]="intentSelected"
        [showSpinner] = "showSpinner"
        (openButtonPanel) = onOpenButtonPanel($event)
    ></appdashboard-panel-response>

    <appdashboard-panel-intent-tools
        class="panel-tools-response"
        (addNewResponse) = onAddNewResponse($event)
    ></appdashboard-panel-intent-tools>

</div>
    


<div *ngIf = "typeIntentElementSelected === typeIntentElement.QUESTION" class="panel-question">
</div>

<div *ngIf = "typeIntentElementSelected === typeIntentElement.FORM" class="panel-form">
</div>

<div *ngIf = "typeIntentElementSelected === typeIntentElement.ACTION" class="panel-action">
</div>
        

 