@import "./src/assets/sass/cds/_variables.scss";

/** TEXT AREA **/
mat-form-field.mat-focused ::ng-deep {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                textarea {
                    border: 1px solid $icon-color!important;
                    outline: 1px solid $icon-color!important;
                    transition: border .3s;
                }
            }
        }
    }
}
mat-form-field.box-textarea ::ng-deep {
    .mat-form-field-wrapper {
        padding-bottom:0;
        .mat-form-field-flex {
            border-radius: 4px 4px 0 0;
            padding: 0 0.75em 0 0.75em;
            margin: 0;
        }
    }
    .mat-form-field-underline {
        display: none;
    }    
}

/** box-textarea **/
.box-textarea {
    width: calc(100% - 40px);
    margin-left: 20px;
    textarea {
        border-radius: 8px;
        background: $color-withe-hex;
        border: 1px solid $color-withe-hex;
        overflow-x: hidden;
        overflow-y: auto;
        width: calc(100% - 2.5em);
        padding: 20px 20px;
        color: $color-text-dark-hex;
        font-size: 1.15em;
        line-height: 25px;
        resize: vertical;
    }
}

/** editor-utils **/
.editor-utils {
    position: relative;
    margin: -20px 50px 0px 0px;
    float: right;
    .num-chars {
        background: $color-light-gray-hex;
        padding: 0px 8px;
        border-radius: 12px;
        font-size: 0.8em;
        color: $color-text-box-hex;
        float: right;
        &.error {
            background: $color-orange-hex;
        }
    }
    .text-editor-insert-attribute {
        float: right;
    }
    .moji-picker {
        float: right;
    }
}