<div class="m-header" (click)="handleClickInside($event)">
  <h1 mat-dialog-title> {{ 'Preview' | translate }} </h1>
  <div class="m-top-right-icon">

    <span *ngIf="!isopenasetting" id="settings" class="material-icons-outlined"
      (click)="presentDialogAiSettings(isopenasetting = !isopenasetting)">
      settings
    </span>
    <span *ngIf="isopenasetting" id="settings" class="material-icons-outlined close-ai-settings"
      (click)="closeDialogAiSettings(isopenasetting = !isopenasetting)">
      remove
    </span>

    <!-- <span id="settings" class="material-icons-outlined"  (click)="closePreviewKBAndOpenSettingsModal()">
      settings
    </span> -->

    <span id="close" class="material-icons-outlined" (click)="onCloseBaseModal()">
      close
    </span>
  </div>

</div>
<div mat-dialog-content (click)="handleClickInside($event)">

  <div class="form--container">
    <p class="answer-title">{{ 'FaqPage.Question' | translate }}</p>
   <!--  <div class="fake-input">
      <div class="fake-input-inner">
        <input type="text" placeholder="{{ 'KbPage.AskQuestionPlaceholder' | translate }}" [(ngModel)]="question"
          (input)="onInputPreviewChange()" (keyup.enter)="submitQuestion()">
        <div id="enter-button" class="enter-button" (click)="submitQuestion()">Enter</div>
      </div>
    </div>-->
    <textarea #questionTextarea class="question-textarea" placeholder="{{ 'KbPage.AskQuestionPlaceholder' | translate }}" [(ngModel)]="question"
        (input)="onTextareaInput(questionTextarea)" (keydown.enter)="onEnterKeyDown($event)" rows="1"></textarea>
  </div>

  <!-- KB Tags -->
  <div class="kb-tags-input-wpr" style="display: flex;vertical-align: middle;">
    <input id="kb-tags" class="adds-kb-input" name="kb-tags" 
        [placeholder]="('AddsTagsAndPressEnter' | translate)" type="text"
        [(ngModel)]="kbTag"  autocomplete="off" (keyup.enter)="addsKbTag(kbTag)"
        style="width: 100%;">
    
        <div class="kb-tags-help"
          style="position: relative;top: 4px;"
          #trigger="cdkOverlayOrigin"
          cdkOverlayOrigin
          (mouseenter)="open()"
          (mouseleave)="scheduleClose()">

          <span class="material-icons-outlined" style="cursor: pointer;font-size: 20px;color:#566787">
            help_outline
          </span>
        </div>
  </div>

  <ng-template
    cdk-connected-overlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayPositions]="positions"
    [cdkConnectedOverlayHasBackdrop]="false"
    (detach)="isOpen = false">
      <div class="cdk-popover"
      (mouseenter)="cancelClose()"
      (mouseleave)="scheduleClose()">

          <div class="cdk-popover-arrow"></div>

          <div class="cdk-popover-content">
            {{'ResultsWillIncludeOnlyContentsThatMatchAllSelectedTags'  | translate}}
          </div>

          <div *ngIf="hideHelpLink" class="cdk-learn-more"
              (click)="goToKbTagsDoc()">
            {{ 'LearnMore' | translate }}
          </div>

      </div>
  </ng-template>

  <div class="kb-tags-container" #kbTagsContainer [ngStyle]="{'height':tagContainerElementHeight }">

      <span *ngFor="let kbtag of kbTagsArray" aria-label="tag" class="tags-btn-wpr">
      <p weight="400" class="kb-tag">{{kbtag}}</p>
      <button aria-label="Delete {{kbtag}} tag" type="button" class="delete-kb-tag-btn" (click)="removeKbTag(kbtag)">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"
          class="remove-tag-icon" style="min-width: 12px; min-height: 12px;margin-right: 0px;">
          <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
          </path>
          <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
      </button>
      </span>

  </div>

  <div *ngIf="searching && !answer" class="search-placeholder">
    <div class="fake-input">
      <!-- <loading-spinner class="custom-spinner"></loading-spinner> -->
      <!-- <span style="margin-left: 8px;">{{ 'KbPage.SearchingAnswer' | translate }}</span> -->
       <!-- <div class="typing-loader">
        <span></span>
        <span></span>
        <span></span>
      </div> -->
      <!-- <div class="thinking-dot"></div> -->

      <div class="ai-thinking">
        <div class="dot"></div>
      </div>
    </div>
  </div>

  <div *ngIf="show_answer" class="form--container" style="margin-bottom: 0px;">
    <p *ngIf="answer" class="answer-title">
      {{ 'KbPage.Answer' | translate }}

   
      <span *ngIf="qa?.ai_model"> ({{ 'KbPage.GeneratedByModel' | translate: {ai_model_name: qa?.ai_model } }}) </span>
    </p>
    <div id="answer" class="answer">

      <!-- <span *ngIf="!aiQuotaExceeded">  -->
      {{ answer }}
      <!-- </span>  -->
      <!-- <span *ngIf="aiQuotaExceeded">
       -> {{ answer }}
       </span> -->
      <span *ngIf="qa && (!answer || answer === '') && (!qa.answer || qa.answer === '')">
        {{ 'KbPage.NoAnswerFound' | translate }}
      </span>
      <!-- <hr *ngIf="qa && qa.source">
      
      <span *ngIf="qa && qa.source">{{ 'KbPage.Source' | translate }}:
        <a *ngIf="source_url" href="{{source_url}}" target="_blank">{{ source_url }}</a>
        <span *ngIf="!source_url">{{ qa.source }}</span>
      </span> -->

    </div>
    <!-- ----------------------------- -->
    <!-- Chunks Accordion -->
    <!-- ----------------------------- -->
    <div class="mat-accordion--wpr" style="margin-top: 3px;">
      <mat-accordion>
        <mat-expansion-panel class="custom-expansion-panel" (opened)="chunksPanelOpen = true; panelOpenState = true" (closed)="chunksPanelOpen = false; panelOpenState = sourcesPanelOpen">
          <mat-expansion-panel-header>
            <mat-panel-title style="display: flex; align-items: center;    flex-wrap: nowrap;    flex-direction: row;justify-content: space-between;">
              <div class="chunck-panel-title">
                {{ 'KbPage.ChunksUsedForTheAnswer' | translate }} 
              </div>
              <div class="chunck-panel-count">
                {{contentChunks?.length}}
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="chunk--wpr" *ngFor="let chunk of contentChunks">
          
            <article class="chunk">
              {{ chunk}}
            </article>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <!-- ----------------------------- -->
    <!-- Source Accordion -->
    <!-- ----------------------------- -->
    <div  class="mat-accordion--wpr" style="margin-top: 3px;">
      <mat-accordion>
        <mat-expansion-panel class="custom-expansion-panel" (opened)="sourcesPanelOpen = true; panelOpenState = true" (closed)="sourcesPanelOpen = false; panelOpenState = chunksPanelOpen">
          <mat-expansion-panel-header>
            <mat-panel-title style="display: flex; align-items: center; flex-wrap: nowrap; flex-direction: row; justify-content: space-between;">
              <div class="chunck-panel-title">{{ 'KbPage.Sources' | translate }}</div>
              <div class="chunck-panel-count">{{ contentSources?.length }}</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="source--wpr">

            <div class="sources">
              <span class="source-item" *ngFor="let src of contentSources">

                <a *ngIf="src.isUrl"
                  [href]="src.value"
                  target="_blank"
                  class="source-link">

                  <span class="material-icons-outlined icon">
                    arrow_outward
                  </span>

                  <span class="text">{{ src.value }}</span>

                </a>

                <span *ngIf="!src.isUrl" class="source-text">
                  {{ src.value }}
                </span>

              </span>
            </div>

          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <hr class="horizontal-line" [class.accordion-open]="panelOpenState">
    <!-- Response time -->
    <div *ngIf="!aiQuotaExceeded" class="control-label response-time-label">
       <div class="kb-preview-footer-wpr" style="display: flex; justify-content: space-between;">
          <div class="kb-preview-footer-label" style="font-size: 12px; font-family: var( --header-font-family); color: #656d75; font-weight: 400;"> 
            {{ 'Analytics.Metrics.ResponseTime' | translate }}
          </div>
          <div *ngIf="responseTime != null" class="kb-preview-footer-value" style="font-size: 12px; font-family: var( --header-font-family); color: #1a1e23; font-weight: 500;"> 
            {{ 'KbPage.AIResponseTime' | translate: translateparam }}
          </div>
          <div *ngIf="responseTime == null && searching" class="kb-preview-footer-value" style="font-size: 12px; font-family: var( --header-font-family); color: #aaa; font-weight: 500;"> 
            {{ 'Processing' | translate }}
          </div>

       </div> 
      <!-- <span *ngIf="responseTime">
        {{ 'Analytics.Metrics.ResponseTime' | translate }}: <span> {{ 'KbPage.AIResponseTime' | translate:
          translateparam }} </span>
      </span> -->
    </div>

    <!-- Prompt size -->
    <div *ngIf="!aiQuotaExceeded" class="control-label prompt-size-label">
      <div class="kb-preview-footer-wpr" style="display: flex; justify-content: space-between;">
          <div class="kb-preview-footer-label" style="font-size: 12px; font-family: var( --header-font-family); color: #656d75; font-weight: 400;"> 
            {{ 'KbPage.PromptSize' | translate }}
          </div>
          <div *ngIf="prompt_token_size != null" class="kb-preview-footer-value" style="font-size: 12px; font-family: var( --header-font-family); color: #1a1e23; font-weight: 500;"> 
            {{ 'KbPage.PromptSizeUsage' | translate: {prompt_token_size: formattedPromptTokenSize } }}
          </div>
          <div *ngIf="prompt_token_size == null && searching" class="kb-preview-footer-value" style="font-size: 12px; font-family: var( --header-font-family); color: #aaa; font-weight: 500;"> 
            {{ 'Processing' | translate }}
          </div>

       </div>
     
      <!-- <span *ngIf="prompt_token_size">
        {{ 'KbPage.PromptSize' | translate }}: <span> {{ 'KbPage.PromptSizeUsage' | translate: {prompt_token_size:
          prompt_token_size } }} </span>
      </span> -->
    </div>
  </div>


</div>

<div mat-dialog-actions style="justify-content: center;" (click)="handleClickInside($event)">


  <button class="mat-dialog-reuse-last-question-btn" mat-button (click)="reuseLastQuestion()"
    [disabled]="!hasStoredQuestion">
    <!-- Re-use last question -->
    {{"KbPage.ReUseLastQuestion" | translate }}

  </button>

  <button class="mat-dialog-ok-btn" mat-button  (click)="submitQuestion()">
     {{ "Send" | translate }}
  </button>

</div>
<!-- <div>
 selectedModel > {{ selectedModel}} 
</div>
<div>
  maxTokens > {{ maxTokens}} 
 </div>
 <div>
  temperature > {{ temperature}} 
 </div>
 <div>
  topK > {{ topK}} 
 </div>
 <div>
  context > {{ context}} 
 </div> -->

<!-- style="justify-content: center;" -->
<!-- <div mat-dialog-actions style="justify-content: center;">
  <button class="mat-dialog-close-btn" mat-button (click)="onCloseBaseModal()">
    {{ "Cancel" | translate }}
  </button>
</div> -->