.modal-header {
    .modal-title {
        font-weight: 400;
    }

    .close {
        opacity: 0.5;
    }

    .close:hover {
        opacity: 1;
    }
}

.modal-body {
    display: inline-block;
    width: 100%;
}

.modal-state {
    width: 40%;
    text-align: right;
    float: right;
}

.m-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-top-right-icon {
    cursor: pointer;
}

#settings {
    padding: 8px;
    background: #e4e6eb;
    border-radius: 999px;
    position: relative;
    top: 0px;
    left: -12px;
    font-size: 18px;
    color: rgb(91, 98, 106);
   
}

#settings:hover {
    background-color: rgb(213, 214, 220);
    color: rgb(28, 30, 33)
}

#close {
    padding: 8px;
    background: #e4e6eb;
    border-radius: 999px;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 18px;
    color: rgb(91, 98, 106);

}

#close:hover {
    background-color: rgb(213, 214, 220);
    color: rgb(28, 30, 33)
}


.fake-input {
    height: 37px;
    border-radius: 6px;
    border: solid 1px #ccc;
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: text;

    .fake-input-inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    input {
        height: 32px;
        width: 100%;
        border: transparent;
    }

    .input-bold {
        font-weight: 400;
    }

    .enter-button {
        display: none;
        transition: background-color 0.15s ease 0s, color 0.15s ease 0s;
        cursor: pointer;
        animation: 0.15s ease 0s 1 normal none running fadein, 0.15s ease 0s 1 normal none running moveinleft;
        box-sizing: border-box;
        min-width: 22px;
        height: 22.4px;
        margin-top: -4px;
        margin-bottom: -4px;
        padding-right: 8px;
        padding-left: 8px;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        border-radius: 5px;
        color: rgb(98, 119, 140);
        background: linear-gradient(rgba(239, 245, 246, 0.64) 0%, rgb(238, 244, 246) 100%), rgb(255, 255, 255);
        color: #fff;
        background: var(--blue-light);
        // box-shadow: rgb(212, 217, 230) 0px 1px 0px;
    }

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes moveinleft {
        0% {
            transform: translate(16px);
        }

        100% {
            transform: translate(0px);
        }
    }
}

::ng-deep .custom-spinner {
    .sk-fading-circle {
        width: 20px;
        height: 20px;
        margin: 0px;
    }

    .sk-fading-circle .sk-circle:before {
        background-color: rgb(98, 119, 140) !important;
    }
}

.answer {
    min-height: 37px;
    // max-height: auto;
    max-height: 190px; // nk
    border-radius: 6px;
    border: solid 1px #ccc;
    padding: 6px 12px 6px;
    cursor: text;
    // overflow: hidden;
    overflow: scroll; // nk
    transition: max-height 0.5s ease-out;
}

.answer-title {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 400;
    // color: rgb(98, 119, 140) !important;
    color: #000000de !important;

}

.answer-title  span { 
    font-style: italic;
    color: #647491;
}

.form--container {
    // margin-top: 12px;
    margin-bottom: 12px;
    display: inline-block;
    width: 100%;

    .input-container {
        margin-bottom: 14px;
    }

    .input-label {
        font-weight: 400;
        // letter-spacing: 0.5px;
    }

    .custom-input {
        width: 100%;
        height: 37px;
        border-radius: 6px;
        border: 2px solid #c6cdd4;
        padding: 0px 15px;
        color: #22272d;
        line-height: 35px;
        font-weight: 400;
        margin-bottom: 10px;

        // letter-spacing: 0.5px;
        &.invalid {
            border: 2px solid red !important;
            outline: 0px solid red !important;
            transition: border 0.3s;
        }
    }

    .custom-textarea {
        width: 100%;
        border-radius: 6px;
        border: 2px solid #c6cdd4;
        padding: 0px 15px;
        color: #22272d;
        line-height: 35px;
        font-weight: 400;

        &.invalid {
            border: 2px solid red !important;
            outline: 0px solid red !important;
            transition: border 0.3s;
        }
    }
}


.kb-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #c2c2c2;
    border-radius: 12px;
    padding: 2px 10px;
    background: linear-gradient(rgba(239, 245, 246, 0.64) 0%, rgb(238, 244, 246) 100%), rgb(255, 255, 255);
    box-shadow: rgb(212, 217, 230) 0px 1px 0px;

    p {
        font-size: 12px;
        margin-bottom: 0px;
        color: rgb(98, 119, 140);
    }

    .material-icons-round {
        font-size: 20px;
        margin-right: 8px;
        color: rgb(98, 119, 140);
    }
}

.selectEngine {
    ::ng-deep .ng-select-container {
        border: 2px solid #c6cdd4;
    }
}

.info-container {
    display: flex;
    flex-direction: row;
    padding: 12px 15px;
    border-radius: 4px;
    background-color: #d7ebfa6e;

    .info-icon {
        margin-right: 8px;
        font-size: 20px;
    }

    p {
        margin-bottom: 0px;
    }
}

.btn {
    text-transform: none;
}


.mat-dialog-close-btn {
    background-color: #647491;
    color: #fff;
}

.mat-dialog-ok-btn {
    background-color: var(--blue-light);
    color: #fff;

}

.mat-dialog-reuse-last-question-btn {
    // background-color: #647491;
    // color: #fff;
    color: #30373f;
    background-color: #191d2214;
}


.close-ai-settings {
    color:   var(--blue-light) !important; 
}

.horizontal-line {
    margin-top: 35px !important; 
}

.response-time-label {
    margin-top: 10px;
    color: #647491 !important; 
    span {
        font-weight: 500 !important; 
    }
}

.prompt-size-label {
    margin-top: 6px;
    display: block;
    color: #647491 !important; 

    span {
        font-weight: 500 !important; 
    }
}