/* MODAL START */
    
.modal {
    top: 0;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
    
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
    
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
    
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
    
.modal-body {
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 15px;
    padding-left: 15px;
    // padding-left: 0px;
   
}
    
.modal-footer {
    // padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    // background-color: #edf0f1;
    background-color: #eeeeee;
    padding-top:10px !important;
}
/* MODAL END */

/* REMOVE THE BORDER THAT IS USED TO SHOW THAT THE ELEMENT IS FOCUSED */
*:focus {
    outline: none;
}

// DROPDOWN MENU (USER PROFILE AND LOGOUT)
// @media (max-width: 767px){
//     .navbar-nav .open .dropdown-menu {
//         float: right !important;
//     }
// }

@media (max-width: 991px) {

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }
}

input[type=text] {
    // min-width: 307px !important;
    height: 36px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9 !important;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff !important;
    border: solid 1px #ddd;
}

.card:hover {

    background-color: #fafafa
}

  /* Tooltip text */
  .tooltipx .tooltiptext {
    visibility: hidden;

    background-color: black; 
    /* // background-color: rgba(0,0,0,0.6); */
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 10px !important;
    text-transform: none !important;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    /* Position the tooltip text - BOTTOM */
  

    width: 120px;
    top: 100%;
    left: 50%; 
    /* margin-left: -60px; */
    margin-left: -92px;

    // NEW
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background-color: #394f5a;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltipx:hover .tooltiptext {
    visibility: visible;
  }
  /* // end TOOLTIP */

// TITLE AN SUBTITLE OF THE PAGE
.prjct-page-title {
    padding-left:15px; 
    // margin-top:55px; 
    margin-top:70px; 
    margin-bottom: 5px; 
    font-weight: 400;
}

.prjct-page-subtitle {
    padding-left:15px; color: rgba(0,0,0,0.54); font-size:16px; margin-top: 0px;
}
// CHANGE COLOR OF TITLE AN SUBTITLE ON SMALL DEVICE
@media (max-width: 530px) {
    .prjct-page-title {
        color: #ffffff;
    }
    .prjct-page-subtitle {
        color: #ffffff;
    }
}

// ============= PENDING EMAIL VERIFICATION MSG =============
.alert-pending-email-prjct-page {
    display: inline-block;
    margin: 0px auto;
    position: fixed;
    transition: all 0.5s ease-in-out 0s;
    z-index: 1031;
    top: 10px;
    left: 25px;
    right: 0px;
    width: 275px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 3px;
    cursor: pointer;
}

@media (max-width: 991px){ 
    .alert-pending-email-prjct-page {
        right: 0px;
        left: 0px;
    }
}

@media (max-width: 768px){ 
    .alert-pending-email-prjct-page{
        width: 350px;
    }
}

@media (max-width: 568px){ 
    .alert-pending-email-prjct-page {
        width: 300px;
    }
}

.card-profile:hover {
    background-color: #fff
}

// @media (max-width: 468px){ 
//     .alert-pending-email-prjct-page {
//         width: 180px;
//     }
// }