@import "./src/assets/sass/md/_variables.scss";

/* MODAL START */
.modal {
  top: 0;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.modal-body {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 15px;
  padding-left: 15px;
  // padding-left: 0px;
}

.modal-footer {
  // padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  // background-color: #edf0f1;
  background-color: #eeeeee;
  padding-top: 10px !important;
}
/* MODAL END */

/* REMOVE THE BORDER THAT IS USED TO SHOW THAT THE ELEMENT IS FOCUSED */
*:focus {
  outline: none;
}

// DROPDOWN MENU (USER PROFILE AND LOGOUT)
// @media (max-width: 767px){
//     .navbar-nav .open .dropdown-menu {
//         float: right !important;
//     }
// }

@media (max-width: 991px) {
  .navbar-header .collapse,
  .navbar-toggle {
    display: block !important;
  }
}

input[type="text"] {
  // min-width: 307px !important;
  height: 36px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9 !important;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff !important;
  border: solid 1px #ddd;
}

.custom-card-box-shadow:hover {
  // background-color: #fafafa;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12) !important;
}

.card-header-custom-bkgrnd-project {
  // display:none;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0px;
  // border-radius: 3px 3px 0px 0px;
  // background-color: #f2f6f8;
  background-color: #ffffff;
  border-bottom: 1px solid #eff3f5;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-content-custom-height {
  height: 160px !important;
}

.project-deleted-card {
  background-color: #eee;
}

.project-deleted-card-text-color {
  color: #999 !important;
  opacity: 0.4;
}
.delete-image-bckground {
  background-image: url("../../assets/img/deleted.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-deleted-card:hover {
  box-shadow: unset !important;
  cursor: not-allowed !important;
}

.project-deleted-msg-in-card-wrap {
  position: relative;
}
.project-deleted-msg-in-card {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/* Tooltip text */
.tooltipx .tooltiptext {
  visibility: hidden;

  // background-color: black;
  /* // background-color: rgba(0,0,0,0.6); */
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 10px !important;
  text-transform: none !important;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* Position the tooltip text - BOTTOM */

  width: 120px;
  top: 100%;
  left: 50%;
  /* margin-left: -60px; */
  margin-left: -92px;

  // NEW
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background-color: #394f5a;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipx:hover .tooltiptext {
  visibility: visible;
}
/* // end TOOLTIP */

// TITLE AN SUBTITLE OF THE PAGE
.prjct-page-title {
  padding-left: 15px;
  // margin-top:55px;
  margin-top: 70px;
  margin-bottom: 5px;
  font-weight: 400;
}

.prjct-page-subtitle {
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  margin-top: 0px;
}
// CHANGE COLOR OF TITLE AN SUBTITLE ON SMALL DEVICE
@media (max-width: 530px) {
  .prjct-page-title {
    color: #ffffff;
  }
  .prjct-page-subtitle {
    color: #ffffff;
  }
}

// ============= PENDING EMAIL VERIFICATION MSG =============
.alert-pending-email-prjct-page {
  display: inline-block;
  transition: all 0.5s ease-in-out 0s;
  z-index: 1031;
  width: 275px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 3px;
  cursor: pointer;
  top: 10px;
  // margin: 0px auto;
  // position: fixed;
  // left: 25px;
  // right: 0px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@media (max-width: 991px) {
  .alert-pending-email-prjct-page {
    right: 0px;
    left: 0px;
  }
}

@media (max-width: 768px) {
  .alert-pending-email-prjct-page {
    width: 350px;
  }
}

@media (max-width: 568px) {
  .alert-pending-email-prjct-page {
    width: 300px;
  }
}

.card-profile {
  background-color: #fff;
  margin-bottom: 15px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0);
}

.card-profile:hover {
  background-color: #fff;
}

.user-profile-avatar {
  max-width: 80px;
  max-height: 80px;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.user-profile-fullname {
  padding: 0px 16px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #3c4858;
  font-family: "Google Sans", sans-serif !important;
  font-weight: 600;
}
.user-profile-email {
  padding: 0px 16px;
  margin-top: 0px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 400;
  color: #7695a5;
}

.view-user-profile-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  letter-spacing: 1px;
  border-radius: 30px;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.logout-user-profile-btn {
  padding-left: 12px 26px;
  font-size: 0.9em;
  color: #7695a5;
  margin-top: 10px;
}

.project_background {
  // margin-right: -15px;
  // height: 390px;
  // background-color: #ffffff;
  // margin-top: -102px;
  // margin-left: -15px;
  // background-position:center bottom;
  // background-repeat:no-repeat;
  // background-size:cover;

  position: absolute;
  width: 100%;
  transform: skewY(-12deg);
  transform-origin: 0px center;
  background: $brand-recent-project-bckgrnd;
  // background: linear-gradient(90deg,#0e2a3b 0,#34306b); // new
  height: 500px;
  left: 0;
  // top: 19px; // new
}

.open-user-profile-person-icon {
  font-size: 20px !important;
  display: block !important;
  float: right !important;
  color: $brand-recent-project-text !important;
}

.head-title {
  // font-family: "Google Sans", sans-serif !important;
  // margin-top: 95px;
  // color: #f0806f;
  color: $brand-recent-project-text;
  margin-top: 25px;
  // font-weight: 600;
}

.head-sub-title {
  // color: #f0806f;
  color: #ffffff;
  font-size: 21px;
  line-height: 1.2;
}

.card-add-project-icon {
  color: $brand-secodary;
  text-align: center;
  padding-top: 25px;
}

.card-add-project-text {
  color: $brand-secodary;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Google Sans", sans-serif !important;
  font-weight: 400;
  font-size: 24px;
}

.project-user-status-icon {
  width: 16px;
  height: 16px;
  float: left;
  border-radius: 50%;
  margin-right: 2px;
  
}
.project-user-status-text {
  color: #7695a5;
  font-size: 12px;
  position: relative;
  top: -3px;
}

.is-user-online {
  background-color: #4caf50;
}
.is-user-offline {
  background-color: #f44336;
}

.project-user-isBusy {
  position: relative;
  // left: -2px;
  width: fit-content;
  display: inline-block;
  margin-left: 12px;
  top: 3px;
}

.project-user-isBusyTest {
  color: #fedd00;
  animation: myfirst 5s;
  -moz-animation: myfirst 5s infinite; /* Firefox */
  -webkit-animation: myfirst 5s infinite; /* Safari and Chrome */
  font-size: 12px;
  position: relative;
  top: -6px;
  left: -2px;
}

@keyframes myfirst {
  0% {
    // background: #4caf50;
    color: rgba(255, 255, 255, 0.5);
  }
  50% {
    // background: #fedd00;
    color: #fedd00;
  }
  100% {
    // background: #4caf50;
    // color: #1e2129;
    color: rgba(255, 255, 255, 0.5);
  }
}
/* Firefox */
@-moz-keyframes myfirst {
  0% {
    // background: #4caf50;
    // color: #1e2129;
    color: rgba(255, 255, 255, 0.5);
  }
  50% {
    // background: #fedd00;
    color: #fedd00;
  }
  100% {
    // background: #4caf50;
    // color: #1e2129;
    color: rgba(255, 255, 255, 0.5);
  }
}
/* Safari and Chrome */
@-webkit-keyframes myfirst {
  0% {
    // background: #4caf50;
    // color: #1e2129;
    color: rgba(255, 255, 255, 0.5);
  }
  50% {
    // background: #fedd00;
    color: #fedd00;
  }
  100% {
    // background: #4caf50;
    // color: #1e2129;
    color: rgba(255, 255, 255, 0.5);
  }
}

.disabled-card-add-project {
  pointer-events: none;
  opacity: 0.6;
}

// .loading {
//   // opacity: 0;
//   display: none;
// }
// // #loading_5ddd577f04bb5a0017a246b1

// .loading.display_loading {
//   // opacity: 1 !important;
//   display: block !important;
// }

.id-project {
  font-size: 12px !important;
  color: #7695a5;
}

// NOT USED
.loading {
  font-size: 12px;
  text-align: center;
  position: absolute;
  color: #f0806f;
  font-weight: 400;
  left: -8px;
  right: 0;
  margin: auto;
}
/**
 * ==============================================
 * // NOT USED Loading ellipsis animation
 * ==============================================
 */
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
  position: absolute;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

.dot-flashing-spinner-wpr {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}


/**
 * ==============================================================================================================================
 * bounce spinner // https://tobiasahlin.com/spinkit/
 * ============================================================================================================================== 
 */
 .spinner {
  margin: 2px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 14px;
  height: 14px;
  background-color: #f0806f;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/**
 * ==============================================================================================================================
 * Dot Flashing // CodePen Home Three Dots - CSS loading animations made by single element // https://codepen.io/nzbin/pen/GGrXbp
 * ==============================================================================================================================
 */
//  .dot-flashing {
//   position: relative;
//   width: 10px;
//   height: 10px;
//   border-radius: 5px;
//   background-color: #9880ff;
//   color: #9880ff;
//   animation: dotFlashing 1s infinite linear alternate;
//   animation-delay: .5s;
// }

// .dot-flashing::before, .dot-flashing::after {
//   content: '';
//   display: inline-block;
//   position: absolute;
//   top: 0;
// }

// .dot-flashing::before {
//   left: -15px;
//   width: 10px;
//   height: 10px;
//   border-radius: 5px;
//   background-color: #9880ff;
//   color: #9880ff;
//   animation: dotFlashing 1s infinite alternate;
//   animation-delay: 0s;
// }

// .dot-flashing::after {
//   left: 15px;
//   width: 10px;
//   height: 10px;
//   border-radius: 5px;
//   background-color: #9880ff;
//   color: #9880ff;
//   animation: dotFlashing 1s infinite alternate;
//   animation-delay: 1s;
// }

// @keyframes dotFlashing {
//   0% {
//     background-color: #9880ff;
//   }
//   50%,
//   100% {
//     background-color: #ebe6ff;
//   }
// }

// .rotate {
//   -moz-transition: all 0.2s linear;
//   -webkit-transition: all 0.2s linear;
//   transition: all 0.2s linear;
// }

// .rotate.up {
//   -moz-transform: rotate(180deg);
//   -webkit-transform: rotate(180deg);
//   transform: rotate(180deg);
// }

// onoffswitch https://proto.io/freebies/onoff/
// .onoffswitch {
//   position: relative; width: 104px;
//   -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
// }
// .onoffswitch-checkbox {
//   position: absolute;
//   opacity: 0;
//   pointer-events: none;
// }
// .onoffswitch-label {
//   display: block; overflow: hidden; cursor: pointer;
//   border: 2px solid #999999; border-radius: 20px;
// }
// .onoffswitch-inner {
//   display: block; width: 200%; margin-left: -100%;
//   transition: margin 0.3s ease-in 0s;
// }
// .onoffswitch-inner:before, .onoffswitch-inner:after {
//   display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
//   font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
//   box-sizing: border-box;
// }
// .onoffswitch-inner:before {
//   content: "Available";
//   padding-left: 10px;
//   background-color: #FFFFFF; color: #4CAF50;
// }
// .onoffswitch-inner:after {
//   content: "Unavailable";
//   padding-right: 10px;
//   background-color: #FFFFFF; color: #F44336;
//   text-align: right;
// }
// .onoffswitch-switch {
//   display: block; width: 18px; margin: 1px;
//   background: #F44336;
//   position: absolute; top: 0; bottom: 0;
//   right: 80px;
//   border: 2px solid #999999; border-radius: 20px;
//   transition: all 0.3s ease-in 0s;
// }
// .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
//   margin-left: 0;
// }
// .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
//   right: 0px;
//   background-color: #4CAF50;
// }
