// .container {
//     position: relative;
//      width: 100%;
//      height: 0;
//      padding-bottom: 56.25%;
//  }
//  .video {
//      position: absolute;
//      top: 0;
//      left: 0;
//      width: 100%;
//      height: 100%;
//  }

//  .circle{
//     width:50px;
//     height: 50px;
//     background-color: lightgreen;
//     border-radius: 25px;
// }

