
.home-cds-main-content {
    margin-top: 18px;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a;
    background-color: #fff;
}

.home-cds-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
    // height: 362px;
}

.home-cds-container>.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-cds-container>.image-container>.svg-wpr {
    width: 86px;
    height: 86px;
    background: rgba(104, 131, 208, .1);
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-cds-container>.image-container>.svg-wpr>svg {
    // fill: var(--indigo);
    fill: var(--blue-light);
    width: 50px;
    height: 50px;
}

.home-cds-container>.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
    height: 62px;
}

.home-cds-container>.title-container>.home-cds-section-title {
    // color: var(--indigo);
    color: var(--blue-light);
    font-weight: 600;
    font-size: 34px;
    font-family: var(--header-font-family);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
}

.home-cds-container>.title-container>.home-cds-section-subtitle {
    font-family: var(--header-font-family);
    font-size: 19px;
    font-weight: 400;
    color: var(--text-color)
}

.button-container {
    display: flex;
    justify-content: center;
    // margin-top: 35px;
    margin-top: 15px;
    // margin-bottom: 70px;
    height: 85px;
}

#home-cds-btn {
    background: var(--blue-light);
    // min-width: 380px;
    min-height: 65px;
    font-size: 21px;
    border-radius: 999px;
    padding: 12px 24px;
}

.home-cds-btn-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-cds-btn-icon {
    width: 24px;
    height: 24px;
    margin-left: 6px;
}

.title-container-sk {
    height: 62px;
    background-color: red;
}

.home-cds-section-title-sk {
    height: 21px;
}
.is--loading {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}


// FOR SKELETON
.first-card {
    // height:251px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  
    -webkit-animation: fadein 0.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 0.5s;
    /* Internet Explorer */
    -o-animation: fadein 0.5s;
    /* Opera < 12.1 */
    animation: fadein 0.5s;
  }
  
  .first-card.is-loading {
    .fake--circle {
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 999px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
      width: 89px;
      height: 89px;
      border: solid 2px white;
      margin-left: -1px;
    }
  
    .fake--box {
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
      width: 560px;
      height: 34px;
      margin-right: 10px;
    }
  
    .sm--fake--box {
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
      width: 424px;
      height: 21px;
      margin-top: -1px;
    }
  
    .fake--btn {
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 999px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
      width: 380px;
      height: 65px;
      margin-top: 33px;
      margin-bottom: 60px;
    }
  
  }