<div *ngIf="previewMode" class="cds-action-preview">

    <cds-action-controls [action]="action"> </cds-action-controls>

    <cds-action-arrow *ngIf="!last"></cds-action-arrow>
</div>

<div class="cds-action-content">
    <cds-action-controls [action]="action"> </cds-action-controls>

    <!-- <cds-action-description
        [elementType]="action._tdActionType">
    </cds-action-description> -->

    <div class="content-panel-intent-detail">

        <cds-connector
            [idConnector] = "idConnector"
            [isConnected] = "isConnected">
        </cds-connector>
    </div>
</div>