@import "./src/assets/sass/cds/_variables.scss";

// .content {
//     //padding: 10px 30px;
//     padding: 20px 0px;
//     margin-left: 30px;
//     margin-right: 30px;
// }

.text-editor-wrapper {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    // margin-bottom: 30px;    
}

.field-box {
    display: flex;
    flex-direction: column;
    // width: 70%;
    min-width: 90px;
}

.title-label {
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
    
}

.trigger-bot-section-container {
    margin-top: 16px;
}

.trigger-bot-description {
    color: #d9d9d9;
    font-size: 14px;
}

::ng-deep .mat-checkbox.mat-accent .mat-checkbox-frame {
    // border-color: $icon-color!important;
    border-color: red;
}

// overwrite the checkbox background
::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: red;
    .mat-checkbox-checkmark {
        background: red;
        .mat-checkbox-checkmark-path {
          stroke: white;
          stroke-width: 5px;
        }
      }

}

// .select-bot-box {
//     width: 100%;
// }