

.setting-label {
    color: #000;
}

.field-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

// Slider

.action-wait-slider {
    align-items: center;
    background: #e0e3f1;
    border-radius: 13px;
    display: inline-flex;
    position: relative;
    height: 26px;
    padding: 0 9px 0 9px;
    width: 100%;
    text-align: center;
    transition: width 0.3s ease-in;
    font-size: 14px;
}

.action-wait-slider>mat-slider {
    width: 100%;
    margin-left: 6px;
}

.action-wait-range {
    color: #506493;
    font-size: 11px;
    font-weight: 500;
}

.action-wait-slider ::ng-deep{

    .mat-accent .mat-slider-track-fill {
        background-color: #1e293b !important;
    }
    .mat-slider-thumb-label {
        background-color: #1e293b !important;
    }
    .mat-slider-thumb-label-text{
        color: #e5eaf5 !important;
    }
    .mat-slider-thumb {
        background-color: #1e293b !important;
    }
}

// .action-wait-content {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     gap: 5px;
// }

// .action-wait-range {
//     color: var(--text-color);
//     font-size: 11px;
//     font-weight: 500;
// }

// .action-wait-slider {
//     align-items: center;
//     background: var(--slider-background-color);
//     border-radius: 13px;
//     display: inline-flex;
//     position: relative;
//     height: 26px;
//     padding: 0 9px 0 9px;
//     width: 100%;
//     text-align: center;
//     transition: width 0.3s ease-in;
//     font-size: 14px;
// }

// .action-wait-slider>mat-slider {
//     width: 100%;
//     margin-left: 6px;
// }

// .action-wait-slider ::ng-deep{
//     .mat-accent .mat-slider-track-fill {
//         background-color: var(--text-color) !important;
//     }
//     .mat-slider-thumb-label {
//         background-color: var(--text-color) !important;
//     }
//     .mat-slider-thumb-label-text{
//         color: var(--background-color) !important;
//     }
//     .mat-slider-thumb {
//         background-color: var(--text-color) !important;
//     }
// }
