
.label-and-slider-value {
    display: flex;
}


.label-wpr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.slider-value {
    color: #656d75;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 4px;
}



.setting-label {
    color: #000;
}

.row-container {
    margin-top: 25px
}

.field-box {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 20px;
}

.max-tokens-field-box {
    margin-bottom: 6px !important;
}

.max-token-slider-description-wpr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.max-token-slider-description {
    color: #656d75;
    font-weight: 400;
    font-size: 12px;
}



// Slider

.action-wait-slider {
    align-items: center;
    background: #e0e3f1;
    border-radius: 13px;
    display: inline-flex;
    position: relative;
    height: 26px;
    padding: 0 9px 0 9px;
    width: 100%;
    text-align: center;
    transition: width 0.3s ease-in;
    font-size: 14px;
}

.action-wait-slider>mat-slider {
    width: 100%;
    margin-left: 6px;
}

.action-wait-range {
    color: #506493;
    font-size: 11px;
    font-weight: 500;
}

.slider-output {
    width: 60px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 16px;
    text-align: center;
    font-weight: 400;
}

.action-wait-slider ::ng-deep {

    .mat-accent .mat-slider-track-fill {
        background-color: #1e293b !important;
    }

    .mat-slider-thumb-label {
        background-color: #1e293b !important;
    }

    .mat-slider-thumb-label-text {
        color: #e5eaf5 !important;
    }

    .mat-slider-thumb {
        background-color: #1e293b !important;
    }
}

.context-texarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    resize: vertical;
    max-height: 300px;
    min-height: 26px;
}

.mat-dialog-close-btn {
    background-color: #647491;
    color: #fff;
}

.mat-dialog-ok-btn {
    background-color: var(--blue-light);
    color: #fff;
}

.mat-dialog-reset-btn {
    // color: #fff;
    // background-color: var(--red-color);
    color: #30373F;
    background-color: #191D2214;

}


.m-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-top-right-icon {
    cursor: pointer;
}

.m-top-right-icon>span {
    padding: 8px;
    background: #e4e6eb;
    border-radius: 999px;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 18px;
    color: rgb(91, 98, 106);

}

.m-top-right-icon:hover>span {
    background-color: rgb(213, 214, 220);
    color: rgb(28, 30, 33)
}

.reset-overrides-wpr {
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 400;
}

.no-overrides {
    color: var(--text-color)
}

.reset-overrides {
    color: var(--blue-light);
    cursor: pointer;
    font-weight: 500;
}

.reset-overrides:hover {
    text-decoration: underline;
}


::ng-deep .cb-details-popover {
    background-color: #2d323e !important;
    font-size: 12px !important;
    border-radius: 4px !important;
    font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
    padding: 8px !important;
    color: #fff !important;
    text-align: center;
    max-width: 200px;
    box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024, 0 9px 46px 8px #0000001f;
    margin-right: 30px;

    .sat-popover-content-wpr {
        position: relative;
    }

    .sat-popover-arrow {
        position: absolute;
        top: 50%;
        /* Center vertically */
        left: 100%;
        /* Position to the right of the popover */
        margin-top: -5px;
        /* Center the arrow vertically */
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        /* Arrow shape */
        border-bottom: 5px solid transparent;
        /* Arrow shape */
        border-left: 5px solid #2d323e;
        /* Match this color with the popover background */
        margin-left: 8px;
    }

    .sat-popover-content {
        font-weight: 300;
        line-height: 1.3;
    }

    .sat-popover-content-learn-more {
        background: #525963;
        border-radius: 4px;
        padding: 6px 6px;
        margin-top: 6px;
        cursor: pointer;
    }
    .sat-popover-content-learn-more:hover { 
        background:  rgba(82, 89, 99, .8)
    }
}




// .action-wait-content {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     gap: 5px;
// }

// .action-wait-range {
//     color: var(--text-color);
//     font-size: 11px;
//     font-weight: 500;
// }

// .action-wait-slider {
//     align-items: center;
//     background: var(--slider-background-color);
//     border-radius: 13px;
//     display: inline-flex;
//     position: relative;
//     height: 26px;
//     padding: 0 9px 0 9px;
//     width: 100%;
//     text-align: center;
//     transition: width 0.3s ease-in;
//     font-size: 14px;
// }

// .action-wait-slider>mat-slider {
//     width: 100%;
//     margin-left: 6px;
// }

// .action-wait-slider ::ng-deep{
//     .mat-accent .mat-slider-track-fill {
//         background-color: var(--text-color) !important;
//     }
//     .mat-slider-thumb-label {
//         background-color: var(--text-color) !important;
//     }
//     .mat-slider-thumb-label-text{
//         color: var(--background-color) !important;
//     }
//     .mat-slider-thumb {
//         background-color: var(--text-color) !important;
//     }
// }