@import "./src/assets/sass/cds/_variables.scss";

.content {
    //padding: 10px 30px;
    padding: 20px 0px;
    margin-left: 30px;
    margin-right: 30px;
}

.text-editor-wrapper {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 0px;    
}

.field-box {
    display: flex;
    flex-direction: column;
    // width: 70%;
    min-width: 90px;
}

.title-label {
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
    // margin-left: 30px;
}

.action-wait-content{
    margin-top: 30px;
}
.action-wait-slider {
    align-items: center;
    background: #647283;
    border-radius: 13px;
    display: inline-flex;
    position: relative;
    height: 26px;
    padding: 0 9px 0 3px;
    width: 100%;
    text-align: center;
    transition: width 0.3s ease-in;
    font-size: 14px;
}

.action-wait-slider > mat-slider {
    width: 100%;
    margin-left: 6px;
}

.action-wait-range {
    color: #e8eaed;
    font-size: 11px;
    font-weight: 400;
    padding-left: 6px;
}

.wait-action-title {
    font-family: "Poppins","Roboto", "Arial", sans-serif;
    color: #e8eaed;
}


.action-wait-slider ::ng-deep{
    .mat-accent .mat-slider-track-fill {
        background-color: $icon-color !important;
    }
    .mat-slider-thumb-label {
        background-color: $icon-color !important;

    }
    .mat-slider-thumb {
        background-color: $icon-color !important;
    }
}

/* Action delay preview
/* ------------------------ */
.action-delay-preview {
    align-items: center;
    background: #647283;
    border-radius: 13px;
    display: inline-flex;
    position: relative;
    height: 26px;
    padding: 0 9px 0 3px;
    text-align: center;
    transition: width 0.3s ease-in;
    font-size: 14px;
    // top: 3px;
}
.action-delay-preview .delay--icon {
    padding-right: 4px;
    color: #ecb606b0;
}

.action-delay-preview .delay--time {
    color: #d2d2d2;
    cursor: pointer;
    font-size: 11px;
    font-weight: 400;
    white-space: nowrap;
}