
li > a {
    margin-top: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    border-radius: 0px;
}


// .beta-badge-wpr {
//     font-weight: 400;
//     background-color: #6c757d;
//     padding: 1px 5px;
//     border-radius: 10px;
//     font-size: 9px;
//     color: #fff;
//     position: relative;
//     top: -1px;
//     margin-left: 6px;
//     line-height: 1.2em;
// }
// .beta-badge {
//     position: relative;
//     top: 1px;
// }
