<!-- <div class="toggle-setting-sidebar-icon-wpr" [ngClass]="{'is_opened': IS_OPEN, 'is_closed':!IS_OPEN }"
  (click)="toggletBotsSidebar(IS_OPEN = !IS_OPEN)">
  <span *ngIf="IS_OPEN" class="material-icons toggle-setting-sidebar-icon">
    chevron_left
  </span>
  <span *ngIf="!IS_OPEN" class="material-icons toggle-setting-sidebar-icon">
    chevron_right
  </span>
</div> -->
<!-- padding-left: 0px;list-style: none;width: 215px; padding-right: 8px; padding-left: 3px; -->
<div class="settings-sidebar-wpr settings-sidebar-wpr-opened">
  <ul class="settings-sidebar">

    <!-- -------------------------------------------------------- -->
    <!--  @ My Chatbots  -->
    <!-- -------------------------------------------------------- -->
    <ng-container *ngIf="USER_ROLE !== 'agent'">
      <li class="sidebar-item-wpr-no-link">
        <a class="sidebar-item-no-link">
          {{'Flows' | translate}}
        </a>
      </li>

      <li class="sidebar-item-wpr" [ngClass]="{'active-item': BOTS_MYCHATBOT_ALL_ROUTE_IS_ACTIVE}"
        (click)="goToAllFlows()">
        <a class="sidebar-item">
         

          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path
              d="M16.65 13 11 7.35l5.65-5.65 5.65 5.65zM3 11V3h8v8zm10 10v-8h8v8zM3 21v-8h8v8zM5 9h4V5H5zm11.675 1.2L19.5 7.375 16.675 4.55 13.85 7.375zM15 19h4v-4h-4zM5 19h4v-4H5z">
            </path>
          </svg>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
  
            {{'All' | translate}}
          </p>

          <span class="sidebar-item-s">{{ chatBotCount }}</span>
        </a>
      </li>


      <li class="sidebar-item-wpr" [ngClass]="{'active-item': AIAGENT_ROUTE_IS_ACTIVE}"
        (click)="goToAiAgents()">
        <a class="sidebar-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-stroke">
            <path d="M12 8V4H8"></path>
            <rect width="16" height="12" x="4" y="8" rx="2"></rect>
            <path d="M2 14h2"></path>
            <path d="M20 14h2"></path>
            <path d="M15 13v2"></path>
            <path d="M9 13v2"></path>
          </svg>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
       
            {{'AIAgents' | translate}}
          </p>

          <span class="sidebar-item-s">{{ myChatbotOtherCount }}</span>
        </a>
      </li>


      <li class="sidebar-item-wpr" [ngClass]="{'active-item': AUTOMATION_ROUTE_IS_ACTIVE}" (click)="goToAutomations()">
        <a class="sidebar-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-stroke">
            <path
              d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
            </path>
            <circle cx="12" cy="12" r="4"></circle>
          </svg>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
            {{'Automations' | translate}}
          </p>
          <span class="sidebar-item-s">{{ automationsCount }}</span>
        </a>
      </li>

      <!-- -------------------------- -->
      <!-- WEBOOK SECTION -->
      <!-- -------------------------- -->
      <li class="sidebar-item-wpr-no-link" style="margin-top: 16px;">
        <a class="sidebar-item-no-link">
          Webhooks
        </a>
      </li>

      <li class="sidebar-item-wpr" [ngClass]="{'active-item': FLOWS_WEBHOOK_ROUTE_IS_ACTIVE }"
        (click)="goToFlowWebhooks()">
        <a class="sidebar-item">
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="20px" viewBox="0 0 24 24"
            width="20px" fill="currentColor" class="svg-fill">
            <g>
              <rect fill="none" height="24" width="24" />
            </g>
            <g>
              <path
                d="M10,15l5.88,0c0.27-0.31,0.67-0.5,1.12-0.5c0.83,0,1.5,0.67,1.5,1.5c0,0.83-0.67,1.5-1.5,1.5c-0.44,0-0.84-0.19-1.12-0.5 l-3.98,0c-0.46,2.28-2.48,4-4.9,4c-2.76,0-5-2.24-5-5c0-2.42,1.72-4.44,4-4.9l0,2.07C4.84,13.58,4,14.7,4,16c0,1.65,1.35,3,3,3 s3-1.35,3-3V15z M12.5,4c1.65,0,3,1.35,3,3h2c0-2.76-2.24-5-5-5l0,0c-2.76,0-5,2.24-5,5c0,1.43,0.6,2.71,1.55,3.62l-2.35,3.9 C6.02,14.66,5.5,15.27,5.5,16c0,0.83,0.67,1.5,1.5,1.5s1.5-0.67,1.5-1.5c0-0.16-0.02-0.31-0.07-0.45l3.38-5.63 C10.49,9.61,9.5,8.42,9.5,7C9.5,5.35,10.85,4,12.5,4z M17,13c-0.64,0-1.23,0.2-1.72,0.54l-3.05-5.07C11.53,8.35,11,7.74,11,7 c0-0.83,0.67-1.5,1.5-1.5S14,6.17,14,7c0,0.15-0.02,0.29-0.06,0.43l2.19,3.65C16.41,11.03,16.7,11,17,11l0,0c2.76,0,5,2.24,5,5 c0,2.76-2.24,5-5,5c-1.85,0-3.47-1.01-4.33-2.5l2.67,0C15.82,18.82,16.39,19,17,19c1.65,0,3-1.35,3-3S18.65,13,17,13z" />
            </g>
          </svg>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
            Webhooks
          </p>
          <span class="sidebar-item-s">{{ flowWebhooksCount }}</span>
        </a>
      </li>


      <!-- <li class="sidebar-item-wpr" [ngClass]="{'active-item': BOTS_MYCHATBOT_CUSTOMER_SATISFACTION_ROUTE_IS_ACTIVE}"
        (click)="goToBotCustomerSatisfactionBots()">
        <a class="sidebar-item">
         
         <i class="material-icons settings-sidebar-icons" style="margin-left: 0px !important;">
            emoji_emotions
          </i>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
            Customer Satisfaction
          </p>
          <span class="sidebar-item-s">{{ customerSatisfactionBotsCount }}</span>
        </a>
      </li> -->
    </ng-container>

    <!-- -------------------------------------------------------- -->
    <!--  @ Knowledge Bases !!! Moved on the sidebar -->
    <!-- -------------------------------------------------------- -->
    <!-- <ng-container *ngIf="ARE_NEW_KB == true && isVisibleKNB">
      <li class="sidebar-item-wpr" [ngClass]="{'active-item': KNOWLEDGE_BASE_ROUTE_IS_ACTIVE}"
        (click)="goToNewKnowledgeBases()">
        <a class="sidebar-item">
          <i class="material-icons settings-sidebar-icons" style="margin-left: 0px !important;">
            school
          </i>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
              <!- - {{'ManageYourContents' | translate}} - ->
            Knowledge Bases
           
          </p>
          <span class="sidebar-item-s">{{ kbCount }}</span>
        </a>
      </li>
    </ng-container> -->

    <!-- ------------------------------------------------------- -->
    <!-- @ Template -> moved in the templates component -->
    <!-- ------------------------------------------------------- -->
    <!--  <ng-container *ngIf="USER_ROLE !== 'agent'">
      <li class="sidebar-item-wpr-no-link" style="margin-top: 16px;">
        <a class="sidebar-item-no-link" style="text-transform: uppercase;">
        
          {{'Templates' | translate}}
        </a>
      </li>


      <li class="sidebar-item-wpr" [ngClass]="{'active-item': BOTS_ALL_TEMPALTES_ROUTE_IS_ACTIVE}"
        (click)="goToBotAllTemplates()">
        <a class="sidebar-item">
          <i class="material-icons settings-sidebar-icons" style="margin-left: 0px !important;">
            auto_awesome_motion
          </i>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
            {{'AllTemplates' | translate}}
          </p>
          <span class="sidebar-item-s">{{ allTemplatesCount }}</span>
        </a>
      </li>

      <li *ngIf="displayChatbotsCommunity" class="sidebar-item-wpr"
        [ngClass]="{'active-item': BOTS_COMMUNITY_TEMPLATES_ROUTE_IS_ACTIVE}" (click)="goToBotCommunityTemplates()">
        <a class="sidebar-item">
          <i class="material-icons settings-sidebar-icons" style="margin-left: 0px !important;">
            diversity_3
          </i>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
            {{'CommunityTemplates' | translate}}
          </p>
          <span class="sidebar-item-s">{{ allCommunityTemplatesCount }}</span>
        </a>
      </li>

      <li *ngIf="displayTemplatesCategory" class="sidebar-item-wpr"
        [ngClass]="{'active-item': BOTS_INCREASE_SALES_TEMPALTES_ROUTE_IS_ACTIVE}"
        (click)="goToBotIncreaseSalesTemplates()">
        <a class="sidebar-item">

          <i class="material-icons settings-sidebar-icons" style="margin-left: 0px !important;">
            trending_up
          </i>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
           
            {{'IncreaseSales' | translate}}
          </p>
          <span class="sidebar-item-s">{{ increaseSalesTemplatesCount }}</span>
        </a>
      </li>

      <li *ngIf="displayTemplatesCategory" class="sidebar-item-wpr"
        [ngClass]="{'active-item': BOTS_CUSTOMER_SATISFACTION_TEMPALTES_ROUTE_IS_ACTIVE}"
        (click)="goToBotCustomerSatisfactionTemplates()">
        <a class="sidebar-item">

          <i class="material-icons settings-sidebar-icons" style="margin-left: 0px !important;">
            emoji_emotions
          </i>
          <p class="custom_paragraph" style="position: relative; top: 1px;">
          
            {{'CustomerSatisfaction' | translate}}
          </p>
          <span class="sidebar-item-s">{{ customerSatisfactionTemplatesCount }}</span>
        </a>
      </li>
    </ng-container> -->




    <!-- ------------------------------------------------------- -->
    <!-- @ Bot Fulfillment-->
    <!-- ------------------------------------------------------- -->
    <!-- <ng-container>
      <li [ngClass]="{'active-item': FULFILLMENT_ROUTE_IS_ACTIVE }" (click)="goToTilebotfulfillment()"
        matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="Fulfillment" #tooltip="matTooltip"
        matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
        <a>
          <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">
            offline_bolt
          </i>
          <p *ngIf="IS_OPEN === true" class="custom_paragraph">
            Fulfillment
          </p>
        </a>
      </li>
    </ng-container> -->

    <!-- ------------------------------------------------------- -->
    <!-- Bot Training -->
    <!-- ------------------------------------------------------- -->
    <!-- <ng-container>
      <li [ngClass]="{'active-item': TRAINING_ROUTE_IS_ACTIVE}" (click)="goToBotTraining()"
        matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{'Training' | translate}}"
        #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
        <a>
          <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">
            school
          </i>
          <p *ngIf="IS_OPEN === true" class="custom_paragraph">
            {{'Training' | translate}}
          </p>
        </a>
      </li>
    </ng-container> -->

  </ul>
</div>