.mat-dialog-close-btn {
    background-color: #647491;
    color: #fff;
}

.mat-dialog-ok-btn {
    background-color: #2196f3;
    color: #fff;
}

.dialog--content {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 16px;
}