.table td, .table th {
    vertical-align: middle
}

// PADDING TOP & PADDING BOTTOM CUSTOMIZED FOR THE CONTACT DETAILS TABLE
.table td {
    // padding-top: 3px;
    // padding-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table td p{
    margin-bottom: 0px;
}

.btn-visibility-custom{
    padding-top:2px; 
    padding-bottom:1px; 
    padding-right:3px; 
    padding-left:3px;
    margin-top:5px;
    margin-bottom:5px;
}

.card form [class*="col-"] {
    padding: 0px;
}

// HOVER ON THE MEMBER LIST OF THE COLUMN SERVED BY
p.member:hover {
    background-color: #58c1d6;
    color: #fff;
    border-radius: 4px;
}

.title-attribute {
    font-family: 'Google Sans',sans-serif!important;
    color: #394f5a;
    font-weight: 500;
}
.attribute {
    color: #7695a5;
    font-weight: 500;
}

// start TOOLTIP
/* Tooltip container */
.tooltipx {
    position: relative;
    display: inline-block;
    // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltipx .tooltiptext-custom {
    visibility: hidden;
    // width: 120px;
    
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 12px !important;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    /* Position the tooltip text - TOP */
    // width: 420px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    
    max-width: 10em; // only for contacts component
    overflow-wrap: break-word; // only for contacts component
    // NEW
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    z-index: 1000;
    background-color: #394f5a;
    line-height: 1.5;

  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltipx:hover .tooltiptext-custom {
    visibility: visible;
  }
  // /.end TOOLTIP 

  .contact-avatar {
    border-radius: 50%;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    width: 40px;
    height: 40px;
    // padding: 10px 11px;
    padding-top: 10px;
    display: inline-block;
  }

  .contact-verified {
    position: relative;
    left: -20px;
  }

