.table td, .table th {
    vertical-align: middle
}

// PADDING TOP & PADDING BOTTOM CUSTOMIZED FOR THE CONTACT DETAILS TABLE
.table td {
    // padding-top: 3px;
    // padding-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table td p{
    margin-bottom: 0px;
}

.btn-visibility-custom{
    padding-top:2px; 
    padding-bottom:1px; 
    padding-right:3px; 
    padding-left:3px;
    margin-top:5px;
    margin-bottom:5px;
}

.card form [class*="col-"] {
    padding: 0px;
}

// HOVER ON THE MEMBER LIST OF THE COLUMN SERVED BY
p.member:hover {
    background-color: #58c1d6;
    color: #fff;
    border-radius: 4px;
}

