<div class="navbar-brand" style="z-index: -1;margin-top:10px; padding-left:30px">
    <i class="material-icons" style="vertical-align: middle !important; cursor: pointer;" (click)="goBack()">keyboard_arrow_left</i>
    {{ "ContactDetails" | translate }}
</div>

<div class="main-content" style="padding-top: 0px">
  <div class="container-fluid">

    <div class="row">
  
      <div class="col-md-8">
        <div class="card" style="">
          <loading-spinner *ngIf="showSpinner"></loading-spinner>
          <div  *ngIf="!showSpinner" class="card-content table-responsive" style="padding-bottom:5px">

              <table class="table table-hover">
                <thead class="text">
                  <tr>
                    
                    <!-- ===== VISIBILITY ICON ===== -->
                    <th></th>

      
                    <!-- ===== REQUEST FIRST TEXT ===== -->
                    <th style="padding-top: 6px;">
                      <span style="color: #566787">
                        <strong> 
                          {{ 'Requests' | translate }}
                        </strong>
                      </span>
                    </th>

                    <!-- ===== DEPARTMENT NAME ===== -->
                    <!-- <th>
                      <span style="color: #566787">
                        <strong>
                          <strong>{{ 'Department' | translate }}</strong>
                        </strong>
                      </span>  
                    </th> -->

         
                    <!-- ===== REQUESTER ID * FOR DEBUG * ===== -->
                    <!-- <th>
                      <span style="color: #566787">
                        <strong> Requester Id </strong>
                      </span>
                    </th> -->

     

                    <!-- ===== SERVED BY ===== -->
                    <!-- <th style="padding-top: 6px;">
                      <span style="color: #566787">
                        <strong> 
                          {{ 'ServedBy' | translate }}
                        </strong>
                      </span>
                    </th> -->
                  
                    <!-- ===== RATING ===== -->
                    <!-- <th>
                      <span style="color: #566787">
                        <strong> 
                          {{ 'Rating' | translate }}
                        </strong>
                      </span>
                    </th> -->

    
                    <!-- ===== PUBLISHED ===== -->
                    <!-- <th>
                      <span style="color: #566787">
                        <strong> 
                        {{ 'Created' | translate }}
                        </strong>
                      </span>
                    </th> -->
    
                  </tr>
                </thead>

                <tbody>

                  <!-- ===== IF THERE ISN'T HISTORY REQUEST ===== -->
                  <tr *ngIf="requests_list && requests_list.length === 0"> 
                    <td colspan="2" style="text-align: center; padding-top: 16px; cursor: pointer">

                      <p style="font-size:1em; color:#999999; font-weight: 400">
                        {{ 'HistoryPage.NoRequests' | translate }}
                      </p>
                    </td>
                  </tr> 

                  <tr *ngFor="let request of requests_list">
              
                    <td style="text-align:center">
  
                      <!-- // CLOSED REQUESTS -->
                      <span *ngIf="request?.status === 1000" (click)='goToRequestMsgs(request?.request_id)'>
                        <!-- pull-right -->

                        <button class="btn btn-default btn-visibility-custom">
                          <i style="font-size: 17px !important;" class="material-icons">visibility</i>
                        </button>
                      </span>

                      <!-- // SERVED REQUESTS -->
                      <span *ngIf="request?.status === 200" (click)='goToRequestMsgs(request?.request_id)'>
                        <button class="btn btn-info btn-visibility-custom">
                          <i style="font-size: 17px !important;" class="material-icons">visibility</i>
                        </button>
                      </span>

                      <!-- // SERVED REQUESTS -->
                      <span *ngIf="request?.status === 100" (click)='goToRequestMsgs(request?.request_id)'>
                        <button class="btn btn-danger btn-visibility-custom">
                          <i style="font-size: 17px !important;" class="material-icons">visibility</i>
                        </button>
                      </span>
                    
                    </td>
                  

                    <!-- ===== REQUEST FIRST TEXT ===== -->
                    <td (click)='goToRequestMsgs(request?.request_id)' style="cursor:pointer">
                      <p style="font-size:14px; line-height:21px; font-weight: 500;" 
                        [innerHTML]="getRequestText(request?.first_text)"> </p>

                      <span style="color: #7695a5; font-weight: 400; line-height:18px; font-size:12px">
                           {{ 'SentThe' | translate}} {{ request?.createdAt | date: 'dd/MM/yyyy' }} 
                           <span *ngIf="request?.department"> {{ 'ToTheDepartment' | translate}} 
                            <span style="text-transform: uppercase"> {{ request?.department?.name }} </span> 
                          </span>
                      </span>
                    </td>
                    
                    <!-- ===== DEPARTMENT NAME ===== -->
                    <!-- <td>
                      <p style="font-size:0.9em">
                        {{ request?.department?.name }}
                      </p>
                    </td> -->


                    <!-- ===== REQUESTER ID * FOR DEBUG * ===== -->
                    <!-- <td>
                      <p style="font-size:0.8em">
                        {{ request?.requester_id }}
                      </p>
                    </td> -->

  

                    <!-- ===== SERVED BY ===== -->
                    <!-- <td (click)='goToRequestMsgs(request?.request_id)' style="cursor:pointer" >
                      <span *ngFor="let participant of request?.participants"  style="font-size:0.8em;">
                        <span *ngIf="participant !== request?.requester_id && participant !== 'system' && participant !== currentUserID"> 
                          <p class="member" (click)="goToMemberProfile( participant )" [innerHTML]="members_replace( participant )" style="padding-top:1px; padding-bottom:1px; cursor: pointer;">  </p>
                        </span> 
                        <p *ngIf="participant === currentUserID" style="padding-top:1px; padding-bottom:1px;"> 
                          - <strong> 'ME' </strong>
                        </p>
                      </span>
                    </td> -->
                  
  
                    <!-- ===== RATING ===== -->
                    <!-- <td (click)='goToRequestMsgs(request?.request_id)' style="cursor:pointer" >
                      <p *ngIf="request?.rating" style="font-size:0.8em;">
                          {{ request?.rating }} / 5
                      </p>
                      <p *ngIf="!request?.rating" style="font-size:0.8em;">
                          - / 5
                      </p>
                    </td> -->

    
                    <!-- ===== PUBLISHED ===== -->
                    <!-- <td (click)='goToRequestMsgs(request?.request_id)' style="cursor:pointer">
                      <p style="font-size:0.9em">
                        {{ request?.createdAt | amTimeAgo }} ({{ request?.createdAt | date: 'dd/MM/yyyy' }}) 
                      </p>
                    </td> -->

                  </tr>
                </tbody>
              </table>
            </div> <!-- ./ card-content table-responsive -->

            <div *ngIf="displaysFooterPagination === true" class="card-footer" style="text-align:right">
              <div class="stats">
  
                <div style="width: 120px; margin: 0 auto; margin-top: 10px " >
                  <div class="input-group">
  
                    <!-- -------====== BTN DECREASE PAGE  ======------ -->
                    <span class="input-group-btn" style="padding-right:0px;  padding-left: 0px;">
                      <button [disabled]="pageNo + 1 === 1" class="btn btn-info" type="button" (click)="decreasePageNumber()" style="padding: 6px 8px">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      </button>
                    </span>
  
                    <!-- -------====== DISPLAY No PAGE / No TOTAL PAGES   ======------ -->
                    <span class="input-group-btn" style="padding-right:0px;">
                      <button class="btn btn-info" type="button" style="padding: 6px 8px">
                        {{ pageNo + 1 }} / {{ totalPagesNo_roundToUp }}
                      </button>
                    </span>
                    
                    <!-- -------====== BTN INCREASE PAGE  ======------ -->
                    <span class="input-group-btn" style="padding-right:0px">
                      <button [disabled]="pageNo + 1 === totalPagesNo_roundToUp || totalPagesNo_roundToUp === 0" class="btn btn-info" type="button" (click)="increasePageNumber()" style="padding: 6px 8px">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      </button>
                    </span>
  
                  </div>
                </div>
                
              </div>
            </div>


          
        </div>
      </div>
      <!-- /. end col-md-8 -->
       
      <!-- ------------============ RIGHT SIDEBAR ============------------ -->
      <div class="col-md-4">
        <div class="card" style="padding-top:8px;">
          <div class="card-content" style="padding-top: 0px;">
            <h4 class="card-title" style="text-transform: none; color: #566787; font-weight:400; margin-bottom: 16px;  border-bottom: 1px solid #ddd; padding-bottom: 15px; ">
              {{ "ContactDetails" | translate }}
            </h4>

            <!-- ------====== ID ======------ -->
            <!-- <p style="margin-bottom: 3px">
              <strong>
                Id
              </strong>
            </p>
            <p style="color:#999999">
                {{ contact_details?._id }}
            </p> -->

            <!-- ------====== CREATED ======------ -->
            <p style="margin-bottom: 3px">
              <strong>
                {{ "Created" | translate }}
              </strong>
            </p>
            <p style="color:#999999">
              {{ contact_details?.createdAt | date: 'd/M/y HH:mm' }}
            </p>

            <!-- ------====== NAME======------ -->
            <p style="margin-bottom: 3px">
              <strong>
                {{ "Name" | translate }}
              </strong>
            </p>
            <p style="color:#999999">
              {{ contact_details?.fullname }}
            </p>

            <!-- ------====== EMAIL ======------ -->
            <p style="margin-bottom: 3px">
              <strong>
                Email
              </strong>
            </p>
            <p style="color:#999999">
              {{ contact_details?.email }}
            </p>
 
          </div>
          <!-- <div class="card-footer">
            <div class="stats" style="color:#f44336; cursor:pointer; text-align: center">
              <i class="material-icons">delete_forever</i> Remove permanently
            </div>
          </div> -->


        </div>
      </div>

    </div>

  </div>
</div>
