<div class="navbar-brand" style="z-index: -1;margin-top:10px; padding-left:30px">
    <i class="material-icons" style="vertical-align: middle !important; cursor: pointer;" (click)="goBack()">keyboard_arrow_left</i>
    {{ "ContactDetails" | translate }}
</div>

<div class="main-content" style="padding-top: 0px">
  <div class="container-fluid">

    <div class="row">
  
      <div class="col-md-8">
        <div class="card" style="">
          <loading-spinner *ngIf="showSpinner"></loading-spinner>
          <div  *ngIf="!showSpinner" class="card-content table-responsive" style="padding-bottom:5px">

              <table class="table table-hover">
                <thead class="text">
                  <tr>
                    
                    <!-- ===== VISIBILITY ICON ===== -->
                    <th></th>

      
                    <!-- ===== REQUEST FIRST TEXT ===== -->
                    <th style="padding-top: 6px;">
                      <span style="color: #566787">
                        <strong> 
                          {{ 'Requests' | translate }}
                        </strong>
                      </span>
                    </th>

                    <!-- ===== DEPARTMENT NAME ===== -->
                    <!-- <th>
                      <span style="color: #566787">
                        <strong>
                          <strong>{{ 'Department' | translate }}</strong>
                        </strong>
                      </span>  
                    </th> -->

         
                    <!-- ===== REQUESTER ID * FOR DEBUG * ===== -->
                    <!-- <th>
                      <span style="color: #566787">
                        <strong> Requester Id </strong>
                      </span>
                    </th> -->

     

                    <!-- ===== SERVED BY ===== -->
                    <!-- <th style="padding-top: 6px;">
                      <span style="color: #566787">
                        <strong> 
                          {{ 'ServedBy' | translate }}
                        </strong>
                      </span>
                    </th> -->
                  
                    <!-- ===== RATING ===== -->
                    <!-- <th>
                      <span style="color: #566787">
                        <strong> 
                          {{ 'Rating' | translate }}
                        </strong>
                      </span>
                    </th> -->

    
                    <!-- ===== PUBLISHED ===== -->
                    <!-- <th>
                      <span style="color: #566787">
                        <strong> 
                        {{ 'Created' | translate }}
                        </strong>
                      </span>
                    </th> -->
    
                  </tr>
                </thead>

                <tbody>

                  <!-- ===== IF THERE ISN'T HISTORY REQUEST ===== -->
                  <tr *ngIf="requests_list && requests_list.length === 0"> 
                    <td colspan="2" style="text-align: center; padding-top: 16px; cursor: pointer">

                      <p style="font-size:1em; color:#999999; font-weight: 400">
                        {{ 'HistoryPage.NoRequests' | translate }}
                      </p>
                    </td>
                  </tr> 

                  <tr *ngFor="let request of requests_list">
              
                    <td style="text-align:center">
  
                      <!-- // CLOSED REQUESTS -->
                      <span *ngIf="request?.status === 1000" (click)='goToRequestMsgs(request?.request_id)'>
                        <!-- pull-right -->

                        <button class="btn btn-default btn-visibility-custom">
                          <i style="font-size: 17px !important;" class="material-icons">visibility</i>
                        </button>
                      </span>

                      <!-- // SERVED REQUESTS -->
                      <span *ngIf="request?.status === 200" (click)='goToRequestMsgs(request?.request_id)'>
                        <button class="btn btn-info btn-visibility-custom">
                          <i style="font-size: 17px !important;" class="material-icons">visibility</i>
                        </button>
                      </span>

                      <!-- // SERVED REQUESTS -->
                      <span *ngIf="request?.status === 100" (click)='goToRequestMsgs(request?.request_id)'>
                        <button class="btn btn-danger btn-visibility-custom">
                          <i style="font-size: 17px !important;" class="material-icons">visibility</i>
                        </button>
                      </span>
                    
                    </td>
                  

                    <!-- ===== REQUEST FIRST TEXT ===== -->
                    <td (click)='goToRequestMsgs(request?.request_id)' style="cursor:pointer">
                      <p style="font-size:14px; line-height:21px; font-weight: 500;" 
                        [innerHTML]="getRequestText(request?.first_text)"> </p>

                      <span style="color: #7695a5; font-weight: 400; line-height:18px; font-size:12px">
                           {{ 'SentThe' | translate}} {{ request?.createdAt | date: 'dd/MM/yyyy' }} 
                           <span *ngIf="request?.department"> {{ 'ToTheDepartment' | translate}} 
                            <span style="text-transform: uppercase"> {{ request?.department?.name }} </span> 
                          </span>
                      </span>
                    </td>
                    
                    <!-- ===== DEPARTMENT NAME ===== -->
                    <!-- <td>
                      <p style="font-size:0.9em">
                        {{ request?.department?.name }}
                      </p>
                    </td> -->


                    <!-- ===== REQUESTER ID * FOR DEBUG * ===== -->
                    <!-- <td>
                      <p style="font-size:0.8em">
                        {{ request?.requester_id }}
                      </p>
                    </td> -->

  

                    <!-- ===== SERVED BY ===== -->
                    <!-- <td (click)='goToRequestMsgs(request?.request_id)' style="cursor:pointer" >
                      <span *ngFor="let participant of request?.participants"  style="font-size:0.8em;">
                        <span *ngIf="participant !== request?.requester_id && participant !== 'system' && participant !== currentUserID"> 
                          <p class="member" (click)="goToMemberProfile( participant )" [innerHTML]="members_replace( participant )" style="padding-top:1px; padding-bottom:1px; cursor: pointer;">  </p>
                        </span> 
                        <p *ngIf="participant === currentUserID" style="padding-top:1px; padding-bottom:1px;"> 
                          - <strong> 'ME' </strong>
                        </p>
                      </span>
                    </td> -->
                  
  
                    <!-- ===== RATING ===== -->
                    <!-- <td (click)='goToRequestMsgs(request?.request_id)' style="cursor:pointer" >
                      <p *ngIf="request?.rating" style="font-size:0.8em;">
                          {{ request?.rating }} / 5
                      </p>
                      <p *ngIf="!request?.rating" style="font-size:0.8em;">
                          - / 5
                      </p>
                    </td> -->

    
                    <!-- ===== PUBLISHED ===== -->
                    <!-- <td (click)='goToRequestMsgs(request?.request_id)' style="cursor:pointer">
                      <p style="font-size:0.9em">
                        {{ request?.createdAt | amTimeAgo }} ({{ request?.createdAt | date: 'dd/MM/yyyy' }}) 
                      </p>
                    </td> -->

                  </tr>
                </tbody>
              </table>
            </div> <!-- ./ card-content table-responsive -->

            <div *ngIf="displaysFooterPagination === true" class="card-footer" style="text-align:right">
              <div class="stats">
  
                <div style="width: 120px; margin: 0 auto; margin-top: 10px " >
                  <div class="input-group">
  
                    <!-- -------====== BTN DECREASE PAGE  ======------ -->
                    <span class="input-group-btn" style="padding-right:0px;  padding-left: 0px;">
                      <button [disabled]="pageNo + 1 === 1" class="btn btn-info" type="button" (click)="decreasePageNumber()" style="padding: 6px 8px">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      </button>
                    </span>
  
                    <!-- -------====== DISPLAY No PAGE / No TOTAL PAGES   ======------ -->
                    <span class="input-group-btn" style="padding-right:0px;">
                      <button class="btn btn-info" type="button" style="padding: 6px 8px">
                        {{ pageNo + 1 }} / {{ totalPagesNo_roundToUp }}
                      </button>
                    </span>
                    
                    <!-- -------====== BTN INCREASE PAGE  ======------ -->
                    <span class="input-group-btn" style="padding-right:0px">
                      <button [disabled]="pageNo + 1 === totalPagesNo_roundToUp || totalPagesNo_roundToUp === 0" class="btn btn-info" type="button" (click)="increasePageNumber()" style="padding: 6px 8px">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      </button>
                    </span>
  
                  </div>
                </div>
                
              </div>
            </div>


          
        </div>
      </div>
      <!-- /. end col-md-8 -->
       
      <!-- ------------============ RIGHT SIDEBAR ============------------ -->
      <div class="col-md-4">
        <div class="card" style="padding-top:8px;">
          <div class="card-content" style="padding-top: 0px;">
            <h4 class="card-title" style="text-transform: none; 
                                          color: #566787; 
                                          font-weight:400; 
                                          /* margin-bottom: 16px;   */
                                          border-bottom: 1px solid #e1eef4; 
                                          padding-bottom: 8px; 
                                          margin-top: 0px;">
              {{ "ContactDetails" | translate }}

              <span class="tooltipx" style="vertical-align: middle; cursor: pointer" (click)='goToEditContact(contact_details?._id)'>
                <i class="material-icons" style="font-size: 18px">
                  edit
                </i>
                <span class="tooltiptext-custom" style="text-transform:none">
                  {{ 'EditContact' | translate }} 
                </span> 
              </span>
            </h4>

            <!-- ------====== ID ======------ -->
            <!-- <p style="margin-bottom: 3px">
              <strong>
                Id
              </strong>
            </p>
            <p style="color:#999999">
                {{ contact_details?._id }}
            </p> -->

            <!-- ------====== NAME======------ -->
            <!-- <p class="title-attribute" style="margin-bottom: 3px">
              <strong>
                {{ "Name" | translate }}
              </strong>
            </p> -->
            <p class="attribute">

                <span class="contact-avatar-wrapper"> 
                    <!-- [ngClass]="{'contact_fullname-undefined' : !requester_fullname}" -->
                    <span class="contact-avatar" [ngStyle]="{'background-color': fillColour }" >
                      <span style="color: #ffffff;"> {{ contact_fullname_initial }} </span>
                    </span>
                    <span *ngIf="CONTACT_IS_VERIFIED === true" class="tooltipx"> 
                      <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 26.6 26.6" width="18" height="18" style="position: relative;left: -52px;top: -6px;" xml:space="preserve">
                        <style type="text/css">
                          .st0{fill:none;}
                          .st1{fill:#FFFFFF;}
                          .st2{fill:#18BDF7;}
                        </style>
                        <path class="st0" d="M1.3,1.3h24v24h-24V1.3z"/>
                        <path class="st1" d="M13.3,0L2.4,4.9v7.3c0,6.7,4.6,13,10.9,14.5c6.2-1.5,10.9-7.8,10.9-14.5V4.9L13.3,0z"/>
                        <path class="st2" d="M13.3,2.3l-9,4v6c0,5.5,3.8,10.7,9,12c5.2-1.3,9-6.5,9-12v-6L13.3,2.3z M11.3,18.3l-4-4l1.4-1.4l2.6,2.6
                          l6.6-6.6l1.4,1.4L11.3,18.3z"/>
                      </svg>

                      <span class="tooltiptext-custom"> {{ "VisitorsPage.AuthenticatedUser" | translate }} </span>
                    
                    </span>
                  </span>
              <span style="padding-left: 5px" [ngClass]="{'contact-verified' : CONTACT_IS_VERIFIED === true}"> 
                {{ contact_details?.fullname }}
              </span>
              <span style="padding-left: 5px"  *ngIf="!contact_details?.fullname" [ngClass]="{'contact-verified' : CONTACT_IS_VERIFIED === true}"> 
                n.a.
              </span>
            </p>

            <!-- ------====== EMAIL ======------ -->
            <p class="title-attribute" style="margin-bottom: 3px">
              <strong>
                Email
              </strong>
            </p>
            <p class="attribute">
              <span *ngIf="contact_details?.email"> 
                {{ contact_details?.email }} 
              </span>
              <span *ngIf="!contact_details?.email"> 
                n.a.
              </span>
            </p>


            <!-- ------====== CREATED ======------ -->
            <p class="title-attribute" style="margin-bottom: 3px">
              <strong>
                {{ "Created" | translate }}
              </strong>
            </p>
            <p class="attribute">
              {{ contact_details?.createdAt | date: 'd/M/y HH:mm' }}
            </p>

            <!-- ------====== ATTIBUTES ======------ -->
            <!-- style="margin-bottom: 8px; color: #566787; border-top: 1px solid #e1eef4; padding-top: 8px; font-weight: 400; font-size: 18px" -->
            <span *ngIf="contact_details?.attributes">
              <p class="title-attribute" style="margin-bottom: 3px;">
                  {{ "Attributes" | translate }}
              </p>
            
              <!-- ------====== CLIENT ======------ -->
              <p class="title-attribute" style="margin-bottom: 3px; font-size: 12px">
                <strong>
                  Client:
                </strong>
        
                <span *ngIf="!showAllClientString" class="attribute" style="white-space: nowrap">
                  {{ clientStringCutted }}
                  <span> 
                    <i class="material-icons" style="cursor: pointer; color: #039be5; font-size:18px; position:relative; top:5px" 
                      (click)="toggleShowAllClientString()">
                      keyboard_arrow_down
                    </i>   
                  </span>
                </span>

                <span *ngIf="showAllClientString" class="attribute" style="">
                  {{ contact_details?.attributes?.client }}
                  <span> 
                    <i class="material-icons" style="cursor: pointer; color: #039be5; font-size:18px;position:relative; top:5px" 
                      (click)="toggleShowAllClientString()">
                      keyboard_arrow_up
                    </i>   
                  </span>
                </span>
            
              </p>

              <!-- ------====== DEPARTMENT NAME ======------ -->
              <p class="title-attribute" style="margin-bottom: 3px; font-size: 12px; padding-top: 4px;">
                <strong>
                  {{ "Department" | translate }}:
                </strong>
              
                <span class="attribute" style="cursor: pointer" (click)="toggleShowAllClientString()">
                  {{ contact_details?.attributes?.departmentName }}
                </span>    
              </p>

              <!-- ------====== DEPARTMENT ID ======------ -->
              <p class="title-attribute" style="margin-bottom: 3px; font-size: 12px; padding-top: 4px;">
                <strong>
                  {{ "DepartmentId" | translate }}:
                </strong>

                <span class="attribute">
                  {{ contact_details?.attributes?.departmentId }}
                </span>
              </p>

              <!-- ------====== PROJECT ID ======------ -->
              <p class="title-attribute" style="margin-bottom: 3px; font-size: 12px; padding-top: 4px;">
                <strong>
                  {{ "ProjectId" | translate }}:
                </strong>

                <span class="attribute">
                  {{ contact_details?.attributes?.projectId }}
                </span>
              </p>

              <!-- ------====== SENDER AUTH INFO ======------ -->
              <p class="title-attribute" style="margin-bottom: 3px; font-size: 12px">
                <strong>
                  Sender Auth Info:
                </strong>
              
                <span *ngIf="!showAllsenderAuthInfoString" class="attribute" style="white-space: nowrap">
                    {{ senderAuthInfoStringCutted }}

                  <span> 
                    <i class="material-icons" style="cursor: pointer; color: #039be5; font-size:18px;position:relative; top:5px" 
                      (click)="toggleShowAllsenderAuthInfoString()">
                      keyboard_arrow_down
                    </i>   
                  </span>
                </span>
                <span *ngIf="showAllsenderAuthInfoString" class="attribute">
                  {{ senderAuthInfoString }} 

                  <span> 
                    <i class="material-icons" style="cursor: pointer; color: #039be5; font-size:18px;position:relative; top:5px" 
                      (click)="toggleShowAllsenderAuthInfoString()">
                      keyboard_arrow_up
                    </i>   
                  </span>
                </span>
              </p>

              <!-- ------====== SOURCE PAGE  ======------ -->
              <p class="title-attribute" style="margin-bottom: 3px; font-size: 12px">
                <strong>
                    {{ "RequestMsgsPage.SourcePage" | translate }}:
                </strong>
              
                <span *ngIf="!showAllSourcePageString" class="attribute" style="white-space: nowrap">
                  {{ sourcePageCutted }}

                  <span> 
                    <i class="material-icons" style="cursor: pointer; color: #039be5; font-size:18px;position:relative; top:5px" 
                      (click)="toggleShowAllSourcePageString()">
                      keyboard_arrow_down
                    </i>   
                  </span>
                </span>

                <span *ngIf="showAllSourcePageString" class="attribute">
                  <a href="{{sourcePage}}" target="_blank">{{sourcePage}}</a>
                  <span> 
                    <i class="material-icons" style="cursor: pointer; color: #039be5; font-size:18px;position:relative; top:5px" 
                      (click)="toggleShowAllSourcePageString()">
                      keyboard_arrow_up
                    </i>   
                  </span>
                </span>
              </p>

              <!-- ------====== USER EMAIL ======------ -->
              <p class="title-attribute" style="margin-bottom: 3px; font-size: 12px; padding-top: 4px;">
                <strong>
                  {{ "UserEmail" | translate }}:
                </strong>

                <span class="attribute">
                  <span *ngIf="contact_details?.attributes?.userEmail"> 
                    {{ contact_details?.attributes?.userEmail }}
                  </span>
                  <span *ngIf="!contact_details?.attributes?.userEmail"> 
                    n.a.
                  </span>
                </span>
              </p>

              <!-- ------====== USER FULLNAME ======------ -->
              <p class="title-attribute" style="margin-bottom: 3px; font-size: 12px; padding-top: 4px;">
                <strong>
                  {{ "UserFullName" | translate }}:
                </strong>

                <span class="attribute">
                  <span *ngIf="contact_details?.attributes?.userFullname"> 
                    {{ contact_details?.attributes?.userFullname }}
                  </span>
                  <span *ngIf="!contact_details?.attributes?.userFullname"> 
                    n.a.
                  </span>
                </span>
              </p>
            </span>
 
          </div>
          <!-- <div class="card-footer">
            <div class="stats" style="color:#f44336; cursor:pointer; text-align: center">
              <i class="material-icons">delete_forever</i> Remove permanently
            </div>
          </div> -->


        </div>
      </div>

    </div>

  </div>
</div>
