.table td,
.table th {
  vertical-align: middle;
}

// PADDING TOP & PADDING BOTTOM CUSTOMIZED FOR THE CONTACT DETAILS TABLE
.table td {
  // padding-top: 3px;
  // padding-bottom: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table td p {
  margin-bottom: 0px;
}

.btn-visibility-custom {
  padding-top: 2px;
  padding-bottom: 1px;
  padding-right: 3px;
  padding-left: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card form [class*="col-"] {
  padding: 0px;
}

// HOVER ON THE MEMBER LIST OF THE COLUMN SERVED BY
p.member:hover {
  background-color: #58c1d6;
  color: #fff;
  border-radius: 4px;
}

.title-attribute {
  font-family: "Google Sans", sans-serif !important;
  color: #394f5a;
  font-weight: 500;
}
.attribute {
  color: #7695a5;
  font-weight: 500;
}

.ws_requets_msgs__attributes {
  font-family: "Google Sans", sans-serif !important;
  color: #394f5a;
  font-weight: 500;
}

.attribute_cutted_text {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
.attribute_full_text {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.row-header {
  font-family: "Google Sans", sans-serif !important;
  color: #394f5a;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 5px;
}

.showPosts {
  cursor: pointer;
  display:table;
}
.showPosts .greekCross, .showPosts h5 {
  display:table-cell;
}
.greekCross {
  color: #00BFF3;
  font-size: 15px;
}
.showPosts > h5 {
  font-size: 15px;
  display: inline;
  padding-left: 5px;
}

// start TOOLTIP
/* Tooltip container */
.tooltipx {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipx .tooltiptext-custom {
  visibility: hidden;
  // width: 120px;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 12px !important;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* Position the tooltip text - TOP */
  // width: 420px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

  max-width: 10em; // only for contacts component
  overflow-wrap: break-word; // only for contacts component
  // NEW
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  z-index: 1000;
  background-color: #394f5a;
  line-height: 1.5;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipx:hover .tooltiptext-custom {
  visibility: visible;
}
// /.end TOOLTIP

.contact-avatar {
  border-radius: 50%;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  width: 42px;
  height: 42px;
  // padding: 10px 11px;
  padding-top: 10px;
  display: inline-block;
}

.contact-verified {
  position: relative;
  left: -20px;
}

.column-th-span {
  font-size: 14px;
  font-weight: 500;
  color: #353f45;
  // color: #566787;
}

// start attribute 'accordion' style
.attribute_cutted_text {
  width: calc(100% - 120px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.attribute_full_text {
  word-wrap: break-word;
  transition: background-color 1000ms;
  background-color: #eee;
}

.rotate {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.rotate.up {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

// ./ end attribute 'accordion' style
