<div class="item-action-content">
    <!-- <div class="item-action-element">
        <label class="card-subtitle" style="width: 20%;">Wait time:</label>
        <div class="delay-wrapper">
            <cds-delay-slider
                [step]="1"
                [control]="actionForm.controls[0].get('wait')">
            </cds-delay-slider>
        </div>
    </div> -->
    <div class="item-action-element">
        <label class="card-subtitle">Message:</label>
        <cds-text id="text"
            [control]="actionForm.controls[0].get('message.text')"
            [autocompleteOptions]="autocompleteOptions">
        </cds-text>
    </div>
</div>
