@import "./src/assets/sass/md/_variables.scss";
// - start - BOTTOM NAVBAR  //
.bottom-nav-metrics {
    background-color: #fff;
    width: 100%;
    position: relative;
    top: -55px;
    // box-shadow: 0 2px 2px rgba(0, 0, 60, 0.08);
    padding-bottom: 5px;
    float: left;
    height: 50px;
    padding-left: 0px;
    display: flex;
    flex-grow: 1;
    margin-bottom: -18px;
    overflow-x: auto;
    overflow-y: hidden;
}

.bottom-nav-metrics li {
    float: left;
    padding: 15px;
    list-style: none;
    position: relative;
    display: block;   
    height: 52px;
    cursor: pointer;
}

.bottom-nav-metrics li a {
    padding: 18px 15px;
    color: #797979;
    line-height: 20px;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
    font-family: var(--header-font-family);
    font-weight: 400;
  
}

// Stili per btn-with-border-effect e li-active specifici per bottom-nav-metrics
.bottom-nav-metrics {
  .btn-with-border-effect {
    background: none;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
    position: relative;
    vertical-align: middle;

    &::before,
    &::after {
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .border-from-center {
    &:hover {
      color: var(--blue-20);
    }

    &::before,
    &::after {
      top: 0px;
      left: 0;
      height: 100%;
      width: 100%;
      transform-origin: center;
    }

    &::before {
      border-bottom: 5px solid var(--blue-20);
      transform: scale3d(0, 1, 1);
    }

    &:hover::before,
    &:hover::after {
      transform: scale3d(1, 1, 1);
      transition: transform 0.5s;
    }
  }

  .li-active {
    border-bottom: 5px solid var(--blue-20) !important;
    color: var(--blue-20) !important;
    cursor: default !important;
  }

  li.li-active a {
    color: var(--blue-20) !important;
  }
}

// Firefox
.bottom-nav-metrics {
  scrollbar-width: thin;
  scrollbar-color: #5c6370 transparent;
}

.bottom-nav-metrics li a:hover{
    text-decoration: none;
  //  background-color: #eee;
}

.bottom-nav-metrics::-webkit-scrollbar {
  width: 8px; /* spessore scrollbar */
}

.bottom-nav-metrics::-webkit-scrollbar-track {
  background: transparent; /* o #f1f1f1 */
}

.bottom-nav-metrics::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.bottom-nav-metrics::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}





 @media (max-width: 991px){
    // .bottom-nav-metrics { 
    //     top: -2px !important;
    // }

    .chart-wrapper {
        margin-top:60px !important;
    }
}


@media (max-width: 370px){
    .bottom-nav-metrics { 
        height: 37px!important;
    }
  
    .bottom-nav-metrics li {
        padding: 6px !important;
        height: 39px;
    }    
}
// - end - BOTTOM NAVBAR  //