<div class="header">
    <div class="form-group" [ngClass]="{'is-error':intentNameResult === false}">
        <i class="i-priority-color-mark"></i>
        <label 
            class="control-label title"
            [ngClass]="{'noDisplay':(intentName && intentName.length>0)}">
            {{ 'EnterIntentName' | translate }}
        </label>
        <input 
            type="text" 
            [(ngModel)]="intentName" 
            class="input form-control"
            (blur) = "onBlurIntentName($event)"
            (change) = "onChangeIntentName($event)">
        <button 
            class="btn btn-primary btn-save" 
            [disabled]="showSpinner"
            type="button" 
            (click)="onSaveIntent()">
            {{ 'Save' | translate }}
        </button>
    </div>
</div>
