<div class="box-step-1">
    <div class="">

        

            <div class="routing-rules">

                <!-- Assigned -->
                <div class="routing-rule" [ngClass]="{'rule-active': selectedOption === 'kb'  }"
                  (click)="has_clicked_kb()">
                  <div class="routing-rule-content">
                    <div class="routing-rule-icon">

                      <svg xmlns="http://www.w3.org/2000/svg" height="34px" viewBox="0 0 24 24" width="34px">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                          d="M10.59 9.17L5.41 4 4 5.41l5.17 5.17 1.42-1.41zM14.5 4l2.04 2.04L4 18.59 5.41 20 17.96 7.46 20 9.5V4h-5.5zm.33 9.41l-1.41 1.41 3.13 3.13L14.5 20H20v-5.5l-2.04 2.04-3.13-3.13z" />
                      </svg>

                    </div>
                    <div class="routing-rule-text">
                        Risponditore automatico sui tuoi contenuti
                    </div>

                    <div class="routing-rule-sub-text">
                     
                      {{ "DeptsAddEditPage.AutomaticallyAssign" | translate }}
                    </div>

                  </div>

                </div>

                <!-- Pooled -->
                <div class="routing-rule"  [ngClass]="{'rule-active': selectedOption === 'templates'  }"
                  (click)="has_clicked_templates()">
                  <div class="routing-rule-content">
                    <div class="routing-rule-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                        height="34px" viewBox="0 0 24 24" width="34px">
                        <g>
                          <rect fill="none" height="24" width="24" />
                        </g>
                        <g>
                          <g>
                            <path
                              d="M18.19,12.44l-3.24-1.62c1.29-1,2.12-2.56,2.12-4.32c0-3.03-2.47-5.5-5.5-5.5s-5.5,2.47-5.5,5.5c0,2.13,1.22,3.98,3,4.89 v3.26c-2.15-0.46-2.02-0.44-2.26-0.44c-0.53,0-1.03,0.21-1.41,0.59L4,16.22l5.09,5.09C9.52,21.75,10.12,22,10.74,22h6.3 c0.98,0,1.81-0.7,1.97-1.67l0.8-4.71C20.03,14.32,19.38,13.04,18.19,12.44z M17.84,15.29L17.04,20h-6.3 c-0.09,0-0.17-0.04-0.24-0.1l-3.68-3.68l4.25,0.89V6.5c0-0.28,0.22-0.5,0.5-0.5c0.28,0,0.5,0.22,0.5,0.5v6h1.76l3.46,1.73 C17.69,14.43,17.91,14.86,17.84,15.29z M8.07,6.5c0-1.93,1.57-3.5,3.5-3.5s3.5,1.57,3.5,3.5c0,0.95-0.38,1.81-1,2.44V6.5 c0-1.38-1.12-2.5-2.5-2.5c-1.38,0-2.5,1.12-2.5,2.5v2.44C8.45,8.31,8.07,7.45,8.07,6.5z" />
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="routing-rule-text">
                      Chatbot templates
                    </div>

                    <div class="routing-rule-sub-text">
                      
                      {{ "DeptsAddEditPage.AgentsAreNotified" | translate }}
                    </div>

                  </div>

                </div>

              </div>

        <p>Vuoi un risponditore automatico sui tuoi contenuti?</p>

        <button>
            Vai a setup Assistente
        </button>


        <p>Vuoi scegliere tra un template di automazione tra quelli disponibili?</p>


        <button>
            Vai ai templates
        </button>


        <div class="row--navigation">
            <div class="navigation--btn">

                <button type="button" class="btn-back" (click)="goToPrevPage()">
                    <svg viewBox="0 0 24 24" focusable="false" class="chakra-icon css-abioxt" role="presentation"
                        aria-hidden="true">
                        <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                    </svg>
                </button>

                <button class="btn btn-lg btn-primary" (click)="goToNextPage()">
                    {{'OnboardPage.Next' | translate}}
                </button>

            </div>
        </div>
    </div>
</div>