.card-widget-installation {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    box-shadow: none;
    border-radius: 0px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
  }
  .code-help {
    align-self: stretch;
    color: #1c2b45;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    // padding-top: 16px;
    padding-top: 0px;
    align-items: center;
    width: fit-content;
    font-weight: 400;
    svg {
      fill: #3ea9f5;
      height: 20px;
      margin-right: 5px;
      width: 20px;
    }
    a {
      text-decoration: none;
      font-weight: 400;
    } 
    &:hover{
      text-decoration: underline;
      color: #3ea9f5;
    }

    button {
      background-color: transparent;
      border: none;
      color: #3ea9f5;
      margin: 0 0 0 10px;
      min-width: auto;
      outline: 0;
      padding: 0;
      box-shadow: none;
      &:hover{
        text-decoration: none;
      }
    }
  }