<p style="margin-top:6px; padding-left:30px;position: relative;z-index: 1050;" class="navbar-brand">
  {{ 'Requests' | translate }}
</p>


<ul class="bottom-nav" *ngIf="OPEN_RIGHT_SIDEBAR === false">
  <li *ngIf="ROLE_IS_AGENT === false" (click)="seeIamAgentRequests(seeAll = !seeAll)" class="btn-with-border-effect"
    [ngClass]="
          { 'disabled-li' : displayBtnLabelSeeYourRequets === false, 
            'border-from-center' : displayBtnLabelSeeYourRequets === true,
            'li-active' : displayBtnLabelSeeYourRequets === false
          }">

    <a href="javascript:;" role="button"> {{ "AllAgentsRequests" | translate }} </a>
  </li>

  <li (click)="seeIamAgentRequests(seeAll = !seeAll)" class="btn-with-border-effect" [ngClass]="
      { 'disabled-li' : displayBtnLabelSeeYourRequets === true, 
        'border-from-center' : displayBtnLabelSeeYourRequets === false, 
        'li-active' : displayBtnLabelSeeYourRequets === true
      }">
    <a href="javascript:;" role="button"> {{ "YourRequests" | translate }} </a>
  </li>
  <!-- 
  <li class="right-li right-li-simulate-visitor" style="float: right !important;padding-top: 10px!important">
    <button #testwidgetbtn (click)="testWidgetPage()" class="btn btn-success navbar-btn">
      {{ 'VisitorsPage.SimulateVisitor' | translate }}
    </button>
  </li> -->
  <!-- CREATE TICKET -->
  <li class="right-li" style="float: right !important;padding-top: 3px!important; margin-right: 10px;">
    <button attr.aria-label="{{ 'CreateTicket' | translate }}" #createticket
      (click)="presentCreateInternalRequestModal()" class="btn btn-tdblu-no-boxshadow"
      style="font-size: 12px;  margin-left: 15px;">

      <span aria-hidden="true" class="material-icons"
        style="vertical-align: middle; margin-bottom: 0px; margin-top: 0px;">
        add_circle
      </span>
      <!-- {{ 'CreateTicket' | translate }} -->
      {{ 'Ticket' | translate }}
    </button>
  </li>

  <!--OPERATING HOURS -->
  <li class="operating-hours right-li" style="float: right;padding-left: 5px;">
    <a attr.aria-label="{{ 'OperatingHoursAreDisabled' | translate }}" href="javascript:;" role="button"
      class="tool_tip" style="cursor: pointer; display: unset;" *ngIf="!OPERATING_HOURS_ACTIVE"
      (click)="goToOperatingHours()">
      <i class="material-icons" style="color:#AAA; margin-top: 3px;">access_time</i>

      <div class="bottom"
        style="text-align: center; padding: 4px; border-radius: 3px; text-transform: none; min-width: fit-content; white-space: nowrap;">
        {{ 'OperatingHoursAreDisabled' | translate }}
        <i></i>
      </div>
    </a>
    <a attr.aria-label="{{ 'OperatingHoursAreEnabled' | translate }}" href="javascript:;" role="button" class="tool_tip"
      style="cursor: pointer;display: unset;" *ngIf="OPERATING_HOURS_ACTIVE" (click)="goToOperatingHours()">
      <i aria-hidden="true" class="material-icons" style="color:#3ea9f5; margin-top: 3px;">access_time</i>
      
      <div class="bottom" style="text-align: center; padding: 4px; border-radius: 3px;">
        {{ 'OperatingHoursAreEnabled' | translate }}

        <i></i>
      </div>
    </a>
  </li>

  <!-- NO REALTIME REQUESTS -->
  <li class="see-no-realtime-request right-li" style="float: right; padding-right: 5px;"
    (click)='goToNoRealtimeConversations()'>
    <a attr.aria-label="{{ 'GoToNotRealTimeRequests' | translate }}" href="javascript:;" role="button" class="tool_tip"
      style="cursor: pointer; display: unset;" [ngClass]="{ 'has-reached-100' : served_unserved_sum >= 100 }">
      <span aria-hidden="true" class="material-icons" style="margin-top: 3px; color:#3ea9f5">
        view_list
      </span>
      <div class="bottom"
        style="text-align: center; padding: 4px; border-radius: 3px; text-transform: none; min-width: 200px;">
        {{ 'ThisScreenDisplayAMaximumOf100RealTime' | translate }}
        <i></i>
      </div>
    </a>

    <span *ngIf="served_unserved_sum >= 100" class="served-unserved-sum">
      <span>
        {{ served_unserved_sum }}
      </span>
    </span>
  </li>

  <!-- SHOW SERVED REQUEST MAP -->
  <li class="see-no-realtime-request right-li" style="float: right; padding-right: 5px;" (click)='openRightSideBar()'>
    <a attr.aria-label="{{ 'ViewServedRequestsMap' | translate }}" class="tool_tip" style="cursor: pointer; display: unset;"
      [ngClass]="{ 'has-reached-100' : served_unserved_sum >= 100 }">
      <span class="material-icons" style="margin-top: 3px; color:#3ea9f5">
        pin_drop
      </span>
      <div class="bottom"
        style="text-align: center; padding: 4px; border-radius: 3px; text-transform: none; min-width: 200px;">
        {{'ViewServedRequestsMap' | translate}}
        <i></i>
      </div>
    </a>

    <span *ngIf="served_unserved_sum >= 100" class="served-unserved-sum">
      <span>
        {{ served_unserved_sum }}
      </span>
    </span>
  </li>

</ul>

<!-- 
// ---------------------------------------------------------
// @ FOR SMALL SCREEN 
// --------------------------------------------------------- -->
<!-- CREATE TICKET * FOR SMALL SCREEN  -->
<ul class="bottom-bottom-nav" style="display: none;">
  <li class="" style="padding-top: 3px!important; padding-left: 10px!important">
    <!-- btn-primary navbar-btn  -->
    <button attr.aria-label="{{ 'CreateTicket' | translate }}" #createticket
      (click)="presentCreateInternalRequestModal()" class="btn btn-tdblu-no-boxshadow" style="font-size: 12px;">

      <span aria-hidden="true" class="material-icons"
        style="vertical-align: middle; margin-bottom: 0px; margin-top: 0px;">
        add_circle
      </span>
      <!-- {{ 'CreateTicket' | translate }} -->
      {{ 'Ticket' | translate }}

    </button>
  </li>

  <!-- SIMULATE VISITOR * FOR SMALL SCREEN  -->
  <li  style="padding-top: 3px!important;margin-left: 15px;">
    <button attr.aria-label="{{ 'VisitorsPage.SimulateVisitor' | translate }}" #testwidgetbtn (click)="testWidgetPage()"
      class="btn btn-success-no-boxshadow" style="font-size: 12px;">
      <span class="material-icons" style="vertical-align: middle; margin-bottom: 0px; margin-top: 0px;">
        play_circle_filled
      </span>
      {{ 'VisitorsPage.SimulateVisitor' | translate }}
    </button>
  </li>

  <!-- NO REALTIME REQUESTS * FOR SMALL SCREEN -->
  <li class="see-no-realtime-request" style="float: right; padding-right: 5px;"
    (click)='goToNoRealtimeConversations()'>
    <a attr.aria-label="{{ 'GoToNotRealTimeRequests' | translate }}" href="javascript:;" role="button" class="tool_tip"
      style="cursor: pointer; display: unset; color:#3ea9f5;"
      [ngClass]="{ 'has-reached-100' : served_unserved_sum >= 100 }">
      <span class="material-icons">
        view_list
      </span>
      <div class="bottom"
        style="text-align: center; padding: 4px; border-radius: 3px; text-transform: none; min-width: 200px;">
        {{ 'ThisScreenDisplayAMaximumOf100RealTime' | translate }}
        <i></i>
      </div>
    </a>
    <span *ngIf="served_unserved_sum >= 100" class="served-unserved-sum">
      <span>
        {{ served_unserved_sum }}
      </span>
    </span>
  </li>

  <!--OPERATING HOURS * FOR SMALL SCREEN -->
  <li class="operating-hours" style="float: right;padding-left: 5px;">
    <a attr.aria-label="{{ 'OperatingHoursAreDisabled' | translate }}" href="javascript:;" role="button"
      class="tool_tip" style="cursor: pointer; display: unset;color: #797979;" *ngIf="!OPERATING_HOURS_ACTIVE"
      (click)="goToOperatingHours()">
      <i class="material-icons">access_time</i>

      <!-- <p class="hidden-lg hidden-md">operatinghoursoff</p> -->
      <div class="bottom"
        style="text-align: center; padding: 4px; border-radius: 3px; text-transform: none; min-width: fit-content; white-space: nowrap;">
        {{ 'OperatingHoursAreDisabled' | translate }}
        <i></i>
      </div>
    </a>
    <a attr.aria-label="{{ 'OperatingHoursAreEnabled' | translate }}" href="javascript:;" role="button" class="tool_tip"
      style="cursor: pointer;display: unset;" *ngIf="OPERATING_HOURS_ACTIVE" (click)="goToOperatingHours()">
      <i class="material-icons" style="color:#3ea9f5; margin-top: 1px;">access_time</i>

      <div class="bottom" style="text-align: center; padding: 4px; border-radius: 3px;">
        {{ 'OperatingHoursAreEnabled' | translate }}

        <i></i>
      </div>
    </a>
  </li>

   <!-- SHOW SERVED REQUEST MAP * FOR SMALL SCREEN -->
   <li  class="see-no-realtime-request" style="float: right; padding-right: 5px; " (click)='openRightSideBar()'>
    <a attr.aria-label="{{ 'ViewServedRequestsMap' | translate }}" class="tool_tip" style="cursor: pointer; display: unset;"
      [ngClass]="{ 'has-reached-100' : served_unserved_sum >= 100 }">
      <span class="material-icons" style="margin-top: 0px;color:#3ea9f5">
        pin_drop
      </span>
      <div class="bottom"
        style="text-align: center; padding: 4px; border-radius: 3px; text-transform: none; min-width: 200px;">
        {{ 'ViewServedRequestsMap' | translate }}
        <i></i>
      </div>
    </a>

    <span *ngIf="served_unserved_sum >= 100" class="served-unserved-sum">
      <span>
        {{ served_unserved_sum }}
      </span>
    </span>
  </li>
</ul>

<div class="main-content" style="padding-top:0px; margin-top: 25px;padding-left: 0px;padding-right: 0px;">
  <div class="container-fluid">
    <!-- ------====== CARDS COUNT OF REQUESTS: ACTIVE, SERVED & UNSERVED  and requests for depts ======------ -->
    <!-- <div class="row"> -->
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-left: 10px !important;">


        <!-- // --- Test - COUNT OF REQUESTS: ACTIVE, SERVED & UNSERVED as graph -->
        <div class="row" style="display: none;">
          <div class="col-xs-12">
            <div class="card" style="margin-top:0px">
              <div class="card-content">
                <!-- <div class="requests-chart-container" style="  width: 150px; height: 150px;float: left;"> -->
                <!-- <canvas id="doughnutChart"></canvas> -->

                <!-- <canvas id="MyChart" width="200" height="100"></canvas> -->

                <div class="grid-container">
                  <div class="requests-graph">
                    <div class="graph-wrapper" style=" width:50%;
                      display:block;
                      overflow:hidden;
                      /* margin:0 auto; */
                      /* padding: 60px 50px; */
                      max-height: 200px;
                      background:#fff;
                      border-radius:4px;">
                      <canvas id="stacked"></canvas>
                    </div>

                  </div>
                  <div class="graph-legend">
                    <div class="advanced-pie-legend-wrapper" style="display: inline-block;height: 161px;">
                      <!--  width: 420px;float: left; -->
                      <div class="advanced-legend" style="position: relative;top: 50%;transform: translate(0,-50%);">
                        <div class="total-value"
                          style="font-family: 'Lato', sans-serif; font-weight: 400;font-size: 40px; color: rgba(0, 0, 0, 0.54) !important;">

                          {{ wsRequestsServed?.length +  wsRequestsUnserved?.length }}
                        </div>
                        <div class="total-label" style="font-family: 'Google Sans', sans-serif !important;
                            font-size: 24px;
                            font-weight: 400;
                            color: rgba(0, 0, 0, 0.54) !important; margin-bottom: 10px; margin-top: 14px">
                          Total
                        </div>
                        <div class="legend-items-container" style="width: 100%;">
                          <div class="legend-items" style="white-space: nowrap; overflow: auto;">
                            <div class="legend-item" style="margin-right: 20px;display: inline-block;cursor: pointer;">
                              <div class="item-color"
                                style="border-left: 4px solid #05BDD4; width: 4px; height: 42px;float: left; margin-right: 7px;">
                              </div>
                              <div class="item-value"
                                style="font-family: 'Lato', sans-serif; font-weight: 400;font-size: 24px; color: rgba(0, 0, 0, 0.54) !important;">
                                {{ wsRequestsServed?.length }}
                              </div>
                              <div class="item-label" style="font-size: 14px;
                                font-family: 'Google Sans', sans-serif !important;
                                font-weight: 400;
                                color: rgba(0, 0, 0, 0.54);
                                line-height: 2;">Assigned</div>
                              <!-- <div class="item-percent">42%</div> -->
                            </div>
                            <div class="legend-item" style="margin-right: 20px;display: inline-block;cursor: pointer;">
                              <div class="item-color"
                                style="border-left: 4px solid #ED4537; width: 4px;height: 42px;float: left; margin-right: 7px;">
                              </div>
                              <div class="item-value"
                                style="font-family: 'Lato', sans-serif; font-weight: 400;font-size: 24px; color: rgba(0, 0, 0, 0.54) !important;">
                                {{ wsRequestsUnserved?.length }}
                              </div>
                              <div class="item-label" style="font-size: 14px;
                                font-family: 'Google Sans', sans-serif !important;
                                font-weight: 400;
                                color: rgba(0, 0, 0, 0.54);
                                line-height: 2;">Unassigned</div>
                              <!-- <div class="item-percent">23%</div> -->
                            </div>
                            <!-- <div class="legend-item" style="margin-right: 20px;display: inline-block;cursor: pointer;">
                                <div class="item-color"
                                  style="border-left: 4px solid rgb(44, 230, 155); width: 4px; height: 42px; float: left; margin-right: 7px;">
                                </div>
                                <div class="item-value ">7.200.000</div>
                                <div class="item-label">France</div>
                                <div class="item-percent">34%</div>
                              </div> -->
                          </div>
                        </div>
                        <div class="item-value ">7.200.000</div>
                        <div class="item-label">France</div>
                        <div class="item-percent">34%</div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- // --- Test -->


        <div class="row">

          <!-- 
          // -------------------------------------------------------------------------------------- 
          // @ CARDS COUNT OF REQUESTS: ACTIVE, SERVED & UNSERVED
          // -------------------------------------------------------------------------------------- -->
          <div class="col-xs-12" style="padding-right: 5px;">

            <!-- // TOTAL ACTIVE -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
              style="padding-left: 0px !important; padding-right: 5px !important;">
              <div class="panel"
                style="background-color: #fff; margin-bottom: 15px;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">

                      <svg viewBox="0 0 58.1 53.9" style="width: 42px" xml:space="preserve">
                        <style type="text/css">
                          .st0 {
                            fill: none;
                            stroke: #ff9800;
                            stroke-width: 3;
                            stroke-miterlimit: 10;
                          }
                        </style>
                        <path class="st0" d="M30.1,2.7c-13.8,0-25,10-25,22.4c0,4.6,1.5,8.8,4.1,12.3c-0.3,4.1-1.3,9.9-4.1,12.7c0,0,8.6-1.2,14.4-4.7
                     c3.2,1.4,6.8,2.1,10.6,2.1c13.8,0,25-10,25-22.4S43.9,2.7,30.1,2.7z" />
                      </svg>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge" style=" font-size: 40px; line-height: 48px; color: #ff9800">
                        {{ wsRequestsServed?.length +  wsRequestsUnserved?.length }}
                      </div>
                    </div>
                    <div class="col-xs-12 text-right">
                      <div class="ng-binding" style="color: #ff9800">
                        {{ "Active" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- // UNSERVED -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
              style="padding-left: 5px !important; padding-right: 5px !important;">
              <div class="panel"
                style="background-color: #fff; margin-bottom: 15px;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">

                      <svg viewBox="0 0 58.1 53.9" style="width: 42px" xml:space="preserve">
                        <style type="text/css">
                          .st0-unserved {
                            fill: none;
                            stroke: #ED4537;
                            stroke-width: 3;
                            stroke-miterlimit: 10;
                          }

                          .st1-unserved {
                            fill: #ED4537;
                          }
                        </style>
                        <path class="st0-unserved" d="M30.5,3.3c-13.8,0-25,10-25,22.4c0,4.6,1.5,8.8,4.1,12.3c-0.3,4.1-1.3,9.9-4.1,12.7c0,0,8.6-1.2,14.4-4.7
                     c3.2,1.4,6.8,2.1,10.6,2.1c13.8,0,25-10,25-22.4S44.3,3.3,30.5,3.3z" />
                        <g>
                          <path class="st1-unserved"
                            d="M30.6,38.9c-1.7,0-3.1-1.4-3.1-3c0-1.7,1.4-3,3.1-3c1.7,0,3.1,1.4,3.1,3C33.6,37.6,32.3,38.9,30.6,38.9z" />
                          <path class="st1-unserved" d="M34.8,18l-1.5,10c-0.2,1.5-1.6,2.5-3.1,2.3c-1.2-0.2-2.1-1.1-2.3-2.2l-1.6-10c-0.4-2.3,1.2-4.5,3.6-4.9
                       c2.4-0.4,4.6,1.2,5,3.5C34.9,17.1,34.9,17.6,34.8,18z" />
                        </g>
                      </svg>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge" style=" font-size: 40px; line-height: 48px; color: #f44336;">
                        {{ wsRequestsUnserved?.length }}
                      </div>
                    </div>
                    <div class="col-xs-12 text-right">
                      <div class="ng-binding" style="color: #f44336;">
                        {{ "Unserved" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- // SERVED -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
              style="padding-left: 5px !important; padding-right: 0px !important;">

              <div class="panel"
                style="background-color: #fff;margin-bottom: 15px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">

                      <svg viewBox="0 0 58.1 53.9" style="width: 42px" xml:space="preserve">
                        <style type="text/css">
                          .st0-served {
                            fill: none;
                            stroke: #05BDD4;
                            stroke-width: 3;
                            stroke-miterlimit: 10;
                          }

                          .st1-served {
                            fill: #05BDD4;
                          }
                        </style>
                        <g>
                          <path class="st0-served" d="M30.5,3c-13.8,0-25,10-25,22.4c0,4.6,1.5,8.8,4.1,12.3c-0.3,4.1-1.3,9.9-4.1,12.7c0,0,8.6-1.2,14.4-4.7
                       c3.2,1.4,6.8,2.1,10.6,2.1c13.8,0,25-10,25-22.4S44.3,3,30.5,3z" />
                          <g>
                            <circle class="st1-served" cx="17.5" cy="26.7" r="3" />
                            <circle class="st1-served" cx="30.5" cy="26.7" r="3" />
                            <circle class="st1-served" cx="43.5" cy="26.7" r="3" />
                          </g>
                        </g>
                      </svg>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge" style=" font-size: 40px; line-height: 48px; color: #00bcd4;">
                        {{ wsRequestsServed?.length }}
                      </div>
                    </div>
                    <div class="col-xs-12 text-right">
                      <div class="ng-binding" style="color: #00bcd4;">
                        {{ "Served" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>


          <!-- 
          // -------------------------------------------------------------------------------------- 
          // @ TEAM (PROJECT-USERS & BOT WITH COUNT)
          // -------------------------------------------------------------------------------------- -->
          <div class="col-xs-12" style="padding-right: 5px;">
            <!-- 
              <div id="team-container">
                    <div  #teamContent id="team-content">
                        Lorem ipsum dolor sit amet.Lorem ipsum
                    </div>

                    <button id="slideBack" type="button">Prev</button>
                    <button id="slide" type="button">Next</button>

                </div> 
              -->
            <div class="card" style="margin: 5px 0;">
              <!-- padding:0 6px -->
              <div class="card-content" style="">

                <div class="row">

                  <!-- 
                  // --------------------------------------------------------
                  // @ Department filter
                  // -------------------------------------------------------- -->
                  <div class="col-sm-6">
                    <label class="col-sm-12" style="text-align: left; color:#7695a5;padding-left:0px">
                      {{ 'HistoryPage.FilterByDepartment' | translate }}
                    </label>

                    <ng-select attr.aria-label="{{ 'FilterBy' | translate }} {{ 'Department' | translate }}"
                      class="custom" name="dept" [(ngModel)]="selectedDeptId" (change)="onChangeDepts()"
                      (clear)="clearDeptFilter()" placeholder="{{ 'HistoryPage.AllDepts' | translate }}">

                      <!-- <ng-option *ngFor="let dept of depts_array_noduplicate" [value]="dept?._id"> -->
                      <ng-option *ngFor="let dept of departments" [value]="dept?._id">
                        <!-- // use this if do the for with departments -->
                        {{dept?.name}}
                        <!-- // use this if do the for with depts_array_noduplicate -->
                        <!-- {{dept?.deptName}} -->
                      </ng-option>
                    </ng-select>
                  </div>

                  <!-- 
                  // --------------------------------------------------------
                  // @ Angent filter
                  // -------------------------------------------------------- -->
                  <div class="col-sm-6">
                    <label class="col-sm-12" style="text-align: left; color: #7695a5 !important;padding-left:0px">
                      {{ 'HistoryPage.Agent' | translate }}
                    </label>
                    <ng-select attr.aria-label="{{ 'FilterBy' | translate }} {{ 'HistoryPage.Agent' | translate }}"
                      name="agent" [(ngModel)]="selectedAgentId" placeholder="{{ 'HistoryPage.AllAgents' | translate }}"
                      (clear)="clearAgentFilter()" (change)="onChangeAgent()">
                      <!-- <ng-option [value]="''">{{ 'HistoryPage.AllAgents' | translate }}</ng-option> -->
                      <!-- user_and_bot_array -->
                      <ng-option [value]="1">{{ 'HumanAgentsOnly' | translate }}</ng-option>
                      <ng-option [value]="2">{{ 'BotsOnly' | translate }}</ng-option>
                      <ng-option *ngFor="let agent of participantsInRequests" [value]="agent?._id">
                        {{ agent.firstname }} {{ agent.lastname }}
                      </ng-option>
                    </ng-select>
                  </div>

                  <!--
                  <div class="col-sm-4">                    
                    <label></label>
                    <button type="submit" class="btn btn-white" (click)="clearSearch()"
                      style="color:#7695a5">
                      {{ 'HistoryPage.ClearSearch' | translate }}
                    </button>
                  </div> -->

                </div>

                <!-- <div class="team-container">
                    <div style="float: left" class="side">
                      <i class="material-icons" (click)="scrollLeft()">keyboard_arrow_left</i>
                    </div>
                    <div class="team-content middle" #teamContent>
                      <div class="team-agent" *ngFor="let agent of user_and_bot_array">
                        <img *ngIf="agent?._id.indexOf('bot_') === -1" class="team-avatar" style="margin: 0; 
                                  width: 32px; 
                                  height: 32px;
                                  min-width: 32px;border-radius: 50%;
                                  font-size: 17px;
                                  font-weight: 600;
                                  text-align: center;"
                          src="https://firebasestorage.googleapis.com/v0/b/{{storageBucket}}/o/profiles%2F{{agent?._id}}%2Fphoto.jpg?alt=media"
                          onerror="this.src='assets/img/no_image_user.png'">

                        <img *ngIf="agent?._id.indexOf('bot_') !== -1" class="team-avatar" style="margin: 0;
                                  width: 32px;
                                  height: 32px;
                                  min-width: 32px;border-radius: 50%;
                                  font-size: 17px;
                                  font-weight: 600;
                                  text-align: center;" src="assets/img/bot_image_as_human.jpg"
                          onerror="this.src='assets/img/no_image_user.png'">

                        <div class="count" style="position: absolute;
                                  display: -webkit-box;
                                  display: flex;
                                  -webkit-box-align: center;
                                  align-items: center;
                                  -webkit-box-pack: center;
                                  justify-content: center;
                                  min-width: 18px;
                                  height: 18px;
                                  top: 8px;
                                  left: 12px;
                                  border-radius: 9px;
                                  padding: 0 5px;
                                  font-size: 11px;
                                  text-align: center;
                                  box-shadow: 0 2px 2px 0 rgba(0,0,0,.35);
                                  background-color: #039be5;
                                  color: #fff;">2</div>
                        <div class="status-icon online"></div>
                      </div>
                    </div>
                    <div style="float: right" class="side">
                      <i class="material-icons" (click)="scrollRight()">keyboard_arrow_right</i>
                    </div>
                  </div> -->
                <!-- ./ team-container -->

              </div> <!-- ./ card-content -->
            </div>
          </div>
        </div>
      </div>

      <!-- // REQUESTS FOR DEPARTMENTS -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-right: 10px !important;">
        <div class="card" style="margin: 5px 0;">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h4 class="customh4" style="padding-left:22px; margin-bottom: 0px; white-space: nowrap;">
                {{ "RequestsForDept" | translate }}
              </h4>
            </div>
          </div>
          <div class="card-content" style="padding-top:5px; padding-top: 5px;
            min-height: 120px;
            overflow: auto;
            height: 163px;">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-hover">
                  <thead style="background-color: rgba(242, 246, 248, 1);">
                    <tr>
                      <th style="padding-top: 4px;">
                        <span class="table-head-span">
                          {{ "Department" | translate }}
                        </span>
                      </th>
                      <th style="padding-top: 4px;">
                        <span class="table-head-span">
                          # {{ "Requests" | translate }}
                        </span>

                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dept of depts_array_noduplicate">
                      <td (click)="goToDept(dept?._id)" style="cursor:pointer">
                        <span style="font-size:13px" class="table-body-span" *ngIf="dept?.deptName !== undefined">
                          {{ dept?.deptName }}
                        </span>
                        <span style="font-size:13px" class="table-body-span" *ngIf="dept?.deptName === undefined">
                          n.a.
                        </span>
                      </td>
                      <td>
                        <span class="table-body-span">
                          {{ dept?.requestsCount }}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------====== / .end CARDS COUNT OF REQUESTS: ACTIVE, SERVED & UNSERVED AND REQUESTS FOR DEPTS ======------ -->

    <!-- *ngIf="SHOW_SIMULATE_REQUEST_BTN === true && showSpinner === false" -->
    <section *ngIf="SHOW_SIMULATE_REQUEST_BTN === true && showSpinner === false">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="margin-top:5px">
            <div class="card-content">

              <div class="no_visitor__placeeholder">

                <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40"
                  style="width: 40px;height: 40px;" xml:space="preserve">
                  <style type="text/css">
                    .message_rocket {
                      fill: #737376;
                    }
                  </style>
                  <path class="message_rocket" d="M38.8,2.4c-0.2-0.3-0.6-0.4-1-0.3l-36,9c-0.5,0.1-0.9,0.7-0.7,1.2c0.1,0.2,0.2,0.5,0.4,0.6l13.7,8.8l5.9,15.7
c0.1,0.4,0.5,0.7,0.9,0.7c0.4,0,0.7-0.2,0.9-0.6l16-34C39.1,3.1,39,2.7,38.8,2.4z M4.5,12.4L33.9,5l-18,14.7L4.5,12.4z M22.1,34.4
l-4.9-13l18-14.8L22.1,34.4z" />
                </svg>

                <!-- <span *ngIf="!showSpinner"> -->
                <span style="display: block; line-height:20px;color:#737376; font-size: 16px;margin-top: 16px;">
                  {{ 'VisitorsPage.NoVisitor' | translate }}
                </span>


                <span
                  style="display: block; line-height:20px;color:#737376; font-size: 14px;margin-bottom: 16px;text-decoration: underline;cursor: pointer;"
                  (click)="testWidgetPage()">
                  {{ 'VisitorsPage.ClickHereToSimulate' | translate }}
                </span>
                <!-- </span> -->

                <!-- <span *ngIf="showSpinner">
                  <span style="display: block; line-height:20px;color:#737376; font-size: 16px;margin-top: 16px;">
                    {{ 'VisitorsPage.Loading' | translate }}
                  </span>
                </span> -->



                <!-- <button class="btn btn-tdgreen" (click)="testWidgetPage()"
                  style="background: #3ecf8e;text-shadow: 0 1px 3px rgba(36,180,126,.4); padding:12px 16px;">
                  {{ 'VisitorsPage.ClickHereToSimulate' | translate }}
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section *ngIf="SHOW_SIMULATE_REQUEST_BTN === false && showSpinner === false">
      <div class="row">
        <div class="col-md-12" style="padding-left:10px !important; padding-right:10px !important;">

          <appdashboard-ws-requests-unserved *ngIf="wsRequestsUnserved" [wsRequestsUnserved]="wsRequestsUnserved"
            [ws_requests_length]="ws_requests?.length">
          </appdashboard-ws-requests-unserved>
          <!-- *ngIf="wsRequestsServed" -->
          <appdashboard-ws-requests-served *ngIf="wsRequestsServed" [wsRequestsServed]="wsRequestsServed"
            [ws_requests_length]="ws_requests?.length">
          </appdashboard-ws-requests-served>
          <!-- Chiamare il componente qui -->
        </div>
      </div>
    </section>


    <section *ngIf="SHOW_SIMULATE_REQUEST_BTN === false && showSpinner === true">
      <div class="card skeleton">
        <div class="card-header card-header-custom">
          <h4 class="title customh4" style="margin-bottom:2px;">
          </h4>
        </div>
        <div class="card-content table-responsive" style="padding-top: 0px;">
          <table class="table table-hover">
            <thead class="text">
              <tr>
                <th></th>
                <!-- ------ ====== MESSAGE ====== ------ -->
                <th>
                  <span class="column-th-span">
                    {{ 'VisitorsPage.Message' | translate }}
                  </span>
                </th>
                <!-- ------ ====== REQUESTER ====== ------ -->
                <th>
                  <span class="column-th-span">
                    {{ 'VisitorsPage.Requester' | translate }}
                  </span>
                </th>
                <!-- ------ ====== DEPARTMENT ====== ------ -->
                <th>
                  <span class="column-th-span">
                    {{ 'VisitorsPage.Department' | translate }}
                  </span>
                </th>
                <!-- ------ ====== CREATED ON ====== ------ -->
                <th>
                  <span class="column-th-span">
                    {{ 'VisitorsPage.Published' | translate }}
                  </span>
                </th>
                <!-- ------ ====== ARCHIVE ACTION ====== ------ -->
                <th>
                  <span class="column-th-span">
                    {{ 'VisitorsPage.Actions' | translate }}
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fake of generateFake(5)">
                <!-- ------ ====== VISIBILITY ICON ====== ------ -->
                <td style="width: 30px;">
                  <p style="margin-bottom: 0px;
                  max-width: 25px;
                  border-radius: 50%;
                  height: 25px;"> </p>
                </td>
                <!-- ------ ====== MESSAGE ====== ------ -->
                <td>
                  <p> </p>
                </td>
                <!-- ------ ====== REQUESTER ====== ------ -->
                <td>
                  <p> </p>
                </td>
                <!-- ------ ============== DEPARTMENT =============== ------ -->
                <td>
                  <p> </p>
                </td>
                <!-- ------ ====== CREATED ON ====== ------ -->
                <td style="width: 95px;">
                  <p style="max-width: 95px;"> </p>
                </td>
                <!-- ------ ====== ARCHIVE Action ====== ------ -->
                <td>
                  <button type="button" rel="tooltip" title="{{ 'VisitorsPage.tootipArchiveRequest' | translate }}"
                    class="btn btn-danger btn-simple btn-xs">
                    <i class="material-icons">clear</i>
                  </button>
                </td>
              </tr>
              <!-- /. END UNSERVED REQUESTS -->
            </tbody>
          </table>
        </div> <!-- ./ card-content table-responsive -->
      </div> <!-- ./ card -->
    </section>

  </div> <!-- ./ container-fluid -->
</div> <!-- ./ main-content -->



<!-- 
// --------------------------------------------------------
// Create ticket modal v2 
// -------------------------------------------------------- -->
<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayInternalRequestModal }"
  style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding:16px!important; border-bottom:none!important;">
        <button type="button" class="close" aria-label="Close" (click)="closeInternalRequestModal()"
          style="position: absolute; right: 14px;">
          <span aria-hidden="true">

            <svg class="tide-icon" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M13.357 11.993l10.256 10.295c0.39 0.391 0.39 1.024 0 1.415-0.194 0.195-0.449 0.292-0.704 0.292s-0.51-0.097-0.705-0.292l-10.257-10.295-10.256 10.295c-0.194 0.195-0.449 0.292-0.704 0.292s-0.51-0.097-0.705-0.292c-0.39-0.391-0.39-1.024 0-1.415l10.256-10.295-10.256-10.294c-0.39-0.391-0.39-1.024 0-1.415s1.020-0.391 1.409 0l10.256 10.294 10.256-10.294c0.39-0.391 1.020-0.391 1.41 0 0.389 0.391 0.389 1.024 0 1.415l-10.256 10.294z">
              </path>
            </svg>
          </span>
        </button>

        <h2 class="modal-title custom__modal__title">
          <span style="vertical-align: middle;">

            {{ "CreateTicket" | translate }}
          </span>
        </h2>

      </div>
      <hr class="custom-hr" style="margin-top:3px; margin-bottom:3px">
      <div class="modal-body"
        style="padding-top: 0px; padding-bottom: 0px; padding-right: 34px; padding-left: 34px; line-height: 1;min-height: 161px;">
        <div class="row">
          <label class="col-sm-12" style="text-align: left; color:#7695a5;">
            {{ 'Subject' | translate }}
          </label>
          <div class="col-sm-12" style="margin-bottom: 20px;">
            <input [(ngModel)]="createTicket_subject" (ngModelChange)="fullnameChange($event)" class="input"
              type="text">
          </div>

          <label class="col-sm-12" style="text-align: left; color:#7695a5;">
            {{ 'Department' | translate }}
          </label>
          <div class="col-sm-12" style="margin-bottom: 20px;">
            <ng-select class="custom" name="dept" [(ngModel)]="createTicket_deptId" [clearable]="false"
              placeholder="{{'SelectADepartment' | translate}}">
              <ng-option *ngFor="let dept of departments" [value]="dept._id">
                {{dept.name}}
              </ng-option>
            </ng-select>
          </div>

          <label class="col-sm-12" style="text-align: left; color:#7695a5;">
            {{ 'Message' | translate }}
          </label>
          <div class="col-sm-12" style="margin-bottom: 20px;">
            <textarea [(ngModel)]="createTicket_message" class="textarea" rows="4" placeholder=''>  </textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="text-align: center;" style="height: 60px;">
        <button class="btn btn-primary" (click)="createTicket()">
          <span> {{ "CreateTicket" | translate }} </span>
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- 
// --------------------------------------------------------
// Create ticket modal v1 
// -------------------------------------------------------- -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayInternalRequestModal}"
  style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding-bottom:15px">
        <!-- <button type="button" class="close" aria-label="Close" (click)="closeInternalRequestModal()">
          <span aria-hidden="true" style="">&times;</span>
        </button> -->

        <button type="button" class="close" aria-label="Close" (click)="closeInternalRequestModal()"
          style="position: absolute; right: 14px;top:19px">
          <span aria-hidden="true">

            <svg class="tide-icon" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M13.357 11.993l10.256 10.295c0.39 0.391 0.39 1.024 0 1.415-0.194 0.195-0.449 0.292-0.704 0.292s-0.51-0.097-0.705-0.292l-10.257-10.295-10.256 10.295c-0.194 0.195-0.449 0.292-0.704 0.292s-0.51-0.097-0.705-0.292c-0.39-0.391-0.39-1.024 0-1.415l10.256-10.295-10.256-10.294c-0.39-0.391-0.39-1.024 0-1.415s1.020-0.391 1.409 0l10.256 10.294 10.256-10.294c0.39-0.391 1.020-0.391 1.41 0 0.389 0.391 0.389 1.024 0 1.415l-10.256 10.294z">
              </path>
            </svg>
          </span>
        </button>
        <h4 class="modal-title" style="">
          <!-- <i class="material-icons" style="vertical-align: middle">info</i> -->
          <span style="vertical-align: middle; padding-left:8px">
            {{ "CreateTicket" | translate }}
          </span>
        </h4>

      </div>
      <div class="modal-body" style="min-height: 217px;">

        <!-- 
        // -------------------------------------------------------------------------------
        // Form create internal request 
        // - button "create internal request" not yet clicked
        // ------------------------------------------------------------------------------- -->
        <div *ngIf="hasClickedCreateNewInternalRequest === false" class="row">

          <label class="col-sm-12" style="text-align: left; color:#7695a5;">
            {{ 'Subject' | translate }}
          </label>
          <div class="col-sm-12" style="margin-bottom: 10px;">
            <input [(ngModel)]="internalRequest_subject" class="input" type="text">
          </div>

          <label class="col-sm-12" style="text-align: left; color:#7695a5;">
            {{ 'Department' | translate }}
          </label>
          <div class="col-sm-12" style="margin-bottom: 20px;">
            <ng-select class="custom" name="dept" [(ngModel)]="internalRequest_deptId" [searchable]="false"
              [clearable]="false" placeholder="{{'SelectADepartment' | translate}}">
              <ng-option *ngFor="let dept of departments" [value]="dept._id">
                {{dept.name}}
              </ng-option>
            </ng-select>
          </div>


          <label class="col-sm-12" style="text-align: left; color:#7695a5;">
            {{ 'Message' | translate }}
          </label>
          <div class="col-sm-12" style="">
            <textarea [(ngModel)]="internalRequest_message" type="text" class="textarea" rows="4"
              placeholder=''>  </textarea>
          </div>
        </div>

        <!-- 
        // -------------------------------------------------------------------------------
        // Spinner
        // - button "create internal request" clicked 
        // - response not yet arrived
        // ------------------------------------------------------------------------------- -->
        <div *ngIf="showSpinner_createInternalRequest" class="row">
          <div class="stretchspinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
        <!-- 
        // -------------------------------------------------------------------------------
        // Banmark
        // - button "create internal request" clicked 
        // - error response
        // ------------------------------------------------------------------------------- -->
        <div *ngIf="createNewInternalRequest_hasError === true" class="row">
          <div class="col-sm-12">
            <div class="error-banmark">
              <div class="ban-icon">
                <span class="icon-line line-long-invert"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <h3 style="text-align: center;  color: #8894ab; font-size: 22px; margin-bottom: 20px;">
              {{ "BotsAddEditPage.AnErrorHasOccurred" | translate }}
            </h3>
          </div>
        </div>

        <!-- 
        // -------------------------------------------------------------------------------
        // Checkmark
        // - button "create internal request" clicked 
        // - success response
        // ------------------------------------------------------------------------------- -->
        <div *ngIf="createNewInternalRequest_hasError === false" class="row">
          <div class="col-sm-12">
            <div class="success-checkmark">
              <div class="check-icon">
                <span class="success-icon-line success-line-tip"></span>
                <span class="success-icon-line success-line-long"></span>
                <div class="success-icon-circle"></div>
                <div class="success-icon-fix"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <h3 style="text-align: center;  color: #8894ab; font-size: 22px; margin-bottom: 20px;">
              {{ "BotsAddEditPage.Completed" | translate }}
            </h3>
          </div>
        </div>

      </div>
      <!-- </ng-container> -->
      <div class="modal-footer" style="margin-top: 0px; text-align: center;">
        <!-- <button class="btn btn-white" (click)="closeInternalRequestModal()" style="padding:12px 16px;">
          {{ "VisitorsPage.Cancel" | translate }}
        </button> -->

        <button *ngIf="hasClickedCreateNewInternalRequest === false" style="margin-top:0px" class="btn btn-primary"
          (click)="createNewInternalRequest()"
          [disabled]="internalRequest_message === undefined || internalRequest_deptId === undefined || internalRequest_subject === undefined"
          style="padding:12px 16px;">
          {{ "CreateTicket" | translate }}
        </button>

        <button *ngIf="showSpinner_createInternalRequest" style="margin-top:0px" class="btn btn-primary"
          style="padding:12px 16px;" disabled>
          <i class="fa fa-spinner fa-spin" style="margin-right: 5px;"></i>
          {{ "Processing" | translate }}
        </button>

        <button *ngIf="createNewInternalRequest_hasError === false" style="margin-top:0px" class="btn btn-primary"
          style="padding:12px 16px;" (click)="openTheChaForInternalRequest()">
          <i class="material-icons"
            style="vertical-align: middle;  top:0px !important; padding-bottom: 2px;">open_in_new</i>
          <span style="vertical-align: middle"> {{ 'RequestMsgsPage.OpenTheChat' | translate }}</span>
        </button>


      </div>
    </div>
  </div>
</div>

<!-- <app-department-edit-add *ngIf='display_dept_sidebar === true'
 [display_dept_sidebar]="display_dept_sidebar" [ws_requestslist_deptIdSelected]="ws_requestslist_deptIdSelected"> 
</app-department-edit-add>  -->

<div *ngIf="OPEN_RIGHT_SIDEBAR === true" class="view-side">
  <appdashboard-map-request [ngStyle]="{'height':train_bot_sidebar_height }" [wsRequestsServed]="wsRequestsServed"
    [wsRequestsUnserved]="wsRequestsUnserved" (closeMapsView)='handleCloseRightSidebar($event)'>
  </appdashboard-map-request>
</div>