<!-- <div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div> -->

<div class="sk-fading-circle">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>



<!-- <div title="" role="button" aria-label="animation" tabindex="0"
  style="width: 100px; height: 100px; overflow: hidden; margin: 0px auto; outline: none;"><svg
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1366 768" width="1366"
    height="768" preserveAspectRatio="xMidYMid slice"
    style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
    <defs>
      <clipPath id="__lottie_element_26">
        <rect width="1366" height="768" x="0" y="0"></rect>
      </clipPath>
    </defs>
    <g clip-path="url(#__lottie_element_26)">
      <g transform="matrix(1,0,0,1,683,384)" opacity="1" style="display: block;">
        <g opacity="1" transform="matrix(1,0,0,1,-38,35)">
          <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4"
            stroke="rgb(111,199,142)" stroke-opacity="1" stroke-width="41"
            d=" M0,-155 C61.84400177001953,-155 115.27899932861328,-118.6989974975586 140.14100646972656,-66.26200103759766">
          </path>
        </g>
      </g>
      <g style="display: block;" transform="matrix(1,0,0,1,683,384)" opacity="1">
        <g opacity="1" transform="matrix(1,0,0,1,-38,35)">
          <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4"
            stroke="rgb(125,105,255)" stroke-opacity="1" stroke-width="49"
            d=" M0,-155 C21.69700050354004,-155 42.358001708984375,-150.53199768066406 61.11399841308594,-142.4669952392578">
          </path>
        </g>
      </g>
    </g>
  </svg>
</div> -->