my-app .main-panel .main-content .card {
  animation-duration: 750ms;
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@media (min-width: 992px) {
  .typo-line {
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
  }

  .typo-line .category {
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    position: absolute;
  }
}

#map {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 70px;
}

.places-buttons .btn {
  margin-bottom: 30px;
}

.space-70 {
  height: 70px;
  display: block;
}

.sidebar .nav > li.active-pro {
  position: absolute;
  width: 100%;
  bottom: 10px;
}
@media (max-width: 991px) {
  .sidebar .nav > li.active-pro {
    position: relative;
    width: 100%;
    bottom: 10px;
  }
  .sidebar .nav > li.active-pro > a {
    margin-top: 20px;
  }
}

/* /* START - SETTINGS SUB MENU - WHEN THE ITEM ARE ACTIVE */
.sidebar .nav > li.active-custom > a {
  color: #e25242;
  background-color: #eeeeee;
}
.sidebar .nav > li.active-custom > a > i {
  color: #e25242;
}
/*  END SETTINGS SUB MENU */

.tim-row {
  margin-bottom: 20px;
}

.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
}
.tim-typo .tim-note {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}
.tim-row {
  padding-top: 50px;
}
.tim-row h3 {
  margin-top: 0;
}

/* Base styling*/

/* CSS Tooltip Generator */
/* http://www.menucool.com/tooltip/css-tooltip */
.tool_tip {
  display: inline-block;
  position: relative;
  /* border-bottom:1px dotted #666; */
  text-align: left;
}

.tool_tip h4 {
  margin: 3px 0;
  font-size: 13px;
  margin-top: 0px;
}

/* ------------------------
/ tootip top  
/ ---------------------- */
.tool_tip .top {
  min-width: 200px;
  max-width: 400px;
  top: -20px;
  left: 50%;
  transform: translate(-30%, -100%);
  padding: 10px 10px;
  color: #ffffff;
  background-color: #394f5a;
  opacity: 1;
  font-weight: normal;
  font-size: 12px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: none;
}

.tool_tip:hover .top {
  display: block;
}

.tool_tip .top i {
  position: absolute;
  top: 100%;
  left: 30%;
  margin-left: -15px;
  width: 30px;
  height: 15px;
  overflow: hidden;
}

.tool_tip .top i::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #394f5a;
  opacity: 1;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
/* ./end tootip top  */

/* ----------------------------
/ tootip bottom for home header  
/ -------------------------- */
.tool_tip .bottom-home-header {
  /* min-width: 200px; */
  /* max-width: 400px; */
  /* top: 40px; */
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  /* padding: 10px; */
  color: #ffffff;
  background-color: #394f5a;
  font-weight: normal;
  /* font-size: 12px; */
  /* border-radius: 8px; */
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  min-width: fit-content;
  top: 44px;
  border-radius: 3px;
  padding: 0px 6px;
  font-size: 11px;
  white-space: nowrap;
  display: none;
}

.tool_tip:hover .bottom-home-header {
  display: block;
}

.tool_tip .bottom-home-header img {
  width: 400px;
}

.tool_tip .bottom-home-header i {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tool_tip .bottom-home-header i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: #394f5a;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
/* /. tootip bottom for home header */

/* ------------------------
/ tootip bottom  
/ ---------------------- */
.tool_tip .bottom {
  min-width: 200px;
  /*max-width:400px;*/
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  color: #ffffff;
  background-color: #394f5a;
  font-weight: normal;
  font-size: 12px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: none;
}

.tool_tip:hover .bottom {
  display: block;
}

.tool_tip .bottom img {
  width: 400px;
}

.tool_tip .bottom i {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tool_tip .bottom i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: #394f5a;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
/* ./tootip bottom  */

/* -----------
/ tootip right  
/ ---------- */
/* .tooltip {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted #666;
  text-align:left;
}

.tooltip h3 {margin:12px 0;} */

.tool_tip .right {
  min-width: 200px;
  max-width: 400px;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  transform: translate(0, -50%);
  padding: 0;
  color: #eeeeee;
  background-color: #444444;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
}

.tool_tip:hover .right {
  visibility: visible;
  opacity: 1;
}

.tool_tip .right img {
  width: 400px;
  border-radius: 8px 8px 0 0;
}
.tool_tip .text-content {
  padding: 10px 20px;
}

.tool_tip .right i {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
}
.tool_tip .right i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
  background-color: #444444;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
/* ./tootip right  */

/**
  * ===============================================================================
  * tooltip top using attribute // https://www.cssportal.com/css-tooltip-generator/
  * =============================================================================== */
[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: 0.9em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}
[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 8px;
  border-radius: 3px;
  background: #394f5a;
  color: #ffffff;
  z-index: 99;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #394f5a;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before,
[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -4px);
  transform: translate(-50%, -4px);
}
[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #394f5a;
}
[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow="bottom"]::before,
[data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
  transform: translate(-50%, 8px);
}
[data-tooltip][data-flow="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #394f5a;
  left: calc(0em - 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #394f5a;
  right: calc(0em - 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip=""]::after,
[data-tooltip=""]::before {
  display: none !important;
}
/* tooltip top using attribute */

/* table style overwrite */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: unset !important;
}

.table td {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.table > thead > tr > th {
  padding-bottom: 12px !important;
  border-bottom: 1px solid #e5effe !important;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: unset !important;
  }
}

/* table style overwrite */
.card {
  box-shadow: unset !important;
  border: 1px solid #e5effe !important;
}

.card--no-border {
  border: unset !important;
}

/*
// -------------------------
// BTN TD-BLU NO BOX-SHADOW
// ------------------------- */
.btn-tdblu-no-boxshadow {
  box-shadow: unset !important;
  text-transform: none !important;
  padding: 9px 15px !important;
  background: #3ea9f5 !important;
  font-size: 14px;
}

.btn-tdblu-no-boxshadow:hover {
  box-shadow: unset !important;
  background: #399ce2 !important;
}

/*
// -------------------------
// BTN TD-SUCCESS NO BOX-SHADOW
// ------------------------- */
.btn-success-no-boxshadow {
  box-shadow: unset !important;
  text-transform: none !important;
  padding: 9px 15px !important;
  background: #3ecf8e !important;
  font-size: 14px;
}

.btn-success-no-boxshadow:hover {
  box-shadow: unset !important;
  background: #3ecf8e !important;
  opacity: 0.6;
}
.btn-success-no-boxshadow:focus {
  background: #3ecf8e !important;
  opacity: 0.6;
}

/*
// -------------------------
// BTN GRAY NO BOX-SHADOW
// ------------------------- */
.btn-gray-no-boxshadow {
  background: #e4e6eb;
  box-shadow: unset;
  color: #050505;
  text-transform: none;
  padding: 9px 15px;
  font-size: 14px;
}

.btn-gray-no-boxshadow:hover {
  background: #d2d4d9;
  box-shadow: unset;
  color: #050505;
}

.label-7695a5 {
  text-align: left;
  color: #7695a5 !important;
  font-weight: 100;
}

/*
// ---------------------------------------------------------------------------
// inline avatars (used in home header)
// --------------------------------------------------------------------------- 
*/
.served-by-desktop-a--home-header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 16px;
  /* background: #144fca; */
  background: rgba(17, 54, 190, 0.2);
  padding-left: 2px;
  padding-bottom: 3px;
  padding-top: 0px;
  padding-right: 8px;
  border-radius: 18px;
  margin-bottom: 16px;
  cursor: pointer;
}

.served-by-desktop-a--home-header:hover {
  /* background: rgba(85, 94, 127, 0.3); */
  background: #144fca;
}


.served-by-desktop-a--home-header-operating-hours {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(17, 54, 190, 0.3);
  padding-left: 0px;
  padding-bottom: 0px;
  margin-right: 16px;
  /* padding-top: 1px; */
  padding-right: 5px;
  border-radius: 18px;
  height: 35px;
  margin-bottom: 16px;
  cursor: pointer;
}

.served-by-desktop-a--home-header-operating-hours:hover { 
  /* background: rgba(85, 94, 127, 0.3); */
  background: #144fca;
}

.served-by-desktop-e-no-hover-effect {
  margin: 0px auto;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 28px;
}

.served-by-desktop-e-no-hover-effect img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

/**
 * ==============================================
 * What's new in home header - link to changelog
 * ==============================================
*/
.home-header-whats-new-a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(17, 54, 190, 0.3);
  padding-left: 0px;
  padding-bottom: 0px;
  /* padding-top: 1px; */
  padding-right: 5px;
  border-radius: 18px;
  height: 35px;
  margin-bottom: 16px;
  cursor: pointer;
}

.home-header-whats-new-a:hover { 
  /* background: rgba(85, 94, 127, 0.3); */
  background: #144fca;
}

.home-header-whats-new-b {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.home-header-whats-new-b {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.home-header-whats-new-c {
  padding: 0px;
  display: inline-block;
  flex: 1 1 32px;
  margin-left: -5px;
}

.home-header-whats-new-d {
  position: relative;
}
.home-header-whats-new-e {
  margin: 0px auto;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 28px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.home-header-whats-new-e img {
  width: 30px;
  height: 30px;
  padding: 6px;
  position: relative;
  top: -2px;
  left: -2px;
}

/*
// ---------------------------------------------------------------------------
// SCROLL DIV inline avatars  (used conversations scroll div)
// --------------------------------------------------------------------------- 
*/
.served-by-conv-a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  /* // margin-top: 12px; */
}

.served-by-conv-b {
  /* // margin-right: 6px; */
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.served-by-conv-c {
  padding: 0px;
  display: inline-block;
  flex: 1 1 32px;
  margin-left: 15px;
  cursor: pointer;
}

.served-by-conv-d {
  position: relative;
}
.served-by-conv-e {
  margin: 0px auto;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  line-height: 32px;
  font-size: 28px;
}

.served-by-conv-e img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  object-fit: cover;
}

.served-by-conv-e .altenative-conv-avatar-wrap {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  /* // margin-top: 2px; */
  position: relative;
  top: 2px;
}
.altenative-conv-avatar {
  color: #ffffff;
  line-height: 38px;
  margin: auto;
  display: block;
  font-weight: 400;
  font-size: 16px;
  /* // padding-left: 10px; */
  text-align: center;
}

.skeleton-img {
  width: 42px;
  height: 42px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  animation: shine 1.6s infinite linear;
  background-size: 300px;
  border-radius: 50%;
}

@keyframes shine {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 200px;
  }
}

/*
// ---------------------------------------------------------------------------
// inline avatars (used in conversation - history - no real-time conversation)
// --------------------------------------------------------------------------- 
*/
.served-by-desktop-a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  /* // margin-top: 12px; */
}

.served-by-desktop-b {
  /* // margin-right: 6px; */
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.served-by-desktop-c {
  padding: 0px;
  display: inline-block;
  flex: 1 1 32px;
  margin-left: -5px;
  cursor: pointer;
}

.disable-link-if-is-agent {
  cursor: not-allowed !important;
}

.first-served-by {
  margin-left: 0px !important;
}

.served-by-desktop-d {
  position: relative;
}
.served-by-desktop-e {
  margin: 0px auto;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 28px;
}

.served-by-desktop-e img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  object-fit: cover;
}

.served-by-desktop-e .altenative-avatar-wrap {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  /* // margin-top: 2px; */
  position: relative;
  top: 2px;
}
.altenative-avatar {
  color: #ffffff;
  line-height: 30px;
  margin: auto;
  display: block;
  font-weight: 400;
  font-size: 12px;
  /* // padding-left: 10px; */
  text-align: center;
}

.current-user-member-border {
  /* // border-color: #4caf50 !important; */
  box-shadow: 0 0 0 2px #1877f2;
}

.served-by-desktop-e:hover {
  position: relative;
  top: -3px;
}
.bot---avatar {
  cursor: pointer;
}

.bot---avatar:hover {
  position: relative;
  top: -3px;
}

/* =Avatar inline in unserved conversation tooltip
---------------------------------------------------- */
.served-by-desktop-a-in-tooltip {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  /* // margin-top: 12px; */
}

.served-by-desktop-b-in-tooltip {
  /* // margin-right: 6px; */
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.served-by-desktop-c-in-tooltip {
  padding: 0px;
  display: inline-block;
  flex: 1 1 32px;
  margin-left: -5px;
  cursor: pointer;
}

.first-served-by {
  margin-left: 0px !important;
}

.served-by-desktop-d-in-tooltip {
  position: relative;
}
.served-by-desktop-e-in-tooltip {
  margin: 0px auto;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  line-height: 22px;
  /* font-size: 28px; */
}

.served-by-desktop-e-in-tooltip img {
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  object-fit: cover;
  border: 1px solid #444444;
}
/* /. Avatar inline in unserved conversation tooltip
---------------------------------------------------- */

.right-sidebar--m-icon {
  vertical-align: middle;
  color: #394f5a;
  font-size: 14px;
  padding: 6px;
  background: #e4e6eb;
  border-radius: 50%;
  cursor: pointer;
}

.analytics-date-range-selected {
  margin: 8px !important;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Google Sans";
  font-size: 16px;
  display: block;
}

.arrow_forward-custom {
  vertical-align: middle;
  position: relative;
  top: -2px;
  font-size: 18px;
}

.swal-size-sm {
  width: 260px !important;

  /* // .swal-icon {
  //   width: 60px !important;
  //   height: 60px !important;
  //   margin: 12px auto !important;
  // }

  // .swal-icon--info:after {
  //   top: 5px !important;
  // } */
}
.swal-size-sm > .swal-title {
  font-size: 18px !important;
  padding-top: 0px !important;
}

.swal-size-sm > .swal-text {
  font-size: 14px;
  text-align: center;
}

/*  used for the message of type info in the chat section of the conversation detail page */
.type-info-msg-text > p {
  margin-bottom: 0px;
}

/* 
 * CUSTOM STYLE FOR THE CHAT SECTION IN REQUEST DETAIL FOR PANEL
 * ------------------------------------------------------------- */
 /* Removes in "ws-request-detail-for-panel.component" the bottom margin from the paragraph created by the marked pipe */
#chat-content > div > div > div > div.message > p {
  margin-bottom: 0px !important;
}

/* 
 * CUSTOM STYLE FOT THE CHAT SECTION IN CONVERSATION DETAIL 
 * -------------------------------------------------------- */
/* Removes the bottom margin from the paragraph created by the marked pipe */
div.card-content > .chat-body > div > div > div > div > div > div.txt > p.message.ow > p {
  margin-bottom: 0px !important;
}

/*  USE CASE LINK IN MESSAGE - When the sender is the agent changes the color of the links  */
div.card-content > div > div > div > div > div > div > div.txt > p.message.ow.alt > p > a {
  color: #fff;
  text-decoration: underline;
  font-weight: 300;
}
/* - USE CASE LINK IN IFRAME - When the sender is the agent changes the color of the links "  */
div.card-content > div > div > div > div > div > div > div.txt > div.message.ow.alt > div > p > p > a {
  color: #fff;
  text-decoration: underline;
  font-weight: 300;
}
/* - USE CASE IMAGE WITH TEXT - When the sender is the agent changes the color of the text   */
div.card-content > div > div > div > div > div > div > div.txt > div.message.ow.alt > div > p > p {
  color: #fff;
  font-weight: 300;
  margin-bottom: 0px !important;
  margin-top: 5px !important;
}

/* USE CASE MESSSAGE SENT BY THE AGENT */
div.card-content > div > div > div > div > div > div > div.txt > p.message.ow.alt > p {
  color: #fff;
}

/* div.card-content > div > div > div > div > div > div > div.txt > div > div > p > p > a
div.card-content > div > div > div > div > div > div > div.txt > div > div > p > p */
