@import "./src/variables.scss";

textarea[type="text"] {
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9 !important;
    padding-right: 8px;
    padding-top: 5px;
    padding-left: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff !important;
    border: solid 1px #ddd;
}

.tab0-card1 {
    min-height: 283px;
}

.tab0-card1-ticket {
    min-height: 191px !important;
}

.ul-wpr {
    background-color: var(--card-background-color);
    border-radius: var(--list-wrapper-border-radius);
    box-shadow: var(--card-elevation);
    padding: var(--list-wrapper-padding);
    margin-top: var(--list-wrapper-margin-top);
}

.ul-wpr ul {
    list-style-type: var(--list-style);
    padding: var(--list-padding);
    margin: var(--list-margin);
}

.ul-wpr li {
    margin-bottom: var(--list-item-margin-bottom);
    transition: all 0.3s ease 0s;
    padding: var(--list-item-padding);
}

.ul-wpr li .contact-row {
    display: var(--list-item-row-display);
    -webkit-box-align: var(--list-item-row-alignment);
    align-items: var(--list-item-row-alignment);
    height: var(--list-item-row-height);
}

.ul-wpr li .contact-row>span {
    display: var(--list-item-row-display);
    -webkit-box-align: var(--list-item-row-alignment);
    align-items: var(--list-item-row-alignment);
}

.ul-wpr li .contact-row svg {
    // fill: rgb(135, 150, 175);
    fill: var(--icon-color);
    margin-right: 12px;
    transition: fill 0.2s ease-in-out 0s;
}

// ---
.ul-wpr li .tag--row {
    display: var(--tag-row-display);
    -webkit-box-align: var(--tag-row-alignment);
    align-items: var(--tag-row-alignment);
    margin-top: var(--tag-row-margin-top) // height: var(--tag-row-height);
}

.ul-wpr li .tag--row>span {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.ul-wpr li .tag--row .tag--icon {
    // fill: rgb(135, 150, 175);
    fill: var(--icon-color);
    margin-right: var(--tag-icon-margin-right);
    transition: fill 0.2s ease-in-out 0s;
}

// .ul-wpr li .form-control {
//     background-image: none !important;
// }
.ul-wpr li input {
    flex: var(--list-item-input-flex);
    display: var(--list-item-input-display);
    margin: var(--list-item-input-margin);
    padding-right: var(--list-item-input-padding-right);
    padding-left: var(--list-item-input-padding-left);
    border-radius: var(--list-item-input-border-radius);
    border-width: var(--list-item-input-border-width);
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    font-size: var(--list-item-input-font-size);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: var(--list-item-input-width);
    background-image: var(--list-item-input-background-image);
    cursor: pointer;
    font-family: var(--content-font-family);
    color: var(--text-color)
}

// .ul-wpr li .inputChat {
//     flex: 1 0 0px !important;
// }

.ul-wpr li input:focus {
    background-image: var(--list-item-input-focus-background-image);
    cursor: var(--list-item-input-focus-cursor);
}

.ul-wpr li .action-btns {
    opacity: 0;
    height: var(--list-item-action-btns-height);
    width: var(--list-item-action-btns-width);
    margin-left: auto;
    transition: opacity 0.2s ease-in-out 0s;
}

.ul-wpr li .action-btns button {
    background: transparent;
    outline: none;
    border: 0px;
    cursor: pointer;
    color: var(--icon-color);
    float: right;
    transition: all 0.2s ease-in-out 0s;
    padding: 5px;
}

.ul-wpr li .action-btns-arrow {
    opacity: 1;
    height: var(--list-item-action-btns-height);
    width: var(--list-item-action-btns-width);
    margin-left: auto;
    transition: opacity 0.2s ease-in-out 0s;
}

.ul-wpr li .action-btns-arrow button {
    background: transparent;
    outline: none;
    border: 0px;
    cursor: pointer;
    color: var(--icon-color);
    float: right;
    transition: all 0.2s ease-in-out 0s;
    padding: 5px;
    width: 41px;
    height: 36px;
}

.ul-wpr li .action-btns-arrow button:hover svg {
    fill: var(--icon-hover-color);
}

.ul-wpr li:hover .input-row {
    border-radius: var(--list-item-input-row-hover-border-radius);
    background-color: var(--list-item-input-row-hover-background);
}

.ul-wpr li:hover .action-btns {
    opacity: 1;
}

.ul-wpr li .action-btns button:hover svg {
    fill: var(--icon-hover-color);
}

.ul-wpr li .contact-row:hover span svg {
    fill: var(--icon-hover-color);
}

.ul-wpr li .contact-row:hover div svg {
    fill: var(--icon-hover-color);
}

// ----
.ul-wpr li .tag--row:hover span .tag--icon {
    fill: var(--icon-hover-color);
}

.ul-wpr li .tag--row:hover div .tag--icon {
    fill: var(--icon-hover-color);
}

.ul-wpr li #contact-row-source-page:hover div input {
    color: rgb(5, 102, 255);
    text-decoration: underline;
}

.ul-wpr-chat {
    margin-right: 8px !important;
    margin-left: 8px !important;
}

.ul-wpr-chat li {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.project-name-icon {
    // fill: #8796af;
    fill: var(--icon-color)
}

.contact-row:hover>span>.project-name-icon {
    // fill: #0566ff;
    fill: var(--icon-hover-color)
}

.project-name-icon:hover {
    fill: var(--icon-hover-color)
}

.invalid--email {
    color: var(--error-color);
    position: relative;
    top: -8px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 34px;
    margin-top: 5px;
}

/* Lead tags
/* ************************************** */

.lead-tag-content-wpr {
    // padding: 6px 9px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.lead-tag-content-wpr>svg {
    // fill: #8796af;
    fill: var(--icon-color);
    margin-right: 12px;
    margin-top: 2px;
    align-self: flex-start;
    transition: all 0.2s ease-in-out 0s;
}

.lead-tag-content-wpr input {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    flex: 1 1 90px;
    border-radius: 0px;
    border: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
    outline: none;
    color: rgb(8, 15, 26);
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
}

.lead-tag-content-wpr form {
    position: relative;
    width: 100%;
    height: 26px;
}

.lead-tags--container-wpr {
    // display: flex;
    // flex-flow: row wrap;
    // -webkit-box-align: center;
    // align-items: center;
    margin: 4px -12px;
}

.lead-tags--container {
    width: 100%;
    position: relative;
    top: -3px;
    left: 8px;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
    gap: 6px 4px;
    margin-bottom: 6px;
    padding-right: 20px;
}

.ng-select-tags-wpr {
    height: 30px;
}

// .lead-tag {
//     display: inline-block;
// }

// .lead-assigned-tag {
//     margin-right: 6px;
//     font-weight: 400;
//     font-family: "Poppins", "Roboto", "Arial", sans-serif;
//     font-size: 12px;
//     color: #757575;
// }



// .lead-tag-delete {
//     opacity: 0;
//     color: var(--error-color);
// }

// .lead-tag:hover {
//     .tag_icon_in_ws_msgs {
//         fill: rgba(233, 235, 238, 0.3) !important;
//     }
//     .lead-tag-delete {
//         opacity: 1;
//         font-size: 16px;
//         position: relative;
//         top: 3px;
//     }
// }

.manage_tags-cnctc-info {
    color: var(--manage-tag-font-color);
    font-size: var(--manage-tag-font-size);
    font-weight: var(--manage-tag-font-weight);
    margin-top: var(--manage-tag-margin-top);
    cursor: pointer;
    margin-left: var(--manage-tag-margin-left);
    font-family: var(--content-font-family);
    display: var(--manage-tag-diplay)
}

.manage_tags-cnctc-info:hover {
    text-decoration: underline;
}

// ---- Assigned tag without icon

.no-contact-tags-wpr {
    display: flex;
}

.no-contact-tags-wpr-on-chat {
    width: 196px;
}

.no-contact-tags {
    margin-top: var(--no-tags-margin-top);
    margin-bottom: var(--no-tags-margin-bottom);
    font-weight: var(--no-tags-font-weight);
    font-size: var(--no-tags-font-size);
    line-height: var(--no-tags-line-height);
    letter-spacing: var(--no-tags-letter-spacing);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: var(--no-tags-line-clamp);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family: var(--content-font-family);
    color: var(--secondary-text-color);
}



.contact--tag {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: var(--contact-tag-font-weight);
    font-size: var(--contact-tag-font-size);
    line-height: var(--contact-tag-line-height);
    letter-spacing: var(--contact-tag-letter-spacing);
    padding: 3px 5px 4px;
    word-break: break-word;
    cursor: default;
    font-family: var(--content-font-family);
}

.delete-tag-btn {
    border: none;
    outline: none;
    background: transparent;
    border-radius: 0px 4px 4px 0px;
    padding: 0px 4px 0px 3px;
    cursor: pointer;
}

.delete-tag-btn:hover {
    background: var(--delete-tag-btn-hover);
}

.tags-btn-wpr {
    display: flex;
    border-radius: 4px;
    background-color: var(--contact-tag-background);
    color: var(--contact-tag-color);
}

.tags-btn-wpr button {
    margin-left: -2px;
}

.tags-btn-wpr button svg {
    position: relative;
    top: 1px;
    fill: var(--delete-tag-icon-color);
}



/* ./ Lead tag 
  /* ************************************ */

/*  Lead properties 
  /* ************************************ */
// .lead-property-wpr {
//     min-height: 36px;
//     display: flex;
//     -webkit-box-align: center;
//     align-items: center;
//     flex-wrap: wrap;
//     padding: 6px 12px;
//     transition: all 0.3s ease 0s;
// }
// .lead-property {
//     display: flex;
//     flex-direction: row;
//     -webkit-box-pack: start;
//     justify-content: flex-start;
//     -webkit-box-align: center;
//     align-items: center;
//     flex: 1 1 0%;
//     max-width: 247px;
// }
// .lead-property svg {
//     width: 22px;
//     height: 22px;
//     fill: rgba(100, 116, 145, 0.6);
//     margin-right: 16px;
// }

// .ul-lead-properties .lead-property-wpr .propertyName {
//     flex: 0 0 auto;
//     max-width: 130px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

// .ul-wpr .lead-property-wpr .propertyColon {
//     margin-right: 4px;
//     display: inline-block;
// }

// .ul-wpr .lead-property-wpr input {
//     flex-basis: auto;
//     flex-shrink: 1;
//     padding-bottom: 0px;
//     padding-top: 2px;
//     background-color: transparent;
//     flex: 1 0 172px;
//     display: inline-block;
//     margin: 0px;
//     padding-right: 12px;
//     padding-left: 0px;
//     border-radius: 0px;
//     border-width: 0px 0px 2px;
//     border-top-style: initial;
//     border-right-style: initial;
//     border-left-style: initial;
//     border-top-color: initial;
//     border-right-color: initial;
//     border-left-color: initial;
//     border-image: initial;
//     border-bottom-style: solid;
//     border-bottom-color: transparent;
//     padding-top: 2px;
//     font-size: 14px;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     height: 24px;
// }

.label-and-input-wpr {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.propertyLabel {
    position: relative;
    // top: 2px;
    margin-right: 6px;
    color: var(--secondary-text-color);
    font-weight: var(--contact-custom-property-font-weight);
    white-space: nowrap;
    font-family: var(--content-font-family);
}

#address-arrow-down {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#address-arrow-down.up {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.extra-small-btn {
    box-shadow: unset !important;
}

// .btn-cancel-lead-note {
//     color: #555;
//     background-color: #efefef;
//     box-shadow: unset !important;
// }

// .btn-cancel-lead-note:hover {
//     background-color: #e8e8e8;
// }

::ng-deep .conv-dtls-custom-mat-tooltip {
    background-color: var(--dark-background);
    color: var(--text-color-on-dark);
    font-size: 12px !important;
    border-radius: 2px !important;
    font-family: var(--header-font-family);
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    white-space: pre-line !important;
    text-align: center !important;
    line-height: 17px !important;
}


#lead-address::placeholder {
    color: #8796af;
    opacity: 1;  /* Firefox */
    font-weight: 300;
}

#lead-address::-ms-input-placeholder {
    color: #8796af; /* Edge 12 -18 */
    font-weight: 300;
}

#lead-company::placeholder {
    color: #8796af;
    opacity: 1; /* Firefox */
    font-weight: 300;
}

#lead-company::-ms-input-placeholder {
    color: #8796af; /* Edge 12 -18 */
    font-weight: 300;
}

#lead-street::placeholder {
    color: #8796af;
    opacity: 1; /* Firefox */
    font-weight: 300;
}

#lead-street::-ms-input-placeholder {
    color: #8796af; /* Edge 12 -18 */
    font-weight: 300;
}


#lead-province::placeholder {
    color: #8796af;
    opacity: 1; /* Firefox */
    font-weight: 300;
}

#lead-province::-ms-input-placeholder {
    color: #8796af; /* Edge 12 -18 */
    font-weight: 300;
}


#lead-postalzip::placeholder {
    color: #8796af;
    opacity: 1; /* Firefox */
    font-weight: 300;
}


#lead-postalzip::-ms-input-placeholder {
    color: #8796af; /* Edge 12 -18 */
    font-weight: 300;
}


#lead-country::placeholder {
    color: #8796af;
    opacity: 1; /* Firefox */
    font-weight: 300;
}

#lead-country::-ms-input-placeholder {
    color: #8796af; /* Edge 12 -18 */
}


#lead-city::placeholder {
    color: #8796af;
    opacity: 1; /* Firefox */
    font-weight: 300;
}

#lead-city::-ms-input-placeholder {
    color: #8796af; /* Edge 12 -18 */
    font-weight: 300;
}

.custom-property::placeholder {
    color: #8796af;
    opacity: 1; /* Firefox */
    font-weight: 300;
}


.custom-property::-ms-input-placeholder {
    color: #8796af; /* Edge 12 -18 */
    font-weight: 300;
}



// --------------------------------------------------
// ANIMATED ARROW https://codepen.io/cbrst/pen/ebxwLJ
// --------------------------------------------------


// .arrow--container {
//     font-size: 14px;
//     // color: #8796af;
//     color: var(--icon-color);
//     font-weight: 400;
//     cursor: pointer;
// }

// .arrow--container:hover {
//     font-size: 14px;
//     color: #0f62ff;

//     font-weight: 400;
//     cursor: pointer;
// }

// .arrow--container:hover .arrow-wrapper .arrow span {
//     $size: 9px;
//     width: $size * 1.414 !important;
//     right: calc($size / 1.414) * -1;
// }

// #arrow_tag_conv .arrow {
//     $size: 6px;
//     $width: 2px;

//     cursor: pointer;
//     display: block;
//     width: calc($size / 1.414);
//     height: calc($size / 1.414) * 2;
//     position: relative;

//     & span,
//     &:before,
//     &:after {

//         // background: #8796af;
//         background: var(--arrow-background);
//         content: "";
//         display: block;
//         width: $size;
//         height: $width;
//         position: absolute;
//         top: calc(50% - (#{$width} / 2));
//     }

//     &:before {
//         transform: rotate(-45deg);
//     }
//     &:after {
//         transform: rotate(45deg);
//     }

//     & span {
//         width: 0;
//     }
//     &:hover span {
//         width: $size * 1.414;

//     }

//     @each $direction in "left" "right" {
//         &.arrow--#{$direction} {
//             & span,
//             &:before,
//             &:after {
//                 #{$direction}: 0;
//                 transform-origin: #{$direction} 50%;
//             }

//             &:before,
//             &:after {
//                 transition: #{$direction} 0.3s 0.05s;
//             }

//             & span {
//                 transition: width 0.3s, #{$direction} 0.3s 0.05s;
//             }

//             &:hover {
//                 & span,
//                 &:before,
//                 &:after {
//                     #{$direction}: calc($size / 1.414) * -1;
//                 }
//             }
//         }
//     }
// }