.chart-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-header-subtitle {
    font-size: 18px;
    font-family: 'Poppins', 'Roboto', 'Arial', sans-serif;
}

.range-selected {
    margin: 8px !important;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
    font-size: 16px;
    display: block;
}

.graph-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-left: 18px;
}

.filter-label {
    text-align: left;
    color: black;
}

.chart-container{
    //background-color: #1e88e5;
    font-family: 'Poppins', 'Roboto',  'Arial', sans-serif;
}

.mat-dialog-ok-btn {
    background-color: var(--blue-light);
    color: #fff;
}