<div class="header-left" [class.is_opened]="IS_OPEN">
    <img *ngIf="!IS_OPEN" src="assets/img/logos/tiledesk_logo_white_small.svg">
    <img *ngIf="IS_OPEN" src="assets/img/logos/tiledesk-logo_new_white.svg">
</div>
<div class="header-right">
    <div class="toggle-setting-sidebar-icon-wpr" [class.is_opened]="IS_OPEN"
        (click)="onToggleSidebarWith(IS_OPEN = !IS_OPEN)">
        <span *ngIf="IS_OPEN" class="material-icons toggle-setting-sidebar-icon">
            chevron_left
        </span>
        <span *ngIf="!IS_OPEN" class="material-icons toggle-setting-sidebar-icon">
            chevron_right
        </span>
    </div>
    <!-- <i class="material-icons cds-btn-back" (click)="goBack()">keyboard_arrow_left</i> -->
    <div class="header-title">{{ selectedChatbot?.name }}</div>
    <div class="right-opts">
        <div *ngIf="isBetaUrl">
            <button class="btn btn-primary pull-right cds-blue-button cds-beta"
                type="button">
                BETA
            </button>
        </div>

        <div class="btn-group"  [ngStyle]="{'z-index':popup_visibility === 'block' ? '1051' : '1' }">
            <button id="cds-publish-btn" class="btn btn-primary" type="button" style="margin-left: 14px;"
                (click)="publish()">
                <span class="material-icons">
                    send
                </span>
                Publish
            </button>
            <!-- (click)="isOpenDropdown(isOpen = !isOpen)"  [ngClass]="{'caret-rotate-0': is0penDropDown === true, 'caret-rotate-180': is0penDropDown === false}" -->
            <button id="cds-publish-btn-option" type="button" class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>

            <ul class="dropdown-menu" role="menu" style="border-radius: 3px ;background-color: rgb(51, 64, 94)">
                <li>

                    <a class="custom---anchor" *ngIf="selectedChatbot?.public === false"
                        (click)="publishOnCommunity()" style="padding-left: 15px; padding-right: 15px;">
                        <div class="btn-in-dropdown">
                            Deploy on Community
                        </div>

                    </a>
                    <a class="custom---anchor" *ngIf="selectedChatbot?.public === true"
                        (click)="onRemoveFromCommunity()" style="padding-left: 15px; padding-right: 15px;">
                        <div class="btn-in-dropdown">
                            Remove from community
                        </div>
                    </a>
                </li>
                <li>
                    <a *ngIf="selectedChatbot?.public === true" 
                        class="custom---anchor-community"
                        (click)="onGoToCommunity()" 
                        style="padding-left: 15px; padding-right: 15px;">
                        <div class="btn-in-dropdown">
                            Community window
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div *ngIf="TRY_ON_WA === true">
            <button id="cds-test-it-wab-out-btn" class="btn btn-primary cds-blue-button cds-test-it-out"
                style="background-color: #45c351; color: #fff; border-color: #fff; height: 34px; margin-top: 8px;"
                type="button" (click)="openWhatsappPage()">
                <img width="18px" height="auto" src="assets/img/channel_icons/whatsapp-logo_green.svg">Try on
                WhatsApp
            </button>
        </div>
        <div>
            <button id="cds-test-it-out-btn" class="btn btn-primary pull-right cds-blue-button cds-test-it-out"
                type="button" (click)="openTestSiteInPopupWindow()">
                Test it out
            </button>
        </div>
        <div class="cds-close-btn-wpr">

            <button class="btn pull-right cds-close-btn" (click)="goToBack()">
                <span class="material-icons cds-close-btn-icon">
                    clear
                </span>
            </button>

        </div>
    </div>
</div>