.table td, .table th {
    vertical-align: middle
}

.table td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.table td p{
    margin-bottom: 0px;
}

.btn-visibility-custom{
    padding-top:2px; 
    padding-bottom:1px; 
    padding-right:3px; 
    padding-left:3px;
    margin-top:5px;
    margin-bottom:5px;
}

.card form [class*="col-"] {
    padding: 0px;
}

  /* Remove input background colour for Chrome autocomplete */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
  }

// @media (min-width: 992px) {

//     .card form [class*="col-"]:last-child {
//         padding-right: 0px; 
//     }
// }

// START NEW NK 
// .dropdown.dropdown-lg .dropdown-menu {
//     margin-top: -1px;
//     padding: 6px 20px;
// }
// .input-group-btn .btn-group {
//     display: flex !important;
// }
// .btn-group .btn {
//     border-radius: 0;
//     margin-left: -1px;
// }
// .btn-group .btn:last-child {
//     border-top-right-radius: 4px;
//     border-bottom-right-radius: 4px;
// }
// .btn-group .form-horizontal .btn[type="submit"] {
//   border-top-left-radius: 4px;
//   border-bottom-left-radius: 4px;
// }
// .form-horizontal .form-group {
//     margin-left: 0;
//     margin-right: 0;
// }
// .form-group .form-control:last-child {
//     border-top-left-radius: 4px;
//     border-bottom-left-radius: 4px;
// }



// @media screen and (min-width: 768px) {
//     #adv-search {
//         width: 500px;
//         margin: 0 auto;
//     }
//     .dropdown.dropdown-lg {
//         position: static !important;
//     }
//     .dropdown.dropdown-lg .dropdown-menu {
//         min-width: 500px;
//     }
// }


// @media screen and (max-width: 767px) {
//     .dropdown-menu-right {
//         right: -71px;
//         min-width: 260px;
//     }
// }


// .input-group .input-group-btn {
//     padding: 3px 12px !important;
// }

@media screen and (min-width: 768px) {
    .advancedOptionForm {
        width: 500px;
        margin: 0 auto;
    }

    .section-select-dept {
        padding-right: 15px;
    }
}

@media screen and (max-width: 767px) { 
    .advancedOptionForm {
       padding-right: 25px;
       padding-left: 25px;
    }
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   font-size: 0.9em !important;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 0.9em !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 0.9em !important;
}

// THE 'X' INSIDE THE 'fullText' INPUT
.buttonInside{
    position:relative;
    // margin-bottom:10px;
  }

// THE 'X' INSIDE THE 'fullText' INPUT
// .glyphicon-remove{
#clear-fulltext-search{    
    // .fulltext-remove-btn{
    position:absolute;
    right: 0px;
    top: 8px;
    padding:2px;
    font-size: 0.9em;
    color: #000;
    z-index: 3;
    cursor: pointer;
}

// .glyphicon-remove:hover {
//     cursor: pointer;
// }

//   CUSTOMIZE FONT WEIGHT AND COLOR OF THE 'X' INSIDE THE SELECT OPTIONS 'FILTER BY DEPT' 
// .ng-select .ng-select-container {

//     color: #000 !important;
//     font-weight: 1000 !important;
// }



// HOVER ON THE MEMBER LIST OF THE COLUMN SERVED BY
p.member:hover {
    background-color: #58c1d6;
    color: #fff;
    border-radius: 4px;
}

// END NEW NK


// start TOOLTIP
/* Tooltip container */
.tooltipx {
    position: relative;
    display: inline-block;
    // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltipx .tooltiptext {
    visibility: hidden;
    // width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 12px !important;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    /* Position the tooltip text - TOP */
    // width: 420px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltipx:hover .tooltiptext {
    visibility: visible;
  }
  // /.end TOOLTIP 


