.table td, .table th {
    vertical-align: middle
}

.table td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.table td p{
    margin-bottom: 0px;
}

.btn-visibility-custom{
    padding-top:2px; 
    padding-bottom:1px; 
    padding-right:3px; 
    padding-left:3px;
    margin-top:5px;
    margin-bottom:5px;
}

.card form [class*="col-"] {
    padding: 0px;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

// @media (min-width: 992px) {

//     .card form [class*="col-"]:last-child {
//         padding-right: 0px; 
//     }
// }