<div class="header">
    <div class="form-group" [ngClass]="{'is-error':intentNameResult === false || intentNameAlreadyExist}">
        <i class="i-priority-color-mark"
            [ngClass]="{'has--error': intentNameResult === false || intentNameAlreadyExist }"></i>
        <label class="control-label title" [ngClass]="{'noDisplay':(intentName && intentName.length>0)}">
            {{ 'EnterIntentName' | translate }}
        </label>
        <!-- (blur)="onBlurIntentName($event)" -->
        <input type="text" [(ngModel)]="intentName" class="input form-control" 
            (ngModelChange)="onChangeIntentName($event)" (keydown.enter)="onEnterButtonPressed($event)">
        <div *ngIf="intentNameAlreadyExist" class="error---msg"> The block name must be unique </div>
        <div *ngIf="intentNameNotHasSpecialCharacters === false" class="error---msg"> The block name cannot contain
            special characters </div>

    </div>

    <div class="btns-wpr">
        <div class="onff-intent-webhook">
            <mat-slide-toggle labelPosition="before" [checked]="intentSelected.webhook_enabled"
                (change)="toggleIntentWebhook($event)">
                <span *ngIf="intentSelected.webhook_enabled">webhook enabled </span>
                <span *ngIf="!intentSelected.webhook_enabled">webhook disabled </span>
            </mat-slide-toggle>
        </div>
        <!-- <div class="loading-btn-wrapper">
            <button id="cds-save-intent-btn" class="btn btn-primary btn-save loading-btn" [disabled]="showSpinner"
                type="button" (click)="onSaveIntent()">
                <span style="color: #202124;font-weight: 500" class="loading-btn__text"> {{ 'Save' | translate }}</span>
            </button>
        </div> -->
    </div>

</div>