@import "./src/assets/sass/cds/_variables.scss";
$width-title: 80%;

.header {
    // position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: $height-header;
    max-height: $height-header;
    margin-top: 10px;
    .onff-intent-webhook {
      font-size: 13px;
      line-height: normal;
      color: #ffffffb3;
      font-weight: normal;
      font-family: 'Poppins','Roboto',Arial,sans-serif;
    }
    

    .i-priority-color-mark {
        background-color: $color-blue-hex;
        position: absolute;
        border-radius: 10px;
        top: 22px;
        left: 12px;
        display: block;
        width: 8px;
        height: 8px;
    }
    .has--error {
        background-color: #ed2e19;
    }
    .form-group {
        width: 100%;
        margin: 0;
        padding: 0 30px;
        .form-control {
            border: 0;
            background-size: 0 2px, 100% 0px;
            background-image: linear-gradient($color-light-gray-hex, $color-light-gray-hex);
            transition-duration: 0.2s;
        }
        label.title {
            position: absolute;
            display: block;
            width: $width-title;
            top: 0;
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: 1.4em;
            line-height: $height-header;
            color: $color-light-gray-hex;
            // z-index: 1;
            &.noDisplay {
                display: none;
            }
        }
        input {
            // position: absolute;
            display: block;
            // width: $width-title;
            top: 0;
            // left: 30px;
            margin-top: 6px;
            padding: 0;
            color: $color-bck-light-gray-hex;
            font-size: 1.4em;
            // z-index: 2;
            position: relative;
        }
        .btn-save {
            position: absolute;
            width: calc(100% - $width-title);
            max-width: 100px;
            right: 10px;
            padding: 8px;
        }
    }

    .form-group {
        &.is-error {
            .form-control {
                background-image: linear-gradient($color-red-hex, $color-red-hex),
                    linear-gradient($color-light-gray-hex, $color-light-gray-hex);
                background-size: 100% 2px, 100% 1px;
                transition-duration: 0.3s;
            }
        }
        &.is-focused:not(.is-error) {
            .form-control {
                background-image: linear-gradient($color-blue-hex, $color-blue-hex),
                    linear-gradient($color-light-gray-hex, $color-light-gray-hex);
                background-size: 100% 2px, 100% 1px;
                transition-duration: 0.3s;
            }
        }
    }
}

#cds-save-intent-btn {
    background: #3ea9f5;
    color: $light-black;
    box-shadow: none !important;
    font-weight: 500 !important;
    font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
}

#cds-save-intent-btn:hover {
    background: rgb(138, 180, 248, 0.8) !important;
}

.error---msg {
    position: absolute;
    top: 39px;
    font-size: 11px;
    color: #ed2e19;
    font-weight: 500;
}


.onff-intent-webhook {
    // position: absolute;
    // right: 180px;
    // top: 22px;
    align-self: center;
    // margin-top: 8px;

}

.switch-label {
    position: relative;
    top: -22px;
    right: -40px;
    font-size: 14px;
    color: #e8eaed;

}


// Config
$circle-size: 40px;

// Unfortunatly we need a wrapper element containing the fixed width for centering the button within the animtion (you could also apply the width as an inline style).
.loading-btn-wrapper {
    display: inline-block;
    width: 150px;
    height: $circle-size;
    text-align: center;
    right: 0px;
    // position: absolute;
    margin: 5px 10px 5px 5px;
}

.loading-btn {
  $root: &;
  
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  
  &#cds-save-intent-btn{
    background: #3ea9f5;
    border: 1px solid #3ea9f5;
    box-shadow: none;
  }
  
  margin: 0px;
//   border-radius: 16px;

  cursor: pointer;

  transition: all .33s ease-in-out;
  
  &#cds-save-intent-btn:hover {
    background: rgba(138, 180, 248, 0.8);
    box-shadow: none;
    background-color: #1e293b;
    border: 1px solid white;
  }

  &, &:focus {
    outline: none;
  }
  
  // Styles for all states
  &--pending,
  &--success,
  &--fail {
    // Morph button to circle (width equals height)
    // width: $circle-size;
    
    // Prevent any further clicks triggering events during animation
    pointer-events: none;
    cursor: default;
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    
    // Hide text
    #{$root}__text {
      opacity: 0;
    }
  }
  
  // State "pending"
  // Show loading indicator
  &--pending:before {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    display: inline-block;

    // Can't use percentage here as we already show this icon during morph animation
    height: #{$circle-size * .7};
    width: #{$circle-size * .7};

    border: 3px solid rgba(255, 255, 255, .33);
    border-top-color: #fff;
    border-radius: 50%;

    animation:
      loading-btn--fade-in .33s ease,
      loading-btn--rotation .66s linear 0s infinite;
  }
    
  // Success state - show check icon
  &--success {
    // Different background color (also on hover)
    &, &:hover {
      background: #8bc34a !important;
    //   border: 1px solid #8bc34a;
    }

    // Use "after" pseudo to trigger new fade in animation, as "before" is already used on "--pending"
    &:after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;

      // Simulate checkmark icon
      display: inline-block;
      height: 25%;
      width: 20%; //50%;

      border: 3px solid #fff;
      border-top-width: 0;
      border-right-width: 0;
      outline: none;
      transform: translate(-50%, -75%) rotate(-45deg);

      animation: 
        loading-btn--fade-in .6s ease;
    }
  } 

  // Fail state - show cross icon
  &--fail {
    
    // Different background color (also on hover)
    &, &:hover {
      background: #ff5722;
    //   border: 1px solid #ff5722;
    }

    // Use "after" pseudo to trigger new fade in animation, as "before" is already used on "--pending"
    &:after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;

      // Simulate cross icon
      display: inline-block;
      height: 50%;
      width: 25%;

      // Using background gradient is the only solution creating a cross with a single element
      background: 
        linear-gradient(
          to bottom,
          transparent 44%, 
          #fff 44%, 
          #fff 56%,  
          transparent 56%
        ),

        linear-gradient(
          to right,
          transparent 44%, 
          #fff 44%, 
          #fff 56%,  
          transparent 56%
      );

      transform: translate(-50%, -50%) rotate(-45deg);

      animation: 
        loading-btn--fade-in .6s ease;
    }
  } 
  
  // Text has to be positioned absolute in order prevent line-breaks or trimming of text when morphing button to circle.  
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    font-size: 13px;
    color: #fff;
    
    transition: inherit;
  }
}


/**
 * Animations
 */

@keyframes loading-btn--fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading-btn--rotation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


/**
 * Optical stuff - has nothing todo with button animation.
 */

 .state-list {
    margin-bottom: 12px;

    .loading-btn-wrapper {
      background: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 10px,
        #f0f0f0 10px,
        #f0f0f0 20px
      );
    }
}
  
.loading-btn-wrapper {
    & + & {
      margin-left: 8px;
    }
}

.btns-wpr {
  display: flex;
  background: rgba(255,255,255,.2392156863);
  margin-top: 10px;
  margin-right: 12px;
  padding: 10px;
  border-radius: 30px;
  height: 30px;
  min-width: 190px;
  justify-content: center;
  // display: flex;
  // background: #ffffff3d;
  // padding-left: 10px;
  // margin-right: 12px;
  // border-radius: 4px;
  // /* gap: 20px; */
  // padding: 10px;
  // border-radius: 30px;
  // height: 30px;
  // width: 200px;
  // text-align: end;
}
