<div>

  <div class="row">
    <div class="col-md-12">
      <div class="chart-wrapper-visitors">
        <div class="chart-title-visitors" style="cursor: pointer; text-align: center;">
          Numero di visitatori ultimi 7 giorni
        </div>
        <div class="card-content chart-container" style="position: relative; margin: auto 12px; height: 35vh;">
          <canvas id="last7dayVisitors"></canvas>
        </div>
      </div>
    </div>

  </div>

  <!-- <div class="row" style="text-align: center; margin-top:6px">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card" style="border-radius: 10px;">
        
        <div style="padding-bottom: 12px; padding-top:30px; font-size: 18px; font-family: 'Google Sans', sans-serif !important;">
          <p>{{ "Analytics.HeatMapTitle" | translate }}</p>
        </div>

        <div class="card-content" style="margin:0px auto; padding-top: 0px;padding-bottom: 60px;">
        
        </div>
      </div>
    </div>
  </div> -->

</div>