@import "./src/assets/sass/cds/_variables.scss";

.cds-action-content{
    padding: 0px 10px;
}

.previewContent{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding: 3px 0px;
    
    .title-preview-label{
     color: #6c6859;
     font-size: 12px; 
     margin: 0px;
    }

    .icon-action img{
        height: 16px;
        filter: brightness(0) saturate(100%) invert(42%) sepia(2%) saturate(2720%) hue-rotate(9deg) brightness(91%) contrast(81%);
    }
}

.icon-action {
    transition: opacity .15s ease 0s;
    opacity: .85;
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 20px;
    }
}  

.preview-divider {
    margin: 0;
    border-top: 2px solid $light-brown;
}


.content {
    max-height: calc(100vh - 200px);
    padding: 20px 40px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.custom-divider {
    margin-top: 40x;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee1c;
}

.text-editor-wrapper {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    //height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.field-box {
    display: flex;
    flex-direction: column;
    // width: 70%;
    // min-width: 90px;
    // gap: 10px;
}

.title-label {
    color: white;
    font-size: 14px;
    margin-bottom: 6px;
}

.select-box {
    margin-bottom: 24px;
}

.select-box#intentSelect {
    margin-bottom: 10px;
}

div.value-wrp {
    position: relative;

    .flex {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        .close {
            // height: 16px;
            width: 17px;
            top: -7px;
            right: -7px;
            font-size: 15px;
            border-radius: 50%;
            background: white;
            cursor: pointer;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;

            &:hover {
                background: #ecb606;
                color: white;
            }
        }
    }

    div.tag {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 8px;
        right: unset;
        border-radius: 7px;
        margin: 5px;
        padding: 5px 10px;
        background-color: #ecb606;
        color: white;

    }
}


// cds-textarea#question ::ng-deep,
// cds-textarea#assignTo ::ng-deep {
//     display: flex;

//     textarea {
//         border: 1px solid rgb(118, 118, 118) !important;
//         resize: none !important;
//         padding: 8px 20px !important;
//         height: 25px !important;
//         min-height: 25px !important;
//     }
// }

// cds-textarea#assignTo ::ng-deep {
//     display: flex;

//     textarea {
//         border: 1px solid rgb(118, 118, 118) !important;
//         resize: none !important;
//         padding: 8px 20px !important;
//         height: 25px !important;
//         min-height: 25px !important;
//     }
// }

.textarea-editor-wrapper {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;

    .text-editor {
        position: relative;
        margin: 0;
        padding: 0;

        .response-controls {
            position: absolute;
            top: 10px;
            left: 0px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            .control-button {
                cursor: pointer;
                color: $color-bck-gray-hex;
                transition: color 0.3s;
                height: 20px;

                &.delete {
                    height: 24px;
                    width: 24px;
                    background: $color-bck-gray-hex;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    em {
                        font-size: 1.15em;
                        color: $color-withe-hex;
                        transition: color 0.3s;
                    }
                }
            }

            .control-button:hover {
                color: $color-withe-hex;

                &.delete {
                    box-shadow: 0 2px 6px 0 rgb(255 255 255 / 15%);

                    em {
                        color: $color-red-hex;
                    }
                }
            }
        }

        .box-textarea {

            // width: calc(100% - 40px);
            // margin-left: 20px;
            input {
                border-radius: 8px;
                background: $color-withe-hex;
                border: 1px solid $color-withe-hex;
                overflow-x: hidden;
                overflow-y: auto;
                width: calc(100% - 2.5em);
                padding: 20px;
                color: $color-text-dark-hex;
                font-size: 1.15em;
                line-height: 25px;
                resize: vertical;

                &.customPrefix {
                    padding-left: 20px;
                    width: calc(100% - 2.5em - 20px);
                }
            }

            .input-prefix {
                position: absolute;
                top: 14px;
                left: 8px;
                color: #7d7d7d;
                font-weight: 800;
            }

            .input-suffix {
                position: absolute;
                top: 14px;
                right: 8px;
                color: #7d7d7d;
                font-weight: 800;
                margin-right: 40px;
            }
        }

        .text-editor-drop {
            position: absolute;
            display: inline-flex;
            margin: 0;
            left: 0;
            top: -30px;
            color: #dcdcdc;
            cursor: grab;
        }
    }

    .editor-utils {
        position: relative;
        margin: -20px 50px 0px 0px;
        float: right;

        .num-chars {
            background: $color-light-gray-hex;
            padding: 0px 8px;
            border-radius: 12px;
            font-size: 0.8em;
            color: $color-text-box-hex;
            float: right;

            &.error {
                background: $color-orange-hex;
            }
        }

        .text-editor-insert-attribute {
            float: right;
        }

        .moji-picker {
            float: right;
        }
    }
}


.text-editor-wrapper {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;

    .text-editor {
        position: relative;
        margin: 0;
        padding: 0;

        .response-controls {
            position: absolute;
            top: 10px;
            left: 0px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            .control-button {
                cursor: pointer;
                color: $color-bck-gray-hex;
                transition: color 0.3s;
                height: 20px;

                &.delete {
                    height: 24px;
                    width: 24px;
                    background: $color-bck-gray-hex;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    em {
                        font-size: 1.15em;
                        color: $color-withe-hex;
                        transition: color 0.3s;
                    }
                }
            }

            .control-button:hover {
                color: $color-withe-hex;

                &.delete {
                    box-shadow: 0 2px 6px 0 rgb(255 255 255 / 15%);

                    em {
                        color: $color-red-hex;
                    }
                }
            }
        }

        .box-textarea {

            // width: calc(100% - 40px);
            // margin-left: 20px;
            input {
                border-radius: 8px;
                background: $color-withe-hex;
                border: 1px solid $color-withe-hex;
                overflow-x: hidden;
                overflow-y: auto;
                width: calc(100% - 2.5em);
                padding: 20px;
                color: $color-text-dark-hex;
                font-size: 1.15em;
                line-height: 25px;
                resize: vertical;

                &.customPrefix {
                    padding-left: 20px;
                    width: calc(100% - 2.5em - 20px);
                }
            }

            .input-prefix {
                position: absolute;
                top: 14px;
                left: 8px;
                color: #7d7d7d;
                font-weight: 800;
            }

            .input-suffix {
                position: absolute;
                top: 14px;
                right: 8px;
                color: #7d7d7d;
                font-weight: 800;
                margin-right: 40px;
            }
        }

        .text-editor-drop {
            position: absolute;
            display: inline-flex;
            margin: 0;
            left: 0;
            top: -30px;
            color: #dcdcdc;
            cursor: grab;
        }
    }

    .editor-utils {
        position: relative;
        margin: -20px 50px 0px 0px;
        float: right;

        .num-chars {
            background: $color-light-gray-hex;
            padding: 0px 8px;
            border-radius: 12px;
            font-size: 0.8em;
            color: $color-text-box-hex;
            float: right;

            &.error {
                background: $color-orange-hex;
            }
        }

        .text-editor-insert-attribute {
            float: right;
        }

        .moji-picker {
            float: right;
        }
    }
}

#cds-addkb-btn {
    background: #006cff;
    color: #fff;
    box-shadow: none;
    font-weight: 500;
    font-family: Poppins, Roboto, Arial, sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 10px;
}

#cds-addkb-btn:hover {
    opacity: .8 !important;
}

.custom-icon {
    margin-right: 6px;
    font-size: 15px;
}

.animated-icon {
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.play-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #cbcbcb;
}

.play-button:hover {
    cursor: pointer;

    .button-text {
        text-decoration: underline;
    }

    .play-icon {
        font-size: 17px;
    }
}

.sync-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #cbcbcb;
}

.indexing-hint {
    color: #ff4e4e;
    font-size: 14px;
    filter: drop-shadow(2px 2px 6px black);
}

.variable-container {
    display: flex;
    height: 35px;
    flex-direction: row;
    align-items: center;
    border: solid 1px black;
    background-color: white;
    padding: 0px 20px;
    border-radius: 10px;
    font-size: 14px;
}

.condition-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 3px 0px;
}

.condition-text {
    font-size: 14px;
    font-weight: 600;
    color: white;
}