.wa-step-modal-title {
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
}

.connect-wa-first-step-modal-content .img-wpr {
    text-align: center;
    margin-bottom: 6px;
    background-color: rgb(80, 255, 121, 0.5);
    padding: 8px 0px;
}

.connect-wa-first-step-link-title {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 3px;
}

.connect-wa-first-step-link {
    display: flex;
    gap: 6px;
    flex-direction: row;
    align-items: flex-start;
}

.round--dot{
    width: 22px;
    height: 22px;
    min-width: 22px;
    background: #25d366;
    border-radius: 50%;
    text-align: center;
}

.round--dot span {
    font-size: 14px;
    vertical-align: middle;
    color: #fff;
}

.wa-step-modal-quick-tip-wpr {
    display: flex;
    gap: 6px;
    align-items: flex-start;
}


input[type="text"] {
    // min-width: 307px !important;
    height: 36px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9 !important;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff !important;
    border: solid 1px #ddd;
}
