
<div class="main-content" style="padding-top:0px; background-repeat: no-repeat; 
background-image: url(''); background-attachment: scroll; background-position: bottom right;
background-color: #ffffff">


    <div class="container" style="">

      <!-- <div class="row"> -->
          <!-- <div class="jumbotron"> -->


       
          <h1>Expand Your Account</h1>
          <p>and bring your <strong>customer communication</strong> to a whole <strong>new level.</strong></p>
       

          <div class="row">

            <div class="col-md-7"> 
                <div class="btn-group btn-group-lg">
                  <a class="btn btn-primary communicator active" href="" aria-current="page">
                    Pro*
                    <!-- <span class="badge">1</span> -->
                </a>
                  <a class="btn btn-default automation" href="">
                    Enterprise
                    <!-- <span class="badge">100</span> -->
                  </a>
                </div>

            </div>

            <div class="col-md-5"> 
              <div class="card">
            
                <div class="card-content">

                    <div class="quantity-counter">

                      <div class="row">

                        <div class="col-md-4"> 
                            <a href="#remove" class="minus">-</a>
                        </div>

                        <div class="col-md-4" style="text-align:center"> 
                            <!-- <input type="text" readonly="" value="1"> -->

                            {{ 1}}
                          </div>

                          <div class="col-md-4"> 
                              <a href="#add" class="plus">+</a>
                            </div>
                      </div>

                      <input type="text" readonly="" value="1">
                      <a href="#remove" class="minus">-</a>
                      <a href="#add" class="plus">+</a>
                      <div class="quantity-status" style="">The price for 3 operators is always $15/mo ($10/mo for every next operator)
                      </div>
                    </div>
                  
                </div>
      
              </div>
            </div>
          </div>
      <!-- </div> -->
</div>
