// @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
@import "./src/assets/sass/md/_variables.scss";
$color-pro-plan: #3ea9f5;

// #9c27b0;
$color-enterprise-plan: #6772e5;

.modal {
  top: 0;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

button.close {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.modal-body {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 0px;
  padding-left: 15px;

  // nk custom
  // min-height:130px
}

.modal-footer {
  // padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  // background-color: #edf0f1;
  background-color: #eeeeee;
  padding-top: 10px !important;
}

/* MODAL END */

.close-pricing-page {
  width: fit-content;
  position: absolute;
  top: 0px;
  left: calc(100% - 55px);
}

.close-btn {
  font-size: 35px;
  font-weight: 100;
  // color: #fff;
  color: rgb(60, 72, 88);
  cursor: pointer;
  margin-top: 16px;
  // opacity: 0.2;
}

.close-btn:hover {
  opacity: 0.5;
}

@media (min-width: 691px) {
  .plan-bckgrnd {
    // background-size: 475px 449px, 188px 100%, 179px 100%;
    background-size: 199px 449px, 188px 100%, 179px 100%;
    background-position: right -12px bottom, right, calc(100% - 179px);
    // background-repeat: repeat-y;
    background-repeat: no-repeat;
  }

  .pro-plan-bckgrnd {
    // background-image: url("/assets/img/background-card-vertical_2.svg"),
    background-image: url("../../assets/img/background-card-vertical_2.svg"),
      linear-gradient(to bottom, $color-pro-plan 0%, $color-pro-plan 100%),
      linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #eff2f6 50%, #eff2f6 100%);
  }

  .enterprise-plan-bckgrnd {
    background-image: url("../../assets/img/background-card-vertical_2.svg"),
      // background-image: url("/assets/img/background-card-vertical_2.svg"),
      linear-gradient(to bottom, $color-enterprise-plan 0%, $color-enterprise-plan 100%),
      linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #eff2f6 50%, #eff2f6 100%);
  }

  // .a-plan-bckgrnd {
  //   background-image: url("../../assets/img/background-card-vertical_2.svg"),
  //     // background-image: url("/assets/img/background-card-vertical_2.svg"),
  //     linear-gradient(to bottom, #19a95d 0%, #19a95d 100%),
  //     linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #eff2f6 50%, #eff2f6 100%);
  // }

  // .b-plan-bckgrnd {
  //   background-image: url("/assets/img/background-card-vertical_2.svg"),
  //     linear-gradient(to bottom, #00a1c2 0%, #00a1c2 100%),
  //     linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #eff2f6 50%, #eff2f6 100%);
  // }

  // .c-plan-bckgrnd {
  //   background-image: url("/assets/img/background-card-vertical_2.svg"),
  //     linear-gradient(to bottom, #9966ff 0%, #9966ff 100%),
  //     linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #eff2f6 50%, #eff2f6 100%);
  // }
}

.quantity-status {
  max-width: 300px;
  margin: auto;
  text-align: center;
  color: #8894ab;
  font-size: 14px;
}

.quantity-box-title {
  text-align: center;
  font-weight: 400 !important;
  // margin-bottom: 26px;
  margin-bottom: 12px;
}

.btn-only-icon {
  border: none;
  color: white;
  padding: 8px;
  cursor: pointer;
  border: solid 4px #d3d7e0;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.btn-icon {
  color: #d3d7e0;
  font-size: 40px;
}

.pro-plan-btn-only-icon:hover {
  border-color: $color-pro-plan;

  .btn-icon {
    // color: #5292e9
    color: $color-pro-plan;
  }
}

.enterprise-plan-btn-only-icon:hover {
  border-color: $color-enterprise-plan;

  .btn-icon {
    // color: #5292e9
    color: $color-enterprise-plan;
  }
}

.quantity {
  // color: #5292e9;
  // color: #d3d7e0;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin-top: 23px;
  height: 58px;
}

.pro-plan-quantity {
  color: $color-pro-plan;
}

.enterprise-plan-quantity {
  color: $color-enterprise-plan;
}

// .btn-only-icon:hover {
//     // border-color: #5292e9;
//     border-color: #3EA9F5;

//     .btn-icon {
//         // color: #5292e9
//         color: #3EA9F5
//     }
// }

.pro-plan-card-bckgrnd {
  // background: linear-gradient(240deg, rgba($color-pro-plan, 0.8), $color-pro-plan );
  background: #fff;
  // color: #fff;
  color: $color-pro-plan;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.enterprise-plan-card-bckgrnd {
  // background: linear-gradient(240deg, rgba($color-enterprise-plan, 0.8), $color-enterprise-plan );
  background: #fff;
  // color: #fff;
  color: $color-enterprise-plan;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

// https://codepen.io/jboeijenga/pen/PwaNxb
label.price {
  // font-weight:600;
  right: -3px;
  // top:8px;
  top: 20px;
  margin-left: 50px;
  position: absolute;
  display: inline-block;
  // width:120px;
  width: 140px;
  height: 64px;
  // line-height:40px;
  // font-size:24px;
  margin-left: 15px;
  background: $color-pro-plan;
  // box-shadow:(rgba(255,255,255, .2) 1px 1px, rgba(255,255,255, .2) 1px 1px);
  border-radius: (0 3px 2px 0px);

  &:after {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 0;
    height: 0;
    display: inline-block;
    line-height: 0;
    border-width: 32px;
    border-style: solid;
    //   border-color: #FFDC40 #FFDC40 #FFDC40 transparent;
    border-color: $color-pro-plan $color-pro-plan $color-pro-plan transparent;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 6px;
    width: 120px;
    left: -35px;
    height: 4px;
    -webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
    z-index: -1;
    //   @include transform(skew(-5deg) rotate(-5deg));
  }
}

.price-text {
  position: relative;
  top: 17px;
  color: #fff;
  font-weight: 100;
}

.total-price {
  text-align: center;
  border-style: solid;
  border-width: 4px;
  line-height: 1.5;
  font-size: 60px;
  color: #f0806f;
  border-image: linear-gradient(to left,
      rgba(255, 255, 255, 1) 1%,
      rgba(211, 215, 224, 1) 50%,
      rgba(255, 255, 255, 1) 100%) 100% 0 100% 0/3px 0 3px 0 stretch;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-left: 1.3em;
  font-size: 20px;
  padding-bottom: 15px;
  // color:#3EA9F5;
  font-weight: 300;
}

li:before {
  content: "\f00c";
  /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
}

.pro-plan-ul>li {
  color: $color-pro-plan;
}

.pro-plan-ul>li:before {
  color: $color-pro-plan;
}

.enterprise-plan-ul>li {
  color: $color-enterprise-plan;
}

.enterprise-plan-ul>li:before {
  color: $color-enterprise-plan;
}

.pro-plan-btn {
  background-color: $color-pro-plan;
  box-shadow: none;
}

.enterprise-plan-btn {
  background-color: $color-enterprise-plan;
  box-shadow: none;
}

.pro-plan-btn:hover {
  background-color: $color-pro-plan;
}

.outline-btn {
  background-color: transparent;

  border-radius: 40px;
  padding: 18px 36px;
  line-height: 1.33em;

  font-weight: 500;
  // font-size: 32px;
  font-size: 18px;
}

.pro-plan-outline-btn {
  color: $color-pro-plan;
  border: 2px solid $color-pro-plan;
}

.pro-plan-outline-btn:active {
  background-color: #ffffff !important;
  color: $color-pro-plan;
}

.enterprise-plan-outline-btn {
  color: $color-enterprise-plan;
  border: 2px solid $color-enterprise-plan;
}

.custom-hr {
  border-style: solid;
  border-width: 4px;
  border-image: linear-gradient(to left, white 1%, #d3d7e0 50%, white 100%) 100% 0 100% 0/0px 0 3px 0 stretch;
}

.close-payment-report-icon:hover {
  opacity: 1 !important;
}

@media (max-width: 992px) {
  .hide-when-is-open-PaymentReport {
    display: none;
  }

  .modal-payment-report {
    height: fit-content;
  }
}

.pay-with-card-btn:hover {
  background-color: #039be5 !important;
  -webkit-box-shadow: 0 12px 20px -10px rgba(3, 115, 229, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(3, 115, 229, 0.2) !important;
  box-shadow: 0 12px 20px -10px rgba(3, 115, 229, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(3, 115, 229, 0.2) !important;
}

.pay-with-card-btn {
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

// @import url('https://fonts.googleapis.com/css?family=Kalam');
// .highlight {
//     font-family: 'Kalam', cursive;
//     font-size: 18px;
//     line-height: 27px;
//     color: #18212c;
//     white-space: pre;
//     background-color: #ffff7f;
// }

// linear-gradient(240deg, rgba(66, 48, 174, 0.6), rgba(107, 114, 203, 1) );

// .btn-icon:hover {
//     color: #5292e9
// }

// .minus {
//     font-size: 50px;
//     // display: inline-block;
//     // height: 58px;
//     // width: 58px;
//     // line-height: 46px;
//     color: #d3d7e0;
//     // border: solid 4px #d3d7e0;
//     // border-radius: 50%;
//     float: right;
//     text-align: center;
//     cursor: pointer;
//     padding: 15px;
// }

// .plus {
//     font-size: 50px;
//     // display: inline-block;
//     // height: 58px;
//     // width: 58px;
//     // line-height: 46px;
//     color: #d3d7e0;
//     // border: solid 4px #d3d7e0;
//     // border-radius: 50%;
//     float: left;
//     text-align: center;
//     cursor: pointer;
//     padding: 15px;
// }

/* New
/* ------------------------------------------ */
.pricing-page-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding: 0px 0px 32px;
}

.pricing-page {
  width: 100%;
  margin-right: 40px;
}

.pricing-page-header-wpr {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  gap: 0px;
  align-items: flex-start;
  margin-top: 40px;
  min-height: 78px;
}

.pricing-page-header-title-wpr {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.pricing-page-header-title {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

.pricing-page-header-title-text {
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
}

.pricing-page-header-period-switch-wpr {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgb(8, 15, 26);
  -webkit-box-flex: 0;
  flex-grow: 0;
  -webkit-box-align: center;
  align-items: center;
}

.pricing-page-header-period-switch {
  background-color: rgba(100, 116, 145, 0.08);
  border-radius: 26px;
  padding: 4px;
  height: 50px;
}

.period-btn {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  padding: 0px 14px;
  border: 0px;
  background-color: transparent;
  height: 100%;
  border-radius: 22px;
  font-weight: 500;
  color: rgb(8, 15, 26);
  cursor: pointer;
}

.selected-period-btn {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  padding: 0px 14px;
  border: 0px;
  height: 100%;
  border-radius: 22px;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(5, 102, 255);
  box-shadow: rgb(0 27 71 / 8%) 0px 3px 8px;
}

.plan-switch-wpr {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgb(8, 15, 26);
  -webkit-box-flex: 0;
  flex-grow: 0;
  -webkit-box-align: center;
  align-items: center;
}

.plan-switch-btns-wpr {
  background-color: rgba(100, 116, 145, 0.08);
  border-radius: 26px;
  padding: 4px;
  height: 50px;
}

.plan-btn {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  padding: 0px 14px;
  border: 0px;
  background-color: transparent;
  height: 100%;
  border-radius: 22px;
  font-weight: 500;
  color: rgb(8, 15, 26);
  cursor: pointer;
}

.selected-plan-btn {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  padding: 0px 14px;
  border: 0px;
  height: 100%;
  border-radius: 22px;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(5, 102, 255);
  box-shadow: rgb(0 27 71 / 8%) 0px 3px 8px;
  font-family: Poppins, Roboto, Arial, sans-serif;
}

.span-24 {
  display: block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
}

.plan-card-wpr {
  background-color: rgb(255, 255, 255);
  padding: 32px 40px;
  color: rgb(100, 116, 145);
  display: flex;
  flex-direction: row;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-radius: 8px;
  border: 2px solid rgb(239, 242, 246);
  gap: 40px;
}

.plan-card-left-content {
  flex: 1 1 0%;
}

.plan-card-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.01em;
  color: rgb(8, 15, 26);
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
}

.span-8 {
  display: block;
  width: 8px;
  min-width: 8px;
  height: 8px;
  min-height: 8px;
}

.plan-description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgb(100, 116, 145);
}

.span-32 {
  display: block;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
}

.span-4 {
  display: block;
  width: 4px;
  min-width: 4px;
  height: 4px;
  min-height: 4px;
}

.plan-features {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
  max-height: none;
  flex: 1 1 calc(50% - 20px);
  // max-width: calc(50% - 20px);
  padding-left: 0px;
  padding-bottom: 0px !important;
}

.plan-features-wpr {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  width: 100%;
}

.plan-features::before {
  content: unset !important;
}

.plan-features-text-and-icon-wpr {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

.plan-features-icon {
  background: rgb(220, 233, 255);
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.span-16 {
  display: block;
  width: 16px;
  min-width: 16px;
  height: 16px;
  min-height: 16px;
}

.plan-features-text {
  color: rgb(8, 15, 26);
  position: relative;
  padding-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
}

.check-icon {
  fill: rgb(5, 102, 255);
  color: rgb(5, 102, 255);
}

.plan-card-vertical-line {
  background: rgb(239, 242, 246);
  width: 1px;
  display: flex;
}

.plan-card-right-content {
  flex-direction: column;
  align-items: normal;
  width: 180px;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
}

.plan-card-price-wpr {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  pointer-events: none;
}

.plan-card-price {
  height: auto;
  position: relative;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.02em;
  color: rgb(8, 15, 26);
  font-weight: 500;
}

.plan-card-currency {
  position: absolute;
  top: 7px;
  margin-left: 4px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  font-weight: 500;
}

.plan-card-price-period {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgb(8, 15, 26);
  font-weight: 500;
  margin-left: 4px;
}

.span-12 {
  display: block;
  width: 4px;
  min-width: 4px;
  height: 4px;
  min-height: 4px;
}

.btn-size-xl-round {
  border-radius: 26px;
  font-size: 18px;
  height: 46px;
  line-height: 23px;
  min-width: 160px;
  padding: 0 20px;
  text-transform: unset;
  font-weight: 400;
  box-shadow: unset;
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
}

.btn-new {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.btn--primary {
  background-color: var(--blue-light);
  border-color: var(--blue-light);
  color: #fff;
}

.btn--primary:hover {
  background-color: #0049bd;
  border-color: #0049bd;
  color: #fff;
}

.btn-text {
  text-transform: none;
  font-weight: 300;
}

.checkout-btn-wpr {
  display: flex;
  justify-content: center;
}

.two-months-free-text-container {
  height: 26px;
  margin-top: 6px;
  // background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  background: linear-gradient(90deg, hsl(269, calc(1 * 52.7%), 52.7%), hsl(325, calc(1 * 31.7%), 51.8%));
  // background: #0566ff;
  color: #fff;
  font-weight: 400;
  padding: 3px 6px;
  border-radius: 4px;
}

.highlighted-features-wpr {
  display: flex;
  /* flex-flow: row wrap; */
  /* -webkit-box-align: center; */
  /* margin: -3px -2px; */
  /* flex: 1 1 0%; */
  align-items: center;
  /* justify-content: flex-start; */
  /* transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1) 0s; */
  gap: 12px;
  flex-direction: row;
}

.highlighted-features {
  border-radius: 4px;
}

.highlighted-feature {
  padding: 0px 6px;
  font-size: 14px;
  font-weight: 400;
}


.contact-sales-additional-features {
  margin-top: 28px;
  margin-bottom: 12px;
  // color: #0566ff;
  color: #080f1a;
  font-weight: 400;
  /* text-align: center; */
  font-size: 16px;
  font-family: Poppins, Roboto, Arial, sans-serif;
}