
 <!-- background-repeat: no-repeat;  -->
 <!-- background-attachment: scroll; background-position: bottom right; -->

<div class="main-content" style="padding-top:0px; background-color: #ffffff;
    min-height: calc(100% - 53px);margin-top: 0px; padding: 0px">

<!-- background-image: url(), linear-gradient(to bottom, #3EA9F5 0%, #3EA9F5 100%),linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #eff2f6 50%, #eff2f6 100%);
background-size: 475px 449px, 188px 100%, 179px 100%;
background-position: right -12px bottom,right,calc(100% - 179px);    background-repeat: no-repeat; -->

<div style="min-height: calc(100vh - 53px);" class="plan-bckgrnd"
[ngClass]="{'pro-plan-bckgrnd' : selectedPlanName === 'pro', 'enterprise-plan-bckgrnd' : selectedPlanName === 'enterprise'}">
  <div class="row">
    <div class="col-md-12">
      <div class="close-pricing-page">
        <i class="material-icons close-btn" (click)="goBack()">
          clear
        </i>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="margin-top:10px; font-family: Google Sans">Upgrade Your Account 
          <!-- to
          <span *ngIf="selectedPlanName === 'pro'">Pro</span> 
          <span *ngIf="selectedPlanName === 'enterprise'">Enterprise</span>
          Plan -->
        </h1>
        <!-- <p>and bring your <strong>customer communication</strong> to a whole <strong>new level.</strong></p> -->
      </div>
      <!-- <div class="col-md-4">
        <span class="highlight">  Try our PRO plan free for 30 days.</span> 
      </div> -->
    </div>

    <div class="row">

      <!-- /// PRO -->
      <div class="col-md-6"> 

        <div style="margin-top:30px">
          <div class="btn-group btn-group-lg">
            <a class="btn" 
            [ngClass]="{'pro-plan-btn' : selectedPlanName === 'pro', 'default-btn' : selectedPlanName === 'enterprise'}"
            (click)="selectedPlan('pro')" style="width: 152px;">
              Pro
              
            </a>
            <a class="btn" 
              [ngClass]="{'enterprise-plan-btn' : selectedPlanName === 'enterprise', 'default-btn' : selectedPlanName === 'pro'}"
              (click)="selectedPlan('enterprise')">
              Enterprise
            
            </a>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
              <!-- <img class="pricing__use-case-squiggle u__hidden-md-min" src="https://marketing.intercomassets.com/assets/pricing/use-cases/squiggle-739aa764d68d44b1f5025ea2e1d93145f701abe535b64b9182e6b37bdc4e7c33.png" alt="Squiggle"> -->
             <div style="margin-bottom:15px">
                <h3 *ngIf="selectedPlanName === 'pro'" style="color: #3EA9F5;line-height: 1.3em;"> 
                  <span style="font-weight:500"> Pro includes </span>
                  <span style="display:block">everything in Free, and:</span> 
                </h3>

                <h3 *ngIf="selectedPlanName === 'enterprise'" style="color: #9c27b0;line-height: 1.3em;"> 
                  <span style="font-weight:500"> Enterprise includes </span>
                  <span style="display:block">everything in Pro, and:</span> 
                </h3>
              </div>
          </div> 
        </div>

        <div class="row">
          <div class="col-md-12">
               <ul *ngIf="selectedPlanName === 'pro'" class="pro-plan-ul" >
                <li>Operating hours</li> 
                <li>Unlimited departments</li> 
                <li>Agents groups</li>
                <li>Analytics + Realtime monitor</li>
                <li>Unlimited chat history</li>
                <li>Data export</li>
                <li>Post-chat surverys</li>
              </ul>

              <ul *ngIf="selectedPlanName === 'enterprise'" class="enterprise-plan-ul">
                <li>Widget unbranding</li> 
                <li>Dedicated account manager</li> 
                <li>Onboarding + Training</li>
                <li>Software engineer support</li>
                <li>Advanced Analytics</li>
              </ul>

          </div>
        </div>
      </div>

     
      <div class="col-md-6"> 
         
        <div class="card" style="box-shadow: 0 14px 30px 0 rgba(60,72,91,0.22); border-radius:10px ">

          <div class="card-header" 
          [ngClass]="{'pro-plan-card-bckgrnd' : selectedPlanName === 'pro', 'enterprise-plan-card-bckgrnd' : selectedPlanName === 'enterprise'}"
          style="margin:0px; box-shadow:none; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
            <h3 style="margin-top:5px;margin-bottom:5px;"> 
              <span *ngIf="selectedPlanName === 'pro'">  Pro*  </span>
              <span *ngIf="selectedPlanName === 'enterprise'">  Enterprise  </span>
            </h3> 

            <label class="price" style="line-height:15px">
                <span class="price-text">
                  <span style="position: relative;top: -16px;"> € </span>  
                  <span class="price" style="font-size:40px; font-weight: 400;">
                    
                    <span *ngIf="selectedPlanName === 'pro'">  
                      {{proPlanPerAgentPrice}} 
                    </span>
                    <span *ngIf="selectedPlanName === 'enterprise'">  
                      {{enterprisePlanPerAgentPrice}}  
                    </span>
                  
                  </span>
                  <span class="price-agent" style="display: block;">per agent per month</span>
                </span>
              </label>
          </div>
          <div class="card-content">
              <div class="row">
              <div class="col-md-12"> 
                <div class="quantity-box-title"> 
                  <h2 style="margin-top:10px"> Operators </h2>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4"> 
                <a>
                  <button class="btn-only-icon" (click)="decreaseOperatorNumber()" style="float: right"
                    [ngClass]="{'pro-plan-btn-only-icon' : selectedPlanName === 'pro', 'enterprise-plan-btn-only-icon' : selectedPlanName === 'enterprise'}">
                    <i class="material-icons btn-icon">
                      remove
                    </i>
                  </button>
                </a>
              </div>

              <div class="col-xs-4 col-sm-4 col-md-4"> 
                <div class="quantity" style="text-align:center"
                  [ngClass]="{'pro-plan-quantity' : selectedPlanName === 'pro', 'enterprise-plan-quantity' : selectedPlanName === 'enterprise'}">
                  {{ operatorNo }}
                </div>
              </div>

              <div class="col-xs-4 col-sm-4 col-md-4"> 
                <a>
                  <button class="btn-only-icon"(click)="increaseOperatorNumber()"
                  [ngClass]="{'pro-plan-btn-only-icon' : selectedPlanName === 'pro', 'enterprise-plan-btn-only-icon' : selectedPlanName === 'enterprise'}">
                    <i class="material-icons btn-icon">
                      add
                    </i>
                  </button>
                </a>
              </div>
            </div>

            <div class="row">

              <div class="col-sm-12">

                <div class="total-price">


                 <span style="font-size: 30px;position: relative;top: -17px;left:18px">€</span> 
                 <span style="position: relative;left: 8px;font-weight: 700;">
                  <span *ngIf="perMonth === true"> 
                    {{ numberOfAgentPerPrice }}
                  </span>
                  <span *ngIf="perYear === true"> 
                    {{ numberOfAgentPerPrice * 12 }}
                  </span>
                 
                </span>
                <span style="font-size: 18px;position:relative;top: -4px;">
                 
                  <span *ngIf="perMonth === true"> 
                      per month
                  </span>
                  <span *ngIf="perYear === true"> 
                      per year
                  </span>
                </span>
              
                </div>

              </div>
            </div>


            <div class="row">

              <div class="col-sm-12">

                <div class="period-options" style="text-align:center; margin-top:25px"> 
                  <div class="radio">
                      <label>
                          <!-- (click)="periodOptionSelected(perMonth)"  -->
                        <input type="radio" name="optionsRadios" [checked]="perMonth === true"  value="perMonth"  (click)="setPeriod('perMonth')">
                          per month
                      </label>

                      <label>
                        <input type="radio" name="optionsRadios" value="perYear" (click)="setPeriod('perYear')">
                          per year
                      </label>
                    </div>
                  </div>

                  <!-- <div *ngIf="selectedPlanName === 'pro'">
                      <p  class="highlight">  Try our PRO plan</p> 
                      <p  class="highlight">  free for 30 days!</p> 
                  </div> -->
              </div>

            </div>
            <!-- <div class="quantity-status" style="">
              <span class="currency-symbol" style="position: relative;
              top: -12px;
              font-size: 20px;">€</span>
              <span class="price" style="font-size:40px">8</span>
              <span class="price-agent">per agent per month</span>
            </div> -->

           </div>  <!-- ./ card-content -->
        </div> <!-- ./ card -->


        <div class="col-md-12" style="background-color: rosybrown">


          <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
          <button *ngIf="perMonth === true"
            style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
            id="checkout-button-plan_EjFHNnzJXE3jul"  role="link"  (click)="stripeProPlanPerMonthCheckout()">
              Checkout x Month
          </button>

          <button *ngIf="perYear === true"
            style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
            id="checkout-button-plan_FHYWzhwbGermkq" role="link" (click)="stripeProPlanPerYearCheckout()">
              Checkout x year
          </button>

          <div id="error-message">{{ displayStipeCheckoutError }} </div>

        </div>

      </div>
    </div> <!-- ./ row -->

    <div class="row">
        <div class="col-sm-12">

          <div style="text-align: center; margin-top: 15px;"> 
            <button type="button" class="btn outline-btn btn-lg" 
              [ngClass]="{'pro-plan-outline-btn' : selectedPlanName === 'pro', 'enterprise-plan-outline-btn' : selectedPlanName === 'enterprise'}">
            
            <span *ngIf="selectedPlanName === 'pro'"> + Get Pro Plan  </span> 
            <span *ngIf="selectedPlanName === 'enterprise'"> Get Enterprise Plan  </span> 
            </button>
          </div>
        </div>
    </div>

  </div>
</div>
</div>




<!-- <script>
    var stripe = Stripe('pk_test_lurAeBj5B7n7JGvE1zIPIFwV');
  
    var checkoutButton = document.getElementById('checkout-button-plan_EjFHNnzJXE3jul');
    checkoutButton.addEventListener('click', function () {
      // When the customer clicks on the button, redirect
      // them to Checkout.
      stripe.redirectToCheckout({
        items: [{plan: 'plan_EjFHNnzJXE3jul', quantity: 1}],
  
        // Do not rely on the redirect to the successUrl for fulfilling
        // purchases, customers may not always reach the success_url after
        // a successful payment.
        // Instead use one of the strategies described in
        // https://stripe.com/docs/payments/checkout/fulfillment
        successUrl: 'https://your-website.com/success',
        cancelUrl: 'https://your-website.com/canceled',
      })
      .then(function (result) {
        if (result.error) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer.
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
        }
      });
    });
  </script> -->
