@import "./src/assets/sass/cds/_variables.scss";

.box-sx {
    font-family: $mdb-font-family;
    font-size: 16px;
}

.card-title {
    font-size: 1em;  
    color: $color-blue-hex;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

.add-responses {
    grid-gap: 15px;
    display: grid;
    .add-response { 
        text-align: center;
        cursor: pointer;
        box-sizing: border-box;
        outline: none;
        margin: 0;
        padding: 0;
        i {
            align-items: center;
            border: 1px solid rgba($color-light-gray-hex, $bg-opacity-empty);
            border-radius: 4px;
            color: $color-text-select-hex;
            display: flex;
            width: 100%;
            padding: 8px;
            justify-content: center;
            font-size: 1.5em;

            background: $action-item-background;
            color: $action-item-color;
            border: 3px solid $bg-color-dark-hex;
            &:hover {
                outline: 2px solid rgba(236,182,6,.6901960784)!important;
            }
        }
        span {
            color:$action-item-color;
            font-size: 0.8em;
            font-weight: 400;
            line-height: 19px;
        }
    }
}
