<!-- margin-top:6px; -->
<div class="navbar-brand" style="z-index: 1050;position: relative; padding-left:30px"
  [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }">
  <i class="material-icons" style="vertical-align: middle !important; cursor: pointer;"
    (click)="goBack()">keyboard_arrow_left</i>
  {{ "ChangePsw.ChangePsw" | translate }}
</div>

<ul class="bottom-nav" style="top: 5px;">
  <li class="btn-with-border-effect border-from-center" (click)="goToUserProfile()">
    <a> {{ "UserProfile.Profile" | translate }} </a>
  </li>
  <li class="btn-with-border-effect li-active">
    <a> {{ "UserProfile.ChangePsw" | translate }} </a>
  </li>
  <li class="btn-with-border-effect" (click)="goToAccountSettings()">
    <a>{{ "Settings" | translate }} </a>
  </li>
  <li class="btn-with-border-effect" (click)="goToNotificationSettings()">
    <a>{{ "Notification" | translate }} </a>
  </li>
</ul>

<div class="main-content" style="padding-top:0px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card--no-border" style="padding-top: 0px;padding-bottom: 25px">



          <!-- style="border-top:1px solid #eee" -->
          <div class="card-content">

            <div class="row">
              <div class="col-md-12">
                <h3 class="card_title__underlined">
                  <span class="card_title__underline">
                    {{ "UserProfile.ChangePsw" | translate }}
                  </span>
                </h3>
              </div>
              <div class="col-md-12">
                <div class="section-subtitle" style="width: calc((100% / 3) + 372px);"> </div>
              </div>
            </div>


            <!-- ---------------------------------- -->
            <!-- new -->
            <!-- ---------------------------------- -->
            <div class="login--container">
         

              <form [formGroup]="pswForm" (ngSubmit)="changePsw()">

                <label for="oldPassword">
                  {{ "ChangePsw.CurrentPsw" | translate }}
                </label>
                <input type="password" id="old-password" class="input" formControlName="oldPassword" required 
                  placeholder='{{ "ChangePsw.CurrentPsw" | translate }}'>

                
                <label for="password"> {{ "ChangePsw.NewPsw" | translate }}</label>
                <div class="pswrd-wpr">
                  <input id="reset-password" type="password" class="input" formControlName="password" required
                    autocomplete="new-password" placeholder="{{ 'ChangePsw.NewPsw' | translate }}">

                  <button type="button" tabindex="-1" class="pswrd--eye-btn"
                    (click)="togglePswdVisibility(isVisiblePsw = !isVisiblePsw)">
                    <!-- --------------------------------------- -->
                    <!-- Eye on -->
                    <!-- --------------------------------------- -->
                    <svg *ngIf="isVisiblePsw" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24"
                      width="24" style="fill: rgb(165, 172, 183); vertical-align: middle;">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path
                        d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z">
                      </path>
                    </svg>
                    <!-- --------------------------------------- -->
                    <!-- Eye off -->
                    <!-- --------------------------------------- -->
                    <svg *ngIf="!isVisiblePsw" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                      width="24px" style="fill: rgb(165, 172, 183);  vertical-align: middle;">
                      <path d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none" />
                      <path
                        d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z" />
                    </svg>
                  </button>
                </div>


                <div *ngIf="formErrors?.password" class="is--danger" translate>
                  {{ formErrors?.password }}
                </div>

                <!-- <div class="is--danger" *ngIf="passwordFormField?.dirty">
                  <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('^(?=.*[A-Z])')}">
                    {{'AtLeastOneUppercaseLetter' | translate}} </span>
                  <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[a-z])')}">
                    {{'AtLeastOneLowercaseLetter' | translate}} </span>
                  <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(.*[0-9].*)')}">
                    {{'AtLeastOnedigit' | translate}} </span>
                  <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[!@#$%^&*])')}">
                    {{'AtLeastOneSpecialCharacter' | translate}} </span>
                  <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('.{8,}')}">
                    {{'AtLeast8CharactersLong' | translate}} </span>
                </div> -->

                <!-- pswForm.value.password {{ pswForm.value.password}} -->
                <password-strength [passwordToCheck]="pswForm.value.password"
                  (passwordStrength)="onPasswordStrengthChanged($event)"></password-strength>

                <label for="confirmPassword">
                  {{ "ConfirmPsw" | translate }}
                </label>
                <input type="password" id="confirmPassword" class="input" formControlName="confirmPassword" required 
                  placeholder='{{ "ChangePsw.ConfirmNewPsw" | translate }}'>
                

                <!-- -------------------------------------------------------------- -->
                <!-- CONFIRM PSW ERROR - THE ERROR "Password not match" IS DISPLAYED IF THERE IS NOT PWS ERROR -->
                <!-- -------------------------------------------------------------- -->
  
                <div *ngIf="pswForm.controls.confirmPassword.errors?.MatchPassword" class="is--danger">
                  <!-- Password not match -->
                  {{ "PswNotMatch" | translate }}
                </div>
                <!-- </div> -->
                <!-- [ngStyle]="{'background-color': primaryBrandColor ? primaryBrandColor : '#f0806f' }" -->
                <button type="submit" class="btn btn-primary" [disabled]="!pswForm.valid">
                  <!-- <span *ngIf="!showSpinnerInResetPswBtn"> -->
                  <!-- RESET PASSWORD  -->
                  {{ "UserProfile.ChangePsw" | translate }}

                  <!-- </span> -->
                  <!-- <span *ngIf="showSpinnerInResetPswBtn"> <i class="fa fa-spinner fa-spin"></i></span> -->
                </button>

              </form>
            </div>



            <!-- ---------------------------------- -->

            <!-- <div class="row">
              <label class="col-sm-2 custom-label">
                Password
              </label>
              <div class="col-sm-10">
                <input autocomplete="new-password" [(ngModel)]="oldPassword" class="" type="password"
                  placeholder='{{ "ChangePsw.CurrentPsw" | translate }}'>
              </div>

              <label class="col-sm-2 custom-label">
                {{ "ChangePsw.NewPsw" | translate }}
              </label>
              <div class="col-sm-10">
                <input (input)="onDigitNewPsw()" [(ngModel)]="newPassword" class="" type="password"
                  placeholder='{{ "ChangePsw.NewPsw" | translate }}'>
                <p *ngIf="newPassword?.length > 0 && newPassword?.length < 6" class="is-danger" style="color: #ff5252">
                  {{ "ChangePsw.PasswordMustBe" | translate }}
                </p>
              </div>


              <label class="col-sm-2 custom-label">
                {{ "ChangePsw.Confirm" | translate }}
              </label>
              <div class="col-sm-10">
                <input (input)="onConfirmNewPsw()" [(ngModel)]="confirmNewPassword" class="" type="password"
                  placeholder='{{ "ChangePsw.ConfirmNewPsw" | translate }}'>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-10 col-sm-offset-2">
                <button class="btn btn-primary" (click)="changePsw()" [disabled]="DISABLE_UPDATE_PSW_BTN">
                
                  {{ "UserProfile.ChangePsw" | translate }}
                </button>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ============ INFO MODAL: CHANGING PSW IN PROGRESS ============ -->
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayModalChangingPsw}"
    style="background-color: rgba(90,90,90,0.5);">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="closeModalChangingPsw()">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title">
            {{ "UserProfile.ChangePsw" | translate }}
            <!-- <code>{{id_toDelete}}</code> -->
          </h4>
        </div>

        <div class="modal-body" style="padding-right: 15px; padding-top:15px; padding-bottom:15px">

          <span *ngIf="SHOW_CIRCULAR_SPINNER">
            <div class="loader" style="top:25%;">
              <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="15" fill="none" stroke-width="2" stroke-miterlimit="10" />
              </svg>
            </div>
            <p style="margin-top: 60px; text-align: center; color: #566787; font-weight: 500">
              {{ "UserProfile.Processing" | translate }}
            </p>
          </span>

          <!-- IF THERE IS NO ERROR -->
          <span *ngIf="!SHOW_CIRCULAR_SPINNER && CHANGE_PSW_NO_ERROR">

            <div style="text-align: center">
              <i class="material-icons" style="color:#70b665">done</i>
              <p style="color:#70b665; font-weight: 500">
                {{ "UserProfile.Completed" | translate }}
              </p>
            </div>
            <p style="margin-top:10px; text-align: center; color: #566787; font-weight: 500">
              {{ "ChangePsw.PasswordSuccessfullyChanged" | translate }}
            </p>
          </span>

          <!-- IF THERE IS AN ERROR -->
          <span *ngIf="!SHOW_CIRCULAR_SPINNER && !CHANGE_PSW_NO_ERROR">

            <div style="text-align: center">
              <i class="material-icons" style="color:#ff5252">report_problem</i>
              <p style="color:#ff5252; font-weight: 500">
                {{ "Error" | translate }}
              </p>
            </div>
            <!-- IF THERE IS THE ERROR CURRENT PASSWORD IS INVALID  -->
            <p *ngIf="CURRENT_PSW_INVALID_ERROR"
              style="margin-top:10px; text-align: center; color: #566787; font-weight: 500">
              {{ "ChangePsw.CurrentPasswordIsInvalid" | translate }}
            </p>
            <!-- IF THERE IS ANOTHER ERROR -->
            <p *ngIf="CHANGE_PSW_OTHER_ERROR"
              style="margin-top:10px; text-align: center; color: #566787; font-weight: 500">
              {{ "ChangePsw.AnErrorHasOccurred" | translate }}
            </p>
          </span>

          <!-- IF THERE IS ANOTHER ERROR -->
          <!-- <span *ngIf="!SHOW_CIRCULAR_SPINNER && CHANGE_PSW_OTHER_ERROR">

            <div style="text-align: center">
              <i class="material-icons" style="color:#ff5252">report_problem</i>
              <p style="color:#ff5252; font-weight: 500">
                {{ "UserProfile.Error" | translate }}
              </p> 
            </div>
            <p style="margin-top:10px; text-align: center; color: #566787; font-weight: 500">
              {{ "ChangePsw.AnErrorHasOccurred" | translate }}
            </p>
          </span> -->

        </div>

        <div class="modal-footer" style="text-align: center;">
          <button class="btn btn-primary" [disabled]="SHOW_CIRCULAR_SPINNER || CHANGE_PSW_OTHER_ERROR"
            (click)="closeModalChangingPswHandler()" style="padding:12px 16px;">
            {{ "UserProfile.Continue" | translate }}
          </button>
        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>