#panel_actions_div{
    padding: 0px;
    box-shadow: #1321440a 0 12px 24px, #1321440a 0 8px 12px, #13214405 0 4px 4px, #13214403 0 2px 2px, #13214403 0 1px 1px, #11316008 0 0, #1131600f 0 0 0 1px;
    .menu-dragging {
        overflow: hidden;
        padding: 6px;
    }
    .section-title {
        padding-top: 3px;
        font-size: 11px;
        font-weight: 600;
        font-family: Poppins,Roboto,Arial,sans-serif;
        color: #394f5a;
        height: 30px;
        padding: 6px;
        background-color: #e7eeefcc;
        margin: 2px;
        border-radius: 6px;
    }
}

.actions-btns-wpr {
    width: 136px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    user-select: none;
    &:hover{
        // cursor: -webkit-grab; cursor: grab;
        box-shadow: #1321440a 0 12px 24px, #1321440a 0 8px 12px, #13214405 0 4px 4px, #13214403 0 2px 2px, #13214403 0 1px 1px, #11316008 0 0, #1131600f 0 0 0 1px;
    }
}
::ng-deep .cdk-drag-preview {
    .actions-btns-wpr  {
        background-color: #ffffff;
        // transform: rotate(-5deg)!important;
        box-shadow: #1321440a 0 12px 24px, #1321440a 0 8px 12px, #13214405 0 4px 4px, #13214403 0 2px 2px, #13214403 0 1px 1px, #11316008 0 0, #1131600f 0 0 0 1px;
    }
}


.action-btn-icon {
    display: inline-flex;
    color: #394f5a;
    padding: 0;
    vertical-align: middle;
    margin: 0 6px;
    .btn-tdblu-no-boxshadow {
        margin: 0;
        padding: 0!important;
        background: #3ea9f5!important;
        font-size: 12px;
        width: 20px;
        height: 20px;
    }
}

.action-btn-text{
    display: inline-flex;
    color: #394f5a;
    padding: 0;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 400;
}


.example-custom-placeholder {
    height: 30px;
    width: 100%;
    border-radius: 6px;
    display: block;
    background: #e7eeefcc;
}