#panel-tab{
    position: absolute;
    top:0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #4d5e79;
    border-left: solid 2px #b28e26;
    box-shadow: 0 0 42px 2px #000000c7;
    animation: width 0.9s ease-in-out;
}



#preloader {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999999;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 500ms ease;
    transition: opacity 500ms ease, display 500ms;
}

#preloader .logo {
    display: block;
    width: 109px;
    height: 39px;
    background-repeat: no-repeat;
    background-image: url('/assets/img/tiledesk-logo.png');      
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -55px;
    -moz-transition:all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    -ms-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
    /* order: name, direction, duration, iteration-count, timing-function */
    -moz-animation:blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 2s infinite ease-in-out; /* IE */
    animation:blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Opera and prob css3 final iteration */