.full-width {
    width: 100%;
}

::ng-deep .mat-list-base[dense] .mat-list-item .mat-list-item-content {
    padding: 0px !important;
}

::ng-deep .mat-icon-button  {
width: 24px;
    height: 24px;
    line-height: 14px;
    }