@import "./src/assets/sass/cds/_variables.scss";

.content {
    padding: 20px 0 30px 0;
    margin-left: 30px;
    margin-right: 30px;
    overflow: auto;
    max-height: calc(100vh - 200px);
}

#scrollMe {
    scroll-behavior: smooth;
    margin-bottom: 30px;
}

.text-editor-wrapper:hover {
    .text-editor {
        .response-controls {
            opacity: 1;
        }
    }
}
.text-editor-wrapper {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    .text-editor {
        position: relative;
        margin: 0;
        padding: 0;

        .response-controls {
            position: absolute;
            top: 10px;
            left: 0px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            .control-button {
                cursor: pointer;
                color: $color-bck-gray-hex;
                transition: color 0.3s;
                height: 20px;
                &.delete {
                    height: 24px;
                    width: 24px;
                    background: $color-bck-gray-hex;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    em {
                        font-size: 1.15em;
                        color: $color-withe-hex;
                        transition: color 0.3s;
                    }
                }
            }
            .control-button:hover {
                color: $color-withe-hex;
                &.delete {
                    box-shadow: 0 2px 6px 0 rgb(255 255 255 / 15%);
                    em {
                        color: $color-red-hex;
                    }
                }
            }
        }

        .box-textarea {
            // width: calc(100% - 40px);
            // margin-left: 20px;
            input {
                border-radius: 8px;
                background: $color-withe-hex;
                border: 1px solid $color-withe-hex;
                overflow-x: hidden;
                overflow-y: auto;
                width: calc(100% - 2.5em);
                padding: 20px;
                color: $color-text-dark-hex;
                font-size: 1.15em;
                line-height: 25px;
                resize: vertical;

                &.customPrefix {
                    padding-left: 20px;
                    width: calc(100% - 2.5em - 20px);
                }
            }

            .input-prefix {
                position: absolute;
                top: 14px;
                left: 8px;
                color: #7d7d7d;
                font-weight: 800;
            }

            .input-suffix {
                position: absolute;
                top: 14px;
                right: 8px;
                color: #7d7d7d;
                font-weight: 800;
                margin-right: 40px;
            }
        }

        .text-editor-drop {
            position: absolute;
            display: inline-flex;
            margin: 0;
            left: 0;
            top: -30px;
            color: #dcdcdc;
            cursor: grab;
        }
    }

    .editor-utils {
        position: relative;
        margin: -20px 50px 0px 0px;
        float: right;
        .num-chars {
            background: $color-light-gray-hex;
            padding: 0px 8px;
            border-radius: 12px;
            font-size: 0.8em;
            color: $color-text-box-hex;
            float: right;
            &.error {
                background: $color-orange-hex;
            }
        }
        .text-editor-insert-attribute {
            float: right;
        }
        .moji-picker {
            float: right;
        }
    }
}

.text-editor-wrapper:hover .text-editor {
    .response-controls {
        opacity: 1;
    }
}

/** TEXT AREA **/
mat-form-field.mat-focused ::ng-deep {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                input {
                    border: 1px solid $icon-color !important;
                    outline: 1px solid $icon-color !important;
                    transition: border 0.3s;
                }
            }
        }
    }
}

mat-form-field.box-textarea ::ng-deep {
    .mat-form-field-wrapper {
        padding-bottom: 0;
        .mat-form-field-flex {
            border-radius: 4px 4px 0 0;
            padding: 0px;
            // padding: 0 0.75em 0 0.75em;
            margin: 0;
            background-color: transparent !important;
        }

        .mat-form-field-infix {
            padding: 0px;
            border-top: 0px;
        }
    }
    .mat-form-field-underline {
        display: none;
    }
}

/** box-textarea **/
// .box-textarea {
//     // width: calc(100% - 40px);
//     // margin-left: 20px;
//     width: 100%;
//     textarea {
//         border-radius: 8px;
//         background: $color-withe-hex;
//         border: 1px solid $color-withe-hex;
//         overflow-x: hidden;
//         overflow-y: auto;
//         width: calc(100% - 3.5em);
//         padding: 20px 20px;
//         color: $color-text-dark-hex;
//         font-size: 1.15em;
//         line-height: 25px;
//         resize: vertical;
//     }
// }

.box-textarea {
    width: 100%;
    // margin-left: 20px;
    textarea {
        border-radius: 8px;
        background: $color-withe-hex;
        border: 1px solid $color-withe-hex;
        overflow-x: hidden;
        overflow-y: auto;
        width: calc(100% - 2.5em);
        padding: 20px 20px;
        color: $color-text-dark-hex;
        font-size: 1.15em;
        line-height: 25px;
        resize: vertical;
    }
}

.email-field-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // width: 70%;
    // min-width: 900px;
    // max-width: 1400px;
}

.title-label {
    color: white;
    font-size: 16px;
    margin-bottom: 3px;
    // margin-left: 30px;
    // margin-left: 13px;
}

.action-title {
    display: flex;
    align-items: center;
    margin-left: 28px;
    margin-bottom: 40px;
    justify-content: flex-start;
}

.custom-icon {
    color: $icon-color;
    margin-right: 6px;
}

.text-action {
    color: $icon-color;
    margin-right: 10px;
    margin-bottom: 0px;
}

.action-type {
    margin-bottom: 0px;
    color: white;
}

// ::ng-deep cds-textarea .subject-text-area {
//     textarea {
//         resize: none !important;
//     }
// }

::ng-deep cds-textarea.subject-text-area {
    textarea {
        resize: none !important;
    }
}

::ng-deep cds-textarea.to-text-area {
    textarea {
        resize: none !important;
    }
}

/* 
/* Text editor utils 
/* ----------------------------------------- */
.text-editor-utils {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: -2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 164px;
    z-index: 16;
}

.insert-attribute-btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background: transparent;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 23px;
    justify-content: center;
    margin-right: 5px;
    width: 24px;
    color: #647283;
    box-shadow: 0 1px 3px #00000030;
    border: unset;
    z-index: 1;
}

.material-icons-data-object {
    font-size: 16px;
    position: absolute;
    left: 1px;
    top: 0px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    padding: 3px 3px;
    z-index: 0;
    box-shadow: 0 1px 3px #00000030;
}

.insert-attribute-btn:hover {
    background: rgba(0, 108, 255, 0.3);
}

.emoji-picker-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background: #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 19%);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 19%);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 23px;
    justify-content: center;
    margin-right: 5px;
    width: 23px;
    color: #647283;
}

.emoji-picker-button:hover {
    background: rgba(0, 108, 255, 0.3);
}

.tpl-text-limit {
    background: #647283;
    color: #fff;
    border-radius: 10px;
    flex-shrink: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    padding: 0 10px;
    pointer-events: none;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}

::ng-deep .set-attributes-panel {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 600px;
    min-height: 200px;
    box-shadow: 0 0 20px 4px rgb(154 161 177 / 15%), 0 4px 80px -8px rgb(36 40 47 / 25%),
        0 4px 4px -2px rgb(91 94 105 / 15%);
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 15px 0;
}

.select-category-row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 32px;
    padding: 0 15px;
    -webkit-transition: background-color 0.2s, opacity 0.2s;
    transition: background-color 0.2s, opacity 0.2s;
}

.select-category-row-name {
    color: #22272d;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 20px;
}

[contenteditable] {
    border: 1px solid #000;
    margin: 10.5px;
    line-height: 25px;
    -webkit-appearance: textfield;
    appearance: textfield;
    background: #fff;
    padding: 5px;
    border-radius: 8px;
    min-height: 37px;
    width: calc(100% - 168px);
}
.single-attribute-style {
    background: #ffdc66;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 10px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline;
    padding: 0 5px;
}

.set--attribrutes-panel {
    min-width: 150px;
    background: #fff;
    padding: 6px;
    position: absolute;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    // gap: 5px;
    // top: -68px;
    box-shadow: 0 0 20px 4px #9aa1b126, 0 4px 80px -8px #24282f40, 0 4px 4px -2px #5b5e6926;
    right: 0;
    // top: -110px;
    z-index: 1050;
}

#set--attribrute {
    background: #fff;
    text-align: left;
    padding: 6px;
    border: unset;
    -webkit-transition: background-color 0.2s, opacity 0.2s;
    transition: background-color 0.2s, opacity 0.2s;
    font-weight: 400;
}
#set--attribrute:hover {
    background: #006cff;
}

#set--attribrute:hover {
    background-color: #f0f4f7;
}
