@import "./src/assets/sass/cds/_variables.scss";

// .content-action {
//     margin-top: 10px;
//     height: 50px;
//     // float: left;
//     width: calc(100% - 250px);
// }
.content {
    padding: 20px 0 30px 0;
    margin-left: 30px;
    margin-right: 30px;
}

.text-editor-wrapper {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;    
}

.field-box {
    display: flex;
    flex-direction: column;
    // width: 70%;
    min-width: 90px;
    gap: 10px;
}

.title-label {
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
    
}

.material-icons{
    color: $icon-color;
    font-size: 18px;
}

// div.value-wrp{
//     position: relative;
//     .flex{
//         position: absolute;
//         top: 0px;
//         bottom: 0px;
//         right: 8px;
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         .close{
//             width: 17px;
//             top: -7px;
//             right: -7px;
//             font-size: 15px;
//             border-radius: 50%;
//             background: white;
//             cursor: pointer;
//             position: absolute;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             opacity: 1;
//             &:hover{
//                 background: #ecb606;
//                 color: white;
//             }
//         }
//     }

//     div.tag{
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         left: 8px;
//         right: unset;
//         border-radius: 7px;
//         margin: 5px;
//         padding: 5px 10px;
//         background-color: #ecb606;
//         color: white;

//     }
// }

::ng-deep cds-textarea#assignTo {
    display: flex;
    textarea {
        border: 1px solid rgb(118, 118, 118) !important;
        resize: none !important; 
        padding: 8px 20px !important;
        height: 25px !important;
        min-height: 25px !important;
    }
}