<p style="margin-top:6px; padding-left:30px; z-index: 1050;position: relative;" class="navbar-brand">
    Channels
</p> 

<div class="main-content" style="padding-top:0px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content" style="padding-top: 25px;">

                        <!-- EMAIL  -->
                        <div class="col-sm-12">
                          <h4 class="card-title" style="text-transform: none; color: #566787; font-weight:600">1. Social</h4>
                        </div>    
                        <div class="col-sm-6" style="padding-bottom: 25px;">             
                            <a class="btn btn-block btn-social btn-facebook" style="text-transform: none; margin-left:15px; text-align:left; padding-left:44px">
                                <span class="fa fa-facebook"></span> {{ 'ChannelsPage.ConnectWithFacebook' | translate }}
                            </a>
                          
                            <a class="btn btn-block btn-social btn-twitter" style="text-transform: none; margin-left:15px; text-align:left; padding-left:44px; margin-top:25px">
                                <span class="fa fa-twitter"></span> {{ 'ChannelsPage.ConnectWithTwitter' | translate }}
                              </a>
                        </div>

                        <!-- EMAIL  -->
                        <div class="col-sm-12">
                          <h4 class="card-title" style="text-transform: none; color: #566787; font-weight:600">2. Email</h4>
                          <h6 class="category text-gray" style="text-transform: none; padding-left:15px; padding-bottom: 35px;">
                                {{ 'ChannelsPage.EmailIntegration_1' | translate: tparams }} <span style=" font-weight:400"> support@{{project_name}}.tiledesk.com </span>{{ 'ChannelsPage.EmailIntegration_2' | translate }}

                                <!-- Le email inviate al tuo indirizzo di supporto:  support@<PROJECT_NAME>.tiledesk.com diventano automaticamente richieste. -->
                          </h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>