// .example-container {
//     width: 500px;
//     height: 300px;
//     border: 1px solid rgba(0, 0, 0, 0.5);
//   }

//   .example-sidenav-content {
//     display: flex;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//   }

//   .example-sidenav {
//     padding: 20px;
//   }
.actions-drawer {
  position: fixed;
  left: -417px;
  top: 60px;
  bottom: 43px;
  width: 477px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
  z-index: 7;
  overflow-y: auto;
  padding: 24px 0px;
}


.actions-drawer-active {
  transform: translate(0);
  display: block;
  left: 60px !important;
}

.actions-drawer-close-btn-wpr {
  position: absolute;
  top: 7px;
  right: 10px;
  z-index: 2;
}

.actions-drawer-close-btn {
  background: transparent;
  border: 0px;
  display: inline-flex;
  box-shadow: none;
  outline: none;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  color: currentcolor;
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
}

.actions-drawer-header-wpr {
  margin: 0px 20px;
}
.actions-drawer-header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  flex-flow: row-reverse wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.actions-drawer-header::before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  height: 1px;
  background-color: rgba(100, 116, 145, 0.24);
}

.actions-drawer-title-wpr {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
}

.actions-drawer-title {
  padding-bottom: 6px;
  font-size: 18px;
  font-weight: 400;
}

.actions-drawer-content {
  position: relative;
  margin-top: 24px;
  padding-left: 30px;
}

.actions-btns-wpr {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.action-box-wpr {
  width: 50%;
}
.action-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.action-btn > svg {
  vertical-align: middle;
}

.action-btn {
  padding: 12px 12px !important;
  border-radius: 15px !important;
}

.action-btn-text {
  margin-left: 11px;
  font-size: 14px;
  padding-right: 19px;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

svg:not(:root) {
  overflow: hidden;
}
