@import "./src/assets/sass/md/_variables.scss";

.integrations-content {
    font-family: 'Poppins', 'Roboto', 'Arial', sans-serif !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    // margin-top: 60px; // nk commented
    // background-color: #f7f8fa; // nk commented
    // padding: 8px 16px; // nk commented
}

.spinner-container {
    width: 100%;
    height: calc(100vh - 160px);
    display: flex;
}

::-webkit-scrollbar {
    width: 0px;
}

.getstarted-icon {
    width: 500px;
    height: auto;
}

.list {
    width: 220px;
    min-width: 220px;
    // height: calc(100vh - 120px); // nk commented
    height: calc(100vh - 155px);
    padding: 0px 10px;
    background-color: white;
    border-radius: 8px;
    border: solid 1px #e9e9e9;
    margin-right: 16px;
    overflow: hidden;
    overflow-y: scroll;

    &:hover {
        ::-webkit-scrollbar {
            width: 3px;
        }
    }


    .element {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6px;
        margin: 4px;
        border-radius: 8px;

        p {
            margin-bottom: 0px;
        }

        img {
            margin-right: 8px;
            border-radius: 4px;
            width: 20px;
            height: 20px;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 5px #8080805e;
        }

    }

    .element-selected {
        background-color: aliceblue;
        border: solid 1px #4e96d4;
    }


}

.custom-expansion-panel {
    background-color: transparent;
    box-shadow: none;
}

mat-expansion-panel ::ng-deep {
    background-color: transparent;
    box-shadow: none;
    font-family: 'Poppins' !important;
    //color: var(--text-color);

    .mat-expansion-panel-header {
        padding: 0;

        &:hover {
            background-color: transparent;
        }
    }

    .mat-expansion-panel-header-title {
        //color: var(--text-color);
        font-weight: 500;
        font-size: 14px;
    }

    // .mat-expansion-indicator::after {
    //     //color: var(--text-color) !important;
    // }

    .mat-expansion-panel-header-description,
    .mat-expansion-indicator:after {
        //color: var(--text-color);
        margin: 5px;
    }

    // ::ng-deep .mat-expansion-indicator,
    // .mat-expansion-indicator:after {
    //     //color: var(--text-color);
    // }

    .mat-expansion-panel-header.mat-expanded {
        height: 48px;
    }

    .disable_ripple:hover {
        background: transparent !important;
    }

    .mat-expansion-panel-body {
        padding: 0 !important;
    }

    .mat-expansion-panel-body {
        padding: 0 !important;
    }
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.empty-menu-container {
    width: 100%;
    height: 500px;
    // height: calc(100vh - 130px); // nk commented
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    margin-top: 60px;

    p.no-integration-selected {
        font-size: 16px;
        margin-bottom: 30px;
        max-width: 800px;
        text-align: center;
    }
}

.integration-outer-container {
    background-color: white;
    border-radius: 8px;
    border: solid 1px #e9e9e9;
    width: 100%;
    min-height: 150px;
}

.pro-badge {
    font-weight: 400;
    background: linear-gradient(45deg, #3167e2, #a736ff);
    margin-left: 10px;
    height: 16px;
    color: white;
    padding: 0px 6px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 9px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    //text-transform: uppercase;

    // p {
    //     margin-bottom: 0px;
    // }
}

.int-lock-container {

    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 225px);
    img {
        width: 300px;
        height: auto;
        margin: 50px 0px;
    }

    p {
        margin-bottom: 0px;
    }

    p.upgrade-title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    p.upgrade-subtitle {
        font-size: 16px;
        margin-bottom: 30px;
        max-width: 800px;
        text-align: center;
    }
}

.custom-upgrade-primary-button {
    color: white;
    min-width: 80px;
    //background: #3ea9f5;
    background: linear-gradient(45deg, #3167e2, #3167e2, #a736ff);
    border: none;
    border-radius: 6px;
    height: 30px;
    font-weight: 500;
    padding: 0px 8px;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

.integration-name-and-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}