<div class="main-content" style="padding-top:0px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div style="text-align: center"> 
            <!-- max-width: 100%; -->
          <img src="assets/img/tiledesk-logo.svg" class="img-fluid" style="max-width: 200px; height: auto; padding-top:25px"/>
        </div>
        <div class="login-container">

          <form [formGroup]="userForm" (ngSubmit)="signup()">

            <!-- <h3>Registrazione nuovo utente</h3> -->
            <!-- <h3>Tile Desk</h3> -->
            <!-- <hr> -->
  
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" class="input"
                  formControlName="firstName" required>

            <div *ngIf="formErrors.firstName" class="is-danger">
              {{ formErrors.firstName }}
            </div>
  
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="input"
                  formControlName="lastName" required>

            <div *ngIf="formErrors.lastName" class="is-danger">
              {{ formErrors.lastName }}
            </div>
  
            <label for="email">Email</label>
            <input autocomplete="off" type="email" id="email" class="input"
                  formControlName="email" required >
  
            <div *ngIf="formErrors.email" class="is-danger">
              {{ formErrors.email }}
            </div>
  
            <label for="password">Password</label>
            <input type="password" id="password" class="input"
                  formControlName="password" required >
  
            <div *ngIf="formErrors.password" class="is-danger">
              {{ formErrors.password }}
            </div>
  
            <!-- <div *ngIf="userForm.valid" class="notification is-success">Form is valid</div> -->
            <!-- SUBMIT -->
            <button style="width: 100%; background-color: #ff9800; height: 56px; font-size: 16px; letter-spacing: 2px;" type="submit" class="btn" [disabled]="!userForm.valid">SignUp</button>
  
            <div style="margin-top:16px; text-align: center">
              <!-- <p class="button is-small" (click)="toggleForm()">Sei già registrato?</p> -->
              <!-- <a (click)="toggleForm()">Sei già registrato? </a> -->
              <!-- <a (click)="toggleForm()">Already have an account? Login </a> -->
              <a routerLink="/login" style="color: #666666; font-size: 1.1em">Already have an account? <span style="color: #03a5e8">Login</span> </a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>