<div class="main-content"
  style="padding-top:0px;min-height: calc(100% - 0px); margin-top: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;">

  <div class="container-fluid">

    <!-- style="display: flex; justify-content: center; align-items: center;" -->
    <div class="split left" [ngClass]="{'hidden_left_panel' : hide_left_panel === true  }">

      <!-- Circle bckgnd -->
      <!-- <div>
        <svg viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice"
          xmlns="http://www.w3.org/2000/svg" class="absolute inset-0 pointer-events-none ng-tns-c137-1"
          style="inset: 0; position: absolute;">
          <g fill="none" stroke="currentColor" stroke-width="100" class="text-gray-700 opacity-25 ng-tns-c137-1" style="color: gray;
            opacity: 0.20;">
            <circle r="234" cx="196" cy="23" class="ng-tns-c137-1"></circle>
            <circle r="234" cx="790" cy="491" class="ng-tns-c137-1"></circle>
          </g>
        </svg>
      </div> -->

      <!--  --------------------------------------------------------------- -->
      <!--  Right panel -->
      <!--  --------------------------------------------------------------- -->

      <div class="centered-horizontally" style="margin:auto; margin-top: 60px;">

        <div class="left-logo" style="z-index: 1050;  position: relative;" (click)="goToCompanySite()">

          <img [src]="companyLogo" class="img-fluid" />
          <!-- <img src="assets/img/logos/tiledesk_planet.svg" class="img-fluid" style="width: 200px;" /> -->
          <!-- </a> -->

        </div>

        <div class="welcome-text">
          <!-- {{'WelcomeTo' | translate }} -->

          <!-- <span> Welcome </span> <span style="display: block;"> to Tiledesk </span> -->
          <span> 
            <!-- Shorten your lead conversion cycle with AI  -->
            Resolve 75% of Customer Inquiries with AI
          </span>

        </div>

        <div class="welcome-text-subtitle-wpr">
    
          <div class="arrow-circle-right-wpr">
            <span class="material-icons"  [ngStyle]="{'color': secondaryBrandColor ? secondaryBrandColor : '#f0806f' }">
              arrow_circle_right
            </span>
          </div>
    
          <!-- Old -->
          <!-- <div> Create your AI assistant with the <span [ngStyle]="{'color': secondaryBrandColor ? secondaryBrandColor : '#f0806f' }" style=" font-weight: 500;">Visual Conversation
              Builder </span> 
          </div> -->

          <div class="welcome-text-subtitle"> 
            Create and 
            <span [ngStyle]="{'color': secondaryBrandColor ? secondaryBrandColor : '#f0806f' }" style=" font-weight: 500;">
              train AI Agents on your data 
            </span> 
            in minutes
         </div>
        </div>

        <div class="welcome-text-subtitle-wpr">
          <div class="arrow-circle-right-wpr">
            <span class="material-icons"  [ngStyle]="{'color': secondaryBrandColor ? secondaryBrandColor : '#f0806f' }">
              arrow_circle_right
            </span>
          </div>

          <!-- Old -->
          <!-- <div> <span [ngStyle]="{'color': secondaryBrandColor ? secondaryBrandColor : '#f0806f' }" style="font-weight: 500;"> Boost engagement by 4x </span> and be on all messaging
            channels
          </div> -->

          <div class="welcome-text-subtitle"> 
              Increase
            <span [ngStyle]="{'color': secondaryBrandColor ? secondaryBrandColor : '#f0806f' }" style="font-weight: 500;"> 
              engagement 4x 
            </span> 
              and 
            <span [ngStyle]="{'color': secondaryBrandColor ? secondaryBrandColor : '#f0806f' }" style="font-weight: 500;"> 
              auto-qualify leads
            </span> 
          </div>

        </div>

        <div class="welcome-text-subtitle-wpr">
        
          <div class="arrow-circle-right-wpr">
            <span class="material-icons"  [ngStyle]="{'color': secondaryBrandColor ? secondaryBrandColor : '#f0806f' }">
              arrow_circle_right
            </span>
          </div>
          
          <!-- Old -->
          <!-- <div class="welcome-text-subtitle">
            Turn leads into buying customers with <span [ngStyle]="{'color': secondaryBrandColor ? secondaryBrandColor : '#f0806f' }" style="font-weight: 500;"> WhatsApp automation
            </span>
          </div> -->

          <div class="welcome-text-subtitle">
            <span [ngStyle]="{'color': secondaryBrandColor ? secondaryBrandColor : '#f0806f' }" style="font-weight: 500;"> 
              Accelerate sales cycle 7X 
            </span>
            with WhatsApp marketing
          </div>

        </div>

        <!-- ---------------------------------- -->
        <!-- @ Social proof -->
        <!-- ---------------------------------- -->
        <div class="social-proof-container" *ngIf="displaySocialProofContainer">
          <div class="satisfied-customers-num">
            Join 1,000+ Satisfied Customers
          </div>
          <div class="social-proof-wpr">

            <div class="social-proof capterra-best-value-2023">
              <a style="cursor: default;">
                <img border="0" src="https://capterra.s3.amazonaws.com/assets/images/gdm-badges/ca-value-2023.png"
                  style="width: 89px" />
              </a>
            </div>


            <div class="social-proof capterra-shortlist-2024">
              <a style="cursor: default;">
                <img border="0" src="https://tiledesk.com/wp-content/uploads/2024/06/shortlist-badge-2024.svg"
                  style="width: 104px" />
              </a>
            </div>


            <div class="social-proof get-app-category-leaders-2024">
              <a style="cursor: default;">
                <img border="0" src="https://tiledesk.com/wp-content/uploads/2024/06/getApp-2024.svg"
                  style="width: 95px" />
              </a>
            </div>


            <div class="social-proof software-advice-frontrunners-2024">
              <a style="cursor: default;">
                <img border="0" src="https://tiledesk.com/wp-content/uploads/2024/06/sa-frontrunners-2024.png"
                  style="width: 85px" />
              </a>
            </div>

            


           
            
            <!-- <div class="social-proof softwareadvice">
              <a style="cursor: default;">
                <img border="0"
                  src="https://capterra.s3.amazonaws.com/assets/images/gdm-badges/SA-Badge-FrontRunners-2023-FullColor.png"
                  style="width: 80px;" />
              </a>
            </div> -->
            
            <!-- <div class="social-proof capterra">
              <a style="cursor: default;">
                <img src="https://assets.capterra.com/badge/df9c5368d6b2558cc4a82e34a7ed1793.svg?v=2131354&p=187541"
                  style="width: 130px;" />
              </a>
            </div> -->

            
            <!-- <div class="social-proof getapp">
              <a style="cursor: default;">
                <img border="0"
                  src="https://capterra.s3.amazonaws.com/assets/images/gdm-badges/GA-Badge-CategoryLeaders-2023-FullColor-Positive.png"
                  style="width: 95px" />
              </a>
            </div> -->

          

          </div>
        </div>
      </div>
    </div>


    <div class="split right">
      <!-- ALERT WITH ERROR MESSAGE -->
      <!-- <div class="row" *ngIf="signin_errormsg" [ngStyle]="{'display':display}" style="transform: translateY(30%);">
        <div class="col-md-4 col-md-offset-4" align="center">
          <div class="alert alert-danger" style="max-width: 400px;">
            <button type="button" aria-hidden="true" class="close" (click)="dismissAlert()">×</button>
            <div class="glyphicon glyphicon-exclamation-sign" style="display:table-cell; font-size:1.2em"></div>
            <div style="padding-left: 5px; display:table-cell;">{{ signin_errormsg }}</div>
          </div>
        </div>
      </div> -->
      <!-- 
    // ---------------------------------------------------------------
    // Right logo
    // --------------------------------------------------------------- -->

      <div class="right-logo" style="text-align: center;">
        <a [href]="company_site_url" target="_blank">

          <img [src]="companyLogo" class="img-fluid" style="max-width: 150px; height: auto;" />
        </a>
      </div>
      <div class="centered">
        <div [ngClass]="{'logos-wpr': appSumoActivationEmail}">
          <div class="logo-at-media-plus-992" style="height:48px">
            <a [href]="company_site_url" target="_blank">
              <img [src]="companyLogoNoText" class="img-fluid" style="max-width: 48px; height: auto;" />
            </a>
            <!-- <svg _ngcontent-pgl-c83="" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" height="48px"
              viewBox="0 0 60 60" width="48px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
              <path _ngcontent-pgl-c83=""
                d="M51.8,28.2h-19c-1.7,0-3-1.3-3-3V6.4c0-1.7-1.3-3-3-3H8c-1.7,0-3,1.3-3,3v22v22c0,1.7,1.3,3,3,3H6.7h3.4  c0.8,0,1.3,0.2,1.9,0.8l2.3,2.3l2.1,2.1c0.8,0.8,1.7,0.8,2.4,0l2.1-2.1l2.3-2.3c0.6-0.6,1.1-0.8,1.9-0.8H52c1.7,0,3-1.3,3-3V31.2  C54.8,29.5,53.5,28.2,51.8,28.2"
                fill="#F18876"></path>
              <path _ngcontent-pgl-c83=""
                d="M52,24.2H36.8c-1.5,0-2.8-1.3-2.8-2.8V6.2c0-1.5,1.3-2.8,2.8-2.8H52c1.5,0,2.8,1.3,2.8,2.8v15.2  C54.8,22.9,53.5,24.2,52,24.2"
                fill="#E5BBAD"></path>
            </svg> -->
          </div>

          <div class="plus-appsumo" *ngIf="appSumoActivationEmail">
            <span class="material-icons-outlined" style="font-size: 35px;
            color: rgb(143, 143,143);">
              add
            </span>
          </div>

          <div class="logo-at-media-plus-992 appsumo-logo" *ngIf="appSumoActivationEmail">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
              id="as-appsumo-logo" x="0px" y="0px" viewBox="-3924 3989.8 150 23.2"
              style="enable-background:new -3924 3989.8 150 23.2;width: 225px;" xml:space="preserve">
              <style type="text/css">
                .appsumo {
                  fill: #343D45;
                }
              </style>
              <path id="Path_1007" class="appsumo"
                d="M-3829.3,4004c0,3.9-1.8,3.9-2.7,3.9s-2.7,0-2.7-3.9v-11h-4.6v11.7c0,4.5,3,7.7,7.3,7.7  c4.3,0,7.3-3.2,7.3-7.7V3993h-4.6L-3829.3,4004z" />
              <path id="Path_1008" class="appsumo"
                d="M-3784.2,3992.4c-5.6,0-10.2,4.5-10.2,10.2c0,5.6,4.6,10.2,10.2,10.2c5.6,0,10.2-4.6,10.2-10.2  C-3774,3997-3778.6,3992.4-3784.2,3992.4z M-3784.2,4008.1c-3.1,0-5.5-2.5-5.5-5.6c0-3,2.4-5.5,5.4-5.6c3,0,5.5,2.4,5.6,5.4  c0,0,0,0.1,0,0.1C-3778.7,4005.6-3781.2,4008.1-3784.2,4008.1z" />
              <path id="Path_1009" class="appsumo"
                d="M-3913.7,3989.8l-10.3,22.4h5.2l2-4.3h6.2l2,4.3h5.2L-3913.7,3989.8z M-3915.7,4004.1l1.9-4.7  l1.9,4.7H-3915.7z" />
              <path id="Path_1010" class="appsumo"
                d="M-3891.5,3993.1h-7.5v18.9h4.7v-5.4h2.5c4.6,0,7.5-2.6,7.5-6.8v-0.1  C-3884.2,3995.6-3887,3993.1-3891.5,3993.1z M-3889,4000c0,1.6-1.1,2.6-2.9,2.6h-2.4v-5.2h2.4C-3890,3997.3-3889,3998.3-3889,4000  L-3889,4000z" />
              <path id="Path_1011" class="appsumo"
                d="M-3872.1,3993.1h-7.5v18.9h4.7v-5.4h2.5c4.6,0,7.5-2.6,7.5-6.8v-0.1  C-3864.8,3995.6-3867.6,3993.1-3872.1,3993.1z M-3869.6,4000c0,1.6-1.1,2.6-2.9,2.6h-2.4v-5.2h2.4  C-3870.6,3997.3-3869.6,3998.3-3869.6,4000L-3869.6,4000z" />
              <path id="Path_1012" class="appsumo"
                d="M-3850.9,3999.1c-3.7-1-4.5-1.4-4.5-2.7v-0.1c0-1,1-1.7,2.6-1.7c2,0.1,3.9,0.8,5.5,2.1l0.1,0.1  l2.6-3.8l-0.1-0.1c-2.3-1.8-5.2-2.8-8.1-2.8c-4.5,0-7.7,2.7-7.7,6.6v0.1c0,4.5,3.1,5.7,7.3,6.7c3.6,0.9,4.2,1.5,4.2,2.6v0.1  c0,1.2-1.1,1.9-2.9,1.9c-2.3-0.1-4.6-1-6.3-2.6l-0.1-0.1l-3,3.6l0.1,0.1c2.5,2.3,5.8,3.5,9.2,3.5c5,0,8.1-2.6,8.1-6.8v-0.1  C-3843.9,4001.7-3846.7,4000.1-3850.9,3999.1z" />
              <path id="Path_1013" class="appsumo"
                d="M-3809.2,4013l-5.7-9.6l-1.7,8.9h-4.1l4.2-19.9l7.4,12.5l7-12.5l4.2,19.9h-4.4l-1.6-8.8  L-3809.2,4013z" />
            </svg>
          </div>
        </div>

        <div class="signup-title" style="text-align:center">
          <h2 *ngIf="!appSumoActivationEmail">
            <!-- {{ 'CreateAFreeAccount' | translate}} -->
            Sign up for free today
          </h2>
          <h2 *ngIf="appSumoActivationEmail">
            Welcome Sumo-ling!
          </h2>
        </div>

        <div *ngIf="!appSumoActivationEmail" class="no-card-required">
          <!-- {{ "NoCreditCardRequired" | translate }} -->
          We recommend using your <span style="font-weight: 500;">work email </span> - it keeps work and life separate

        </div>
        <div *ngIf="appSumoActivationEmail" class="no-card-required">
          Your account is almost ready
        </div>

        <div class="login-container">

          <form id="signup-form" [formGroup]="userForm" (ngSubmit)="signUp()" autocomplete="off">

            <!-- <label for="firstName">
              {{ "FirstName" | translate }} <span style="color:#ff5252">*</span>
            </label>
            <input type="text" id="firstName" class="input" formControlName="firstName" required>
            <div *ngIf="formErrors.firstName" class="is-danger" translate>
              {{ formErrors.firstName }}
            </div> -->

            <!-- <label for="lastName">
              {{ "LastName" | translate }} <span style="color:#ff5252">*</span>
            </label>
            <input type="text" id="lastName" class="input" formControlName="lastName" required>

            <div *ngIf="formErrors.lastName" class="is-danger">
              {{ formErrors.lastName }}
            </div> -->

            <label for="email">Work email <span style="color:#ff5252">*</span></label>
            <!-- id="email" -->
            <!-- [readonly]="SKIP_WIZARD"   [ngClass]="{'gray-bckgnd' : SKIP_WIZARD}" -->
            <input id="user-email" type="email" class="input" formControlName="email" required autocomplete="off"
              autocorrect="off" autocapitalize="off" spellcheck="false"
              [ngClass]="{'disabled-email-input-appsumo-signup': appSumoActivationEmail}" tabindex="0">

            <div *ngIf="formErrors.email" class="is-danger" translate>
              {{ formErrors.email }}
            </div>
            <div *ngIf="appSumoActivationEmail && !isValidAppSumoActivationEmail" class="is-danger" translate>
              Email must be a valid email
            </div>

            <label for="password">Password <span style="color:#ff5252">*</span></label>
            <div class="pswrd-wpr">

              <!-- (focus)='onFocusPwsInput()' (blur)='onBlurPwsInput()' -->
              <input type="password" id="signup-password" class="input" autocomplete="new-password"
                aria-autocomplete="list" formControlName="password">

              <button type="button" tabindex="-1" class="pswrd-eye-btn"
                (click)="togglePswdVisibility(isVisiblePsw = !isVisiblePsw)">
                <!-- --------------------------------------- -->
                <!-- Eye on -->
                <!-- --------------------------------------- -->
                <svg *ngIf="isVisiblePsw" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"
                  style="fill: rgb(165, 172, 183); vertical-align: middle;">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z">
                  </path>
                </svg>
                <!-- --------------------------------------- -->
                <!-- Eye off -->
                <!-- --------------------------------------- -->
                <svg *ngIf="!isVisiblePsw" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                  width="24px" style="fill: rgb(165, 172, 183);  vertical-align: middle;">
                  <path d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none" />
                  <path
                    d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z" />
                </svg>
              </button>
            </div>
           
            <div *ngIf="formErrors.password" class="is-danger" translate style="margin-bottom: 0px;">
              {{ formErrors.password }}
            </div>

            <!-- <div class="is-danger" *ngIf="passwordFormField?.dirty">
              <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('^(?=.*[A-Z])')}">
                {{'AtLeastOneUppercaseLetter' | translate}} </span>
              <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[a-z])')}">
                {{'AtLeastOneLowercaseLetter' | translate}} </span>
              <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(.*[0-9].*)')}">
                {{'AtLeastOnedigit' | translate}} </span>
              <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[!@#$%^&*])')}">
                {{'AtLeastOneSpecialCharacter' | translate}} </span>
              <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('.{8,}')}">
                {{'AtLeast8CharactersLong' | translate}} </span>
            </div> -->

            <!-- *ngIf="isVisiblePwsStrengthBar" -->
            <password-strength [passwordToCheck]="userForm.value.password"
              (passwordStrength)="onPasswordStrengthChanged($event)"></password-strength>

            <!-- TERMS AND CONDITION -->

            <label class="i-accept-label" for="terms">
              <!-- {{ "iAgree" | translate }} -->
              {{ "IAccept" | translate }}
              <a *ngIf="display_terms_and_conditions_link" style="color: #03a5e8" target="_blank"
                [href]="terms_and_conditions_url">
                {{ "TermsAndConditions" | translate }}<span *ngIf="display_dpa" style="color: #aaa;">, </span>
              </a>
              <a *ngIf="display_dpa" style="color: #03a5e8" target="_blank"
              [href]="dpa_url">
                DPA
             </a>
              <span *ngIf="display_terms_and_conditions_link"> {{ "And" | translate }} </span>
              <a style="color: #03a5e8" target="_blank" [href]="privacy_policy_url">
                {{ privacy_policy_link_text }}
              </a>
              <!-- [checked]="checkModel" -->
              <input type="checkbox" formControlName="terms" id="terms" (change)="onChange($event)" required />
              <span class="checkmark"></span>
            </label>

            <div *ngIf="formErrors.terms" class="is-danger" translate>
              {{ formErrors.terms }}
            </div>
            <!-- </div> -->

            <!-- <div *ngIf="userForm.valid" class="notification is-success">Form is valid</div> -->
            <!-- SUBMIT -->

            <!-- userForm.valid {{userForm.valid}} -->
            <button [ngStyle]="{'background-color': primaryBrandColor ? primaryBrandColor : '#f0806f' }" type="submit" 
              class="btn signup-button" [disabled]="!userForm.valid || showSpinnerInLoginBtn">
              <span *ngIf="!showSpinnerInLoginBtn">
                {{ "GetStarted" | translate}}
              </span>
              <span *ngIf="showSpinnerInLoginBtn"> 
                <i class="fa fa-spinner fa-spin"></i>
              </span>
            </button>
            <!-- <script>window.onSubmit = function() { alert("HI"); }</script> -->
            <!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->

            <!-- <button #recaptcha class="g-recaptcha" data-sitekey="6Lf1khcpAAAAABMNHJfnJm43vVTxFzXM7ADqDAp5" 
              data-callback='onSubmit' data-action='submit'>
              Submit
            </button> -->

            <div class="signup-subtitle" *ngIf="!appSumoActivationEmail">
              {{ "AlreadyHaveAnAccount" | translate }}
              <span class="auth-link-button-signup" (click)="goToSigninPage()">
                Login
              </span>
            </div>

            <div class="left-panel-signin-link" style="margin-top:16px; text-align: center"
              *ngIf="appSumoActivationEmail">
              <a routerLink="/login" style="color: #666666; font-size: 1.1em">
                {{ "AlreadyHaveAnAccount" | translate }}
                <span style="color: #03a5e8">Login</span>
              </a>
            </div>

            <div *ngIf="hideGoogleAuthBtn" class="auth---divider">
              <span class="auth---divider-text">
                &nbsp;&nbsp;You can also&nbsp;&nbsp;
              </span>
            </div>

            <div class="h-20"></div>
          </form>
          <ng-container *ngIf="hideGoogleAuthBtn">
            <button *ngIf="!appSumoActivationEmail" type="button" class="google-button" (click)="signupWithGoogle()">
              <div style="margin-right: 10px; background: rgb(255, 255, 255); padding: 10px; border-radius: 2px;">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 186.69 190.5"
                  xmlns:v="https://vecta.io/nano" style="position: relative;top: 2px;">
                  <g transform="translate(1184.583 765.171)">
                    <path clip-path="none" mask="none"
                      d="M-1089.333-687.239v36.888h51.262c-2.251 11.863-9.006 21.908-19.137 28.662l30.913 23.986c18.011-16.625 28.402-41.044 28.402-70.052 0-6.754-.606-13.249-1.732-19.483z"
                      fill="#4285f4" />
                    <path clip-path="none" mask="none"
                      d="M-1142.714-651.791l-6.972 5.337-24.679 19.223h0c15.673 31.086 47.796 52.561 85.03 52.561 25.717 0 47.278-8.486 63.038-23.033l-30.913-23.986c-8.486 5.715-19.31 9.179-32.125 9.179-24.765 0-45.806-16.712-53.34-39.226z"
                      fill="#34a853" />
                    <path clip-path="none" mask="none"
                      d="M-1174.365-712.61c-6.494 12.815-10.217 27.276-10.217 42.689s3.723 29.874 10.217 42.689c0 .086 31.693-24.592 31.693-24.592-1.905-5.715-3.031-11.776-3.031-18.098s1.126-12.383 3.031-18.098z"
                      fill="#fbbc05" />
                    <path
                      d="M-1089.333-727.244c14.028 0 26.497 4.849 36.455 14.201l27.276-27.276c-16.539-15.413-38.013-24.852-63.731-24.852-37.234 0-69.359 21.388-85.032 52.561l31.692 24.592c7.533-22.514 28.575-39.226 53.34-39.226z"
                      fill="#ea4335" clip-path="none" mask="none" />
                  </g>
                </svg>
              </div>
              <div style="padding: 10px 10px 10px 0px; font-weight: 500; width: calc(100% - 91px);">
                <!-- Sign up with Google -->
                 {{ 'SignUpWithGoogle' | translate}}
              </div>
            </button>
          </ng-container>

        </div>
        <!-- ./login-container -->

      </div>
    </div>

  </div>
</div>