<!-- <cds-action-description 
    [actionType]="'WAIT'"
    [actionSelected]="action">
</cds-action-description> -->

<div class="content">

    <div class="text-editor-wrapper">
        <div class="field-box">
            <label class="title-label">Delay Time: {{delayTime}}s</label>
            <div class="action-wait-content">
       
                <!-- tickInterval="1000" -->
                <div class="action-wait-slider">
                    <div class="action-wait-range">0.5s</div> 
                    <mat-slider class="wait-slider" thumbLabel [displayWith]="formatLabel" 
                        (change)="updateWaitValue($event)"
                        step="0.5"
                        min="0.5" 
                        max="15" 
                        [(ngModel)]="delayTime"
                        aria-label="units">
                    </mat-slider>
        
                    <div class="action-wait-range">15s</div>
                </div>
            </div>
        </div>
    </div>

</div>