<!-- -------------------------------------------------------------------------------- -->
<!-- @ Button -->
<!-- -------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-md-12">
        <h4 class="title">{{question.title}}</h4>
    </div>
</div>
<div class="row buttons">
   
        <div *ngFor="let button of question.buttons; index as i">
            <!-- <button 
                class="btn btn-lg btn-primary"
                (click)="goToSelectedButton()">
                {{button.label}}
            </button> -->

            <div class="css-bskbvc eb451o40">
               
                    <section class="disable-input-message-section">
                        <mat-checkbox 
                            [checked]="false"
                            (change)="goToSelectedButton()">
                        </mat-checkbox>
                    </section>

                    <div class="content-button">
                        <h2 *ngIf="button.icon">{{button.icon}}</h2>
                        <p weight="400" color="default" class="css-19dojy7 eimqq0f0">{{button.label}}</p>
                    </div>

            </div>
        </div>
    
</div>