<div class="master card-widget-installation card--no-border">
    <div class="card-content">
  
      <div class="install-widget-instructions">
        <div class="install-widget-steps">
          <span class="install-widget-step-number-wrapper">
            <span class="install-widget-step-number">
              1
            </span>
          </span>
          <span class="install-widget-step-text">
            {{'WidgetInstallations.GenericStep1' | translate }}
          </span>
          <br>
  
          <appdashboard-code-installation></appdashboard-code-installation>
  
          <span class="install-widget-step-number-wrapper">
            <span class="install-widget-step-number">
              2
            </span>
          </span>
          <span class="install-widget-step-text">
            {{'WidgetInstallations.MagentoStep2' | translate }}
          </span>
          <br>
  
          <span class="install-widget-step-number-wrapper">
            <span class="install-widget-step-number">
              3
            </span>
          </span>
          <span class="install-widget-step-text">
            {{'WidgetInstallations.MagentoStep3' | translate }}
          </span>
          <br>
  
          <span class="install-widget-step-number-wrapper">
            <span class="install-widget-step-number">
              4
            </span>
          </span>
          <span class="install-widget-step-text">
            {{'WidgetInstallations.MagentoStep4' | translate }}
          </span>
          <br>
  
          <span class="install-widget-step-number-wrapper">
            <span class="install-widget-step-number">
              5
            </span>
          </span>
          <span class="install-widget-step-text">
            {{'WidgetInstallations.MagentoStep5' | translate }}
          </span>
        </div>
 
  
  
      </div> <!-- /. install-with-code -->
    </div> <!-- /. card content -->
  </div> <!-- /. card -->