@import "./src/assets/sass/cds/_variables.scss";

:host{
    --cardImageHeight: 150px;
    --cardWidth: 220px;
}


.extensions-response {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 27px 0px 0px 0px;
    padding: 0px 33px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    .delay-wrapper,
    .filter-wrapper {
        display: block;
        height: auto;
        width: auto;
        // padding: 0em 0.75em 0;
    }
}

.text-editor-wrapper {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 10px 0 0 0;
    padding: 0;
    .text-editor {
        position: relative;
        margin: 0;
        padding: 0;
        .response-controls {
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
    }
}
    
.text-editor-wrapper:hover {
    .text-editor {
        .response-controls {
            opacity: 1;
        }
    }
}

/** response-controls **/
.response-controls {
    .control-button {
        cursor: pointer;
        color: $color-bck-gray-hex;
        transition: color .3s;
        height: 20px;
        &.delete{
            height: 24px;
            width: 24px;
            background: $color-bck-gray-hex;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            em {
                font-size: 1.15em;
                color: $color-withe-hex;
                transition: color .3s;
            }
        }
    }
    .control-button:hover{
        color: $color-withe-hex;
        &.delete{
            box-shadow: 0 2px 6px 0 rgb(255 255 255 / 15%);
            em {
                color: $color-red-hex;
            }
        }
    }
}

/** text-editor-drop **/
.text-editor-drop {
    position: absolute;
    display: inline-flex;
    margin: 0;
    left: 0;
    top: -40px;
    color: #dcdcdc;
    cursor: grab;
}


/** BUTTONS **/
.gallery-response {
    display: flex;
    overflow: scroll;
    gap: 10px;
    margin: 0;
    width: 100%;
    font-size: $font-size-base;
    padding: 0 25px;
}
// .custom-placeholder {
//     background: #ccc;
//     border: dotted 3px #999;
//     height: $button-height-base;
//     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }
.button-reply {
    position: relative;
    min-width: 100px;
    margin: 20px 0px 0;
    // padding: 0 16px;
    user-select: none;
    box-sizing: border-box;
    outline: none;
    background: $color-withe-hex;
    // border: 1px solid $color-blue-hex;
    border-radius: $button-border-radius-base;
    color: $color-blue-hex;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    line-height: $button-height-base;
    text-align: center;
    transition: all .3s;
}
.button-reply:hover{
    .button-controls {
        opacity: 1;
    }
    .action-button-controls{
        opacity: 0;
    }
}


//BUTTONS
.gallery-buttons{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    // height: 42px;
    justify-content: center;
    // padding: 0 10px;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 100%;

    .single-button{
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $icon-color;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-weight: 600;
        // height: 45px;
        // padding: 0 10px;
        -webkit-transition: all .3s;
        transition: all .3s;
        width: 100%;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            left: 50%;
            transform-style: flat;
            transform: translate3d(-50%,-50%,0);
            background: rgba(white,.2);
            border-radius: 100%;
            transition: width .5s ease, height .5s ease;
        }

        &:hover{
            .button-controls{
                opacity: 1;
            }
        }

    }
}



// ADD button - ADD card
.gallery-buttons-add{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    // margin-bottom: 5px;
    width: 100%;

    &.last{
        flex-direction: row;

        .gallery-buttons-add-lines{
            border-top: 1px dashed #b4c0c7;
            border-bottom: 1px dashed #b4c0c7;
            width: 28px;
            height: 0;
        }
    }

    .gallery-buttons-add-lines{
        border-left: 1px dashed #b4c0c7;
        border-right: 1px dashed #b4c0c7;
        height: 28px;
        width: 0;
    }
    

    .csd-add-button-btn-wpr{
        position: relative;

        .cds-add-action-btn {
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            align-items: center;
            background: #fff;
            border-radius: 100%;
            -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.19);
            box-shadow: 0 1px 4px 0 rgba(0,0,0,.19);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 22px;
            justify-content: center;
            -webkit-transition: background-color .6s;
            transition: background-color .6s;
            width: 22px;
            margin: 0;
            padding: 0;

        }

        .cds-add-action-btn > span {
            font-size: 20px;
            color: $icon-color;
            top: 0;
        }

        .cds-add-action-btn:hover{
            background: $icon-color;
            span {
                color: white;
            }
        }

        .action--text {
            position: absolute;
            top: 0;
            left: 30px;
            color: $icon-color;
            font-size: 14px;
            white-space: nowrap;
            // z-index: 1;
            cursor: pointer;
        }
        .action--text:hover {
            color: rgba($icon-color, 0.8);
        }

    }
 
}


.gallery-reply-card {
    width: 100%;
    height: 100%;
    max-width: var(--cardWidth);
    user-select: none;
    color: $color-blue-hex;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    line-height: $button-height-base;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    overflow: hidden!important;
    text-overflow: ellipsis;
    white-space: nowrap;

    flex-shrink: 0;
    opacity: 1;
    position: relative;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    width: 220px;

}

.cards-scroll-spacer{
    -ms-flex-negative: 0;
    content: "";
    flex-shrink: 0;
    width: 17px;
}


// --- PREVIEW SECTION ---
.gallery-image{
    height: 150px;
    background: #fff;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: $button-border-radius-base $button-border-radius-base 0px 0px;

    .image-overlay{
        // display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(#b38d27, 0.5);

        &:hover{
            opacity: 0.5;
            .control-button {
                &.delete {
                    // margin-right: -24px;
                    // margin-top: calc(var(--cardImageHeight)/2);
                    // margin-right: calc(var(--cardWidth)/2);
                    opacity: 1;
                    display: flex;
                    bottom: 0;
                    left: 0;
                    top: 0;
                    right: 0;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .control-button {
            &.delete {
                color: $color-withe-hex;
                position: absolute;
                top: 0px;
                right: 0px;
                margin-right: 0px;
                opacity: 0;
                cursor: pointer;
                transition: all .3s ease-in-out;
            }
        }

    }

}

::ng-deep appdashboard-image-upload{
    div.dropUploadImage{
        min-height: unset !important;
    }
    div.labelDropUploadImage{
        font-size: 12px;
        line-height: 15px;
    }
    div.image-wrp{
        height: var(--cardImageHeight);
        img{
            height: 100% !important;
            width: 100% !important;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    
}
// --- PREVIEW SECTION: end ---


.button-reply-add {
    user-select: none;
    box-sizing: border-box;
    outline: none;
    border: 1px dashed $color-txt-2-hex;
    border-radius: $button-border-radius-base;
    color: $color-withe-hex;
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
    line-height: $button-height-base;
    margin: 10px 5px 0;
    order: 1;
    padding: 0 16px;
    transition: all .3s;
    min-width: 100px;
    width: fit-content;
}

.button-controls {
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
    height: 24px;
    position: absolute;
    right: 0;
    top: -5%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    .buttonsToMove{
        display: inline-flex;
    }
    .control-button {
        cursor: pointer;
        background: $color-bck-gray-hex;
        color: $color-bck-gray-hex;
        transition: color .3s;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2px;
        em {
            font-size: 1.15em;
            color: $color-withe-hex;
            transition: color .3s;
        }
    }
    .control-button:hover{
        color: $color-withe-hex;
        box-shadow: 0 2px 6px 0 rgb(255 255 255 / 15%);
        em {
            color: $color-red-hex;
        }
        &.delete{
            em {
                color: $color-red-hex;
            }
        }
    }
}

.action-button-controls {
    top: -12px;
    opacity: 0;

    .control-button:not(.delete){
        cursor: grab;
    }
}

////////////////////////////
//----DRAG_DROP: start ----
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    //             0 8px 10px 1px rgba(0, 0, 0, 0.14),
    //             0 3px 14px 2px rgba(0, 0, 0, 0.12);

    &.single-button{
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $icon-color;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-weight: 600;
        // height: 45px;
        // padding: 0 10px;
        -webkit-transition: all .3s;
        transition: all .3s;
        width: 100%;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 50%;
            left: 50%;
            transform-style: flat;
            transform: translate3d(-50%,-50%,0);
            background: rgba(white,.2);
            border-radius: 100%;
            transition: width .5s ease, height .5s ease;
        }

        &:hover{
            .button-controls{
                opacity: 1;
            }
        }

    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggable-box:last-child {
    border: none;
}
  
.draggable-list.cdk-drop-list-dragging .draggable-box:not(.cdk-drag-placeholder) {
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

//----DRAG_DROP: end ----
////////////////////////////

////////////////////////////
/** TEXT AREA: start **/
::ng-deep cds-textarea#title,
::ng-deep cds-textarea#description {

    // .text-editor-wrapper{
    //     margin: 5px 0px;
    // }
    .text-editor{
        display: flex;
    }

    // mat-form-field{
    //     line-height: unset;
    // }
    // display: flex;
    mat-form-field.mat-focused,
    mat-form-field:hover {
        .mat-form-field-wrapper {
            .mat-form-field-flex {
                // padding: 0px;
                .mat-form-field-infix {
                    textarea {
                        border-bottom: 1px solid rgb(242 205 111)!important;
                        border-top: 1px solid rgb(242 205 111)!important;
                        // outline: 0px solid rgb(242 205 111) !important;
                        transition: border 0.3s;
                        
                    }
                }
            }
        }
    }

    textarea {
        border-bottom: 1px solid white!important;
        border-top: 1px solid white!important;
        border-radius: 0px;
        resize: none !important; 
        padding: 5px 20px !important;
        min-height: 25px !important;

    }
}

::ng-deep cds-textarea#title{
    textarea {
        font-weight: 600;
    }
}

::ng-deep cds-textarea#description.noButtons {
    textarea {
        border-radius: 0px 0px $button-border-radius-base $button-border-radius-base;
    }
}


::ng-deep .cdk-drag-preview {

    #title{
        textarea {
            font-weight: 600;
        }
    }

    textarea {
        border-bottom: 1px solid white!important;
        border-top: 1px solid white!important;
        border-radius: 0px;
        resize: none !important; 
        padding: 5px 20px !important;
        min-height: 25px !important;
    }

    

    appdashboard-image-upload {
        div.dropUploadImage{
            min-height: unset !important;
        }
        div.image-wrp{
            height: var(--cardImageHeight);
            img{
                height: 100% !important;
                width: 100% !important;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        
    }
}
/** TEXT AREA: end **/
////////////////////////////
