<div class="m-header">
  <h1 mat-dialog-title>
    {{ 'InstallOnYourWebsite' | translate }}
  </h1>
  <div class="m-top-right-icon">
    <span class="material-icons-outlined" (click)="onNoClick()">
      close
    </span>
  </div>
</div>

<div mat-dialog-content class="modal-install-widget-content">
  <div class="widget--script-copy-instructions">
    <div class="copy-script-title">Javascript {{ 'Installation' | translate }}</div>
    {{ 'Resourcepage.CopyTheFollowingScript...' | translate }}
    <code><em>&lt;head&gt;</em></code> tags.
  </div>

  <div class="script-wpr" style="position: relative;">
    <pre class="widget--script">
      <span>&lt;script type=&quot;application/javascript&quot;&gt;</span>
      <span>   window.tiledeskSettings=</span>
      <span>   {{'{'}}</span>
      <span>	 projectid: &quot;{{ projectId }}&quot;,</span>
      <span *ngIf="participants">    participants: &quot;{{ participants }}&quot;,</span>
      <span *ngIf="departmentID">    departmentID: &quot;{{ departmentID }}&quot;,</span>
      <span>   {{'};'}}</span>
      <span>   (function(d, s, id) {{'{'}}</span>
      <span>      var w=window; var d=document; var i=function(){{'{'}}i.c(arguments);{{'};'}} </span>
      <span>      i.q=[]; i.c=function(args){{'{'}}i.q.push(args);{{'};'}} w.Tiledesk=i; </span>
      <span>      var js, fjs=d.getElementsByTagName(s)[0];  </span>
      <span>      if (d.getElementById(id)) return; </span>
      <span>      js=d.createElement(s); </span>
      <span>      js.id=id; js.async=true; js.src=&quot;{{WIDGET_URL}}&quot;;</span>
      <span>      fjs.parentNode.insertBefore(js, fjs);</span>
      <span>   {{'}'}}(document,&#39;script&#39;,&#39;tiledesk-jssdk&#39;));</span>
      <span>&lt;/script&gt;</span>
    </pre>

    <span (click)="copyToClipboard()" class="material-icons-outlined widget-content-copy">
      content_copy
    </span>
    <div class="copied--to--clipboard--tooltip" [ngClass]="{'has--copied--text' : has_copied}">
      {{ 'Copied' | translate }}
    </div>
  </div>

  <div class="link-to-installations" (click)="goToWidgetInstallation()">
    {{ 'OtherIntegrationsAreAvailableOnInstallationsPage' | translate }}
  </div>
</div>

