@import "../../../../../../variables";




.image-tab {
    width: 100%;
    height: 100%;
    .removeImage {
        opacity: 0;
        transition: opacity 0.3s ease-in;
    }
    &:hover{
        .response-image-uploader-overlay {
            opacity: 1;
        }
        .removeImage {
            opacity: 1;
        }
    }
}

.image-content-tab {
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}


.response-image-uploader-overlay {
    text-align: center;
    color: white;
    max-height: 260px;
    opacity: 1;
    transition: opacity 0.3s ease-in;
    em {
        display: block;
    }
}



.btn-save {
    width: auto;
    padding: 8px;
    display: inline-block;
}

.form-group {
    margin: 0px;
    label.control-label {
        font-size: 16px;
        line-height: normal;
        color: #fff;
        font-weight: 400;
        margin: 0px 0 10px 0;
    }
    input {
        border-radius: 8px;
        background-color: aliceblue;
        line-height: normal;
        padding: 0 10px;
        height: 30px;
    }
    &.size {
        input {
            width: 60px;
            display: block;
            margin: 0 auto;
        }
        label.control-label {
            margin: 0px;
        }
    }
}
