.content--wpr {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 105px);
    font-family: Poppins,Roboto,Arial,sans-serif;
    line-height: 1.3;
    font-size: 18px;
    // padding: 0 20px;
    font-weight: 400;
}

.tac {
    text-align: center;
}

.bold {
  font-weight: 600;
}

.small {
  font-size: 14px;
}

.mb24 {
    margin-bottom: 24px;
}

.cnp-logo {
    width: 150px;
    margin-top: 20px;
}

.send-login-link-btn {
    font-size: 16px;
    margin-top: 32px;
    text-transform: none;
    padding: 8px 18px
    // background: #f0806f;
}

.send-login-link-btn > .send-login-link-btn-icon {
    display: block;
    margin-bottom: 6px;
    font-size: 28px;
    // transform: rotate(-45deg);
}

.resend-email-me-login-link-wpr {
    visibility:hidden;
}

.spinner--container {
    visibility:hidden;
}

.spinner {
    margin: -46px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #3ea9f5;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }