<div class="wrapper">
  <!-- <div class="sidebar" data-color='red' data-image=""> -->
  <appdashboard-image-viewer></appdashboard-image-viewer>

  <appdashboard-network-offline></appdashboard-network-offline>

  <div class="sidebar">
    <app-sidebar style="max-width: 60px;"></app-sidebar>
    <!-- <appdashboard-small-sidebar></appdashboard-small-sidebar> -->
    <!-- <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div> -->
  </div>
  <div class="user-details-sidebar">
    <appdashboard-sidebar-user-details> </appdashboard-sidebar-user-details>
  </div>

  <div class="main-panel">
    <!-- SEND FOREGROUND MSG  -->
     <!-- <button (click)=" sendForegroundMsg()" style="    color: #000;
    position: absolute;
    z-index: 6200;
    left: 333px;
    border: 1px solid;
    cursor: pointer;"> send  </button>  -->
    <!-- ./ END - SEND FOREGROUND MSG -->
<!-- SEND DESKTOP NOTIFICATION  -->
    <!-- <button (click)="showNotification()" style="color: #000;
    position: absolute;
    z-index: 6200;
    left: 333px;
    border: 1px solid;
    cursor: pointer;"> send  </button> -->

    
    <app-navbar></app-navbar>

    <notification-message></notification-message>
    
    <router-outlet (activate)="changeOfRoutes()"></router-outlet>
   
    <div *ngIf="isMaps('maps')">
      <app-footer></app-footer>
    </div>
  </div>
</div>