/** Uniforma la grafica a modal-delete-namespace **/

:host {
  font-family: var(--header-font-family, 'Poppins', 'Roboto', 'Arial', sans-serif);
}

// h1[mat-dialog-title] {
//   font-size: 24px;
//   font-weight: 600;
//   color: #3c4858;
//   margin-bottom: 8px;
//   font-family: var(--header-font-family, 'Poppins', 'Roboto', 'Arial', sans-serif);
// }

.form-container {
  margin-top: 12px;
  margin-bottom: 12px;
  display: inline-block;
  width: 100%;

  p {
    font-size: 16px;
    color: #000000de;
    line-height: 21px;
  }
}




.info-container {
  display: flex;
  flex-direction: row;
  padding: 12px 15px;
  border-radius: 4px;
  background-color: #d7ebfa6e;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 12px;
}
.info-icon {
  font-size: 32px;
  color: #e53935;
  margin-right: 8px;
}
.info-text p {
  font-size: 16px;
  margin: 0;
  color: #3c4858;
  font-family: var(--header-font-family, 'Poppins', 'Roboto', 'Arial', sans-serif);
}

::ng-deep .mat-dialog-actions {
  font-family: var(--header-font-family, 'Poppins', 'Roboto', 'Arial', sans-serif);
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: -24px;
  justify-content: center;
  gap: 10px;
  button {
    text-transform: none;
    font-weight: 500;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    overflow: visible;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: var(--btn-border-radius);
  }
}

::ng-deep button.mat-button {
  text-transform: none;
  font-weight: 500;
  box-sizing: border-box;
  position: relative;
}

::ng-deep .mat-dialog-close-btn {
  background-color: #647491;
  color: #fff;
  margin-right: 8px;
  min-width: 110px;
  height: 40px;
  font-size: 15px;
  border-radius: 6px;
  font-family: var(--header-font-family, 'Poppins', 'Roboto', 'Arial', sans-serif);
}

::ng-deep .mat-dialog-ko-btn {
  background-color: #e53935;
  color: #fff;
  min-width: 110px;
  height: 40px;
  font-size: 15px;
  border-radius: 6px;
  font-family: var(--header-font-family, 'Poppins', 'Roboto', 'Arial', sans-serif);
}

::ng-deep .mat-dialog-ko-btn:hover {
  background: #b71c1c;
}


