.widget-container {
    width: 371px;
    margin: auto;
}

.td-widget-preview-card {
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0 3px 6px 0 rgba(70, 82, 89, 0.1), 0 10px 20px 0 rgba(70, 82, 89, 0.15);
    box-shadow: 0 3px 6px 0 rgba(70, 82, 89, 0.1), 0 10px 20px 0 rgba(70, 82, 89, 0.15);
    min-height: 220px;
}

.td-widget-preview-card-content {
    padding: 0px;
    text-align: center;
    height: 52px;
    // background-color: rgb(1, 118, 255);
    border-radius: 10px 10px 0 0;
}

.card-header-left {
    float: left;
    margin-top: 14px;
    margin-left: 13px;
}
.card-header-right {
    float: right;
    margin-top: 14px;
}

.td-preview-close-icon {
    margin-left: 16px;
    margin-right: 16px;
}

.td-widget-preview-card-footer {
    padding-top: 0px;
    border-top: none;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 103px;
}

.td-widget-preview-avatar-image {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 73px;
    margin-left: 12px;
}

.td-widget-preview-avatar-image img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.td-widget-preview-msg_receive {
    background-color: #f7f7f7;
    color: #1a1a1a;
    // max-width: 260px;
    max-width: 272px;
    min-width: 14px;
    margin: 0 20px 4px 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 8px;
    margin-left: 59px;
}

.td-widget-preview-msg_receive-p {
    font-size: 14px;
    margin: 0;
    padding: 10px;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-variant: normal;
    font-weight: 300;
    overflow: hidden;
    line-height: 1.3;
    font-weight: 300;
    white-space: pre-line;
}

.td-widget-preview-slide-in-left {
    text-align: left;
    padding-left: 10px;
    font-size: 10px;
    color: #aaaaaa;
    width: 100%;
}

// ---------------------------------------
// New convesation button
// ---------------------------------------
.c21-button-primary {
    width: auto;
    height: 40px;
    line-height: 40px;
    margin: 16px 0;
    // padding: 0 24px;
    padding: 0 21px;
    opacity: 1;
    text-align: center;
    font-size: 13px;
    border-radius: 40px;
    border: unset;
    cursor: pointer;
}

.c21-button-primary .c21-label-button {
    margin-left: 8px;
    font-weight: 600;
}

.c21-button-primary:hover {
    opacity: 0.8;
}

.v-align-center {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    float: left;
}

#pre-chat-form-fields-wpr::-webkit-scrollbar {
    display: none;
}

input[type="checkbox"]:checked {
    accent-color: var(--themeColor);
    animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}

.form-group.is-focused .form-control {
    background-image: linear-gradient(var(--themeColor), var(--themeColor)), linear-gradient(#d2d2d2, #d2d2d2) !important;
}

.prechat-form-preview-not-available-wpr {
    text-align: center;
    width: 100%;
}
.prechat-form-preview-not-available-icon {
    width: 100%;
    
    color: #f8d7da;
}
.prechat-form-preview-not-available-icon span {
    font-size: 95px;
}
.prechat-form-preview-not-available-text {
    width: 100%;
    // color: #721c24;
    font-weight: 400;
}

// input[type="checkbox"]:checked:before {
//     color: green;
// }

// input[type="checkbox"]:checked + label::after {
//     border: 3px solid blue;
// }
