#panel_actions_div{
    padding: 0px;
    box-shadow: #1321440a 0 12px 24px, #1321440a 0 8px 12px, #13214405 0 4px 4px, #13214403 0 2px 2px, #13214403 0 1px 1px, #11316008 0 0, #1131600f 0 0 0 1px;
    .menu-dragging,
    .coming-soon {
        overflow: hidden;
        padding: 6px;
    }
    .section-title {
        padding-top: 3px;
        font-size: 11px;
        font-weight: 600;
        font-family: Poppins,Roboto,Arial,sans-serif;
        color: #394f5a;
        height: 30px;
        padding: 6px;
        background-color: #e7eeefcc;
        margin: 2px;
        border-radius: 6px;
    }
}


// .action-box {
// }

.actions-btns-wpr {
    // width: 136px; // dp
    width: 100%; // nk
    height: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    &:hover{
        cursor: -webkit-grab; cursor: grab;
        box-shadow: #1321440a 0 12px 24px, #1321440a 0 8px 12px, #13214405 0 4px 4px, #13214403 0 2px 2px, #13214403 0 1px 1px, #11316008 0 0, #1131600f 0 0 0 1px;
    }
}
::ng-deep .cdk-drag-preview {
    .actions-btns-wpr  {
        background-color: #ffffff;
        // transform: rotate(-5deg)!important;
        box-shadow: #1321440a 0 12px 24px, #1321440a 0 8px 12px, #13214405 0 4px 4px, #13214403 0 2px 2px, #13214403 0 1px 1px, #11316008 0 0, #1131600f 0 0 0 1px;
        transform: rotate(-3deg);
    }
}


.action-btn-icon {
    display: inline-flex;
    color: #394f5a;
    padding: 0;
    vertical-align: middle;
    margin: 0 6px;
    .btn-tdblu-no-boxshadow {
        margin: 0;
        padding: 0!important;
        background: transparent !important;
        font-size: 12px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.action-btn img {
    width: 16px;
    filter: brightness(0) saturate(100%) invert(28%) sepia(8%) saturate(1693%) hue-rotate(156deg) brightness(93%) contrast(87%);
}

.action-btn-text{
    display: inline-flex;
    color: #394f5a;
    padding: 0;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 400;
}


.example-custom-placeholder {
    height: 30px;
    width: 100%;
    border-radius: 6px;
    display: block;
    background: #e7eeefcc;
}


/* Drag placeholder 
/* ******************************** */

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .action-box:last-child {
    border: none;
  }

  .action-list.cdk-drop-list-dragging .action-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .action-drag-placeholder {
    background: #ccc;
    // background: rgba(221,228,234,.8);
    border: dotted 3px #999;
    // border: dashed 1px #6c6859;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    border-radius: 8px;
  }