<div class="main-content" style="padding-top:0px; background-color: #ffffff;
    min-height: calc(100% - 53px);margin-top: 0px; padding: 0px">


<div style="min-height: calc(100vh - 53px);" class="plan-bckgrnd"
[ngClass]="{'pro-plan-bckgrnd' : selectedPlanName === 'pro', 'enterprise-plan-bckgrnd' : selectedPlanName === 'enterprise'}">
  <div class="row">
    <div class="col-md-12">
      <div class="close-pricing-page">
        <i class="material-icons close-btn" (click)="goBack()">
          clear
        </i>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="margin-top:10px; font-family: Google Sans">Thank you
   
        </h1>
       
      </div>
    </div>
    </div>
</div>
</div>
