@import "./src/assets/sass/md/_variables.scss";

.settings-sidebar-wpr {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    font-size: 12px;
    margin-top: 5px;
    padding-right: 10px;
    // background-color: aliceblue;
    // min-height: calc(100% - 123px);
    // min-height: 100% ;
    // background: rgb(245, 247, 249);
    // padding-top: 13px;

    // padding-right: 5px;
    // padding-left: 7px;
    // top: -9px;
    // left: -13px;
    // height: calc(100% + 39px);
}

.settings-sidebar-wpr-opened {
    width: 215px;
    min-width: 215px;
    max-width: 215px;
}
.settings-sidebar-wpr-closed {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}

.settings-sidebar > li {
    // height: 40px;
    height: 35px;
    border-radius: 4px;
    margin-right: 6px;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    // padding-right: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.active-item {
    background-color: rgb(220, 233, 255);
    font-weight: 500 !important;
}

.custom_paragraph {
    color: rgb(100, 116, 145);
    
    line-height: 1.2;
    margin-bottom: 0px;
    padding-left: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.settings-sidebar-icons {
    color: rgb(100, 116, 145);
    vertical-align: middle;
    font-size: 18px;
    margin-left: 6px;
}

.settings-sidebar > li:hover {
    background-color: rgba(100, 116, 145, 0.08);
    color: rgb(8, 15, 26);
}


.settings-sidebar > li:hover .custom_paragraph {
    // background-color: rgba(100, 116, 145, 0.08);
    color: rgb(8, 15, 26);
}

.settings-sidebar > li:hover .settings-sidebar-icons {
    color: rgb(8, 15, 26);
}

li.active a p.custom_paragraph {
    color: $brand-sidebar-active-item-text-color !important;
}

li.active a i.settings-sidebar-icons {
    color: $brand-sidebar-active-item-text-color !important;
}

li > a {
    /* margin: 5px 15px !important; */

    margin-top: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    // width: 60px;
    border-radius: 0px;
}


.bot--name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
    display: inline-block;
}
.bot-lang-badge {
    // font-weight: 400;
    background-color: #3ea9f5;
    /* border-color: #e3e7fa; */
    padding: 1px 4px 1px 2px;
    border-radius: 4px;
    font-size: 10px;
    color: #fff;
    position: relative;
    // top: -1px;
    text-transform: uppercase;
    left: 0px;
    top: -3px;
}

.toggle-setting-sidebar-icon-wpr {
    position: absolute;
    top: 22px;
    z-index: 1050;
    width: 22px;
    height: 22px;
    background: #fff;
    padding-top: 1px;
} 

.toggle-setting-sidebar-icon-wpr.is_opened {
    left: 215px;
}

.toggle-setting-sidebar-icon-wpr.is_closed {
    left: 40px;
  
}

.toggle-setting-sidebar-icon {
    background: #fff;
    border: 1px solid #e5effe !important;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 18px;
}

.toggle-setting-sidebar-icon:hover {
    background: #f5f8fa;
}

::ng-deep .custom-mat-tooltip-in-settings-sidebar {
    background-color: #fff  !important;
    color: #555555 !important;
    font-size: 12px  !important;
    border-radius: 2px !important;
    font-family: 'Poppins' !important;
    padding-top:8px!important;
    padding-bottom:8px!important;
    border: 1px solid #e5effe!important;
  }

  .sidebar-bot-profile-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #eee;
    margin-left: 3px;
  }
