 <!-- <div class="content columns">
   <main class="column is-8 is-offset-2"> -->
<div class="main-content" style="padding-top:0px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="login-container">
          
          <!-- NEW HTML  -->
          <!-- <h1>Login to Your Account</h1><br>
          <form>
            <input type="text" name="user" placeholder="Username" style="background-color:white">
            <input type="password" name="pass" placeholder="Password">
            <input  type="submit" name="login" class="login loginmodal-submit" value="Login">
        
            <button style="width: 100%;" type="submit" class="btn btn-danger">Update Profile</button>
            <div class="clearfix"></div>
          </form>
            
          <div class="login-help">
            <a href="#">Register</a> - <a href="#">Forgot Password</a>
          </div> -->
          <!-- ./ END NEW HTML  -->

        <form [formGroup]="userForm"  *ngIf="newUser"  (ngSubmit)="signup()">

          <!-- <h3>Registrazione nuovo utente</h3> -->
          <h3>New user sign up</h3>
          <hr>

          <label for="displayName">First Name</label>
          <input type="text" id="firstName" class="input"
                formControlName="firstName" required>

          <label for="displayName">Last Name</label>
          <input type="text" id="lastName" class="input"
                formControlName="lastName" required>

          <label for="email">Email</label>
          <input type="email" id="email" class="input"
                formControlName="email" required >

          <div *ngIf="formErrors.email" class="notification is-danger">
            {{ formErrors.email }}
          </div>

          <label for="password">Password</label>
          <input type="password" id="password" class="input"
                formControlName="password" required >

          <div *ngIf="formErrors.password" class="notification is-danger">
            {{ formErrors.password }}
          </div>

          <!-- <div *ngIf="userForm.valid" class="notification is-success">Form is valid</div> -->
          <!-- SUBMIT -->
          <button style="width: 100%; background-color: #ff9800;" type="submit" class="btn" [disabled]="!userForm.valid">Submit</button>

          <div style="margin-top:16px">
            <!-- <p class="button is-small" (click)="toggleForm()">Sei già registrato?</p> -->
            <!-- <a (click)="toggleForm()">Sei già registrato? </a> -->
            <a (click)="toggleForm()">Already have an account? Login </a>
          </div>
        </form>


        <form [formGroup]="userForm"  *ngIf="!newUser"  (ngSubmit)="login()">

          <h3>Log in</h3>

          <hr>
          <label for="email">Email</label>
          <input type="email" id="email" class="input" formControlName="email" required >

          <div *ngIf="formErrors.email" class="help is-danger">
            {{ formErrors.email }}
          </div>

          <label for="password">Password</label>
          <input type="password" id="password" class="input" formControlName="password" required >

          <div *ngIf="formErrors.password" class="help is-danger">
            {{ formErrors.password }}
          </div>

          <button type="submit" style="width: 100%; background-color: #ff9800;" class="btn btn-danger" [disabled]="!userForm.valid">Submit</button>

          <!-- <span *ngIf="userForm.valid" class="help is-success">Form Looks Valid</span> -->
          <div style="margin-top:16px">
            <!-- <p class="btn button is-small" (click)="toggleForm()">Non hai ancora un account? Registrati</p> -->
            <!-- <a (click)="toggleForm()">Non hai ancora un account? Registrati</a> -->
            <a (click)="toggleForm()">Don't have an account yet? Sign up</a>
          </div>

          <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
          <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>

        </form>
        <!-- </main> -->
      </div>
      </div>
    </div>
  </div>
</div>
