@import "./src/assets/sass/cds/_variables.scss";


:host{
    --backgroundColor: #{$color-withe-hex};
    --textColor: #{$color-blue-hex};
    --hoverBackgroundColor: #{$color-blue-hex};
    --hoverTextColor: #{$color-withe-hex};
    --buttonFontSize: 0.7em;
    --max-width: #{$button-max-width-base};
}
.previewMode{

    .content-botton-reply {
        height: unset;
    }

    .button-reply{
        min-width: $button-min-width-preview;
        max-width: $button-max-width-base;
        padding: 2px 10px;
        // max-width: calc(100% - 20px);
        // margin: auto;
        // background: transparent;

        // &.connected{
        //     background: #ffff;
        //     border-color: #ffff;
        // }
    }
}

.button-reply {
    // float: right;
    display: flex;
    justify-content: center;
    position: relative;
    min-width: $button-min-width-base;
    text-align: center;
    // margin: 0px 5px 0px; //10px 5px 0;
    padding: 0px 10px;
    user-select: none;
    box-sizing: border-box;
    outline: none;
    background: var(--backgroundColor);
    border: 1px solid var(--textColor);
    border-radius: $button-border-radius-base;
    color: var(--textColor);
    cursor: pointer;
    font-size: var(--buttonFontSize);
    font-weight: 500;
    line-height: $button-height-base;
    transition: all .3s;
    transition: background-color .6s ease;
    &.custom-placeholder {
        margin: 10px 5px;
        background: #dfdfdf;
        border: dotted 0px #999;
        // height: $button-height-base;
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

    }

    .icon-button-action {
        position: absolute;
        top: -1px;
        right: 5px;
        svg {
            fill: var(--textColor);
        }
    }
    .icon-button-action-self{
        position: absolute;
        right: 1px;
        svg {
            fill: var(--textColor);
        }
    }
    &:focus,
    &:hover {
        color: var(--hoverTextColor);
        background:  var(--hoverBackgroundColor);
        .icon-button-action, .icon-button-action-self {
            svg {
                fill: var(--hoverTextColor);
            }
        }
    }
}


.button-reply-wrp:hover {
    transform: scale(1.05);
    .button-controls {
        opacity: 1;
    }
}

.button-reply-text {
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
    user-select: none;
    color: var(--textColor);
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    line-height: $button-height-base;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.button-in-msg{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
}

.button-controls {
    justify-content: space-between;
    display: inline-flex;
    width: 28px;
    height: 24px;
    position: absolute;
    left: 0;
    top: -40%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    .buttonsToMove{
        display: inline-flex;
    }
    .control-button {
        cursor: pointer;
        background: $color-bck-gray-hex;
        color: $color-bck-gray-hex;
        transition: color .3s;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2px;
        em {
            font-size: 1.15em;
            color: var(--backgroundColor);
            transition: color .3s;
        }
    }
    .control-button:hover{
        color: var(--backgroundColor);
        box-shadow: 0 2px 6px 0 rgb(255 255 255 / 15%);
        em {
            color: var(--backgroundColor);
        }
        &.delete{
            em {
                color: $color-red-hex;
            }
        }
    }
}