<div class="m-header">
    <h1 mat-dialog-title> {{'KbPage.AddMoreContents' | translate }} </h1>

    <div class="m-top-right-icon">
        <span class="material-icons-outlined" (click)="onNoClick()">
            <!-- play_arrow -->
            close
        </span>
    </div>
</div>

<div mat-dialog-content >
    <div class="add-content-cards-wpr" style="    padding: 10px;">

        <div class="add-content-card-wpr" (click)="onOkPresssed('urls')">

            <div class="add-content-card-content">
                <div class="add-content-card-content-icon-wpr">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="none" style="transform: rotate(-45deg);">
                            <path
                                d="M440-280H280q-83 0-141.5-58.5T80-480q0-83 58.5-141.5T280-680h160v80H280q-50 0-85 35t-35 85q0 50 35 85t85 35h160v80ZM320-440v-80h320v80H320Zm200 160v-80h160q50 0 85-35t35-85q0-50-35-85t-85-35H520v-80h160q83 0 141.5 58.5T880-480q0 83-58.5 141.5T680-280H520Z" />
                        </svg>
                    </span>
                </div>
                <span class="span-6"> </span>
                <p class="add-content-card-content-title"> 
                    <!-- {{'KbPage.AddKbURL' | translate }} -->
                     {{'KbPage.Websites' | translate }} 
                </p>
                <span class="span-8"> </span>
                <p class="add-content-card-content-subtitle">
            
                     <!-- {{'KbPage.AddsURLSDescription' | translate }} -->
                     {{'KbPage.AddsURLSAndSitemapDescription' | translate }}
                </p>
            </div>
        </div>

        <div class="add-content-card-wpr" (click)="onOkPresssed('site-map')">
            <div class="add-content-card-content">
                <div class="add-content-card-content-icon-wpr">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="none">
                            <path
                                d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q83 0 155.5 31.5t127 86q54.5 54.5 86 127T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Zm0-82q26-36 45-75t31-83H404q12 44 31 83t45 75Zm-104-16q-18-33-31.5-68.5T322-320H204q29 50 72.5 87t99.5 55Zm208 0q56-18 99.5-55t72.5-87H638q-9 38-22.5 73.5T584-178ZM170-400h136q-3-20-4.5-39.5T300-480q0-21 1.5-40.5T306-560H170q-5 20-7.5 39.5T160-480q0 21 2.5 40.5T170-400Zm216 0h188q3-20 4.5-39.5T580-480q0-21-1.5-40.5T574-560H386q-3 20-4.5 39.5T380-480q0 21 1.5 40.5T386-400Zm268 0h136q5-20 7.5-39.5T800-480q0-21-2.5-40.5T790-560H654q3 20 4.5 39.5T660-480q0 21-1.5 40.5T654-400Zm-16-240h118q-29-50-72.5-87T584-782q18 33 31.5 68.5T638-640Zm-234 0h152q-12-44-31-83t-45-75q-26 36-45 75t-31 83Zm-200 0h118q9-38 22.5-73.5T376-782q-56 18-99.5 55T204-640Z" />
                        </svg>
                    </span>
                </div>
                <span class="span-6"> </span>
                <p class="add-content-card-content-title"> 
                    <!-- {{'KbPage.AddKbSitemap' | translate }} -->
                    {{'KbPage.SynchronizedSitemap' | translate }}
                </p>
                <span class="span-8"> </span>
                <p class="add-content-card-content-subtitle">
                    <!-- Provide your sitemap to feed AI assistant with the information it contains. -->
                     {{'KbPage.AddsSitemapDescription' | translate }}
                </p>
            </div>
        </div>

        <div class="add-content-card-wpr" (click)="onOkPresssed('faq')">
            <div class="add-content-card-content">
                <div class="add-content-card-content-icon-wpr">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="none">
                            <path
                                d="M560-360q17 0 29.5-12.5T602-402q0-17-12.5-29.5T560-444q-17 0-29.5 12.5T518-402q0 17 12.5 29.5T560-360Zm-30-128h60q0-29 6-42.5t28-35.5q30-30 40-48.5t10-43.5q0-45-31.5-73.5T560-760q-41 0-71.5 23T446-676l54 22q9-25 24.5-37.5T560-704q24 0 39 13.5t15 36.5q0 14-8 26.5T578-596q-33 29-40.5 45.5T530-488ZM320-240q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320Zm0-80h480v-480H320v480ZM160-80q-33 0-56.5-23.5T80-160v-560h80v560h560v80H160Zm160-720v480-480Z" />
                        </svg>
                    </span>
                </div>
                <span class="span-6"> </span>
                <p class="add-content-card-content-title"> FAQs </p>
                <span class="span-8"> </span>
                <p class="add-content-card-content-subtitle">
                    <!-- Manually write your own specific FAQ or add multiple FAQs from .CSV file at once. -->
                    {{'KbPage.AddsFAQsDescription' | translate }}
                </p>
            </div>
        </div>

        <div class="add-content-card-wpr" (click)="onOkPresssed('text-file')">
            <div class="add-content-card-content">
                <div class="add-content-card-content-icon-wpr">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="none">
                            <path
                                d="M280-280h280v-80H280v80Zm0-160h400v-80H280v80Zm0-160h400v-80H280v80Zm-80 480q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z" />
                        </svg>
                    </span>
                </div>
                <span class="span-6"> </span>
                <p class="add-content-card-content-title">{{'KbPage.AddKbText' | translate }}  </p>
                <span class="span-8"> </span>
                <p class="add-content-card-content-subtitle">
                    <!-- Manually write your own textual information that users might ask for -->
                    {{'KbPage.AddsPlainTextDescription' | translate }}
                </p>
            </div>
        </div>


        <div class="add-content-card-wpr" (click)="onOkPresssed('file-upload')">
            <div class="add-content-card-content">
                <div class="add-content-card-content-icon-wpr">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="none">
                            <path
                                d="M440-200h80v-167l64 64 56-57-160-160-160 160 57 56 63-63v167ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z" />
                        </svg>
                    </span>
                </div>
                <span class="span-6"> </span>
                <p class="add-content-card-content-title"> {{'KbPage.UploadFile' | translate }} </p>
                <span class="span-8"> </span>
                <p class="add-content-card-content-subtitle">
                    <!-- Upload detailed documentation, technical guides, user manuals, and other extensive documents -->
                    {{'KbPage.UploadFileDescription' | translate }} 
                </p>
            </div>
        </div>
    </div>

    <div class="link-to-docs--container"> 
        <div *ngIf="hideHelpLink" class="kb-link-to-docs-wpr">
            <span>

                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="none" style="vertical-align: middle;">
                    <path
                        d="M260-320q47 0 91.5 10.5T440-278v-394q-41-24-87-36t-93-12q-36 0-71.5 7T120-692v396q35-12 69.5-18t70.5-6Zm260 42q44-21 88.5-31.5T700-320q36 0 70.5 6t69.5 18v-396q-33-14-68.5-21t-71.5-7q-47 0-93 12t-87 36v394Zm-40 118q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q58 0 113.5 15T480-740q51-30 106.5-45T700-800q52 0 102 12t96 36q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59ZM280-494Z" />
                </svg>

            </span>

            <span class="kb-link-to-docs" (click)="goToKbDoc()">
                {{'KbPage.LearnMoreAboutKB' | translate}}
            </span>
        </div>
    </div>



</div>


<!-- <div mat-dialog-actions style="justify-content: center;">
    <button class="mat-dialog-close-btn" mat-button (click)="onNoClick()">
        {{ "Cancel" | translate }}

    </button> -->
    <!-- [mat-dialog-close]="newKb.url" -->
    <!-- <button class="mat-dialog-ok-btn" mat-button
        (click)="onOkPresssed(namespaceName)" cdkFocusInitial>
       
        {{ "Create" | translate }}
        
    </button> -->
<!-- </div> -->