#user-details {
    background-color: #1e2129;
    color: #fff;
    // height: calc(100% - 60px);
    height: 100%;
    overflow-y: auto;
    padding: 16px 12px 32px;
    position: absolute;
    left: -60px;
    // top: 60px;
    top: 0px;
    transform: translate(305px);
    transition: transform 0.5s;
    width: 305px;
    //    z-index: 1029;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    // display: none;
}

#user-details::-webkit-scrollbar {
    width: 3px;
}
#user-details::-webkit-scrollbar-track {
    background-color: #1c2b45;
}
#user-details::-webkit-scrollbar-thumb {
    background-color: #3c485b;
    border-radius: 3px;
}

#user-details.active {
    transform: translate(0);
    display: block;
    left: 60px;
}

#user-details .user-details-btn-close svg {
    fill: #647491;
}

#user-details .user-details-btn-close {
    opacity: 1;
    position: absolute;
    right: 16px;
    top: 20px;
}

button.user-details-btn-close {
    -webkit-appearance: none;
    background: 0 0;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.user-details-btn-close {
    color: #000;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.2;
}

.user-details-btn-close:hover {
    color: #000;
    cursor: pointer;
    opacity: 0.5 !important;
    text-decoration: none;
}

.user-details-dshbrd-lang {
    position: absolute;
    top: 20px;
    left: 16px;
    cursor: pointer;
}

.user-details-dshbrd-lang-code {
    text-transform: uppercase;
    color: #647491;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.user-details-avatar {
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 85px;
    border-radius: 50%;
    padding: 4px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    background: #2d323e;
}

.user-img-in-sidebar-user-details {
    width: 102px;
    height: 102px;
    margin: 0;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.user-details-fullname {
    top: 190px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.user-details-fullname > h3 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.user-details-email {
    top: 235px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.user-details-email > h3 {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    font-family: "Poppins";
    font-weight: 400;
    line-height: 6px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    white-space: nowrap;
}

.user-details-role {
    top: 260px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.user-details-role > h3 {
    font-size: 11px;
    text-align: center;
    margin-top: 5px;
    text-transform: uppercase;
    color: #a9afbb;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.availability-section {
    top: 300px;
    text-align: center;
    background-color: #2d323e;
    padding: 9px;
    width: 192px;
    border-radius: 4px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    margin: auto;
    position: absolute;
}

.first-divider {
    margin-top: 355px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.camera-on-hover {
    cursor: pointer;
    position: absolute;
    top: 80px;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    width: 90px;
    height: 90px;
    padding: 33px;
    background: rgba(45, 50, 62, 0.7);
    opacity: 0;
}

.camera-on-hover:hover {
    opacity: 1;
}
.user-details-user-isbusy {
    color: #feb92c;
    background-color: #2d323e;
    border-radius: 50%;
    position: absolute;
    top: 96px;
    width: 21px;
    height: 21px;
    left: 101px;
}

.user-details-user-isbusy-icon {
    font-size: 18px !important;
    position: relative;
    // top: 3px;
    // left: 3px;
    top: 2px;
    left: 2px;
}

.user-details-plan-info {
    font-size: 13px;
    text-transform: capitalize;
    color: #a9afbb;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

.user-details-footer-section {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    cursor: pointer;
    padding-bottom: 15px;
    padding-top: 200px;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 400;
    // bottom: 50px;
    // top:355px
}

.footer-margin-top-pricing-no-visible {
    padding-top: 240px;
}
.user-details-logout-icon {
    color: #a9afbb;
    font-size: 30px;
    margin-top: 30px;
}

.user-details-logout-icon:hover {
    color: #fff;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #a9afbb;
    margin-left: 30px;
}

:host ::ng-deep .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #a9afbb;
    margin-left: 30px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #4caf50;
}
:host ::ng-deep .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #f44336;
}

::ng-deep .my-custom-snackbar {
    margin: 0 !important;
    position: absolute;
    right: 25px;
    top: 95px;
}

::ng-deep .my-custom-snackbar .mat-simple-snackbar-action {
    color: #eee;
}

::ng-deep .user-sidebar-custom-mat-tooltip {
    background-color: #2d323e !important;
    font-size: 12px !important;
    border-radius: 2px !important;
    font-family: "Poppins" !important;
    z-index: 1052 !important;
}

.altenative-sidebar-user-details-avatar {
    line-height: 3.2;
    font-weight: 400;
    font-family: "Poppins";
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    z-index: 1054 !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
