#user-details {
    background-color: #1e2129;
    color: #fff;
    // height: calc(100% - 60px);
    height: 100%;
    overflow-y: auto;
    padding: 16px 12px 32px;
    position: absolute;
    left: -60px;
    // top: 60px;
    top: 0px;
    transform: translate(305px);
    transition: transform 0.5s;
    width: 305px;
    //    z-index: 1029;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    // display: none;
}

#user-details.active {
    transform: translate(0);
    display: block;
    left: 60px;
}

#user-details .user-details-btn-close svg {
    fill: #647491;
}

#user-details .user-details-btn-close {
    opacity: 1;
    position: absolute;
    right: 16px;
    top: 20px;
}

button.user-details-btn-close {
    -webkit-appearance: none;
    background: 0 0;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.user-details-btn-close {
    color: #000;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.2;
}

.user-details-btn-close:hover {
    color: #000;
    cursor: pointer;
    opacity: 0.5 !important;
    text-decoration: none;
}

.user-details-dshbrd-lang {
    position: absolute;
    top: 20px;
    left: 16px;
    cursor: pointer;
}

.user-details-dshbrd-lang-code {
    text-transform: uppercase;
    color: #647491;
    position: relative;
    top: 1px;
}

.user-details-avatar {
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 85px;
    border-radius: 50%;
    padding: 4px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    background: #2d323e;
}

.user-img-in-sidebar-user-details {
    width: 102px;
    height: 102px;
    margin: 0;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

.user-details-fullname {
    top: 190px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.user-details-fullname > h3 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 5px;
}

.user-details-email {
    top: 235px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.user-details-email > h3 {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.user-details-role {
    top: 260px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.user-details-role > h3 {
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
    text-transform: uppercase;
    color: #a9afbb;
    font-weight: 400;
}

.availability-section {
    top: 300px;
    text-align: center;
    background-color: #2d323e;
    padding: 9px;
    width: 192px;
    border-radius: 4px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    margin: auto;
    position: absolute;
}

.camera-on-hover {
    cursor: pointer;
    position: absolute;
    top: 80px;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    width: 90px;
    height: 90px;
    padding: 33px;
    background: rgba(45, 50, 62, 0.7);
    opacity: 0;
}

.camera-on-hover:hover {
    opacity: 1;
}
.user-details-user-isbusy {
    color: #feb92c;
    background-color: #2d323e;
    border-radius: 50%;
    position: absolute;
    top: 92px;
    width: 24px;
    height: 24px;
    left: 101px;
}

.user-details-user-isbusy-icon {
    font-size: 18px !important;
    position: relative;
    top: 3px;
    left: 3px;
}

.user-details-footer-section {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    cursor: pointer;
    // top:355px
}
.user-details-logout-icon {
    color: #a9afbb;
    font-size: 30px;
    margin-top: 30px;
}

.user-details-logout-icon:hover {
    color: #fff;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #a9afbb;
    margin-left: 30px;
}

:host ::ng-deep .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #a9afbb;
    margin-left: 30px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #4caf50;
}
:host ::ng-deep .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #f44336;
}

::ng-deep .my-custom-snackbar {
    margin: 0 !important;
    position: absolute;
    right: 25px;
    top: 95px;
}

::ng-deep .my-custom-snackbar .mat-simple-snackbar-action {
    color: #eee;
}

::ng-deep .custom-mat-tooltip {
    background-color: #2d323e;
    font-size: 12px;
}
