@import "./src/assets/sass/md/_variables.scss";



.column-th-span {
  font-size: 14px;
  font-weight: 500;
  color: #353f45;
  // color: #566787;
}

.tag-input-wrapper {
  // height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 0px;
}

.tag-input-wrapper input[type="text"] {
  height: 36px;
  font-size: 14px;
  //   width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  padding-right: 8px;
  padding-left: 26px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  //   border-radius: 5px;
  // float: left;
  // margin-right: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
  position: relative;
  color: #000000de;
  font-weight: 300;
}

.tag-input-wrapper .dropdown .tag-dropdown-toggle {
  box-shadow: none !important;
  background: #fff;
  border: 1px solid #d9d9d9;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: -1px !important;
  padding: 8px 10px 8px 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  height: 36px;
}

.tag-input-wrapper .dropdown .dropdown-toggle:hover {
  box-shadow: none !important;
}

.tag-input-wrapper .dropdown-menu li a:hover,
.tag-input-wrapper .dropdown-menu li a:focus,
.tag-input-wrapper .dropdown-menu li a:active {
  background-color: transparent;
  color: #000;
}

.tag-color-round-div--in-input {
  position: absolute;
  // top: 22px;
  // left: 7px;
  top: 10px;
  left: 7px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.svg-inline--fa {
  width: 18px;
  height: auto;
  vertical-align: middle;
  margin-right: 8px;
}

.svg-inline--fa-in-table-row {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.svg-inline--fa-horizontal-dropdown {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.open-dropdown-icon {
  // background-color: #f5f5f5;
  // opacity: 0;
  margin-top: -1px !important;
}

.table-hover>tbody>tr:hover {
  .open-dropdown-icon {
    background-color: #00000000;
    // opacity: 1;
  }
}

.td-tag-table {
  font-weight: 400;
  font-size: 14px;
  color: #333;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d9d9d9;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d9d9d9;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d9d9d9;
}

@media (min-width: 992px) {
  // Default state: hidden (Bootstrap 5 behavior)
  .dropdown-menu-inline {
    display: none !important;
  }
  
  // Show dropdown when toggle has .show class (Bootstrap 5)
  .dropdown-toggle.show ~ .dropdown-menu-inline,
  // Also support Bootstrap 3/4 compatibility (.open on parent)
  .dropdown.open > .dropdown-menu-inline {
    display: inline-flex !important;
  }
}

.user-img-in-tags {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #eee;
  object-fit: cover;
}




// -------------------------------------------------------------------------------
// Horizontal dropdown menu - the follow style is applied in-line in the template
// -------------------------------------------------------------------------------
// .dropdown-menu > li {
//     display: inline-block;
//     float:left;
// }
// .open > ul {
//     display: inline-flex !important; //
// }

.tag-dropdown-toggle.disabled {
  pointer-events: none;
  opacity: 1;
  cursor: not-allowed;
}

.create-tag-btn {
  margin: 0px;
  // padding-top: 6px !important;
  height: 36px;
  position: relative;
  // top: -1px;
}

.tag-error-message {
  color: #f6303a;
  font-size: 12px;
  position: relative;
  top: -6px;
  text-align: end;
}

.add-tag-icon {
  padding-right: 8px
}

@media (max-width: 705px) {
  .add-tags-text {
    display: none;
  }

  .add-tag-icon {
    padding-right: 0px
  }

  .create-tag-btn {
    padding: 8px 4px;
  }

  .tag-input-wrapper input[type="text"] {
    margin-right: 3px;
  }
}

.link-to-docs-wpr {
  margin-bottom: 16px;
}
.link-to-docs-wpr > div > div > span > svg {
  fill: var(--blue-light);
  vertical-align: middle;
} 

.link-to-docs {
  // background-color: rgb(241, 241, 241);
  margin-right: 0px;
  margin-left: 0px;
  margin-left: -14px;
  // padding-bottom: 12px;
  // padding-top: 12px;
  padding: 10px 0px;
}

.custom-anchor-to-docs {
  color: var(--blue-light); // #0f62ff !important;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 8px;
  text-decoration: none;
}

.custom-anchor-to-docs:hover {
  text-decoration: underline;
}

.table .td-actions .btn {
  margin: 6px !important;
}

.quick-tips-right-bar {
  margin-top: -20px;
}

// Hide Bootstrap 5 default caret for dropdown-edit-tag-color
#dropdown-edit-tag-color .dropdown-toggle::after {
  display: none !important;
  content: none !important;
}

// Hide Bootstrap 5 default caret for create-tag-dropdown-toggle
#create-tag-dropdown-toggle::after {
  display: none !important;
  content: none !important;
}