@import "./src/assets/sass/cds/_variables.scss";

.response-image-uploader-overlay {
    text-align: left;
    color: white;
    max-height: 260px;
    opacity: 1;
    transition: opacity 0.3s ease-in;
    em {
        display: block;
    }
}



.btn-save {
    width: auto;
    padding: 8px;
    display: inline-block;
}

.form-group {
    margin: 20px;
    text-align: left;
    width: calc(100% - 160px);
    display: inline-block;
    position: relative;
    label.control-label {
        font-size: 14px;
        line-height: normal;
        color: #aaa;
        font-weight: 400;
        margin: 7px 0;
    }
    input {
        border-radius: 8px;
        background-color: aliceblue;
        line-height: normal;
        padding: 0 10px;
        height: 30px;
        width: 100%;
        margin: auto;
        position: relative;
        display: flex;
    }
    &.size {
        input {
            width: 60px;
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        // label.control-label {
        //     margin: 0px;
        // }
    }
}

.control-label{
    font-family: 'Poppins','Roboto',Arial,sans-serif;
    color: #e8eaed;
    text-align: left;
    line-height: 20px;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 300;
}

.col-dimension{
    display: inline-block;
    position: absolute;
    width: 52px;
    right: 0;
    top: 0;
    margin-right: -70px;
}

.row-info{
    margin-bottom: 8px;
    
    input {
        box-sizing: border-box;
        font: inherit;
        color: #e8eaed;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        display: block;
        width: 100%;
        margin: 0;
        background: #ffffff;
        border: none;
        padding: 5px;
        border-radius: 4px;
        text-align: right;
    }
    
}