<div class="section">
    <div class="response-image-uploader-overlay">
        <!-- <em class="material-icons">photo_camera</em> -->
        <div class="form-group">
            <label class="control-label">
                {{ 'Add path' | translate }}
            </label>
            <input 
                type = "text" 
                [(ngModel)] = "pathElement"
                class="input form-control"
            />
        </div> 

        <button 
            type="button" 
            class="btn btn-primary btn-save" 
            (click)="onLoadPathElement()">
            {{ 'load video' | translate }}
        </button>
    </div>

</div>




<div class="col-dimension">

    <div class="row-info">
        <span class="control-label">{{ 'width' | translate }}:</span>
        <input [(ngModel)] = "widthElement" type="text" class="input ng-untouched ng-pristine ng-valid">
    </div>
    <div class="row-info">
        <span class="control-label">{{ 'height' | translate }}:</span>
        <input [(ngModel)] = "heightElement" type="text" class="input ng-untouched ng-pristine ng-valid">
    </div>

    <!-- <div class="form-group size">
        <label class="control-label">
            {{ 'width:' | translate }}
        </label>
        <input 
            type = "text" 
            [(ngModel)] = "widthElement"
            class="input form-control"
        />
    </div>
    <div class="form-group size">
        <label class="control-label">
            {{ 'height:' | translate }}
        </label>
        <input 
            type = "text" 
            [(ngModel)] = "heightElement"
            class="input form-control"
        />
    </div>  -->
</div>

        

        <!-- <div *ngIf="!showAddImage" class="section removeImage">
            <div class="response-image-uploader-overlay">
                <em class="material-icons">photo_camera</em>
                <button 
                    type="button" 
                    class="btn btn-primary btn-save" 
                    (click)="onRemoveImage()">
                    {{ 'Remove image' | translate }}
                </button>
            </div> 
        </div> -->
