input[type=text] {
    // min-width: 307px !important;
    height: 36px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9 !important;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff !important;
    border: solid 1px #ddd;
    
}

select {
    // height:36px;  
    height:26px; 
    background: #fff; 
    border-radius: 0px; 
    border-color: #d9d9d9; 
    font-family: Arial, Helvetica, sans-serif;
}


.errorGroup {
    color: #ff5252 !important;
    border-color: #ff5252 !important;
}

.selectCustomDisabled {
    color: #c0c0c0 !important;
    background-color: rgba(192,192,192,.1) !important;
}

.card form [class*="col-"] {
    padding: 0px;
}

input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

// OPTION ITEM MENU
@media (max-width: 768px){
    .col-sm-8 {
        padding-top:5px !important; 
        left:16px !important;
    }
}

/* MODAL START */
.modal {
    top: 0;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal-body {
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 0px;
    padding-left: 15px;
}

.modal-footer {
    // padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    // background-color: #edf0f1;
    background-color: #eeeeee;
    padding-top:10px !important;
}
/* MODAL END */
 
select option:first-child{
    color: green;
  }

  .error-notice {
    // margin: 5px 5px; /* Making sure to keep some distance from all side */
  }
  
  // START - CUSTOM NOTIFICATION 
  // https://bootsnipp.com/snippets/featured/a-different-approach-to-bootstrap-alert
  .oaerror {
    width: 100%; /* Configure it fit in your design  */
    margin: 0 auto; /* Centering Stuff */
    background-color: #FFFFFF; /* Default background */
    // padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right:20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }

  .danger {
    border-left-color: #d9534f; /* Left side border color */
    background-color: rgba(217, 83, 79, 0.1); /* Same color as the left border with reduced alpha to 0.1 */
  }
  
  .danger strong {
    color:  #d9534f;
  }
  
  .warning {
    border-left-color: #f0ad4e;
    background-color: rgba(240, 173, 78, 0.1);
  }
  
  .warning strong {
    color: #f0ad4e;
  }
  
  .info {
    border-left-color: #5bc0de;
    // background-color: rgba(91, 192, 222, 0.1);
  }
  
  .info strong {
    color: #5bc0de;
  }
  
  .success {
    border-left-color: #2b542c;
    background-color: rgba(43, 84, 44, 0.1);
  }

  .disabled {
    border-left-color: #999;
    background-color: rgba(192, 192, 192, 0.1);
  }
  
  .success strong {
    color: #2b542c;
  }
  // END - CUSTOM NOTIFICATION 