.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #728087;
    padding: 4px;
}

.search-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-box {
    width: 100%;
    display: flex;
    justify-content: center;

    .title {
        color: white;
        font-weight: 500;
    }
}

.icon-container {
    width: 38px;
    display: flex;
    justify-content: flex-start;
}

.icon-list {
    display: flex;
    flex-direction: row;
}

.custom-divider {
    background-color: #334754;
    width: 80%;
    height: 1px;
    box-shadow: 0px 0px 10px #334754;
    margin: 6px 0px 14px 0px;
}

.intent-list {

}

.intent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
    min-height: 38px;
    padding-left: 6px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.3s;

    .rocket-launch-icon {
        color: #0aae10;
        font-size: 20px;
        font-weight: 600;
    }

    .undo-icon {
        color: #ff4000;
        font-size: 20px;
        font-weight: 600;
    }

    .intent-display-name {
        color: white;
        font-weight: 500;
        margin-bottom: 0px;
        font-size: 14px;
    }

    .icon-list {
        display: flex;
        flex-direction: row;

        .icon {
            color: #8c989e;
        }

        .ai-icon {
            margin-bottom: 0px;
            font-size: 12px;
            margin-top: -5px;
            margin-right: 3px;
        }

        .webhook-icon {
            font-size: 12px;
            margin-right: 3px;
        }

        .list-alt-icon {
            font-size: 12px;
            margin-right: 3px;
        }

        .bolt-icon {
            font-size: 12px;
            margin-right: -2px;
            font-weight: 600;
        }

        .actions {
            display: flex;
        }

        .action-counter {
            font-size: 10px;
            padding: 0px;
            margin: 0px;
            margin-top: -4px;
        }
    }
}

.intent:hover {
    background-color: #d2d2d2;

    .intent-display-name {
        color: #333;
        font-weight: 500;
        margin-bottom: 0px;
        font-size: 14px;
    }

    .icon-list {
        .icon {
            color: #333;
        }
    }

}

.intent:active {
    background-color: #d2d2d2;
    border-right: solid 5px #0049bd;
    border-right: solid 5px #3ea9f5;
    border-radius: 6px 10px 10px 6px;

    .intent-display-name {
        color: #333;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .icon-list {
        .icon {
            color: #333;
        }
    }
}

.active {
    background-color: #d2d2d2;
    //border-right: solid 5px #0049bd;
    border-right: solid 5px #3ea9f5;
    border-radius: 6px 10px 10px 6px;

    .intent-display-name {
        color: #333;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .icon-list {
        .icon {
            color: #333;
        }
    }
}

.default-intent:hover {
}

.default-intent:active {
}

.input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    .custom-input {
        background-color: transparent;
        border-radius: 6px;
        border: none;
        color: #d2cfcf;
        text-align: center;
    }

}
