<div class="content-panel-intent-detail">

    <div class="text-editor-wrapper">
        <div class="field-box">
            <label class="title-label">Variable name:</label>
            <!-- <cds-text id="text-condition"
                [control]="actionDeleteFormGroup.controls['variableName']">
            </cds-text> -->
            <cds-select
                [items]="variableListUserDefined"
                [bindLabelSelect]="'name'"
                [bindValueSelect]="'value'"
                [itemSelected]="action?.variableName"
                (onSelected)="onChangeSelect($event)">
            </cds-select>
        </div>
    </div>

</div>
