@import "./src/assets/sass/cds/_variables.scss";

.set--attribrutes-panel {
    min-width: 150px;
    background: #fff;
    padding: 6px;
    position: absolute;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    // gap: 5px;
    // top: -68px;
    box-shadow: 0 0 20px 4px #9aa1b126, 0 4px 80px -8px #24282f40, 0 4px 4px -2px #5b5e6926;
    right: 0;
    // top: -110px;
    z-index: 1050;
}

#set--attribrute {
    background: #fff;
    text-align: left;
    padding: 6px;
    border: unset;
    -webkit-transition: background-color 0.2s, opacity 0.2s;
    transition: background-color 0.2s, opacity 0.2s;
    font-weight: 400;
}

.single-attribute-style {
    background: #ffdc66;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 10px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline;
    padding: 0 5px;
}

[contenteditable] {
    border: 0px solid #000;
    margin: 10.5px;
    line-height: 25px;
    -webkit-appearance: textfield;
    appearance: textfield;
    background: #fff;
    border-radius: 8px;
    /* min-height: 42px; */
    width: calc(100% - 168px);
    white-space: pre;
    white-space: pre-wrap;
    white-space: break-spaces;
    display: inline-block;
    font-size: 14px;
    overflow: hidden auto;
    padding: 5px 10px;
    /* resize: vertical; */
    max-height: 125px;
}

.emoji-picker-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background: #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 19%);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 19%);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 23px;
    justify-content: center;
    margin-right: 5px;
    width: 23px;
    color: #647283;
}

.emoji-picker-button:hover {
    background: rgba(0, 108, 255, 0.3);
}

.tpl-text-limit {
    pointer-events: none;
    transition: background-color 0.3s, color 0.3s;
    .num-chars {
        background: $color-light-gray-hex;
        padding: 0px 8px;
        border-radius: 12px;
        font-size: 0.8em;
        color: $color-text-box-hex;
        float: right;
        line-height: 20px;
        font-weight: 700;
        width: 40px;
        text-align: center;
        &.error {
            background: $color-orange-hex;
        }
    }
}


.insert-attribute-btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background: transparent;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 23px;
    justify-content: center;
    margin-right: 5px;
    width: 24px;
    color: #647283;
    box-shadow: 0 1px 3px #00000030;
    border: unset;
    z-index: 1;
    position: relative;
}

.insert-attribute-btn:hover {
    background: rgba(0, 108, 255, .3);
}

.material-icons-data-object {
    font-size: 16px;
    position: absolute;
    left: 1px;
    top: 0px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    padding: 3px 3px;
    z-index: 0;
    box-shadow: 0 1px 3px #00000030;
}

.text-editor-utils {
    align-items: center;
    bottom: 6px;
    display: flex;
    position: absolute;
    right: 170px;
    z-index: 1;
}

::ng-deep .set-attributes-panel {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 600px;
    min-height: 200px;
    box-shadow: 0 0 20px 4px rgb(154 161 177 / 15%), 0 4px 80px -8px rgb(36 40 47 / 25%),
        0 4px 4px -2px rgb(91 94 105 / 15%);
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 15px 0;
}


@import "./src/assets/sass/cds/_variables.scss";

#search {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    border-bottom: 1px solid #e8eef3;
    padding: 0px 15px;
    gap: 10px;

    input{
        background: transparent;
        border: 0;
        font-size: 16px;
        height: 40px;
        line-height: 20px;
        width: 100%;
    }

    
}

.material-icons{
    color: $light-blue;
    font-size: 18px;
}

#scrollMe{
    max-height: calc(34vh - 50px);
    overflow-y: scroll;
}

#data{
    // padding: 15px 0px;  
    overflow-x: hidden;
    &:first-child{
        margin-bottom: 20px;
        padding-top: 15px;
    }

    .category-name{
        margin-bottom: 10px;
        padding: 0 15px;
        color: #9ba6b3;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .category-row{
        display: flex;
        align-items: center;
        gap: 10px;
        height: 32px;
        padding: 0 15px;
        transition: background-color .2s,opacity .2s;

        &:hover{
            background: #f0f4f7;
            cursor: pointer;
        }
    }

    .category-row-name{
        color: #444a51;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
    }
}

#add-attribute{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 15px;
    width: 100%;
    border-top: 1px solid rgb(232, 238, 243);
    transition: all 0.3s ease 0s;

    color: rgb(34, 39, 45);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    transition: color 0.3s ease 0s;

    &:hover{
        color: #9ba6b3;
    }
}

.canned-response-texarea {
    resize: vertical;
    width: 100%;
    /* height: 98px; */
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    color: #22272d;
    font-size: 1.15em;
    line-height: 25px;
}