<div class="navbar-brand" style="z-index: 1050;position: relative;margin-top:6px; padding-left:30px">
    <i class="material-icons" style="vertical-align: middle !important; cursor: pointer;" (click)="goBack()">keyboard_arrow_left</i>
    
    {{ "UsersPage.PendingInvitation" | translate }}
</div>

<div class="main-content" style="padding-top:0px;">
  <div class="container-fluid">

    <div class="row">
        <div class="col-md-8">
          <!-- style="min-height: 195px" -->
          <div class="card">
            <div class="card-content table-responsive">

                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th> 
                        <span class="column-th-span">
                          {{ "UsersPage.User" | translate }}
                        </span>
                      </th>

                      <th> </th>

                      <th>
                        <span class="column-th-span">
                          {{ "UsersPage.Role" | translate }}
                        </span>
                      </th>

                      <th></th>

                    </tr>
                </thead>

                <tbody>
                
                <tr *ngIf="pending_invites?.length === 0">
                  <td colspan="4" style="text-align:center; font-weight: 400; color: #7695a5;">
                    {{ "UsersPage.NoPendingInvitation" | translate }}
                  </td>

                </tr>

                  <tr *ngFor="let invites of pending_invites"> 
                    <td style="width:1%; white-space:nowrap; text-align: center;">
                      <i class="material-icons" style="color: rgba(0,0,0,0.54)">
                        query_builder
                      </i>
                    </td>

                    <td style="width: 25%; white-space: nowrap;padding-right: 25px;"> 
                      <span style="font-weight:400"> 
                        {{ invites?.email }}
                      </span> 
                      <span style="display: block; color:#7695a5; font-size: 12px; font-weight: 400">
                         
                        
                        {{ "UsersPage.DateOfSending" | translate }}: {{ invites?.createdAt | date: 'd/M/y' }}
                       </span>
                    </td>

                    <td style="font-weight:400;">

                      {{ "UsersPage.InvitedToBecome" | translate }} 
                      <span style="text-transform:capitalize"> 
                        {{ invites?.role }}
                      </span>
                        
                    </td>

                    <td>
                      <span style="cursor: pointer; font-weight:400;color:#039be5" (click)="resendInvite(invites?._id)">
                        {{ "UsersPage.ResendInvite" | translate }} 
                      </span>
                      
                    </td>
                  </tr>

                </tbody>
              </table>
            
            </div>
          </div>
        </div>
        
        <!-- // RIGHT SIDEBAR -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-content">
                <h4 class="card-title" style="text-transform: none; color: #566787; font-weight:400; margin-bottom: 15px">

                  {{ "QuickTips" | translate }}
                </h4>
  
                <p style="color: #7695a5; font-weight:400">
                  
                  {{ "UsersPage.TheInvitedUsersWillBecomeMembers" | translate }}
 
                </p>
            </div>
          </div>
        </div>

      </div>

  </div>

</div>
