@import "./src/assets/sass/cds/_variables.scss";

$margin-left: 10px;
$padding: 10px; 

.panel-response {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 100px);
    max-height: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0.6em;
    background-color: rgb($bg-color-card-rgb);
    margin-left: $margin-left;
    font-family: 'Poppins','Roboto', 'Arial', sans-serif;
    color: #394f5a; 
    font-size: 1em;
    padding: $padding;
}

// .panel-tools-response {
//     position: relative;
//     display: inline-flex;
//     vertical-align: top;
//     width: auto;
//     margin-left: 10px;
//     max-height: 100%;
//     height: fit-content;
//     overflow: hidden;
//     border-radius: 0.6em;
//     background-color: rgb($bg-color-card-rgb);
//     font-family: 'Poppins','Roboto', 'Arial', sans-serif;
//     color: #394f5a;
//     font-size: 1em;
//     padding: $padding;
// }




.card-buttons {
    position: absolute;
    display: none;
    top: 100px;
    left: calc(50% - 150px);
    margin: 0;
    outline: none;
    width: 380px;
    height: auto;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
    overflow: visible;
    z-index: 14;
    border-radius: 1em;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
    &.active{
        display: block;
    }
}
  

.card-buttons-handle {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
    z-index: 1;
}