<div *ngIf = "elementIntentSelectedType === typeIntentElement.ACTION">
    
    <appdashboard-action-reply
        *ngIf = "elementSelected._tdActionType === typeAction.REPLY"
        class="panel-response"
        [reply]="elementSelected"
        [showSpinner] = "showSpinner"
        (openButtonPanel) = onOpenButtonPanel($event)
    ></appdashboard-action-reply>

</div>
    


<div *ngIf = "elementIntentSelectedType === typeIntentElement.QUESTION" class="panel-question">
    <appdashboard-question
        [intentSelected]="intentSelected">

    </appdashboard-question>
</div>
<!-- (passJsonIntentForm)="passJsonIntentForm($event)" -->
<div *ngIf = "elementIntentSelectedType === typeIntentElement.FORM" class="panel-form">
    <appdashboard-form 
        [intentForm]="elementSelected"
        [intentSelected]="intentSelected">
    </appdashboard-form>
</div>

 
<div *ngIf = "elementIntentSelectedType === typeIntentElement.ANSWER" class="panel-answer">
    <appdashboard-answer
     [intentSelected]="intentSelected">

    </appdashboard-answer>

  
</div>

        
 





<div class="card-buttons" 
    *ngIf="openCardButton"
    [ngClass]="{'active':openCardButton}"
    cdkDragBoundary=".panel-response" cdkDrag>
    <div class="card-buttons-handle" cdkDragHandle>
        <svg id="card-buttons-no-close" width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
    </div>
    <appdashboard-panel-button-configuration
        [button] = buttonSelected
        [listOfActions] = listOfActions
        (closeButtonPanel) = onCloseButtonPanel()
        (saveButton) = onSaveButton($event)
    ></appdashboard-panel-button-configuration>
</div>