<div class="unauthorized-to-upgrade-container">
    <div class="unauthorized-to-upgrade-main">
        <div class="unauthorized-to-upgrade-spacing"></div>
        <div class="unauthorized-to-upgrade-content-wpr">
            <div class="unauthorized-to-upgrade-content">
                <div class="unauthorized-to-upgrade-inner-content">

                    <div class="unauthorized-to-upgrade-logo-container">
                        <div class="unauthorized-to-upgrade-logo-svg-wpr">


                            <!-- <svg style="display: block;" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink"
                                height="45px" viewBox="0 0 60 60" width="45px" x="0px"
                                xmlns="http://www.w3.org/2000/svg" y="0px" style="position: relative; left: -1px;">
                                <path _ngcontent-gda-c124=""
                                    d="M51.8,28.2h-19c-1.7,0-3-1.3-3-3V6.4c0-1.7-1.3-3-3-3H8c-1.7,0-3,1.3-3,3v22v22c0,1.7,1.3,3,3,3H6.7h3.4  c0.8,0,1.3,0.2,1.9,0.8l2.3,2.3l2.1,2.1c0.8,0.8,1.7,0.8,2.4,0l2.1-2.1l2.3-2.3c0.6-0.6,1.1-0.8,1.9-0.8H52c1.7,0,3-1.3,3-3V31.2  C54.8,29.5,53.5,28.2,51.8,28.2"
                                    fill="#F18876"></path>
                                <path _ngcontent-gda-c124=""
                                    d="M52,24.2H36.8c-1.5,0-2.8-1.3-2.8-2.8V6.2c0-1.5,1.3-2.8,2.8-2.8H52c1.5,0,2.8,1.3,2.8,2.8v15.2  C54.8,22.9,53.5,24.2,52,24.2"
                                    fill="#E5BBAD"></path>
                            </svg> -->

                            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"
                                fill="#b7394a">
                                <path
                                    d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
                            </svg>
                        </div>
                    </div>

                    <div class="unauthorized-to-upgrade-title-wpr">
                        <div class="unauthorized-to-upgrade-title" [ngClass]="{'panel-mode': CHAT_MODE}">


                            {{'Pricing.YourTrialHasEnded' | translate}}
                        </div>
                    </div>
                    <div class="unauthorized-to-upgrade-subtitle-wpr">
                        <div class="unauthorized-to-upgrade-subtitle" [ngClass]="{'panel-mode': CHAT_MODE}">
                            <!-- {{'AutomateConversationsFromPrototyping' | translate }} -->
                            {{ 'TrialExpirationDate' | translate: {expiration_date: trialExpirationDate} }}.
                            <span *ngIf="userRole !== 'owner'"> 
                                {{'Pricing.ContactTheProjectOwner' | translate}}.
                            </span>
                        </div>
                    </div>
                    <div *ngIf="!CHAT_MODE" class="unauthorized-to-upgrade-btn-container">
                        <div class="unauthorized-to-upgrade-btn-wpr">

                            <div class="unauthorized-to-upgrade-go-to-project" (click)="goToYourProjects()">
                                {{'GoToYourProjects' | translate}}
                            </div>
                        </div>
                    </div>

                    <div *ngIf="CHAT_MODE && userRole === 'owner'" class="unauthorized-to-upgrade-btn-container">
                        <div class="unauthorized-to-upgrade-btn-wpr">

                            <div *ngIf="isVisiblePAY"  class="unauthorized-to-upgrade-go-to-project" (click)="goToPricingFromChat()">
                                {{ 'Pricing.UpgradePlan' | translate }}
                            </div>
                            <div *ngIf="!isVisiblePAY"  class="unauthorized-to-upgrade-go-to-project" (click)="contactUs()">
                                {{ 'ContactUs' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>