@import "./src/assets/sass/cds/_variables.scss";


// $button-text-color: $color-blue-hex;
// $button-border-color:$color-blue-hex;
// $button-background-color: $color-withe-hex;

// $button-text-color: $icon-color;
// $button-border-color: $icon-color;
// $button-background-color: $icon-color-backgroud;

.extensions-response {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 27px 0px 0px 0px;
    padding: 0px 33px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    align-content: center;
    .delay-wrapper,
    .filter-wrapper {
        display: block;
        height: auto;
        width: auto;
        // padding: 0em 0.75em 0;
    }

    .response-controls {
        position: absolute;
        top: 26px;
        left: 0px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: 1;
    }


}

.extensions-response:hover{
    .response-controls {
        opacity: 1;
    }
}


.previewMode{
    &.extensions-response{
        margin: 0;
        padding: 0 10px 0px 25px;
    }

    &.text-editor-wrapper{
        // padding: 0;
        cds-textarea.text-editable-div{
            width: calc(100% - 20px);
            margin: 0px auto;
        }

        .response-wrp{
            border-radius: 8px;
            background: #ffffff;
            border: 1px solid #ffffff;
            overflow-x: hidden;
            overflow-y: auto;
            color: #22272d;
            font-size: 1.15em;
            line-height: 25px;
            width: calc(100% - 20px);
            padding: 8px 10px;
    
            line-height: 20px;
            font-size: .8em;
            margin: auto;
    
            &.no-text{
                color: rgb(141, 162, 181)
            }
        }
    }

    &.buttons-response{
        padding: 5px 0px 2px 0px;
        margin: 0;
        flex-direction: column;
        flex-wrap: nowrap;

        .button-reply-add{
            color: $color-txt-2-hex;
            border-color: $color-txt-2-hex;
        }
    }

    .button-reply{
        min-width: 200px;
        padding: 2px 10px;
    }
}

.text-editor-wrapper {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px; //5px 0 0 0;
    // padding: 0px 33px;
}
    
// .text-editor-wrapper:hover {
//     .text-editor {
//         .response-controls {
//             opacity: 1;
//         }
//     }
// }


/** response-controls **/
.response-controls {
    .control-button {
        cursor: pointer;
        color: $color-bck-gray-hex;
        transition: color .3s;
        height: 20px;
        &.delete{
            height: 24px;
            width: 24px;
            background: $color-bck-gray-hex;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            em {
                font-size: 1.15em;
                color: $color-withe-hex;
                transition: color .3s;
            }
        }
    }
    .control-button:hover{
        color: $color-withe-hex;
        &.delete{
            box-shadow: 0 2px 6px 0 rgb(255 255 255 / 15%);
            em {
                color: $color-red-hex;
            }
        }
    }
}

.text-editor-drop {
    position: absolute;
    display: inline-flex;
    margin: 0;
    left: 0;
    top: 0;
    // top: -35px;
    color: #dcdcdc;
    cursor: grab;
}

.editor-utils {
    position: relative;
    margin: -20px 50px 0px 0px;
    float: right;
    .num-chars {
        // background: $color-light-gray-hex;
        padding: 0px 8px;
        border-radius: 12px;
        font-size: 0.8em;
        // color: $color-text-box-hex;
        float: right;
        // &.error {
        //     // background: $color-orange-hex;
        // }
    }
    .text-editor-insert-attribute {
        float: right;
    }
    .moji-picker {
        float: right;
    }
}


.content-botton-reply {
    position:relative;
    height: 26px;
}

//** CONNECTOR **//
cds-connector.connector {
    position: absolute;
    top: calc(50% - 10px);
    right: -15px;
}


/** BUTTONS **/
.buttons-response {
    // display: block;
    // margin: 12px 0 0;
    // width: 100%;
    // font-size: 14px;
    // padding: 0 5px;
    // flex-direction: row;
    // float: right;

    display: flex;
    margin: 15px 0 0;
    gap: 6px;
    width: 100%;
    font-size: 14px;
    padding: 0 25px;
    flex-direction: row;
    float: right;
    justify-content: flex-start;
    /* align-content: flex-end; */
    flex-wrap: wrap;
    align-items: flex-end;
}

.button-reply {
    // float: right;
    display: flex;
    position: relative;
    min-width: 100px;
    text-align: center;
    // margin: 0px 5px 0px; //10px 5px 0;
    padding: 0px 10px;
    user-select: none;
    box-sizing: border-box;
    outline: none;
    background: $color-withe-hex;
    border: 1px solid $color-blue-hex;
    border-radius: $button-border-radius-base;
    color: $color-blue-hex;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: 500;
    line-height: $button-height-base;
    transition: all .3s;
    &.custom-placeholder {
        margin: 10px 5px;
        background: #dfdfdf;
        border: dotted 0px #999;
        height: $button-height-base;
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

    }
}
.button-reply:hover {
    .button-controls {
        opacity: 1;
    }
}
.button-reply-text {
    width: 100%;
    height: 100%;
    max-width: $button-max-width-base;
    user-select: none;
    color: $color-blue-hex;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    line-height: $button-height-base;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    overflow: hidden!important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.button-reply-add {
    float: right;
    user-select: none;
    box-sizing: border-box;
    outline: none;
    border: 1px dashed $color-withe-hex;;
    border-radius: $button-border-radius-base;
    color: $color-withe-hex;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: 400;
    line-height: $button-height-base;
    // margin: 0px 5px 0;
    order: 1;
    padding: 0 10px;
    transition: all .3s;
    min-width: 100px;
    text-align: center;
    width: fit-content;
    margin-right: 10px;
}

.button-controls {
    justify-content: space-between;
    display: inline-flex;
    width: 28px;
    height: 24px;
    position: absolute;
    left: 0;
    top: -40%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    .buttonsToMove{
        display: inline-flex;
    }
    .control-button {
        cursor: pointer;
        background: $color-bck-gray-hex;
        color: $color-bck-gray-hex;
        transition: color .3s;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2px;
        em {
            font-size: 1.15em;
            color: $color-withe-hex;
            transition: color .3s;
        }
    }
    .control-button:hover{
        color: $color-withe-hex;
        box-shadow: 0 2px 6px 0 rgb(255 255 255 / 15%);
        em {
            color: $color-red-hex;
        }
        &.delete{
            em {
                color: $color-red-hex;
            }
        }
    }
}


/** box-textarea **/
cds-textarea.text-editable-div ::ng-deep{
    display: block;
    margin-left: 30px;
    width: calc(100% - 66px);
    // margin-left: 20px;
    textarea {
        line-height: 20px !important; 
        width: calc(100% - 20px) !important;
        font-size: 0.9em !important;
    }
}

/** TEXT AREA **/
mat-form-field.mat-focused ::ng-deep {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                textarea {
                    border: 1px solid $color-blue-hex!important;
                    outline: 1px solid $color-blue-hex!important;
                    transition: border .3s;
                }
            }
        }
    }
}
mat-form-field.box-textarea ::ng-deep {
    .mat-form-field-wrapper {
        padding-bottom:0;
        .mat-form-field-flex {
            border-radius: 4px 4px 0 0;
            padding: 0 0.75em 0 0.75em;
            margin: 0;
        }
    }
    .mat-form-field-underline {
        display: none;
    }    
}