<div class="home-block-wpr">
    <div class="home-block-header-wpr">
        <div class="home-block-header">

            <div class="home-block-img-title-wpr">
                <div class="home-block-img">

                    <svg width="42" height="42" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24"
                        style="enable-background:new 0 0 24 24;" xml:space="preserve">
                        <style type="text/css">
                            .cbst0 {
                                fill: #F18876;
                            }

                            .cbst1 {
                                fill: #4E4D4C;
                            }

                            .cbst2 {
                                fill: #00D4FF;
                            }

                            .cbst3 {
                                clip-path: url(#SVGID_00000001633797444516606230000000603442328515412615_);
                            }

                            .cbst4 {
                                fill: none;
                            }
                        </style>
                        <path id="SVGID_1_" class="cbst0"
                            d="M12.4,4.3V3.4V2.5C13,2.3,13.3,1.5,13,1s-0.9-0.9-1.6-0.6s-0.9,0.9-0.6,1.5
                   c0.1,0.3,0.4,0.5,0.6,0.6v0.9v0.9c-5.2,0.2-9.2,4.7-9,9.9s4.7,9.3,9.9,9s9.2-4.7,9-9.9C21.2,8.4,17.3,4.5,12.4,4.3z" />
                        <path id="SVGID_00000129202772156977391840000017744987652636729012_" class="cbst1" d="M12,18.6c-4.4,0-8-2.2-8-4.9s3.6-4.9,8-4.9
                   c4.5,0,8,2.2,8,4.9l0,0C20,16.4,16.5,18.6,12,18.6z" />
                        <path id="SVGID_00000023270547589106728060000015803331250837085596_" class="cbst2" d="M15.7,11.6c-0.9,0-1.6,0.7-1.6,1.6
                   s0.7,1.6,1.6,1.6l0,0c0.9,0,1.5-0.7,1.5-1.6S16.5,11.6,15.7,11.6z" />
                        <circle id="SVGID_00000069395724208339513490000008773164729001640601_" class="cbst2" cx="8.4"
                            cy="13.2" r="1.6" />
                        <g>
                            <defs>
                                <path id="SVGID_00000003821793947186241230000009679881118858394255_" d="M12.4,4.3V3.4V2.5C13,2.3,13.3,1.5,13,1
                           s-0.9-0.9-1.6-0.6s-0.9,0.9-0.6,1.5c0.1,0.3,0.4,0.5,0.6,0.6v0.9v0.9c-5.2,0.2-9.2,4.7-9,9.9s4.7,9.3,9.9,9s9.2-4.7,9-9.9
                           C21.2,8.4,17.3,4.5,12.4,4.3z" />
                            </defs>
                            <clipPath id="SVGID_00000048464079263500720580000018166261560913480368_">
                                <use xlink:href="#SVGID_00000003821793947186241230000009679881118858394255_"
                                    style="overflow:visible;" />
                            </clipPath>
                        </g>
                        <g>
                            <defs>
                                <path id="SVGID_00000153663253460281237270000010483967678893192614_" d="M12.4,4.3V3.4V2.5C13,2.3,13.3,1.5,13,1
                           s-0.9-0.9-1.6-0.6s-0.9,0.9-0.6,1.5c0.1,0.3,0.4,0.5,0.6,0.6v0.9v0.9c-5.2,0.2-9.2,4.7-9,9.9s4.7,9.3,9.9,9s9.2-4.7,9-9.9
                           C21.2,8.4,17.3,4.5,12.4,4.3z" />
                            </defs>
                            <defs>
                                <path id="SVGID_00000034051375502685889420000004035333631539282071_" d="M12,18.6c-4.4,0-8-2.2-8-4.9s3.6-4.9,8-4.9
                           c4.5,0,8,2.2,8,4.9l0,0C20,16.4,16.5,18.6,12,18.6z" />
                            </defs>
                            <clipPath id="SVGID_00000072982273877713992920000002941883029536304778_">
                                <use xlink:href="#SVGID_00000153663253460281237270000010483967678893192614_"
                                    style="overflow:visible;" />
                            </clipPath>

                            <clipPath id="SVGID_00000173880045423798662860000013141350345063717291_"
                                style="clip-path:url(#SVGID_00000072982273877713992920000002941883029536304778_);">
                                <use xlink:href="#SVGID_00000034051375502685889420000004035333631539282071_"
                                    style="overflow:visible;" />
                            </clipPath>
                        </g>
                        <path class="cbst4" d="M12.4,4.3V3.4V2.5C13,2.3,13.3,1.5,13,1s-0.9-0.9-1.6-0.6s-0.9,0.9-0.6,1.5c0.1,0.3,0.4,0.5,0.6,0.6v0.9v0.9
                   c-5.2,0.2-9.2,4.7-9,9.9s4.7,9.3,9.9,9s9.2-4.7,9-9.9C21.2,8.4,17.3,4.5,12.4,4.3z" />
                        <path class="cbst4"
                            d="M12,18.6c-4.4,0-8-2.2-8-4.9s3.6-4.9,8-4.9c4.5,0,8,2.2,8,4.9l0,0C20,16.4,16.5,18.6,12,18.6z" />
                        <path class="cbst4" d="M12.4,4.3V3.4V2.5C13,2.3,13.3,1.5,13,1s-0.9-0.9-1.6-0.6s-0.9,0.9-0.6,1.5c0.1,0.3,0.4,0.5,0.6,0.6v0.9v0.9
                   c-5.2,0.2-9.2,4.7-9,9.9s4.7,9.3,9.9,9s9.2-4.7,9-9.9C21.2,8.4,17.3,4.5,12.4,4.3z" />
                        <path class="cbst4"
                            d="M12,18.6c-4.4,0-8-2.2-8-4.9s3.6-4.9,8-4.9c4.5,0,8,2.2,8,4.9l0,0C20,16.4,16.5,18.6,12,18.6z" />
                        <path class="cbst4" d="M12.4,4.3V3.4V2.5C13,2.3,13.3,1.5,13,1s-0.9-0.9-1.6-0.6s-0.9,0.9-0.6,1.5c0.1,0.3,0.4,0.5,0.6,0.6v0.9v0.9
                   c-5.2,0.2-9.2,4.7-9,9.9s4.7,9.3,9.9,9s9.2-4.7,9-9.9C21.2,8.4,17.3,4.5,12.4,4.3z" />
                        <path class="cbst4"
                            d="M12,18.6c-4.4,0-8-2.2-8-4.9s3.6-4.9,8-4.9c4.5,0,8,2.2,8,4.9l0,0C20,16.4,16.5,18.6,12,18.6z" />
                    </svg>
                </div>
                <div class="home-block-title">
                    You don't have any chatbots yet!
                </div>
            </div>
        </div>
    </div>
    <div style="height: 24px; width: 0px; flex: 0 0 auto;"></div>

    <div class="home-block-description-and-connect-btn-wpr">

        <div class="home-block-description">

            Build your chatbot from scratch or by selecting a Tiledesk chatbot template or selecting one from our community


        </div>

        <!-- <button type="button" class="btn btn-primary home-block-btn">
           Create
        </button> -->
        <div class="adminActions">
            <input type="checkbox" name="adminToggle" class="adminToggle" />
            <a class="adminButton" href="#!"><i class="fa fa-cog"></i></a>
            <div class="adminButtons">
                <a href="#" title="Add Company"><i class="fa fa-building"></i></a>
                <a href="#" title="Edit Company"><i class="fa fa-pen"></i></a>
                <a href="#" title="Add User"><i class="fa fa-user-plus"></i></a>
                <a href="#" title="Edit User"><i class="fa fa-user-edit"></i></a>
            </div>
        </div>

    </div>



</div>