<div class="home-block-wpr">
    <div class="home-block-header-wpr">
        <div class="home-block-header">

            <div *ngIf="chatbots && chatbots.length === 0 " class="home-block-img-title-wpr">
                <div class="home-block-img">

                    <svg width="42" height="42" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24"
                        style="enable-background:new 0 0 24 24;" xml:space="preserve">
                        <style type="text/css">
                            .cbst0 {
                                fill: #F18876;
                            }

                            .cbst1 {
                                fill: #4E4D4C;
                            }

                            .cbst2 {
                                fill: #00D4FF;
                            }

                            .cbst3 {
                                clip-path: url(#SVGID_00000001633797444516606230000000603442328515412615_);
                            }

                            .cbst4 {
                                fill: none;
                            }
                        </style>
                        <path id="SVGID_1_" class="cbst0"
                            d="M12.4,4.3V3.4V2.5C13,2.3,13.3,1.5,13,1s-0.9-0.9-1.6-0.6s-0.9,0.9-0.6,1.5
                   c0.1,0.3,0.4,0.5,0.6,0.6v0.9v0.9c-5.2,0.2-9.2,4.7-9,9.9s4.7,9.3,9.9,9s9.2-4.7,9-9.9C21.2,8.4,17.3,4.5,12.4,4.3z" />
                        <path id="SVGID_00000129202772156977391840000017744987652636729012_" class="cbst1" d="M12,18.6c-4.4,0-8-2.2-8-4.9s3.6-4.9,8-4.9
                   c4.5,0,8,2.2,8,4.9l0,0C20,16.4,16.5,18.6,12,18.6z" />
                        <path id="SVGID_00000023270547589106728060000015803331250837085596_" class="cbst2" d="M15.7,11.6c-0.9,0-1.6,0.7-1.6,1.6
                   s0.7,1.6,1.6,1.6l0,0c0.9,0,1.5-0.7,1.5-1.6S16.5,11.6,15.7,11.6z" />
                        <circle id="SVGID_00000069395724208339513490000008773164729001640601_" class="cbst2" cx="8.4"
                            cy="13.2" r="1.6" />
                        <g>
                            <defs>
                                <path id="SVGID_00000003821793947186241230000009679881118858394255_" d="M12.4,4.3V3.4V2.5C13,2.3,13.3,1.5,13,1
                           s-0.9-0.9-1.6-0.6s-0.9,0.9-0.6,1.5c0.1,0.3,0.4,0.5,0.6,0.6v0.9v0.9c-5.2,0.2-9.2,4.7-9,9.9s4.7,9.3,9.9,9s9.2-4.7,9-9.9
                           C21.2,8.4,17.3,4.5,12.4,4.3z" />
                            </defs>
                            <clipPath id="SVGID_00000048464079263500720580000018166261560913480368_">
                                <use xlink:href="#SVGID_00000003821793947186241230000009679881118858394255_"
                                    style="overflow:visible;" />
                            </clipPath>
                        </g>
                        <g>
                            <defs>
                                <path id="SVGID_00000153663253460281237270000010483967678893192614_" d="M12.4,4.3V3.4V2.5C13,2.3,13.3,1.5,13,1
                           s-0.9-0.9-1.6-0.6s-0.9,0.9-0.6,1.5c0.1,0.3,0.4,0.5,0.6,0.6v0.9v0.9c-5.2,0.2-9.2,4.7-9,9.9s4.7,9.3,9.9,9s9.2-4.7,9-9.9
                           C21.2,8.4,17.3,4.5,12.4,4.3z" />
                            </defs>
                            <defs>
                                <path id="SVGID_00000034051375502685889420000004035333631539282071_" d="M12,18.6c-4.4,0-8-2.2-8-4.9s3.6-4.9,8-4.9
                           c4.5,0,8,2.2,8,4.9l0,0C20,16.4,16.5,18.6,12,18.6z" />
                            </defs>
                            <clipPath id="SVGID_00000072982273877713992920000002941883029536304778_">
                                <use xlink:href="#SVGID_00000153663253460281237270000010483967678893192614_"
                                    style="overflow:visible;" />
                            </clipPath>

                            <clipPath id="SVGID_00000173880045423798662860000013141350345063717291_"
                                style="clip-path:url(#SVGID_00000072982273877713992920000002941883029536304778_);">
                                <use xlink:href="#SVGID_00000034051375502685889420000004035333631539282071_"
                                    style="overflow:visible;" />
                            </clipPath>
                        </g>
                        <path class="cbst4" d="M12.4,4.3V3.4V2.5C13,2.3,13.3,1.5,13,1s-0.9-0.9-1.6-0.6s-0.9,0.9-0.6,1.5c0.1,0.3,0.4,0.5,0.6,0.6v0.9v0.9
                   c-5.2,0.2-9.2,4.7-9,9.9s4.7,9.3,9.9,9s9.2-4.7,9-9.9C21.2,8.4,17.3,4.5,12.4,4.3z" />
                        <path class="cbst4"
                            d="M12,18.6c-4.4,0-8-2.2-8-4.9s3.6-4.9,8-4.9c4.5,0,8,2.2,8,4.9l0,0C20,16.4,16.5,18.6,12,18.6z" />
                        <path class="cbst4" d="M12.4,4.3V3.4V2.5C13,2.3,13.3,1.5,13,1s-0.9-0.9-1.6-0.6s-0.9,0.9-0.6,1.5c0.1,0.3,0.4,0.5,0.6,0.6v0.9v0.9
                   c-5.2,0.2-9.2,4.7-9,9.9s4.7,9.3,9.9,9s9.2-4.7,9-9.9C21.2,8.4,17.3,4.5,12.4,4.3z" />
                        <path class="cbst4"
                            d="M12,18.6c-4.4,0-8-2.2-8-4.9s3.6-4.9,8-4.9c4.5,0,8,2.2,8,4.9l0,0C20,16.4,16.5,18.6,12,18.6z" />
                        <path class="cbst4" d="M12.4,4.3V3.4V2.5C13,2.3,13.3,1.5,13,1s-0.9-0.9-1.6-0.6s-0.9,0.9-0.6,1.5c0.1,0.3,0.4,0.5,0.6,0.6v0.9v0.9
                   c-5.2,0.2-9.2,4.7-9,9.9s4.7,9.3,9.9,9s9.2-4.7,9-9.9C21.2,8.4,17.3,4.5,12.4,4.3z" />
                        <path class="cbst4"
                            d="M12,18.6c-4.4,0-8-2.2-8-4.9s3.6-4.9,8-4.9c4.5,0,8,2.2,8,4.9l0,0C20,16.4,16.5,18.6,12,18.6z" />
                    </svg>
                </div>
                <div class="home-block-title">
                    You don't have any chatbots yet!
                </div>
            </div>

            <div *ngIf="chatbots && chatbots.length > 0 " class="home-block-img-title-wpr">
                <div class="home-block-title">
                    Your chatbots
                </div>

            </div>
        </div>
    </div>
    <div style="height: 24px; width: 0px; flex: 0 0 auto;"></div>
    <!-- (click)="goToBotProfile(bot?._id, bot?.type)" (mouseenter)="chatbotDetails.open()"
                (mouseleave)="chatbotDetails.close()" -->
    <div *ngIf="chatbots && chatbots.length > 0" class="your-chatbots"
        style="display: flex;height: 45px; margin-bottom: 16px;">
        <div class="served-by-desktop-b" *ngFor="let bot of chatbots | slice:0:10; let i=index; let first = first;">
            <div [ngClass]="{ 'first-served-by': first, 'disable-link-if-is-agent': USER_ROLE === 'agent' }"
                class="served-by-desktop-c">

                <div class="served-by-desktop-d" [satPopoverAnchor]="c" (click)="c.toggle()">
                    <div size="45" class="served-by-desktop-e" style="width: 45px;">

                        <!-- --------------------------------------------------- -->
                        <!-- USECASE uploadEngine Firebase -->
                        <!-- --------------------------------------------------- -->
                        <img *ngIf="UPLOAD_ENGINE_IS_FIREBASE"
                            [ngClass]="{'bot-img-gray-bckgrnd': bot.hasImage === false}"
                            src="https://firebasestorage.googleapis.com/v0/b/{{storageBucket}}/o/profiles%2F{{bot?._id}}%2Fphoto.jpg?alt=media"
                            alt="" onerror="this.src='assets/img/avatar_bot_tiledesk.svg'"
                            style="width: 45px;height: 45px;    border: 1px solid #eee;    background-color: #fff;">

                        <!-- --------------------------------------------------- -->
                        <!-- USECASE uploadEngine Native -->
                        <!-- --------------------------------------------------- -->
                        <img *ngIf="!UPLOAD_ENGINE_IS_FIREBASE"
                            [ngClass]="{'bot-img-gray-bckgrnd': bot.hasImage === false}"
                            src="{{baseUrl}}images?path=uploads%2Fusers%2F{{bot?._id}}%2Fimages%2Fthumbnails_200_200-photo.jpg"
                            alt="" onerror="this.src='assets/img/avatar_bot_tiledesk.svg'"
                            style="width: 45px;height: 45px; border: 1px solid #eee;  background-color: #fff;">

                    </div>

                    <div *ngIf="bot.type === 'internal'">
                        <img class="home-served-by-bot-type-logo" style="left: -1px;top: 3px;"
                            src="assets/img/tiledesk_logo_no_text.png" />
                    </div>
                    <div *ngIf="bot.type === 'external'">
                        <img class="home-served-by-bot-type-logo" style="left: -1px;top: 3px;"
                            src="assets/img/external_bot_logo.png" />
                    </div>
                    <div *ngIf="bot.type === 'dialogflow'">
                        <img class="home-served-by-bot-type-logo" style="left: -1px;top: 3px;"
                            src="assets/img/Dialogflow_logo_no_text.png" />
                    </div>
                    <div *ngIf="bot.type === 'rasa'">
                        <img class="home-served-by-bot-type-logo" style="left: -1px;top: 3px;"
                            src="assets/img/rasa_bot_logo.png" />
                    </div>

                    <div *ngIf="bot.type === 'tilebot'">
                        <img class="home-served-by-bot-type-logo" style="left: -1px;top: 3px;"
                            src="assets/img/tilebot_logo_small.png" />
                    </div>
                </div>

                <sat-popover #c horizontalAlign="center" verticalAlign="center" hasBackdrop
                    (backdropClicked)="c.close()" panelClass="chatbot-details-popover">

                    <div class="chatbot-details-popover-wpr" style="padding: 12px;">

                        <div class="chatbot-popover-row">

                            <div class="left--col">

                                <img *ngIf="UPLOAD_ENGINE_IS_FIREBASE"
                                    [ngClass]="{'bot-img-gray-bckgrnd': bot.hasImage === false}"
                                    src="https://firebasestorage.googleapis.com/v0/b/{{storageBucket}}/o/profiles%2F{{bot?._id}}%2Fphoto.jpg?alt=media"
                                    alt="" onerror="this.src='assets/img/avatar_bot_tiledesk_white.svg'" style="width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            border: 1px solid #2b3245;">

                                <img *ngIf="!UPLOAD_ENGINE_IS_FIREBASE"
                                    [ngClass]="{'bot-img-gray-bckgrnd': bot.hasImage === false}"
                                    src="{{baseUrl}}images?path=uploads%2Fusers%2F{{bot?._id}}%2Fimages%2Fthumbnails_200_200-photo.jpg"
                                    alt="" onerror="this.src='assets/img/avatar_bot_tiledesk_white.svg'" style="width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            border: 1px solid #2b3245;">
                            </div>

                            <div class="right--col chatbot-name">
                                {{bot.name}}
                            </div>

                        </div>

                        <div class="chatbot-popover-row">
                            <div class="left--col"></div>

                            <div class="right--col chatbot-description">
                                <span *ngIf="bot.description"> {{bot.description}} </span>
                                <span *ngIf="!bot.description"> No description provided</span>

                            </div>

                        </div>

                        <!-- Note! display none  -->
                        <div style="display: none !important;" class="chatbot-popover-row">
                            <div class="left--col">
                                <span *ngIf="bot.language === 'da'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/da.png">
                                </span>
                                <span *ngIf="bot.language === 'nl'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/nl.png">
                                </span>
                                <span *ngIf="bot.language === 'en'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/en.png">
                                </span>
                                <span *ngIf="bot.language === 'fi'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/fi.png">
                                </span>
                                <span *ngIf="bot.language === 'fr'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/fr.png">
                                </span>
                                <span *ngIf="bot.language === 'de'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/de.png">
                                </span>
                                <span *ngIf="bot.language === 'hu'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/hu.png">
                                </span>
                                <span *ngIf="bot.language === 'it'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/it.png">
                                </span>
                                <span *ngIf="bot.language === 'nb'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/no.png">
                                </span>
                                <span *ngIf="bot.language === 'pt'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/pt.png">
                                </span>
                                <span *ngIf="bot.language === 'ro'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/ro.png">
                                </span>
                                <span *ngIf="bot.language === 'ru'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/ru.png">
                                </span>
                                <span *ngIf="bot.language === 'es'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/es.png">
                                </span>
                                <span *ngIf="bot.language === 'sv'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/sv.png">
                                </span>
                                <span *ngIf="bot.language === 'tr'">
                                    <img class="chatbot-language-flag" src="assets/img/language_flag/tr.png">
                                </span>
                            </div>


                            <div class="right--col chatbot-language">
                                {{bot.language}}
                            </div>
                        </div>

                        <div class="view-detail-btn" style="text-align: center;">
                            <div class="arrow-container" style="    display: flex;
                            align-items: center;
                            width: 100%;
                            justify-content: center;
                            color: #0f62ff;
                            font-weight: 400;
                            margin-top: 6px;
                            cursor: pointer;" (click)="goToBotProfile(bot?._id, bot?.type)">
                                <div id="arrow_1" class="arrow-wrapper">
                                    <div class="text-block" style="margin-right: 16px;">
                                        {{ 'ViewDetails' | translate }}
                                    </div>
                                    <div class="arrow arrow--right">
                                        <span></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </sat-popover>

            </div>
        </div>

        <div class="served-by-desktop-b" click="goToMyChatbots()">
            <div class="served-by-desktop-d">
                <div style="height: 45px " class="other-chatbots">
                    + {{numOfChabotNotDiplayed}}
                </div>
            </div>
        </div>


    </div>



    <div class="home-block-description-and-menu-btn-wpr">
        <!-- *ngIf="chatbots && chatbots.length === 0" -->
        <div class="home-block-description" style="padding-right: 55px;">
            <!-- Create your chatbot from scratch with our brand new no-code Chatbot Design Studio or start by selecting a
            free ready-to-use template (pre-designed chatbot) that suits your needs -->
            {{'StartBySelecting' | translate : tparams }}
        </div>



        <!-- *ngIf="chatbots && chatbots.length === 0" -->
        <div class="action-btns-wpr">
            <button mat-mini-fab aria-label="more_horiz icon" [matMenuTriggerFor]="menu"
                style="box-shadow: unset; background-color: #2196f3">
                <mat-icon style="color: #fff;">more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu" #aboveMenu="matMenu" yPosition="above">
                <button mat-menu-item (click)="goToTemplates()">
                    <mat-icon>class</mat-icon>
                    <span>Tiledesk templates</span>
                </button>
                <!-- <button mat-menu-item (click)="goToCommunityTemplates()">
                  <mat-icon>diversity_3</mat-icon>
                  <span>Community templates </span>
                </button> -->
                <button mat-menu-item (click)="goToAddBotFromScratch()">
                    <mat-icon>add_circle_outline</mat-icon>
                    <span>Create from scratch</span>
                </button>
            </mat-menu>
        </div>
    </div>






</div>