.home-block-wpr {
  margin-top: 18px;
  border-radius: 12px;
  padding: 24px;
  // box-shadow: 0 0 20px 4px rgb(154 161 177 / 15%), 0 4px 80px -8px rgb(36 40 47 / 25%),
  //     0 4px 4px -2px rgb(91 94 105 / 15%);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a;
  background-color: #fff;
}

.home-block-header-wpr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-block-header {
  align-items: center;
  flex-direction: row;
  display: flex;
}

.home-block-img-title-wpr {
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-block-img {
  width: 42px;
  height: 42px;
  margin-right: 8px;
}

.home-block-title {
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
}

.cc-home-block-description-and-menu-btn-wpr {
  display: flex;
  justify-content: center;
  align-items: center;
}



.home-block-description {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
}

.your-chatbots {
  display: flex;
  height: 45px;
  margin-bottom: 18px;
}

.mat-flat-button {
  padding: 0 18px !important;
  border-radius: 9999px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  line-height: 1 !important;
}

#home-material-btn {
  background-color: var(--blue-light);
  color: #fff;
  margin-right: 4px;
}

#start-from-scratch-btn {
  min-width: 270px;
  max-height: 45px;
  font-size: 16px;
  background-color: var(--blue-light);
}

#start-from-scratch-btn>.btn-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#start-from-scratch-btn>.btn-content>.btn--icon>span {
  font-size: 18px;
  vertical-align: middle;
}

#hc-chatbot-count-btn {
  margin-top: 0px;
  max-height: 45px;
  min-width: 270px;
  font-size: 16px;
}

#hc-chatbot-count-btn>.btn-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#hc-chatbot-count-btn>.btn-content>.btn--bot-count {
  min-width: 18px;
  text-align: center;
}

.choose-template {
  font-size: 18px;
  color: #222;
  font-weight: 400;
  margin-bottom: 18px;
  margin-top: 18px;
}

.suggested-templates {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  // gap: 6px;
  gap: 12px;
}

.suggested-templates-card {
  display: flex;
  border-radius: 6px;
  cursor: pointer;
  background: #f5f7f9;
  padding: 8px;
  flex-direction: row;
  // width: 235px;
  // height: 115px;
  width: 145px;
  height: 179px;
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1) 0s;
  position: relative;
}

.suggested-templates-card:hover {
  background-color: rgb(255, 255, 255);
  // box-shadow: rgba(0, 27, 71, 0.16) 0px 29px 32px -25px;
  box-shadow: rgba(0, 27, 71, 0.12) 0px 12px 32px;
}

.no-category-tempalte {
  width: 203px  !important;
}


.templates-card-title-and-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(0, 0, 0, .6);
  height: 85px;
  margin-top: 86px;
  margin-left: -8px;
  margin-right: -8px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.suggested-templates-use-template>span {
  cursor: pointer;
  color: var(--blue-light);
  font-weight: 400;
}

.suggested-templates-use-template:hover>span {
  text-decoration: underline;
}

// .suggested-templates-card {

// }

.suggested-templates-card-title {
  font-size: 16px;
  font-weight: 400;
  // font-family: Poppins,Roboto,Arial,sans-serif;
  line-height: 1.3;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.suggested-templates-card-title-nw {
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  width: 145px;
  font-weight: 400;
  line-height: 1.2em;
  font-family: var(--content-font-family);
}

.suggested-templates-card-description {
  color: #647491;
  font-size: 13px;
  line-height: 1.3;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.hut-btn-size-l {
  border-radius: 999px;
  font-size: 13px;
  height: 25px;
  line-height: 18px;
  /* min-width: 80px; */
  padding: 0 14px;
}

.hut-btn-new {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.hut-btn-primary {
  background-color: var(--blue-light);
  border-color: var(--blue-light);
  color: #fff;
  text-transform: none;
  box-shadow: unset;
}

// .btn-primary-hut:hover {
//   background-color: #0049bd;
//   border-color: #0049bd;
//   color: #fff;
// }

.find-all-template {
  max-width: 120px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  background: #f5f7f9;
  // height: 90px;
  height: 115px;
  ;
  padding: 8px;
}

.find-all-template:hover {
  background-color: rgb(255, 255, 255);
  // box-shadow: rgba(0, 27, 71, 0.16) 0px 29px 32px -25px;
  box-shadow: rgba(0, 27, 71, 0.12) 0px 12px 32px;
}

.find-all-template {
  .suggested-templates-card-title {
    .arrow {
      display: none;
    }
  }
}

.chatbots-created-num:hover {
  text-decoration: underline;
}

// .find-all-template:hover {
//   .suggested-templates-card-title {
//     .arrow {
//       display: block;
//     }
//     .text {
//       display: none;
//     }
//   }
// }





// Actions button

// .adminActions {
//   position: fixed;
//   bottom: 35px; right: 35px;
// }

//   .adminButton {
//     height: 60px;
//     width: 60px;
//     background-color: rgba(67, 83, 143, .8);
//     border-radius: 50%;
//     display: block;
//     color: #fff;
//     text-align: center;
//     position: relative;
//     z-index: 1;
//   }

//     .adminButton i {
//       font-size: 22px;
//     }

//   .adminButtons {
//     position: absolute;
//     width: 100%;
//     bottom: 120%;
//     text-align: center;
//   }

//     .adminButtons a {
//       display: block;
//       width: 45px;
//       height: 45px;
//       border-radius: 50%;
//       text-decoration: none;
//       margin: 10px auto 0;
//       line-height: 1.15;
//       color: #fff;
//       opacity: 0;
//       visibility: hidden;
//       position: relative;
//       box-shadow: 0 0 5px 1px rgba(51, 51, 51, .3);
//     }

//       .adminButtons a:hover {
//         transform: scale(1.05);
//       }

//       .adminButtons a:nth-child(1) {background-color: #ff5722; transition: opacity .2s ease-in-out .3s, transform .15s ease-in-out;}
//       .adminButtons a:nth-child(2) {background-color: #03a9f4; transition: opacity .2s ease-in-out .25s, transform .15s ease-in-out;}
//       .adminButtons a:nth-child(3) {background-color: #f44336; transition: opacity .2s ease-in-out .2s, transform .15s ease-in-out;}
//       .adminButtons a:nth-child(4) {background-color: #4CAF50; transition: opacity .2s ease-in-out .15s, transform .15s ease-in-out;}

//       .adminActions a i {
//         position: absolute;
//         top: 50%; left: 50%;
//         transform: translate(-50%, -50%);
//       }

//   .adminToggle {
//     -webkit-appearance: none;
//     position: absolute;
//     border-radius: 50%;
//     top: 0; left: 0;
//     margin: 0;
//     width: 100%;
//     height: 100%;
//     cursor: pointer;
//     background-color: transparent;
//     border: none;
//     outline: none;
//     z-index: 2;
//     transition: box-shadow .2s ease-in-out;
//     box-shadow: 0 3px 5px 1px rgba(51, 51, 51, .3);
//   }

//     .adminToggle:hover {
//       box-shadow: 0 3px 6px 2px rgba(51, 51, 51, .3);
//     }

//     .adminToggle:checked ~ .adminButtons a {
//       opacity: 1;
//       visibility: visible;
//     }

body {
  background-color: #ededed;
}

.fab {
  background-color: transparent;
  height: 64px;
  width: 64px;
  border-radius: 32px;
  transition: height 300ms;
  transition-timing-function: ease;
  position: absolute;
  right: 50px;
  bottom: 50px;
  text-align: center;
  overflow: hidden;
}

.fab:hover {
  height: 344px;
}

.fab:hover .mainop {
  transform: rotate(180deg);
}

.mainop {
  margin: auto;
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: transform 300ms;
  background-color: #f44336;
  border-radius: 32px;
  z-index: 6;
}

.mainopShadow {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  position: absolute;
  right: 50px;
  bottom: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.mainop i {
  margin-top: 16px;
  font-size: 32px;
  color: #fff;
}

.minifab {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  z-index: 5;
  float: left;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: blue;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.minifab:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.minifabIcon {
  height: 24px;
  width: 24px;
  margin-top: 12px;
}

.op1 {
  background-color: #2f82fc;
}

.op2 {
  background-color: #0f9d58;
}

.op3 {
  background-color: #fb0;
}

.op4 {
  background-color: #dd5145;
}

.op5 {
  background-color: #673ab7;
}

.home-served-by-bot-type-logo {
  width: 12px;
  height: auto;
  position: absolute;
  left: 4px;
  top: -1px;
  border: 1px solid #eee;
  border-radius: 50%;
  background: #fff;

  // width: 10px;
  // height: auto;
  // position: absolute;
  // left: 17px;
  // top: 21px;
}

::ng-deep .chatbot-details-popover {
  box-shadow: 0 0 20px 4px rgb(154 161 177 / 15%), 0 4px 80px -8px rgb(36 40 47 / 25%),
    0 4px 4px -2px rgb(91 94 105 / 15%);
  background: #1c2333;
  border-radius: 6px;
  min-height: 48px;
}

.chatbot-popover-row-flex-start {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}

.img-in-bot-popover {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #2b3245;
}

.chatbot-popover-row {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.flex-start {
  align-items: flex-start !important;
}

.chatbot-name {
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  color: #f5f9fc;
  font-size: 12px;
  margin-left: 1px;
}

.chatbot-description {
  // margin-left: 22px;
  // margin-left: 0px;
  font-size: 12px;
  color: #9da2a6;
  font-weight: 400;
  max-width: 250px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.chatbot-language {
  text-transform: uppercase;
  color: #9da2a6;
  font-size: 12px;
  margin-left: 2px;
}

.chatbot-language-flag {
  width: 15px;
  height: auto;
  position: relative;
  top: -1px;
  // margin-left: 4px;
}

.other-chatbots {
  height: 45px;
  // background: rgb(33, 150, 243);
  background-color: #f4f5f7;
  width: 45px;
  font-size: 16px;
  text-align: center;
  line-height: 2.9;
  font-weight: 400;
  color: #7a869a;
  letter-spacing: -1px;
  position: relative;
  left: -5px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #eee;
}

.other-chatbots:hover {
  color: rgb(33, 150, 243);
}

// --------------------------------------------------
// ANIMATED ARROW https://codepen.io/cbrst/pen/ebxwLJ
// --------------------------------------------------
.arrow-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: #0f62ff;
  font-weight: 400;
  margin-top: 6px;
  cursor: pointer;
}

.arrow-wrapper {
  display: flex;
  align-items: center;
}

.arrow-container:hover .arrow-wrapper .arrow span {
  $size: 9px;
  width: $size * 1.414 !important;
  right: calc($size / 1.414) * -1;
}

#arrow_1 .arrow {
  $size: 9px;
  $width: 2px;

  cursor: pointer;
  display: block;
  width: calc($size / 1.414);
  height: calc($size / 1.414) * 2;
  position: relative;

  & span,
  &:before,
  &:after {
    // background: #fff;
    background: #0f62ff;
    content: "";
    display: block;
    width: $size;
    height: $width;
    position: absolute;
    top: calc(50% - (#{$width} / 2));
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }

  & span {
    width: 0;
  }

  &:hover span {
    width: $size * 1.414;
  }

  @each $direction in "left" "right" {
    &.arrow--#{$direction} {

      & span,
      &:before,
      &:after {
        #{$direction}: 0;
        transform-origin: #{$direction} 50%;
      }

      &:before,
      &:after {
        transition: #{$direction} 0.3s 0.05s;
      }

      & span {
        transition: width 0.3s,
        #{$direction} 0.3s 0.05s;
      }

      &:hover {

        & span,
        &:before,
        &:after {
          #{$direction}: calc($size / 1.414) * -1;
        }
      }
    }
  }
}

#arrow_2 .arrow {
  $size: 7px;
  $width: 2px;

  cursor: pointer;
  display: block;
  width: calc($size / 1.414);
  height: calc($size / 1.414) * 2;
  position: relative;

  & span,
  &:before,
  &:after {
    // background: #fff;
    background: #0f62ff;
    content: "";
    display: block;
    width: $size;
    height: $width;
    position: absolute;
    top: calc(50% - (#{$width} / 2));
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }

  & span {
    width: 0;
  }

  &:hover span {
    width: $size * 1.414;
  }

  @each $direction in "left" "right" {
    &.arrow--#{$direction} {

      & span,
      &:before,
      &:after {
        #{$direction}: 0;
        transform-origin: #{$direction} 50%;
      }

      &:before,
      &:after {
        transition: #{$direction} 0.3s 0.05s;
      }

      & span {
        transition: width 0.3s,
        #{$direction} 0.3s 0.05s;
      }

      &:hover {

        & span,
        &:before,
        &:after {
          #{$direction}: calc($size / 1.414) * -1;
        }
      }
    }
  }
}

.bot-wa-connected-logo {
  width: 14px;
  height: auto;
  position: absolute;
  border: 1px solid #eee;
  border-radius: 50%;
  background: #fff;
  top: 28px !important;
  left: 32px !important;
}


#container {
  display: flex;
  flex-direction: row;
  margin-top: -25px;
}

#left {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border-left: 1px solid black;
}

#right {
  height: 100%;
  // display: flex;
}

#right-container {
  flex-grow: 1;
  // border: 20px solid black;
  // margin: 50px;
}


.all-template {
  // background-image: url(https://tiledesk.com/wp-content/uploads/2024/01/Explore_all_templates_v3.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: -16px -0px;
  background: #fff !important;
  border: 1px solid var(--blue-light);
}

.customer-satisfaction {
  // background-image: url(https://tiledesk.com/wp-content/uploads/2023/12/Customer_satifaction.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: -16px -0px;
  background: #fff !important;
  border: 1px solid var(--blue-light);
}

.increase-sales {
  // background-image: url(https://tiledesk.com/wp-content/uploads/2024/01/Increase-sales.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: -16px -0px;
  background: #fff !important;
  border: 1px solid var(--blue-light);
}

.button-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 145px;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
}

.svg-icon>svg {
  width: 50px;
  height: auto;
  fill: var(--blue-light);
}

.explore-templates {
  text-align: center;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--blue-light);
  margin-top: 12px;
  display: flex;
  align-items: center;
  flex: 1 auto;
}

.left-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 40px;
  font-family: 'Poppins', 'Roboto', 'Arial', sans-serif;
  text-transform: uppercase;
  margin-top: -40px;
  color: var(--blue-light);
}

.right-title {
  display: flex;
  flex-direction: row;
  height: 28px;
  margin-bottom: 24px;
  gap: 6px;
}

.right-title>.right-title-icon svg {
  width: auto;
  height: 28px;
  fill: var(--blue-light);
}

.right-title>.right-title-text {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins', 'Roboto', 'Arial', sans-serif;
  display: flex;
  align-items: center;
}




.customer-satifaction-all-the-time-customer-service {
  background-image: url(https://tiledesk.com/wp-content/uploads/2024/01/24_7_Customer_service.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -16px -0px;
}

.customer-satifaction-manage-support-requests {
  background-image: url(https://tiledesk.com/wp-content/uploads/2023/12/manage_support_requests.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -16px -0px;
}




.increase-sales-generate-leads {
  background-image: url(https://tiledesk.com/wp-content/uploads/2024/01/generate_leads.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -16px -0px;
}

.increase-sales-boost-engagement {
  background-image: url(https://tiledesk.com/wp-content/uploads/2024/01/boost_engagement.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -16px -0px;
}

::ng-deep .h-custom-mat-tooltip {
  background-color: #2d323e !important;
  font-size: 12px !important;
  border-radius: 2px !important;
  font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: #fff;
}

::ng-deep .h-custom-mat-tooltip-error {
  background-color: #f44336 !important;
  color: #fff;
  font-size: 12px !important;
  border-radius: 2px !important;
  font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  line-height: 1.3;
}

.chatbots-created  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-top: 16px;
}