

.email-ticketing-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 6px;
    padding: 10px 15px 0px;
}

.link-to-docs-wpr {
    margin-bottom: 16px;
}
.link-to-docs-wpr > div > div > span > svg {
    fill: var(--blue-light);
    vertical-align: middle;
} 

.link-to-docs {
    // background-color: rgb(241, 241, 241);
    margin-right: 0px;
    margin-left: 0px;
    margin-left: -14px;
    // padding-bottom: 12px;
    // padding-top: 12px;
    padding: 10px 0px;
}

.custom-anchor-to-docs {
    color: var(--blue-light); // #0f62ff !important;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 8px;
}

.custom-anchor-to-docs:hover {
    text-decoration: underline;
}

input[type="text"] {
    // min-width: 307px !important;
    height: 36px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9 !important;
    // border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff !important;
    color: #000000de;
    font-weight: 300;
}

input[type=text]:disabled {
    background-color: rgb(248, 249, 249) !important;
}

.no-copy {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ticketing-email-wpr {
    max-width: 640px;
}

.paragraph-custom-margin-and-weight {
    margin-bottom: 6px;
    font-weight: 400;
}

.copy-btn {
    // padding-bottom: 9px !important;
    // margin-bottom: 10px !important;
    // padding-top: 9px !important;
    // border-radius: 5px !important;
    width: 77px;
    position: relative;
    top: -2.1px;

}

#ticketing-email {
    font-weight: 400;
}

#ticketing-email-dept {
    font-weight: 400;
}

::ng-deep .custom-mat-tooltip {
  background-color: #2d323e !important;
  font-size: 12px !important;
  border-radius: 2px !important;
  font-family: var(--header-font-family) !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: #fff !important;
}