<div class="other-analytics-report-wpr">
  <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-6 w-full min-w-0">




    <div class="flex flex-col flex-auto p-24 bg-card shadow rounded-2xl overflow-hidden">



      <div class="flex items-start justify-between m-6 mb-12">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">
          <!-- {{'TotalLeadsAcquired' | translate}} -->
          {{'LeadsAcquired' | translate}}
          
        </div>
        <div class="ml-2">
          <div class="analytics-indicator-badge">
            Total
          </div>    
        </div>
      </div>


      <div class="flex flex-col items-center mt-2">
        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none other-analytics-num">
          {{countOfActiveContacts}}
        </div>
        <!-- <div class="other-analytics-text truncate">
          {{'TotalLeadsAcquired' | translate}}
        </div> -->
        <div class="flex items-baseline justify-center w-full mt-5 text-secondary" (click)="goToContacts()">
          <div class="text-accent-link-on-white text-md font-medium truncate">

            <span> {{'GoToContactList' | translate}}</span>
            <span class="material-icons m-i-arrow-on-white">
              keyboard_arrow_right
            </span>
          </div>
          <!-- <div class="ml-1.5 text-lg font-semibold">13</div> -->
        </div>
      </div>
    </div>

    <div class="flex flex-col flex-auto p-24 bg-card shadow rounded-2xl overflow-hidden">
      <div class="flex flex-col items-center mt-2">
        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none other-analytics-num">
          {{countOfVisitors}}
        </div>
        <div class="other-analytics-text truncate">
          {{'Last30DaysVisitors' | translate }}
        </div>
        <div class="flex items-baseline justify-center w-full mt-5 text-secondary" (click)="goToVisitorsAnalytics()">
          <div class="text-accent-link-on-white text-md font-medium truncate">

            <span> {{'FilterReportInAnalytics' | translate}} </span>
            <span class="material-icons m-i-arrow-on-white">
              keyboard_arrow_right
            </span>
          </div>
          <!-- <div class="ml-1.5 text-lg font-semibold">13</div> -->
        </div>
      </div>
    </div>

    <div class="flex flex-col flex-auto p-24 bg-card shadow rounded-2xl overflow-hidden">
      <div class="flex flex-col items-center mt-2">
        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none other-analytics-num">
          {{countOfLastMonthMsgs}}
        </div>
        <div class="other-analytics-text truncate">
          {{'Last30DaysMessages' | translate}}
        </div>
        <div class="flex items-baseline justify-center w-full mt-5 text-secondary" (click)="goToMessagesAnalytics()">
          <div class="text-accent-link-on-white text-md font-medium truncate">

            <span> {{'FilterReportInAnalytics' | translate}} </span>
            <span class="material-icons m-i-arrow-on-white">
              keyboard_arrow_right
            </span>
          </div>
          <!-- <div class="ml-1.5 text-lg font-semibold">13</div> -->
        </div>
      </div>
    </div>

  </div>

</div>