<div class="other-analytics-report-wpr">
  <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-6 w-full min-w-0">

    <div class="flex flex-col flex-auto p-24 bg-analytics-card shadow rounded-2xl overflow-hidden">
      <div class="flex items-start justify-between m-6 mb-12">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">

          <!-- {{'LeadsAcquired' | translate}} -->
          Leads Acquired
        </div>
        <div class="ml-2">
          <div class="analytics-indicator-badge">
            <!-- {{'Total' | translate}} -->
            Total
          </div>
        </div>
      </div>


      <div class="flex flex-col items-center mt-2">
        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none other-analytics-num">
          {{countOfActiveContacts}}
        </div>
        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
          <!-- truncate -->
          <div *ngIf="USER_ROLE !== 'agent' && isVisibleANA" class="text-accent-link-on-white text-md font-medium ">
            <div class="arrow-container" (click)="goToContacts()">
              <div id="arrow_1" class="arrow-wrapper">
                <div class="text-block" style="margin-right: 16px;">
                  <!-- {{ 'GoToContactList' | translate }} -->
                  Go to contact list
                </div>
                <div class="arrow arrow--right">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col flex-auto p-24 bg-analytics-card shadow rounded-2xl overflow-hidden">
      <div class="flex items-start justify-between m-6 mb-12">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">

          <!-- {{'UniqueVisitors' | translate}} -->
          Unique Visitors

        </div>
        <div class="ml-2">
          <div class="analytics-indicator-badge">
            <!-- {{'30days' | translate}} -->
            30 days
          </div>
        </div>
      </div>

      <div class="flex flex-col items-center mt-2">
        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none other-analytics-num">
          {{countOfVisitors}}
        </div>
        <!-- <div class="other-analytics-text truncate">
          {{'Last30DaysVisitors' | translate }}
        </div> -->
        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
          <!-- truncate -->
          <div *ngIf="USER_ROLE !== 'agent' && isVisibleANA" class="text-accent-link-on-white text-md font-medium ">
            <div class="arrow-container" (click)="goToVisitorsAnalytics()">
              <div id="arrow_1" class="arrow-wrapper">
                <div class="text-block" style="margin-right: 16px;">
                  <!-- {{ 'FilterReportInAnalytics' | translate }} -->
                  Filter report in analytics
                </div>
                <div class="arrow arrow--right">
                  <span></span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="flex flex-col flex-auto p-24 bg-analytics-card shadow rounded-2xl overflow-hidden">

      <div class="flex items-start justify-between m-6 mb-12">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">

          <!-- {{'BotsAddEditPage.Messages' | translate}} -->
          Messages

        </div>
        <div class="ml-2">
          <div class="analytics-indicator-badge">
            <!-- {{'30days' | translate}} -->
            30 days
          </div>
        </div>
      </div>

      <div class="flex flex-col items-center mt-2">
        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none other-analytics-num">
          {{countOfLastMonthMsgs}}
        </div>
        <!-- <div class="other-analytics-text truncate">
          {{'Last30DaysMessages' | translate}}
        </div> -->
        <div *ngIf="USER_ROLE !== 'agent' && isVisibleANA" class="flex items-baseline justify-center w-full mt-5 text-secondary">
          <!-- truncate -->
          <div class="text-accent-link-on-white text-md font-medium ">
            <div class="arrow-container" (click)="goToMessagesAnalytics()">
              <div id="arrow_1" class="arrow-wrapper">
                <div class="text-block" style="margin-right: 16px;">
                  <!-- {{ 'FilterReportInAnalytics' | translate }} -->
                  Filter report in analytics
                </div>
                <div class="arrow arrow--right">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>