.home-block-wpr {
  margin-top: 18px;
  border-radius: 12px;
  padding: 24px;
  // box-shadow: 0 0 20px 4px rgb(154 161 177 / 15%), 0 4px 80px -8px rgb(36 40 47 / 25%),
  //     0 4px 4px -2px rgb(91 94 105 / 15%);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a;
  background-color: #fff;
}

.home-block-header-wpr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-block-header {
  align-items: center;
  flex-direction: row;
  display: flex;
}

.home-block-img-title-wpr {
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-block-img {
  width: 42px;
  height: 42px;
  margin-right: 8px;
}

.home-block-title {
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
  margin-right: 16px;
}

.home-block-description-and-connect-btn-wpr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-block-description {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
}

.unistall-app-btn-disabled {
  opacity: .6 !important;
}

.mat-flat-button {
  padding: 0 18px !important;
  border-radius: 9999px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  line-height: 1 !important;
}

.mat-button .mat-button-wrapper>*,
.mat-flat-button .mat-button-wrapper>* {
  vertical-align: middle;
}


.actions-btn-wpr {
  display: flex;
  align-self: center;
}

.wa-status-label {
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.wa-status-connection-status-wpr {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f1f2f6;
  padding: 0px 10px;
  border-radius: 9999px;
  border: solid 1px #e7e0e0;
  gap: 3px;
}

.wa-connection-status {
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.wa-status-indicator {
  height: 14px;
  width: 14px;
  background-color: #25d366;
  border-radius: 9999px;
  position: relative;
  top: 1px;
}

.background-wa-connected {
  background-color: #25d366;
}

.background-wa-disconnected {
  background-color: #f44336
}

::ng-deep .custom-mat-tooltip {
  background-color: #2d323e !important;
  font-size: 12px !important;
  border-radius: 2px !important;
  font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: #fff !important;
}

.home-block-display-wa-wizard {
  display: block;
  color: #0f62ff;
  margin-top: 6px;
  cursor: pointer
}

.home-block-display-wa-wizard:hover {
  text-decoration: underline;
}