.mat-dialog-close-btn {
    background-color: #647491;
    color: #fff;
}

.mat-dialog-ok-btn {
    background-color: var(--blue-light);
    color: #fff;

}

.m-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-top-right-icon {
    cursor: pointer;
}

.m-top-right-icon>span {
    padding: 8px;
    background: #e4e6eb;
    border-radius: 999px;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 18px;
    color: rgb(91, 98, 106);

}

.m-top-right-icon:hover>span {
    background-color: rgb(213, 214, 220);
    color: rgb(28, 30, 33)
}

.widget--script {

    background-color: rgb(15, 15, 16);
    border: none;
    // border-radius: 0.25em 0.25em 0px 0px;
    box-shadow: unset !important;
    line-height: 0;
    counter-reset: line;
    padding-left: 0px;
    margin-bottom: 0px;
    font-family: monospace !important;
    color: #fafafa;
    border-radius: 12px !important;
    font-size: 12px;


    span {
        display: block;
        line-height: 2.1rem;

        &:before {
            counter-increment: line;
            content: counter(line);
            display: inline-block;
            border-right: 1px solid #ddd;
            padding: 0 0.5em;
            margin-right: 0.5em;
            color: #039be5;
            // background: #f2feef;
            background: rgba(3, 155, 229, 0.1);
            width: 30px;
            text-align: end;
        }
    }
}

.mat-accordion-wpr {
    position: relative;
}

.widget--script-copy-instructions {
    padding-left: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.widget-content-copy {
    position: absolute;
    // top: 100px;
    top: 88px;
    color: #fafafa;
    right: 16px;
    cursor: pointer;
}

.widget-content-copy:hover {
    opacity: .6;
}

.copied--to--clipboard--tooltip {
    opacity: 0;
    text-align: center;
    position: absolute;
    max-width: 360px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background: antiquewhite;
    width: 260px;
    top: 97px;
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--header-font-family);

}

.has--copied--text {
    background-color: #3ecf8e; //#555;
    color: white;
    -moz-animation: fadeinout 2s linear forwards;
    -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards;

    // transition: opacity 5s ease-in-out;
    opacity: 1;
}

.accordion-instructions {
    padding-bottom: 5px;
    font-weight: 400;
}

.heading-row {
    text-align: center;
    margin-bottom: 28px;
    font-size: 18px;
    font-family: var(--header-font-family);
    font-weight: 400;
}


.mat-dialog-content-row {
    display: flex;
    width: 100%;
    gap: 12px;
}

.mat-dialog-content-item {
    border: 2px solid #e7e7e7;
    padding: 20px;
    border-radius: 12px;
    flex-grow: 1;
    flex-basis: calc(100% / 2);
    cursor: pointer;
    transition: width 3s;
}

.mat-dialog-content-item-first-state:hover {
    background-color: #f1f3fd;
    border-color: #3ea9f5;
 }
// .mat-dialog-content-item:hover {
//     background-color: #f1f3fd;
//     border-color: #3ea9f5;
//  }



.expand-install-column {
    flex-grow: 2 !important;
    flex-basis: 100% !important;
    transition: width 3s;
    border: unset !important;
    padding: 0px !important;
    cursor: default !important;
}

.expand-edit-column {
    flex-grow: 2 !important;
    flex-basis: 100% !important;
    transition: width 3s;
    border: unset !important;
    padding: 0px !important;
    cursor: default !important;
}

.collapse-edit-column {
    // flex-grow: 0 !important;
    // flex-basis: 0% !important;
    display: none;
}

.collapse-install-column {
    display: none;
}

.mat-dialog-content-item-title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: var(--header-font-family);
    font-weight: 400;
}

.mat-dialog-content-item-desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-family: var(--header-font-family);
    // text-align: center;
}

.mat-dialog-content-item-desc-center-text {
    text-align: center;
}

.copied--to--clipboard--tooltip {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--header-font-family);
    // margin-bottom: 12px;
}

.copy-script-title {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--header-font-family);
    margin-bottom: 12px;
}

.link-to-installations {
    font-family: var(--header-font-family);
    font-weight: 400;
    font-size: 14px;
    color: #3ea9f5;
    text-align: center;
    cursor: pointer;
    margin-top: 16px;
}

.link-to-installations:hover {
    text-decoration: underline;
}

.back-to-btns  {
    cursor: pointer;
}

.back-to-btns > span {
    vertical-align: middle;
}

.back-to-btns-back-text {
    font-weight: 400;
}

.link-to-cds {
    color: #3ea9f5;
    cursor: pointer;
}

.link-to-cds:hover {
    text-decoration: underline;
}

.edit-btn-wpr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px
}


.edit-btn-wpr .edit-btn {
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 20px;
    font-size: 16px;
    text-align: left;
    border: 2px solid var(--blue-light);
    line-height: normal;
    display: block;
    border-radius: 999px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: var(--blue-light);
}

.edit-btn-wpr .edit-btn:hover { 
    background-color: rgba(62, 169, 245, 0.1);
}