    <!-- <h1>FAQ Knowledge Base +</h1>
    <hr>
    
    <div class="field is-horizontal">
      <div class="field-body">
  
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input [(ngModel)]="bot_fullname" placeholder="Bot full name" class="input">
            <span class="icon is-small is-left">
                <i class="fa fa-commenting-o"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
  <div class="create" style="text-align: right!important; padding-top:25px; padding-bottom:15px">
    <button class="button is-success" style="padding-left:18px" (click)="goToEditAddPage_CREATE()">
   
      <span class="icon" style="padding-right:16px">
        <i class="fa fa-plus-circle"></i>
      </span>
      Aggiungi FAQ KB
    </button>
  </div>
  

    <table class="table is-striped" style="margin-top:5px">
      <thead>
        <tr>
          <th style="width: 280px !important">
            Id
          </th>
          <th>
            Name
          </th>
          <th>
            Url
          </th>
          <th>
            Creation Date
          </th>
          <th colspan="2">
            Actions
          </th>
          <th colspan="2">
            FAQ
          </th>
        </tr>
      </thead>
  
      <tbody>
  
        <tr *ngFor="let faqkb of faqkbList">
          <td style="width: 280px !important">
            {{ faqkb?._id }}
          </td>
          <td>
            {{ faqkb?.name }}
          </td>
          <td>
            {{ faqkb?.url }}
          </td>
          <td>
            {{ faqkb?.createdAt | date: 'd/M/y'}}
          </td>
  

          <td style="text-align: center!important; padding-left:8px; padding-right:8px; ">

            <span class="icon" style="color:#f6ca4f; cursor: pointer;" (click)=" goToEditAddPage_EDIT(faqkb?._id)">
              <i class="fa fa-pencil"></i>
            </span>
          </td>

          <td style="text-align: center!important; padding-left: 0px; padding-right: 18px;">
            <span class="icon" style="color:#e36456;cursor: pointer;" (click)='openDeleteModal(faqkb?._id)'>
              <i class="fa fa-trash-o"></i>
            </span>
          </td>

          <td style="text-align: center!important; padding-right:8px; padding-left:8px;">

            <span class="icon" style="color:#ff8c00; cursor: pointer;" (click)='goToFaqPage_ADD_EDIT_FAQ(faqkb?._id)'>
                
                <i class="fa fa-list-alt"></i>
            </span>

          </td>
         
  
 
        </tr>
      </tbody>
    </table> -->


    <!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
                <span aria-hidden="true">&times;</span>
              </button>
       
              
                <h4 class="modal-title">Delete FAQ with id:
                  <code>{{id_toDelete}}</code>
                </h4>    
            </div>
               
              <div class="modal-body">
                     <p>Sei sicuro di voler eliminare questa FAQ KB?</p>
                    <p>Sei sicuro di voler eliminare questa FAQ KB e le FAQ a questa correlate?</p>
                  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onCloseDeleteModalHandled()">Confirm</button>
              </div>
          </div>
        </div>
      </div> -->

 
<!-- NEW FOR THIS TEMPLATE -->

    <!-- <h1>FAQ Knowledge Base +</h1>
    <hr> -->
  <!-- <p style="margin-top:10px; padding-left:30px" class="navbar-brand">FAQ Knowledge Base</p>   -->
  <p style="margin-top:10px; padding-left:30px" class="navbar-brand">Bot</p>   
  <div class="main-content" style="padding-top:0px">
    <div class="container-fluid">

        <div class="create" style="text-align: right!important; padding-top:25px; padding-bottom:0px">
          <button class="btn btn-info" style="padding-left:8px; padding-right: 16px;" (click)="goToEditAddPage_CREATE()">
              <!-- is-small -->
            <span class="icon" style="padding-right:8px">
              <!-- <i class="fa fa-plus-circle"></i> -->
              <i class="material-icons">add_circle</i>
            </span>
            <!-- Aggiungi FAQ Knowledge Base -->
            Aggiungi Bot
          </button>
        </div>
  
    <!-- MOMGO DB FAQ Knowledge Base LIST -->
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-content table-responsive">
              <table class="table">
                <thead>
                  <tr>

                    <th>
                      <span style="color: #566787">
                          <!-- Name -->
                        <strong>Nome </strong>
                      </span>
                    </th>
                    <!-- width: 280px !important -->
                    <th style="">
                      <span style="color: #566787">
                        <strong>Id</strong>
                      </span>
                    </th>
                    <th>
                      <span style="color: #566787">
                        <strong> Id remoto</strong>
                      </span> 
                    </th>
                    <!-- <th>
                      <span style="color: #566787">
                        <strong> Url</strong>
                      </span> 
                    </th> -->
                    <th>
                      <span style="color: #566787">
                          <!-- Creation Date -->
                        <strong>Data creazione </strong>
                      </span>  
                    </th>
                    <!-- colspan="2" -->
                    <th>
                      <span style="color: #566787">
                          <!-- Actions -->
                        <strong>Azioni </strong>
                      </span>
                    </th>
                    <th>
                      <span style="color: #566787">
                        <strong> FAQ</strong>
                      </span>  
                    </th>
                  </tr>
                </thead>
            
                <tbody>
            
                  <tr *ngFor="let faqkb of faqkbList">

                    <td>
                      {{ faqkb?.name }}
                    </td>
                    <!-- width: 280px !important -->
                    <td style="">
                      {{ faqkb?._id }}
                    </td>
                    <td>
                      {{ faqkb?.kbkey_remote }}
                    </td>
                    <!-- <td>
                      {{ faqkb?.url }}
                    </td> -->
                    <td>
                      {{ faqkb?.createdAt | date: 'd/M/y'}}
                    </td>
            
                    <!-- EDIT -->
                    <!-- <td style="text-align: center!important; padding-left:8px; padding-right:8px; ">
                      <span class="icon" style="color:#f6ca4f; cursor: pointer;" (click)=" goToEditAddPage_EDIT(faqkb?._id)">
                        <i class="fa fa-pencil"></i>
                      </span>
                    </td> -->
                    <!-- ./ edit -->

                    <!-- DELETE -->
                    <!-- <td style="text-align: center!important; padding-left: 0px; padding-right: 18px;">
                      <span class="icon" style="color:#e36456;cursor: pointer;" (click)='openDeleteModal(faqkb?._id)'>
                        <i class="fa fa-trash-o"></i>
                      </span>
                    </td> -->
                    <!-- /. delete -->

                    <!-- EDIT FAQ-->
                    <!-- <td style="text-align: center!important; padding-right:8px; padding-left:8px;">
                      <span class="icon" style="color:#ff8c00; cursor: pointer;" (click)='goToFaqPage_ADD_EDIT_FAQ(faqkb?._id)'>
                        <i class="fa fa-list-alt"></i>
                      </span>
                    </td> -->
                    <!-- ./ edit FAQ -->
                    
                    <!-- NEW EDIT / DELETE FAQ-KB   -->
                    <td class="td-actions text-right" style="padding-top:16px">
                        <!-- Modifica FAQ Knowledge Base -->
                        <button type="button" rel="tooltip" title="Modifica Bot" class="btn btn-primary btn-simple btn-xs" (click)='goToEditAddPage_EDIT(faqkb?._id)'>
                            <i class="material-icons">edit</i>
                        </button>
                        <!-- Elimima FAQ Knowledge Base -->
                        <button type="button" rel="tooltip" title="Elimima Bot" class="btn btn-danger btn-simple btn-xs" (click)='openDeleteModal(faqkb?._id, HAS_FAQ_RELATED=faqkb?.has_faq)'>
                            <i class="material-icons">close</i>
                        </button>
                    </td>
                    <!-- NEW VIEW / EDIT FAQ - SWITCH BUTTON IF THERE IS OR THERE ISN'T FAQ RELATED TO THE FAQ-KB -->
                    <td class="">
                      <span *ngIf="faqkb?.has_faq">
                        <button style="margin-top:5px; padding-left: 3px;" type="button" rel="tooltip" title="Visualizza / aggiungi / modifica FAQ" class="btn btn-success btn-simple btn-xs" (click)='goToFaqPage_ADD_EDIT_FAQ(faqkb?._id)'>
                          <i class="material-icons">list</i>
                        </button>
                      </span>
                      <span *ngIf="!faqkb?.has_faq">
                        <button style="margin-top:5px; padding-left: 3px;" type="button" rel="tooltip" title="Aggiungi / modifica FAQ (non esistono FAQ correlate a questo Bot)" class="btn btn-warning btn-simple btn-xs" (click)='goToFaqPage_ADD_EDIT_FAQ(faqkb?._id)'>
                          <i class="material-icons">list</i>
                        </button>
                      </span>
                      
                      <span *ngIf="faqkb?.kbkey_remote">
                        <button style="margin-top:5px; padding-left: 3px;" type="button" rel="tooltip" title="Test FAQ" class="btn btn-info btn-simple btn-xs" (click)='goToTestFaqPage(faqkb?.kbkey_remote)'>
                          <i class="material-icons">playlist_play</i>
                        </button>
                      </span>
                      <!-- <span *ngIf="faqkb?.has_faq">
                        HA FAQ
                      </span> -->
                    </td>

          
          
                  </tr>
                </tbody>
              </table>

            <!-- MODAL -->
            <!-- <div class="backdrop" [ngStyle]="{'display':display}"></div> -->
            <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
                        <span aria-hidden="true">&times;</span>
                      </button>         
                      <h4 class="modal-title">
                        <!-- Delete FAQ Knowledge Base with id: -->
                        <!-- Elimina FAQ Knowledge Base con id: -->
                        Elimina Bot con id:
                        <code>{{id_toDelete}}</code>
                      </h4>    
                    </div>

                    <span *ngIf="!HAS_FAQ_RELATED">
                      <div class="modal-body">    
                        <!-- <p> Are you sure you want to delete this FAQ KB?</p> -->
                        <!-- <p>Sei sicuro di voler eliminare questa FAQ Knowledge Base?</p> -->
                        <p>Sei sicuro di voler eliminare questo Bot?</p>
                       </div>
                    </span>
                    <span *ngIf="HAS_FAQ_RELATED ">
                      <div class="modal-body">
                        <!-- <p>Sei sicuro di voler eliminare questa FAQ Knowledge Base e le FAQ a questa correlate?</p> -->
                        <p>Sei sicuro di voler eliminare questo Bot e le FAQ a questo correlate?</p>
                      </div>
                    </span>
                    <div class="modal-footer">
                        <!-- Confirm -->
                      <button type="button" class="btn btn-danger" (click)="onCloseDeleteModalHandled()">Conferma</button>
                    </div>
              
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>

            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
