<div class="home-block-wpr">
    <div class="home-block-header-wpr">
        <div class="home-block-header">

            <div class="home-block-img-title-wpr">
                <div class="home-block-title">
                    Chat
                </div>

            </div>
        </div>
    </div>
    <div style="height: 24px; width: 0px; flex: 0 0 auto;"></div>

    <div class="home-block-description-and-action-btn-wpr">
        <div class="home-block-description" style="padding-right:55px">
            Open the Chat to handle the incoming conversations 
        </div>
        <!-- (click)="gotToLearMoreOrManageApp()" -->
        <div class="actions-btn-wpr">
            <button mat-flat-button=""
                class="mat-focus-indicator mat-flat-button mat-button-base"
                style="background-color: #3ea9f5; color: #fff;margin-right: 4px;" (click)="openChat()">
                <span class="mat-button-wrapper">
                 
                    <span class="ml-2"
                        style="font-size: 15px;">
                        Open chat
                    </span>

                </span>
                <span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false"
                    ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]">
                </span>
                <span class="mat-button-focus-overlay"> </span>
            </button>
        </div>

    </div>
</div>
