input[type="text"] {
  // min-width: 307px !important;
  height: 36px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9 !important;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff !important;
  border: solid 1px #ddd;
}

textarea {
  // height:36px;
  background: #fff;
  border-radius: 0px;
  border-color: #d9d9d9;
  width: 100%;
  padding-left: 5px;
  padding-top: 7px;
}
.card form [class*="col-"] {
  padding: 0px;
}

.custom-label-left {
  color: #7695a5;
  // height: 36px;
  padding-top: 7px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left !important;
  // text-align: right!important;
}

.right-sidebar-title {
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 300;
  margin-bottom: 6px;
  margin-bottom: 6px;
  padding-bottom: 4px;
  margin-top: 1px;
}

.right-sidebar-icon {
  vertical-align: middle;
  color: #394f5a;
  font-size: 14px;
  margin-top: 1px;
}

.right-sidebar-attribute-name {
  font-size: 12px;
  color: #394f5a;
  font-weight: 500;
  font-family: "Google Sans", sans-serif !important;
}

.right-sidebar-attribute-value {
  color: #7695a5;
  font-weight: 500;
  font-size: 12px;
}

// -------------------------
// Placeholder cusrom color
// -------------------------
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d9d9d9 !important;
  font-weight: 200 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d9d9d9 !important;
  font-weight: 200 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d9d9d9 !important;
  font-weight: 200 !important;
}

// --------------------
// SWITCH BTN
// --------------------
// --------- start new on-off btn logo ---------
.nw-onoffswitch {
  position: relative;
  width: 45px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.nw-onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.nw-onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 25px;
  padding: 0;
  line-height: 25px;
  border: 2px solid #e3e3e3;
  border-radius: 25px;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in;
}
.nw-onoffswitch-label:before {
  content: "";
  display: block;
  width: 25px;
  margin: 0px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  border: 2px solid #e3e3e3;
  border-radius: 25px;
  transition: all 0.3s ease-in 0s;
}
.nw-onoffswitch-checkbox:checked + .nw-onoffswitch-label {
  background-color: #3ea9f5;
}
.nw-onoffswitch-checkbox:checked + .nw-onoffswitch-label,
.nw-onoffswitch-checkbox:checked + .nw-onoffswitch-label:before {
  border-color: #3ea9f5;
}
.nw-onoffswitch-checkbox:checked + .nw-onoffswitch-label:before {
  right: 0px;
}
// --------- ./end new on-off btn logo ---------
