@import "./src/assets/sass/md/_variables.scss";

.box-content {
  background: #ffffff;
  margin-bottom: 30px;
  padding: 20px;
  display: grid;
  position: relative;
  border-radius: 4px;
  box-shadow: #001b4714 0 3px 8px;
}

input[type="text"] {
  // min-width: 307px !important;
  height: 36px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9 !important;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff !important;
  border: solid 1px #ddd;
}

textarea {
  // height:36px;
  background: #fff;
  border-radius: 0px;
  border-color: #d9d9d9;
  width: 100%;
  padding-left: 5px;
  padding-top: 7px;
}
.card form [class*="col-"] {
  padding: 0px;
}

.custom-label-left {
  color: #7695a5;
  // height: 36px;
  padding-top: 7px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left !important;
  // text-align: right!important;
}

.right-sidebar-title {
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 300;
  margin-bottom: 6px;
  margin-bottom: 6px;
  padding-bottom: 4px;
  margin-top: 1px;
}

.right-sidebar-icon {
  vertical-align: middle;
  color: #394f5a;
  font-size: 14px;
  margin-top: 1px;
}

.right-sidebar-attribute-name {
  font-size: 12px;
  color: #394f5a;
  font-weight: 400;
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
}

.faq-right-sidebar-attribute-value {
  color: #7695a5;
  // font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.faq-right-sidebar-link {
  color: #0f62ff;
  cursor: pointer;
}
.faq-right-sidebar-link:hover {
  text-decoration: underline;
}

.faq-related-knowledge-base-right-sidebar-link {
  color: #0f62ff !important;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 8px;
}

.faq-related-knowledge-base-right-sidebar-link:hover {
  text-decoration: underline;
}

// -------------------------
// Placeholder cusrom color
// -------------------------
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d9d9d9 !important;
  font-weight: 200 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d9d9d9 !important;
  font-weight: 200 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d9d9d9 !important;
  font-weight: 200 !important;
}

.card_title_setting {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.card_title_add_form {
  padding: 8px 16px;
  margin: 0;
  position: absolute;
  right: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .div-spacer {
    height: 90px !important;
  }
}

.enable-webhook-description-wpr {
  display: inline-block;
  position: relative;
  top: -12px;
}

.enable-webhook-description {
  font-size: 14px;
  font-weight: 300;
  color: #2b313f;
  line-height: 28px;
  margin-left: 6px;
}

textarea {
  resize: vertical;
  border-radius: 5px;
  background: #fff;
  width: 100%;
  padding-left: 5px;
  padding-top: 7px;
}
input#intent-name {
  background-size: 100% 2px, 100% 0px;
  border: 0px !important;
  // border-bottom: 2px solid #d9d9d9!important;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  margin-bottom: 3px;
  border-radius: 0px;
  background-image: linear-gradient(#ed2e19, #ed2e19), linear-gradient(#d2d2d2, #d2d2d2);
  background-color: #eeeeee69 !important;
}

.card_title__underlined {
  height: initial;
  min-height: 30px;
  margin-top: 5px;
}

/* start Custom floatin label */
.form-group.label-floating.is-empty {
  label.control-label {
    top: 0;
    margin: 10px 6px;
    font-size: 1em;
    line-height: normal;
  }
}

.form-group.label-floating label.control-label {
  top: 0;
  margin: 10px 6px;
  font-size: 1em;
  line-height: normal;
  &.intentTitle {
    font-weight: 200;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    padding: 0 10px;
    color: #d2d2d2;
  }
}

.form-group.label-floating.is-focused {
  label.control-label {
    top: -28px;
    left: 0;
    font-size: 11px;
    line-height: normal;
    color: #7695a5;
    &.intentTitle {
      font-size: 14px;
      top: -20px;
      left: 12px;
      display: none;
    }
  }
  input#intent-name {
    border: 0 !important;
    background-image: linear-gradient(#ed2e19, #ed2e19), linear-gradient(#d2d2d2, #d2d2d2);
  }
}

.form-group.label-floating:not(.is-empty) {
  label.control-label {
    top: -28px;
    left: 0;
    font-size: 11px;
    line-height: normal;
    color: #7695a5;
    &.intentTitle {
      font-size: 14px;
      top: -20px;
      left: 12px;
      display: none;
    }
  }
  input#intent-name {
    font-size: 16px;
    border: 0px !important;
    background-image: linear-gradient(#3ea9f5, #3ea9f5), linear-gradient(#d2d2d2, #d2d2d2);
    //border-bottom: 2px solid #3ea9f5!important;
  }
}

.form-control,
.form-group .form-control {
  background-size: 0 2px, 100% 0px;
  border: 1px solid #d9d9d9;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.form-group.label-floating.is-focused .form-control {
  background-size: 100% 2px, 100% 1px;
}

// --------------------
// SWITCH BTN
// --------------------
// --------- start new on-off btn logo ---------
.nw-onoffswitch {
  position: relative;
  width: 45px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.nw-onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.nw-onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 25px;
  padding: 0;
  line-height: 25px;
  border: 2px solid #e3e3e3;
  border-radius: 25px;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in;
}
.nw-onoffswitch-label:before {
  content: "";
  display: block;
  width: 25px;
  margin: 0px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  border: 2px solid #e3e3e3;
  border-radius: 25px;
  transition: all 0.3s ease-in 0s;
}
.nw-onoffswitch-checkbox:checked + .nw-onoffswitch-label {
  background-color: #3ea9f5;
}
.nw-onoffswitch-checkbox:checked + .nw-onoffswitch-label,
.nw-onoffswitch-checkbox:checked + .nw-onoffswitch-label:before {
  border-color: #3ea9f5;
}
.nw-onoffswitch-checkbox:checked + .nw-onoffswitch-label:before {
  right: 0px;
}
// --------- ./end new on-off btn logo ---------

.link-to-chatbot-form-doc {
  color: #03a5e8;
  cursor: pointer;
}

.link-to-chatbot-form-doc:hover {
  text-decoration: underline;
}
.btn-light-blu {
  padding: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  background: #e7f3ff;
  color: #1876f2;
  box-shadow: unset !important;
}

.btn-light-blu:hover {
  background: #d3e0ef;
  box-shadow: unset !important;
}
