@import "./src/assets/sass/cds/_variables.scss";

.title-label {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;   
}

.block-wrp {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    gap: 25px;
}

.add-filter-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    padding: 8px 15px;
    border: 1px solid #c6cdd4;
    border-radius: 4px;
    color: #c6cdd4;
    cursor: pointer;
    margin-top: 15px;
    
    &:hover{
        border-color: white;
        color: white
    }
}

.base-operand {
    position: relative;
    &:hover{
        div.filter-remove{
            opacity: 1;
            transition: opacity 0.3s ease 0s;
        }
    }
}

.basic-operator{
    display: flex;
    justify-content: center;
}


.control-buttons{
    height: 100%;
    left: -44px;
    position: absolute;
    top: 0px;
    width: 44px;

    div.filter-remove{
        position: absolute;
        right: -8px;
        top: -14px;
        
        opacity: 0;

        height: 28px;
        width: 28px;

        -webkit-box-align: center;
        -webkit-box-pack: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 1px 4px 0px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        background: rgb(255, 255, 255);
        border-radius: 100%;
        transition: background-color 0.3s ease 0s;
        font-size: 12px;

        span.material-icons{
            font-size: 20px;
            color: $icon-color;
        }

        &:hover{
            background-color: $icon-color;
            span.material-icons{
                color: white;
            }
        }
    }
}


