@import "./src/assets/sass/md/_variables.scss";


// START - CARDS WITH THE COUNTS OF THE REQUESTS: TOTALS SERVED AND UNSERVED
#heatmap-container_HeatmapBorder {
    fill: none;
}

.tiledesk_card_header {
    padding: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 0;
    height: 0 !important;
    position: relative !important;
    top: 24px !important;
}

.card_content_header {
    text-align: right
}

.card-header_icon {
    background-color: #ffffff !important;
    font-size: 46px;
}

.card_content_header_last_update {
    text-align: right;
    line-height: 22px;
    color: #999999;
    font-size: 12px;
    top: 10px;
    position: relative;
}

.card_content_header_last_update_icons {
    font-size: 16px;
    position: relative;
    top: 4px;
}

.request_count {
    font-size: 72px;
    line-height: 72px;
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
    margin-top: 35px;
}

.request_count_icons {
    font-size: 46px;
    position: relative;
    top: 1px;
    left: -52px;
}

.request_count_footer {
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
    text-align: center;
}

// END - CARDS WITH THE COUNTS OF THE REQUESTS: TOTALS SERVED AND UNSERVED

.c21-title {
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
}

.card-header-custom {
    box-shadow: none !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-bottom: 1px solid #eff3f5 !important;
}



.chart-wrapper {
    //background-color: #1e88e5!important; -->blue color
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -30px;
    margin-right: -30px;
    min-height: 345px;
}

.chart-title {
    padding-bottom: 24px;
    padding-top: 24px;
    font-size: 18px;
    //color: #fff;
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
}

.ct-label {
    // font-size: 15px !important;
    color: rgba(255, 255, 255, 1) !important;
}

.ct-line {
    stroke: rgba(255, 255, 255, 0.7) !important;

}

.ct-series-a .ct-point {
    stroke: rgba(255, 255, 255, 0.8) !important;
}

.ct-grid {
    stroke: rgba(255, 255, 255, 0.5) !important;
}

.clock {
    background-image: url('../../assets/img/stopwatch.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: auto;

}

.star {
    background-image: url('../../assets/img/star-blue.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    margin: auto;
}

.heart {
    background-image: url('../../assets/img/heart.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    width: 160px;
    margin: auto;
}

// .numberCLOCK{
//     font-size: 73px;
//     line-height: 0;
//     padding-top: 94px;
//     color: #073f74;
//     font-family: "Poppins","Roboto", "Arial", sans-serif;
// }

.chart-container {
    //background-color: #1e88e5;
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
}

// BOTTOM NAVBAR  //

@media (max-width: 991px) {
    .bottom-nav-analytics li {
        top: -6px !important;
        z-index: 1049;
    }

    .chart-wrapper {
        margin-top: 60px !important;
    }
}


@media (max-width: 370px) {
    .bottom-nav-analytics {
        height: 37px !important;
    }

    .bottom-nav-analytics li {
        padding: 6px !important;
        height: 39px;
    }
}

// - end - BOTTOM NAVBAR  //