@import url(https://fonts.googleapis.com/css?family=Google+Sans);

.request_count {
    font-size: 72px;
    line-height: 72px;
    font-family: 'Google Sans', sans-serif !important;
}

.request_count_footer {
    font-family: 'Google Sans', sans-serif !important;
    font-size: 16px;
    text-transform: uppercase;
}