<p style="margin-top:10px; padding-left:30px" class="navbar-brand">Analytics</p>
<div class="main-content" style="padding-top:0px">

    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="orange">
                        
                        <i class="material-icons">message</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Numero Richieste</p>
                        <h3 class="title">50
                         
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                           
                            <i class="material-icons">date_range</i> Ultimo mese
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="green">
                        
                        <i class="material-icons">chat</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Numero Chat servite da un agente</p>
                        <h3 class="title">48/50</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Ultimo mese
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="red">
                        
                        <i class="material-icons">timelapse</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Durata media della Chat</p>
                        <h3 class="title">3m 30s</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Appena aggiornato
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="blue">
                        
                        <i class="material-icons">timer</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Attesa media</p>
                        <h3 class="title">30s</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Appena aggiornato
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- ./ row -->

        <!-- test  -->
        <div class="row">

            <!-- ============ TOTAL ACTIVE REQUESTS ============ -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-stats">
                    
                    <div class="card-header tiledesk_card_header">
                        <i class="material-icons card-header_icon " style="color: #ff9800; ">
                            message
                        </i>
                    </div>

                    <div class="card-content" style="text-align: center">
         
                        <p class="card_content_header">
                            <span class="card_content_header_last_update">
                                <i class="material-icons card_content_header_last_update_icons">
                                    update
                                </i>  
                                {{ "Updated" | translate }}: {{ date | amTimeAgo }}
                            </span>
                        </p>
 
                        <div class="request_count" style="color: #ff9800">
                          
                            <span class="request_count_icons_numbers">  
                              {{ activeRequestsCount }}  
                            </span>
                                             
                        </div>

                        <span style="color: #ff9800" > 
                            <span *ngIf="activeRequestsCount > 1 || activeRequestsCount == 0" > {{ "Requests" | translate }} </span>
                            <span *ngIf="activeRequestsCount == 1"> {{ "Request" | translate }} </span>
                        </span>

                    </div>
                    <div class="card-footer request_count_footer">
                        {{ "TotalActive" | translate }} 
                    </div>
                </div>
            </div>

            <!-- ============ SERVED REQUESTS ============ -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-stats">
                   
                    <div class="card-header tiledesk_card_header">
                        <i class="material-icons card-header_icon " style="color: #00bcd4;">
                            visibility
                        </i>
                    </div>

                    <div class="card-content" style="text-align: center;">
                       
                        <p class="card_content_header">
                            <span class="card_content_header_last_update">
                                <i class="material-icons card_content_header_last_update_icons">
                                    update
                                </i>  
                                {{ "Updated" | translate }}: {{ date | amTimeAgo }}
                            </span>
                        </p>

                        <div class="request_count" style="color: #00bcd4">
                           
                            <span class="request_count_icons_numbers">  
                                {{ servedRequestsCount }} 
                            </span>   

                        </div>

                        <span style="color: #00bcd4" > 
                            <span *ngIf="servedRequestsCount > 1 || servedRequestsCount == 0" > {{ "Requests" | translate }} </span>
                            <span *ngIf="servedRequestsCount == 1"> {{ "Request" | translate }} </span>
                        </span>
                    </div>

                    <div class="card-footer request_count_footer" >
                        {{ "Served" | translate }}
                    </div>
                </div>
            </div>

            <!-- ============ UNSERVED REQUESTS ============ -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-stats">

                    <div class="card-header tiledesk_card_header">
                        <i class="material-icons card-header_icon " style="color: #f44336; ">
                            visibility
                        </i>
                    </div>
         
                    <div class="card-content" style="text-align: center;">
                        
                        <p class="card_content_header">
                            <span class="card_content_header_last_update">
                                <i class="material-icons card_content_header_last_update_icons">
                                    update
                                </i>  
                                {{ "Updated" | translate }}: {{ date | amTimeAgo }}
                            </span>
                        </p>

                        <div class="request_count" style="color: #f44336" >
                                    
                            <span class="request_count_icons_numbers">    
                                {{ unservedRequestsCount }}    
                            </span>    
                        </div>
                        <span style="color: #f44336" > 
                            <span *ngIf="unservedRequestsCount > 1 || unservedRequestsCount == 0" > {{ "Requests" | translate }} </span>
                            <span *ngIf="unservedRequestsCount == 1"> {{ "Request" | translate }} </span>
                        </span>

                    </div>
                    <div class="card-footer request_count_footer" >
                        {{ "Unserved" | translate }}
                    </div>
                </div>
            </div>
        </div>
         <!-- // END NEW ROW -->

        <!-- /// ======== --- TABLE "REQUESTS X AGENT" --- ======== /// -->
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" data-background-color="" style="background-color: #fff; padding-top: 12px;padding-bottom: 10px;">
                        <h4 class="title" style="margin-bottom:2px; font-size:1.1em; color: #566787">
                            
                            Requests for member
                   
                        </h4>
                     </div>
    
                    <loading-spinner *ngIf="showSpinner"></loading-spinner>
                    <div *ngIf="!showSpinner" class="card-content table-responsive" style="padding-top: 0px">
                        <table class="table table-hover">

                            <thead>
                                <tr>
                                    <!-- ------====== column IMAGE (note: THE COLUMN HEADING IS 'USER') ======------ -->
                                    <th>
                                        <!-- <span style="color: #566787">
                                            <strong>
                                            {{ "UsersPage.User" | translate }}
                                            </strong>
                                        </span> -->
                                    </th>
                                    <!-- ------====== column USER (NAME + LASTNAME) ======------ -->
                                    <th>
                                        <!-- <span style="color: #566787">
                                            <strong>
                                            {{ "UsersPage.User" | translate }}
                                            </strong>
                                        </span> -->
                                    </th>

                                     <!-- ------====== column # OF ASSIGNEDE REQUESTS  ======------ -->
                                    <th>
                                        <!-- <span style="color: #566787">
                                            <strong>
                                            #
                                            </strong>
                                        </span> -->
                                    </th>
                                </tr>

                            </thead>

                            
                            <tbody>
                                <tr *ngFor="let member of projectUsers">
                                    <td style="width:45px; padding-top:4px !important; padding-bottom:4px!important">
                                            <!-- *ngIf="userProfileImageExist === true"  -->
                                        <img style="vertical-align: middle; width: 30px; height: 30px; border-radius: 50%; border: 1px solid #eee; margin-right: 15px;" 
                                        class="user-img" src="https://firebasestorage.googleapis.com/v0/b/chat-v2-dev.appspot.com/o/profiles%2F{{member?.id_user?._id}}%2Fphoto.jpg?alt=media" onerror="this.src='assets/img/no_image_user.png'"/>
    
                                        <!-- <img *ngIf="userProfileImageExist !== true" style="vertical-align: middle; width: 60px; height: 60px; border-radius: 50%; border: 1px solid #eee; margin-right: 15px;" 
                                        class="user-img" src="assets/img/no_image_user.png"/> -->

                                    </td>

                                    <td style="cursor:pointer"  (click)="goToMemberProfile(member?.id_user?._id)">
                                       <span style="text-transform: uppercase">{{ member?.id_user?.lastname }}</span>  {{ member?.id_user?.firstname }} 
                                    </td>
                
                                    <td>
                                       <span style="font-weight: 500">  {{ member?.value }}</span> 
                                       <!-- <span style="color: #999999; font-size:0.9em"> request </span> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
                                






        <!-- /// ======== --- TABLE "REQUESTS X AGENT" --- ======== /// -->




        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="orange">
                        <!-- <i class="material-icons">content_copy</i> -->
                        <i class="material-icons">message</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Numero Richieste</p>
                        <h3 class="title">50
                          <!-- <small>GB</small> -->
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a> -->
                            <i class="material-icons">date_range</i> Ultimo mese
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="green">
                        <!-- <i class="material-icons">store</i> -->
                        <i class="material-icons">chat</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Numero Richieste servite da un agente</p>
                        <h3 class="title">48/50</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Ultimo mese
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="red">
                        <!-- <i class="material-icons">info_outline</i> -->
                        <i class="material-icons">timelapse</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Durata media della Chat</p>
                        <h3 class="title">3m 30s</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Appena aggiornato
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="blue">
                        <!-- <i class="fa fa-twitter"></i> -->
                        <i class="material-icons">timer</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Attesa media</p>
                        <h3 class="title">30s</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Appena aggiornato
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ./ test -->

        <!-- graphics -->
        <div class="row">
            <div class="col-md-4">
                <div class="card" >
                    <div class="card-header card-chart" data-background-color="green">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Numero Richieste</h4>
                        <p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> aumento delle richieste oggi.</p>
                    </div>
                    <!-- <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> aggiornato al 25 Feb
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" >
                    <div class="card-header card-chart" data-background-color="orange">
                        <div class="ct-chart" id="emailsSubscriptionChart"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Durata media della Chat</h4>
                        <!-- <p class="category">Performance del 2017</p> -->
                    </div>
                    <!-- <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i>
                        </div>
                    </div> -->

                </div>
            </div>

            <!-- USER SATISFACTION -->
            <div class="col-md-4">
                <div class="card" >
                    <div class="card-header card-chart" data-background-color="red">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Soddisfazione Utenti</h4>
                        <!-- <p class="category">Performance del 2017</p> -->
                    </div>
                    <!-- <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <!-- my graphics -->
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header " data-background-color="red">
                        <i class="material-icons">message</i>
                        <!-- Numero di richieste per dipartimento -->
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Numero di richieste per dipartimento</h4>
                    </div>
                    <div id="chartPreferences" class="ct-chart"></div>
                    <div class="card-footer">
                        <h6>Legenda</h6>
                        <i class="fa fa-circle text-info"></i> Agenti <br>
                        <i class="fa fa-circle text-danger"></i> Area processi organizzativi <br>
                        <i class="fa fa-circle text-warning"></i> Area commerciale <br> 
                        <i class="fa fa-circle" style="color:#8f31aa"></i> Area personale <br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
