
.dpwGNg {
    position: absolute;
    width: 450px;
    background-color: inherit;
                z-index: 20;
    transition: transform 0.15s ease 0s;
    right: 0px;
    transform: translate3d(0px, 0px, 0px);
}
.emOHWc {
    height: 100%;
    top: 0px;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 20;
    border-left: 1px solid rgb(223, 227, 237);
    overflow: clip;
    transition: width 0.15s ease 0s, transform 0.15s ease 0s;
}


/** chiuso */
.fvEYGn {
    height: 100%;
    top: 0px;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 20;
    border-left: 1px solid rgb(223, 227, 237);
    overflow: clip;
    transition: width 0.15s ease 0s, transform 0.15s ease 0s;
}

.jtheDV {
    position: absolute;
    width: 450px;
    background-color: inherit;
    z-index: 20;
    transition: transform 0.15s ease 0s;
    right: 0px;
    transform: translate3d(450px, 0px, 0px);
}
/** -----  **/


.oAojv {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow: clip;
}

.irFMbu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 60px;
    padding: 8px 32px;
    border-bottom: 1px solid rgb(234, 239, 244);
}

.hhBKxP {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: clip;
}
.iZOUDG {
    animation: 0.15s ease-in-out 0s 1 normal both running faCFWk;
}

.MHLRR {
    flex: 1 1 0%;
    overflow: hidden;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bCXazO {
    margin: 0px -10px 0px 12px;
}


.hrbVf {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.jaaatM {
    transition: transform 0.15s ease 0s;
    border-radius: 50%;
    border: 2px solid rgba(97, 103, 105, 0.133);
    padding: 3.5px;
    background: rgba(97, 103, 105, 0.133);
}
.cKnnmt {
    width: 18px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.118) 0px -2px 0px 0px inset;
    background: rgb(97, 103, 105);
    background-blend-mode: screen;
    cursor: pointer;
}