<!-- <mat-dialog-actions align="end" style="min-height: 13px;">
    <button tabindex="-1" mat-button mat-dialog-close
        style="top: -25px; min-width: 36px;padding: 0px;border-radius: 50%; right: -11px;">
        <span class="material-icons">
            close
        </span>
    </button>
   
</mat-dialog-actions> -->

<h1 mat-dialog-title>

    {{ 'Duplicate' | translate }} {{ bot_name }}
</h1>

<mat-dialog-content class="mat-typography" style="min-height: 30px; padding-bottom: 24px;">

    <div class="clone-bot-content-wpr">
        <!-- <div class="clone-bot-header">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="clone-bot-title">
                        {{ 'Duplicate' | translate }} {{ bot_name }}
                    </h2>
                </div>
            </div>

        </div> -->

        <div class="clone-bot-content">
            <div class="row">
                <div class="col-md-12">
                    <h4 style="font-weight: 400;"> Choose which project you want to duplicate the chatbot on </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- (clear)="onClearSelectedLanguage()" -->
                    <div class="select-project-to-clone-cb-wpr" style="font-size: 14px;"> 
                        <ng-select class="select-project-to-clone-cb"
                            appendTo="body" 
                            style="margin-top: 0px; max-width: 500px;" 
                            [clearable]="false" 
                            [(ngModel)]="selectedProject"
                            [items]="activeProjects" 
                            bindLabel="id_project.name" 
                            bindValue="id_project._id"
                            placeholder="Choose a project" 
                            (change)="onSelectProject(selectedProject)">
                        </ng-select>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-sm-12">
               
                    <button  class="btn btn-tdblu-no-boxshadow" (click)="duplicateChatbot()">
                        Duplicate
                    </button>
                    
                    
                </div>
            </div> -->
        </div>


    </div>

</mat-dialog-content>

<div mat-dialog-actions style="justify-content: center;">
    <button class="mat-dialog-close-btn" mat-button (click)="onNoClick()">
        {{ "Cancel" | translate }}
    </button>

    <button class="mat-dialog-ok-btn" mat-button (click)="onOkPresssed()" [disabled]="!selectedProjectId">
        {{ "Duplicate" | translate }}
    </button>
</div>