<p style="z-index: 1050;position: relative;margin-top:6px; padding-left:30px" class="navbar-brand">
    {{ "Hours" | translate }}
</p> 

<div class="row">
        
  <div class="col-md-6"> 
    <div class="left-div-padding">
      <div class="row"> 
        <div class="col-sm-12"> 
          <h2 style="margin-top:10px; font-family: Google Sans; text-align:center; color: #1e88e5" >
            Available with the PRO plan 
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h3 style="font-family: Google Sans; text-align:center"> 
            Upgrade Your Account to track what Agents are doing!
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div style="text-align: center;"> 
            <button type="button" class="btn outline-btn-analytics btn-lg" style="padding:11px 22px" (click)="goToPricing()">

              <span> {{ 'UpgradeNow' | translate }}  </span> 

            </button>
          </div>
        </div>
      </div>  

    </div>
  </div>
    
  <div class="col-md-6"> 
    <div style="max-width:780px;margin:auto">
      <div class="card" style="box-shadow: 0 14px 30px 0 rgba(60,72,91,0.22); border-radius:10px;">
        <div class="card-content">
          <div class="row">
            <div  class="col-md-12">

            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>