@import url(https://fonts.googleapis.com/css?family=Google+Sans);
 
/* TABLE CONTENT VERTICAL ALIGNMENT */
.table td, .table th {
    vertical-align: middle
}

.table td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.table td p{
    margin-bottom: 0px;
}

button {
    padding-top:2px; 
    padding-bottom:1px; 
    padding-right:3px; 
    padding-left:3px;
    margin-top:5px;
    margin-bottom:5px;
}

/* MODAL START */
// @media (min-width: 992px) {

// }
// @media (min-width: 768px) {
//     .modal-dialog {
//         width: 600px;
//         margin: 30px auto;
//     }
// }

// MODAL BOOTSTRAP BREAKPOINTS

// @media (min-width: 769px) and (max-width: 991px){
//     .modal-dialog {
//         width: 700px;
//         }
//     }
// // from 992 to 1020px 
// @media (min-width: 992px) and (max-width: 1019px){
// .modal-dialog {
//         margin-left: 33%;
//     }
// }

// @media (min-width: 1020px) and (max-width: 1119px) {
//     .modal-dialog {
//         // margin-left: 35%;
//         margin-left: 31%;
//         width: 670px;
//     }
// }
// @media (min-width: 1120px) and (max-width: 1199px) {
//     .modal-dialog {
//         // margin-left: 35%;
//         margin-left: 31%;
//         width: 700px;
//     }
// }

// @media (min-width: 1200px) and (max-width: 1289px)  {
//     .modal-dialog {
//         // margin-left: 37%;
//         margin-left: 29%;
//         width: 800px;
//     }
// }

// @media (min-width: 1290px) and (max-width: 1369px)  {
//     .modal-dialog {
//         // margin-left: 37%;
//         margin-left: 29%;
//         width: 850px;
//     }
// }

// @media (min-width: 1369px) and (max-width: 1469px)  {
//     .modal-dialog {
//         // margin-left: 37%;
//         margin-left: 29%;
//         width: 850px;
//     }
// }

// @media (min-width: 1470px) and (max-width: 1549px) {
//     .modal-dialog {
//         margin-left: 29%;
//         width: 900px;
//     }
// }

// @media (min-width: 1550px) and (max-width: 1649px){
//     .modal-dialog {
//         margin-left: 30%;
//         width: 900px;
//     }
// }
// @media (min-width: 1650px) and (max-width: 1679px) {
//     .modal-dialog {
//         // margin-left: 40%;
//         margin-left: 31%;
//         width: 900px;     
//     }
// }
// // and (max-width: 1679px)
// @media (min-width: 1680px)  {
//     .modal-dialog {
//         // margin-left: 40%;
//         margin-left: 33%;
//         width: 900px;     
//     }
// }

// @media (min-width: 991px){
// .modal-dialog {
//     left: 110px !important;
//     }
// }

// @media (min-width: 768px)  {
//     .modal-dialog {
//       width: 600px;
//       margin: 30px auto;
//     }
// }

// @media (min-width: 1252px) {
//     .modal-dialog {
//       width: 900px;
//     }
// }
.modal {
    top: 0;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal-body {
    position: relative;
    // padding-top: 35px;
    // padding-bottom: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 15px;
}

.modal-footer {
    // padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    // background-color: #edf0f1;
    background-color: #eeeeee;
    padding-top:10px !important;
}


// .btn-default {
//     color: #333;
//     background-color: #fff;
//     border-color: #ccc;
// }

// .btn {
//     display: inline-block;
//     padding: 6px 12px;
//     margin-bottom: 0;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 1.42857143;
//     text-align: center;
//     white-space: nowrap;
//     vertical-align: middle;
//     -ms-touch-action: manipulation;
//     touch-action: manipulation;
//     cursor: pointer;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     background-image: none;
//     border: 1px solid transparent;
//     border-radius: 4px;
// }

// .btn-default {
//     color: #333;
//     background-color: #fff;
//     border-color: #ccc;
// }

/* MODAL END */

// MESSAGES IN MODAL 
.msgcontainer  {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    display: inline-block;
    min-width: 150px;
    max-width: 350px;
}

.msgcontainer::after {
    content: "";
    clear: both;
    display: table;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

.msg_sender{
    position: relative;
    display: block;
    z-index: 2;
    float: left;
    padding-top:10px;
    padding-right:10px;
}

/* TABLE CONTENT VERTICAL ALIGNMENT */
.table td, .table th {
    vertical-align: middle
}
/* REMOVE THE BORDER THAT IS USED TO SHOW THAT THE ELEMENT IS FOCUSED */
// IN THIS PAGE (REQUESTS) IS USED TO REMOVE THE BLU BORDER ABOVE THE MODAL WHEN THE USER CLICK OVER ITS
// BODY OR WHEN USE ITS VERTICAL SCROLL BAR
*:focus {
    outline: none;
}

// GO TO BOTTOM BTN

#fixed-button {
    bottom: 10px; 
    right: 20px; 
    position: absolute;
}

// HOVER ON THE MEMBER LIST OF THE COLUMN SERVED BY
p.member:hover {
    background-color: #58c1d6;
    // padding:2px;
    color: #fff;
    border-radius: 4px;
    // font-size: 0.9em;
}

.customh4 {
   font-family: 'Google Sans', sans-serif !important;
   font-size:16px;
   font-weight: 400;
//    color: #394f5a !important;
   
    color: rgba(0, 0, 0, 0.54)!important;
}

.customh5 {
    margin-bottom: 0;
    color: #505458;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.4;
}

.card-header {
    background-color: #fff !important; 
    padding-top: 12px !important;
    padding-bottom: 10px !important; 
    box-shadow: 0 10px 0px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 5px 10px -5px rgba(0, 0, 0, 0.2) !important; 
}

// .requests-category {
//     font-family: 'Google Sans', sans-serif !important;
//     color:rgba(0,0,0,.54); 
//     font-size: 18px;
// }

// @media screen and (max-width: 530px) { 
//     .col-xs-4 {
//         padding-left: 5px !important;
//         padding-right: 5px !important;
//     }
// }

.intercom-home-screen-start-conversation-card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -10px;
}

.intercom-admin-avatar-stack{
    margin-right: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.intercom-admin-avatar-stack-avatar {
    padding: 0; display: inline-block; -webkit-box-flex: 1;-ms-flex: 1 1 56px; flex: 1 1 56px;margin-left: -2px;

}

.intercom-avatar {

    border: 2px solid #fff; width: 52px; height: 52px;line-height: 52px;font-size: 26px;margin: 0 auto;border-radius: 50%;display: inline-block;    vertical-align: middle;
    text-transform: uppercase;
    background-color: #043db0;
    color: #fff;
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.intercom-avatar img {
    width: 52px; height: 52px; border-radius: 50%;
}

// no more used
.dept-request-count {
    border: 2px solid #fff;
    width: 52px;
    height: 52px;
    line-height: 52px;
    font-size: 26px;
    margin: 0 auto;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #999;
    color: #fff;
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

span .switch-agent-admin-requests-btn {
    margin-top:10px; 
    margin-right:15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.table-head-span {
    color: #566787; 
    font-weight: 700;  
    font-family: 'Google Sans', 
    sans-serif !important; 
    // text-transform: uppercase; 
    font-size: 13px;
}

.table-body-span {
    font-family: 'Google Sans', sans-serif !important; color:rgb(118,149,165)
}

.all-agents-requests-btn {
    background-color: #00bcd4; 
    color: #fff; 
    font-size: 11px; 
    padding:2px 8px;
    border-radius: 15px;
    text-transform: uppercase
}

.all-agents-requests-btn:hover {
    background-color: #fff; 
    color: #00bcd4; 
}

.your-requests-btn {
    background-color: #4caf50; 
    color: #fff; 
    font-size: 11px; 
    padding:2px 8px;
    border-radius: 15px;
    text-transform: uppercase
}

.your-requests-btn:hover {
    background-color: #fff; 
    color: #4caf50; 
}

.requester-avatar {
    border-radius: 50%;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    // padding: 4px 7px;
    padding-top:5px;
    padding-bottom: 3px;
    display: inline-block;
    width: 25px;
    height:25px;
}

.requester_fullname-undefined {
    padding: 4px 4px;
}

.requester-verified {
    position: relative; 
    left: -20px;
}

// start TOOLTIP
/* Tooltip container */
.tooltipx {
    position: relative;
    display: inline-block;
    // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltipx .tooltiptext {
    visibility: hidden;
    // width: 120px;
    // background-color: black; 
    // background-color: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 12px !important;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    /* Position the tooltip text - TOP */
    bottom: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

    // NEW
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background-color: #394f5a;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltipx:hover .tooltiptext {
    visibility: visible;
  }
  // end TOOLTIP

  .nav-pills.nav-pills-info.custom > li.active > a, .nav-pills.nav-pills-info.custom > li.active > a:focus, .nav-pills.nav-pills-info.custom > li.active > a:hover {
    // background-color: #00bcd4; 
    background-color: #039be5!important;
    -webkit-box-shadow: 0 12px 20px -10px rgba(3, 115, 229, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(3, 115, 229, 0.2)!important;
    box-shadow: 0 12px 20px -10px rgba(3, 115, 229, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(3, 115, 229, 0.2)!important;
}

// // // from 992 to 1020px 
// @media (max-width: 589px){
//     #pill-horizontal{
//         display: none
//     }
// }
// @media (min-width: 589px){
//     #pill-vertical {
//         display: block
//     }
// }