
<!-- MOMGO DB REQUEST (ALIAS VISITORS) LIST -->
<p style="margin-top:10px; padding-left:30px" class="navbar-brand">Visitatori</p> 

<div class="main-content" style="padding-top:0px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="" style="background-color: #fff">
            <h4 class="title" style="margin-bottom:2px; font-size:1.1em; color: #3c4858">Richieste non servite</h4>
            <!-- <p class="category">Here is a subtitle for this table</p> -->
          </div>

          <loading-spinner *ngIf="showSpinner"></loading-spinner>

          <div  *ngIf="!showSpinner" class="card-content table-responsive">
            <!-- style="overflow-x:auto;" -->
            <table class="table">
              <thead class="text">
                <tr>
                    <!-- <th></th> -->
                    <th></th>
                    <th>
                      <span style="color: #566787">
                        <strong>Id</strong>
                      </span>  
                    </th>
                    <th>
                      <span style="color: #566787">
                        <strong> Richiedente </strong>
                      </span>
                    </th>
                    <th>
                      <span style="color: #566787">
                          <!-- Message -->
                        <strong> Messagio </strong>
                      </span>
                    </th>
                    <!-- REQUESTER ID * FOR DEBUG -->
                    <!-- <th>
                      <span style="color: #566787">
                        <strong> Requester Id </strong>
                      </span>
                    </th> -->
                    <th>
                      <span style="color: #566787">
                        <!-- <strong> Served by </strong> -->
                        <strong> Servita da </strong>
                      </span>
                      </th>
                    <!-- <th>
                      <span style="color: #566787">          
                        <strong> Membri </strong>
                      </span>
                    </th> -->
                    <th>
                      <span style="color: #566787">
                        <!-- <strong> Data creazione </strong> -->
                        <strong> Pubblicata </strong>
                      </span>
                    </th>
                    <!-- <th></th> -->
                </tr>
              </thead>

              <!-- UNSERVED FOR -->
              <tbody>
                <tr *ngFor="let request of requestListUnserved">
                  <!-- FOR DEBUG: SHOW 'J' IF THE CURRENT USER UID IS BETWEEN 
                  THE UID KEYS OF THE OBJECT MEMBER (i.e. the current user has joined to the request) -->
                  <!-- <td>
                    <span *ngIf="request?.currentUserIsJoined === true"> 
                      J
                    </span>
                  </td> -->
                  <td>
                    <!-- <span *ngIf="request?.membersCount == 0"> 
                      <i style="color:red;" class="material-icons">priority_high</i>
                    </span> -->

                    <!-- IF THE REQUEST SUPPORT STATUS IS 0 (??? REQUEST) -->
                    <span *ngIf="request?.support_status == 0"> 
                      <span class="" (click)='openViewMsgsModal(request?.recipient)'>
                        <button class="btn btn-default pull-right" style="padding:4px 6px;"> 
                            <i style="font-size: 17px !important; " class="material-icons">visibility</i>
                        </button>
                      </span>
                    </span>
                    
                    <!-- IF THE REQUEST SUPPORT STATUS IS 100 (UNSERVED REQUEST) -->
                    <span *ngIf="request?.support_status == 100"> 
                      <span class="" (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)'>
                        <button class="btn btn-danger pull-right" style="padding:4px 6px;"> 
                            <i style="font-size: 17px !important; " class="material-icons">visibility</i>
                        </button>
                      </span>
                    </span>

                    <!-- IF THE REQUEST SUPPORT STATUS IS 200 (SERVED REQUEST) AND THE CURRENT USER UID IS BETWEEN 
                    THE UID KEYS OF THE OBJECT MEMBER (i.e. the current user has joined to the request) -->
                    <span *ngIf="request?.support_status == 200 && request?.currentUserIsJoined === true"> 
                      <span class="" (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)'>
                        <button class="btn btn-success pull-right" style="padding:4px 6px;" rel="tooltip" title=""> 
                            <i style="font-size: 17px !important; " class="material-icons">visibility</i>
                        </button>
                      </span>
                    </span>

                    <!-- IF THE REQUEST SUPPORT STATUS IS 200 (SERVED REQUEST) BUT THE CURRENT USER UID IS NOT BETWEEN 
                    THE UID KEYS OF THE OBJECT MEMBER (i.e. the current user has not joined to the request) -->
                    <span *ngIf="request?.support_status == 200 && !request?.currentUserIsJoined"> 
                      <span class="" (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)'>
                        <button class="btn btn-info pull-right" style="padding:4px 6px;" rel="tooltip" title=""> 
                          <i style="font-size: 17px !important; " class="material-icons">visibility</i>
                        </button>
                      </span>
                    </span>
                  </td>
                  <td (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)' style="cursor:pointer">
                      <!-- max-width: 150px; -->
                    <p style="font-size:0.8em;" >
                      <!-- {{ request?.recipient }} -->
                      {{ replace_recipient(request?.recipient) }}
                    </p>
                  </td>
                  <td (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)' style="cursor:pointer">
                    <!-- <p style="font-size:0.9em">{{ request.sender_fullname }}</p> -->
                    <p style="font-size:0.9em">
                      {{ request.requester_fullname }}
                    </p>
                    <p style="font-size:0.8em">
                        {{ request?.requester_id }}
                    </p>
                  </td>
                  <td (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)' style="cursor:pointer">
                      <!-- max-width: 400px -->
                    <p style="font-size:0.9em;" [innerHTML]="getRequestText(request?.first_text)">
                      <!-- {{ request?.text }} -->
                      <!-- {{ request?.first_text }} -->
                    </p>
                  </td>
                  <!-- REQUESTER ID * FOR DEBUG-->
                  <!-- <td (click)='openViewMsgsModal(request?.recipient)' style="cursor:pointer">
                    <p style="font-size:0.9em">
                      {{ request?.requester_id }}
                    </p>
                  </td> -->
                  <!-- SERVED BY -->
                  <td (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)' style="cursor:pointer" >
                    <p style="font-size:0.8em; min-width: 220px;" [innerHTML]="request?.members_as_string">
                      <!-- {{ request?.served_by }} -->
                      <!-- {{ membersfilterAndReplace(request?.members) }} -->
                      <!-- {{ request?.members }} -->

                    </p>
                  </td>
                  <!-- LIST  OF MEMBERS -->
                  <!-- <td (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)' style="cursor:pointer">
                    <p style="font-size:0.8em; min-width: 220px;"  [innerHTML]="request?.members_as_string"></p>
                  </td> -->
                  <td (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)' style="cursor:pointer">
                    <p style="font-size:0.9em">
                      <!-- {{ request?.timestamp | date: 'd/M/y HH:mm:ss'}} -->
                      <!-- {{ request?.request_date_fromnow }} -->
                      <!-- {{ getTimestampAsMoment(request?.timestamp) }} -->
                      {{ request?.timestamp | amTimeAgo }}
                    </p>
                  </td>
                  <!-- <td>
                    <span class="" (click)='openViewMsgsModal(request?.recipient, hasClickedUpdateModal=true)'>
                      <button class="btn btn-info pull-right" style="padding:4px 6px;"> 
                          <i style="font-size: 17px !important; " class="material-icons">visibility</i>
                      </button>
                    </span>
                  </td> -->
                </tr>
                <!-- /. END UNSERVED REQUESTS -->
                          
              </tbody>
            </table>
          </div> <!-- ./ card-content table-responsive -->
        </div> <!-- ./ card -->
        <!-- / .END UNSERVED REQUESTS  -->

        <!-- SERVED REQUESTS -->
        <div class="card">
          <div class="card-header" data-background-color="" style="background-color: #fff">
            <h4 class="title" style="margin-bottom:2px; font-size:1.1em; color: #3c4858">Richieste servite</h4>
            <!-- <p class="category">Here is a subtitle for this table</p> -->
          </div>
          
          <loading-spinner *ngIf="showSpinner"></loading-spinner>

          <div  *ngIf="!showSpinner" class="card-content table-responsive">
            <!-- style="overflow-x:auto;" -->
            <table class="table">
              <thead class="text">
                <tr>
                  <!-- <th></th> -->
                  <th></th>
                  <th>
                    <span style="color: #566787">
                      <strong>Id</strong>
                    </span>  
                  </th>
                  <th>
                    <span style="color: #566787">
                      <strong> Richiedente </strong>
                    </span>
                  </th>
                  <th>
                    <span style="color: #566787">
                        <!-- Message -->
                      <strong> Messagio </strong>
                    </span>
                  </th>
                  <!-- REQUESTER ID * FOR DEBUG -->
                  <!-- <th>
                    <span style="color: #566787">
                      <strong> Requester Id </strong>
                    </span>
                  </th> -->
                  <th>
                    <span style="color: #566787">
                      <!-- <strong> Served by </strong> -->
                      <strong> Servita da </strong>
                    </span>
                  </th>
                  <!-- <th>
                    <span style="color: #566787">          
                      <strong> Membri </strong>
                    </span>
                  </th> -->
                  <th>
                    <span style="color: #566787">
                      <!-- <strong> Data creazione </strong> -->
                      <strong> Pubblicata </strong>
                    </span>
                  </th>
                            <!-- <th></th> -->
                </tr>
              </thead>
              <tbody>
              
                <tr *ngFor="let request of requestListServed">
                            
                  <!-- FOR DEBUG: SHOW 'J' IF THE CURRENT USER UID IS BETWEEN 
                  THE UID KEYS OF THE OBJECT MEMBER (i.e. the current user has joined to the request) -->
                  <!-- <td>
                    <span *ngIf="request?.currentUserIsJoined === true"> 
                      J
                    </span>
                  </td> -->
                  <td>
                    <!-- IF THE REQUEST SUPPORT STATUS IS 0 (??? REQUEST) -->
                    <span *ngIf="request?.support_status == 0"> 
                      <span class="" (click)='openViewMsgsModal(request?.recipient)'>
                        <button class="btn btn-default pull-right" style="padding:4px 6px;"> 
                            <i style="font-size: 17px !important; " class="material-icons">visibility</i>
                        </button>
                      </span>
                    </span>
                
                    <!-- IF THE REQUEST SUPPORT STATUS IS 100 (UNSERVED REQUEST) -->
                    <span *ngIf="request?.support_status == 100"> 
                      <span class="" (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)'>
                        <button class="btn btn-danger pull-right" style="padding:4px 6px;"> 
                            <i style="font-size: 17px !important; " class="material-icons">visibility</i>
                        </button>
                      </span>
                    </span>

                    <!-- IF THE REQUEST SUPPORT STATUS IS 200 (SERVED REQUEST) AND THE CURRENT USER UID IS BETWEEN 
                    THE UID KEYS OF THE OBJECT MEMBER (i.e. the current user has joined to the request) -->
                    <span *ngIf="request?.support_status == 200 && request?.currentUserIsJoined === true"> 
                      <span class="" (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)'>
                        <button class="btn btn-success pull-right" style="padding:4px 6px;" rel="tooltip" title=""> 
                            <i style="font-size: 17px !important; " class="material-icons">visibility</i>
                        </button>
                      </span>
                    </span>

                    <!-- IF THE REQUEST SUPPORT STATUS IS 200 (SERVED REQUEST) BUT THE CURRENT USER UID IS NOT BETWEEN 
                    THE UID KEYS OF THE OBJECT MEMBER (i.e. the current user has not joined to the request) -->
                    <span *ngIf="request?.support_status == 200 && !request?.currentUserIsJoined"> 
                      <span class="" (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)'>
                        <button class="btn btn-info pull-right" style="padding:4px 6px;" rel="tooltip" title=""> 
                          <i style="font-size: 17px !important; " class="material-icons">visibility</i>
                        </button>
                      </span>
                    </span>

                  </td>
                  <td (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)' style="cursor:pointer">
                      <!-- max-width: 150px; -->
                    <p style="font-size:0.8em;" >
                      <!-- {{ request?.recipient }} -->
                      {{ replace_recipient(request?.recipient) }}
                    </p>
                  </td>
                  <td (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)' style="cursor:pointer">
                    <!-- <p style="font-size:0.9em">{{ request.sender_fullname }}</p> -->
                    <p style="font-size:0.9em">
                      {{ request.requester_fullname }}
                    </p>
                    <p style="font-size:0.8em">
                      {{ request?.requester_id }}
                    </p>
                  </td>
                  <td (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)' style="cursor:pointer">
                      <!-- max-width: 400px -->
                    <p style="font-size:0.9em;" [innerHTML]="getRequestText(request?.first_text)">
                      <!-- {{ request?.text }} -->
                      <!-- {{ request?.first_text }} -->
                    </p>
                  </td>
                  <!-- REQUESTER ID * FOR DEBUG-->
                    <!-- <td (click)='openViewMsgsModal(request?.recipient)' style="cursor:pointer">
                      <p style="font-size:0.9em">
                        {{ request?.requester_id }}
                      </p>
                    </td> -->
                  <!-- SERVED BY -->
                  <td (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)' style="cursor:pointer" >
                    <p style="font-size:0.8em; min-width: 220px;" [innerHTML]="request?.members_as_string">
                      <!-- {{ request?.served_by }} -->
                      <!-- {{ membersfilterAndReplace(request?.members) }} -->
                      <!-- {{ request?.members }} -->
                    </p>
                  </td>
                  <!-- LIST  OF MEMBERS -->
                  <!-- <td (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)' style="cursor:pointer">
                    <p style="font-size:0.8em; min-width: 220px;"  [innerHTML]="request?.members_as_string"></p>
                  </td> -->
                  <td (click)='openViewMsgsModal(request?.recipient, request?.currentUserIsJoined)' style="cursor:pointer">
                    <p style="font-size:0.9em">
                      <!-- {{ request?.timestamp | date: 'd/M/y HH:mm:ss'}} -->
                      <!-- {{ request?.request_date_fromnow }} -->
                      <!-- {{ getTimestampAsMoment(request?.timestamp) }} -->
                      {{ request?.timestamp | amTimeAgo }}
                    </p>
                  </td>
                  <!-- <td>
                    <span class="" (click)='openViewMsgsModal(request?.recipient, hasClickedUpdateModal=true)'>
                      <button class="btn btn-info pull-right" style="padding:4px 6px;"> 
                          <i style="font-size: 17px !important; " class="material-icons">visibility</i>
                      </button>
                    </span>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div> <!-- ./ card-content table-responsive -->
        </div> <!-- ./ card -->

      </div> <!-- ./ col-md-12 -->
    </div> <!-- ./ row -->
  </div> <!-- ./ container-fluid -->
</div> <!-- ./ main-content -->

    <!-- MODAL -->
    <div class="backdrop" [ngStyle]="{'display':display}"></div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}" aria-hidden="true" style="">
        <div class="modal-dialog .modal-lg" role="document" style="overflow-y: initial !important;">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Messaggi per la richiesta:
                <code>{{requestRecipient}}</code>
              </h4>
            </div>
            <!-- id="scrollable" -->
            <!-- #scrollMe style="overflow: scroll; height: 250px;" -->
            <div class="modal-body" >
                <div  #scrollMe style="height: 250px; overflow-y: auto;" (scroll)="onScroll($event)">
                  <div *ngFor="let message of messagesList" style="vertical-align:baseline">
                      
                    <div class="msg_sender">
                      <p style="font-size: 0.9em">
                        <strong> {{ message.sender_fullname }} </strong> 
                      </p>
                    </div>

                    <div class="msgcontainer">        
                      <!-- <p><code>{{ message.recipient}}</code></p> -->
                      <!-- <p><strong>  {{ message.sender_fullname }} </strong></p> -->
                      <p style="font-size: 0.9em">{{ message.text }}</p>
                      <span class="time-right" style="font-size: 0.8em">
                        {{ message.timestamp | date: 'd/M/y HH:mm:ss'}}
                      </span>
                    </div>
                  
                  </div>

                </div> 

                <a id="fixed-button"  class="button" (click)="scrollToBottom()" [ngStyle]="{'display':displayBtnScrollToBottom }">
                  <span class="icon is-small">
                    <i class="fa fa-chevron-down"></i>
                  </span>
                </a>
            </div>
            <!-- ./ modal body -->
         
            <div class="modal-footer">
              <button class="btn btn-white" (click)="onCloseModal()">Chiudi</button>
              <span style="padding-right:25px"></span>

               <!-- =======================================================================================================================
                !!!! NO MORE USED THE REASON - SINCE NOW IF THE CURRENT USER IS JOINED TO THE CONVERSATION IS CALCULATE ALSO FOR DETERMINE
                    THE COLOR OF THE VISIBILITY BUTTONS PRESENT IN THE ROW OF THE TABLE AND THEN SET IN THE REQUEST JSON currentUserIsJoined
                    - I DO NOT CALCULATE IT A SECOND TIME WHEN THE MODAL IS OPENEDED BUT I TAKE THE VALUE FROM THE JSON KEY currentUserIsJoined
                    THEN ASSIGN IT TO IS_CURRENT_USER_JOINED (replacing CURRENT_USER_IS_ALREADY_MEMBER and NO LONGER NEEDING TO DETERMINE 
                    SEARCH_FOR_SAME_UID_FINISHED )
                  ======================================================================================================================== -->
              
              <!-- !!!! NO MORE USED THE REASON 
                SHOWS A SPINNER BUTTON IF THE 'FOR LOOP' OF COMPARISON OF THE MEMBERS UID KEY TO THE CURRENT USER UID IS NOT FINISHED  -->
              <!-- <span *ngIf="!SEARCH_FOR_SAME_UID_FINISHED">
                <button class="btn btn-default">
                  <i class="fa fa-spinner fa-spin"></i> Elaborazione
                </button>
              </span> -->

             
              
              <!-- !!!! NO MORE USED (see THE REASON above) 
                   - SHOWS THE FOLLOWING BUTTONS ONLY IF THE 'FOR LOOP' OF COMPARISON OF THE MEMBERS UID KEY TO THE CURRENT USER UID IS FINISHED  -->
              <!-- <span *ngIf="SEARCH_FOR_SAME_UID_FINISHED"> -->

                <!-- !!!! NO MORE USED (see THE REASON above) 
                    - HAS BEEN OPENED THE MODAL WINDOW: BY DEFAULT SHOW THE BUTTON 'JOIN' 
                    * FALSE IS THE INITIAL VALUE OF: HAS_COMPLETED_JOIN_TO_GROUP_POST_REQUEST
                    * FALSE IS THE INITIAL VALUE OF: SHOW_JOIN_TO_GROUP_SPINNER_PROCESSING
                    * FALSE IS THE INITIAL VALUE OF: JOIN_TO_GROUP_HAS_ERROR 
                    * IF IS FALSE THE VALUE OF: CURRENT_USER_IS_ALREADY_MEMBER   -->
                <!-- <span *ngIf="HAS_COMPLETED_JOIN_TO_GROUP_POST_REQUEST === false && SHOW_JOIN_TO_GROUP_SPINNER_PROCESSING === false && JOIN_TO_GROUP_HAS_ERROR === false && CURRENT_USER_IS_ALREADY_MEMBER === false">
                  <button class="btn btn-default" (click)="onJoinHandled()">
                    Join
                  </button>
                </span> -->

                <!-- NEW LOGIC -->
                <span *ngIf="JOIN_TO_GROUP_HAS_ERROR === false 
                          && IS_CURRENT_USER_JOINED === undefined 
                          && SHOW_JOIN_TO_GROUP_SPINNER_PROCESSING === false 
                          && HAS_COMPLETED_JOIN_TO_GROUP_POST_REQUEST === false">
                  <button class="btn btn-default" (click)="onJoinHandled()">
                    Join
                  </button>
                </span>
                
                <!-- NEW LOGIC -->
                <span *ngIf="HAS_COMPLETED_JOIN_TO_GROUP_POST_REQUEST === true || IS_CURRENT_USER_JOINED === true">
                  <!-- <button class="btn btn-info"> -->
                    <a class="btn btn-info" role="button" style="color: white;" target="_blank" href="http://support.chat21.org/web/?recipient={{requestRecipient}}">
                      Entra
                    </a>
                  <!-- </button> -->
                </span>

                <!-- 
                    - THE USER CLICK ON JOIN: SHOWS THE BTN 'PROCESSING'
                    * FALSE IS THE CURRENT VALUE OF: HAS_COMPLETED_JOIN_TO_GROUP_POST_REQUEST 
                    * TRUE IS THE CURRENT VALUE OF: SHOW_JOIN_TO_GROUP_SPINNER_PROCESSING
                    * FALSE IS THE CURRENT VALUE OF: JOIN_TO_GROUP_HAS_ERROR  -->
                  
                <span *ngIf="SHOW_JOIN_TO_GROUP_SPINNER_PROCESSING === true && HAS_COMPLETED_JOIN_TO_GROUP_POST_REQUEST === false  && JOIN_TO_GROUP_HAS_ERROR === false">
                  <button class="btn btn-default">
                    <i class="fa fa-spinner fa-spin"></i> Elaborazione
                  </button>
                </span>

                <!-- IF THE CALLBALL JOIN-TO-GROUP HAS ERROR SHOWS THE BTN ERROR (DISABLED)  -->
                <span *ngIf="JOIN_TO_GROUP_HAS_ERROR === true">
                  <button class="btn btn-danger" disabled>
                    Errore
                  </button>
                </span>

                <!-- !!!! NO MORE USED (see THE REASON above)
                    - WHEN THE JOIN TO GROUP POST REQUEST IS COMPLETE 
                    * OR THE CURRENT USER IS ALREADY A MENBER OF THE CONVERSATION SHOW THE BTN 'ENTER' -->
                <!-- <span *ngIf="HAS_COMPLETED_JOIN_TO_GROUP_POST_REQUEST === true || CURRENT_USER_IS_ALREADY_MEMBER === true">
                  <button class="btn btn-info">
                    <a style="color: white;" target="_blank" href="http://support.chat21.org/web/?recipient={{requestRecipient}}" > Entra </a>
                  </button>
                </span> -->


              <!-- </span> -->


              <span style="padding-right:25px"></span>

            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal !-->




