@import "./src/assets/sass/md/_variables.scss";
.template-detail {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
    // width: 520px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 20px 40px 20px;
}

.template-detail-content-wpr.template-detail-content-wpr > * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.template-detail-content-wpr.template-detail-content-wpr > * + * {
    margin-top: 32px;
}

.template-detail-header {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: flex-start;
    width: 100%;
}

.template-detail-header > * + * {
    margin-left: 12px;
}

.template-detail-img-wpr {
    display: flex;
}

.template-detail-img-wpr svg {
    width: 40px;
    height: 40px;
    overflow: hidden;
    fill: url(#bot-cool-gradient) rgb(56, 134, 255);
}

.template-detail-name-wpr {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
    margin-top: 4px;
}

.template-detail-name-wpr.template-detail-name-wpr > * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.template-detail-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.01em;
}

.template-detail-btns-wpr {
    display: flex;
    margin-top: 32px;
}

.template-detail-btns-wpr .btn {
    margin: 0px 12px 0px 0px;
}

.btn-new span {
    display: inline-block;
}

.btn-size-l {
    border-radius: 4px;
    font-size: 16px;
    height: 38px;
    line-height: 20px;
    min-width: 80px;
    padding: 0 16px;
}

.btn-new {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.btn--default {
    background-color: transparent;
    border: 1px solid #d1d9e0;
    color: #333;
    box-shadow: none;
    text-transform: none;
    min-width: 160px;
}

.btn--default:hover {
    background-color: #eff2f6;
    border: 1px solid #acb8cb;
    color: #333;
}

.btn--primary {
    background-color: #0566ff;
    border: 1px solid #0566ff;
    color: #fff;
    box-shadow: none;
    text-transform: none;
    min-width: 160px;
}

.btn--primary:hover {
    background-color: #0049bd;
    border-color: #0049bd;
    color: #fff;
}

.template-detail-content {
    display: flex;
}

.template-detail-tags-wpr {
    display: flex;
    flex-direction: column;
    align-items: normal;
    flex: 1 1 0%;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-top: 32px;
}

.template-detail-tags {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    flex: 1 1 0%;
    align-items: flex-end;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-bottom: 2px;
    margin-top: 8px;
}

.template-detail-tags-wpr.template-detail-tags-wpr > * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.template-detail-tags-wpr.template-detail-tags-wpr > * + * {
    margin-top: 8px;
}

.template-detail-tags-section-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: rgb(100, 116, 145);
}

.template-detail-tags {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    flex: 1 1 0%;
    align-items: flex-end;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-bottom: 2px;
}

.template-detail-tags > * + * {
    margin-left: 4px;
}

.template-detail-tag-wpr {
    display: flex;
    border-radius: 4px;
    // background-color: rgb(208, 239, 255);
    // color: rgb(0, 105, 158);
}

.template-detail-tag-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    padding: 3px 5px;
    word-break: break-word;
}

.template-detail-description {
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #080f1a;
    margin-top: 20px;
}

.blank-span-h24 {
    display: block;
    width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
}

.template-detail-section-features-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
}

.blank-span-h16 {
    display: block;
    width: 16px;
    min-width: 16px;
    height: 8px;
    min-height: 8px;
}

.template-detail-features-wpr {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
}

.template-detail-features-wpr.template-detail-features-wpr > * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.template-detail-features {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
}

.template-detail-features > * + * {
    margin-left: 8px;
}

.template-detail-features-dot {
    width: 20px;
    height: 20px;
    display: flex;
    flex-shrink: 0;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.template-detail-features-dot::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(100, 116, 145);
}

.template-detail-feature {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
}

// works on
.css-9lc2l4 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
}

.css-w38ijl {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: rgb(100, 116, 145);
}

.css-ur9p5o {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

.css-u50zg7 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: rgb(0 27 71 / 24%) 0px 1px 3px;
}

/* 
 * MODAL START 
 * --------------------------- */
.modal {
    top: 0;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 767px) {
    .custom-modal-content {
        width: 360px;
    }
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.custom--modal-header {
    padding: 8px 16px 0px 16px !important;
    border-bottom: none !important;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.modal-body {
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 15px;
    padding-left: 15px;
}

.modal-body-no-padding-top {
    padding-top: 8px !important;
}

.modal-footer {
    // padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    // background-color: #edf0f1;
    background-color: #eeeeee;
    padding-top: 10px !important;
}

.modal-footer-no-bkgrnd {
    text-align: right;
    min-height: 59px;
    height: 59px;
    border-top: unset !important;
    background-color: unset !important;
}
/* MODAL END */

  // -----------------------------------
// Success Check Animation
// -----------------------------------
.success-checkmark {
    width: 80px;
    // height: 115px;
    margin: 0 auto;
    position: relative;
    right: 5px;
    // margin-top: 16px;
    top: 12px;
  
    .check-icon {
      width: 80px;
      height: 80px;
      position: relative;
      border-radius: 50%;
      box-sizing: content-box;
      border: 4px solid #4caf50;
  
      &::before {
        top: 3px;
        left: -2px;
        width: 30px;
        transform-origin: 100% 50%;
        border-radius: 100px 0 0 100px;
      }
  
      &::after {
        top: 0;
        left: 30px;
        width: 60px;
        transform-origin: 0 50%;
        border-radius: 0 100px 100px 0;
        animation: rotate-circle 4.25s ease-in;
      }
  
      &::before,
      &::after {
        content: "";
        height: 100px;
        position: absolute;
        background: #ffffff;
        transform: rotate(-45deg);
      }
  
      .success-icon-line {
        height: 5px;
        background-color: #4caf50;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
  
        &.success-line-tip {
          top: 46px;
          left: 14px;
          width: 25px;
          transform: rotate(45deg);
          animation: icon-line-tip 0.75s;
        }
  
        &.success-line-long {
          top: 38px;
          right: 8px;
          width: 47px;
          transform: rotate(-45deg);
          animation: icon-line-long 0.75s;
        }
      }
  
      .success-icon-circle {
        top: -4px;
        left: -4px;
        z-index: 10;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        box-sizing: content-box;
        border: 4px solid rgba(76, 175, 80, 0.5);
      }
  
      .success-icon-fix {
        top: 8px;
        width: 5px;
        left: 26px;
        z-index: 1;
        height: 85px;
        position: absolute;
        transform: rotate(-45deg);
        background-color: #ffffff;
      }
    }
  }
  
  @keyframes rotate-circle {
    0% {
      transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }
  
  @keyframes icon-line-tip {
    0% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    54% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px;
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px;
    }
    100% {
      width: 25px;
      left: 14px;
      top: 45px;
    }
  }
  
  @keyframes icon-line-long {
    0% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    65% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    84% {
      width: 55px;
      right: 0px;
      top: 35px;
    }
    100% {
      width: 47px;
      right: 8px;
      top: 38px;
    }
  }
  
  // -----------------------------------
  // Error banmark Animation
  // -----------------------------------
  .error-banmark {
    width: 80px;
    // height: 115px;
    margin: 0 auto;
    position: relative;
    right: 5px;
    margin-top: 16px;
  
    .ban-icon {
      width: 80px;
      height: 80px;
      position: relative;
      border-radius: 50%;
      box-sizing: content-box;
      // border: 4px solid rgb(175, 76, 76);
      border: 4px solid #f27474;
  
      &::before {
        top: 3px;
        left: -2px;
        width: 30px;
        transform-origin: 100% 50%;
        border-radius: 100px 0 0 100px;
      }
  
      &::after {
        top: 0;
        left: 30px;
        width: 60px;
        transform-origin: 0 50%;
        border-radius: 0 100px 100px 0;
        animation: rotate-circle 4.25s ease-in;
      }
  
      &::before,
      &::after {
        content: "";
        height: 100px;
        position: absolute;
        background: rgba(255, 255, 255, 0);
        transform: rotate(-45deg);
      }
  
      .icon-line {
        height: 5px;
        // background-color: rgb(175, 76, 76);
        background-color: #f27474;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
  
        &.line-long-invert {
          top: 39px;
          left: 8px;
          width: 60px;
          transform: rotate(45deg);
          animation: icon-line-long 0.75s;
        }
  
        &.line-long {
          top: 39px;
          left: 8px;
          width: 60px;
          transform: rotate(-45deg);
          animation: icon-line-long 0.85s;
        }
      }
  
      .icon-circle {
        top: -4px;
        left: -4px;
        z-index: 10;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        box-sizing: content-box;
        // border: 4px solid rgba(175, 76, 76, 0.5);
        border: 4px solid rgba(242, 116, 116, 0.5);
      }
  
      .icon-fix {
        top: 8px;
        width: 5px;
        left: 26px;
        z-index: 1;
        height: 85px;
        position: absolute;
        transform: rotate(-45deg);
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }

  // -------------------------------------------------
// stretch spinner https://tobiasahlin.com/spinkit/
// -------------------------------------------------
.stretchspinner-more-top {
    top: 60px !important;
  }
  
  .stretchspinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .stretchspinner > div {
    background-color: $brand-primary;
    height: 100%;
    width: 6px;
    display: inline-block;
  
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .stretchspinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .stretchspinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  
  .stretchspinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .stretchspinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      -webkit-transform: scaleY(0.4);
    }
    20% {
      -webkit-transform: scaleY(1);
    }
  }
  
  @keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }
 