.css-16tmnh4 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
    // width: 520px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 20px 40px 20px;
}

.css-16tmnh4.css-16tmnh4 > * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.css-1sf3bw5 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: flex-start;
    width: 100%;
}

.css-5kjnoy svg {
    width: 40px;
    height: 40px;
    overflow: hidden;
    fill: url(#bot-cool-gradient) rgb(56, 134, 255);
}

.css-1vofa6b {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
    margin-top: 4px;
}

.css-1vofa6b.css-1vofa6b > * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.css-hs92t1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.01em;
}

.css-16tmnh4.css-16tmnh4 > * + * {
    margin-top: 32px;
}

.css-1yuymj4 .btn {
    margin: 0px 12px 0px 0px;
}

.btn-new span {
    display: inline-block;
}





.css-1w6fvkd.css-1w6fvkd > * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.css-1w6fvkd.css-1w6fvkd > * + * {
    margin-top: 8px;
}

.css-koe97n {
    display: flex;
    border-radius: 4px;
    background-color: rgb(208, 239, 255);
    color: rgb(0, 105, 158);
}

.css-1buyuap > * + * {
    margin-left: 4px;
}

.css-xje4ki {
    display: flex;
    border-radius: 4px;
    background-color: rgb(255, 221, 167);
    color: rgb(161, 99, 0);
}

.css-xje4ki {
    display: flex;
    border-radius: 4px;
    background-color: rgb(255, 221, 167);
    color: rgb(161, 99, 0);
}

.css-17ukti4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    padding: 3px 5px;
    word-break: break-word;
}

.css-w38ijl {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: rgb(100, 116, 145);
}

.css-w38ijl {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: rgb(100, 116, 145);
}

.css-ur9p5o {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

.css-u50zg7 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: rgb(0 27 71 / 24%) 0px 1px 3px;
}

.css-5ovca5 {
    display: block;
    width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
}

.css-1qsadq4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
}

.css-1pmigyd {
    display: block;
    width: 16px;
    min-width: 16px;
    height: 8px;
    min-height: 8px;
}

.css-wydaeg {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
}

.css-wydaeg.css-wydaeg > * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.css-16le678 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
}

.btn-size-l {
    border-radius: 4px;
    font-size: 16px;
    height: 38px;
    line-height: 20px;
    min-width: 80px;
    padding: 0 16px;
}

.btn-new {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}



.css-9lc2l4 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
}

.btn--default {
    background-color: transparent;
    border: 1px solid #d1d9e0;
    color: #333;
    box-shadow: none;
    text-transform: none;
    min-width: 160px;
}

.btn--default:hover {
    background-color: #eff2f6;
    border: 1px solid #acb8cb;
    color: #333;
}

.btn--primary {
    background-color: #0566ff;
    border:1px solid #0566ff;
    color: #fff;
    box-shadow: none;
    text-transform: none;
    min-width: 160px;
}

.btn--primary:hover {
    background-color: #0049bd;
    border-color: #0049bd;
    color: #fff;
}

.css-zjik7  {
    display: flex;
}

.css-1w6fvkd {
    display: flex;
    flex-direction: column;
    align-items: normal;
    flex: 1 1 0%;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.css-1buyuap {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    flex: 1 1 0%;
    align-items: flex-end;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-bottom: 2px;
}


.css-koe97n {
    display: flex;
    border-radius: 4px;
    background-color: rgb(208, 239, 255);
    color: rgb(0, 105, 158);
}

.css-xje4ki {
    display: flex;
    border-radius: 4px;
    background-color: rgb(255, 221, 167);
    color: rgb(161, 99, 0);
}

.css-1buyuap > * + * {
    margin-left: 4px;
}





.css-w38ijl {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: rgb(100, 116, 145);
}

.css-ur9p5o {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

.css-wydaeg {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
}

.css-mx7x3w {
    width: 20px;
    height: 20px;
    display: flex;
    flex-shrink: 0;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.css-mx7x3w::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(100, 116, 145);
}


.css-18ca0kp {
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #647491;
}

.css-5kjnoy {
    display: flex;
}

.css-1vofa6b {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
    margin-top: 4px;
}

.css-1sf3bw5 > * + * {
    margin-left: 12px;
}
