.template-detail{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
    // width: 520px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 20px 40px 20px;
}

.template-detail-content-wpr.template-detail-content-wpr > * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.template-detail-content-wpr.template-detail-content-wpr > * + * {
    margin-top: 32px;
}

.template-detail-header{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: flex-start;
    width: 100%;
}

.template-detail-header > * + * {
    margin-left: 12px;
}

.template-detail-img-wpr {
    display: flex;
}

.template-detail-img-wpr svg {
    width: 40px;
    height: 40px;
    overflow: hidden;
    fill: url(#bot-cool-gradient) rgb(56, 134, 255);
}

.template-detail-name-wpr {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
    margin-top: 4px;
}

.template-detail-name-wpr.template-detail-name-wpr > * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.template-detail-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.01em;
}

.template-detail-btns-wpr {
   display: flex;
   margin-top: 32px;
}

.template-detail-btns-wpr .btn {
    margin: 0px 12px 0px 0px;
}

.btn-new span {
    display: inline-block;
}

.btn-size-l {
    border-radius: 4px;
    font-size: 16px;
    height: 38px;
    line-height: 20px;
    min-width: 80px;
    padding: 0 16px;
}

.btn-new {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.btn--default {
    background-color: transparent;
    border: 1px solid #d1d9e0;
    color: #333;
    box-shadow: none;
    text-transform: none;
    min-width: 160px;
}

.btn--default:hover {
    background-color: #eff2f6;
    border: 1px solid #acb8cb;
    color: #333;
}

.btn--primary {
    background-color: #0566ff;
    border:1px solid #0566ff;
    color: #fff;
    box-shadow: none;
    text-transform: none;
    min-width: 160px;
}

.btn--primary:hover {
    background-color: #0049bd;
    border-color: #0049bd;
    color: #fff;
}


.template-detail-content {
    display: flex;
}

.template-detail-tags-wpr {
    display: flex;
    flex-direction: column;
    align-items: normal;
    flex: 1 1 0%;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-top: 32px;
}

.template-detail-tags {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    flex: 1 1 0%;
    align-items: flex-end;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-bottom: 2px;
    margin-top: 8px;
}


.template-detail-tags-wpr.template-detail-tags-wpr > * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.template-detail-tags-wpr.template-detail-tags-wpr > * + * {
    margin-top: 8px;
}

.template-detail-tags-section-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: rgb(100, 116, 145);
}

.template-detail-tags {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    flex: 1 1 0%;
    align-items: flex-end;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-bottom: 2px;
}

.template-detail-tags > * + * {
    margin-left: 4px;
}

.template-detail-tag-wpr {
    display: flex;
    border-radius: 4px;
    // background-color: rgb(208, 239, 255);
    // color: rgb(0, 105, 158);
}

.template-detail-tag-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    padding: 3px 5px;
    word-break: break-word;
}

.template-detail-description {
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #080f1a;
    margin-top: 20px;
}

.blank-span-h24 {
    display: block;
    width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
}

.template-detail-section-features-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
}

.blank-span-h16  {
    display: block;
    width: 16px;
    min-width: 16px;
    height: 8px;
    min-height: 8px;
}



.template-detail-features-wpr {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
}

.template-detail-features-wpr.template-detail-features-wpr > * {
    margin-top: 0px;
    margin-bottom: 0px;
}


.template-detail-features{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
}


.template-detail-features > * + * {
    margin-left: 8px;
}

.template-detail-features-dot {
    width: 20px;
    height: 20px;
    display: flex;
    flex-shrink: 0;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.template-detail-features-dot::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(100, 116, 145);
}

.template-detail-feature{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
}










// works on
.css-9lc2l4 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: normal;
}

.css-w38ijl {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: rgb(100, 116, 145);
}

.css-ur9p5o {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}


.css-u50zg7 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: rgb(0 27 71 / 24%) 0px 1px 3px;
}


