<h1 mat-dialog-title> {{ 'RequestMsgsPage.Details' | translate }} </h1>

<div mat-dialog-content>


    <div class="kb-details-form-container">

        <div class="input-container">
            <span class="input-label" *ngIf="kb.type !== 'faq'">{{ 'Name' | translate }}</span>
            <span class="input-label" *ngIf="kb.type === 'faq'">{{ 'FaqPage.Question' | translate }}</span>
            <input [(ngModel)]="name" type="text" name="name" class="custom-input">

            <!-- ------------------------------------ -->
            <!-- Use cese URL -->
            <!-- ------------------------------------ -->
            <div *ngIf="kb.type === 'url'">
                <span class="input-label">{{ 'KbPage.Url' | translate }}</span>
                <a class="input-label link-page" [href]="source" target="_blank">
                    <span class="material-icons-outlined">
                        open_in_new
                    </span>
                </a>
                <input [(ngModel)]="source" type="url" name="url" class="custom-input">

            </div>
            <!-- ------------------------------------ -->
            <!-- Use case text -->
            <!-- ------------------------------------ -->
            <div *ngIf="kb.type === 'text'">
                <span class="input-label">{{ 'KbPage.FileText' | translate }}</span>
                <textarea [(ngModel)]="content" type="text" name="content" class="custom-textarea" rows="4"></textarea>
            </div>

            <!-- ------------------------------------ -->
            <!-- Use case text -->
            <!-- ------------------------------------ -->
            <div *ngIf="kb.type === 'faq'">
                <span class="input-label">{{ 'FaqPage.Answer' | translate }}</span>
                <textarea [(ngModel)]="content" type="text" name="content" class="custom-textarea" rows="4"></textarea>
            </div>

            <!-- style="max-height: calc(100vh - 223.5px); overflow-y: scroll;" -->
        </div>

    </div>
    <loading-spinner *ngIf="showSpinner"></loading-spinner>
    <div *ngIf="!showSpinner" class="content-chunks-wpr">
        <div class="chunk-title-and-count">
            <div class="chunk-title">
                Chunks
            </div>
            <div class="chunk-count">
                {{chunksCount}}
            </div>
        </div>

        <div class="chunk-error" *ngIf="getChunksError"> 
            <span class="material-icons-outlined">
                error
            </span>
            {{ 'AnErrorHasOccurred' | translate }}
        </div>
        
        <div class="content-chunks" style="display: flex;     flex-wrap: nowrap;    flex-direction: column; gap: 12px">
            
            <div class="chunk-wpr" *ngFor="let chunk of chunks">
                <div class="chunk-id"> chunk-id: {{chunk.id}} </div>
                <article class="chunk" >
                    {{ chunk.text}}
                </article>
            </div>

        </div>
    </div>


</div>

<div mat-dialog-actions style="justify-content: center;">
    <button class="mat-dialog-close-btn" mat-button (click)="onCloseBaseModal()">
        {{ "Cancel" | translate }}
    </button>

    <button *ngIf="kb.type === 'text' || kb.type === 'faq'" class="mat-dialog-ok-btn" [disabled]="name.length < 3 || content.length === 0"
        mat-button (click)="onUpdateKnowledgeBase()">
        {{ "Update" | translate }}
    </button>

    <button *ngIf="kb.type === 'url'" class="mat-dialog-ok-btn" [disabled]="name.length < 3 || source.length === 0"
        mat-button (click)="onUpdateKnowledgeBase()">
        {{ "Update" | translate }}
    </button>

    <button *ngIf="kb.type === 'pdf' || kb.type === 'txt' ||  kb.type === 'docx'" class="mat-dialog-ok-btn"
        [disabled]="name.length < 3" mat-button (click)="onUpdateKnowledgeBase()">
        {{ "Update" | translate }}
    </button>
</div>