<div *ngIf="menuItemsList.length>0" id="panel_actions_div" class="actions-drawer" #panel_actions_div >

    <div class="action-list" id="action_list_drop_connect" #action_list_drop_connect cdkDropList [cdkDropListData]="menuItemsList">
        

        <div [style.display]="isDragging?'block':'none'" class="menu-dragging">
            <div class="action-box" *ngFor="let item of menuItemsList; let i = index;">
                <div *ngIf="indexDrag===i" class="example-custom-placeholder"></div>
                <div *ngIf="indexDrag!==i" class="actions-btns-wpr">
                    <div *ngIf="item.value.src && item.value.name" class="action-btn-icon">
                        <button class="btn btn-tdblu-no-boxshadow action-btn">
                            <img [src]="item.value.src" [title]="item.value.name">
                        </button>
                    </div>
                    <div *ngIf="item.value.name" class="action-btn-text">{{item.value.name}}</div>
                </div>
            </div>
        </div>


        <div [style.display]="isDragging?'none':'block'" class="menu-dragging">
            <div class="action-box" *ngFor="let item of menuItemsList; let i = index;" cdkDrag (cdkDragStarted)="onDragStarted($event, i)" (cdkDragMoved)="onDragMoved($event)" (cdkDragEnded)="onDragEnd($event)">
                <!-- <div class="example-custom-placeholder" *cdkDragPlaceholder></div> -->
                <div class="actions-btns-wpr">
                    <div *ngIf="item.value.src && item.value.name" class="action-btn-icon">
                        <button class="btn btn-tdblu-no-boxshadow action-btn">
                            <img [src]="item.value.src" [title]="item.value.name">
                        </button>
                    </div>
                    <div *ngIf="item.value.name" class="action-btn-text">{{item.value.name}}</div>
                </div>
            </div>
        </div>

    </div>
   
</div>