@import "./src/assets/sass/cds/_variables.scss";

.is-in-drop-event{
    background-color: rgba(255, 255, 255, 0.3);
}

.inputUploadImage {
    color: white;
    cursor: pointer;
    em {
        color: white; 
    }
}

.labelDropUploadImage {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-wrap: wrap;
    
    span {
        user-select: none;
    }
}

.dropUploadImage {
    border: 2px dashed #eeeef1;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    padding: 30px 20px;
    text-align: center;
    margin: 15px;
    position: relative;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    min-height: 210px;
}

#imageUploaded {
    max-width: 100%;
    width: auto;
    height: auto;
    position: relative;
}