    
.new-role-page-content {
    display: flex;
    width: 100%;
    padding: 10px 30px;
    flex-direction: column;
}    

.new-role-name-wpr {
    margin-bottom: 16px;
}

.go--back {
    cursor: pointer;
    color: #6a6a6a;
}

.go--back:hover {
    color: var(--accent-text-color); //#3c4858;
    // font-weight: 400;
}
   
.active-breadcrumb {
    font-weight: 400;
}