

li > a {
    margin-top: 4px !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    border-radius: 0px;
}

.kb-beta-badge {
    font-weight: var(--settings-sidebar-beta-badge-font-weight);
    background-color: var(--settings-sidebar-beta-badge-background-color);
    padding: 1px 5px;
    border-radius: var(--settings-sidebar-beta-badge-border-radius);
    font-size: var(--settings-sidebar-beta-badge-font-size);
    color: var(--settings-sidebar-beta-badge-color);
    position: relative;
    top: -1px;
    margin-left: 2px;
    // text-transform: uppercase;
}

// Tooltip style moved to src/assets/css/material-mdc-overrides.scss
// (.custom-mat-tooltip-in-settings-sidebar)
