<!-- [ngStyle]="{'height': sidebar_settings_height}" -->

<div class="toggle-setting-sidebar-icon-wpr" [ngClass]="{'is_opened': IS_OPEN, 'is_closed':!IS_OPEN  }" (click)="toggleSettingsSidebar(IS_OPEN = !IS_OPEN)">
  <span *ngIf="IS_OPEN" class="material-icons toggle-setting-sidebar-icon">
    chevron_left
  </span>
  <span *ngIf="!IS_OPEN" class="material-icons toggle-setting-sidebar-icon">
    chevron_right
  </span>
</div>

<div *ngIf="project" class="settings-sidebar-wpr" [ngClass]="{'settings-sidebar-wpr-opened': IS_OPEN, 'settings-sidebar-wpr-closed': !IS_OPEN }">

  <ul class="settings-sidebar" style="padding-left: 0px;list-style: none;">

    <!-- -------------------------------------------------------- -->
    <!--  Widget  -->
    <!-- -------------------------------------------------------- -->
    <li [ngClass]="{'active-item': WIDGET_SETUP_ROUTE_IS_ACTIVE}" (click)="goToWidgetSetUp()" 
     matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="Widget" #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN" >
      <a>
        <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">chat_bubble</i>
        <p *ngIf="IS_OPEN === true" class="custom_paragraph">
          Widget
        </p>
      </a>
    </li>

    <!-- ------------------------------------------------------- -->
    <!-- Routing & depts -->
    <!-- ------------------------------------------------------- -->
    <li [ngClass]="{'active-item': DEPTS_ROUTE_IS_ACTIVE}" (click)="goToDepartments()"
    matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{routing_and_depts_lbl}}" #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
      <a>
        <i *ngIf="IS_OPEN === true || IS_OPEN === false"  class="material-icons settings-sidebar-icons">  account_balance</i>
        <p *ngIf="IS_OPEN === true" class="custom_paragraph">
          <span *ngIf="isVisibleDEP"> {{'RoutingAndDepts' | translate}} </span>
          <span *ngIf="!isVisibleDEP"> {{'Routing' | translate}} </span>

        </p>
      </a>
    </li>

    <!-- ------------------------------------------------------- -->
    <!-- Teammates & Groups -->
    <!-- ------------------------------------------------------- -->
    <li [ngClass]="{'active-item': TEAMMATES_ROUTE_IS_ACTIVE || GROUPS_ROUTE_IS_ACTIVE}" (click)="goToTeammates()"
    matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{ teammatates_and_groups_lbl }}" #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
      <a>
        <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">supervisor_account</i>
        <p *ngIf="IS_OPEN === true" class="custom_paragraph">
          <span *ngIf="isVisibleGRO">
            {{ 'UsersAndGroups' | translate }}
          </span>
          <span *ngIf="!isVisibleGRO">
            <span style="text-transform: capitalize;"> {{ 'Teammates' | translate }} </span>
          </span>
        </p>
      </a>
    </li>

    <!-- ------------------------------------------------------- -->
    <!-- Canned responses -->
    <!-- ------------------------------------------------------- -->
    <ng-container *ngIf="isVisibleCAR">
      <li [ngClass]="{'active-item': CANNED_RESPONSES_ROUTE_IS_ACTIVE}" (click)="goToCannedResponses()"
       matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{'CannedResponses.CannedResponses' | translate}}" #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
        <a>
          <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">
            offline_bolt
          </i>
          <p *ngIf="IS_OPEN === true" class="custom_paragraph">
            {{'CannedResponses.CannedResponses' | translate}}
          </p>
        </a>
      </li>
    </ng-container>

    <!-- -------------------------------------------------------------  -->
    <!-- Tags (menu item name 'Labels' then renamend tags 26gen21)  -->
    <!-- ------------------------------------------------------------- -->
    <ng-container *ngIf="isVisibleLBS">
      <li [ngClass]="{'active-item': TAG_ROUTE_IS_ACTIVE}" (click)="goToTags()"
      matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip=" {{'Tags.Tags' | translate}}" #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
        <a>
          <i *ngIf="IS_OPEN === true || IS_OPEN === false"  class="material-icons settings-sidebar-icons">local_offer</i>
          <p *ngIf="IS_OPEN === true" class="custom_paragraph">
            {{'Tags.Tags' | translate}}
          </p>
        </a>
      </li>
    </ng-container>

   

    <!-- ------------------------------------------------------- -->
    <!-- TRIGGER -->
    <!-- ------------------------------------------------------- -->
    <ng-container *ngIf="isVisibleTRI">
      <li [ngClass]="{'active-item': TRIGGER_ROUTE_IS_ACTIVE}" (click)="goToTrigger()"
      matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{ 'Trigger.Trigger' | translate }}" #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN">
        <a>
          <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">generating_tokens</i>
          <p *ngIf="IS_OPEN === true" class="custom_paragraph">
            {{ 'Trigger.Trigger' | translate }}
            <span class="trigger-beta-badge">Beta</span>
          </p>
        </a>
      </li>
    </ng-container>




    <!-- ------------------------------------------------------- -->
    <!-- Chatbot -->
    <!-- ------------------------------------------------------- -->
    <!-- <li [ngClass]="{'active-item': CHATBOT_ROUTE_IS_ACTIVE}" (click)="goToChatbot()"  
    matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="Bots" #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN" >
      <a>
        <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">smart_toy</i>
        <p *ngIf="IS_OPEN === true" class="custom_paragraph">
          Bots
        </p>
      </a>
    </li> -->

   

    <!-- -------------------------------------------------------- -->
    <!--  Operatinf Hours  -->
    <!-- -------------------------------------------------------- -->
    <ng-container *ngIf="isVisibleOPH">
      <li [ngClass]="{'active-item': OPERATING_HOURS_ROUTE_IS_ACTIVE}" (click)="goToOperatingHours()" 
       matTooltipClass="custom-mat-tooltip-in-settings-sidebar" matTooltip="{{ 'Hours' | translate }}" #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN" >
        <a>
          <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">watch_later</i>
          <p *ngIf="IS_OPEN === true" class="custom_paragraph">
            {{ 'Hours' | translate }}
          </p>
        </a>
      </li>
    </ng-container>


    <!-- -------------------------------------------------------- -->
    <!--  Project Settings  -->
    <!-- -------------------------------------------------------- -->
    <li [ngClass]="{'active-item': PROJECT_SETTINGS_ROUTE_IS_ACTIVE}" (click)="goToProjectSettings()"
     matTooltipClass="custom-mat-tooltip-in-settings-sidebar"  matTooltip="{{ 'ProjectSettings' | translate }}" #tooltip="matTooltip" matTooltipPosition='right' matTooltipHideDelay="100" [matTooltipDisabled]="IS_OPEN" >
      <a>
        <i *ngIf="IS_OPEN === true || IS_OPEN === false" class="material-icons settings-sidebar-icons">construction</i>
        <p *ngIf="IS_OPEN === true" class="custom_paragraph">
          {{ 'ProjectSettings' | translate }}
        </p>
      </a>
    </li>
  </ul>

</div>