@import "../_variables.scss";
$width-card-tools: 160px;
$margin-left-card: 30px;
$margin-top-card: 30px;

.navbar-brand {
    z-index: 1050;
    position: absolute;
    left: 0;
    top: 6px;
    .btn-back {
        vertical-align: middle; 
        cursor: pointer;
    }
}

.chatboat-dashboard {
    background-color: rgb($bg-color-dark-rgb);
    position: relative;
    display: block;
    margin-top: 60px;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 102px);
    overflow-x: hidden;
    overflow-y: auto;
}

.card-tools {
    position: absolute;
    display: table;
    width: $width-card-tools;
    left: $margin-left-card;
    top: $margin-top-card;

    background-color: rgba($bg-color-card-rgb);
    border-radius: 1em;
    max-height: 100%;
    height: auto;
    overflow: hidden;

    font-family: 'Poppins','Roboto', 'Arial', sans-serif;
    color: #394f5a; 
    font-size: 16px;
    padding: 20px 20px;
    z-index: 14;
}

.card-intent {
    position: absolute;
    display: table;
    left: calc($width-card-tools + $margin-left-card * 2);
    top: $margin-top-card;

    background-color: rgba($bg-color-card-rgb);
    border-radius: 1em;
    max-height: 100%;
    width: 480px;
    height: auto;
    overflow: hidden;

    font-family: 'Poppins','Roboto', 'Arial', sans-serif;
    color: #394f5a; 
    font-size: 16px;
    padding: 20px 20px;
    z-index: 14;
}






.card-buttons {
    position: absolute;
    display: none;
    top: 100px;
    left: calc(50% - 150px);
    margin: 0;
    outline: none;
    width: 380px;
    height: auto;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
    overflow: visible;
    z-index: 14;
    border-radius: 1em;
    // transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
    &.active{
        display: block;
    }
  }
  
//   .card-buttons:active {
//     box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//                 0 8px 10px 1px rgba(0, 0, 0, 0.14),
//                 0 3px 14px 2px rgba(0, 0, 0, 0.12);
//   }
  

.card-buttons-handle {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
    z-index: 1;
  }





  