<div class="navbar-brand">
    <i class="material-icons btn-back" (click)="goBack()">keyboard_arrow_left</i>
    <span *ngIf="CREATE_VIEW">
        <!-- Aggiungi FAQ -->
        {{ "AddIntent" | translate }}
    </span>
    <span *ngIf="EDIT_VIEW">
        <!-- Modifica FAQ -->
        {{ "EditIntent" | translate }}
    </span>
</div>


  
<div class="chatboat-dashboard">

    <div class="box-left">
        <appdashboard-panel-intent-list
            class="panel-intent-list"
        ></appdashboard-panel-intent-list>
    </div>

    <div class="box-right">

        <div class="box-right-header">
            <appdashboard-panel-intent-header
            *ngIf = intentSelected
            [intentSelected] = "intentSelected"
            (saveIntent) = onSaveIntent($event)
            ></appdashboard-panel-intent-header>
        </div>

        <div class="box-right-content">

            <appdashboard-panel-intent
                class="panel-intent"
            ></appdashboard-panel-intent>

            <appdashboard-panel-intent-detail
                *ngIf = intentSelected
                class="panel-intent-detail"
                [intentSelected]="intentSelected"
                [showSpinner] = "showSpinner"
            ></appdashboard-panel-intent-detail>

        </div>


    </div>

       

        <!-- <appdashboard-panel-actions
            class="panel-actions"
        ></appdashboard-panel-actions> -->


    <!-- <div class="card-buttons" 
        *ngIf="openCardButton"
        [ngClass]="{'active':openCardButton}"
        cdkDragBoundary=".chatboat-dashboard" cdkDrag>
        <div class="card-buttons-handle" cdkDragHandle>
            <svg id="card-buttons-no-close" width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
        </div>
        <appdashboard-button-configuration-panel
        [button] = buttonSelected
        [arrayActions] = arrayActions
        (closeButtonPanel) = onCloseButtonPanel()
        (saveButton) = onSaveButton($event)
        ></appdashboard-button-configuration-panel>
    </div> -->
    
</div>


