@import "../_variables.scss";
$width-card-tools: 160px;
$margin-left-card: 30px;
$margin-top-card: 30px;

.chatboat-dashboard {
    background-color: rgb($bg-color-dark-rgb);
    position: relative;
    display: flex;
    margin-top: 60px;
    padding: 0px;
    width: 100%;
    height: calc(100vh - 102px);
    overflow-x: hidden;
    overflow-y: auto;

    font-family: 'Poppins','Roboto', 'Arial', sans-serif;
    color: #394f5a; 
    font-size: 16px;
}

.box-left {
    width: 200px;
    background-color: #394f5a;
    .panel-intent-list {
        position: relative;
        display: inline-flex;
        width: 90%;
        height: auto;
        max-height: 100%;
        background-color: rgb($bg-color-bck-rgb);
        border-radius: 0em;
        overflow: hidden;
        margin: 0px;
        padding: 10px;
    }
}

.box-right {
    // background-color: bisque;
    flex-grow: 1;
    .box-right-header{
        width: 100%;
        height: 50px;
        // background-color: rgb(76, 227, 30);
    }
    .box-right-content {
        width: 100%;
        display: flex;
        .panel-intent {
            position: relative;
            display: inline-block;
            width: 200px;
            height: auto;
            max-height: 100%;
            // background-color: rgb($bg-color-bck-rgb);
            border-radius: 1em;
            overflow: hidden;
            margin: 0 10px;
            padding: 0px;
        }
    
        .panel-intent-detail {
            position: relative;
            display: block;
            width: 100%;
            // display: inline-flex;
            // width: 30%;
            // width: auto;
            // flex-grow: 1;
            min-width: 400px;
            height: auto;
            max-height: 100%;
            // background-color: rgb($bg-color-bck-rgb);
            border-radius: 1em;
            overflow: hidden;
            margin: 0 10px;
            padding: 0px;
        }
    }
    
}







.navbar-brand {
    z-index: 1050;
    position: absolute;
    left: 0;
    top: 6px;
    .btn-back {
        vertical-align: middle; 
        cursor: pointer;
    }
}










.card-buttons {
    position: absolute;
    display: none;
    top: 100px;
    left: calc(50% - 150px);
    margin: 0;
    outline: none;
    width: 380px;
    height: auto;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
    overflow: visible;
    z-index: 14;
    border-radius: 1em;
    // transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
    &.active{
        display: block;
    }
  }
  
//   .card-buttons:active {
//     box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//                 0 8px 10px 1px rgba(0, 0, 0, 0.14),
//                 0 3px 14px 2px rgba(0, 0, 0, 0.12);
//   }
  

.card-buttons-handle {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
    z-index: 1;
  }





  