input[type="text"] {
  // min-width: 307px !important;
  height: 36px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9 !important;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;

  border: solid 1px #ddd;
}