@import "./src/assets/sass/md/_variables.scss";

.card-custom-margin {
    margin-top: 5px;
}

.card-custom-margin{
    border-radius: 12px !important;
    display: flex !important;
    flex-direction: column !important;
}


.left-col-custom-padding {
    padding-right: 5px !important;
    padding-left: 10px !important;
    padding-top: 7px;
}

.main-content-no-padding {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.modal-body {
    position: relative;
    // padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 0px;
    padding-left: 15px;
}

.webhook-modal-body {
    padding-bottom: 60px !important;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-footer {
    // padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    // background-color: #edf0f1;
    background-color: #eeeeee;
    padding-top: 10px !important;
}

input[type="text"] {
    // min-width: 307px !important;
    height: 36px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    color: #000000de;
    font-weight: 300;
}

// .webhook-link-to-doc {
//     margin-left: 8px;
//     vertical-align: middle;
//     color: #0f62ff;
//     font-size: 14px;
//     font-weight: 400;
//     cursor: pointer;
// }

// .webhook-link-to-doc:hover {
//     text-decoration: underline;
// }

// .link-to-webhook-doc {
//     background-color: rgb(241, 241, 241);
//     margin-top: -9px;
//     padding: 20px 20px 10px 28px;
//     margin-left: -3px
// }

// .link-to-webhook-doc>div {
//     font-size: 14px;
//     font-weight: 400;
//     margin-bottom: 6px;
//     line-height: 20px;
// }

// .link-to-webhook-doc>div>svg {
//     width: 25px;
//     height: auto;
//     vertical-align: middle;
// }

.link-to-docs-wpr {
    margin-bottom: 16px;
  }
  .link-to-docs-wpr > div > div > span > svg {
    fill: var(--blue-light);
    vertical-align: middle;
  } 
  
  .link-to-docs {
    // background-color: rgb(241, 241, 241);
    margin-right: 0px;
    margin-left: 0px;
    margin-left: -14px;
    // padding-bottom: 12px;
    // padding-top: 12px;
    padding: 10px 0px;
  }
  
  .custom-anchor-to-docs {
    color: var(--blue-light); // #0f62ff !important;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .custom-anchor-to-docs:hover {
    text-decoration: underline;
  }