input[type="text"] {
  height: 36px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #d9d9d9 !important;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
}
input[type="text"]:disabled {
  background-color: rgb(248, 249, 249);
}
input[type="text"].invalid-email {
  border: 1px solid #f44336 !important;
}

input[type="email"] {
  height: 36px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #d9d9d9 !important;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
}
input[type="email"]:disabled {
  background-color: rgb(248, 249, 249);
}

input[type="number"] {
  height: 36px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #d9d9d9 !important;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
}
input[type="number"]:disabled {
  background-color: rgb(248, 249, 249);
}
select {
  height: 36px;
  font-size: 14px;
  background: #fff;
  border-radius: 5px;
  border-color: #d9d9d9;
  // box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // -webkit-appearance: none;
  border: 1px solid #d9d9d9 !important;
  padding: 0 8px;
}

select[disabled] {
  color: #999999;
  background-color: rgb(248, 249, 249);
}

.card form [class*="col-"] {
  padding: 0px;
}

/* MODAL START */

// MODAL BOOTSTRAP BREAKPOINTS
// from 992 to 1020px
// @media (min-width: 992px) and (max-width: 1019px){
//     .modal-dialog {
//             margin-left: 33%;
//         }
//     }

//     @media (min-width: 1020px) and (max-width: 1199px) {
//         .modal-dialog {
//             margin-left: 35%;
//         }
//     }

//     @media (min-width: 1200px) and (max-width: 1469px)  {
//         .modal-dialog {
//             margin-left: 37%;
//         }
//     }

//     @media (min-width: 1470px) and (max-width: 1549px) {
//         .modal-dialog {
//             margin-left: 38%;
//         }
//     }

//     @media (min-width: 1550px) and (max-width: 1649px){
//         .modal-dialog {
//             margin-left: 39%;
//         }
//     }
//     @media (min-width: 1650px) {
//         .modal-dialog {
//             margin-left: 40%;
//         }
//     }

.modal {
  top: 0;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

button.close {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.modal-body {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 0px;
  padding-left: 15px;
}

.modal-footer {
  // padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  // background-color: #edf0f1;
  background-color: #eeeeee;
  padding-top: 10px !important;
}

/* MODAL END */

.custom-label {
  color: rgb(118, 149, 165);
  // height: 36px;
  padding-top: 7px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  text-align: right !important;
}

.title-attribute {
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
  color: #394f5a;
  font-weight: 500;
}

.msg-alert {
  font-family: "Poppins", "Roboto", "Arial", sans-serif;
  font-weight: 400;
}

// <!-- SWITCH AVAILABLE / UNAILABLE  -->
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  // height: 34px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  // height: 26px;
  // width: 26px;
  height: 11px;
  width: 11px;
  left: 4px;
  bottom: 4px;
  // background-color: white;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: #1eb848;
}

input:checked + .slider {
  // background-color: #2196F3;
  background: #fff;
}

//   input:focus + .slider {
//     box-shadow: 0 0 1px #2196F3;
//   }

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
// <!-- END SWITCH  -->

// start new SWITCH BTN
.onoffswitch__availability_status {
  position: relative;
  // width: 90px;
  width: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.onoffswitch-checkbox__availability_status {
  display: none;
}
.onoffswitch-label__availability_status {
  display: block;
  overflow: hidden;
  cursor: pointer;
  // border: 2px solid #999999;
  border: 1px solid #d9d9d9 !important;
  border-radius: 22px;
}
.onoffswitch-inner__availability_status {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner__availability_status:before,
.onoffswitch-inner__availability_status:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  // font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner__availability_status:before {
  content: "Available";
  padding-left: 10px;
  // background-color: #EEEEEE;
  color: #4caf50;
}
.onoffswitch-inner__availability_status:after {
  content: "Unavailable";
  padding-right: 10px;
  // background-color: #EEEEEE;
  color: #f44336;
  text-align: right;
}
.onoffswitch-switch__availability_status {
  display: block;
  width: 21px;
  height: 21px;
  margin: 6px;
  background: #f44336;
  position: absolute;
  top: 0;
  bottom: 5px;
  // right: 56px;
  right: 87px;
  border: 1px solid #d9d9d9 !important;
  border-radius: 22px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox__availability_status:checked
  + .onoffswitch-label__availability_status
  .onoffswitch-inner__availability_status {
  margin-left: 0;
}
.onoffswitch-checkbox__availability_status:checked
  + .onoffswitch-label__availability_status
  .onoffswitch-switch__availability_status {
  right: 0px;
  background-color: #4caf50;
}

.onoffswitch-checkbox__availability_status:disabled
  + .onoffswitch-label__availability_status
  .onoffswitch-switch__availability_status {
  background-color: #ddd;
}

.user-img-in-edit-profile {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin-right: 15px;
  object-fit: cover;
}

.card-custom-margin {
  margin-top: 5px;
}

.right-col-custom-padding {
  padding-right: 10px !important;
  padding-left: 5px !important;
}

@media (max-width: 768px) {
  .left-col-custom-padding {
    padding-right: 10px !important;
  }

  .right-col-custom-padding {
    padding-left: 10px !important;
  }
}

// ---------------------------------------
// Tag
// ---------------------------------------

.tag-input-wrapper input[type="text"] {
  height: 35px;
  font-size: 14px;
  //   width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  padding-right: 8px;
  padding-left: 26px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  //   border-radius: 5px;
  float: left;
  margin-right: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 0px;
}

.pu-tag-input-wrapper {
  display: flex;
}

.pu-tag-input-wrapper .dropdown .btn {
  box-shadow: none !important;
  background: #fff;
  border: 1px solid #d9d9d9;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: -1px !important;
  // padding: 8px 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.pu-tag-input-wrapper .dropdown .dropdown-toggle {
  box-shadow: none !important;
}

.pu-tag-input-wrapper .dropdown .dropdown-toggle a {
  padding-top: 8px;
}

.pu-tag-input-wrapper .dropdown .dropdown-toggle:hover {
  box-shadow: none !important;
}

.pu-tag-input-wrapper .dropdown-menu li a:hover,
.pu-tag-input-wrapper .dropdown-menu li a:focus,
.pu-tag-input-wrapper .dropdown-menu li a:active {
  background-color: transparent;
  color: #000;
}

.tag-color-dot {
  position: absolute;
  top: 10px;
  left: 61px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.svg-inline--fa {
  width: 18px;
  height: auto;
  vertical-align: middle;
  margin-right: 8px;
}

.add-tag-to-pu-btn {
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
}

.tag-delete {
  opacity: 0;
}

.pu-tags-container {
  display: flex;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
}

.pu-tag {
  display: flex;
  padding-right: 6px;
  background-color: rgba(233, 235, 238, 0.7);
  border: none;
  border-radius: 4px;
  color: #444950;
  margin-right: 8px;
  margin-top: 8px;
  margin-left: 6px;
}

.pu-tag:hover {
  .tag_icon_in_ws_msgs {
    fill: rgba(233, 235, 238, 0.3) !important;
  }
  .tag-delete {
    opacity: 1;
    font-size: 16px;
    position: relative;
    // top: -3px;
    // left: -2px;
    top: 3px;
  }
}

.icon-container {
  display: inline-block;
  padding-left: 4px;
}

#tag_name {
  padding-left: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-bottom: 0px;
}
.tag-name-required-error {
  color: #f6303a;
  font-size: 12px;
  top: 4px;
  font-weight: 400;
}

.alert-exceed-numb-of-seats-allowed {
  background: #f44336;
  position: relative;
  margin-left: -5px;
  top: -10px;
  margin-right: -15px;
  // height: 44px;
  vertical-align: middle;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  flex-direction: column;
}


.upgrade---plan-btn {
  color: #039be5;
  cursor: pointer;
  background: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  // display: block;
  border: #fff;
  margin-top: 6px;
}

.upgrade---plan-btn:hover {
  background: #e8eaed;
}
