<div class="navbar-brand" style="z-index: -1;margin-top:10px; padding-left:30px">
  <i class="material-icons" style="vertical-align: middle !important; cursor: pointer;" (click)="goBackToUsersList()">keyboard_arrow_left</i>
  <span *ngIf="CREATE_VIEW">
    {{ "UserEditAddPage.AddUserToThe" | translate }}  
    <span style="color: #566787; font-weight:400">{{project_name}}</span>  {{ "UserEditAddPage.Project" | translate }}
  </span>

  <span *ngIf="EDIT_VIEW">
    {{ "UserEditAddPage.EditUserRole" | translate }}  

  </span>
</div>
<div class="main-content" style="padding-top: 0px">
  <div class="container-fluid">

    <div class="row">

      <!-- CREATE VIEW -->
      <span *ngIf="CREATE_VIEW">
        <div class="col-md-8">
          <div class="card" style="padding-top:25px; padding-bottom:25px">
            <div class="card-content">
              <!-- style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right;" -->
              <label class="col-sm-2 custom-label">
                <!-- {{ "UserEditAddPage.UserEmail" | translate }} -->
                Email
              </label>
              <div class="col-sm-10">
                <input [(ngModel)]="user_email" (ngModelChange)="emailChange($event)" class="" type="text" 
                  placeholder='{{ "UserEditAddPage.EmailAddress" | translate }}' [ngClass]="{'invalid-email' : !EMAIL_IS_VALID}">

                  <span *ngIf="!EMAIL_IS_VALID" style="color: #f44336">
                    {{ "EnterValidEmail" | translate }}
                  </span>
              </div>

              <div class="col-sm-12" style="height:10px"></div>

              <!-- style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right;" -->
              <label class="col-sm-2 custom-label">
                {{ "UserEditAddPage.Role" | translate }}
              </label>
              <div class="col-sm-10">
                <select #selectElem (change)="setSelected(selectElem.value)" class="" >
                  <option class="not_selected" value="ROLE_NOT_SELECTED" [selected]="selected == true">
                    {{ "UserEditAddPage.SelectRole" | translate }}
                  </option>              
                  <option value="admin">admin </option>
                  <option value="agent">agent </option>
                </select>
              </div>

              <!-- SPACER -->
              <div class="col-sm-12" style="height:15px"></div>

              <label style="" class="col-sm-2"></label>
              <div class="col-sm-10">
                <!-- [disabled]="bot_fullname?.length < 2 || FAQKB_NOT_SELECTED === true" -->
                <button class="btn btn-success" [disabled]="ROLE_NOT_SELECTED === true || !EMAIL_IS_VALID" (click)="invite()">
                  {{ "UserEditAddPage.Invites" | translate }}
                </button>
              </div>

            </div>
          </div>
        </div>
      <!-- /. end col-md-8 -->
      </span>

      <!-- EDIT VIEW -->
      <span *ngIf="EDIT_VIEW">
        <div class="col-md-8">
          <div class="card" style="padding-top:25px; padding-bottom:25px">
            <div class="card-content">

              <!-- style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right;" -->
              <div class="row">
                <label  class="col-sm-2 custom-label">
                  <!-- {{ "UserEditAddPage.UserEmail" | translate }} -->
                  Email
                </label>
                <!-- class="col-sm-10" -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <input style="color:#999999" [(ngModel)]="user_email" class="" type="text" placeholder='{{ "UserEditAddPage.EmailAddress" | translate }}' disabled>
                </div>
              </div>

              <div class="col-sm-12" style="height:10px"></div>

              <!-- style="height: 36px; padding-top: 7px; padding-left: 16px; padding-right: 16px; text-align: right;" -->
              
              <div class="row">
                <label class="col-sm-2 custom-label">
                  {{ "UserEditAddPage.Role" | translate }}
                </label>
                
                <!-- class="col-sm-10" -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div *ngIf="user_role">
                    <select #selectElem (change)="setSelected(selectElem.value)" style="width: 100%;">
                
                      <option value="admin" [selected]="user_role === 'admin'">
                        <!-- admin  -->
                        {{ "UserEditAddPage.Admin" | translate }}
                      </option>
                      <option value="agent" [selected]="user_role === 'agent'">
                        <!-- agent -->
                        {{ "UserEditAddPage.Agent" | translate }} 
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- SPACER -->
              <div class="col-sm-12" style="height:15px"></div>
              
              <div class="row">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                  <!-- [disabled]="bot_fullname?.length < 2 || FAQKB_NOT_SELECTED === true" -->
                  <button class="btn btn-success" [disabled]="ROLE_NOT_SELECTED === true" (click)="updateUserRole()">
                    {{ "UserEditAddPage.Update" | translate }}
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </span>
      
      <!-- RIGHT SIDEBAR -->
      <div class="col-md-4">
        <div class="card" style="padding-top:25px; padding-bottom:25px">
            <div class="card-content" style="padding-top: 0px;">
              <h4 class="card-title" style="text-transform: none; color: #566787; font-weight:400; margin-bottom: 15px">
                <!-- User Roles -->
                {{ "UserEditAddPage.UserRoles" | translate }}
              </h4>

              <p class="title-attribute" style="margin-bottom: 3px">
                <!-- <strong> -->
                  {{ "UserEditAddPage.Admin" | translate }}
                <!-- </strong> -->
              </p>
              <p style="color:#7695a5">
                <!-- An Administrator has full power over the app and can do everything related to TileDesk administration. Administrators can create more Administrators, invite new users, remove users, change user roles, serve Visitors.  -->
                {{ "UserEditAddPage.AnAdministratorHas" | translate }}
              </p>

              <p class="title-attribute" style="margin-bottom: 3px">
                <!-- <strong> -->
                  <!-- Agent -->
                  {{ "UserEditAddPage.Agent" | translate }}
                <!-- </strong> -->
              </p>
              <p style="color:#7695a5">
                <!-- An Agent can use this control panel to monitor help requests and chat with Visitors. -->
                {{ "UserEditAddPage.AnAgentCan" | translate }}
              </p>

            </div>
        </div>
      </div>


    </div>

  </div>
</div>


<!-- ============ MODAL - INFO WINDOWS ============ -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}" style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">
          {{ "UserEditAddPage.modalInviteUser" | translate }}
          <!-- <code>{{id_toDelete}}</code> -->
        </h4>
      </div>

      <div class="modal-body" style="padding-right: 15px; padding-top:15px; padding-bottom:15px">
      
        <span *ngIf="SHOW_CIRCULAR_SPINNER">
          <div  class="loader" style="top:25%">
            <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="15" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>

          </div>
          <p style="margin-top: 60px; text-align: center; color: #566787; font-weight: 500">
              {{ "UserEditAddPage.Processing" | translate }}
          </p>
        </span>

        <span *ngIf="!SHOW_CIRCULAR_SPINNER">
            <!-- class="loader" style="top:5%" -->
          <div style="text-align: center">

            <!--      WHEN NO ERROR OCCUR      -->
            <span *ngIf="!INVITE_YOURSELF_ERROR && !INVITE_OTHER_ERROR && !INVITE_USER_ALREADY_MEMBER_ERROR && !INVITE_USER_NOT_FOUND">
              <i class="material-icons" style="color:#70b665">done</i>
              <p style="color:#70b665; font-weight: 500">
                  {{ "UserEditAddPage.Completed" | translate }}
              </p> 
            </span>

            <!--      ERROR - Not Allowed Action      -->
            <span *ngIf="INVITE_YOURSELF_ERROR ||  INVITE_OTHER_ERROR || INVITE_USER_ALREADY_MEMBER_ERROR || INVITE_USER_NOT_FOUND">
              <i class="material-icons" style="color:#ff5252">report_problem</i>
              <p style="color:#ff5252; font-weight: 500">
                  {{ "UserEditAddPage.Error" | translate }}
              </p> 
            </span>

            <!--      ERROR - other error     -->
            <!-- <span *ngIf="!INVITE_YOURSELF_ERROR && INVITE_OTHER_ERROR">
              <i class="material-icons" style="color:#ff5252">report_problem</i>
              <p style="color:#ff5252; font-weight: 500">
                  {{ "UserEditAddPage.Error" | translate }}
              </p> 
            </span> -->

          </div>

          <!--      WHEN NO ERROR OCCUR      -->
          <span *ngIf="!INVITE_YOURSELF_ERROR && !INVITE_OTHER_ERROR && !INVITE_USER_ALREADY_MEMBER_ERROR && !INVITE_USER_NOT_FOUND">
            <p style="margin-top: 0px; text-align: center; font-weight: 500">
              {{ "UserEditAddPage.TheUserHasBeenInvited" | translate }}
            </p>
          </span>

          <!--      ERROR - Not Allowed Action * You Can Not Invite Yourself *    -->
          <span *ngIf="INVITE_YOURSELF_ERROR && !INVITE_OTHER_ERROR && !INVITE_USER_ALREADY_MEMBER_ERROR && !INVITE_USER_NOT_FOUND">
            <p style="margin-top: 0px; text-align: center; font-weight: 500">
              {{ "UserEditAddPage.YouCanNotInviteYourself" | translate }}
            </p>
          </span>

          <!--      ERROR - Not Allowed Action * You can not invite a user already member of the project *    -->
          <span *ngIf="!INVITE_YOURSELF_ERROR && !INVITE_OTHER_ERROR && INVITE_USER_ALREADY_MEMBER_ERROR && !INVITE_USER_NOT_FOUND">
            <p style="margin-top: 0px; text-align: center; font-weight: 500">
              {{ "UserEditAddPage.YouCanNotInviteAProjectMember" | translate }}
            </p>
          </span>

          <!--      ERROR - User not found * You cannot invite a user that not is registered *    -->
          <span *ngIf="!INVITE_YOURSELF_ERROR && !INVITE_OTHER_ERROR && !INVITE_USER_ALREADY_MEMBER_ERROR && INVITE_USER_NOT_FOUND">
            <p style="margin-top: 0px; text-align: center; font-weight: 500">
                {{ "UserEditAddPage.TheEmail" | translate }} 
                <span style="font-weight: 600">{{ user_email }} </span> 
                {{ "UserEditAddPage.wasNotFoundNoteThat" | translate }}
            </p>
          </span>

          <!--      ERROR - other error     -->
          <span *ngIf="!INVITE_YOURSELF_ERROR && INVITE_OTHER_ERROR && !INVITE_USER_ALREADY_MEMBER_ERROR && !INVITE_USER_NOT_FOUND">
            <p style="margin-top: 0px; text-align: center; font-weight: 500">
              {{ "UserEditAddPage.AnErrorHasOccurred" | translate }}
            </p>
          </span>


        </span>
      </div>

      <div class="modal-footer" style="text-align: center;">
        <button class="btn btn-info" [disabled]="SHOW_CIRCULAR_SPINNER" (click)="onCloseModalHandled()">
            {{ "UserEditAddPage.Continue" | translate }}
        </button>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>