li.active a span.sidebar-mini  {

 color: #ffffff !important
}

.sidebar-mini {
    width: 30px;
    margin-right: 15px;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    float: left;
    display: inherit;
    color: #a9afbb;
    font-size:1.2em
}