li.active a span.sidebar-mini  {

 color: #ffffff !important
}

.sidebar-mini {
    width: 30px;
    margin-right: 15px;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    float: left;
    display: inherit;
    color: #a9afbb;
    /* font-size:1.2em */
}

/* START - USED WITH SIDWBAR WITH BLACK BACKGROUND */
.onBlackBckgrnd {
    color: rgba(255,255,255,0.6);
    font-family: 'Google Sans', sans-serif !important;
}

li.active a p.onBlackBckgrnd {
    color: #ffffff !important;
    
}

span.sidebar-normal {
    color: rgba(255,255,255,0.6)
}

li.active a span.sidebar-normal {
    color: #ffffff !important
}


/* start - mobile sidebar USED WITH SIDWBAR WITH BLACK BACKGROUND */
p.hidden-lg.hidden-md{
    color: rgba(255,255,255,0.6)
}
li.active p.hidden-lg.hidden-md {
    color: rgba(25,25,25,1) !important
}
.nav .open > a > p.hidden-lg.hidden-md {
    color: rgba(25,25,25,1) !important
}
ul.dropdown-menu > li > a {
    color: rgba(255,255,255,0.6)
}
/* end - mobile sidebar USED WITH SIDWBAR WITH BLACK BACKGROUND */
/* END - USED WITH SIDWBAR WITH BLACK BACKGROUND */


li.active a span.sidebar-mini  {

    color: #ffffff !important
}

/* CUSTOM MARGIN BETWEEN THE MENU ITEM*/
.nav li > a.customAncor  {
    /* margin: 5px 15px !important; */

    margin-top: 5px !important;
    margin-right: 15px !important;
    margin-bottom: 5px !important;
    margin-left:0px !important;
}

/* MODAL START */
.modal {
    top: 0;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal-body {
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 15px;
    padding-left: 15px;
}

.modal-footer {
    /* // padding: 15px; */
    text-align: right;
    border-top: 1px solid #e5e5e5;
    /* // background-color: #edf0f1; */
    background-color: #eeeeee;
    padding-top:10px !important;
}
@media (min-width: 768px) and (max-width: 991px){
    .modal-dialog {
        width: 240px;
    }
}

/* MODAL END */

.sidebar-icons {
    font-size: 20px !important;
}

.avatar-container {
    text-align: center;
    cursor: pointer;
    /* position: absolute;
    top: 92px;
    border-radius: 50%;
    padding: 8px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%; */
}
/* // NK start NEW: AVATAR ON THE SIDEBAR  */
/* .hover-effect {
    opacity: 0.5 !important;
} */

.is-over-camera:hover {
    opacity: 1 !important;
    cursor: pointer;
}


.tiledesk-nav-user{
    background-color: #1e2129!important;
    color: #fff!important;
}

.user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    /* height: 136px;
    min-height: 136px;
    max-height: 136px; */
    height: 130px;
    min-height: 130px;
    max-height: 130px;
    /* padding: 8px 0 64px; */
}

.username {
    font-family: 'Google Sans', sans-serif !important;
}
.avatar-container{
    position: absolute;
    /* top: 92px; */
    top: 80px;
    border-radius: 50%;
    padding: 8px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.tiledesk-nav-avatar {
    background-color: #2d323e!important;
    color: #fff!important;
}

.avatar-container .avatar {
    width: 72px;
    height: 72px;
    margin: 0;
    border-radius: 50%;
}
.status-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 8px;
    left: 61px;
    border: 2px solid #2d323e;
    border-radius: 50%;
    background-color: #4caf50;
}

.is-user-online {
    background-color: #4caf50;
}
.is-user-offline {
    background-color: #f44336;
}

.is-desktop-menu {
    margin-top: 40px;
}
.is-mobile-menu {
    margin-top: 0px;
}

/* OVERWRITE THE DEFAULT STYLE */
.nav-mobile-menu {
    margin-top: 25px!important;
}
/* // NK end NEW: AVATAR ON THE SIDEBAR  */



/* NK start CUSTOM SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    /* border-radius: 6px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    /* width: 10px !important; */
}
/* NK end CUSTOM SCROLL BAR */


/* SIDEBAR NAV ITEMS  */
.active  {
    height: 40px;
    /* padding: 0 12px 0 24px; */
    border-radius: 0 20px 20px 0;
    margin-right: 16px;
    background-color: #039be5!important;
    color: #fff!important;
}

.active a {
    background-color: transparent!important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.nav > li > a {
    padding: 5px 15px !important;

    border-radius: 0 20px 20px 0;
    margin-right: 16px;
    padding: 0 12px 0 24px;
}
/* SIDEBAR NAV ITEMS  */


