<!-- <span *ngIf="!LOGIN_PAGE"> -->
<!-- #eeeeee -->
<div *ngIf="project" class="logo" style="background-color: #191919; padding-bottom: 10px; ">
    <!-- <a href="https://www.creative-tim.com" class="simple-text"> -->
    <a routerLink="project/{{ project._id }}/home" class="simple-text" style="text-transform: none; padding-left: 40px;">
       
        <div class="logo-img">
            
            <img style="width:50%; padding-top: 5px;" src="assets/img/tiledesk-logo_white.svg"/>
        </div>
        <!-- <span>chat21</span> -->
    </a>
</div>
<!-- #eeeeee -->
<div class="sidebar-wrapper" style="background-color: #191919">
    <!-- SEARCH MOBILE MENU -->
    <!-- <form class="navbar-form navbar-right" role="search" *ngIf="isMobileMenu()">
        <div class="form-group form-black is-empty">
            <input type="text" class="form-control" placeholder="Search">
            <span class="material-input"></span>
        </div>
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i><div class="ripple-container"></div>
        </button>
    </form> -->

    <ul class="nav nav-mobile-menu" *ngIf="isMobileMenu()">
        <li  *ngIf="project">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" (click)="has_cliked_hidden_project(SHOW_PRJCT_SUB = !SHOW_PRJCT_SUB)" style="cursor:pointer">
                <i class="material-icons">apps</i>
                <p class="hidden-lg hidden-md">{{ project?.name }} 
                    <b style="position: absolute; top: 23px; right: 15px;" class="caret" [ngStyle]="{'transform': trasform_projectname_caret}"></b>
                </p>
            </a>
            <ul *ngIf="project" class="dropdown-menu">
                <li (click)="goToProjects()">
                    <a style="cursor:pointer">
                        <!-- Visualizza tutti i progetti -->
                        {{ "SideBar.ViewAllProjects" | translate }}
                    </a>
                </li>
                <li>
                    <a routerLink="/project/edit/{{ project._id }}">
                        <!-- Impostazioni progetto -->
                        {{ "SideBar.ProjectSettings" | translate }}
                    </a>
                </li>
            </ul>
        </li>
        <!-- <li *ngIf="project" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons">notifications</i>
                <span class="notification" routerLink="/requests">{{ unservedRequestCount }}</span>
                <p class="hidden-lg hidden-md" routerLink="/requests">Notifiche</p>
            </a>
        </li> -->
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" (click)="has_cliked_hidden_profile(SHOW_PROFILE_SUB = !SHOW_PROFILE_SUB)">
               <i class="material-icons">person</i>
               <!-- Profile -->
               <p class="hidden-lg hidden-md">
                   <!-- Profilo -->
                   {{ user?.firstname }} {{ user?.lastname }}
                   <b style="position: absolute; top: 23px; right: 15px;" class="caret" [ngStyle]="{'transform': transform_user_profile_caret}"></b>
                </p>
            </a>
            <ul *ngIf="user" class="dropdown-menu">
                <!-- <h6 style="text-align: center; margin-top:0px;"> -->
                    <li>
                        <a style="color: rgba(255,255,255,0.6); text-align: center; " routerLink="/user-profile"> 
                            <!-- VEDI PROFILO  -->
                            {{ "SideBar.UserProfile" | translate }}
                        </a>
                    </li>
                 <!-- </h6> -->
                <!-- color: #3C4858 -->

                <!-- COMMENTED FOR NOW -->
                <!-- <h6 style="text-align: center; text-transform: none; font-size: 0.7; color: #333"> 
                    <strong>
                        {{ user?.firstname }} {{ user?.lastname }}
                    </strong>
                </h6>
                <h6 style="text-align: center; text-transform: none; font-size: 0.7; color: #333">
                    {{ user?.email }}
                </h6> -->
                <li>
                    <!-- setUnavailableAndlogout() -->
                    <a style="text-align: center; cursor: pointer" (click)="openLogoutModal()">
                        LOG OUT
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="nav-container">
        <ul class="nav">
            
            <!-- SELECT AVAILABLE / UNAVAILABLE -->
             <li *ngIf="project" style="margin-left: 10px;">
                <!-- <a *ngIf="!IS_UNAVAILABLE"  -->
                <!-- width: 175px; -->
                <!-- #e5e4e5; -->
                <a *ngIf="IS_AVAILABLE" 
                    style="background-color: rgba(255,255,255,0.2);                  
                           border-radius: 10px;
                           display:block;
                           margin:0 auto;
                           width: 200px;
                           padding: 5px 10px; 
                           cursor: pointer" 
                    (click)="changeAvailabilityState(IS_AVAILABLE = !IS_AVAILABLE)">

                    <i class="material-icons" style="font-size: 16px; color: #1eb848; margin-right:0px; padding-right: 8px">
                        fiber_manual_record
                    </i>
                    <!-- #a9afbb -->
                    <p style="color:#fff ;">
                        <span style="padding-left: 8px">
                            {{ 'Available' | translate }}
                        </span>
                     </p>
                </a>
                <!-- <a *ngIf="IS_UNAVAILABLE"  -->

                <!-- width: 175px;  -->
                <a *ngIf="!IS_AVAILABLE" 
                    style="background-color: rgba(255,255,255,0.2); 
                           border-radius: 10px;
                           display:block;
                           margin:0 auto;
                           width: 200px;  
                           padding: 5px 10px; 
                           cursor: pointer" 
                      (click)="changeAvailabilityState(IS_AVAILABLE = !IS_AVAILABLE)">

                    <i class="material-icons" style=" font-size: 16px; color: #cac9c9; margin-right:0px; padding-right: 8px ">
                        fiber_manual_record
                    </i>           
                    <p style="color:#cac9c9">
                        <span style="padding-left: 8px">
                            {{ 'Unavailable' | translate }}
                        </span>
                    </p>
                </a>
            </li>

            <!-- !!!! NO MORE USED HOME - VISITORS (alias REQUESTS) - CHAT -->
            <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li> -->
            
            <!-- HOME  -->
            <!-- WITHOUT THE CONDITION *ngIf="projectid" THE MENU ITEM 'HOME' IT IS NOT RENDERED AS ACTIVE -->
            <li *ngIf="project" routerLinkActive="active">
                <a #homebtn class="customAncor" routerLink="project/{{ project._id }}/home">
                    <i class="material-icons">dashboard</i>
                    <p class="onBlackBckgrnd">Home</p>
                </a>
            </li>

            <!-- REQUESTS (VISITORS)  -->
            <li *ngIf="project" routerLinkActive="active" >
                <a class="customAncor" routerLink="project/{{ project._id }}/requests">
                    <i class="material-icons">group</i>
                    <p class="onBlackBckgrnd">{{ 'Requests' | translate }}</p>
                </a>
            </li>

            <!-- CHAT  -->
            <li *ngIf="project" routerLinkActive="active">
                <!-- <a class="customAncor" routerLink="/chat"> -->
                <a #openchatbtn class="customAncor" target="_blank" href="{{ CHAT_BASE_URL }}" (click)="removeChatBtnFocus()">     
                    <i class="material-icons">chat</i>
                    <p class="onBlackBckgrnd">Chat</p>
                </a>
            </li>

            <!-- CHAT AS TARGET BLANK // SEE ABOVE: IS NO MORE NECESSARY TO LINK THE CHAT IN A EXTERNAL PAGE-->
            <!-- <li>
                <a target="_blank" href="http://support.tiledesk.com/web/">
                    <i class="material-icons">chat</i>
                    <p>Chat</p>
                </a>
            </li> -->


            <!-- ANALYTICS -->
            <li *ngIf="project && USER_ROLE !== 'agent'" routerLinkActive="active" >
                <a class="customAncor" routerLink="project/{{ project._id }}/analytics">
                    <i class="material-icons">trending_up</i>
                    <p class="onBlackBckgrnd">Analytics</p>
                </a>
            </li>
            
            <!-- REQUESTS HISTORY -->
            <li *ngIf="project" routerLinkActive="active" >
                <a class="customAncor" routerLink="project/{{ project._id }}/history">
                    <i class="material-icons">history</i>
                    <p class="onBlackBckgrnd">{{ 'History' | translate }}</p>
                </a>
            </li>
            <!-- SETTINGS -->
            <!-- routerLinkActive="active"  -->

            <li *ngIf="project && USER_ROLE !== 'agent'" (click)="has_clicked_settings(SHOW_SETTINGS_SUBMENU = !SHOW_SETTINGS_SUBMENU)" style="cursor:pointer">
                <!-- routerLink="/settings" -->
                <a class="customAncor">
                    <i class="material-icons">settings</i>
                    <p class="onBlackBckgrnd">
                        {{ 'Settings' | translate }} 
                        <b class="caret" style="position: absolute;right: 18px; margin-top: 13px" [ngStyle]="{'transform': trasform}"></b>
                    </p>
                </a>
            </li>
            <!--  -->
            <!-- SECTION OF SETTINGS SUBMENU -->

            <!-- BOT: NO MORE USED - THE CURRENT BOT (see down) IS FAQKB RENAMED TO BOT-->
            <!-- <li *ngIf="SHOW_SETTINGS_SUBMENU" class="" routerLinkActive="active" style="" >
                <a  *ngIf="project" routerLink="project/{{ project._id }}/bots">
                    <span class="sidebar-mini">
                        B 
                    </span>
                    <span class="sidebar-normal">Bots</span> 
                </a>
            </li> -->

            <!-- NO MORE USED  -->
            <!-- margin-top: 55px -->
            <!-- routerLinkActive="active-custom" -->
            <!-- (click)="setActiveClassToSettings()" -->
            <!-- padding-left:15px; -->

            <!-- ROUTING -->
            <li *ngIf="SHOW_SETTINGS_SUBMENU" class="" routerLinkActive="active">
                <a class="customAncor" *ngIf="project" routerLink="project/{{ project._id }}/routing">
                   
                    <span class="sidebar-mini">
                        R 
                    </span>
                   
                    <span class="sidebar-normal">
                        Routing 
                    </span> 
                
                </a>
            </li>

            <!-- USERS (ALIAS MEMBERS) -->
            <li *ngIf="SHOW_SETTINGS_SUBMENU" class="" routerLinkActive="active">
                <a class="customAncor" *ngIf="project" routerLink="project/{{ project._id }}/users">
                   
                    <span class="sidebar-mini">
                        U 
                    </span>
                   
                    <span class="sidebar-normal">
                        {{ 'Users' | translate }} 
                    </span> 
                
                </a>
            </li>

            <!-- GROUPS -->
            <li *ngIf="SHOW_SETTINGS_SUBMENU" class="" routerLinkActive="active">
                <a class="customAncor" *ngIf="project" routerLink="project/{{ project._id }}/groups">
                    
                    <span class="sidebar-mini">
                        G 
                    </span>
                    
                    <span class="sidebar-normal">
                        {{ 'Groups' | translate }} 
                    </span> 
                
                </a>
            </li>

            <!-- FAQ (alias FAQKB) HAS BEEN RENAMED IN BOT (BOT - see above - IS CURRENTLY COMMENTED) -->
            <li *ngIf="SHOW_SETTINGS_SUBMENU" class="" routerLinkActive="active">
                <!-- routerLink="project/{{ project._id }}/faqkb" -->
                <a class="customAncor" *ngIf="project" routerLink="project/{{ project._id }}/bots">
                    <!-- <i class="material-icons">keyboard_arrow_right</i> -->
                    <span class="sidebar-mini">
                        B 
                    </span>
                    <!-- <span class="sidebar-normal">FAQ</span>  -->
                    <span class="sidebar-normal">Bots</span> 
              
                </a>
            </li>
            <!-- NO MORE USED  -->
            <!-- margin-top: 110px -->
            <!-- routerLinkActive="active-custom" -->
            <!-- (click)="setActiveClassToSettings()" -->
            <!-- padding-left:15px; -->
            <li *ngIf="SHOW_SETTINGS_SUBMENU" class="" routerLinkActive="active">
                <a class="customAncor" *ngIf="project" routerLink="project/{{ project._id }}/departments">
                    <!-- <i class="material-icons">keyboard_arrow_right</i> -->
                    <span class="sidebar-mini">
                        D
                    </span>
                    <span class="sidebar-normal">{{ 'Departments' | translate }}</span> 
                    
                    <!-- Departments -->
                    <!-- <p style="padding-left:15px;">Dipartimenti</p> -->
                </a>
            </li>

            <li *ngIf="SHOW_SETTINGS_SUBMENU" class="" routerLinkActive="active">
               
                <!-- routerLink="project/{{ project._id }}/resources" -->
                 <!-- RESOUCES (renamed in in WIDGET) -->
                <a class="customAncor" *ngIf="project" routerLink="project/{{ project._id }}/widget">
                    <span class="sidebar-mini">
                        W
                    </span>
                    <!-- {{ 'Resources' | translate }} -->
                    <span class="sidebar-normal"> Widget </span> 
                </a>
            </li>

            <li *ngIf="SHOW_SETTINGS_SUBMENU" class="" routerLinkActive="active">
                <a class="customAncor" *ngIf="project" routerLink="project/{{ project._id }}/hours">
                    <span class="sidebar-mini">
                        O
                    </span>
                    <span class="sidebar-normal"> 
                        <!-- Hours  -->
                        {{ 'Hours' | translate }}
                    </span> 
                </a>
            </li>

            <!-- // SCRIPT -->
            <!-- <li *ngIf="SHOW_SETTINGS_SUBMENU" class="" routerLinkActive="active">
                <a class="customAncor" *ngIf="project" routerLink="project/{{ project._id }}/script">
                    <span class="sidebar-mini">
                        S
                    </span>
                    <span class="sidebar-normal">Script</span> 
                </a>
            </li> -->

            <!-- /// CHANNELS -->
            <!-- <li *ngIf="SHOW_SETTINGS_SUBMENU" class="" routerLinkActive="active">
                <a class="customAncor" *ngIf="project" routerLink="project/{{ project._id }}/channels">
                    <span class="sidebar-mini">
                        C
                    </span>
                    <span class="sidebar-normal">Channels</span> 
                </a>
            </li> -->

            <!-- <li *ngIf="SHOW_SETTINGS_SUBMENU" class="" routerLinkActive="active" style="" >
                <a routerLink="project/{{ projectid }}/social">
                    <span class="sidebar-mini">
                        S
                    </span>
                    <span class="sidebar-normal">Social</span> 
                </a>
            </li> -->
            
                

            <!-- </span> -->
            <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li> -->
        </ul>

    </div>
</div>

<!-- </span> -->

        <!-- MODAL - LOGOUT WINDOWS -->
        <!-- <div class="backdrop" [ngStyle]="{'display':display}"></div> -->  
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayLogoutModal}" style="background-color: rgba(90,90,90,0.5);">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
        
                    <h4 class="modal-title">
                        Tile Desk Log Out
                        <!-- <code>{{id_toDelete}}</code> -->
                    </h4>
                    </div>
        
                    <div class="modal-body">
    
                        <p style="margin-top: 0px; text-align:center; color:#566787; font-size:16px; font-weight:400 ">
                            Are you sure you want to log out?
                        </p>
                        <p style="margin-bottom:0px; text-align:center;">
    
                            Note that this will not change the status of your availability.
                        </p>
    
    
                    </div>
        
                    <div class="modal-footer" style="text-align: center;">
                        <button class="btn btn-white" (click)="onCloseLogoutModalHandled()" style="padding:12px 16px; font-size:12px ">
                            Cancel
                        </button>    
                        <button class="btn btn-info" (click)="onLogoutModalHandled()" style="padding:12px 16px; font-size:12px ">
                            Log Out
                        </button>
                    </div>
    
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
