<div class="navbar-brand" style="z-index: 1050;position: relative; padding-left:30px"
[ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }">
  <i class="material-icons" style="vertical-align: middle !important; cursor: pointer;" (click)="goBack()">
    keyboard_arrow_left
  </i>
  {{'PreBuiltTilebotBots' | translate}}
  
</div>

<div class="main-content" style="padding-top:0px; background-color: #fff;">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">

        <!-- 1. Blank chatbot, Basic chatbot with start e defaultFallback -->
        <!-- 2. Handoff chatbot, Basic chatbot with start, defaultFallback and Agent handoff intent -->
        <!-- 3. Example chatbot. A chatbot with a showcase of the main features -->

        <h1 class="select-bot-type-page-title">
          {{'ChooseAtemplate' | translate}}
        </h1>
        <h5 class="select-bot-type-page-subtitle">
        {{'TheseArePreBuiltCustomizableTilebot' | translate}} 
   
        </h5>

      </div>
    </div>
    <div class="cards-wpr " style="margin-top: 60px;">
      <div class="row">
        <div class="col-sm-4 nb-card-wpr right">
          <div class="nb-card" (click)="goToCreateBot('blank')">
            <div class="nb-card-header"
              style="background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);">

              <i class="material-icons nb-card-header-icon" style="color: rgb(228,102,102);">
                chat_bubble
              </i>
            </div>
            <div class="nb-card-content-wpr">
              <div class="nb-card-content">

                <p class="nb-card-content-text-wpr">
                  <span style="display: block;"> Blank </span>
                  <span class="nb-card-content-subtitle">
                    Basic chatbot with start and defaultFallback
                  </span>
                </p>

                <span class="nb-card-footer">
                  {{'Create' | translate }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 nb-card-wpr center">
          <div class="nb-card" (click)="goToCreateBot('handoff')">
            <div class="nb-card-header"
              style="background: linear-gradient(150deg, #05d5ff 15%, #53f 70%, #a6ffcb 94%);">

              <i class="material-icons nb-card-header-icon" style="color: rgb(69,187,135);">
                swap_vertical_circle
              </i>
            </div>
            <div class="nb-card-content-wpr">
              <div class="nb-card-content">

                <p class="nb-card-content-text-wpr">
                  <span style="display: block;"> Handoff </span>
                  <span class="nb-card-content-subtitle">
                    Basic chatbot with start, defaultFallback and Agent handoff intent
                  </span>
                </p>

                <span class="nb-card-footer">
                  {{'Create' | translate }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 nb-card-wpr left">
          <div class="nb-card" (click)="goToCreateBot('example')">
            <div class="nb-card-header"
              style="background: linear-gradient(150deg, #a6ffcb 15%, #53f 70%, #05d5ff 94%);">

              <i class="material-icons nb-card-header-icon" style="color: rgb(255,175,56);">
                tips_and_updates
              </i>
            </div>
            <div class="nb-card-content-wpr">
              <div class="nb-card-content">

                <p class="nb-card-content-text-wpr">
                  <span style="display: block;"> Example </span>
                  <span class="nb-card-content-subtitle">
                    A chatbot with a showcase of the main features
                  </span>
                </p>

                <span class="nb-card-footer">
                  {{'Create' | translate }}
                </span>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
