@import "../../assets/sass/md/_variables.scss";

.card-content {
    font-family: 'Poppins';
}

.add-kb-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.close {
    font-size: 30px;
    font-weight: 300;
    margin-top: 0px;
    color: black !important;
}

.modal {
    font-family: 'Poppins';
}

.modal-title {
    font-weight: 500;
}

.info-container {
    display: flex;
    flex-direction: row;
    padding: 12px 15px;
    border-radius: 4px;
    background-color: #d7ebfa6e;

    .info-icon {
        margin-right: 8px;
        font-size: 20px;
    }

    p {
        margin-bottom: 0px;
    }

}

.kb-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #c2c2c2;
    border-radius: 12px;
    padding: 2px 10px;
    background: linear-gradient(rgba(239, 245, 246, 0.64) 0%, rgb(238, 244, 246) 100%), rgb(255, 255, 255);
    box-shadow: rgb(212, 217, 230) 0px 1px 0px;

    p {
        font-size: 12px;
        margin-bottom: 0px;
        color: rgb(98, 119, 140);
    }

    .material-icons-round {
        font-size: 20px;
        margin-right: 8px;
        color: rgb(98, 119, 140);
    }
}

.form-container {

    margin-top: 12px;
    margin-bottom: 12px;

    .input-container {
        margin-bottom: 14px;
    }

    .input-label {
        font-weight: 400;
        // letter-spacing: 0.5px;
    }

    .custom-input {
        width: 100%;
        height: 37px;
        border-radius: 6px;
        border: 2px solid #c6cdd4;
        padding: 0px 15px;
        color: #22272d;
        line-height: 35px;
        font-weight: 400;
        // letter-spacing: 0.5px;

        &.invalid {
            border: 2px solid red !important;
            outline: 0px solid red !important;
            transition: border 0.3s;
        }
    }
}

.modal-footer {

    padding: 18px;

    button {
        border-radius: 6px;
    }

    button#addkb-btn {
        margin-left: 10px;
    }
}

.status-icon#done {
    margin-top: 5px;
    color: #18e32c;
}

.status-icon#cached {
    margin-top: 5px;
    color: #62778c;
    ;
}

.status-icon#close {
    margin-top: 5px;
    color: #f44336;
}

td {
    .title {
        margin-bottom: 0px;
        font-weight: 500;
    }

    .subtitle {
        margin-bottom: 0px;
        ;
        font-size: 12px;
        color: #727272;
    }

    .btn-action {
        padding: 0 4px;
        margin: 0px;
    }

    .btn .material-icons {
        font-size: 18px;
        top: 0px;
    }
}

.icon-btns-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .icon-btn {
        display: flex;
        margin-right: 4px;

        &:hover {
            cursor: pointer;
        }
    }

    .btn-play {
        color: $brand-primary;
        margin-right: 6px;

        .material-icons-round {
            font-size: 28px;
        }
    }

    .btn-edit {
        color: $brand-primary;
        margin-right: 6px;

        .material-icons-round {
            font-size: 22px;
            margin-bottom: 2px;
        }
    }

    .btn-close {
        color: #f44336;
    }
}

.preview-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //background-color: #006cff;
    color: white;
    border: none;
    padding: 4px 12px 4px 8px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 13px;
    color: rgb(98, 119, 140);
    background: linear-gradient(rgba(239, 245, 246, 0.64) 0%, rgb(238, 244, 246) 100%), rgb(255, 255, 255);
    box-shadow: rgb(212, 217, 230) 0px 1px 0px;

    .material-icons {
        font-size: 19px;
    }

    &:hover {
        background: linear-gradient(rgba(239, 245, 246, 0.851) 0%, rgb(225, 241, 246) 100%), rgb(255, 255, 255);
    }
}

// .preview-button {
//     display: inline-block;
//     //transition: background-color 0.15s ease 0s, color 0.15s ease 0s;
//     cursor: pointer;
//     //animation: 0.15s ease 0s 1 normal none running fadein, 0.15s ease 0s 1 normal none running moveinleft;
//     box-sizing: border-box;
//     min-width: 22px;
//     height: 22.4px;
//     margin-top: -4px;
//     margin-bottom: -4px;
//     padding-right: 8px;
//     padding-left: 8px;
//     font-weight: 600;
//     font-size: 12px;
//     line-height: 24px;
//     text-align: center;
//     border-radius: 5px;
//     // color: #61778c;
//     color: rgb(98, 119, 140);
//     background: linear-gradient(rgba(239, 245, 246, 0.64) 0%, rgb(238, 244, 246) 100%), rgb(255, 255, 255);
//     box-shadow: rgb(212, 217, 230) 0px 1px 0px;
// }


.fake-input {
    height: 37px;
    border-radius: 6px;
    border: solid 2px #c6cdd4;
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: text;

    .fake-input-inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    input {
        height: 32px;
        width: 100%;
        border: transparent;
    }

    .input-bold {
        font-weight: 400;
    }

    .enter-button {
        display: none;
        transition: background-color 0.15s ease 0s, color 0.15s ease 0s;
        cursor: pointer;
        animation: 0.15s ease 0s 1 normal none running fadein, 0.15s ease 0s 1 normal none running moveinleft;
        box-sizing: border-box;
        min-width: 22px;
        height: 22.4px;
        margin-top: -4px;
        margin-bottom: -4px;
        padding-right: 8px;
        padding-left: 8px;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        border-radius: 5px;
        // color: #61778c;
        color: rgb(98, 119, 140);
        background: linear-gradient(rgba(239, 245, 246, 0.64) 0%, rgb(238, 244, 246) 100%), rgb(255, 255, 255);
        box-shadow: rgb(212, 217, 230) 0px 1px 0px;
    }

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes moveinleft {
        0% {
            transform: translate(16px);
        }

        100% {
            transform: translate(0px);
        }
    }
}


.answer {
    min-height: 37px;
    max-height: 37px;
    border-radius: 6px;
    border: solid 2px #c6cdd4;
    padding: 6px 12px;
    cursor: text;
    overflow: hidden;
    transition: max-height 0.5s ease-out;

    .answer-title {
        margin-bottom: 0px;
        font-size: 12px;
        font-weight: 600;
        color: rgb(98, 119, 140) !important;
    }
}

.answer-active {
    max-height: 300px;
    overflow-y: scroll;
}

::ng-deep .custom-spinner {
    .sk-fading-circle {
        width: 20px !important;
        height: 20px !important;
        margin: 0px !important;
    }

    .sk-fading-circle .sk-circle:before {
        background-color: rgb(98, 119, 140) !important;
    }

}

table {
    margin-bottom: 6px;
}

.counter-box {
    padding: 0px 8px;

    p {
        font-size: 12px;
        color: #ababab;
    }
}

.animated-icon {
    animation: rotate 1.5s linear infinite;
    animation-direction: reverse !important;
}

::ng-deep .custom-mat-tooltip {
    background-color: #2d323e !important;
    font-size: 12px !important;
    border-radius: 2px !important;
    font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #fff !important;
  }

.show-hide-button {
    cursor: pointer;
    display: flex;

    .material-icons-outlined {
        font-size: 20px;
        color: grey;
    }

    &:hover {
        .material-icons-outlined {
            font-size: 20px;
            color: black;
        }
    }
}

.bold {
    font-weight: 500;
}

.contat-us-no-chat-gpt {
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: 6px;
}

.contact-us-via-email {
    color: #2196f3;
    cursor: pointer;
}

.contact-us-via-email:hover {
    text-decoration: underline;
}

.kb-question-text {
    margin-top: 18px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
}
