@import url(https://fonts.googleapis.com/css?family=Google+Sans);

.boxdays{
    height: 33px; 
    border: 1px solid grey;
    font-family: 'Google Sans', sans-serif !important;
    font-size:18px;
}