@import url(https://fonts.googleapis.com/css?family=Google+Sans);

.boxdays{
    margin-top: 20px; 
    background-color: white; 
    border-radius: 5px;
    border-color: blue;
    border-spacing: 2px;
    font-family: 'Google Sans', sans-serif !important;
    font-size:18px;
}