<div class="header">

    <div class="signup">
        <a href="https://openai.com/" target="_blank">{{ 'Integration.Signup' | translate }}</a><p [innerHTML]="'Integration.FreeAccount' | translate: translateparams"></p>
    </div>
    <!-- <p><a href="https://openai.com/" target="_blank">Sign up</a> for a free <b>OpenAI</b> account!</p> -->

    <div *ngIf="isVerified === true" class="status">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
            <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1"
                cy="65.1" r="62.1" />
            <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
        </svg>
        <p class="success">{{ 'Integration.Verified' | translate }}</p>
    </div>

    <div *ngIf="isVerified === false" class="status">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
            <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1"
                cy="65.1" r="62.1" />
            <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
                stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
            <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
                stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
        </svg>
        <p class="error">{{ 'Integration.Failed' | translate }}</p>
    </div>
</div>

<div class="content">

    <div class="input-field">
        <label>Api Key</label>

        <div class="password-input">
            <input id="api-key-input" type="password" placeholder="{{ 'Integration.YourApikey' | translate }}"
                [(ngModel)]="integration.value.apikey">
            <div class="show-hide-button">
                <span *ngIf="keyVisibile === false" class="material-icons-outlined"
                    (click)="showHideKey()">visibility</span>
                <span *ngIf="keyVisibile === true" class="material-icons-outlined"
                    (click)="showHideKey()">visibility_off</span>
            </div>
        </div>

    </div>

    <div class="input-field">
        <label>{{ 'Integration.OrganizationOptional' | translate }}</label>
        <input class="custom-input" type="text" [(ngModel)]="integration.value.organization"
            placeholder="{{ 'Integration.YourOrganization' | translate }}">
    </div>

    <div class="footer">
        <button class="custom-primary-button" (click)="saveIntegration()">{{ 'Integration.Save' | translate }}</button>
        <button *ngIf="integration._id" class="custom-danger-button" (click)="deleteIntegration()">{{ 'Integration.Delete' | translate }}</button>
        <button *ngIf="!integration._id" class="custom-danger-button" (click)="resetValues()">{{ 'Integration.Clear' | translate }}</button>
        <!-- <button class="custom-danger-button" (click)="deleteIntegration()" [disabled]="integration == null">Delete</button> -->
    </div>

</div>

<!-- <div class="fake-input">
            <div class="fake-input-innter">
                <input class="custom-input" type="password" [(ngModel)]="openai_integration.apikey" placeholder="Your api key" autocomplete="off">
                <div class="show-hide-button" (click)="showHideSecret()">
                    <span class="material-icons-outlined">visibility_off</span>
                </div>
            </div>
        </div> -->

        <!-- <div class="fake-input">
            <div class="fake-input-inner">
                <input *ngIf="gptkeyVisible" id="gptkey-key" class="input-bold" type="text" autocomplete="off"
                    placeholder="Your api key" [(ngModel)]="openai_integration.apikey">
                <input *ngIf="!gptkeyVisible" value="••••••••••••••••••••••••••••" style="font-size: 30px;" disabled>
                <div class="show-hide-button" (click)="showHideSecret()">
                    <span *ngIf="gptkeyVisible" class="material-icons-outlined">visibility_off</span>
                    <span *ngIf="!gptkeyVisible" class="material-icons-outlined">visibility</span>
                </div>
            </div>
        </div> -->
        <!-- <div class="password-input">
            <input class="custom-input" type="password" [ngModel]="openai_integration.apikey" placeholder="Your api key">
            <div class="show-hide-button">
                <span class="material-icons">visibility</span>
                <span class="material-icons">visibility_off</span>
            </div>
</div> -->