p {
  margin-bottom: 0px;
}

.header {
  border-bottom: solid 1px #e0e0e0;
  padding: 12px 12px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  
  .signup {
    display: flex;

    p {
      margin: 0 0 0 5px;
    }
  }

  .status {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content {
  padding: 20px;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;

  label {
    color: black;
    font-size: 12px;
    font-weight: 500;
  }
}

.custom-input {
  padding: 8px;
  border-radius: 8px;
  border: solid 1px #e0e0e0;
  max-width: 500px;
}

.password-input {
  display: flex;
  max-width: 500px;
  border-radius: 8px;
  border: solid 1px #e0e0e0;
  padding: 8px;
  height: 38px;

  input {
    width: 100%;
    border: none;
    background: none;
  }
}

.show-hide-button {
  cursor: pointer;
  display: flex;

  .material-icons-outlined {
    font-size: 20px;
    color: grey;
  }

  &:hover {
    .material-icons-outlined {
      font-size: 20px;
      color: black;
    }
  }
}

.footer {
  border: none !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.custom-primary-button {
  color: white;
  min-width: 80px;
  background: #3ea9f5;
  border: none;
  border-radius: 6px;
  height: 30px;
  font-weight: 500;
  padding: 0px 8px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.custom-danger-button {
  color: white;
  min-width: 80px;
  background: #ff6671;
  border: none;
  border-radius: 6px;
  height: 30px;
  font-weight: 500;
  padding: 0px 8px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

svg {
  width: 14px;
  //display: block;
  //margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;

  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }

  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }

  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }
}

p {
  //text-align: center;
  //margin: 20px 0 60px;
  font-size: 14px;
  margin: 1px 0px 0px 4px;

  &.success {
    //   color: #73AF55;
    color: black;
  }

  &.error {
    //   color: #D06079;
    color: black;
  }
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}