p {
  margin-bottom: 0px;
}

.header {
  border-bottom: solid 1px #e0e0e0;
  padding: 12px 12px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  
  .signup {
    display: flex;
    font-size: 14px;
    p {
      margin: 0 0 0 5px;
    }
  }

   .signup a {  
        text-decoration: none;
        &:hover { 
        text-decoration: underline;
       }
    }

  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
}

.content {
  padding: 20px;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;

  label {
    color: #7695a5;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 2px;
  }
}

.custom-input {
   padding: 0 8px;
    border-radius: 5px;
    border: solid 1px #d9d9d9;
    max-width: 500px;
    font-size: 14px;
    font-weight: 300;
    font-size: 14px;
    height: 36px;
}

.password-input {
   display: flex;
    max-width: 500px;
    border-radius: 5px;
    border: solid 1px #d9d9d9;
    height: 36px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff !important;
    color: #000000de;
    font-weight: 300;
    font-size: 14px;

  input {
    width: 100%;
    border: none;
    background: none;
     font-weight: 300;
  }
}

.show-hide-button {
  cursor: pointer;
  display: flex;

  .material-icons-outlined {
    font-size: 20px;
    color: grey;
    vertical-align: middle;
  }

  &:hover {
    .material-icons-outlined {
      font-size: 20px;
      color: #333;
    }
  }
}

.integration-footer {
  border: none !important;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  max-width: 500px;
  gap: 12px;
}

// .integration-footer > .btn-tdblu-no-boxshadow {
//   margin-right: 8px;
// }

.custom-primary-button {
  color: white;
  min-width: 80px;
  background: #3ea9f5;
  border: none;
  border-radius: 6px;
  height: 30px;
  font-weight: 500;
  padding: 0px 8px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.custom-danger-button {
  color: white;
  min-width: 80px;
  background: #ff6671;
  border: none;
  border-radius: 6px;
  height: 30px;
  font-weight: 500;
  padding: 0px 8px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.status > svg {
  width: 20px;
  //display: block;
  //margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;

  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }

  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }

  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }
}

p {
  //text-align: center;
  //margin: 20px 0 60px;
  font-size: 14px;
  margin: 1px 0px 0px 4px;

  &.success {
    //   color: #73AF55;
    color: black;
  }

  &.error {
    //   color: #D06079;
    color: black;
  }
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}