.home-news-feed {
    // margin-left: -15px;
    // padding-right: 6px;
    // padding-left: 6px;
    // margin-right: -15px;
}

.news-wrapper {
    // max-width: 1100px;
    width: 100%;
    position: relative;
    // height: 180px;
    height: 316px;
}
.news-wrapper i {
    top: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    text-align: center;
    line-height: 37px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px #0000003b;
    transform: translateY(-50%);
    transition: transform .1s linear;
    z-index: 999;
}
.news-wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}
.news-wrapper i:first-child {
    left: -22px;
}
.news-wrapper i:last-child {
    right: -22px;
}
.news-wrapper .carousel {
    // display: grid;
    // grid-auto-flow: column;
    // grid-auto-columns: calc((100% / 3) - 12px);
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.no-transition {
    scroll-behavior: auto;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .news-card {
    cursor: grab;
    user-select: none;
}
.carousel :where(.news-card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .news-card {
    scroll-snap-align: start;
    // height: 342px;
    height: auto;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 0px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    margin-top: 6px;
    margin-bottom: 6px;
    width: 270px;
    min-width: 270px;
}
.carousel .news-card .img {
    // background: #8b53ff;
    height: 148px;
    // width: 148px;
    width: 100%;
    // border-radius: 50%;
}
.news-card .img img {
    // width: 140px;
    // height: 140px;
    width: 100%;
    // border-radius: 50%;
    object-fit: cover;
    // border: 4px solid #fff;
    border-top-left-radius: 8px;
    position: relative;
    top: -3px;
    border-top-right-radius: 8px;
    transition: all 0.4s ease-in-out;
}
.carousel .news-card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 5px 5px 5px;
    font-family: Poppins,Roboto,Arial,sans-serif;
    height: 48px;
}
.carousel .news-card div {
    color: #6a6d78;
    font-size: 1.31rem;
    width: 100%;
    // padding: 0px 15px;
}
.carousel .news-card span { 
    position: absolute;
    top: -12px;
    z-index: 8;
    left: 25px;
}

.news-link {
    text-align: center;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 14px !important;
    cursor: pointer;
    color: #0566ff !important;
}

.news-tag {
    position: relative;
    // height: 26px;
    // padding-top: 4px !important;
    // padding-left: 15px;
    // background: #fff;
    // border-radius: 0 100% 0 0;
    // top: -26px;
}

// .news-card:hover .news-card .img img {
//     transform: scale(1.1);
// }
.carousel .news-card:hover { 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
}
// .news-card:hover .news-link {
//     font-size: 16px;
    
// }
@media screen and (max-width: 900px) {
    .news-wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (max-width: 600px) {
    .news-wrapper .carousel {
        grid-auto-columns: 100%;
    }
}
