.home-news-feed {
    // margin-left: -15px;
    // padding-right: 6px;
    // padding-left: 6px;
    // margin-right: -15px;
}
.home-news-feed-title {
    color: var(--blue-light);
    font-weight: 400;
    font-size: 24px;
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
    padding-bottom: 8px;
    padding-top: 8px;
}

.home-news-feed-subtitle {
    color: rgb(100,116,139);
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
    padding-bottom: 8px;
}

.news-wrapper {
    // max-width: 1100px;
    width: 100%;
    position: relative;
    // height: 180px;
    height: 316px;
}
.news-wrapper i {
    top: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    text-align: center;
    line-height: 37px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px #0000003b;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 999;
}
.news-wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}
.news-wrapper i:first-child {
    left: -12px;
}
.news-wrapper i:last-child {
    right: -12px;
}
.news-wrapper .news-feed-carousel {
    // display: grid;
    // grid-auto-flow: column;
    // grid-auto-columns: calc((100% / 3) - 12px);
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.news-feed-carousel::-webkit-scrollbar {
    display: none;
}
.news-feed-carousel.no-transition {
    scroll-behavior: auto;
}
.news-feed-carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.news-feed-carousel.dragging .news-card {
    cursor: grab;
    user-select: none;
}
.news-feed-carousel :where(.news-card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-feed-carousel .news-card {
    scroll-snap-align: start;
    // height: 342px;
    height: auto;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 0px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    margin-top: 24px;
    margin-bottom: 24px;
    width: 270px;
    min-width: 270px;
}
.news-feed-carousel .news-card .img {
    // background: #8b53ff;
    height: 148px;
    // width: 148px;
    width: 100%;
    // border-radius: 50%;
}
.news-card .img img {
    // width: 140px;
    // height: 140px;
    width: 100%;
    // border-radius: 50%;
    object-fit: cover;
    // border: 4px solid #fff;
    border-top-left-radius: 8px;
    position: relative;
    top: -3px;
    border-top-right-radius: 8px;
    transition: all 0.4s ease-in-out;
}
.news-feed-carousel .news-card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 25px 5px 25px;
    font-family: Poppins, Roboto, Arial, sans-serif;
    height: 48px;
    text-align: center;
}
.news-feed-carousel .news-card div {
    color: #6a6d78;
    font-size: 1.31rem;
    width: 100%;
    // padding: 0px 15px;
}
.news-feed-carousel .news-card span {
    position: absolute;
    top: -12px;
    z-index: 8;
    left: 25px;
}

.news-link {
    text-align: center;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 14px !important;
    cursor: pointer;
    color: #0566ff !important;
    font-weight: 400;
    font-family: Poppins,Roboto,Arial,sans-serif;
}

.news-tag {
    position: relative;
    // height: 26px;
    // padding-top: 4px !important;
    // padding-left: 15px;
    // background: #fff;
    // border-radius: 0 100% 0 0;
    // top: -26px;
}

// .news-card:hover .news-card .img img {
//     transform: scale(1.1);
// }
.news-feed-carousel .news-card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
}
// .news-card:hover .news-link {
//     font-size: 16px;

// }
@media screen and (max-width: 900px) {
    .news-wrapper .news-feed-carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (max-width: 600px) {
    .news-wrapper .news-feed-carousel {
        grid-auto-columns: 100%;
    }
}


/*
 * Card ribbon 
 * *********************************** */
.ribbon {
    width: 150px !important;
    height: 150px !important;
    overflow: hidden !important;
    position: absolute !important;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute !important;
    // z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9 !important;
  }
  .ribbon span {
    position: absolute !important;
    display: block !important;
    width: 225px;
    padding: 15px 0 !important;
    background-color: #3498db !important;
    box-shadow: 0 5px 10px rgba(0,0,0,.1) !important;
    color: #fff !important;
    font: 700 18px/1 'Lato', sans-serif !important;
    text-shadow: 0 1px 1px rgba(0,0,0,.2) !important;
    text-transform: uppercase !important;
    text-align: center !important;
  }
  

  /* top right*/
  .ribbon-top-right {
    top: -10px !important;
    right: -10px!important ;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0 !important;
    left: 0 !important;
  }
  .ribbon-top-right::after {
    bottom: 0 !important;
    right: 0 !important;
  }
  .ribbon-top-right span {
    left: -25px !important;
    top: 30px !important;
    transform: rotate(45deg) !important;
  }

//   .news-card::before{
//     position: absolute;
//     content: '';
//     background: #283593;
//     height: 28px;
//     width: 28px;
//   }
  
  .highlighted-card::before{
    position: absolute;
    content: '';
    background: #f18876;
    height: 28px;
    width: 28px;
    top:2rem;
    right:-0.5rem;
    transform : rotate(45deg);
  }

  .highlighted-card::after{
    position: absolute;
    content: 'New';
    top: 3px;
    right: -11px;
    padding: 0.5rem;
    width: 10rem;
    background: #f18876;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  }


  .card-noimage {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .news-description {
    padding: 20px;
    color: #fff!important;
    font-size: 18px!important;
    line-height: 1.3;
    font-family: Poppins,Roboto,Arial,sans-serif;
    font-weight: 400;
  }
  




