@import "./src/assets/sass/cds/_variables.scss";

div.operand-wrp {
    display: flex;
    align-items: center;
    position: relative;

    .material-icons {
        font-size: 43px;
        margin-left: 10px;
        margin-right: 10px;
        color: #8ab4f8;
    }

    div.value-wrp{
        position: relative;
        display: flex;
        
        .flex{
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 8px;
    
            display: flex;
            align-items: center;
            justify-content: center;
    
            .close{
                // height: 16px;
                width: 17px;
                top: -7px;
                right: -7px;
                font-size: 15px;
                border-radius: 50%;
    
                background: white;
                cursor: pointer;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 1;
                &:hover{
                    background: #ecb606;
                    color: white;
                }
            }
    
        }
    
        div.tag{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 8px;
            right: unset;
    
            border-radius: 7px;
            margin: 5px;
            padding: 5px 10px;
            background-color: #ecb606;
            color: white;
    
        }
    }        

    .applay-function-button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        padding: 8px 15px;
        border: 1px solid #c6cdd4;
        border-radius: 4px;
        height: 43px;
        color: #c6cdd4;
        cursor: pointer;
        
        &:hover{
            border-color: white;
            color: white
        }
    }
}

::ng-deep cds-textarea#operand {
    display: flex;
    textarea {
        border: 1px solid rgb(118, 118, 118) !important;
        resize: none !important; 
        padding: 8px 20px !important;

        height: 25px !important;
        min-height: 25px !important;
    }
}