.contacts-wa-broadcast-modal-container {
  padding: 16px;
}

.select-and-btn-wpr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.b-flex-container {
  display: flex;
  width: 100%;
  gap: 16px;
  margin-top: 12px;
}

.b-left-columns-container {
  flex: 1;
  min-width: 0;
  /* allow shrink to enable horizontal scroll */
}

.b-left--columns {
  display: flex;
  flex-direction: column;
  gap: 0px;
  min-width: 0;
  /* allow shrink to enable horizontal scroll */
}

.template-select-label {
  font-family: var(--header-font-family);
  font-weight: 400;
  margin-bottom: 8px;
  color: #333
}





.choose-wa-tmplt-label-and-select-wpr {
  box-shadow: var(--card-elevation);
  border-radius: var(--cl-card-border-radius);
  padding: 16px;
  max-height: fit-content;
  margin-bottom: 12px;
}

.template-params-input-wpr {
  box-shadow: var(--card-elevation);
  border-radius: var(--cl-card-border-radius);
  padding: 16px;
  max-height: fit-content;
  margin-bottom: 16px;
}

.params-section-title {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  font-family: var(--header-font-family);
  margin-bottom: 8px;
  margin-top: 16px;

  // &:first-child {
  //   margin-top: 0;
  // }
}

.params-section-description {
  font-size: 12px;
  color: #666;
  font-family: var(--header-font-family);
  margin-bottom: 12px;
}

.params-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.param-input-wpr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.param-label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 36px;
  width: 36px;
  border: 1px solid #DDD;
  border-radius: 5PX;
}

.param-number-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  // background-color: #0f62ff;
  color: #666;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--header-font-family);
}

.param-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  position: relative;
}

.param-input {
  padding: 8px 4px 8px 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.param-input-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  position: absolute;
  right: 8px;
  pointer-events: none;
}

.param-icon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  pointer-events: auto;

  &:hover {
    color: #0f62ff;
  }
}

.param-phone-icon {
  font-size: 20px;
  color: #666;
}

.b-right-column {
  width: 360px;
  flex-shrink: 0;
  /* prevent it from shrinking */
  box-shadow: var(--card-elevation);
  border-radius: var(--cl-card-border-radius);
  max-height: fit-content;
  min-height: 234px;
}

.preview-template-header {
  padding: 8px;
  font-family: var(--header-font-family);
  background-color: rgb(241, 244, 247);
  height: 40px;
  display: flex;
  align-items: center;
  font-weight: 400;
  border-top-left-radius: var(--cl-card-border-radius);
  border-top-right-radius: var(--cl-card-border-radius);
}

/* Preview */
.preview-container::before {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v4/yb/r/rmr3BrOAAd8.png);
  background-size: 366.5px 666px;
  content: "";
  height: 100%;
  left: 0;
  opacity: .06;
  position: absolute;
  top: 0;
  width: 100%;
}

.preview-container {
  display: flex;
  background-color: #e5ddd5;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  transition: max-height 0.6s;
  justify-content: center;
  position: relative;

  .inner-preview-container {
    padding: 6px 6px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.preview-container-active {
  max-height: 500px;
}

.message-cloud {
  background-color: #fff;
  width: 280px;
  padding: 8px 10px 2px 10px;
  border-radius: 8px;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  position: relative;

  .header-preview {
    color: rgba(0, 0, 0, 0.76);
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    padding-bottom: 8px;

    img {
      max-width: 100%;
      border-radius: 6px;
      animation: fadein 1s;
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .pdf-preview {
      width: 100%;
      height: 100%;
      background-color: #d3dbe5;
      border-radius: 6px;
      padding: 26px;
      display: flex;
      justify-content: center;

      p {
        padding: 10px;
        color: white;
        background-color: #80868b;
        border-radius: 12px;
        width: 70px;
        text-align: center;
      }
    }

    .location-preview {
      width: 100%;
      height: 100%;
      background-color: #d3dbe5;
      border-radius: 6px;
      padding: 26px;
      display: flex;
      justify-content: center;
      background-image: url("https://media.istockphoto.com/id/1306807452/vector/map-city-vector-illustration.jpg?s=612x612&w=0&k=20&c=8efOIy-Ft3trEzeDk3PY2WRjWws8mvKXgkLqCZ2cP5A=");
      background-size: contain;

      p {
        padding: 10px;
        color: white;
        background-color: #80868b;
        border-radius: 12px;
        width: 100px;
        text-align: center;
      }
    }
  }

  .body-preview {
    font-size: 14px;
    color: #282828;
    line-height: 19px;
    font-weight: 400;
  }

  .footer-preview {
    padding-top: 6px;
    color: #00000073;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
  }

  .whatsapp-call-to-action:first-child {
    margin-top: 8px;
  }

  .whatsapp-call-to-action {
    background-color: #fff;
    color: #00a5f4;
    width: 100%;
    height: 40px;
    font-size: 14px;
    text-transform: none;
    border-radius: 0px;
    box-shadow: none;
    padding: 0px;
    margin: 2px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #DADDE1;
  }

  .call-to-action-icon {
    font-size: 16px;
    margin-right: 6px;
  }
}

.message-cloud::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -9px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 16px solid white;
  transform: rotate(52deg);
}

.no-template-selected-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.no-template-selected {
  margin-top: 25px;
  color: #aaa;
  font-weight: 400;
}

.message-cloud-buttons-container {
  width: 280px;
}

.message-cloud-buttons {
  margin: 0 -1.5px;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 283px;
  z-index: 1;
  position: relative;
}

.message-cloud-button {
  margin: 3px 1.5px 0;
  border-radius: 7.5px;
  padding: 6px 7px 8px 9px;
  min-width: calc(50% - 3px);
  height: 36px;
  flex-grow: 1;
  background-color: white;
  color: #00a5f4;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  border: none;
}

.body-preview>span ::ng-deep .template-variable-highlight {
  display: inline-block;
  background: #fff3cd;
  color: #856404;
  font-weight: 600;
  padding: 2px 4px;
  border-radius: 3px;
  border: 1px solid #ffc107;
}

.body-preview>span ::ng-deep .csv-col-label {
  display: inline-block;
  background: #e3e9f6;
  color: #0f62ff;
  font-size: 11px;
  border-radius: 4px;
  padding: 0 4px;
  font-weight: 500;
  font-style: normal !important;
}

.wa-loading-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 18px;
}

.wa-not-installed-title {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.wa-not-installed-desc-wpr {
  display: flex;
  justify-content: center;
  margin: 16px 0px;

}

.wa-not-installed-desc {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  max-width: 400px;
}