// START - CARDS WITH THE COUNTS OF THE REQUESTS: TOTALS SERVED AND UNSERVED

.tiledesk_card_header {
    padding: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 0;
    height: 0 !important;
    position: relative !important;
    top: 24px !important;
}
.card_content_header {
    text-align: right;
}

.card-header_icon {
    background-color: #ffffff !important;
    font-size: 46px;
}

.card_content_header_last_update {
    text-align: right;
    line-height: 22px;
    color: #999999;
    font-size: 12px;
    top: 10px;
    position: relative;
}

.card_content_header_last_update_icons {
    font-size: 16px;
    position: relative;
    top: 4px;
}

.request_count {
    font-size: 72px;
    line-height: 72px;
    font-family: 'Poppins', 'Roboto',  'Arial', sans-serif;

    margin-top: 35px;
}

.request_count_icons {
    font-size: 46px;
    position: relative;
    top: 1px;
    left: -52px;
}

.request_count_footer {
    font-family:'Poppins', 'Roboto',  'Arial', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
}
// END - CARDS WITH THE COUNTS OF THE REQUESTS: TOTALS SERVED AND UNSERVED

.c21-title {
    font-family: 'Poppins', 'Roboto',  'Arial', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
}

.user-img-in-realtime-analytics {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin-right: 15px;
    object-fit: cover;
}
