.modal {
    top: 0;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal-body {
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 0px;
    padding-left: 15px;

    // nk custom
    // min-height:130px
}

.modal-footer {
    // padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    // background-color: #edf0f1;
    background-color: #eeeeee;
    padding-top:10px !important;
}
/* MODAL END */

// #table-wrapper {
//     position:relative;
//   }
//   #table-scroll {
//     height:150px;
//     overflow:auto;  
//     margin-top:20px;
//   }
//   #table-wrapper table {
//     width:100%;
  
//   }
//   #table-wrapper table * {
//     // background:yellow;
//     // color:black;
//   }
//   #table-wrapper table thead th .text {
//     position:absolute;   
//     top:-20px;
//     z-index:2;
//     height:20px;
//     width:35%;
//     background-color: #f9f9f9;
//     // border:1px solid red;
//   }

// table {
//     width: 100%;
// }

/* TABLE LIST OF USERS - IN THE MODAL WINDOWS */
 .thead_table-fixed, .tbody_table-fixed, .tr_table-fixed, .td_table-fixed, .th_table-fixed {
    display: block;
}

.thead_table-fixed, .th_table-fixed {
    height: 40px;
}

.tbody_table-fixed {
    overflow-y: auto;
    
}

.td_table-fixed, .thead_table-fixed,  .th_table-fixed {
    float: left;
    width: 20%;
}

.tr_table-fixed:after {
    clear: both;
    content: ' ';
    display: block;
    visibility: hidden;
}
