<!-- <p style="margin-top:6px; padding-left:30px;position: relative;z-index: 1050;" class="navbar-brand">
  {{ 'Settings' | translate }}
</p> -->

<span class="navbar-brand navbar-brand-sidebar-settings"
  [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }"
  [ngClass]="{'is_opened':IS_OPEN_SETTINGS_SIDEBAR, 'is_closed':!IS_OPEN_SETTINGS_SIDEBAR }">
  <i class="material-icons">settings</i>

  <span *ngIf="IS_OPEN_SETTINGS_SIDEBAR">{{ 'Settings' | translate }} </span>
</span>
<!-- <span class="navbar-brand navbar-brand-title">
  {{ "Groups" | translate }}
</span> -->


<!-- <ul class="bottom-nav">
    <li class="btn-with-border-effect  border-from-center" (click)="goToUsers()">
        <a> {{ "Users" | translate }} </a>
    </li>
    <li class="btn-with-border-effect li-active">
        <a> {{ "Groups" | translate }} </a>
    </li>
</ul> -->

<div class="main-content" style="padding-top:0px; padding-left: 10px;padding-right: 5px;">
  <div class="page-title--sidebar-settings"
    [ngClass]="{'page-title--sidebar-settings_opened':IS_OPEN_SETTINGS_SIDEBAR, 'page-title--sidebar-settings_closed':!IS_OPEN_SETTINGS_SIDEBAR }">
    {{ 'UsersAndGroups' | translate }}
  </div>
  <div class="container-fluid" style="padding-left: 0px;padding-right: 0px; margin-right: -5px;">
    <!-- *** this row to prevent that the two columns in the below row being displayed on two lines -->
    <div class="row"></div>

    <div class="content-wpr" style="display: flex;">

      <appdashboard-settings-sidebar> </appdashboard-settings-sidebar>

      <div class="teplate-content" style="flex: 1 1 auto;">

        <!-- box-shadow: unset  style="top:-9px;"-->
        <ul [ngClass]="{ 'bottom-nav': isAuthorized, 'bottom-nav-fixed': !isAuthorized}">
          <li class="btn-with-border-effect  border-from-center" (click)="goToUsers()">
            <a style="text-transform: capitalize;"> {{ "Teammates" | translate }} </a>
          </li>
          <li class="btn-with-border-effect  border-from-center" (click)="goToUsersRoles()">
            <a style="text-transform: capitalize;"> {{ "Roles" | translate }} </a>
          </li>
          <li class="btn-with-border-effect li-active">
            <a> {{ "Groups" | translate }} </a>
          </li>
        </ul>

        <ng-container *ngIf="permissionChecked">
          <ng-container *ngIf="isAuthorized; else unauthorizedTpl">


            <div class="row group-row" style=" margin-left: 20px;">
              <div class="col-md-8">

                <div class="page-title--wrapper">
                  <div class="title--header">
                    <!-- {{ pageName }} -->
                  </div>
                  <button class="btn btn-tdblu-no-boxshadow pull-right" (click)="goToEditAddPage_create()">
                    {{ "GroupsPage.AddGroup" | translate }}

                  </button>
                </div>
                <div class="card card--no-border group-card">

                  <!-- <div class="card-header card-header-custom-bkgrnd">
                <button class="btn btn-tdblu-no-boxshadow pull-right" (click)="goToEditAddPage_create()">
                  {{ "GroupsPage.AddGroup" | translate }}

                </button>
              </div> -->

                  <loading-spinner *ngIf="showSpinner"></loading-spinner>

                  <div *ngIf="!showSpinner" class="card-content table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>
                            <span class="column-th-span">
                              <!-- Name -->
                              {{ "GroupsPage.Name" | translate }}
                            </span>
                          </th>

                          <!-- <th>
                          <span style="color: #566787">
                            <strong>Id</strong>
                          </span>
                        </th> -->

                          <!-- Creation Date -->
                          <!-- <th>
                          <span style="color: #566787">
                            <strong>
                              {{ "GroupsPage.CreationDate" | translate }} 
                            </strong>
                          </span>  
                        </th> -->

                          <th>
                            <span class="column-th-span">
                              # {{ "GroupsPage.Members" | translate }}
                            </span>
                          </th>

                          <th>
                            <span class="column-th-span">
                              <!-- {{ "GroupsPage.Actions" | translate }} -->
                              {{ "Actions" | translate }}
                            </span>
                          </th>
                        </tr>
                      </thead>

                      <tbody>

                        <!-- IF THERE ISN'T GROUPS-->
                        <tr *ngIf="groupsList && groupsList.length === 0">
                          <td colspan="5" style="text-align: center; padding-top: 16px;">
                            <!-- color: #ff5252   -->
                            <p style="font-size:1em; margin-bottom: 0px; color:#7695a5; font-weight: 400">
                              {{ 'GroupsPage.NoGroups' | translate }}
                            </p>
                          </td>
                        </tr>

                        <tr *ngFor="let group of groupsList | sortBy : 'name'">
                          <!-- *ngIf="!group?.trashed" -->
                          <!-- rel="tooltip" title="{{ group?._id }}" -->
                          <td (click)='goToEditAddPage_edit(group?._id)' style="cursor: pointer;">
                            <span class="tooltipx">
                              <span style="font-weight:400; font-size: 13px"> {{ group?.name }}</span>
                              <span class="tooltiptext">
                                {{ 'GroupsPage.GroupId' | translate }}: <br> {{ group?._id }}
                              </span>
                            </span>
                          </td>

                          <!-- <td>
                    {{ group?._id }}
                  </td> -->

                          <!-- <td>
                    {{ group?.createdAt | date: 'd/M/y'}}
                  </td> -->

                          <td (click)='goToEditAddPage_edit(group?._id)' style="cursor: pointer;">
                            <!-- class="tooltipx" -->
                            <span style="font-weight:400">
                              {{ group?.members.length }}

                              <span *ngIf="group?.members.length === 0"
                                style="padding-left: 8px; position: relative; top: -2px;">
                                <i class="material-icons"
                                  style="vertical-align: middle; color:#ec971f; font-size: 12px">report_problem</i>
                                <span style="vertical-align: middle; color:#ec971f; font-size: 12px">
                                  <!-- pending add members -->
                                  {{ 'GroupsPage.PendingAddMembers' | translate }}
                                </span>
                              </span>

                              <!-- <span class="tooltiptext">{{ 'GroupsPage.GroupId' | translate }}: <br> {{ group?._id }} </span> -->
                            </span>
                          </td>

                          <!-- EDIT / DELETE GROUPS  -->
                          <td class="td-actions text-right" style="padding-top:16px">
                            <!-- Modifica Gruppo -->
                            <button type="button" rel="tooltip" title="{{ 'GroupsPage.tooltipEditGroup' | translate }}"
                              class="btn btn-primary btn-simple btn-xs" (click)='goToEditAddPage_edit(group?._id)'>
                              <i class="material-icons">edit</i>
                            </button>
                            <!-- Elimima Gruppo -->
                            <button type="button" rel="tooltip"
                              title="{{ 'GroupsPage.tooltipDeleteGroup' | translate }}"
                              class="btn btn-danger btn-simple btn-xs"
                              (click)='openDeleteModal(group?._id, group?.name)'>
                              <i class="material-icons">delete</i>
                            </button>
                          </td>

                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
              <!-- /. end col-md-8 -->

              <!-- // RIGHT SIDEBAR -->
              <div class="col-md-4">
                <div class="card card card--no-border">
                  <div class="card-content">
                    <div class="row quick-tips-row" style="margin-top: -25px;">
                      <div class="col-sm-12 col-md-12">
                        <h3 class="card_title__underlined">
                          <span class="card_title__underline">
                            {{ "QuickTips" | translate }}
                          </span>
                        </h3>
                      </div>
                      <div class="col-sm-12 col-md-12">
                        <div class="section-subtitle"> </div>
                      </div>
                    </div>

                    <!-- <h4 class="card-title"
                  style="text-transform: none; color: #566787; font-weight:400; margin-bottom: 15px">
                  {{ "QuickTips" | translate }}
                </h4> -->

                    <p style="color: #7695a5;">
                      <!-- Use groups to organize support teams. -->
                      {{ "GroupsQuickTips1" | translate }}
                      <br>
                      <!-- You can group agents based on skills and assign groups of agents to your departments. -->
                      {{ "GroupsQuickTips2" | translate }}
                    </p>

                    <p *ngIf="hideHelpLink" class="title-attribute" style="margin-bottom: 3px">
                      {{ "RelatedKnowledgeBase" | translate }}
                    </p>
                    <p class="help-link" *ngIf="hideHelpLink">

                      <span>


                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                          fill="none" style="vertical-align: middle;">
                          <path
                            d="M260-320q47 0 91.5 10.5T440-278v-394q-41-24-87-36t-93-12q-36 0-71.5 7T120-692v396q35-12 69.5-18t70.5-6Zm260 42q44-21 88.5-31.5T700-320q36 0 70.5 6t69.5 18v-396q-33-14-68.5-21t-71.5-7q-47 0-93 12t-87 36v394Zm-40 118q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q58 0 113.5 15T480-740q51-30 106.5-45T700-800q52 0 102 12t96 36q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59ZM280-494Z" />
                        </svg>
                      </span>
                      <a (click)="goToGroupsDoc()">

                        {{ 'LearnHowCreateAGroup' | translate }}
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-template #unauthorizedTpl>
            <unauthorized-for-settings></unauthorized-for-settings>

          </ng-template>
        </ng-container>

      </div>
    </div>
  </div>
</div>

<!-- ============= DELETE MODAL ============= -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDeleteModal}"
  style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content custom--modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseDeleteModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title warning">
          <!-- <i class="material-icons" style="vertical-align: middle">report_problem</i> -->
          <span class="modal-header-icon-wpr">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="none">
              <path
                d="m40-120 440-760 440 760H40Zm115.33-66.67h649.34L480-746.67l-324.67 560ZM482.78-238q14.22 0 23.72-9.62 9.5-9.61 9.5-23.83 0-14.22-9.62-23.72-9.61-9.5-23.83-9.5-14.22 0-23.72 9.62-9.5 9.62-9.5 23.83 0 14.22 9.62 23.72 9.62 9.5 23.83 9.5Zm-33.45-114H516v-216h-66.67v216ZM480-466.67Z" />
            </svg>
          </span>
          <span style="vertical-align: middle; padding-left:8px">

            {{ "GroupsPage.DeleteGroup" | translate }}

          </span>
        </h4>

        <!-- <h4 class="modal-title" style="color: #fff; padding-top:10px; font-size: 1.1em;">
          {{ "GroupsPage.TheGroupWithId" | translate }}
          <code>{{ id_group_to_delete }}</code>
          {{ "GroupsPage.WillBeRemoved" | translate }}>
        </h4> -->
      </div>
      <div class="modal-body">
        <p class="modal-body--content">

          {{ "GroupsPage.AreYouSureDeleteGroup" | translate }}

          <span>
            <strong> {{name_group_to_delete}} </strong>
          </span>?

        </p>


      </div>
      <div class="modal-footer">
        <button class="btn btn-gray-no-boxshadow" (click)="onCloseDeleteModal()">

          {{ "Cancel" | translate }}
        </button>
        <button class="btn btn-red" (click)="deleteGroup()">

          {{ "GroupsPage.DeleteGroup" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>



<!-- !!! NO MORE USED - MOVED IN group-edit-add.component -  MODAL ADD MEMBER TO A GROUP -->

<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display_users_list_modal}" style="background-color: rgba(90,90,90,0.5);">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
            <span aria-hidden="true">&times;</span>
          </button>         
          <h4 class="modal-title">
            Add users to the<span style="color: #566787; font-weight: 500; text-transform: uppercase"> {{ group_name }} </span> group
          </h4>    
        </div>

          <div class="modal-body" style="padding-top: 10px; padding-bottom: 0px; padding-right: 15px;">

            <loading-spinner *ngIf="showSpinnerInModal"></loading-spinner>

            <table *ngIf="!showSpinnerInModal" class="table table-fixed table-striped">
              <thead style="color: #f9f9f9">
                <tr class="tr_table-fixed">
                  <th class="th_table-fixed"></th>
                  <th class="th_table-fixed">
                    <span style="color: #566787">
                      <strong>
                        User
                      </strong>
                    </span>
                  </th>
                  <th class="th_table-fixed">
                    <span style="color: #566787">
                      <strong>
                        Role
                      </strong>
                    </span>
                  </th>
                  <th class="th_table-fixed"> 
                    <span class="text" style="color: #566787">
                      <strong>
                        Email
                      </strong>
                    </span>
                  </th>
                  <th class="th_table-fixed"></th>
                </tr>
              </thead>
              
              <tbody class="tbody_table-fixed" style="height: 250px;">
                  
                <tr class="tr_table-fixed" *ngFor="let project_user of projectUsersList" style="overflow-y: auto;">

                  <td class="td_table-fixed" style="text-align: center;">

                    <div class="form-check" *ngIf="!project_user?.is_group_member" >
                      <input type="checkbox" class="form-check-input" style="width: 16px;height: 16px;" value="{{project_user?.id_user?._id}}" 
                      (click)="change(project_user?.id_user?._id)">
                    </div>

                  </td>
                  <td class="td_table-fixed" style="padding-left:10px">
                    {{ project_user?.id_user?.firstname }} {{project_user?.id_user?.lastname}}

                    <p>{{ project_user?.id_user?._id }}  </p>
                  </td>

                  <td class="td_table-fixed" style="padding-left:16px">

                    {{ project_user?.role }} 
                  </td>

                  <td class="td_table-fixed" style="padding-left:16px">

                    {{project_user?.id_user?.email}}
                  </td>

                  <td class="td-actions text-left td_table-fixed" style="padding-top:10px">

                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" (click)='openDeleteModal(faqkb?._id, HAS_FAQ_RELATED=faqkb?.has_faq)'>
                      <i class="material-icons">close</i>
                    </button>
                  </td>

                </tr>
              
              </tbody>
            </table>

          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-white" (click)="onCloseModal()" >
            Annulla
          </button>

          <button type="button" class="btn btn-primary" (click)="onCloseModalHandled()" [disabled]="add_btn_disabled">
            ADD
          </button>
        </div>
  
      </div>

    </div>
 
  </div> -->