.map-container {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-left: 30px;
    height: 60%;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}
  
#map {
    height: 100%;
    margin-top: 0px;
}

.right-side-bar {
  width: 100% !important;
} 

