<!-- // spostare in css -->
<div class="map-right-side-bar" [ngClass]="{'map-right-side-bar-in-panel-mode': SIDEBAR_APPS_IN_CHAT_PANEL_MODE}">

  <div style="border-bottom: 1px solid #eeeeee; background-color: #3c4252!important;
    color: #fff!important; margin-left:-20px; margin-right:-20px; margin-top:-15px">
    <h5
      style="font-weight: 400; text-transform: none; margin-top:0px; font-size: 16px; padding-top: 15px;padding-left: 21px;">
      {{'Map' | translate}}
      <i class="material-icons" style="padding-right: 10px; float: right;cursor:pointer"
        (click)="closeRightSideBar()">close</i>
    </h5>
  </div>

  <div class="map-container"  [ngClass]="{'map-container-in-panel-mode': SIDEBAR_APPS_IN_CHAT_PANEL_MODE}">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>