@import "./src/assets/sass/cds/_variables.scss";

::-webkit-scrollbar {
    width: 0px;
}

#scrollMe {
    scroll-behavior: smooth;
}

.cds-action-content{
    padding: 5px 10px;
}


.content {
    // max-height: calc(100vh - 220px);
    padding: 20px 0px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: auto;
}

.previewContent{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding: 3px 0px;
    
    .title-preview-label{
     color: #6c6859;
     font-size: 12px; 
     margin: 0px;
    }

    .icon-action img{
        height: 16px;
        filter: brightness(0) saturate(100%) invert(42%) sepia(2%) saturate(2720%) hue-rotate(9deg) brightness(91%) contrast(81%);
    }

}

.preview-divider {
    margin: 5px 0px;
    border-top: 2px solid $light-brown;
}

.custom-divider {
    margin-top: 40x;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee1c;
}

.cds-web-request-options {
    margin: 10px 0px;
    display: flex;
    gap: 10px;
    position: relative;
    &.center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cds-rigth{
        // position: absolute;
        // right: 18px;
        // top: -6px;
        .btn{
            padding: 8px 12px;
            margin: 2px 10px;
        }
    }
}

.cds-web-request-row{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.input-group .input-group-addon {
    border: 0;
    background: transparent;
    padding: 6px 0;
}
.cds-input-group {
    // margin: 10px 10px;
    display: flex;
    input {
        border: 0;
        background: #fff;
        margin: 6px 0px 0;
        height: 36px;
        width: 100%;
        padding: 0 10px;
        border-radius: 0px 4px 4px 0px;
    }

}

// .form-control-select {
//     width: 120px!important;
// }
// .form-control-select ::ng-deep .ng-select-container { 
//     cursor: default;
//     display: flex;
//     outline: none;
//     overflow: hidden;
//     position: relative;
//     width: 100%;
//     border-radius: 4px 0px 0px 4px;
//     background: #f2f2f2;
//     font-weight: bold;
// }
// .form-control-select.ng-select-focused ::ng-deep .ng-select-container { 
//     border-color: transparent;
//     border: 1;
//     box-shadow: none;
// }
// .ng-select {
//     position: relative;
//     display: block;
//     box-sizing: border-box;
//     width: 120px;
// }

.add-response { 
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    margin: 0px 2px;
    padding: 0;
    span {
        align-items: center;
        display: flex;
        width: 80px;
        padding: 8px;
        justify-content: center;
        background: $action-item-background;
        color: $action-item-color;
        border-radius: 6px;
        height: 40px;
        font-size: 0.8em;
        border: 1px solid #0F172A;
        font-weight: 400;
        &:hover {
            outline: 2px solid rgba(236,182,6,.6901960784)!important;
        }
        &.cds-action-active {
            outline: 2px solid rgba(236,182,6,.6901960784)!important;
        }
    }
}

.cds-web-request-row-error {
    display: flex;
    font-size: 0.8em;
    line-height: normal;
    border-radius: 4px;
    color: rgb(209, 47, 25);
    background: rgb(251, 227, 228);
    border-color: rgb(251, 194, 196);
    opacity: 1;
    height: 0px;
    padding: 0px;
    margin: 0px;
    span{
        line-height: normal;
        min-height: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    &.center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &.json-error-yes {
        transition-delay: 0s;
        transition: all 0.3s;
        height: auto;
        padding: 10px;
        margin: 10px 0px;
    } 
}


/** CSS textarea */
.text-editor-wrapper {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    //height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.field-box {
    display: flex;
    flex-direction: column;
    // width: 70%;
    // min-width: 90px;
    // gap: 10px;
}

.title-label {
    color: white;
    font-size: 14px;
    margin-bottom: 6px;
}

.material-icons {
    color: #ecb606b0;
    font-size: 18px;
}

cds-select#method ::ng-deep{
    // padding: 6px 0;
    min-width:120px;
    .ng-select-container{
        height: 37px;
        border-radius: 8px 0px 0px 8px;
        border: 1px solid rgb(118, 118, 118) !important;
    }
}

// cds-textarea#assignTo ::ng-deep {
//     display: flex;
//     textarea {
//         border: 1px solid rgb(118, 118, 118) !important;
//         resize: none !important; 
//         padding: 8px 20px !important;
//         height: 25px !important;
//         min-height: 25px !important;
//     }
// }

cds-textarea#url ::ng-deep {
    display: flex;
    width: 100%;
    // padding: 6px 0px 0px 0;
    textarea {
        border: 1px solid rgb(118, 118, 118) !important;
        border-radius: 0px 8px 8px 0px;
        resize: none !important; 
        padding: 6px 16px !important;

        height: 23px !important;
        min-height: 23px !important;
    }
}

cds-textarea#body.jsonError ::ng-deep {
    textarea {
        border: 1px solid red !important;
    }
}

/** button TOOGLE */
mat-button-toggle-group ::ng-deep{
    border: unset;
    border-radius: 0px;
}

mat-button-toggle{
    background-color: transparent;
    border: none;
    color: #abadaf;
    border-bottom: 2px solid transparent;

    &.mat-button-toggle-checked{
        border-color: white;
        color: white;
    }
    
    &.mat-button-toggle+mat-button-toggle.mat-button-toggle{
        border-left: none;
    }

    &::ng-deep .mat-button-toggle-label-content {
        line-height: 36px;
    }

    
}

div.value-wrp {
    min-height: 50px;
}


.condition-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 3px 0px;
}

.condition-text {
    font-size: 14px;
    font-weight: 600;
    color: white;
}