@import "./src/assets/sass/cds/_variables.scss";

::ng-deep{

    
    .ng-dropdown-panel .ng-dropdown-panel-items {
        .ng-option{
            display: flex;
            align-items: center;
            gap: 10px;
    
            span.material-icons{
                font-size: 20px;
                padding: 0px 4px;
                color: $icon-color;

                &.intent-start{
                    color: #0aae10;
                }
                &.intent-defaultFallback{
                    color: #ff4000
                }
            }
            
            span.label-select {
                margin-right: 4px;
            }

            span.label-select-option {
                color: #a8a8a8;
            }

            span.description {
                width: 80%;
                font-size: 12px;
                margin-bottom: 0px;
                color: #a8a8a8;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &.ng-option-marked {
                background-color: rgba(#545454, .23) !important;
            }

            &.ng-option-selected{
                background-color: rgba(#545454, .43) !important;

                span.label-select-option {
                    color: #848484;
                }

                span.description {
                    color: #848484;
                }
            }
            
        }
    }

    .ng-select .ng-select-container {
        .ng-value {
            display: flex;
            align-items: center;
            gap: 10px;
    
            span.material-icons{
                font-size: 20px;
                padding: 0px 4px;
                color: $icon-color;

                &.intent-start{
                    color: #0aae10;
                }
                &.intent-defaultFallback{
                    color: #ff4000
                }
            }
            
            span.label-select {
                margin-right: 4px;
            }

            span.label-select-option {
                color: #a8a8a8;
            }
        }

        .ng-clear-wrapper{
            height: 17px;
            width: 17px;
        }

    } 
}