// @import url(https://fonts.googleapis.com/css?family=Google+Sans);



.tiledesk_card_header {
    padding:0px !important; 
    -webkit-box-shadow:none !important;  
    box-shadow: none !important; 
    width: 0;height: 0 !important;
    position: relative !important;
    top: 24px !important;
}
.card_content_header {
    text-align: right
}

.card-header_icon {
    background-color: #ffffff !important; 
    font-size: 46px;
}

.card_content_header_last_update{
    text-align: right;
    line-height: 22px;
    color: #999999;
    font-size: 12px;
    top: 10px;
    position: relative;
}

.card_content_header_last_update_icons {
    font-size: 16px; 
    position: relative; 
    top: 4px;

}

.request_count {
    font-size: 72px;
    line-height: 72px;
    font-family: 'Poppins','Roboto', 'Arial', sans-serif;

    margin-top: 35px;
}

.request_count_icons {
    font-size: 46px;
    position: relative;
    top: 1px;
    left: -52px;
}

.request_count_footer {
    font-family:'Poppins','Roboto', 'Arial', sans-serif;
    font-size: 16px;
    color:rgba(0,0,0,.54); 
    text-align: center;
}
// END - CARDS WITH THE COUNTS OF THE REQUESTS: TOTALS SERVED AND UNSERVED

.c21-title {
    font-family: 'Poppins','Roboto', 'Arial', sans-serif;
    font-size: 16px;
    color:rgba(0,0,0,.54); 
}

.card-header-custom {
    box-shadow: none!important;
    margin-left: 0px; 
    margin-right: 0px; 
    border-bottom: 1px solid #eff3f5
}

.carousel{
    overflow:hidden;
    width:100%;
}
.slides{
    list-style:none;
    position:relative;
    width:500%; /* Number of panes * 100% */
    overflow:hidden; /* Clear floats */
        /* Slide effect Animations*/
    -moz-animation:carousel 30s infinite;
    -webkit-animation:carousel 30s infinite;
    animation:carousel 30s infinite;
}
.slides > li{
    position:relative;
    float:left;
    width: 20%; /* 100 / number of panes */
}
.carousel img{
    display:block;
    width:100%;
    max-width:100%;
}
.carousel h2{
    margin-bottom: 0;
    font-size:1em;
    padding:1.5em 0.5em 1.5em 0.5em;
    position:absolute;
    right:0px;
    bottom:0px;
    left:0px;
    text-align:center;
    color:#fff;
    background-color:rgba(0,0,0,0.75);
    text-transform: uppercase;
}

@keyframes carousel{
    0%    { left:-5%; }
    11%   { left:-5%; }
    12.5% { left:-105%; }
    23.5% { left:-105%; }
    25%   { left:-205%; }
    36%   { left:-205%; }
    37.5% { left:-305%; }
    48.5% { left:-305%; }
    50%   { left:-405%; }
    61%   { left:-405%; }
    62.5% { left:-305%; }
    73.5% { left:-305%; }
    75%   { left:-205%; }
    86%   { left:-205%; }
    87.5% { left:-105%; }
    98.5% { left:-105%; }
    100%  { left:-5%; }
}

.center-div {
    position: absolute;
    margin: auto;
    // top: 0;
    right: 0;
    // bottom: 0;
    left: 0;
    width: 100%;
    height: 330px;
    background-color: #ccc;
    border-radius: 3px;
  }


 
//   ----------------------
  .section {
    position: relative;
    
  }
  
  .section img {
      position: absolute;
  }
  
  .top {
      animation-name: fade;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 8s;
      animation-direction: alternate;
  }
  
  @keyframes fade {
      0% {
          opacity: 1;
          
      }
      25% {
          opacity: 1;
      }
      75% {
          opacity: 0;
      }
      100% {
          opacity: 0;
      }
  }

//   .bottom {
//     animation: hidefromleft 5s;
// }

// @keyframes hidefromleft {
//     0% {right: 0; display: none; opacity: 1;}
//     50% {right: -300px; opacity: 0}
//     100% {opacity: 1; display: block;}
// }

.ct-label {
    // font-size: 15px !important;
    // color: rgb(33, 89, 104) !important;
    color: #1e88e5 !important;
    font-weight:400;
    // color: rgba(255, 255, 255, 1) !important;
}

.ct-line { 
    stroke: rgba(30, 136, 229, 0.7) !important;
   
}
.ct-series-a .ct-point {
    stroke: rgba(30, 136, 229, 0.8) !important;
}

.ct-grid {
    stroke: rgba(30, 136, 229, 0.5) !important;
}


.outline-btn-analytics {
    background-color: transparent;
    color: #1e88e5;
    border-radius: 40px;
    padding: 18px 36px;
    line-height: 1.33em;
    border: 2px solid #1e88e5;
    font-weight: 500;
    font-size: 14px;
}

.outline-btn-analytics:hover {
    color: #fff;
    background-color:  #1e88e5;
} 

.outline-btn-analytics {
    background-color: transparent;
    color: #1e88e5;
    border-radius: 40px;
    padding: 18px 36px;
    line-height: 1.33em;
    border: 2px solid #1e88e5;
    font-weight: 500;
    font-size: 14px;
}

.outline-btn-analytics:hover {
    color: #fff;
    background-color:  #1e88e5;
}



// .demopage-title {
//     margin-top:10px; 
//     margin-bottom:5px; 
//     font-family:'Poppins','Roboto', 'Arial', sans-serif; 
//     text-align:center; 
//     color: #1e88e5;
//     line-height: 41px;
//     font-weight: 400;
// }

// .demopage-subtitle {
//     margin-top: 5px !important;
//     font-family:'Poppins','Roboto', 'Arial', sans-serif; 
//     text-align:center;
// }

  // to 992 
@media (max-width: 992px) {
    .left-div-padding  {
        padding-top:10px;
    }

}

@media (min-width:992px) {
    .col-container {       
        display: flex;
        // display: table;
    }

    .left-side-in-col-container {
        float: none;
        // display: table-cell;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .right-side-in-col-container {
        float: none;
        display: table-cell;
    }
}


@media (min-width:992px)  and (max-width: 1340px){ 

    .left-side-in-col-container {
        width: 35% !important;
    }

    .right-side-in-col-container {
        width: 65% !important;
    }

    .demopage-title {
        font-size: 3rem !important;
    }

    .demopage-subtitle {
        font-size: 1.5em !important;
    }
    
}

