<!-- [ngClass]="{'intent-two-columns-wpr': displayActions, 'intent--column-wpr':  !displayActions}" -->
<div id="panel-intent-content">
    <!-- [ngClass]="{'intent--two-columns': displayActions, 'intent--column': !displayActions}" -->
    <div>
        <div class="button-intent" (click)="onSelectQuestion()"
            [ngStyle]="{'border':question ? '0.1em solid #d2d2d2' : '0.1em  dashed #d2d2d2' }"
            [ngClass]="{'button-intent-active': HAS_SELECTED_QUESTION }">
            <span class="material-icons ">
                question_mark
            </span>
            <span> Question </span>
        </div>

        <!-- <div class="button-intent" (click)="displayForm()"
            [ngStyle]="{'border':formSize > 0 ? '0.1em solid #d2d2d2' : '0.1em  dashed #d2d2d2' }"
            [ngClass]="{'button-intent-active': HAS_SELECTED_FORM }">
            <span class="material-icons">
                list_alt
            </span>
            <span> Form </span>
        </div> -->

        
        <!-- <div [ngStyle]="{'border':actions?.length > 0 ? '0.1em solid #d2d2d2' : '0.1em  dashed #d2d2d2' }"
            [ngClass]="{'actions-btn-active': displayActions}" class="button-intent"
            (click)="toggleActions(displayActions = !displayActions) ">
            <span class="material-icons">
                bolt
            </span>

            <span> Actions ({{actions?.length}}) </span>
        </div> -->
        <div class="header__center" *ngIf="actions && actions?.length > 0">Actions</div>

    </div>
    <!-- [ngClass]="{'intent--two-columns': displayActions, 'intent--column': !displayActions}" -->

    <!-- ------------------------ -->
    <!-- @ Form -->
    <!-- ------------------------ -->
    <!-- 'action-box-exist-form': formSize > 0, -->
    <div class="action--list-form">
        <div class="action--box-form"
            [ngClass]="{'action-box-no-form': formSize === 0,  'cds-action-active': HAS_SELECTED_FORM }"
            (click)="displayForm()">
            <div class="action-wpr" [ngClass]="{'action-wpr-exist-form': formSize > 0}">
                <div class="cds-action-icon-wpr">
                    <span class="material-icons" style="font-size: 18px;">
                        list_alt
                    </span>
                </div>
                <div class="cds-action-name-wpr">
                    Form
                </div>
                <div class="cds-action-arrow">
                    <span class="material-icons" [ngStyle]="{'color': formSize > 0 ? '#d2e3fc' : '#9aa0a6' }">
                        keyboard_backspace
                    </span>
                </div>

            </div>
        </div>
    </div>

    <!-- ------------------------ -->
    <!-- @ Actions -->
    <!-- ------------------------ -->
    <!-- [ngStyle]="{'margin-top': action._tdActionTitle && firstItem ? '25px' : '7px' , }" 
       'action-box-in-list-exist-form': formSize > 0 && firstItem, -->
    <div class="action-list-wpr" *ngIf="actions && actions?.length > 0">
        <div cdkDropList class="action--list" (cdkDropListDropped)="drop($event)">
            <div id="action_{{i}}" class="action--box" [ngSwitch]="action._tdActionType"
                [ngClass]="{
                'action--box-first-no-title': !action._tdActionTitle && firstItem,
                'action--box-first-with-title': action._tdActionTitle && firstItem,
                'action--box-no-title': !action._tdActionTitle && !firstItem, 
                'action--box-with-title': action._tdActionTitle && !firstItem}" 
                *ngFor="let action of actions; let i = index;let lastItem = last; let firstItem = first" cdkDrag
                cdkDragLockAxis="y" (click)="onActionSelected(action, i)">

                <!-- <div class="example-custom-placeholder" *cdkDragPlaceholder></div> -->
                <div class="action--handle" cdkDragHandle>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="#647283">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                            d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                    </svg>
                </div>



                <!-- ----------------------------- -->
                <!-- @ Action Reply -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.REPLY" cdkDragHandle>
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['REPLY'].src" [title]="ACTIONS_LIST['REPLY'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['REPLY'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>
                </div>

                <!-- ----------------------------- -->
                <!-- @ Action Condition -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.CONDITION" cdkDragHandle> 
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['CONDITION'].src" [title]="ACTIONS_LIST['CONDITION'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['CONDITION'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>
                </div>

                <!-- ----------------------------- -->
                <!-- @ Action Connect Intent -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.INTENT" cdkDragHandle>
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['INTENT'].src" [title]="ACTIONS_LIST['INTENT'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['INTENT'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>
                </div>

                <!-- ----------------------------- -->
                <!-- @ Action Agent handoff -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.AGENT" cdkDragHandle>
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['AGENT'].src" [title]="ACTIONS_LIST['AGENT'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['AGENT'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>

                </div>


                <!-- ----------------------------- -->
                <!-- @ Action Operating Hours -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.OPEN_HOURS" cdkDragHandle>
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['OPEN_HOURS'].src" [title]="ACTIONS_LIST['OPEN_HOURS'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['OPEN_HOURS'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>
                </div>


                <!-- ----------------------------- -->
                <!-- @ Action Add var -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.ASSIGN_VARIABLE" cdkDragHandle>
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['ASSIGN_VARIABLE'].src" [title]="ACTIONS_LIST['ASSIGN_VARIABLE'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['ASSIGN_VARIABLE'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>
                </div>

                <!-- ----------------------------- -->
                <!-- @ Action Delete var -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.DELETE_VARIABLE" cdkDragHandle>
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['DELETE_VARIABLE'].src" [title]="ACTIONS_LIST['DELETE_VARIABLE'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['DELETE_VARIABLE'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>
                </div>

                <!-- ----------------------------- -->
                <!-- @ Action Hidden message -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.HIDE_MESSSAGE" cdkDragHandle>
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['HIDE_MESSSAGE'].src" [title]="ACTIONS_LIST['HIDE_MESSSAGE'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['HIDE_MESSSAGE'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>
                </div>

                <!-- ----------------------------- -->
                <!-- @ Action Send email -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.EMAIL" cdkDragHandle>
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['EMAIL'].src" [title]="ACTIONS_LIST['EMAIL'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['EMAIL'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>
                </div>

                <!-- ----------------------------- -->
                <!-- @ Action Online Agent -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.ONLINE_AGENTS" cdkDragHandle>
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['ONLINE_AGENTS'].src" [title]="ACTIONS_LIST['ONLINE_AGENTS'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['ONLINE_AGENTS'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>
                </div>

                <!-- ----------------------------- -->
                <!-- @ Action Close -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.CLOSE" cdkDragHandle>
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['CLOSE'].src" [title]="ACTIONS_LIST['CLOSE'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['CLOSE'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>
                </div>

                <!-- ----------------------------- -->
                <!-- @ Action Wait -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.WAIT" cdkDragHandle>
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['WAIT'].src" [title]="ACTIONS_LIST['WAIT'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['WAIT'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>
                </div>

                <!-- ----------------------------- -->
                <!-- @ Action Replace bot -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.REPLACE_BOT" cdkDragHandle>
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['REPLACE_BOT'].src" [title]="ACTIONS_LIST['REPLACE_BOT'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['REPLACE_BOT'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>
                </div>

                <!-- ----------------------------- -->
                <!-- @ Action Change department -->
                <!-- ----------------------------- -->
                <div class="action-wpr" *ngSwitchCase="TYPE_ACTION.CHANGE_DEPARTMENT" cdkDragHandle>
                    <div class="cds-action-title" *ngIf="action._tdActionTitle">
                        {{ action._tdActionTitle }}
                    </div>
                    <div class="cds-action-icon-wpr">
                        <img [src]="ACTIONS_LIST['CHANGE_DEPARTMENT'].src" [title]="ACTIONS_LIST['CHANGE_DEPARTMENT'].name">
                    </div>
                    <div class="cds-action-name-wpr">{{ACTIONS_LIST['CHANGE_DEPARTMENT'].name}}</div>
                    <div class="cds-action-arrow" *ngIf="!lastItem">
                        <span class="material-icons">
                            keyboard_backspace
                        </span>
                    </div>
                </div>

                <div class="control-button delete-action" (click)="onDeleteAction(i)">
                    <em class="material-icons">delete</em>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="actions && !answer" class="csd-action-dot-and-btn-wpr">
        <div class="cds-action-dot-line">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 36.9"
                style="enable-background:new 0 0 24 36.9;width: 20px; height: auto;fill:#d2e3fc" xml:space="preserve">
                <g>
                    <circle cx="12" cy="21.5" r="2" />
                    <circle cx="12" cy="27.5" r="2" />
                    <circle cx="12" cy="33.5" r="2" />
                    <circle cx="12" cy="3.3" r="2" />
                    <circle cx="12" cy="9.3" r="2" />
                    <circle cx="12" cy="15.3" r="2" />
                </g>
            </svg>
        </div>
        <div class="csd-add-action-btn-wpr" (click)="openActionsDrawer()">
            <button class="btn btn-white cds-add-action-btn">
                <span class="material-icons ">
                    add
                </span>
            </button>
            <div class="action--text"> Add action </div>
        </div>
    </div>

    <div *ngIf="answer" class="button-intent" (click)="onSelectAnswer()"
        [ngStyle]="{'border':answer ? '0.1em solid #d2d2d2' : '0.1em  dashed #d2d2d2' }"
        [ngClass]="{'button-intent-active': HAS_SELECTED_ANSWER }">
        <span class="material-icons ">
            message
        </span>
        <span> Answer </span>
    </div>

</div>