<!-- [ngClass]="{'intent-two-columns-wpr': displayActions, 'intent--column-wpr':  !displayActions}" -->
<div>
    <!-- [ngClass]="{'intent--two-columns': displayActions, 'intent--column': !displayActions}" -->
    <div>
        <div class="button-intent">
            <span class="material-icons ">
                question_mark
            </span>
            <span> Question </span>
        </div>
        <div class="button-intent">
            <span class="material-icons">
                list_alt
            </span>
            <span> Form </span>
        </div>
      

        <div [ngStyle]="{'border':actions?.length > 0 ? '0.1em solid #d2d2d2' : '0.1em  dashed #d2d2d2' }"
            [ngClass]="{'actions-btn-active': displayActions}" class="button-intent"
            (click)="toggleActions(displayActions = !displayActions) ">
            <span class="material-icons">
                bolt
            </span>

            <span> Actions ({{actions?.length}}) </span>
        </div>
    </div>
    <!-- [ngClass]="{'intent--two-columns': displayActions, 'intent--column': !displayActions}" -->

    <div class="action-list-wpr" *ngIf="actions && displayActions">

        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let action of actions" cdkDrag>
                <!-- <div class="example-custom-placeholder" *cdkDragPlaceholder></div> -->
                <div>
                    {{action.type }}
                </div>
                <div class="example-handle" cdkDragHandle style="    margin-bottom: 20px;">
                  
                    
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="currentColor">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                            d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="button-intent" (click)="openActionsDrawer(actionDrawerIsOpen = !actionDrawerIsOpen)">
            <span class="material-icons ">
                add
            </span>
            <span> Question </span>
        </div>
    </div>

</div>