@import "./src/assets/sass/cds/_variables.scss";

.button-intent {
  display: block;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
  outline: none;
  border: 0.1em dashed #d2d2d2;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
  height: auto;
  line-height: 32px;
  margin: 10px 5px 0;
  font-family: "Poppins";
  padding: 10px;
  transition: all 0.1s;
  // min-width: 100px;
  &:hover {
    background-color: #d2d2d2;
    color: #333333;
  }
}

.button-intent-answer{
  background-color: #425575;
  color: #d2e3fc;
  width: fit-content;
  margin: 9px auto 2px;
  border-radius: 30px;
  padding: 8px 15px;
  border: 3px solid #0f172a;
  .material-icons {
    width: 30px;
    height: auto;
    vertical-align: middle;
  }
}

.button-intent-questions {
  background-color: rgb(66,85,117) !important;
  color: #d2e3fc !important;
  width: fit-content !important;
  margin: auto !important;
  margin-top: 9px !important;
  border-radius: 30px !important;
  padding: 10px 15px !important;
  border: 3px solid #0f172a!important;
}

.no-question {
  border: 1.9px dashed #9aa0a6 !important;
  background-color: unset !important;
}

.button-intent-questions:hover  { 
  background-color: rgba(66,85,117, .6) !important;
}

.button-intent-active {
  // background-color: #d2d2d2;
  // color: #333333;
  
  outline: 2px solid rgba(236,182,6,.6901960784)!important;

}

.circuit-brain-st0 {
  fill: #E8EAED;
}

// .button-intent:hover svg {
//   fill: #333333;
// } 

.button-intent-active {
  background-color: #d2d2d2;
  color: #333333;
}

// .button-intent > span {
//   display: block;
// }

.intent-two-columns-wpr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.intent--two-columns {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.intent--column-wpr {
  width: 100%;
  transition: all 3s;
}

.intent--action {
  display: block;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
  outline: none;
  border: 0.1em dashed #d2d2d2;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
  height: auto;
  line-height: 32px;
  margin: 10px 5px 0;
  font-family: "Poppins";
  padding: 10px;
  transition: all 0.3s;
  width: 96px;
}

.actions-btn-active {
  background-color: #fff;
  color: #333333;
  border: 1px solid #fff !important;
}

// action list
.action--list {
  max-width: 100%;
  // max-width: 85%;
  min-height: 60px;
  display: block;
  background: transparent;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action--list-form {
  max-width: 100%;
  // max-width: 85%;
  min-height: 75px;
  display: block;
  background: transparent;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action--box {
  padding: 0px 12px;
  color: $action-item-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  background: $action-item-background;
  font-size: 12px; //14px;
  margin: 18px 5px 8px 5px;
  border-radius: 20px;
  min-width: 80px;
  max-width: 170px;
  height: 35px;
  font-weight: 400;
}

.action--box-form {
  padding: 0px 12px;
  color: $action-item-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  background: $action-item-background;
  font-size: 12px; //14px;
  margin: 4px 5px 8px 5px;
  border-radius: 20px;
  min-width: 80px;
  max-width: 150px;
  height: 35px;
  font-weight: 400;
}

.action--box-first-no-title {
  margin-top: 5px !important;
}
.action--box-first-with-title {
  margin-top: 25px !important;
}
.action--box-no-title {
}
.action--box-with-title {
  margin-top: 38px !important;
}

.action--box-form.action-box-no-form {
  border: 1.9px dashed #9aa0a6 !important;
  background: unset;
  color: #9aa0a6;
}

// .action-box-in-list-exist-form {
//   margin-top: 3px !important;
// }

// .action-box-exist-form {
//   margin-bottom: 25px !important;
// }

.cds-action-title {
  position: absolute;
  width: 155px;
  margin-top: -57px;
  text-align: center;
  line-height: 15px;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11px;
  font-size: 10px;
  font-weight: 400;
}

.action-wpr {
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cds-action-icon-wpr {
  display: flex;
  margin-right: 10px;

  img {
    width: 18px;
    filter: brightness(0) saturate(100%) invert(97%) sepia(66%) saturate(6656%) hue-rotate(177deg) brightness(102%)
      contrast(98%);
  }
}

.cds-action-active {
  border: 3px solid #0f172a !important;
  outline: 2px solid $icon-color !important;
}

// .cdk-drag-preview {
//   box-sizing: border-box;
//   border-radius: 4px;
//   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
// }

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.action--box:last-child {
  border: none;
}

.action--list.cdk-drop-list-dragging .action--box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.header__center {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.2rem;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
}

.header__center::before,
.header__center::after {
  content: "";
  display: block;
  height: 1px;
  background-color: currentColor;
}

.action--handle {
  position: absolute;
  left: 0px;
  // position: absolute;
  // left: -11px;
  // margin-top: 20px;
  // align-items: center;
  // background-color: #dde2ea;
  // border: 0;
  // border-radius: 20px;
  // display: flex;
  // height: 36px;
  // justify-content: center;
  opacity: 0;
  // outline: 0;
  // transform: translateX(60px);
  transition: all 0.2s ease-in-out;
  cursor: grab;
  // width: 36px;
}



// .action--handle > svg {
//   position: absolute;
//   left: 7px;
// }

.delete-action {
  position: absolute;
  right: 0px;
  // margin-top: -5px;
  align-items: center;
  // background-color: #dde2ea;
  border: 0;
  border-radius: 20px;
  display: flex;
  // height: 36px;
  justify-content: center;
  opacity: 0;
  outline: 0;
  // transform: translateX(60px);
  transition: all 0.2s ease-in-out;
  // width: 36px;
}


.action--list.cdk-drop-list-dragging {
  .action--element > .action--box {
    .delete-action {
      opacity: 0;
    }
    .action--handle {
      opacity: 0;
    }
  } 
}

.action--element {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &:hover{
    .action--box {
      .delete-action {
        opacity: 1;
      }
      .action--handle {
        opacity: 1;
      }
    } 
  }
}


// .action--box:hover > .delete-action {
//   // transform: translateX(0);
//   opacity: 1;
// }

// .action--box:hover > .action--handle {
//   // transform: translateX(0);
//   opacity: 1;
// }

.action--box-form:hover > .action--handle {
  // transform: translateX(0);
  opacity: 1;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview .delete-action {
  display: none;
}

.cdk-drag-preview .action--handle {
  position: absolute;
  right: 90px;
  // position: absolute;
  // left: 145px;
  // margin-top: 20px;
  // display: flex;
  // justify-content: center;
}

.delete-action > em {
  font-size: 21px;
  color: #ff4000;
}

.cds-action-arrow {
  position: absolute;
  display: flex;
  margin-top: 60px;
}

.cds-action-arrow > span {
  transform: rotate(-90deg);
  color: #d2e3fc;
}

.csd-add-action-btn-wpr {
  height: 32px;
}

.csd-action-dot-and-btn-wpr {
  display: block;
  text-align: center;
  box-sizing: border-box;
  height: auto;
  margin: 0 5px;
}

.cds-add-action-btn {
  margin: 0px;
  padding: 4px;
  border-radius: 50%;
  box-shadow: unset;
  // z-index: 2;
  // background-color: $icon-color-background;
}

.cds-add-action-btn > span {
  font-size: 24px;
  color: $icon-color;
  position: relative;
  top: 0px;
}

.cds-add-action-btn:hover > span {
  color: rgba($icon-color, 0.8);
}

.action--text {
  position: relative;
  top: -26px;
  left: 61px;
  color: $icon-color;
  font-size: 14px;
  white-space: nowrap;
  // z-index: 1;
  cursor: pointer;
}
.action--text:hover {
  color: rgba($icon-color, 0.8);
}
