h4.title {
    color: #566787;
    position: relative;
    line-height: normal;
    margin-bottom: 1em;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
}

.select-option {
    margin-top: 0px; 
    max-width: 500px;
}