

.tilebot-add-edit-form {
    height: auto; 
    max-height: 0;
    overflow: hidden;
    box-shadow: none;
    transition: max-height 0.3s ease-in;
    &.active {
        max-height: 100vh;
    }
    
    button {
        text-align: right; 
        padding: 8px 16px; 
        margin: 0px;
    }

    .mat-expansion-panel {
        box-shadow:none;
    }
    .mat-expansion-panel-header {
        padding: 0 12px;
    }

    ::ng-deep .mat-expansion-panel-body {
        // padding: 20px 0px 16px;
        padding: 0px 0px 0px;
    }
    .mat-expansion-panel-content > .mat-expansion-panel-body {
        // padding: 20px 0px 16px!important;
        padding: 0px 0px 0px!important;
    }
    
    .input-wrapper {
        margin-top: 20px;
    }
}


.info-message {
    background-color: #fff; 
    border: 1px solid #e8f0f5;
    box-shadow: none;
    padding: 10px;
    display: flex;
    em.material-icons {
        vertical-align: middle; 
        display: inline-flex; 
        color: #3ea9f5; 
        margin-right: 3px;
        span {
            vertical-align: middle; 
            display: inline-flex;
        }
    }
}




.form-field {
    background-color: #fff;
    padding: 20px 20px 0;
    width: 100%;
    margin: 0px auto;
    border-radius: 4px;
}


.form-group {
    padding-bottom: 7px;
    margin: 10px 0;
    label {
        font-size: 12px;
        line-height: normal;
        color: #3c4858;
        font-weight: 400;
    } 
    .ng-select {
        &.form-control-select ::ng-deep .ng-select-container  { 
            background-size: 0 2px,100% 1px;
            background-repeat: no-repeat;
            background-position: center bottom,center calc(100% - 1px);
        }

    }
}

.form-group.is-focused textarea.form-control{
    background-size: 100% 2px,100% 0px;
    box-shadow: none;
    transition-duration: .3s;
    background-image: linear-gradient(#3ea9f5,#3ea9f5),linear-gradient(#d2d2d200,#d2d2d200);
}

textarea.form-control,
input.form-control {
    background: #fff;
    border-radius: 0;
    border: 1px solid #d9d9d9;
    width: 100%;
    padding-left: 5px;
    padding-top: 7px;

    background-size: 0 2px,100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom,center calc(100% - 1px);
}


.form-footer {
    text-align: right; 
    padding-top: 0px; 
    margin-top: 10px;
    .btn {
        margin: 10px 4px;
    }
}

.form-group.is-error {
    .form-control {
        outline: none;
        background-image: linear-gradient(#ed2e19,#ed2e19),linear-gradient(#D2D2D2,#D2D2D2);
        background-size: 100% 2px,100% 1px;
        box-shadow: none;
        transition-duration: .3s;
    }
    .ng-select {
        &.form-control-select ::ng-deep .ng-select-container  { 
            display: flex;
            outline: none;
            background-image: linear-gradient(#ed2e19,#ed2e19),linear-gradient(#D2D2D2,#D2D2D2);
            background-size: 100% 2px,100% 1px;
            box-shadow: none;
            transition-duration: .3s;
        }
    }
}


.form-group.is-empty label.control-label {
    top: -6px;
    left: 6px;
    font-size: 14px;
    line-height: normal;
    position: absolute;
    color: #aaa;
    z-index:1;
    pointer-events: none;
}

.form-group label.control-label {
    top: -35px; 
    left: 0;
    font-size: 11px;
    line-height: normal;
    position: absolute;
    pointer-events: none;
    transition: .3s ease all;
    color:#3c4858;
}

.form-group.is-focused label.control-label{
  top: -35px; 
  left: 0;
  font-size: 11px;
  line-height: normal;
  position: absolute;
  pointer-events: none;
  transition: .3s ease all;
  color:#3c4858;
}



.form-group.ng-select {
    label.control-label {
        top: -35px; 
        left: 0;
        font-size: 11px;
        line-height: normal;
        position: absolute;
        pointer-events: none;
        transition: .3s ease all;
        color:#3c4858;
    }
    &.is-placeholder {
        label.control-label {
            top: -6px;
            left: 6px;
            font-size: 14px;
            line-height: normal;
            position: absolute;
            color: #aaa;
            z-index:1;
            pointer-events: none;
        }
    }
} 

.input-prefix {
    position: absolute;
    top: 30px;
    left: 8px;
    color: #7d7d7d;
    font-weight: 800;
}

.input-suffix {
    position: absolute;
    top: 29px;
    right: 8px;
    color: #7d7d7d;
    font-weight: 800;
}

.edit-form{
    border-radius: 20px;
    padding-right: 8.5px !important;
    padding-left: 8.5px !important;;
    color: #fff;
    min-height: 30px;
}

.edit-form .icon-label {
    vertical-align: text-top;
    display: inline-block;
    overflow: hidden;
    margin-left: 0;
    width: auto;
    max-width: 0px;
}

.edit-form:hover .icon-label{
    transition: max-width .1s ease-in;
    margin-right: 3px;
    max-width: 100px;
    margin-left: 5px;
}

