<div class="tilebot-add-edit-form"
    [ngClass]="{'active':showForm}">
    <div class="form-field container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" [ngClass]="{'is-error':nameResult === false}">
                    <input 
                        type="text" 
                        class="input form-control" 
                        [(ngModel)]="fieldName" 
                        (ngModelChange)="onChangeParameterName($event)" 
                        (focus)="displayMessage('field_name')" 
                        placeholder="{{ 'AddIntentPage.ParameterName' | translate }}"
                    />
                </div> 
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <div class="selectFormModel">
                        <ng-select 
                            [items]="modelsOfType" 
                            bindLabel="item"
                            bindValue="item"
                            [clearable] = false
                            [(ngModel)]="fieldType"
                            (focus)="displayMessage('field_type')" 
                            (change)="onChange($event)">
                        </ng-select>
                    </div>
                </div>
            </div>

            <div *ngIf="showRegexField" class="col-md-12">
                <div class="form-group" [ngClass]="{'is-error':regexResult === false}">
                    <label>{{ 'AddIntentPage.AddCustomRegex' | translate }}</label>
                    <input 
                        type="text" 
                        class="input form-control" 
                        [(ngModel)]="fieldRegex" 
                        (focus)="displayMessage('field_regex')" 
                        placeholder="ex: {{nameRGEX}}"
                    />
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group" [ngClass]="{'is-error':labelResult === false}">
                    <textarea  
                        name="field_label" 
                        [(ngModel)]="fieldLabel" 
                        rows="3"
                        style="resize: vertical;" 
                        class="form-control" 
                        type="text"
                        (focus)="displayMessage('field_label')"
                        placeholder="{{ 'AddIntentPage.Label' | translate }}">
                    </textarea>
                </div>
            </div>

            <div *ngIf="fieldType != 'text'" class="col-md-12">
                <div class="form-group" [ngClass]="{'is-error':errorLabelResult === false}">
                    <input 
                        type="text" 
                        class="input form-control" 
                        [(ngModel)]="fieldErrorLabel" 
                        (focus)="displayMessage('field_error')" 
                        placeholder="{{ 'AddIntentPage.ErrorMessage' | translate }}"
                    />
                </div>
            </div>
        </div>

        <div *ngIf="displayInfoMessage" class="input-wrapper">
            <div class="row">
            <div class="col-sm-12">
                <div style="background-color: #fff; border: 1px solid #e8f0f5;box-shadow: none;padding: 10px">
                <span style="display: flex;">
                    <i style="vertical-align: middle; display: inline-flex; color:#3ea9f5; margin-right: 3px;" class="material-icons">info</i>
                    <span style="vertical-align: middle; display: inline-flex;">
                    {{ infoMessage }}
                    </span>
                </span>
                </div>
            </div>
            </div>
        </div>

    </div>

    <div class="form-group form-footer">
        <button class="btn btn-light" type="button" (click)="close()">
            {{ 'Cancel' | translate }}
        </button>
        <button *ngIf="displayAddForm === true" class="btn btn-primary" type="submit" (click)="save()">
            {{ 'Add' | translate}}
        </button>
        <button *ngIf="displayEditForm === true" class="btn btn-primary" type="submit" (click)="save()">
            {{ 'Edit' | translate}}
        </button>
    </div>
</div>
    