.box-step-0 {
    background: #fff;
    //---------------------//
    // ELEMENTS
    //---------------------//
    .title {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.3em;
        margin-top: 0px;
        margin-bottom: 0.5em;
    }
    .description {
        color: #566787;
        position: relative;
        line-height: normal;
        margin-bottom: 1em;
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
    }
    .col-buttons {
        text-align: center;
        padding: 0;
        margin: 0;
        button {
            white-space: normal;
            padding: 18px 24px;
        }
    }
    .icon-button {
        text-align: center;
        font-size: 6em;
        line-height: normal;
    }
}