 // Variables for conversation details //

// #0566ff = rgb(5, 102, 255)
// #647491 = rgb(100, 116, 145)
// 8796af = rgb(135, 150, 175)
body{
 --icon-color: #8796af;
 --secondary-text-color: #8796af;
 --icon-hover-color: rgb(5, 102, 255);
 --error-color: #f44336;
 --list-wrapper-background-color: rgb(255, 255, 255);
 --list-wrapper-border-radius: 4px;
 --list-wrapper-elevation: rgb(0 27 71 / 8%) 0px 3px 8px;
 --list-wrapper-padding: 10px 0px 10px;
 --list-wrapper-margin-top: 12px !important;
 --list-style: none;
 --list-padding: 0px;
 --list-margin: 0px;
 --list-item-margin-bottom: 4px;
 --list-item-padding: 0px 20px 0px 20px;
 --list-item-row-display: flex;
 --list-item-row-alignment: center;
 --list-item-row-height: 30px;
 --list-item-input-flex: 1 0 172px;
 --list-item-input-display: inline-block;
 --list-item-input-margin: 0px;
 --list-item-input-padding-right: 12px;
 --list-item-input-padding-left: 0px;
 --list-item-input-border-radius: 0px;
 --list-item-input-border-width: 0px 0px 2px;
 --list-item-input-font-size: 14px;
 --list-item-input-width: 200px;
 --list-item-input-background-image: none !important;
 --list-item-input-font-family: Roboto, Helvetica, Arial, sans-serif;
 --list-item-input-row-hover-border-radius: 4px;
 --list-item-input-row-hover-background: rgb(245, 247, 249);
 --list-item-action-btns-height: 30px;
 --list-item-action-btns-width: 30px;
 --list-item-action-btn-color: rgb(100, 116, 145);
 --list-item-input-focus-background-image: linear-gradient(#3ea9f5, #3ea9f5), linear-gradient(#d2d2d2, #d2d2d2) !important;
 --list-item-input-focus-cursor:text;
 --list-item-viewed-pages-dot-background: rgb(100, 116, 145);
 --conv-details-rating-star-color: #eee;
 --conv-details-rating-active-star-color: rgb(252, 217, 58);
 --conv-details-rating-star-font-size: 22px;
 --conv-details-rating-message-color: #3c4858;
 --conv-details-rating-font-size: 12px;
 --conv-details-rating-line-heigh: 18px;
 --conv-details-rating-font-weight: 400;
 --conv-details-rating-margin-left: 4px;
 --conv-details-get-feature-btn-border: 1px solid #d1d9e0;
 --conv-details-get-feature-btn-color: #3ea9f5;
 --conv-details-get-feature-btn-font-weight: 400;
 --conv-details-get-feature-btn-font-family: Roboto, Helvetica, Arial, sans-serif;
 --conv-details-get-feature-btn-hover-color: #333;
 --conv-details-get-feature-btn-hover-border: 1px solid #acb8cb;
 --conv-details-get-feature-btn-hover-background-color: #eff2f6;
 --conv-details-get-feature-btn-icon-color: #3ea9f5;
 --conv-details-get-feature-btn-icon-font-size: 17px;
 --conv-details-get-feature-btn-icon-hover-color: #333;
 --tag-row-display: flex;
 --tag-row-alignment: center;
 --tag-row-height:30px;
 --tag-row-margin-top: 8px;
 --tag-icon-margin-right:15px;
 --no-contact-tags-font-weight: 400;
 --no-contact-tags-margin-top: 0px;
 --no-contact-tags-margin-bottom: 0px;
 --no-contact-tags-font-family: Roboto, Helvetica, Arial, sans-serif;
 --no-contact-tags-font-weight: 400;
 --no-contact-tags-line-height: 18px
 --no-contact-tags-letter-spacing: -0.01em;
 --no-contact-tags-line-clamp: 1;
 --contact-tag-background: rgba(100, 116, 145, 0.08);
 --contact-tag-color: rgb(100, 116, 145);
 --contact-tag-font-family: Roboto, Helvetica, Arial, sans-serif;
 --contact-tag-font-size: 14px;
 --contact-tag-line-height: 18px;
 --contact-tag-font-weight: 400;
 --contact-tag-letter-spacing: -0.01em;
 --delete-tag-icon-color:rgb(100, 116, 145);
 --delete-tag-btn-hover: rgb(248, 166, 178);
 --manage-tag-font-color: #03a5e8;
 --manage-tag-font-size: 12px;
 --manage-tag-font-weight: 400;
 --manage-tag-font-family: Roboto, Helvetica, Arial, sans-serif;
 --manage-tag-margin-top: -12px;
 --manage-tag-margin-left: 9px;
 --manage-tag-diplay: block;
 --conv-details-header-background: #ffffff;
 --conv-details-header-action-menu-icon-color: #8796af;
 --conv-details-background: #f8fafc;
 --conv-details-avatar-color: #ffffff;
 --conv-details-avatar-font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
 --conv-details-contact-offline-background-color: #f44336;
 --conv-details-contact-online-background-color: #4caf50;
 --conv-details-contact-fullname-row-hover: rgb(226, 232, 239);
 --conv-details-contact-fullname-color: #080f1a;
 --conv-details-contact-fullname-font-family: "Poppins", Roboto, Arial, sans-serif;
 --conv-details-contact-fullname-font-weight: 400;
 --conv-details-contact-fullname-font-size: 18px;
 --conv-details-edit-contact-icon-color: rgb(135, 150, 175);
 --conv-details-edit-contact-fullname-form-background-color: #fff;
 --conv-details-edit-contact-fullname-form-elevation: 0 8px 24px 0 rgb(60 72 91 / 32%);
 --conv-details-edit-contact-fullname-form-border-radius: 8px;
 --conv-details-edit-contact-fullname-form-input-border: 2px solid rgb(211, 219, 229);
 --conv-details-edit-contact-fullname-form-input-background-color: rgb(255, 255, 255);
 --conv-details-edit-contact-fullname-form-input-color: rgb(8, 15, 26);
 --conv-details-edit-contact-fullname-form-done-btn-disabled-color: rgb(211, 219, 229);
 --conv-details-edit-contact-fullname-form-done-btn-color: rgb(5, 102, 255);
 --conv-details-edit-contact-fullname-form-done-btn-background-color: rgb(255, 255, 255);
 --conv-details-edit-contact-fullname-form-done-btn-border-top: 1px solid rgb(211, 219, 229);
 --conv-details-contact-location-color: rgb(100, 116, 145);
 --conv-details-contact-location-hover-color: #03a5e8;
 --conv-details-contact-location-font-family: Poppins, Roboto, Arial, sans-serif;
 --conv-details-served-by-avatar-img-border: 1px solid #dfe1e6;
 --conv-details-served-by-avatar-no-img-border: 2px solid rgb(239, 242, 246);
 --conv-details-served-by-avatar-no-img-color: #fff;
 --conv-details-served-by-others-agents-color: rgb(122, 134, 154);
 --conv-details-served-by-others-agents-background-color: rgb(223, 225, 230);
 --conv-details-conv-status-open: rgb(197, 44, 36);
 --conv-details-conv-status-pending: rgb(55, 147, 233);
 --conv-details-conv-status-resolved: #999;
 --conv-details-resolve-conv-btn-background: #dce9ff;
 --conv-details-resolve-conv-btn-border-color: #dce9ff;
 --conv-details-resolve-conv-btn-color: #074095;
 --conv-details-resolve-conv-btn-hover-background-color: #9ac1ff;
 --conv-details-resolve-conv-btn-hover-border-color: #9ac1ff;
 --conv-details-resolve-conv-btn-hover-color: #074095;
 --conv-details-sidebar-tabs-header-background: linear-gradient(to right, rgb(211, 219, 229) 100%, rgb(211, 219, 229) 100%, rgb(211, 219, 229) 100%);
 --conv-details-sidebar-tab-text-color:rgb(100, 116, 145);
 --conv-details-sidebar-active-tab-text-color:rgb(8, 15, 26);
 --conv-details-sidebar-active-tab-border-bottom: 3px solid rgb(5, 102, 255);
 --conv-details-sidebar-tab-arrow-color: rgb(100, 116, 145);
 --conv-details-sidebar-tab-arrow-active-color:rgb(0, 73, 189);
}