 // Variables for conversation details //

 // #0566ff = rgb(5, 102, 255)
 // #647491 = rgb(100, 116, 145)
 // 8796af = rgb(135, 150, 175)
 //  --list-item-action-btn-color: rgb(100, 116, 145);
 // --conv-tag-color: #444950;
 body {
     --conv-details-header-background: #ffffff;
     --conversation-detail-background: #f8fafc;
     --card-background-color: rgb(255, 255, 255);
     --card-elevation: rgb(0 27 71 / 8%) 0px 3px 8px;
     --icon-color: #8796af;
     --icon-hover-color: rgb(5, 102, 255);
     --text-color: #555555;
     --secondary-text-color: #8796af;
     --list-item-input-row-hover-background: rgb(245, 247, 249);
     --texarea-background: #ffffff;
     --select-background: #ffffff;
     --select-background-marked: #f5faff;
     --select-border: unset !important;
     --select-opened-border: unset !important;
     --texarea-border: 1px solid #ccc;
     --table-tr-hover: #f5f5f5;
     --contact-tag-background: rgba(100, 116, 145, 0.08);
     --contact-tag-color: rgb(100, 116, 145);
     --conv-details-contact-fullname-color: #080f1a;
     --conv-details-contact-fullname-row-hover: rgb(226, 232, 239);
     --conv-details-contact-location-color: #03a5e8;
     --active-tab-text-color: rgb(8, 15, 26);
     --conv-details-edit-contact-fullname-form-background-color: #fff;
     --error-color: #f44336;
     --header-font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
     --content-font-family: Roboto, Helvetica, Arial, sans-serif;
     --text-color-on-dark: #dbddde;
     --dark-background: #2d323e;
     --conv-details-help-tooltip-color: #7695a5;
     --tab-text-color: rgb(100, 116, 145);
     --accent-text-color: #3ea9f5;
     --list-wrapper-border-radius: 4px;
     --list-wrapper-padding: 10px 0px 10px;
     --list-wrapper-margin-top: 12px !important;
     --list-style: none;
     --list-padding: 0px;
     --list-margin: 0px;
     --list-item-margin-bottom: 4px;
     --list-item-padding: 0px 20px 0px 20px;
     --list-item-row-display: flex;
     --list-item-row-alignment: center;
     --list-item-row-height: 30px;
     --list-item-input-flex: 1 0 172px;
     --list-item-input-display: inline-block;
     --list-item-input-margin: 0px;
     --list-item-input-padding-right: 12px;
     --list-item-input-padding-left: 0px;
     --list-item-input-border-radius: 0px;
     --list-item-input-border-width: 0px 0px 2px;
     --list-item-input-font-size: 14px;
     --list-item-input-width: 200px;
     --list-item-input-background-image: none !important;
     --list-item-input-row-hover-border-radius: 4px;
     --list-item-action-btns-height: 30px;
     --list-item-action-btns-width: 30px;
     --list-item-input-focus-background-image: linear-gradient(#3ea9f5, #3ea9f5), linear-gradient(#d2d2d2, #d2d2d2) !important;
     --list-item-input-focus-cursor: text;
     --conv-details-rating-star-color: #eee;
     --conv-details-rating-active-star-color: rgb(252, 217, 58);
     --conv-details-rating-star-font-size: 22px;
     --conv-details-rating-font-size: 12px;
     --conv-details-rating-line-heigh: 18px;
     --conv-details-rating-font-weight: 400;
     --conv-details-rating-margin-left: 4px;
     --conv-details-card-hover-background-color: rgb(245, 247, 249);
     --conv-details-get-feature-btn-border: 1px solid #d1d9e0;
     --conv-details-get-feature-btn-font-weight: 400;
     --conv-details-get-feature-btn-hover-color: #333;
     --conv-details-get-feature-btn-icon-hover-color: #333;
     --conv-details-get-feature-btn-hover-border: 1px solid #acb8cb;
     --conv-details-get-feature-btn-hover-background-color: #eff2f6;
     --conv-details-get-feature-btn-icon-font-size: 17px;
     --conv-tag-background-color: rgba(233, 235, 238, 0.7);
     --conv-tag-hover-icon-color: rgba(233, 235, 238, 0);
     --delete-icon-color: #f6303a;
     --tag-row-display: flex;
     --tag-row-alignment: center;
     --tag-row-height: 30px;
     --tag-row-margin-top: 8px;
     --tag-icon-margin-right: 15px;
     --no-tags-margin-top: 0px;
     --no-tags-margin-bottom: 0px;
     --no-tags-font-size: 14px;
     --no-tags-font-weight: 300;
     --no-tags-line-height: 18px;
     --no-tags-letter-spacing: -0.01em;
     --no-tags-line-clamp: 1;
     --contact-custom-property-font-weight: 500;
     --contact-tag-font-size: 14px;
     --contact-tag-line-height: 18px;
     --contact-tag-font-weight: 400;
     --contact-tag-letter-spacing: -0.01em;
     --delete-tag-icon-color: rgb(100, 116, 145);
     --delete-tag-btn-hover: rgb(248, 166, 178);
     --manage-tag-font-color: #03a5e8;
     --manage-tag-font-size: 12px;
     --manage-tag-font-weight: 400;
     --manage-tag-margin-top: 12px;
     --manage-tag-margin-left: 9px;
     --manage-tag-diplay: block;
     --conv-details-header-action-menu-icon-color: #8796af;
     --conv-details-avatar-color: #ffffff;
     --conv-details-contact-offline-background-color: #f44336;
     --conv-details-contact-online-background-color: #4caf50;
     --conv-details-contact-fullname-font-weight: 400;
     --conv-details-contact-fullname-font-size: 18px;
     --conv-details-edit-contact-icon-color: rgb(135, 150, 175);
     --conv-details-edit-contact-fullname-form-elevation: 0 8px 24px 0 rgb(60 72 91 / 32%);
     --conv-details-edit-contact-fullname-border: unset !important;
     --conv-details-edit-contact-fullname-form-border-radius: 8px;
     --conv-details-edit-contact-fullname-form-input-border: 2px solid rgb(211, 219, 229);
     --conv-details-edit-contact-fullname-form-input-background-color: rgb(255, 255, 255);
     --conv-details-edit-contact-fullname-form-input-color: rgb(8, 15, 26);
     --conv-details-edit-contact-fullname-form-done-btn-disabled-color: rgb(211, 219, 229);
     --conv-details-edit-contact-fullname-form-done-btn-color: rgb(5, 102, 255);
     --conv-details-edit-contact-fullname-form-done-btn-background-color: rgb(255, 255, 255);
     --conv-details-edit-contact-fullname-form-done-btn-border-top: 1px solid rgb(211, 219, 229);
     --conv-details-contact-location-hover-color: #03a5e8;
     --conv-details-served-by-avatar-img-border: 1px solid #dfe1e6;
     --conv-details-served-by-avatar-no-img-border: 2px solid rgb(239, 242, 246);
     --conv-details-served-by-avatar-no-img-color: #fff;
     --conv-details-served-by-others-agents-color: rgb(122, 134, 154);
     --conv-details-served-by-others-agents-background-color: rgb(223, 225, 230);
     --conv-details-conv-status-open: rgb(197, 44, 36);
     --conv-details-conv-status-pending: rgb(55, 147, 233);
     --conv-details-conv-status-resolved: #999;
     --conv-details-resolve-conv-btn-background: #dce9ff;
     --conv-details-resolve-conv-btn-border-color: #dce9ff;
     --conv-details-resolve-conv-btn-color: #074095;
     --conv-details-resolve-conv-btn-hover-background-color: #9ac1ff;
     --conv-details-resolve-conv-btn-hover-border-color: #9ac1ff;
     --conv-details-resolve-conv-btn-hover-color: #074095;
     --conv-details-sidebar-tabs-header-background: linear-gradient(to right, rgb(211, 219, 229) 100%, rgb(211, 219, 229) 100%, rgb(211, 219, 229) 100%);
     --conv-details-sidebar-active-tab-border-bottom: 3px solid rgb(5, 102, 255);
     --conv-details-sidebar-tab-arrow-color: rgb(100, 116, 145);
     --conv-details-sidebar-tab-arrow-active-color: rgb(0, 73, 189);
     --app-sidebar-background: #fff;
     --app-sidebar-elevation: 0 2px 6px rgb(0 27 71 / 12%);
     --app-sidebar-header-border-bottom: 1px solid #eeeeee;
     --app-sidebar-header-background-color: #3c4252;
     --app-sidebar-header-color: #fff;
     --app-sidebar-switch-width-icon-is-wide: #039be5;
     --app-sidebar-switch-width-icon-is-close: #fff;
     --app-sidebar-close-btn-color: #fff;
     --app-sidebar-loading-spinner-color: #3ea9f5;
     --app-sidebar-scrollbar-track-background-color: #f9f9f9;
     --app-sidebar-scrollbar-thumb-background-color: #b9b9b9;
     --app-sidebar-scrollbar-thumb-border-radius: 0px;
     --app-sidebar-scrollbar-thumb-hover-background-color: #727272;
     --header-border-bottom: 1px solid #e5e5e5;
     --sub-header-background: #fafafa;
     --light-green: #73AF55;
     --btn-background-color: #e4e6eb;
     --btn-color: rgb(60, 72, 88);
     --btn-hover-background-color: #cfd2d7;
     --tooltip-bckground: #2d323e;
     --tooltip-color: white;

 }

 //  rgb(224,231,255);
 body.dark {
     --conv-details-header-background: #101725;
     --conversation-detail-background: #1b2533;
     --card-background-color: #101725;
     --card-elevation: rgb(0 27 71 / 8%) 0px 3px 8px;
     --icon-color: #8796af;
     --icon-hover-color: rgb(5, 102, 255);
     --text-color: #fff;
     --secondary-text-color: rgb(148, 163, 184);
     --list-item-input-row-hover-background: rgb(30, 41, 59);
     --texarea-background: rgb(30, 41, 59);
     --texarea-border: 1px solid #ccc;
     --table-tr-hover: #1e293b;;
     --select-background: #101725;
     --select-background-marked: rgba(30, 33, 41, 0.8);
     --select-border: unset !important;
     --select-opened-border: unset !important;
     --contact-tag-background: rgb(51 65 85);
     --contact-tag-color: rgb(203 213 225);
     --conv-details-contact-fullname-color: #ffffff;
     --conv-details-contact-fullname-row-hover: rgb(30, 41, 59);
     --conv-details-contact-location-color: #03a5e8;
     --active-tab-text-color: #fff;
     --conv-details-edit-contact-fullname-form-background-color: #1b2533;

     --error-color: #f44336;
     --header-font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
     --content-font-family: Roboto, Helvetica, Arial, sans-serif;

     --text-color-on-dark: #dbddde;
     --dark-background: #2d323e;


     --conv-details-help-tooltip-color: #7695a5;
     --tab-text-color: rgb(148, 163, 184);

     --accent-text-color: #3ea9f5;
     --list-wrapper-border-radius: 4px;
     --list-wrapper-padding: 10px 0px 10px;
     --list-wrapper-margin-top: 12px !important;
     --list-style: none;
     --list-padding: 0px;
     --list-margin: 0px;
     --list-item-margin-bottom: 4px;
     --list-item-padding: 0px 20px 0px 20px;
     --list-item-row-display: flex;
     --list-item-row-alignment: center;
     --list-item-row-height: 30px;
     --list-item-input-flex: 1 0 172px;
     --list-item-input-display: inline-block;
     --list-item-input-margin: 0px;
     --list-item-input-padding-right: 12px;
     --list-item-input-padding-left: 0px;
     --list-item-input-border-radius: 0px;
     --list-item-input-border-width: 0px 0px 2px;
     --list-item-input-font-size: 14px;
     --list-item-input-width: 200px;
     --list-item-input-background-image: none !important;
     --list-item-input-row-hover-border-radius: 4px;
     --list-item-action-btns-height: 30px;
     --list-item-action-btns-width: 30px;
     --list-item-input-focus-background-image: linear-gradient(#3ea9f5, #3ea9f5), linear-gradient(#d2d2d2, #d2d2d2) !important;
     --list-item-input-focus-cursor: text;
     --conv-details-rating-star-color: #eee;
     --conv-details-rating-active-star-color: rgb(252, 217, 58);
     --conv-details-rating-star-font-size: 22px;
     --conv-details-rating-font-size: 12px;
     --conv-details-rating-line-heigh: 18px;
     --conv-details-rating-font-weight: 400;
     --conv-details-rating-margin-left: 4px;
     --conv-details-card-hover-background-color: #1e293b;
     --conv-details-get-feature-btn-border: 1px solid #d1d9e0;
     --conv-details-get-feature-btn-font-weight: 400;
     --conv-details-get-feature-btn-hover-color: #333;
     --conv-details-get-feature-btn-icon-hover-color: #333;
     --conv-details-get-feature-btn-hover-border: 1px solid #acb8cb;
     --conv-details-get-feature-btn-hover-background-color: #eff2f6;
     --conv-details-get-feature-btn-icon-font-size: 17px;
     --conv-tag-background-color: rgba(233, 235, 238, 0.7);
     --conv-tag-hover-icon-color: rgba(233, 235, 238, 0);
     --delete-icon-color: #f6303a;
     --tag-row-display: flex;
     --tag-row-alignment: center;
     --tag-row-height: 30px;
     --tag-row-margin-top: 8px;
     --tag-icon-margin-right: 15px;
     --no-tags-margin-top: 0px;
     --no-tags-margin-bottom: 0px;
     --no-tags-font-size: 14px;
     --no-tags-font-weight: 300;
     --no-tags-line-height: 18px;
     --no-tags-letter-spacing: -0.01em;
     --no-tags-line-clamp: 1;
     --contact-custom-property-font-weight: 500;

     --contact-tag-font-size: 14px;
     --contact-tag-line-height: 18px;
     --contact-tag-font-weight: 400;
     --contact-tag-letter-spacing: -0.01em;
     --delete-tag-icon-color: rgb(100, 116, 145);
     --delete-tag-btn-hover: rgb(248, 166, 178);
     --manage-tag-font-color: #03a5e8;
     --manage-tag-font-size: 12px;
     --manage-tag-font-weight: 400;
     --manage-tag-margin-top: 12px;
     --manage-tag-margin-left: 9px;
     --manage-tag-diplay: block;
     --conv-details-header-action-menu-icon-color: #8796af;
     --conv-details-avatar-color: #ffffff;
     --conv-details-contact-offline-background-color: #f44336;
     --conv-details-contact-online-background-color: #4caf50;
     --conv-details-contact-fullname-font-weight: 400;
     --conv-details-contact-fullname-font-size: 18px;
     --conv-details-edit-contact-icon-color: rgb(135, 150, 175);
     --conv-details-edit-contact-fullname-form-elevation: unset !important;
     --conv-details-edit-contact-fullname-border: 1px solid #2d323e;
     ;
     --conv-details-edit-contact-fullname-form-border-radius: 8px;
     --conv-details-edit-contact-fullname-form-input-border: 2px solid rgb(211, 219, 229);
     --conv-details-edit-contact-fullname-form-input-background-color: #1b2533;
     --conv-details-edit-contact-fullname-form-input-color: #fff;
     --conv-details-edit-contact-fullname-form-done-btn-disabled-color: rgb(211, 219, 229);
     --conv-details-edit-contact-fullname-form-done-btn-color: rgb(5, 102, 255);
     --conv-details-edit-contact-fullname-form-done-btn-background-color: #1b2533;
     --conv-details-edit-contact-fullname-form-done-btn-border-top: 1px solid rgb(211, 219, 229);
     --conv-details-contact-location-hover-color: #03a5e8;
     --conv-details-served-by-avatar-img-border: 1px solid #dfe1e6;
     --conv-details-served-by-avatar-no-img-border: 2px solid rgb(239, 242, 246);
     --conv-details-served-by-avatar-no-img-color: #fff;
     --conv-details-served-by-others-agents-color: rgb(122, 134, 154);
     --conv-details-served-by-others-agents-background-color: rgb(223, 225, 230);
     --conv-details-conv-status-open: rgb(197, 44, 36);
     --conv-details-conv-status-pending: rgb(55, 147, 233);
     --conv-details-conv-status-resolved: #999;
     --conv-details-resolve-conv-btn-background: #dce9ff;
     --conv-details-resolve-conv-btn-border-color: #dce9ff;
     --conv-details-resolve-conv-btn-color: #074095;
     --conv-details-resolve-conv-btn-hover-background-color: #9ac1ff;
     --conv-details-resolve-conv-btn-hover-border-color: #9ac1ff;
     --conv-details-resolve-conv-btn-hover-color: #074095;
     --conv-details-sidebar-tabs-header-background: linear-gradient(to right, rgb(211, 219, 229) 100%, rgb(211, 219, 229) 100%, rgb(211, 219, 229) 100%);
     --conv-details-sidebar-active-tab-border-bottom: 3px solid rgb(5, 102, 255);
     --conv-details-sidebar-tab-arrow-color: rgb(100, 116, 145);
     --conv-details-sidebar-tab-arrow-active-color: rgb(0, 73, 189);
     --app-sidebar-background: #fff;
     --app-sidebar-elevation: 0 2px 6px rgb(0 27 71 / 12%);
     --app-sidebar-header-border-bottom: 1px solid #eeeeee;
     --app-sidebar-header-background-color: #3c4252;
     --app-sidebar-header-color: #fff;
     --app-sidebar-switch-width-icon-is-wide: #039be5;
     --app-sidebar-switch-width-icon-is-close: #fff;
     --app-sidebar-close-btn-color: #fff;
     --app-sidebar-loading-spinner-color: #3ea9f5;
     --app-sidebar-scrollbar-track-background-color: #f9f9f9;
     --app-sidebar-scrollbar-thumb-background-color: #b9b9b9;
     --app-sidebar-scrollbar-thumb-border-radius: 0px;
     --app-sidebar-scrollbar-thumb-hover-background-color: #727272;
     --header-border-bottom: 1px solid #e5e5e5;
     --sub-header-background: #2d323e;
     --light-green: #73AF55;
     --btn-background-color: #e4e6eb;
     --btn-color: rgb(60, 72, 88);
     --btn-hover-background-color: #cfd2d7;
     --tooltip-bckground: rgb(151, 163, 182);
     --tooltip-color: var(--basic-blue-03);

 }