.ai-agent-name-mat-form-field {
    width: 100%;
    font-size: 14px;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--blue-20) !important
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--blue-20) !important
}

// .mat-dialog-close-btn {
//     background-color: #647491;
//     color: #fff;
// }

// .mat-dialog-ok-btn {
//     background-color: var(--blue-light);
//     color: #fff;
// }