/****** LOGIN ******/
.login-container {
    padding: 30px;
    max-width: 400px;
    width: 100% !important;
    // background-color: #F7F7F7;
    margin: 0 auto;
    // border-radius: 2px;
    // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
  }
  .login-container h1 {
      text-align: center;
      font-size: 1.8em;
      font-family: roboto;
    }
    .login-container input[type=submit] {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      position: relative
    }
  
    .login-container input[type=text], input[type=password], input[type=email] {
    //   width: 400px !important;
      height: 56px;
      font-size: 16px;
      width: 100%;
      margin-bottom: 10px;
      -webkit-appearance: none;
      background: #fff;
      border: 1px solid #d9d9d9 !important;
      border-top: 1px solid #c0c0c0;
      border-radius: 2px; 
      padding: 0 8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      border-radius: 5px;
      background-color: #fff !important;
      border: solid 1px #ddd;
    }
    
    .login-container input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
      border: 1px solid #b9b9b9;
      border-top: 1px solid #a0a0a0;
      -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

//   // from 992 
// @media (min-width: 992px) and (max-width: 1119px){
//     .login-container  {
//             margin-right: 40%;
//         }
// }

// // 
// @media (min-width: 1120px) and (max-width: 1149px) {
//     .login-container  {
//             margin-right: 41%;
//         }
// }

// // and (max-width: 1149px) 
// @media (min-width: 1150px)and (max-width: 1199px) {
//     .login-container  {
//             margin-right: 42%;
//         }
// }
// // and (max-width: 1299px)
// @media (min-width: 1200px) and (max-width: 1699px){
//     .login-container  {
//             margin-right: 43%;
//         }
// }

// @media (min-width: 1700px) {
//     .login-container  {
//             margin-right: 47%;
//         }
// }