@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Opera and prob css3 final iteration */

#preloader {
    background: #fff;
    // position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999999;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 500ms ease;
    transition: opacity 500ms ease, display 500ms;
}

#preloader .logo {
    display: block;
    // width: 109px;
    // height: 39px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(assets/img/logos/tiledesk-solo-logo.png);      
    background-size: contain;
    margin-top: -25px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // flex: 0 0 120px;
    // margin: -20px 0 0 -55px;
    -moz-transition:all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    -ms-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
    /* order: name, direction, duration, iteration-count, timing-function */
    -moz-animation:blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation:blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation:blink normal 2s infinite ease-in-out; /* IE */
    animation:blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

#preloader .text {
    top: 50%;
    margin-top: 25px;
    position: absolute;
}


