<div class="main-content" style="padding:0px;margin-top: 0px">
  <div class="container-fluid" style="padding-left:0px;padding-right: 0px">




    <div id="preloader">
      <div *ngIf="!isMobile" class="logo"> </div>

      <div *ngIf="!isMobile" class="text">
        Redirecting, please wait ...
      </div>

      <div *ngIf="isMobile" class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>


    </div>


  </div>
</div>