<div class="row" style="text-align: center; margin-top:35px">
  <div class="col-md-12">
    <h4 class="section-title">
      {{ 'Analytics.Events.EventsMonitoring' | translate }}
    </h4>
  </div>
</div>

<div class="row" style="text-align: center; margin-top: 6px;">
  <!-- left side card -->
  <!-- <div class="col-md-3">
    <div class="card" style="border-radius: 10px; min-height: 424px;">
      <div
        style="padding-bottom: 28px; padding-top: 30px; font-size: 18px; font-family: 'Poppins', 'Roboto',  'Arial', sans-serif">
        {{ "Last30DaysEvents" | translate }}
      </div>
      <div class="card-content">
        <p class="number-analytics">{{ eventsCountLastMonth }}</p>
      </div>
    </div>
  </div> -->


  <div class="col-md-12">
    <div class="card" style="border-radius: 10px;">
      <div style="padding-top: 27px; padding-bottom: 10px">
        <span
            style="padding-bottom: 12px; padding-top:30px; font-size: 18px; font-family: 'Poppins', 'Roboto',  'Arial', sans-serif">
            {{ 'Analytics.Events.EventsChartTitle' | translate }} {{lastdays}}
            <span *ngIf="selectedDaysId <= 30">{{ 'Analytics.Days' | translate }}</span>
            <span *ngIf="selectedDaysId === 90 || selectedDaysId === 180  ">{{ 'Analytics.Months' | translate }}</span>
            <span *ngIf="selectedDaysId === 360">{{ 'Analytics.Year' | translate }}</span>
            <span class="analytics-date-range-selected"> {{initDay}} <i class="material-icons arrow_forward-custom">
                arrow_forward </i> {{endDay}}</span>
          </span>
      </div>

      <div class="row" style="padding-left: 52px; padding-right: 38px;">
        <!-- ------last n days filter--------- -->
        <!-- <div class="col-sm-3" style="margin-left: 53px;"> -->
        <div class="col-sm-4">
          <div class="section-select-dept">
            <div class="row">
              <label class="col-sm-12" style="text-align: left; color:black">
                {{ 'Analytics.FilterReport' | translate }}
              </label>
              <!-- margin-bottom: 20px; -->
              <div class="col-sm-12" style="margin-bottom: 6px; text-align: left;">
                <ng-select class="custom" name="days" [(ngModel)]="selectedDaysId" [clearable]="false"
                  (change)="daysSelect(selectedDaysId, $event)">
                  <ng-option [value]="7">{{ 'Analytics.Last' | translate}} 7 {{ 'Analytics.Days' | translate}}
                  </ng-option>
                  <ng-option [value]="15">{{ 'Analytics.Last' | translate}} 15 {{ 'Analytics.Days' | translate}}
                  </ng-option>
                  <ng-option [value]="30">{{ 'Analytics.Last' | translate}} 30 {{ 'Analytics.Days' | translate}}
                  </ng-option>
                  <ng-option [value]="90">{{ 'Analytics.Last' | translate}} 3 {{ 'Analytics.Months' | translate}}
                  </ng-option>
                  <ng-option [value]="180">{{ 'Analytics.Last' | translate}} 6 {{ 'Analytics.Months' | translate}}
                  </ng-option>
                  <ng-option [value]="360">{{ 'Analytics.Last' | translate}} 1 {{ 'Analytics.Year' | translate}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <!-- ------ init-end days show--------- -->
        <!-- <div class="col-sm-3" style="width: 18%;"> -->
        <!-- <div class="col-sm-3">
          <div class="section-select-dept">
            <div class="row">
              <label class="col-sm-12" style="text-align: left; color:black; padding-right: 0px">
                {{ 'Analytics.DataRangeRequest' | translate }} :
              </label>
              <div class="col-sm-12 boxdays" style="padding-top: 2px;">
                <p style="margin: 0 !important; "> {{initDay}} <i class="material-icons arrow_forward-custom">
                    arrow_forward </i> {{endDay}}</p>
              </div>
            </div>
          </div>
        </div> -->

        <!-- event name filter -->
        <div class="col-sm-4">
          <div class="section-select-dept">
            <div class="row">
              <label class="col-sm-12" style="text-align: left; color:black">
                {{ 'Name' | translate }}
              </label>
              <div class="col-sm-12" style="margin-bottom: 6px; text-align: left;">
                <!-- <ng-select class="custom" name="event" [(ngModel)]="selectedEventName" [clearable]="false"
                  (change)="eventSelected(selectedEventName)">
                  <ng-option [value]="''">{{ 'Analytics.Events.AllEvents' | translate }}</ng-option>
                  <ng-option *ngFor="let event of eventsNameList" [value]="event">
                    {{ event }}
                  </ng-option>
                </ng-select> -->
                <ng-select class="custom" name="event" [(ngModel)]="selectedEventName" [clearable]="false"
                  (change)="eventSelected(selectedEventName)">
                  <!-- <ng-option [value]="''">{{ 'Analytics.Events.AllEvents' | translate }}</ng-option> -->
                  <!-- <ng-option *ngFor="let event of eventsNameList" [value]="event">
                    {{ event }}
                  </ng-option> -->
                  <ng-option *ngFor="let event of staticEventsNameList" [value]="event.value">
                   
                    {{ event.name | translate }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>

        <!-- ------ department filter--------- -->
        <!-- <div class="col-sm-4">
          <div class="section-select-dept">
            <div class="row">
              <label class="col-sm-12" style="text-align: left; color:black">
                {{ 'HistoryPage.FilterByDepartment' | translate }} :
              </label>
              <div class="col-sm-12" style="margin-bottom: 6px; text-align: left;">
                <ng-select class="custom" name="dept" [(ngModel)]="selectedDeptId" [clearable]="false"
                  (change)="depSelected(selectedDeptId)">
                  <ng-option [value]="''">{{ 'HistoryPage.AllDepts' | translate }}</ng-option>
                  <ng-option *ngFor="let dept of departments" [value]="dept._id">
                    {{dept.name}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div> -->

        <!-- ----- agent filter ------ -->
        <!-- <div class="col-sm-4">
          <div class="section-select-dept">
            <div class="row">
              <label class="col-sm-12" style="text-align: left; color:black;">
                {{ "Agent" | translate }}
              </label>
              <div class="col-sm-12" style="margin-bottom: 6px; text-align: left;">
                <ng-select class="custom" name="agent" [(ngModel)]="selectedAgentId" [clearable]="false"
                  (change)="agentSelected(selectedAgentId)">
                  <ng-option [value]="''">Tutto</ng-option>
                  <ng-option *ngFor="let agent of projectUserAndBotsArray" value="{{ agent.id }}">
                    {{ agent.name}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div> -->

      </div>

      <div class="card-content chart-container" style="position: relative; margin:auto 12px; height:35vh;">
        <canvas id="lastdaysEvents"></canvas>
      </div>

    </div>
  </div>

</div>