.round-button {
	box-sizing: border-box;
	display:block;
	width:80px;
	height:80px;
	padding-top: 18px;
	// padding-left: 8px;
	line-height: 20px;
	border: 2px solid #dedede;
	border-radius: 50%;
	// color:#f5f5f5;
	text-align:center;
	text-decoration:none;
	// background-color: rgba(0,0,0,0.5);
	font-size:20px;
	font-weight:bold;
	transition: all 0.3s ease;
}
.round-button:hover {
	// background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgba(255,255,100,1);
	text-shadow: 0px 0px 10px rgba(255,255,100,1);
}

// NEW HOME
.card-image > .fa {
    font-size: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #36a9e1 ;
}

.card:hover {
	// background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgb(119, 119, 116);
	// text-shadow: 0px 0px 10px rgba(255,255,100,1);
}

// HOME PAGE AS ZENDESK

.avatar i {
	color: #f39839; 
	// width: 80px;
	font-size: 2rem;
    border-radius: 50px;
    border: 2px solid #f39839;
    padding: 10px;
}

.avatar i:hover {
	color: #fff;
	background-color:#f39839; 
	cursor: pointer;
}

// @media screen and (min-width: 1216px) {
// .container {
//     max-width: 1152px;
//     width: 1152px;
// }
// }

// @media screen and (min-width: 1024px) {
// .container {
//     max-width: 960px;
//     width: 960px;
// }
// }

// .media-left{
//     -ms-flex-preferred-size: auto;
//     flex-basis: auto;
//     -webkit-box-flex: 0;
//     -ms-flex-positive: 0;
//     flex-grow: 0;
//     -ms-flex-negative: 0;
//     flex-shrink: 0;
// }

// .image img {
//     display: block;
//     height: auto;
//     width: 100%;
// }

.aside {
    display: block;
    background-color: #F9F9F9;
    border-right: 1px solid #DEDEDE;
}

.hero.is-fullheight {
	min-height: 80vh;
	// min-height: 80%;
}

@media screen and (min-width: 769px), print {
	.column.is-2, .column.is-2-tablet {
		-webkit-box-flex: 0;
		-ms-flex: none;
		flex: none;
		width: 90%;
	}
}

// * HOME NEW STYLE *
// CARD AS CIRCLE + BACKGROUND WHITE + ORANDE BORDER
.card-stats .card-header {
	border-radius: 50px;
	// background: #EEEEEE;
	background: #FFFFFF;
	border: 1.5px solid;
	border-color: #ffa726;
}

.material-icons {
	color: #ffa726;
}

.card-stats:hover{
	.card-header {
		background: #ffa726;
	}
	.material-icons {
		color: #fff;
	}
}

.card-stats .card-content{
	text-align: left;
}
.card-content{
	padding-top: 15px;
}
.card .card-footer{
	margin-bottom: 0px;
}

