<!-- <div class="content columns">
  <main class="column is-10 is-offset-1"> -->
    


      
    <!-- <hr style="margin-bottom:54px !important"> -->


    <!-- <div class="columns">
        <div class="column is-half">
            <div class="columns">
                <div class="column is-3"  has-text-centered>
                  <a class="round-button" style="color: #dedede" routerLink="/users">
                    <i class="fa fa-users fa-2x" aria-hidden="true"></i> 
                  </a> 
                </div>
                
                <div class="column is-9" style="display: flex; flex-direction: column; justify-content: center;" >
                  <span style="font-size:1.2em">Firestore Users</span>
                </div>
            </div>
        </div>
        <div class="column">
          <div class="column is-half">
            <div class="columns">
                <div class="column is-5"  has-text-centered>
                  <a class="round-button" style="color: #dedede" routerLink="/contacts">
                    <i class="fa fa-users fa-2x" aria-hidden="true"></i> 
                  </a> 
                </div>
                
                <div class="column is-5" style="display: flex; flex-direction: column; justify-content: center;" >
                  <span style="font-size:1.2em">MongoDB Contacts</span>
                </div>
            </div>
        </div>
        </div>
    </div>
    
  </main>
</div> -->

<!-- SOSTITUITA CON ICONE CIRCOLARI -->
<!-- <section class="container">
  <div class="columns features">

    <div class="column is-4">
      
      <div class="card" routerLink="/users" style="cursor: pointer;">
        <div class="card-content">
          <div class="media">
              <div class="media-left">
                  <div class="card-image has-text-centered">
                    <i class="fa fa-users"></i>
                  </div>
              </div>
              <div class="media-content" style=" ">
                <p class="title is-4" style="height:100px; display: table-cell !important; vertical-align: middle !important; padding: 10px !important; color:#4e4d4d ">
                  Firestore Users
                </p>
              </div>
            </div>
        </div>
      </div>

    </div>

      <div class="column is-4">

        <div class="card" style="cursor: pointer;" routerLink="/contacts">
            <div class="card-content">
              <div class="media">
                  <div class="media-left">
                      <div class="card-image has-text-centered">
                        <i class="fa fa-users"></i>
                      </div>
                  </div>
                  <div class="media-content" style=" ">
                    <p class="title is-4" style="height:100px; display: table-cell !important; vertical-align: middle !important; padding: 10px !important; color:#4e4d4d ">
                      MongoDb Contacts
                    </p>
                  </div>
                </div>
            </div>
          </div>

      </div>
      <div class="column is-4">

          <div class="card" style="cursor: pointer;" routerLink="/requests">
              <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <div class="card-image has-text-centered">
                          <i class="fa fa-commenting-o"></i>
                        </div>
                    </div>
                    <div class="media-content" style=" ">
                      <p class="title is-4" style="height:100px; display: table-cell !important; vertical-align: middle !important; padding: 10px !important; color:#4e4d4d ">
                        Firestore Requests
                      </p>
                    </div>
                  </div>
              </div>
            </div>

      </div>
     
  </div>

  <div class="columns features">

    <div class="column is-4">
      
      <div class="card" routerLink="/departments" style="cursor: pointer;">
        <div class="card-content">
          <div class="media">
              <div class="media-left">
                  <div class="card-image has-text-centered">
                   
                    <i class="fa fa-university"></i>
                  </div>
              </div>
              <div class="media-content" style=" ">
                <p class="title is-4" style="height:100px; display: table-cell !important; vertical-align: middle !important; padding: 10px !important; color:#4e4d4d ">
                  MongoDb Dept.
                </p>
              </div>
            </div>
        </div>
      </div>

    </div>

    <div class="column is-4">
      
      <div class="card" routerLink="/faq" style="cursor: pointer;">
        <div class="card-content">
          <div class="media">
              <div class="media-left">
                  <div class="card-image has-text-centered">
                    
                    <i class="fa fa-question"></i>
                  </div>
              </div>
              <div class="media-content" style=" ">
                <p class="title is-4" style="height:100px; display: table-cell !important; vertical-align: middle !important; padding: 10px !important; color:#4e4d4d ">
                  MongoDb FAQ
                </p>
              </div>
            </div>
        </div>
      </div>

    </div>


  </div>

</section> -->
<!-- NEW FOR THE CURRENT TEMPLATE -->
<p style="margin-top:10px;  padding-left:30px " class="navbar-brand">Home</p> 

<div class="main-content">
    <div class="row">
      <div class="col-lg-11 col-lg-offset-1 col-md-12 col-sm-12">
        <!-- progetto corrente {{ projectid }} -->
      <!-- <div class="col-lg-11 col-centered" style="background-color:#aaaeba"> -->
        <!-- <div *ngIf="auth.user | async as user">
          <h4 style="padding-left:15px">{{ "Howdy" | translate }}, {{ user.displayName }}</h4>
        </div> -->
        <div *ngIf="user">
          <h4 style="padding-left:15px">{{ "Howdy" | translate }}, {{ user.firstname }}</h4>
        </div>
      </div>
      <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12" style="padding-left:25px; padding-right:25px">
        <hr style="border-color:#aaaeba; margin-top:0px; margin-bottom:40px">
      </div>
    </div>
    
  <div class="container-fluid">

      <div class="row">
          <!-- <div class="col-lg-3 col-md-6 col-sm-6"> -->
          <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6" style="">  
              <!-- routerLink="/requests" -->
              <div class="card card-stats" style="max-width:350px" (click)="goToRequests()">
                  <!-- <div class="card-header" data-background-color="orange"> -->
                  <div class="card-header" data-background-color="orange">
                      <i class="material-icons">group</i>
                  </div>
                  <div class="card-content">
                      <p class="category" style="font-size: 1.1em;">Visitatori</p>
                      <!-- <h3 class="title">Visitatori<small>GB</small></h3> -->
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a> -->
                          
                          <!-- THERE WERE THIS -->
                          <!-- <h4 class="title">Visitatori</h4>  -->
                      </div>
                  </div>
              </div>
          </div>
          <!-- <div class="col-lg-3 col-md-6 col-sm-6"> -->
          <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6" style="">
              <div class="card card-stats" style="max-width:350px" routerLink="/chat">
                  <!-- <div class="card-header" data-background-color="green"> -->
                  <div class="card-header" data-background-color="orange">  
                      <i class="material-icons">chat</i>
                  </div>
                  <div class="card-content">
                      <p class="category" style="font-size: 1.1em;">Chat</p>
                      <!-- <h3 class="title">$34,245</h3> -->
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons">date_range</i> Last 24 Hours -->

                          <!-- THERE WERE THIS -->
                          <!-- <h4 class="title">Chat</h4>  -->
                      </div>
                  </div>
              </div>
          </div>
          <!-- <div class="col-lg-3 col-md-6 col-sm-6"> -->
          <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6" style="">
              <!-- routerLink="/analytics" -->
              <div class="card card-stats" style="max-width:350px" (click)="goToAnalytics()">
                  <div class="card-header" data-background-color="orange">
                      <i class="material-icons">trending_up</i>
                  </div>
                  <div class="card-content">
                      <p class="category" style="font-size: 1.1em;">Analytics</p>
                      <!-- <h3 class="title">75</h3> -->
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons">local_offer</i> Tracked from Github -->

                          <!-- THERE WERE THIS -->
                          <!-- <h4 class="title">Analytics</h4>  -->
                      </div>
                  </div>
              </div>
          </div>

          <!-- <div class="col-lg-3 col-md-6 col-sm-6"> -->
          <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6" style="">
              <!-- routerLink="/projects" -->
              <!-- routerLink="/history" -->
              <div class="card card-stats" style="max-width:350px;" (click)="goToHistory()">
                  <!-- <div class="card-header" data-background-color="blue"> -->
                  <div class="card-header" data-background-color="orange" style="">  
                      <!-- <i class="fa fa-twitter"></i> -->
                      <!-- <i class="material-icons">settings</i> -->
                      <!-- <i class="material-icons">security</i> -->
                      <i class="material-icons">history</i>
                  </div>
                  <div class="card-content">
                      <p class="category" style="font-size: 1.1em;">Cronologia</p>
                      <!-- <h3 class="title">+245</h3> -->
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons">update</i> Just Updated -->
                          <!-- THERE WERE THIS -->
                          <!-- <h4 class="title">Projects</h4>  -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- NEW - AS ZENDESK CHAT !!! FOR DEBUG -->
  <!-- <div class="sandbox">
    <div class="tile is-ancestor" > -->
   
       <!-- FIRESTORE USERS -->
      <!-- <div class="tile is-parent" style="display:table" routerLink="/users">
        <div class="avatar">
          <i class="fa fa-users"></i>
        </div>
        <div class="address" style=" display: table-cell; vertical-align: middle; padding-left: 10px ">
          <div class="name" style="font-size: 16px; font-weight: bold;">
            Firestore Users
          </div> 
          <div class="email">
              List of Firestore users
          </div>
        </div>
      </div> -->

      <!-- MONGO DB Contacts -->
      <!-- <div class="tile is-parent" style="display:table" routerLink="/contacts">
        <div class="avatar">
          <i class="fa fa-users"></i>
        </div>
        <div class="address" style="display:table-cell; vertical-align: middle; padding-left: 10px ">
          <div class="name" style="font-size: 16px; font-weight: bold;">
            MongoDb Contacts
          </div> 
          <div class="email">
            List of MongoDb contacts
          </div>
        </div>
      </div> -->

      <!-- FIRESTORE REQUESTS -->
      <!-- <div class="tile is-parent" style="display:table" routerLink="/requests">
        <div class="avatar">
          <i class="fa fa-commenting-o"></i>
        </div>
        <div class="address" style="display:table-cell; vertical-align: middle; padding-left: 10px ">
          <div class="name" style="font-size: 16px; font-weight: bold;">
            Firestore Requests
          </div> 
          <div class="email">
            List of Firestore requests
          </div>
        </div>

      </div>
    </div>
  </div>   -->
  
  <!-- NEW LINE -->

  <!-- <div class="sandbox">
      <div class="tile is-ancestor" > -->
        
        <!-- MONGO DB DEPT -->
        <!-- <div class="tile is-parent" style="display:table" routerLink="/departments">
  
          <div class="avatar">
            <i class="fa fa-university"></i>
          </div>
          <div class="address" style=" display: table-cell; vertical-align: middle; padding-left: 10px ">
            <div class="name" style="font-size: 16px; font-weight: bold;">
              MongoDb Dept.
            </div> 
            <div class="email">
                
              List of mongo db departments
            </div>
          </div>
  
        </div> -->
  
        <!-- MONGO DB FAQ -->
        <!-- <div class="tile is-parent" style="display:table" routerLink="/faq">
  
          <div class="avatar">
            <i class="fa fa-question" style="padding-left:18px; padding-right:18px"></i>
          </div>
          <div class="address" style="display:table-cell; vertical-align: middle; padding-left: 10px ">
            <div class="name" style="font-size: 16px; font-weight: bold;">
              MongoDb FAQ
            </div> 
            <div class="email">
              List of MongoDb contacts
            </div>
          </div>
  
        </div> -->
  
        <!-- CHAT -->
        <!-- <div class="tile is-parent" style="display:table" routerLink="/chat">
  
          <div class="avatar">
            <i class="fa fa-comments-o"></i>
           </div>
          <div class="address" style="display:table-cell; vertical-align: middle; padding-left: 10px ">
            <div class="name" style="font-size: 16px; font-weight: bold;">
              Chat
            </div> 
            <div class="email">
              Chat21 support chat
            </div>
          </div>
  
        </div>
      </div> 
    </div>   -->





