.round-button {
	box-sizing: border-box;
	display:block;
	width:80px;
	height:80px;
	padding-top: 18px;
	// padding-left: 8px;
	line-height: 20px;
	border: 2px solid #dedede;
	border-radius: 50%;
	// color:#f5f5f5;
	text-align:center;
	text-decoration:none;
	// background-color: rgba(0,0,0,0.5);
	font-size:20px;
	font-weight:bold;
	transition: all 0.3s ease;
}
.round-button:hover {
	// background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgba(255,255,100,1);
	text-shadow: 0px 0px 10px rgba(255,255,100,1);
}

// NEW HOME
.card-image > .fa {
    font-size: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #36a9e1 ;
}

.card:hover {
	// background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgb(119, 119, 116);
	// text-shadow: 0px 0px 10px rgba(255,255,100,1);
}

// HOME PAGE AS ZENDESK

.avatar i {
	color: #f39839; 
	// width: 80px;
	font-size: 2rem;
    border-radius: 50px;
    border: 2px solid #f39839;
    padding: 10px;
}

.avatar i:hover {
	color: #fff;
	background-color:#f39839; 
	cursor: pointer;
}