// @import url(https://fonts.googleapis.com/css?family=Google+Sans);
// @import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:Bold);
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:Montserrat:700);

// <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
.round-button {
  box-sizing: border-box;
  display: block;
  width: 80px;
  height: 80px;
  padding-top: 18px;
  // padding-left: 8px;
  line-height: 20px;
  border: 2px solid #dedede;
  border-radius: 50%;
  // color:#f5f5f5;
  text-align: center;
  text-decoration: none;
  // background-color: rgba(0,0,0,0.5);
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.round-button:hover {
  // background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
  text-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
}

// NEW HOME
.card-image > .fa {
  font-size: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #36a9e1;
}

.card:hover {
  // background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 0px 10px rgb(119, 119, 116);
  // text-shadow: 0px 0px 10px rgba(255,255,100,1);
}

// HOME PAGE AS ZENDESK

.avatar i {
  color: #f39839;
  // width: 80px;
  font-size: 2rem;
  border-radius: 50px;
  border: 2px solid #f39839;
  padding: 10px;
}

.avatar i:hover {
  color: #fff;
  background-color: #f39839;
  cursor: pointer;
}

// @media screen and (min-width: 1216px) {
// .container {
//     max-width: 1152px;
//     width: 1152px;
// }
// }

// @media screen and (min-width: 1024px) {
// .container {
//     max-width: 960px;
//     width: 960px;
// }
// }

// .media-left{
//     -ms-flex-preferred-size: auto;
//     flex-basis: auto;
//     -webkit-box-flex: 0;
//     -ms-flex-positive: 0;
//     flex-grow: 0;
//     -ms-flex-negative: 0;
//     flex-shrink: 0;
// }

// .image img {
//     display: block;
//     height: auto;
//     width: 100%;
// }

.aside {
  display: block;
  background-color: #f9f9f9;
  border-right: 1px solid #dedede;
}

.hero.is-fullheight {
  min-height: 80vh;
  // min-height: 80%;
}

@media screen and (min-width: 769px), print {
  .column.is-2,
  .column.is-2-tablet {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 90%;
  }
}

// * HOME NEW STYLE *
// CARD AS CIRCLE + BACKGROUND WHITE + ORANDE BORDER
.card-stats .card-header {
  border-radius: 50px;
  // background: #EEEEEE;
  background: #ffffff;
  border: 1.5px solid;
  border-color: #ffa726;
}

.material-icons {
  color: #ffa726;
}

.card-stats:hover {
  .card-header {
    background: #ffa726;
  }
  .material-icons {
    color: #fff;
  }
  .material-icons.inverse {
    color: #ffa726;
  }
}
// start FOR WIDGET COLOR INVERTED
.card-stats .card-header.inverse {
  background: #ffa726;
  border: 1.5px solid;
  border-color: #ffa726;
}

.card-stats .card-header.inverse:hover {
  background: #ffffff;
  border-color: #ffa726;
}

.material-icons.inverse {
  color: #fff;
}
// ./end FOR WIDGET COLOR INVERTED
.card-stats .card-content {
  text-align: left;
}
.card-content {
  padding-top: 15px;
}
.card .card-footer {
  margin-bottom: 0px;
}

.custom_title {
  font-family: "Google Sans", sans-serif !important;
}

.custom_subtitle {
  font-family: "Google Sans", sans-serif !important;
}

.container-fluid {
  max-width: 936px;
}

.nav-pills.nav-pills-info.custom > li.active > a,
.nav-pills.nav-pills-info.custom > li.active > a:focus,
.nav-pills.nav-pills-info.custom > li.active > a:hover {
  // background-color: #00bcd4;
  background-color: #039be5 !important;
  -webkit-box-shadow: 0 12px 20px -10px rgba(3, 115, 229, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(3, 115, 229, 0.2) !important;
  box-shadow: 0 12px 20px -10px rgba(3, 115, 229, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(3, 115, 229, 0.2) !important;
}

.nav-pills.nav-pills-primary.custom > li.active > a,
.nav-pills.nav-pills-primary.custom > li.active > a:focus,
.nav-pills.nav-pills-primary.custom > li.active > a:hover {
  // background-color: #00bcd4;
  background-color: #039be5 !important;
  -webkit-box-shadow: 0 12px 20px -10px rgba(3, 115, 229, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(3, 115, 229, 0.2) !important;
  box-shadow: 0 12px 20px -10px rgba(3, 115, 229, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12),
    0 7px 8px -5px rgba(3, 115, 229, 0.2) !important;
}

.nav-tabs > li,
.nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs,
.nav-pills {
  text-align: center;
}

.project-name {
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-width: 100px;
}

.project-plan {
  /* background-color: rgba(0,0,0,.14); */
  cursor: pointer;
  background-color: #039be5;
  color: #fff;
  border-radius: 30px;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 16px;
  padding: 4px 18px;
  margin-left: 12px;
  height: 24px;
  position: relative;
  top: 4px;
  min-width: 50px;
}

.project-name-and-plan {
  font-family: "Google Sans", sans-serif;
  font-size: 21px;
  position: relative;
  line-height: 32px;
  display: flex;
  font-weight: 500;
  padding-top: 45px;
  padding-left: 38px;
  padding-right: 38px;
  width: 100%;
}

.subscription_expired__icon:hover {
  color: #eee !important;
  .subscription_expired__text {
    display: block !important;
  }
}

// @media only screen and (min-width: 794px){
// 	.project-name-and-plan {
// 		top: -65px;
// 	}
// }

// @media only screen and (max-width: 794px){
// 	.project-name-and-plan {
// 		margin-bottom: 25px;
// 	}
// }

.homeBanner {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  // min-height: 517px;
  min-height: 460px;
  // padding: 53px 53px 53px 86px;

  padding-top: 16px;
  padding-left: 53px;
  padding-right: 53px;
  padding-bottom: 53px;
  position: relative;
  width: 100%;
  background-image: url(assets/img/home-bckgnd-v3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right -105px bottom, right, calc(100% - 179px);
}

@media only screen and (max-width: 1199px) {
  .homeBanner {
    background-image: none;
  }
}

.homeBanner__leftSideContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 942px;
}

@media only screen and (max-width: 794px) {
  .homeBanner__leftSideContent {
    display: block;
  }

  .homeBanner__texts {
    max-width: none !important;
    margin-right: 0px !important;
    margin-bottom: 25px !important;
  }

  .homeBanner__textsHeader {
    margin-bottom: 0px !important;
  }

  .homeBanner__itemContainer {
    max-width: none !important;
  }

  .project-name-and-plan {
    display: block;
    padding-top: 90px;
    padding-bottom: 8px;
  }

  .project-plan {
    margin-left: 0px;
    top: 0px;
  }
}

.homeBanner__texts {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  margin-right: 25px;
  justify-content: center;
}

.homeBanner__textsHeader {
  // color: #337ab7;
  color: #f0806f;
  font-size: 56px;
  font-weight: 900;
  line-height: 1.14;
  margin: 0 0 25px;
}

.homeBanner__textsSubheader {
  // color: #c0c5ce;
  color: #7695a5;
  font-size: 18px;
  letter-spacing: -0.3px;
  line-height: 1.56;
  margin-bottom: 0;
}

.homeBanner__itemContainer {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  position: relative;
  justify-content: center;
}

.homeBannerItems {
  list-style-type: none;
  padding-left: 0;
}

.homeBanner__item {
  align-items: center;
  background: transparent;
  border-radius: 8px;
  border: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 23px;
  outline: 0;
  position: relative;
  text-align: left;
}

.homeBanner__item-round:before {
  // background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…U2IDg1bC0yOS45MjIgMjkuOTI0IDExOC42MjYgMTE5LjcwMUg4NXY0Mi43NXoiLz48L3N2Zz4=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  border-radius: 32px;
  content: "";
  display: flex;
  height: 62px;
  margin-right: 24px;
  min-width: 62px;
  position: relative;
  width: 62px;
}

.homeBanner__widget__item:before {
  border: 1px solid #c51162;
  box-shadow: 0 4px 12px 0 rgba(197, 17, 98, 0.6);
  background-color: #c51162;
  background-image: url(assets/img/round-code-24px.svg);
}

.homeBanner__chat__item:before {
  border: 1px solid #00bfa5;
  box-shadow: 0 4px 12px 0 rgba(0, 191, 165, 0.6);
  background-color: #00bfa5;
  background-image: url(assets/img/round-chat-24px.svg);
}

.homeBanner__mobileApp__item:before {
  border: 1px solid #337ab7;
  box-shadow: 0 4px 12px 0 rgba(51, 122, 183, 0.6);
  background-color: #337ab7;
  background-image: url(assets/img/round-stay_primary_portrait-24px.svg);
}

.homeBanner__itemText {
  color: #f0806f;
  font-size: 22px;
  line-height: 1.44;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.8);
}

.homeBanner__itemTextSubtitle {
  // display: inline-block;
  font-size: 16px;
  color: #7695a5;
}
.incard-round-button {
  box-sizing: border-box;
  display: block;
  width: 55px;
  height: 55px;
  padding-top: 18px;
  line-height: 20px;
  border: 2px solid #dedede;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  // right: -220px;
  // top: -222px;
}

.background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // font-family: 'Lato', sans-serif;
  // background: white;
}

.background-admin {
  background-image: url(assets/img/open-book-icon-white-admin.svg),
    linear-gradient(240deg, rgba(150, 50, 50, 0.6), rgba(0, 0, 200, 0.8));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.background-agent {
  background-image: url(assets/img/open-book-icon-white-agent.svg),
    linear-gradient(240deg, rgba(169, 182, 39, 0.6), rgba(128, 173, 56, 0.8));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.background-developer {
  background-image: url(assets/img/open-book-icon-white-developer.svg),
    linear-gradient(240deg, rgba(237, 97, 4, 0.6), rgba(215, 66, 18, 0.8));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.background-google-tag-manager {
  background-image: url(assets/img/google-tag-mgr-icon.png),
    linear-gradient(240deg, rgba(77, 85, 183, 0.6), rgba(30, 178, 220, 0.8));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  // background: linear-gradient(240deg, rgba(150, 50, 50, 0.6) , rgba(0, 0, 200, 0.6) );
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

// TOOLTIP START
.expired__Tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.expired__Tooltip .expired__Tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #f44336;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  height: 41px;
  line-height: 1.2;
  border: 1px solid #eee;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.expired__Tooltip:hover .expired__Tooltiptext {
  visibility: visible;
  opacity: 1;
}
// TOOLTIP END

.highlighter {
  display: block;
  width: 105px;
  background: #ffff7f;
  padding: 5px;
  font-weight: 600;
  position: relative;
  left: -20px;
  transform: scaleX(1) rotate(-29deg);
  top: 17px;
}

/* CALLOUT TOOLTIP */
// div.callout {
// 	height: 60px;
// 	width: 200px;
// 	float: left;
// }

// div.callout {
// 	z-index: 1050;
// 	background-color: #444;
// 	background-image: -moz-linear-gradient(top, #444, #444);
// 	// position: relative;
// 	position: fixed;
// 	color: #ccc;
// 	padding: 10px;
// 	border-radius: 3px;
// 	box-shadow: 0px 0px 20px #999;
// 	margin: 25px;
// 	min-height: 50px;
// 	border: 1px solid #333;
// 	text-shadow: 0 0 1px #000;

// 	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
// }

// .callout::before {
// 	content: "";
// 	width: 0px;
// 	height: 0px;
// 	border: 0.8em solid transparent;
// 	position: absolute;
// }

// .callout.top::before {
// 	left: 45%;
// 	bottom: -20px;
// 	border-top: 10px solid #444;
// }

// .callout.bottom::before {
// 	left: 45%;
// 	top: -20px;
// 	border-bottom: 10px solid #444;
// }

// .callout.left::before {
// 	right: -20px;
// 	top: 40%;
// 	border-left: 10px solid #444;
// }

// .callout.right::before {
// 	left: -20px;
// 	top: 40%;
// 	border-right: 10px solid #444;
// }

// .callout.top-left::before {
// 	left: 7px;
// 	bottom: -20px;
// 	border-top: 10px solid #444;
// }

// .callout.top-right::before {
// 	right: 7px;
// 	bottom: -20px;
// 	border-top: 10px solid #444;
// }

/* /.end CALLOUT TOOLTIP */

/* MODAL WITH ARROW */
// .modal-content {
// 	padding: 15px;
//     height: 200px;
//     width: 400px;
//     top: 188px;
// 	left: -183px;
// 	color: rgb(244,0,161);
// 	font-size: 48px;
// 	line-height: 1;
//   }

//   .modal-arrow {
// 	  top: 366px;
// 	  z-index: 1;
// 	  left: 140px;
// 	  position: fixed;
// 	content: "";
// 	display: block;
// 	position: fixed;
// 	top: 15%;
// 	bottom: auto;
// 	left: 7px;
// 	width: 0;
// 	height: 0;
// 	border-style: solid;
// 	border-width: 25px 35px 25px 0;
// 	border-color: transparent #ffffff transparent transparent;
// 	-webkit-filter: drop-shadow(-2px 0px 1px rgba(0, 0, 0, .5));
// 	-moz-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, .5));
// 	-ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .5));
// 	-o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .5));
// 	filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, .5));
//   }

//   #left {
// 	// width: inherit;

//   }

//   .modal-arrow {
// 	// margin-top: 10%;

//   }

//   @-webkit-keyframes arrow-jump {
// 	0%   { opacity: 0;}
// 	100% { opacity: 1;
// 		  -webkit-transform: translateX(10px);
// 		  -moz-transform: translateX(10px);
// 		//   -0-transform: translateY(10px);
// 		//   transform: translateY(10px);
// 	  }

//   }
//   #arrow {
// 	-webkit-animation: arrow-jump 1s infinite; /* Safari 4+ */
// 	-moz-animation:    arrow-jump 1s infinite; /* Fx 5+ */
// 	-o-animation:      arrow-jump 1s infinite; /* Opera 12+ */
// 	animation:         arrow-jump 1s infinite; /* IE 10+, Fx 29+ */
//   }

// @-webkit-keyframes arrow-jump {
// 	0%   { opacity: 0;}
// 	100% { opacity: 1;
// 		  -webkit-transform: translateX(10px);
// 		  -moz-transform: translateX(10px);
// 		//   -0-transform: translateY(10px);
// 		//   transform: translateY(10px);
// 	  }

//   }
//   #arrow {
// 	-webkit-animation: arrow-jump 1s infinite; /* Safari 4+ */
// 	-moz-animation:    arrow-jump 1s infinite; /* Fx 5+ */
// 	-o-animation:      arrow-jump 1s infinite; /* Opera 12+ */
// 	animation:         arrow-jump 1s infinite; /* IE 10+, Fx 29+ */
//   }

/* MODAL WITH ARROW */
