<cds-header class="cds-header"
    [IS_OPEN]="IS_OPEN"
    [projectID]="projectID"
    [id_faq_kb]="id_faq_kb"
    [defaultDepartmentId]=""
    [selectedChatbot]="selectedChatbot"
    (goToBck)="goBack()"
    (toggleSidebarWith)="onToggleSidebarWith($event)"> 
</cds-header>

<div class="chatboat-dashboard" [class.is_opened_sidebar]="IS_OPEN">
<!-- [class.is_opened]="IS_OPEN" -->
    <cds-sidebar 
        class="cds-sidebar"
        [extendedWidth]="IS_OPEN" 
        [projectID]="projectID" 
        (onClickItemList)="onClickItemList($event)"
        (goToBck)="goBack()">
    </cds-sidebar>

    <div *ngIf="activeSidebarSection == 'cds-sb-intents'" class="cds-content">
        
        <div class="box-left">
            <cds-panel-intent-list 
                *ngIf="listOfIntents"
                class="panel-intent-list" 
                [updatePanelIntentList] = "updatePanelIntentList"
                [listOfIntents] = "listOfIntents"
                [intent_id]="intent_id"
                (selectIntent)=onSelectIntent($event)
                (deleteIntent)="onDeleteIntent($event)"
            ></cds-panel-intent-list>
        </div>

        <div  id="tds_container" class="box-right tds-drag-container" cdkDropListGroup>

            <cds-panel-elements 
                class="cds-panel-elements"
                (showPanelActions)="onShowPanelActions($event)"
                (addNewElement)="onAddNewElement()"
            ></cds-panel-elements>

            <div #receiver_elements_dropped_on_stage class="receiver-elements-dropped-on-stage" cdkDropList (cdkDropListDropped)="onDroppedElementToStage($event)"></div>
            
            <div #drawer_of_items_to_zoom_and_drag id="tds_drawer" class="tds-drag-drawer box-right-content">
                <cds-intent *ngFor="let intent of listOfIntents;"
                    [id]="intent.id"
                    class="panel-intent tds_input_block tds_draggable" 
                    [style.top.px]="getIntentPosition(intent.id).y" 
                    [style.left.px]="getIntentPosition(intent.id).x" 
                    [intent]="intent"
                    [connector]="connector"
                    (selectAction)=onSelectAction($event)
                    (saveIntent)=onSaveIntent($event)
                ></cds-intent>
            </div>

            <div #floatMenuElement id="floatMenuElement"
                [style.display]="isOpenFloatMenu?'block':'none'"
                [style.top.px]="positionFloatMenu.y"
                [style.left.px]="positionFloatMenu.x">
                <cds-floating-menu
                    [menuType] = "action"
                    [menuPoint] = "positionFloatMenu"
                    (addingActionToStage) = "onAddingActionToStage($event)"
                ></cds-floating-menu>
            </div>

        </div>

        <cds-panel-button-configuration
            class="cds-generic-panel"
            [isOpenPanel] = "isOpenPanelDetail"
            [button] = elementInDetailPanel
            [listOfActions] = listOfActions
            (closeButtonPanel) = onClosePanel()
            (saveButton) = onSaveElement($event)>
        </cds-panel-button-configuration>

    </div>


    <cds-chatbot-details *ngIf="activeSidebarSection == 'cds-sb-settings'" [selectedChatbot]="selectedChatbot"></cds-chatbot-details>

    <cds-fulfillment *ngIf="activeSidebarSection == 'cds-sb-fulfillment'" [chatbot]="selectedChatbot"></cds-fulfillment>

    <cds-rules *ngIf="activeSidebarSection == 'cds-sb-rules'" [listOfIntents]="listOfIntents" [selectedChatbot]="selectedChatbot"></cds-rules>

            <!-- <ng-container [ngSwitch]="activeSidebarSection">
            <ng-container *ngSwitchCase="'cds-sb-settings'" [ngTemplateOutlet]="settings"></ng-container>
            <ng-container *ngSwitchCase="'cds-sb-fulfillment'" [ngTemplateOutlet]="fulfillment"></ng-container>
            <ng-container *ngSwitchCase="'cds-sb-training'" [ngTemplateOutlet]="training"></ng-container>
            <ng-container *ngSwitchCase="'cds-sb-rules'" [ngTemplateOutlet]="rules"></ng-container>
            <ng-container *ngSwitchCase="'cds-sb-intents'" [ngTemplateOutlet]="intents"></ng-container>
            <ng-container *ngSwitchDefault [ngTemplateOutlet]="intents"></ng-container>
        </ng-container> -->
    

    
</div>





<cds-modal-activate-bot
    [selectedChatbot]="selectedChatbot"
></cds-modal-activate-bot>

<cds-popup></cds-popup>