@import "./src/assets/sass/cds/_variables.scss";
@import "./src/assets/sass/cds/styles.scss";

$width-card-tools: 160px;
$margin-left-card: 30px;
$margin-top-card: 30px;
$mdb-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$mdb-font-family-poppins: 'Poppins', 'Roboto', Arial, sans-serif !default;
$box-left-width: 250px;

::ng-deep #tds_svgConnectors{
  path {
    stroke: black;
    stroke-width: 8px;
  }

  .tds_path {
    animation: dash 30s linear infinite;
    stroke-dasharray: 18;
    stroke-width: 8px;
    stroke: gray;
  }

  .tds_connector {
    stroke: black;
    stroke-width: 8px;
  }
  
  .tds_connector_over {
    stroke: gray;
    stroke-width: 8px;
  }
  
  .tds_connector_selected {
    stroke: blue;
    stroke-width: 8px;
  }
}








.cds-header {
  height: 60px;
  font-family: $mdb-font-family-poppins;
  line-height: 60px;
  font-size: 21px;
  color: #fff;
  background: #1e293b;
  display: flex;
}

.chatboat-dashboard {
  background-color: rgb($bg-color-dark-rgb);
  position: relative;
  display: flex;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: $mdb-font-family-poppins;
  color: #394f5a;
  font-size: 16px;
}

.cds-sidebar {
  border-right: 2px solid #394f5a;
  width: 60px;
  transition: 0.3s;
  display: flex;
  &.is_opened {
      width: 175px;
  }
}

.cds-content {
  display: flex;
  width: 100%;
  overflow-y: auto;
  cds-rules,
  cds-chatbot-details,
  cds-fulfillment {
      width: 100%;
  }
}

.cds-content {
  .box-left {
    width: $box-left-width;
    max-width: $box-left-width;
    min-width: $box-left-width;
    background-color: #394f5a;
    .panel-intent-list {
      position: relative;
      display: inline-flex;
      width: 100%;
      height: 100vh;
      max-height: 100%;
      background-color: rgb($bg-color-bck-rgb);
      border-radius: 0em;
      overflow: hidden;
      margin: 0px;
      padding: 0px 2px 10px 2px;
      align-items: flex-start;
      overflow-y: scroll;
    }
    .panel-intent-list::-webkit-scrollbar {
      width: 3px;
    }
    .panel-intent-list::-webkit-scrollbar-track {
      background-color: #1c2b45;
    }
    .panel-intent-list::-webkit-scrollbar-thumb {
      background-color: #3c485b;
      border-radius: 3px;
    }
  }


  .box-right {
    display: block;
    position: relative;
    flex-grow: 1;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
    .box-right-header {
      width: 100%;
      height: 50px;
    }
    .box-right-content {
      width: 100%;
      display: flex;
      padding-bottom: 15px;
    }
    .panel-intent {
      position: absolute;
      margin: 0px;
      padding: 0px;
      // display: inline-block;
      // height: auto;
      // max-height: 100%;
      // border-radius: 1em;
      // margin: 0 10px;
      // padding: 0px;
      // user-select: none; /* Standard syntax */
      user-select: none;
    }
    .panel-intent-detail-wrapper {
      display: flex;
      margin: 0;
      background: rgba(34,48,74,.6);
      inset: 0;
      position: fixed;
      top: 0;
      left: 0;
      padding: 85px 25px 25px 0;
      z-index: 2;
    }

  }
}


.receiver-elements-dropped-on-stage {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: inherit;
}

.cds-panel-elements {
  position: absolute;
}


/*********** START Draggable  *************/
.tds-drag-container {
  position: relative;
  display: block;
  background-size: 16px 16px;
  background-image: radial-gradient(rgb(218, 226, 226) 1.14286px, rgb(244, 246, 246) 1.14286px);
  background-position: 593.4px -230.4px;
}

// .tds-drag-drawer {
//   position: static!important;
//   display: block!important;
//   width: 100px!important;
//   height: 100px!important;
// }

.tds-draggable {
  // position: absolute!important;
  // display: table!important;
  // cursor: move!important;
  // margin: 0!important;
  // margin: 0!important;
  background-color: chartreuse;
  // top: 0px;
  // left: 0px;
  // z-index: auto;
}
/*********** END Draggable  *************/

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}






// .prevent-select {
//   -webkit-user-select: none;
//   /* Safari */
//   -ms-user-select: none;
//   /* IE 10 and IE 11 */
//   user-select: none;
//   /* Standard syntax */
// }

svg:not(:root) {
  display: block;
}




// .prevent-select {
//   user-select: none; /* Standard syntax */
// }













// .cds-panel-actions {
//   z-index: 10;
//   position: absolute;
//   padding: 4px;
// }
// #cds-panel-intent {
//   background-color: #0f172a;
// }




// .beta-icon {
//   position: absolute;
//   background: #cc0700;
//   right: 0px;
//   top: 50px;
//   padding: 0 10px;
//   margin: auto;
//   text-align: center;
//   vertical-align: middle;
//   line-height: 20px;
//   font-size: 12px;
//   font-weight: 500;
//   z-index: 1;
//   color: white;
//   cursor: auto;
// }



// .navbar-brand {
//     z-index: 1050;
//     position: absolute;
//     left: 0;
//     top: 6px;
//     .btn-back {
//         vertical-align: middle;
//         cursor: pointer;
//     }
// }
// .cds-btn-back {
//     font-size: 33px;
//     vertical-align: middle;
//     cursor: pointer;
// }



// .cds-close-btn {
//     padding: 3px !important;
//     border-radius: 50% !important;
//     background-color: transparent !important;
//     box-shadow: unset !important;
//     color: #e8eaed !important;
// }

// .cds-close-btn:hover {
//     color: #9aa0a6 !important;
// }

// .cds-close-btn-icon {
//     font-size: 40px !important;
// }


// .intent-detail-wpr {
//     width: 100%;
//     margin-right: 21px;
// }

// .cds--footer {
//     position: fixed;
//     bottom: 0;
//     background: aliceblue;
//     width: 100%;
// }

// .cds-test-it-wab-out {
//     background-color: #45c351 !important;
//     color: white !important;
//     border-color: white !important;

//     img {
//         margin-top: 1px;
//         margin-right: 6px;
//     }
// }

// #cds-publish-btn {
//     background: #006cff;
//     // border: 1px solid #006cff;
//     color: #fff;
//     box-shadow: none;
//     font-weight: 500;
//     font-family: $mdb-font-family-poppins;
//     text-transform: capitalize;
//     font-size: 14px;
//     padding: 6px 12px;
// }

// #cds-publish-btn:hover { 
//     opacity: .8!important;
// }

// #cds-publish-btn-option {
//     background: #006cff;
//     color: #fff;
//     box-shadow: none;
//     font-weight: 500;
//     font-family: $mdb-font-family-poppins;
//     text-transform: capitalize;
//     font-size: 14px;
//     padding: 6px 12px;
//     margin-left: 2px;
// } 

// #cds-publish-btn-option:hover {
//     opacity: .8!important;
// }

// .custom---anchor:hover {
//     box-shadow: unset !important;
//     background-color:unset !important; 
//     color: unset !important
// }


// .custom---anchor-community {
//   .btn-in-dropdown {
//     background: transparent;
//     color: #8ab4f8;
//     text-align: center;
//     opacity: .6;
//     text-decoration: underline; 
//   }
//   .btn-in-dropdown:hover { 
//     opacity: 1!important;
//   }
// }

// .dropdown-menu li a.custom---anchor-community:hover, .dropdown-menu li a.custom---anchor-community:focus, .dropdown-menu li a.custom---anchor-community:active {
//   background-color: transparent;
//   color: #8ab4f8;
//   box-shadow: none;
//   opacity: 1;
// }

// // .custom---anchor-community:hover {
// //   box-shadow: unset !important;
// //   background-color:unset !important; 
// //   color: unset !important
// // }

// .btn-in-dropdown {
//     background: #8ab4f8;
//     color: #202124;
//     box-shadow: none;
//     font-weight: 500;
//     font-size: 14px;
//     padding: 6px 12px;
//     border-radius: 4px;
//     cursor: pointer;
// }

// .btn-in-dropdown:hover { 
//     opacity: .8!important;
// }


// // ------------------------------------------------
// // for the svg in the modal Hook The Bot
// // ------------------------------------------------
// .path {
//     stroke-dasharray: 1000;
//     stroke-dashoffset: 0;
//     &.circle {
//       -webkit-animation: dash 0.9s ease-in-out;
//       animation: dash 0.9s ease-in-out;
//     }
//     &.line {
//       stroke-dashoffset: 1000;
//       -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
//       animation: dash 0.9s 0.35s ease-in-out forwards;
//     }
//     &.check {
//       stroke-dashoffset: -100;
//       -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
//       animation: dash-check 0.9s 0.35s ease-in-out forwards;
//     }
//   }
  
//   @-webkit-keyframes dash {
//     0% {
//       stroke-dashoffset: 1000;
//     }
//     100% {
//       stroke-dashoffset: 0;
//     }
//   }
  
//   @keyframes dash {
//     0% {
//       stroke-dashoffset: 1000;
//     }
//     100% {
//       stroke-dashoffset: 0;
//     }
//   }
  
//   @-webkit-keyframes dash-check {
//     0% {
//       stroke-dashoffset: -100;
//     }
//     100% {
//       stroke-dashoffset: 900;
//     }
//   }
  
//   @keyframes dash-check {
//     0% {
//       stroke-dashoffset: -100;
//     }
//     100% {
//       stroke-dashoffset: 900;
//     }
//   }




