<!-- <div class="navbar-brand">
    <i class="material-icons btn-back" (click)="goBack()">keyboard_arrow_left</i>
    <span *ngIf="CREATE_VIEW">
       
        {{ "AddIntent" | translate }}
    </span>
    <span *ngIf="EDIT_VIEW">
       
        {{ "EditIntent" | translate }}
    </span>
</div> -->


<div class="cds-header">
    <div class="header-left" [class.is_opened]="IS_OPEN">
        <img *ngIf="!IS_OPEN" src="assets/img/logos/tiledesk_logo_white_small.svg">
        <img *ngIf="IS_OPEN" src="assets/img/logos/tiledesk-logo_new_white.svg">
    </div>
    <div class="header-right" >
        <div class="toggle-setting-sidebar-icon-wpr" [class.is_opened]="IS_OPEN"
            (click)="toggleSidebarWith(IS_OPEN = !IS_OPEN)">
            <span *ngIf="IS_OPEN" class="material-icons toggle-setting-sidebar-icon">
                chevron_left
            </span>
            <span *ngIf="!IS_OPEN" class="material-icons toggle-setting-sidebar-icon">
                chevron_right
            </span>
        </div>
        <!-- <i class="material-icons cds-btn-back" (click)="goBack()">keyboard_arrow_left</i> -->
        <div class="header-title">{{ selectedChatbot?.name }}</div>
        <div class="right-opts">
            <!-- <div id="opt-train-wrp">
                <label>AI train</label>
                <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div> -->
            <div *ngIf="isBetaUrl">
                <button class="btn btn-primary pull-right cds-blue-button cds-beta"
                    type="button">
                    BETA
                </button>
            </div>

            <div class="btn-group"  [ngStyle]="{'z-index':popup_visibility === 'block' ? '1051' : '1' }">
                <button id="cds-publish-btn" class="btn btn-primary" type="button" style="margin-left: 14px;"
                    (click)="publish()">
                    <span class="material-icons">
                        cached
                    </span>
                    Publish
                </button>
                <!-- (click)="isOpenDropdown(isOpen = !isOpen)"  [ngClass]="{'caret-rotate-0': is0penDropDown === true, 'caret-rotate-180': is0penDropDown === false}" -->
                <!-- <button id="cds-publish-btn-option" type="button" class="btn btn-primary dropdown-toggle"
                    data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button> -->

                <!-- <ul class="dropdown-menu" role="menu" style="border-radius: 3px ;background-color: rgb(51, 64, 94)">
                    <li>

                        <a class="custom---anchor" *ngIf="selectedChatbot?.public === false"
                            (click)="publishOnCommunity()" style="padding-left: 15px; padding-right: 15px;">
                            <div class="btn-in-dropdown">
                                Deploy on Community
                            </div>

                        </a>
                        <a class="custom---anchor" *ngIf="selectedChatbot?.public === true"
                            (click)="removeFromCommunity()" style="padding-left: 15px; padding-right: 15px;">
                            <div class="btn-in-dropdown">
                                Remove from community
                            </div>
                        </a>
                    </li>
                    <li>
                        <a *ngIf="selectedChatbot?.public === true" 
                            class="custom---anchor-community"
                            (click)="onGoToCommunity()" 
                            style="padding-left: 15px; padding-right: 15px;">
                            <div class="btn-in-dropdown">
                                Community window
                            </div>
                        </a>
                    </li>
                </ul> -->
            </div>
            <div *ngIf="TRY_ON_WA === true">
                <button id="cds-test-it-wab-out-btn" class="btn btn-primary cds-blue-button cds-test-it-out"
                    style="background-color: #45c351; color: #fff; border-color: #fff; height: 34px; margin-top: 8px;"
                    type="button" (click)="openWhatsappPage()">
                    <img width="18px" height="auto" src="assets/img/channel_icons/whatsapp-logo_green.svg">
                    Try on WhatsApp
                </button>
            </div>
            <div>
                <button id="cds-test-it-out-btn" class="btn btn-primary pull-right cds-blue-button cds-test-it-out"
                    type="button" (click)="openTestSiteInPopupWindow()"
                    matTooltipClass="custom-mat-tooltip"
                    matTooltip="Test it out" #tooltip="matTooltip" matTooltipPosition='below'
                    matTooltipHideDelay="100">
                    <span class="material-icons">
                        play_arrow
                    </span>
                </button>
            </div>
            <div class="cds-close-btn-wpr">

                <button class="btn pull-right cds-close-btn" (click)="goBack()">
                    <span class="material-icons cds-close-btn-icon">
                        clear
                    </span>
                </button>
            </div>
        </div>
    </div>



    <!-- <button id="cds-add-new-intent-btn"
    class="btn btn-primary pull-right" (click)="addNewIntent()" >
   
       {{'AddIntent' | translate}}
  </button> -->

</div>

<div class="chatboat-dashboard">

    <div class="cds-sidebar" [class.is_opened]="IS_OPEN">
        <cds-sidebar [extendedWidth]="IS_OPEN" [projectID]="projectID" (onClickItemList)="onClickItemList($event)">
        </cds-sidebar>
    </div>
    <div class="cds-content">
        <ng-container [ngSwitch]="activeSidebarSection">
            <ng-container *ngSwitchCase="'cds-sb-settings'" [ngTemplateOutlet]="settings"></ng-container>
            <ng-container *ngSwitchCase="'cds-sb-intents'" [ngTemplateOutlet]="intents"></ng-container>
            <ng-container *ngSwitchCase="'cds-sb-fulfillment'" [ngTemplateOutlet]="fulfillment"></ng-container>
            <ng-container *ngSwitchCase="'cds-sb-training'" [ngTemplateOutlet]="training"></ng-container>
            <ng-container *ngSwitchCase="'cds-sb-rules'" [ngTemplateOutlet]="rules"></ng-container>
            <ng-container *ngSwitchDefault [ngTemplateOutlet]="intents"></ng-container>
        </ng-container>
    </div>

    <ng-template #settings [ngOutletContext]="context">
        <cds-chatbot-details [selectedChatbot]="selectedChatbot"></cds-chatbot-details>
    </ng-template>


    <ng-template #intents [ngOutletContext]="context">
        <div class="box-left">
            <appdashboard-panel-intent-list 
                class="panel-intent-list" 
                [id_faq_kb]="id_faq_kb" 
                [intent_id]="intent_id"
                [projectID]="projectID"
                [eventCreateIntent]="createIntent.asObservable()"
                [eventUpadatedIntent]="upadatedIntent.asObservable()"
                [eventStartUpdatedIntent]="startUpdatedIntent.asObservable()"
                [eventNewIntentFromSplashScreen]="newIntentFromSplashScreen.asObservable()"
                (selectIntent)=onSelectIntent($event)
                (returnListOfIntents)=onReturnListOfIntents($event) 
                (createIntent)="onCreateIntentBtnClicked()"
                (deleteSelectedIntent)="onDeleteSelectedIntent()">
            </appdashboard-panel-intent-list>
        </div>

        <div class="box-right">

            <cds-splash-screen *ngIf=!intentSelected 
                [text]="'Select a block from the left sidebar or create a new one'"
                [videoUrl]="'https://www.youtube.com/embed/b0laljUl85E'"
                [videoDescription]="'Learn about conversation blocks and how to create them here'"
                [section]="'cds-sb-intents'" 
                (onClickBtn)="onAddIntentFromSplashScreen($event)">
            </cds-splash-screen>

            <!-- <cds-splash-screen *ngIf=spinnerCreateIntent
                [text]="'Select an intent from the left sidebar or create a new one'"
                (onClickBtn)="onAddIntentFromSplashScreen($event)" > 
            </cds-splash-screen> -->
            <!-- *ngIf=!spinnerCreateIntent -->

            <div class="box-right-header">
                <appdashboard-panel-intent-header *ngIf=intentSelected 
                    [intentSelected]="intentSelected"
                    [listOfIntents]="listOfIntents" 
                    (saveIntent)=onSaveIntent($event)>
                </appdashboard-panel-intent-header>
            </div>
            <!-- [events]="upadatedIntent.asObservable() *ngIf=!spinnerCreateIntent -->
            <div id="box-right-content" class="box-right-content">
                <appdashboard-panel-intent *ngIf=intentSelected 
                    class="panel-intent" 
                    [idSelected]="idElementOfIntentSelected"
                    [intentSelected]="intentSelected" 
                    [isIntentElementSelected]="isIntentElementSelected"
                    [isOpenActionDrawer]="isOpenActionDrawer"
                    [eventUpadatedIntent]="upadatedIntent.asObservable()"
                    [eventCreateIntent]="createIntent.asObservable()" 
                    (openActionDrawer)=onOpenActionDrawer($event)
                    (answerSelected)=onAnswerSelected($event) 
                    (actionSelected)=onActionSelected($event)
                    (questionSelected)=onQuestionSelected($event) 
                    (actionDeleted)=onActionDeleted($event)
                    (intentForm)=onIntentFormSelected($event)
                    (dropAction)=onDropAction($event)>
                </appdashboard-panel-intent>


                <appdashboard-panel-actions *ngIf="isOpenActionDrawer" 
                    style="z-index: 101;" 
                    [intentSelected]="intentSelected"
                    (addNewAction)=onAddNewAction($event)
                    (openActionDrawer)=onOpenActionDrawer($event)>
                </appdashboard-panel-actions>
      
                <appdashboard-panel-intent-detail *ngIf=isIntentElementSelected
                    class="panel-intent-detail-wrapper"
                    (click)="onClickPanelIntentDetail()"
                    [class.sidebar-opened]="IS_OPEN"
                    [listOfActions]="listOfActions" 
                    [elementIntentSelected]="elementIntentSelected"
                    [intentSelected]="intentSelected" 
                    [showSpinner]="showSpinner"
                    [project_id]="projectID"
                    (closeAndSavePanelIntentDetail)="onCloseAndSavePanelIntentDetail($event)"
                    (clickedInsidePanelIntentDetail)="onClickedInsidePanelIntentDetail()">
                </appdashboard-panel-intent-detail>

                <!-- <cds-footer class="cds--footer" 
                    *ngIf=intentSelected 
                    [intentSelected]="intentSelected"
                    (saveIntent)=onSaveIntent($event) 
                    [listOfIntents]="listOfIntents"
                    [newIntentName]="newIntentName">
                </cds-footer> -->
            </div>

        </div>
    </ng-template>

    <ng-template #fulfillment [ngOutletContext]="context">
        <cds-fulfillment [chatbot]="selectedChatbot"></cds-fulfillment>
    </ng-template>

    <ng-template #training [ngOutletContext]="context">
        ... choice training...
    </ng-template>

    <ng-template #rules [ngOutletContext]="context">
        <cds-rules [listOfIntents]="listOfIntents" [selectedChatbot]="selectedChatbot"></cds-rules>
    </ng-template>


</div>
<!-- ---------------------------------------------- -->
<!-- Hook chatbot to a dept modal  -->
<!-- ---------------------------------------------- -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayModalAttacchBotToDept }"
    style="background-color: rgba(90,90,90,0.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header custom--modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseModalAttacchBotToDept()"
                    style="position: absolute; right: 14px;top: 20px;">
                    <span aria-hidden="true">
                        <!-- &times; -->
                        <svg class="tide-icon" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M13.357 11.993l10.256 10.295c0.39 0.391 0.39 1.024 0 1.415-0.194 0.195-0.449 0.292-0.704 0.292s-0.51-0.097-0.705-0.292l-10.257-10.295-10.256 10.295c-0.194 0.195-0.449 0.292-0.704 0.292s-0.51-0.097-0.705-0.292c-0.39-0.391-0.39-1.024 0-1.415l10.256-10.295-10.256-10.294c-0.39-0.391-0.39-1.024 0-1.415s1.020-0.391 1.409 0l10.256 10.294 10.256-10.294c0.39-0.391 1.020-0.391 1.41 0 0.389 0.391 0.389 1.024 0 1.415l-10.256 10.294z">
                            </path>
                        </svg>
                    </span>
                </button>

                <h2 class="modal-title custom__modal__title">
                    <span style="vertical-align: middle;">
                        {{ "HookTheBot" | translate }}
                    </span>
                </h2>
            </div>

            <hr class="custom-hr" style="margin-top:3px; margin-bottom:3px">
            <!-- padding-top: 0px; padding-bottom: 0px; padding-right: 34px; padding-left: 34px;  -->
            <div class="modal-body"
                [ngClass]="{'modal-body-no-padding-top': DISPLAY_SELECT_DEPTS_WITHOUT_BOT && HAS_COMPLETED_HOOK_BOOT_TO_DEPT === false}"
                style="line-height: 1 !important;height: 161px!important;text-align: center!important; margin: auto!important;">

                <span *ngIf="!DISPLAY_SELECT_DEPTS_WITHOUT_BOT">
                    <h4 *ngIf="HAS_COMPLETED_HOOK_BOOT_TO_DEPT === false"
                        style="padding-left: 12px; padding-right: 12px;"
                        [innerHTML]="'DoYouWantToActivateTheBotForNewConversations' | translate: translateparamBotName ">
                    </h4>
                    <!-- <h3> {{ 'DoYouWantToActivateTheBotForNewVonversations' | translate: translateparamBotName }} </h3> -->
                </span>

                <span *ngIf="DISPLAY_SELECT_DEPTS_WITHOUT_BOT">
                    <h4 *ngIf="HAS_COMPLETED_HOOK_BOOT_TO_DEPT === false"
                        [innerHTML]="'DoYouWantToActivateBotForOneOfTheFollowingDepts' | translate: translateparamBotName ">
                    </h4>
                </span>

                <span *ngIf="DISPLAY_SELECT_DEPTS_WITHOUT_BOT" style="text-align: left;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="select-dept-without-bot-wpr" *ngIf="HAS_COMPLETED_HOOK_BOOT_TO_DEPT === false"
                                style="padding-right: 26px; padding-left: 26px;">
                                <ng-select [items]="depts_without_bot_array" bindValue="id" bindLabel="name"
                                    placeholder="{{'SelectDepartment'|translate}}" [(ngModel)]="selected_bot_id"
                                    (change)="onSelectBotId()">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </span>


                <div *ngIf="HAS_COMPLETED_HOOK_BOOT_TO_DEPT === true">

                    <span *ngIf="HAS_COMPLETED_HOOK_BOOT_TO_DEPT_SUCCESS">

                        <svg style="width: 55px;" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6"
                                stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                            <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6"
                                stroke-linecap="round" stroke-miterlimit="10"
                                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                        </svg>
                        <h5 style="color:#73AF55;"> {{'BotSuccessfullyActivated' | translate }}</h5>

                    </span>
                    <span *ngIf="HAS_COMPLETED_HOOK_BOOT_TO_DEPT_ERROR">

                        <svg style="width: 55px;" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6"
                                stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                            <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
                                stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                            <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
                                stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
                        </svg>


                        <h5 style="color:#D06079;"> {{'AnErroOccurredWhileActivatingTheBot' | translate }}</h5>
                    </span>
                </div>
            </div> <!-- /.modal-body -->

            <div class="modal-footer modal-footer-no-bkgrnd">

                <span *ngIf="DISPLAY_SELECT_DEPTS_WITHOUT_BOT">
                    <button *ngIf="!selected_bot_id && HAS_COMPLETED_HOOK_BOOT_TO_DEPT === false"
                        class="btn btn-gray-no-boxshadow" (click)="onCloseModalAttacchBotToDept()"
                        style="margin-right:8px">
                        <span> {{ 'Ignore' | translate}} </span>
                    </button>

                    <button *ngIf="selected_bot_id &&  HAS_COMPLETED_HOOK_BOOT_TO_DEPT === false"
                        class="btn btn-tdblu-no-boxshadow" (click)="hookBotToDept()" style="margin-right:8px">
                        <i *ngIf="HAS_CLICKED_HOOK_BOOT_TO_DEPT === true && HAS_COMPLETED_HOOK_BOOT_TO_DEPT === false"
                            class="fa fa-spinner fa-spin"></i>
                        <span> {{ 'ActivateFor' | translate}} {{selected_bot_name}} </span>
                    </button>

                    <button *ngIf="HAS_CLICKED_HOOK_BOOT_TO_DEPT === true && HAS_COMPLETED_HOOK_BOOT_TO_DEPT === true"
                        class="btn btn-tdblu-no-boxshadow" (click)="onCloseModalAttacchBotToDept()"
                        style="margin-right: 8px;">
                        <span> {{ "BotsAddEditPage.Continue" | translate }} </span>
                    </button>

                </span>

                <span *ngIf="!DISPLAY_SELECT_DEPTS_WITHOUT_BOT">

                    <button *ngIf="HAS_CLICKED_HOOK_BOOT_TO_DEPT === false && HAS_COMPLETED_HOOK_BOOT_TO_DEPT === false"
                        class="btn btn-gray-no-boxshadow" (click)="onCloseModalAttacchBotToDept()"
                        style="margin-right:8px">
                        <span> {{ 'Ignore' | translate}} </span>
                    </button>

                    <button *ngIf="HAS_CLICKED_HOOK_BOOT_TO_DEPT === false && HAS_COMPLETED_HOOK_BOOT_TO_DEPT === false"
                        class="btn btn-tdblu-no-boxshadow" (click)="hookBotToDept()" style="margin-right:8px">
                        <span> {{ 'ActivateBot' | translate}} </span>
                    </button>

                    <button *ngIf="HAS_CLICKED_HOOK_BOOT_TO_DEPT === true && HAS_COMPLETED_HOOK_BOOT_TO_DEPT === false"
                        class="btn btn-tdblu-no-boxshadow" style="margin-right: 8px;">
                        <i class="fa fa-spinner fa-spin"></i>
                        {{'Processing' | translate}}
                    </button>

                    <button *ngIf="HAS_CLICKED_HOOK_BOOT_TO_DEPT === true && HAS_COMPLETED_HOOK_BOOT_TO_DEPT === true"
                        class="btn btn-tdblu-no-boxshadow" (click)="onCloseModalAttacchBotToDept()"
                        style="margin-right: 8px;">
                        <span> {{ "BotsAddEditPage.Continue" | translate }} </span>
                    </button>
                </span>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->


<div class="cds-dialog-popup-wpr" role="alertdialog" aria-describedby="popup-academy"
    style="right: 186px; top: 66px; opacity: 1;" [ngStyle]="{'display': popup_visibility }">
    <div>
        <div class="cds-dialog-popup-img" role="img">
            <!-- <div class="cds-dialog-popup-img-wpr">
                <img src="https://tiledesk.com/wp-content/uploads/2023/02/jovana.png" style="width: 24px;" class="">
            </div> -->
        </div>

        <div class="cds-dialog-popup-title">

            <!-- Discover the new Chatbot Design Studio -->
        </div>
        <div class="cds-dialog-popup-content">

            Remember to click the Publish button when you finish your work. Otherwise, your changes won’t be visible to
            users.

        </div>
    </div>
    <div class="cds-dialog-popup-btn-wpr">
        <div role="button" class="cds-dialog-popup-btn" tabindex="0" style="user-select: none;"
            (click)="closeRemenberToPublishPopup()">
            {{'Done' | translate}}
        </div>
    </div>
    <div class="cds-dialog-popup-close-btn" aria-label="Close" role="button" tabindex="0"
        (click)="closeRemenberToPublishPopup()">
        <span class="material-icons">
            clear
            </span>
    </div>
    <div class="cds-dialog-popup-arrow-wpr" style="top: -9px;">
        <div class="cds-dialog-popup-arrow-a"></div>
        <div class="cds-dialog-popup-arrow-b"></div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':popup_visibility}"
    style="background-color: rgba(90,90,90,0.9); z-index: 1050 !important;">
</div>