@import "./src/assets/sass/md/_variables.scss";

input[type="text"] {
  // min-width: 307px !important;
  height: 36px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  // border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  background-image: none;
  // border: solid 1px #ddd;
}

input[type="email"] {
  // min-width: 307px !important;
  height: 36px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  // border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  background-image: none;
  // border: solid 1px #ddd;
}


.input-custom {
  border-radius: 4px !important;
  border-color: #ccc !important;
  border-width: 1px !important;
  border-style: solid !important;
  padding-left: 10px !important;
}

.duration-input-wpr {
  display: flex;
  gap: 6px;
}

.duration-operator {
  width: 30%;
}

.duration-value {
  width: 70%;
}

.input---group {
  display: flex;
  height: 36px;
}

.input-group-addon {
  width: 30%;
}

.suffix-text {
  position: relative;
  top: 3px;
  font-size: 12px;
}

// added from here
.table-header-text {
  width: 15%;
}

// .table-header-option {
//   // width: 6%;
// }
// to here

.table td,
.table th {
  vertical-align: middle;
}

.table td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.table td p {
  margin-bottom: 0px;
}

.btn-visibility-custom {
  padding-top: 2px;
  padding-bottom: 1px;
  padding-right: 3px;
  padding-left: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card form [class*="col-"] {
  padding: 0px;
}

/* Remove input background colour for Chrome autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

// @media (min-width: 992px) {

//     .card form [class*="col-"]:last-child {
//         padding-right: 0px;
//     }
// }

// START NEW NK
// .dropdown.dropdown-lg .dropdown-menu {
//     margin-top: -1px;
//     padding: 6px 20px;
// }
// .input-group-btn .btn-group {
//     display: flex !important;
// }
// .btn-group .btn {
//     border-radius: 0;
//     margin-left: -1px;
// }
// .btn-group .btn:last-child {
//     border-top-right-radius: 4px;
//     border-bottom-right-radius: 4px;
// }
// .btn-group .form-horizontal .btn[type="submit"] {
//   border-top-left-radius: 4px;
//   border-bottom-left-radius: 4px;
// }
// .form-horizontal .form-group {
//     margin-left: 0;
//     margin-right: 0;
// }
// .form-group .form-control:last-child {
//     border-top-left-radius: 4px;
//     border-bottom-left-radius: 4px;
// }

// @media screen and (min-width: 768px) {
//     #adv-search {
//         width: 500px;
//         margin: 0 auto;
//     }
//     .dropdown.dropdown-lg {
//         position: static !important;
//     }
//     .dropdown.dropdown-lg .dropdown-menu {
//         min-width: 500px;
//     }
// }

// @media screen and (max-width: 767px) {
//     .dropdown-menu-right {
//         right: -71px;
//         min-width: 260px;
//     }
// }

// .input-group .input-group-btn {
//     padding: 3px 12px !important;
// }

@media screen and (min-width: 768px) {
  .advancedOptionForm {
    width: 500px;
    margin: 0 auto;
  }

  .section-select-dept {
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .advancedOptionForm {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 739px) {
  // .checkbox-wpr {
  //   // position: absolute;
  //   // // top: 20px;
  //   // top: 0px !important;
  //   // left: 39px;
  // }

  .refresh-icon-wpr {
    position: absolute;
    left: 73px;
    // top: 28px;
    top: 7px;
  }

  .delete-selected-wpr {
    position: absolute;
    left: 107px;
    // top: 28px;
    top: 8px;
  }
}

// @media screen and (min-width: 740px) {

// }

.checkbox-wpr {
  position: absolute;
  top: 3px;
  left: 39px;
}

.refresh-icon-wpr {
  position: absolute;
  left: 77px;
  top: -3px;
}

.delete-selected-wpr {
  position: absolute;
  left: 123px;
  top: -2px;
}

.archive-selected-wpr {
  position: absolute;
  left: 123px;
  top: -2px;
}

.delete-selected-wpr-in-nort {
  position: absolute;
  left: 172px;
  top: -2px;
}

.not_is_owner {
  left: 33px;
}

.is_agent {
  left: 27px;
}

.is_visible-delete-selected {
  opacity: 1 !important;
}

// PLACEHOLDER CUSTOM FONT-SIZE
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.9em !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 0.9em !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 0.9em !important;
}

// THE 'X' INSIDE THE 'fullText' INPUT
.buttonInside {
  position: relative;
  // margin-bottom:10px;
}

// THE 'X' INSIDE THE 'fullText' INPUT
// .glyphicon-remove{
#clear-fulltext-search {
  // .fulltext-remove-btn{
  position: absolute;
  right: 5px;
  top: 10px;
  padding: 2px;
  font-size: 0.9em;
  color: #999999;
  z-index: 3;
  cursor: pointer;
}

#clear-fulltext-search:hover {
  color: #f44336;
}

.searchTopBtn {
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 0px;
}

//   CUSTOMIZE FONT WEIGHT AND COLOR OF THE 'X' INSIDE THE SELECT OPTIONS 'FILTER BY DEPT'
// .ng-select .ng-select-container {

//     color: #000 !important;
//     font-weight: 1000 !important;
// }

// HOVER ON THE MEMBER LIST OF THE COLUMN SERVED BY
p.member:hover {
  background-color: #58c1d6;
  color: #fff;
  border-radius: 4px;
}

// END NEW NK

// start TOOLTIP
/* Tooltip container */
.tooltipx {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipx .tooltiptext {
  visibility: hidden;
  // width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 12px !important;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* Position the tooltip text - TOP */
  // width: 420px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */

  // NEW
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background-color: #394f5a;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipx:hover .tooltiptext {
  visibility: visible;
}

// /.end TOOLTIP

.requester-avatar--in-history {
  border-radius: 50%;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 21px;
  position: relative;
  top: 4px;
}

.requester-avatar--in-history-phone-number{
  top: -4px !important;
}

.requester-avatar--in-history-not-has-phone-number {
  top: -4px !important;
}

.ws-requests-list-servedby-avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin-top: 1px;
  margin-bottom: 1px;
  object-fit: cover;
}

.bot-type-logo-wpr {
  position: relative;
}

.bot-type-logo-img-wpr {
  border: 1px solid #eee;
  height: 15px;
  width: 15px;
  position: absolute;
  top: -34px;
  left: -3px;
  border-radius: 999px;
  background: #fff;
}

.served-by-bot--type-logo {
  // width: 15px;
  // height: 15px;
  // position: absolute;
  // top: -34px;
  // left: -3px;
  // border-radius: 50%;
  // border: 1px solid #eee;
  // padding: 1px;
  // background: #fff;
  position: relative;
  top: -5px;
  padding: 2px;

}

.lead_data {
  position: relative;
  top: -2px;
}

.requester_fullname_undefined {
  // padding: 4px;
  padding: 5px 4px;
  top: 4px;
  font-size: 11px;
}

.verified-icon-requester-undefined {
  top: -8px !important;
}

.verified-icon-requester-phone-num {
  top: -14px !important;
}

.requester_fullname_initial-undefined {
  position: relative;
  top: 1px;
}

.requester-verified {
  position: relative;
  left: -17px;
}

.requester-verified-with-phone-num {
  top: -11px !important;
}

.requester-verified-no-phone-num {
  top: -8px;
}

.verified-icon-requester-not-has-phone-number {
  top: -11px !important;
}

.requester-email {
  color: #7695a5;
  font-weight: 400;
  line-height: 18px;
  font-size: 11px;
  display: block;
  margin-left: 34px;
  margin-top: -10px;
}

.requester-email-undefined {
  color: #7695a5;
  font-weight: 400;
  line-height: 18px;
  font-size: 11px;
  display: block;
  margin-left: 34px;
  margin-top: -10px;
}

.requester-verified-email {
  position: relative;
  left: 17px;
}

.column-th-span {
  font-size: 14px;
  font-weight: 500;
  color: #353f45;
  // color: #566787;
}

.column-td {
  font-size: 12px;
  font-weight: 400;
}

.request-first-text:hover {
  color: rgb(20, 74, 117);
}

.member {
  font-weight: 400;
}

.current-user-member {
  font-weight: 400;
  color: #4caf50;
}

.served-by-agent {
  font-size: 11px;
  font-weight: 400;
}

.msg-alert {
  font-family: 'Poppins', 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
}

.user_profile_in_history {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin-top: 1px;
  margin-bottom: 1px;
}

.ua_browser_icon {
  width: 13px;
  // margin-bottom: 2px;
}

.padding_5 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.swal_modal_ok_btn_color {
  background-color: #3ea9f5;
}

.swal-button--confirm {
  background-color: #3ea9f5;
}

// test as
.input-group {
  // background: whitesmoke;
  background: rgb(238, 240, 241);
  transition: all 0.5s ease;
  border-radius: 5px;
  border: 0.1px solid lightgrey;
}

.search-field {
  border-radius: 0 !important;
  border-color: transparent !important;
  width: 100%;

  background: transparent;
  height: 50px;
  padding: 5px 10px;
}

.fa-search {
  color: grey;
  font-size: 18px;
}

.fa-caret-down {
  color: grey;
  font-size: 18px;
}

.custom-input-group---btn {
  background: transparent;
  border: none;
  border-radius: 50%;
}

.custom-input-group---btn:hover {
  background-color: rgba(60, 64, 67, 0.08);
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;

  .fa-search-btn {
    color: black !important;
  }

  .fa-advanced-option-btn {
    color: black !important;
  }

  .fa-clear-search-btn {
    color: black !important;
  }

  .refresh-page-icon {
    color: black !important;
  }

  .delete-forever-icon {
    color: black !important;
  }
}

.custom-input-group---btn:active {
  background-color: rgba(60, 64, 67, 0.12);
  outline: none;
}

.fa-search-btn {
  margin-top: 5px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 4px 4px;
}

.fa-advanced-option-btn {
  margin-top: 5px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 4px 7px;
  // padding: 5px 9px;
}

.fa-clear-search-btn {
  margin-top: 5px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  // padding: 5px 7px;
  padding: 5px 6px;
}

.search-field:focus {
  outline: 0px;
  /*     background:white; */
}

.input-group:focus-within {
  // background: white;
  // box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  // border: 0.1px solid white;
  border: 1px solid #d9d9d9;
  background: rgba(255, 255, 255, 1);
  // border: 1px solid transparent;
  // -webkit-box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
  // box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
}

.advanced-options {
  padding: 5px 30px;
  border: 1px solid #e5effe;
  margin-left: -15px;
  margin-right: -15px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.filter-bar-advanced-options {
  // margin-left: -15px;
  // margin-right: -15px;
  // margin: auto;
  padding: 5px 15px 5px 0px;
  max-width: 722px;
  box-shadow: 0 2px 6px 0 #e6e9ed;
  // position: absolute;
  // background: #fff;
  // top: 66px;
  // z-index: 1051;
  // margin-right: 195px;
}

.customh4 {
  font-family: 'Poppins', 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  //    color: #394f5a !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

.card-header-custom {
  box-shadow: none !important;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 1px solid #eff3f5;
  background-color: #fff;
}

.filter-row {
  padding: 7px;
  margin-right: -30px;
  margin-left: -30px;
  margin-top: -9px;
}

.filter-bar {
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
}

.filters-on-left {
  display: flex;
  align-items: center;
  flex: 0 0 180px !important;
  padding-left: 13px;
  padding-right: 0;
  padding: 13px 0;

  align-items: center;
  flex-wrap: wrap;
  font-size: 16.1px;
  background-color: #fff;
}

.filters-on-center {
  padding: 13px 0;
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16.1px;
  background-color: #fff;
  justify-content: center;
}

.filters-on-right {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 180px !important;
  justify-content: center;
}

.table-wrapper-col {
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (min-width: 768px) {
  .left-date-picker {
    padding-right: 0px;
  }

  .right-date-picker {
    padding-left: 0px;
  }
}

.no-request-icon {
  vertical-align: middle;
  color: #a9abad;
  font-size: 48px;
}

.no-request-text {
  color: #7695a5;
  font-size: 16px;
  padding-top: 8px;
}

.full-text-search {
  max-width: 460px;
  border: 0.1px solid #ffffff;
  width: 100%;
}

.full-text-search-full-width {
  max-width: 722px;
}

.filters-on-center-then-on-left {
  justify-content: unset;
}

.parent-x {
  display: flex;
  flex-wrap: wrap;
}

.child-x {
  flex: 1 0 21%;
  /* explanation below */
  margin: 5px;
  height: 100px;
  background-color: blue;
}

.custom-dropdown-a {
  color: #353f45;
  font-weight: 400;
}

.custom-dropdown-a:hover {
  background-color: #ffffff;
  color: #353f45;
}

.applied-filter {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  background-color: #e8f0fe;
  color: #1a73e8;
  padding: 6px 12px;
  font-family: 'Poppins', 'Roboto', 'Arial', sans-serif;
  border-radius: 10px;
  font-weight: 500;
  height: 32px;
  margin-right: 12px;
}

.applied-filter-title {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;

  color: #353f45;
  padding: 6px 12px;
  font-family: 'Poppins', 'Roboto', 'Arial', sans-serif;
  border-radius: 10px;
  font-weight: 500;
  height: 32px;
  margin-right: 3px;
  margin-left: -7px;
}

.conversations-count {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;

  color: #353f45;
  padding: 6px 12px;
  font-family: 'Poppins', 'Roboto', 'Arial', sans-serif;
  border-radius: 10px;
  font-weight: 500;
  height: 32px;
  margin-left: 9px;
  // background: #e4e6eb;
  // margin-bottom: 16px;
  margin-top: 8px;
}

// applied in the div of the ng-select 'Tag'
.tag--color {
  background-color: rgb(102, 197, 73);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 3px;
}

.email-wpr {
  background: #bb001b;
  border-radius: 50%;
}

.form-wpr {
  background: #39988D;
  border-radius: 50%;
}

.channel-img-in-conversations {
  width: 24px;
  height: 24px;
  min-width: 24px;
}

.tool-tip-bottom--custom {
  white-space: nowrap !important;
  min-width: fit-content !important;
  text-align: center !important;
  padding: 5px 10px !important;
  top: 29px !important;
  font-size: 10px !important;
}

// https://stackoverflow.com/questions/13014808/is-there-anyway-to-animate-an-ellipsis-with-css-animations
/*
 * Animate ellipsis 
 * -------------------------------------------------- */

.loading {
  color: #aaa
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
  color: #ddd;
  font-weight: 100 !important;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}


.ticket-id-badge {
  float: left;
  background-color: #e8e8e8;
  color: #737376;
  font-size: 11px;
  font-weight: 500;
  min-width: 20px;
  text-align: center;
  position: relative;
  top: 1px;
  border-radius: 4px;
  margin-right: 3px;
  padding: 0px 2px;
}

::ng-deep .convs-custom-mat-tooltip {
  background-color: #2d323e !important;
  font-size: 11px !important;
  border-radius: 2px !important;
  font-family: 'Poppins', 'Roboto', 'Arial', sans-serif !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

::ng-deep .mat-white-tooltip {
  background-color: #fff !important;
  font-size: 11px !important;
  border-radius: 2px !important;
  font-family: 'Poppins', 'Roboto', 'Arial', sans-serif !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border: 1px solid #ccc;
  color: #000 !important;
  font-weight: 400 !important;
}


.pro-only-badge {
  background: #3ea9f5;
  font-size: 9px;
  color: #fff;
  border-radius: 3px;
  padding: 3px 6px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  top: -3px;
}

.preflight-checkbox {
  margin-left: 15px;
  margin-top: 30px;
}


// .request-statuses-select {
//   margin-right: 15px;
// }

// @media (max-width: 768px) {
//   .request-statuses-select {
//     margin-right: 0px;
//   }
// }

.checkbox--label {
  font-size: 14px;
  color: #7695a5;
  display: flex;
  align-items: center;
  gap: 2px;
}