@import "./src/assets/sass/cds/_variables.scss";

$width-title: 62%;
$min-height-content: 376px;

$margin-left: 10px;
$padding: 10px; 

/* customize scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

.box-dx {
    font-family: $mdb-font-family;
}

.panel-tools-response {
    position: relative;
    display: inline-flex;
    vertical-align: top;
    width: auto;
    margin-left: 10px;
    max-height: 100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 0.6em;
    background-color: rgb($bg-color-card-rgb);
    font-family: 'Poppins','Roboto', 'Arial', sans-serif;
    color: #394f5a;
    font-size: 1em;
    padding: $padding;
}

.header {
    position: absolute;
    display: block;
    width: 100%;
    height: $height-header;
    max-height: $height-header;
    top: 0;
    left: 0;
    background: rgb($bg-color-bck-rgb);
    .i-priority-color-mark {
        background-color: $color-blue-hex;
        position: absolute;
        border-radius: 10px;
        top: 22px;
        left: 12px;
        display: block;
        width: 8px;
        height: 8px;
    }
    .form-group {
        position: absolute;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0 30px;
        .form-control {
            border: 0;
            background-size: 0 2px,100% 0px;
            background-image: linear-gradient($color-light-gray-hex, $color-light-gray-hex);
            transition-duration: .2s;
        }
        label.title {
            position: absolute;
            display: block;
            width: $width-title;
            top: 0;
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: 1.4em;
            line-height: $height-header;
            color: $color-light-gray-hex;
            &.noDisplay {
                display: none;
            }
        }
        input {
            position: absolute;
            display: block;
            width: $width-title;
            top: 0;
            left: 30px;
            margin-top: 6px;
            padding: 0;
            color: $color-bck-light-gray-hex;
            font-size: 1.4em;
        }
        .btn-save {
            position: absolute;
            width: calc(100% - $width-title);
            max-width: 100px;
            right: 10px;
            padding: 8px;
        }
    } 

    .form-group {
        &.is-error {
            .form-control {
                background-image: linear-gradient($color-red-hex,$color-red-hex),linear-gradient($color-light-gray-hex,$color-light-gray-hex);
                background-size: 100% 2px,100% 1px;
                transition-duration: .3s;
            }
        }
        &.is-focused {
            .form-control {
                background-image: linear-gradient($color-blue-hex,$color-blue-hex),linear-gradient($color-light-gray-hex,$color-light-gray-hex);
                background-size: 100% 2px,100% 1px;
                transition-duration: .3s;
            }
        }
    }

}

.content {
    position: relative;
    display: block;
    height: auto;
    min-height: $min-height-content;
    margin-top: 0px;
    overflow: auto;
    max-height: calc(100vh - 230px);

    .typeText{
        display: block;
    }
    .text-response{
        display: block;
        position: relative;
        height: auto;
        width: 100%;
        min-height: 200px;
        margin: 2px;
    }
    .text-editor-drop {
        position: absolute;
        display: flex;
        align-content: space-around;
        width: 24px;
        height: 26px;
        left: 0px;
        top: 30px;
        margin: 0;
        color: $color-bck-gray-hex;
        cursor: grab;
        background-color: transparent;
        z-index: 1; 
    }
    .text-editor-drop:hover {
        color: $color-withe-hex;
        cursor: grab;  
    }

    /** START DRAG AND DROP **/
    .draggable-list {
        width: 500px;
        max-width: 100%;
        border: solid 1px $color-txt-3-hex;
        min-height: 60px;
        display: block;
        background: $color-withe-hex;
        border-radius: 4px;
        overflow: hidden;
    }
      
    .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
       
    .draggable-box:last-child {
        border: none;
    }
      
    .draggable-list.cdk-drop-list-dragging .draggable-box:not(.cdk-drag-placeholder) {
       transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
      
    .custom-placeholder {
        opacity: 0.4;
        background: $color-txt-3-hex;
        border: dotted 2px $color-txt-2-hex;
        min-height: 60px;
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    /** END DRAG AND DROP **/
}


