<cds-action-description 
    [actionType]="'REPLY'"
    [actionSelected]="reply"
    [showTip]="intent_display_name==='start'"
    [tipText]="'<b>Pro tip</b>: Turn this block into a programmed proactive message. <a href=https://www.youtube.com/embed/SgDGwvVoqWE target=_blank>Here is how!</a> '">
</cds-action-description>

<div class="box-sx">
    

    <!-- [ngStyle]="{'transform': translateY}" -->
    <div #scrollMe id="scrollMe" 
        class="content draggable-list" 
        cdkDropList 
        (cdkDropListDropped)="drop($event)"
        >
        <!-- <div *ngFor="let response of arrayResponses; let i = index;" class="draggable-box" cdkDrag> -->
        <div *ngFor="let message of arrayMessagesWithWait; let i = index;" class="draggable-box" cdkDrag>
            <div *ngIf="message.type === typeMessage.TEXT ">
                <div class="custom-placeholder" *cdkDragPlaceholder>
                    <appdashboard-text-response
                    [index] = i
                    [typeAction] = typeAction
                    [response] = message
                    ></appdashboard-text-response>
                </div>
                
                <div class="response">
                    <div *ngIf="typeAction == 'reply'"
                        class="response-drop" 
                        [ngClass]="{'grabbing':textGrabbing}"
                        (mousedown)="mouseDown()" 
                        (mouseup)="mouseUp()" 
                        cdkDragHandle>
                    </div> 
                    <appdashboard-text-response
                    [index] = i
                    [typeAction] = typeAction
                    [response] = message
                    (moveUpResponse) = onMoveUpResponse($event)
                    (moveDownResponse) = onMoveDownResponse($event)
                    (deleteResponse) = onDeleteResponse($event)
                    (openButtonPanel) = onOpenButtonPanel($event)
                    (changeDelayTimeReplyElement) = onChangeDelayTimeReplyElement()
                    (changeReplyElement) = onChangeReplyElement()
                    ></appdashboard-text-response>
                </div>
            </div>
            
            <div *ngIf="message.type === typeMessage.IMAGE">
                <div class="custom-placeholder" *cdkDragPlaceholder>
                    <appdashboard-image-response
                    [index] = i
                    [typeAction] = typeAction
                    [response] = message
                    ></appdashboard-image-response>
                </div>
                
                <div class="response">
                    <div *ngIf="typeAction == 'reply'" 
                        class="response-drop" 
                        [ngClass]="{'grabbing':textGrabbing}"
                        (mousedown)="mouseDown()" 
                        (mouseup)="mouseUp()" 
                        cdkDragHandle>
                    </div> 
                    <appdashboard-image-response
                    [index] = i
                    [typeAction] = typeAction
                    [response] = message
                    (moveUpResponse) = onMoveUpResponse($event)
                    (moveDownResponse) = onMoveDownResponse($event)
                    (deleteResponse) = onDeleteResponse($event)
                    (openButtonPanel) = onOpenButtonPanel($event)
                    (changeDelayTimeReplyElement)=onChangeDelayTimeReplyElement()
                    (changeReplyElement) = onChangeReplyElement()
                    ></appdashboard-image-response>
                </div>
            </div>

            <div *ngIf="message.type === typeMessage.FRAME">
                <div class="custom-placeholder" *cdkDragPlaceholder>
                    <appdashboard-frame-response
                    [index] = i
                    [typeAction] = typeAction
                    [response] = message
                    ></appdashboard-frame-response>
                </div>
                
                <div class="response">
                    <div *ngIf="typeAction == 'reply'" 
                        class="response-drop" 
                        [ngClass]="{'grabbing':textGrabbing}"
                        (mousedown)="mouseDown()" 
                        (mouseup)="mouseUp()" 
                        cdkDragHandle>
                    </div> 
                    <appdashboard-frame-response
                    [index] = i
                    [typeAction] = typeAction
                    [response] = message
                    onChangeText
                    (moveUpResponse) = onMoveUpResponse($event)
                    (moveDownResponse) = onMoveDownResponse($event)
                    (deleteResponse) = onDeleteResponse($event)
                    (openButtonPanel) = onOpenButtonPanel($event)
                    (changeDelayTimeReplyElement) = onChangeDelayTimeReplyElement()
                    (changeReplyElement) = onChangeReplyElement()
                    ></appdashboard-frame-response>
                </div>
            </div>
    
        </div>
    </div>


    <div class="disable-input-message">
        <section class="disable-input-message-section">
            <mat-checkbox 
                [checked]="reply.attributes.disableInputMessage"
                (change)="onDisableInputMessage()">
                {{"Disable input box" | translate}}
            </mat-checkbox>
        </section>
    </div>
    

</div>

<div class="box-dx">
    <appdashboard-panel-reply-tools
        class="panel-tools-response"
        (addNewResponse) = onAddNewResponse($event)
    ></appdashboard-panel-reply-tools>
</div>


<div class="card-buttons" (focusout)="onFocusOutEvent($event)"
    [ngClass]="{'active':openCardButton}">
    <appdashboard-panel-button-configuration
        *ngIf="openCardButton"
        [button] = buttonSelected
        [listOfActions] = listOfActions
        (closeButtonPanel) = onCloseButtonPanel()
        (saveButton) = onSaveButton($event)>
    </appdashboard-panel-button-configuration>
</div>
