@import "./src/assets/sass/cds/_variables.scss";

$min-height-content: 376px;
$margin-left: 10px;
$padding: 10px; 

/* customize scrollbar */
::-webkit-scrollbar {
    width: 0px;
}


.box-sx {
    position: relative;
    display: inline-flex;
    vertical-align: top;
    width: calc(100% - 100px);
    max-height: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0.6em;
    background-color: rgb($bg-color-card-rgb);
    margin-left: $margin-left;
    font-family: 'Poppins','Roboto', 'Arial', sans-serif;
    color: #394f5a; 
    font-size: 1em;
    padding: $padding;
}

.box-dx {
    display: inline-flex;
    .panel-tools-response {
        position: relative;
        display: inline-flex;
        vertical-align: top;
        width: auto;
        margin-left: 10px;
        max-height: 100%;
        height: fit-content;
        overflow: hidden;
        border-radius: 0.6em;
        background-color: rgb($bg-color-card-rgb);
        font-family: 'Poppins','Roboto', 'Arial', sans-serif;
        color: #394f5a;
        font-size: 1em;
        padding: $padding;
    }
}


.content {
    position: relative;
    display: block;
    height: auto;
    width: 100%;
    min-height: $min-height-content;
    margin-top: 0px;
    overflow: auto;
    max-height: calc(100vh - 230px);

    .response {
        display: block;
        position: relative;
        height: auto;
        width: 100%;
        min-height: 200px;
        margin: 2px;
        .response-drop {
            position: absolute;
            display: flex;
            align-content: space-around;
            width: 24px;
            height: 26px;
            left: 0px;
            top: 30px;
            margin: 0;
            color: $color-bck-gray-hex;
            cursor: grab;
            background-color: transparent;
            z-index: 1; 
        }
        .response-drop:hover {
            color: $color-withe-hex;
            cursor: grab;  
        }
    }
    


    /** START DRAG AND DROP **/
    .draggable-list {
        width: 500px;
        max-width: 100%;
        border: solid 1px $color-txt-3-hex;
        min-height: 60px;
        display: block;
        background: $color-withe-hex;
        border-radius: 4px;
        overflow: hidden;
    }
      
    .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
       
    .draggable-box:last-child {
        border: none;
    }
      
    .draggable-list.cdk-drop-list-dragging .draggable-box:not(.cdk-drag-placeholder) {
       transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
      
    .custom-placeholder {
        opacity: 0.4;
        background: $color-txt-3-hex;
        border: dotted 2px $color-txt-2-hex;
        min-height: 60px;
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    /** END DRAG AND DROP **/
}


