<div class="box-dx">

    <div cdkDropList class="content draggable-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let response of arrayResponses; let i = index;" class="draggable-box" cdkDrag>

            <div *ngIf="response.message.type === typeMessage.TEXT && response.message">
                <div class="custom-placeholder" *cdkDragPlaceholder>
                    <appdashboard-text-response
                    [index] = i
                    [response] = response.message
                    (moveUpResponse) = onMoveUpResponse($event)
                    (moveDownResponse) = onMoveDownResponse($event)
                    (deleteResponse) = onDeleteResponse($event)
                    ></appdashboard-text-response>
                </div>
                
                <div class="text-response">
                    <div class="text-editor-drop" 
                        [ngClass]="{'grabbing':textGrabbing}"
                        (mousedown)="mouseDown()" 
                        (mouseup)="mouseUp()" 
                        cdkDragHandle>
                    </div> 
                    <appdashboard-text-response
                    [index] = i
                    [response] = response.message
                    (moveUpResponse) = onMoveUpResponse($event)
                    (moveDownResponse) = onMoveDownResponse($event)
                    (deleteResponse) = onDeleteResponse($event)
                    (openButtonPanel) = onOpenButtonPanel($event)
                    ></appdashboard-text-response>
                </div>
            </div>
            
            <div *ngIf="response.message.type === typeMessage.IMAGE">
                <div class="custom-placeholder" *cdkDragPlaceholder>
                    <appdashboard-image-response
                    [index] = i
                    [response] = response.message
                    (moveUpResponse) = onMoveUpResponse($event)
                    (moveDownResponse) = onMoveDownResponse($event)
                    (deleteResponse) = onDeleteResponse($event)
                    ></appdashboard-image-response>
                </div>
                
                <div class="text-response">
                    <div class="text-editor-drop" 
                        [ngClass]="{'grabbing':textGrabbing}"
                        (mousedown)="mouseDown()" 
                        (mouseup)="mouseUp()" 
                        cdkDragHandle>
                    </div> 
                    <appdashboard-image-response
                    [index] = i
                    [response] = response.message
                    (moveUpResponse) = onMoveUpResponse($event)
                    (moveDownResponse) = onMoveDownResponse($event)
                    (deleteResponse) = onDeleteResponse($event)
                    (openButtonPanel) = onOpenButtonPanel($event)
                    ></appdashboard-image-response>
                </div>
            </div>

            <div *ngIf="response.message.type === typeMessage.FRAME">
                <div class="custom-placeholder" *cdkDragPlaceholder>
                    <appdashboard-frame-response
                    [index] = i
                    [response] = response.message
                    (moveUpResponse) = onMoveUpResponse($event)
                    (moveDownResponse) = onMoveDownResponse($event)
                    (deleteResponse) = onDeleteResponse($event)
                    ></appdashboard-frame-response>
                </div>
                
                <div class="text-response">
                    <div class="text-editor-drop" 
                        [ngClass]="{'grabbing':textGrabbing}"
                        (mousedown)="mouseDown()" 
                        (mouseup)="mouseUp()" 
                        cdkDragHandle>
                    </div> 
                    <appdashboard-frame-response
                    [index] = i
                    [response] = response.message
                    (moveUpResponse) = onMoveUpResponse($event)
                    (moveDownResponse) = onMoveDownResponse($event)
                    (deleteResponse) = onDeleteResponse($event)
                    (openButtonPanel) = onOpenButtonPanel($event)
                    ></appdashboard-frame-response>
                </div>
            </div>
    
        </div>
    </div>


    <appdashboard-panel-reply-tools
        class="panel-tools-response"
        (addNewResponse) = onAddNewResponse($event)
    ></appdashboard-panel-reply-tools>

</div>
