p {
    margin-bottom: 0px;
}

.header {
    border-bottom: solid 1px #e0e0e0;
    padding: 12px 12px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    //justify-content: space-between;

    .status {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 20px;
        margin-left: 10px;
        font-weight: 500;
    }
}

.content {
    padding: 20px;
}

.custom-connect-button {
    height: 36px;
    background: none;
    border: solid 2px #dedede;
    border-radius: 8px;
    padding: 0px 14px;

    img {
        margin-right: 8px;
    }
}