.script-wrap {
    display: block;
    margin: 20px 0 10px 0;
    padding-left: 46px;
    padding-right: 20px;
}

.widget-design-pre {
    padding-left: 0px;
    margin-bottom: 0px;
    font-size: 12px !important;
}

@media (max-width: 768px) { 
    .script-wrap {
        padding-right: 0px;
        padding-left: 0px;
    }
    .widget-design-pre {
        font-size: 10px !important;
    }
}