.script-wrap {
    display: block;
    margin: 20px 0 10px 0;
    padding-left: 46px;
    padding-right: 20px;
}

.widget-design-pre {
    padding-left: 0px;
    margin-bottom: 0px;
    font-size: 12px !important;
    min-height: 330px;
    padding-top: 7px;
    background: #333;
    color: #ddd;
}

#copy-js-code-btn {
    margin-top: 0px;
    color: var(--blue-20);
    margin: 0px;
    border-radius: 0em 0em 0.25px 0.25px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

#copy-js-code-btn > span { 
    color: var(--blue-20);
}

#copy-js-code-btn > span > i { 
    color: var(--blue-20);
    vertical-align: middle;
}

@media (max-width: 768px) {
    .script-wrap {
        padding-right: 0px;
        padding-left: 0px;
    }

    .widget-design-pre {
        font-size: 10px !important;
    }
}