<div class="navbar-brand" style="z-index: 1050;position: relative;padding-left:30px"
    [ngStyle]="{'margin-top':isChromeVerGreaterThan100 === true ? '-64px' : '6px' }">
    <i class="material-icons" style="vertical-align: middle !important; cursor: pointer;" (click)="goBack()">
        keyboard_arrow_left
    </i>
    Template details
</div>



<div class="main-content" style="padding-top:0px;padding-left:0px; padding-right:0px">
    <div class="container-fluid" style="padding-left: 5px;padding-right: 5px;">

        <div class="button-row">
            <div></div>
            <button type="button" class="btn btn-new btn-size-l btn--primary" (click)="forkTemplate()">
                <span>Import Chatbot</span>
            </button>
        </div>
        <div class="template-dtls-page-content">
            <div class="template-dtls-icon-and-title">

                <div class="template-dtls-icon">

                    <span *ngIf="!template?.bigImage">
                        <img *ngIf="UPLOAD_ENGINE_IS_FIREBASE" class="cmnty-chatbot-dtls-img"
                            src="https://firebasestorage.googleapis.com/v0/b/{{storageBucket}}/o/profiles%2F{{template?._id}}%2Fphoto.jpg?alt=media"
                            onerror="this.src='assets/img/avatar_bot_tiledesk.svg'" />

                        <img *ngIf="!UPLOAD_ENGINE_IS_FIREBASE" class="cmnty-chatbot-dtls-img"
                            src="{{baseUrl}}images?path=uploads%2Fusers%2F{{template?._id}}%2Fimages%2Fthumbnails_200_200-photo.jpg"
                            onerror="this.src='assets/img/avatar_bot_tiledesk.svg'" />
                    </span>
                    <span *ngIf="template?.bigImage">
                        <img class="cmnty-chatbot-dtls-img" src="{{template.bigImage}}">
                    </span>
                </div>

                <div class="template-dtls-title">

                    {{ template?.name}}

                </div>
            </div>

            <div class="template-dtls-description">
                {{ template?.description}}
            </div>
        </div>



    </div>
</div>