.template-dtls-page-content {
    padding: 0 50px;
}

.template-dtls-icon-and-title {
    display: flex;
    gap: 8px;
    justify-content: left;
    align-items: center;
}

.template-dtls-title {
    font-size: 30px;
    font-weight: 500;
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
    line-height: 33px;
    max-width: 600px;
}

.cmnty-chatbot-dtls-img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    background-color: #f0f1f2;
    border: 1px solid #d2d4d6;
}


.template-dtls-description {
    max-width: 820px;
    margin-top: 8px;
    font-weight: 300;
    font-size: 16px;
}

.button-row {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 10px;
}

.btn-new span {
    display: inline-block;
}

.btn--primary {
    background-color: var(--blue-light);
    border-color: var(--blue-light);
    color: #fff;
}

.btn--primary:hover {
    background-color: var(--blue-light);
    border-color: var(--blue-light);
    color: #fff;
}

.btn-size-l {
    border-radius: 4px;
    font-size: 16px;
    height: 38px;
    line-height: 20px;
    min-width: 80px;
    padding: 0 16px;
    text-transform: none;
    box-shadow: unset;

}


.cmnty-chatbot-dtls-author {
    height: 24px;
    width: 24px;
    object-fit: cover;
    background-color: #f0f1f2;
    border: 1px solid #d2d4d6;
    border-radius: 50%;
}

.cmnty-chatbot-dtls-author-and-publication-date-wpr {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.cmnty-chatbot-publication-date {
    font-size: 14px;
    font-weight: 300;
}

.template-dtls-tags-wpr {
    display: flex;
    gap: 6px;
    // justify-content: flex-end;
    max-width: 820px;
    margin-top: 8px;
}

.template-dtls-tag {
    border-width: 1px;
    border-style: solid;
    border-color: #c0c3c4;
    border-radius: 16px;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: 400;
    height: fit-content;
    line-height: 1.2;
}

.template-dtls-template-features-title {
    font-size: 18px;
    font-weight: 400;
    margin-top: 26px;
}

.template-dtls-feature {
    padding: 6px 0px;
    font-weight: 400;
}

::ng-deep .custom-mat-tooltip {
    background-color: #2d323e !important;
    font-size: 12px !important;
    border-radius: 2px !important;
    font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #fff !important;
}