<!-- 

<div class="text-response">
   
    <div class="text-editor-wrapper">

        <div class="delay"></div>
        
        <div class="text-editor">
            <mat-form-field [style.fontSize]="fontSize.value" appearance="fill">
                <mat-label>Autosize textarea</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5"></textarea>
              </mat-form-field>
                  </div>

        <div class="editor-utils"></div>
    </div> 

    <div class="quick-replies">
        <div class="tpl-drop-down"> 
            <div aria-expanded="false">
                <div class="quick-reply">
                    <div data-quick-reply-text="Button" class="quick-reply-text">
                        Button
                    </div>
                </div>
            </div>
        </div> 
        <div class="quick-reply-add">
        + Add button
        </div>
    </div>
</div> -->