
.text-response {
    font-size: 14px;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    .text-editor {
        margin-bottom: 20px;
        padding: 0 30px;
        padding: 20px 20px 0;
        border-radius: 8px;
        max-height: 165px;
        min-height: 65px;
        background-color: #22272d;
        border: 1px solid #fff;
        color:#fff;
        overflow-x: hidden;
        overflow-y: auto;
        transition: border .3s;
        border-radius: 8px;
        textarea {
            background-color: #22272d;
            resize: vertical;
            margin: 12px 0;
            padding: 0 6px 0 0;
            color: #ffffffde;
            height: auto;
            width: 100%;
            min-width: 0;
            border-radius: 0;
            background: none;
            appearance: none;
            font-size: 1em;
        }

        // font-size: 16px;
        // line-height: 20px;
        // line-height: 25px;
        // word-wrap: break-word;
        // white-space: pre-wrap;
        // display: flex;
        // flex-direction: column;
        // outline: none;
        // user-select: auto;
    }

}