/** LOCAL COLORS **/
$color-withe: #ffffff;
$color-blue: #3ea9f5;
$color-light-gray: #d3d3d3;
$color-text-select: rgb(118, 149, 165);
$color-bck-box: #e7f3ff;;
$color-text-box: #566787;

$bg-color-dark-rgb: 16 23 37;
$bg-color-bck-rgb: 27 37 51; 
$bg-color-card-rgb: 39 48 61;

$bg-color-dark-hex: 16 23 37;
$bg-color-bck-hex: #1b2533;
$bg-color-card-hex: 39 48 61;

$bg-opacity-full: 1;
$bg-opacity-halfway: 0.5;
$bg-opacity-empty: 0.2;


// Typography elements
$mdb-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$mdb-font-family-poppins: "Poppins", "Roboto", Arial, sans-serif !default;

$padding-base: 15px !default;
$margin-base: 15px !default;