/** LOCAL COLORS **/
$color-withe-hex: #ffffff;
$color-blue-hex: #3ea9f5;
$color-red-hex: #ed2e19;
$color-orange-hex: #ffbb1c;
$color-light-gray-hex: #D2D2D2;

$color-bck-light-gray-hex: #e7f3ff;
$color-bck-gray-hex: #647283;
$color-text-box-hex: #566787;
$color-text-select-hex: #7695A5;

$bg-color-dark-rgb: 15 23 42;
$bg-color-bck-rgb: 30 41 59; 
$bg-color-card-rgb: 41 52 69;

$bg-color-dark-hex: #0F172A;
$bg-color-bck-hex: #1E293B;
$bg-color-card-hex: #293445;

$bg-opacity-full: 1;
$bg-opacity-halfway: 0.5;
$bg-opacity-empty: 0.2;


// Typography elements
$mdb-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$mdb-font-family-poppins: "Poppins", "Roboto", Arial, sans-serif !default;

$padding-base: 15px !default;
$margin-base: 15px !default;