<div class="rules-container">
    <div class="new-rules-box" [style.visibility]="showWelcome? 'hidden': 'visible'">
        <div class="new-rules-button" (click)="addNew()">
            <span class="material-icons icon plus-icon">add</span>
            <p class="button-text">Add</p>
        </div>
    </div>

    <div class="welcome_message_wrp" *ngIf="showWelcome">
            <div class="welcome_title">You have no rules set for this Chatbot</div>
            <div class="welcome_subtitle">Rules allow your Chatbot to proactively write to your visitor based on specific events (i.e. visitor lands on a specific page)</div>
            <div class="button-wrp">
                <!-- <div class="new-rules-button" (click)="addNew()">
                    <span class="material-icons icon plus-icon">add</span>
                    <p class="button-text">Add</p>
                </div> -->
                <button id="cds-new-rules-button" type="button" class="btn btn-primary" (click)="addNew()"> 
                    <span class="material-icons icon plus-icon">add</span>
                    Add
                </button>
            </div>
    </div>
    <cds-rules-add *ngIf="addClicked"
        [listOfIntents]="listOfIntents"
        [selectedChatbot]="selectedChatbot"
        (onRuleAdded)="onRuleAdded($event)"
        (onBack)="onBack($event)">
    </cds-rules-add>

    <cds-rules-list
        [listOfIntents]="listOfIntents"
        [listOfRules]="listOfRules"
        [selectedChatbot]="selectedChatbot"
        (onRuleDeleted)="onRuleDeleted($event)">
    </cds-rules-list>
      
</div>

