<div id="image-viewer-modal" class="image-viewer-modal">

  <div class="image-viewer-modal-header">
    <!-- The Close Button -->
    <span class="button" (click)="closeImageViewerModal()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
      </svg>
    </span>
    <!-- The Download Button -->
    <span class="button" (click)="downloadImage()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z" />
      </svg>
    </span>
  </div>

  <!-- Modal Content (The Image) [src]="metadata.src"-->
  <div class="image-viewer-modal-content">
    <img id="image-viewer-img">
  </div>

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>