// --- MODAL PREVIEW IMAGE
.image-viewer-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1050; /* Sit on top */
  // padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.image-viewer-modal-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin: 20px;

  /* The Close Button */
  .button {
    transition: 0.3s;
    border-radius: 50px;
    padding: 7px 8.5px;
  }

  svg {
    background-color: transparent;
    fill: rgba(255, 255, 255, 0.5);
  }

  .button:hover,
  .button:focus {
    // color: #bbb;
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    cursor: pointer;
    svg {
      fill: rgba(255, 255, 255, 1);
    }
  }
}
/* Modal Content (Image) */
.image-viewer-modal-content {
  margin: auto;
  display: block;
  padding: 0px 5px;
  height: 82%;

  img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
  }
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  // height: 150px;
}

/* Add Animation - Zoom in the Modal */
.image-viewer-modal-content,
#caption {
  animation-name: zoom;
  // animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

// /* 100% Image Width on Smaller Screens */
// @media only screen and (max-width: 700px){
//   .modal-content {
//   //   width: 100%;
//   }
// }

