@import "../../../assets/sass/md/_variables.scss";
@import "./src/assets/sass/_spinner-section.scss";
@import "./src/assets/sass/_animations.scss";

//---------------------//
// STRUCTURE
//---------------------//
.install-template {
  animation: none !important;
  /**  local variables **/
  --width-col-rigth: 360px;
  //----------------------------------//
  font-family: $mdb-font-family-poppins;
  background: white;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  //---------------------//
  // STRUCTURE
  //---------------------//
  .col-left {
    min-height: 100vh;
    height: auto;
    background: white;
    width: calc(100% - var(--width-col-rigth));
    position: relative;
    float: left;
    padding: 100px 60px 60px;
    z-index: 20;
  }
  .col-right {
    min-height: 100vh;
    height: auto;
    width: var(--width-col-rigth);
    position: relative;
    float: left;
    overflow: hidden;
    z-index: 10;
  }

  .lft-col-left {
    background: white;
    // width: 50%;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 10px;
  }
  .rgh-col-right {
    width: 50%;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
  }
  //---------------------//

  .logo {
    position: absolute;
    width: 150px;
    top: 20px;
    left: 20px;
    z-index: 9999;
  }
  .title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3em;
    margin-top: 10px;
    margin-bottom: 0.5em;
    span {
      display: "block";
    }
  }
  .pre-title {
    color: $black-input-color;
    position: relative;
    line-height: normal;
    margin: 0 0 0.5em;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
  }
  .description {
    margin-top: 0px;
    color: #525f7f;
    font-size: 14px;
    font-weight: 400;
  }

  // .close-wizard-page {
  //   text-align: left;
  //   height: 66px;
  //   position: absolute;
  //   top: 20px;
  //   right: 20px;
  //   margin-left: -100%;
  //   color: $white;
  //   z-index: 9999;
  //   .close-btn {
  //     font-size: 60px;
  //     font-weight: 100;
  //     color: $white;
  //     cursor: pointer;
  //     opacity: 0.8;
  //   }
  //   .close-btn:hover {
  //     opacity: 0.5;
  //   }
  // }

  // ANIMATIONS //
  .fade-in-right {
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
    animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
  }
  .fade-in-left {
    -webkit-animation: fade-in-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
    animation: fade-in-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  }

  /** START DISPLAY_SPINNER_SECTION */
  .loading-section {
    display: flex;
    flex-flow: column;
    // .images-wrapper {
    //   left: 50%;
    //   position: absolute;
    //   top: 50%;
    //   transform: translate(-50%, -50%);
    //   border-radius: 50%;
    //   background-color: #fff;
    //   height: 112px;
    //   overflow: hidden;
    //   width: 112px;
    //   margin-left: 0px;
    //   margin-top: -55px;
    // }
  }

  // .wizard-success-container {
  //   align-items: center;
  //   display: flex;
  //   flex-direction: column;
  //   position: absolute;
  //   margin-top: 8px;
  //   top: 50%;
  //   left: 0;
  //   right: 0;
  //   margin-left: 0px;

  //   .success-label {
  //     color:#70b665;
  //     .wizard-span-processing-msg {
  //       font-size: 18px;
  //       top: 2px;
  //       position: relative;
  //     }
  //     .wizard-span-success-msg {
  //       font-size: 18px;
  //       top: 2px;
  //       position: relative;
  //       margin-left: 8px;
  //     }
  //   }
  //   /** END DISPLAY_SPINNER_SECTION */

  // }

  /** **/
  @media (max-width: 992px) {
    .col-left {
      width: 100%;
    }
    .col-right {
      display: none;
    }

    .close-wizard-page {
      .close-btn {
        color: $black-color;
      }
    }
  }
}

$color-pro-plan: #3ea9f5;

.logo_on_rocket {
  max-width: 34px;
  height: auto;
  padding-top: 25px;
  float: right;
  position: absolute;
  z-index: 1050;
  right: 176px;
  bottom: 323px;
  -webkit-transform: rotate(30deg);
  transform: rotate(-30deg);
}

.razzo_wizard_script {
  max-width: 639px;
  height: auto;
  padding-top: 25px;
  float: right;
  position: absolute;
  z-index: 1050;
  right: -80px;
  bottom: 200px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

@media (min-width: 992px) {
  .wizard-bckgrnd {
    // background-size: 475px 449px, 188px 100%, 179px 100%;
    // background-size: 199px 449px, 188px 100%, 179px 100%;
    background-size: 375px 100%, 188px 100%, 179px 100%;
    background-position: right -12px bottom, right, calc(100% - 179px);
    // background-repeat: repeat-y;
    background-repeat: no-repeat;

    background-image: linear-gradient(to bottom, #1a73e8 0%, $color-pro-plan 100%),
      linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #eff2f6 50%, #eff2f6 100%);
  }
}

@media (max-width: 992px) {
  .razzo_wizard_script {
    display: none;
  }
  .logo_on_rocket {
    display: none;
  }
}

.install-widget-page-title {
  margin-top: 10px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 36px;
}

@media (max-width: 510px) {
  .install-widget-page-title {
    font-size: 24px;
  }
}

pre {
  font-family: monospace;
  background-color: #fff;

  // margin: 4em auto;
  // padding: 0.5em;
  border: none;
  // border-radius: 0.25em;
  border-radius: 0.25em 0.25em 0px 0px;
  // box-shadow: .1em .1em .5em rgba(0,0,0,.45);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  line-height: 0;
  counter-reset: line;

  span {
    display: block;
    line-height: 2.1rem;

    &:before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 0.5em;
      margin-right: 0.5em;
      color: #039be5;
      // background: #f2feef;
      background: rgba(3, 155, 229, 0.1);
      width: 30px;
      text-align: end;
    }
  }
}

.ng-select.select-language-in-wizard .ng-select-container {
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-bottom-color: #3ea9f5;
  border-radius: 0;
  height: 50px;
  line-height: 1.5em;
}

.ng-select.select-language-in-wizard {
  font-size: 18px;
}

.unchecked-color:hover {
  transform: scale(1.1);
}

.checked-color:after {
  // border: red 2px solid;
  content: "\f00c";
  position: absolute;
  font-family: FontAwesome;
  right: -3px;
  border-radius: 50px;
  background: #4caf50;
  color: #fff;
  padding-left: 3px;
  // padding-right: 3px;
  height: 20px;
  width: 20px;
}

.configure-widget-palette {
  height: 34px;
  width: 34px;
  // border-radius: 50%;
  margin-right: 10px;
  // border: 1px solid #eee;
  cursor: pointer;
  float: left;
  top: 1px;
  left: 1px;
  border-right: 1px solid #e5effe !important;
}

.no-top-padding {
  margin-top: 0px !important;
}

.wizard-control-label {
  margin-top: 6px !important;
  color: #3c4858 !important;
}

// tempalte card rules

.page-content--wpr {
  display: grid;
  justify-content: center;
}

.page-content {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: normal;
  padding: 0px 20px 20px;
  max-width: 1280px;
}

.button-row {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.button-row > :nth-child(1) {
  margin-right: auto;
}

.btn-new.btn-block {
  // display: inline-flex;
  text-transform: none;
}

.btn-new span {
  display: inline-block;
}

.btn--primary {
  background-color: var(--blue-light);
  border-color: var(--blue-light);
  color: #fff;
}

.btn--primary:hover {
  background-color: var(--blue-light);
  border-color: var(--blue-light);
  color: #fff;
}

.btn-block {
  display: block;
  max-width: 100%;
  min-width: auto;
  width: 100%;
}

.btn-size-l {
  border-radius: 4px;
  font-size: 16px;
  height: 38px;
  line-height: 20px;
  min-width: 80px;
  padding: 0 16px;
}

.btn-size-m {
  border-radius: 4px;
  font-size: 14px;
  height: 34px;
  line-height: 18px;
  min-width: 64px;
  padding: 0 14px;
  text-transform: none;
}

.template-cards-wpr {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: normal;
}

.template-cards {
  display: grid;
  gap: 20px;
  // grid-template-columns: repeat(2, minmax(0px, 1fr));
}

// @media (min-width: 1200px) {
//     .template-cards {
//         grid-template-columns: repeat(3, minmax(0px, 1fr));
//     }
// }
// @media (min-width: 1440px) {
//     .template-cards {
//         grid-template-columns: repeat(4, minmax(0px, 1fr));
//     }
// }

.template-detail-btns-wpr {
  display: flex;
  margin-top: 32px;
}

.template-detail-btns-wpr .btn {
  margin: 0px 12px 0px 0px;
}

.btn-new span {
  display: inline-block;
}

.btn-size-l {
  border-radius: 4px;
  font-size: 16px;
  height: 38px;
  line-height: 20px;
  min-width: 80px;
  padding: 0 16px;
}

.btn-new {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.btn--primary {
  background-color: #0566ff;
  border: 1px solid #0566ff;
  color: #fff;
  box-shadow: none;
  text-transform: none;
  min-width: 160px;
}

.btn--primary:hover {
  background-color: #0049bd;
  border-color: #0049bd;
  color: #fff;
}

.btn--default {
  background-color: transparent;
  border: 1px solid #d1d9e0;
  color: #333;
  box-shadow: none;
  text-transform: none;
  min-width: 160px;
}

.btn--default:hover {
  background-color: #eff2f6;
  border: 1px solid #acb8cb;
  color: #333;
}

.install-template-tags-section-name {
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  // letter-spacing: -0.01em;
  // color: rgb(100, 116, 145);
}

.blank-span-h24 {
  display: block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
}

.template-detail-section-features-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
}

.blank-span-h16 {
  display: block;
  width: 16px;
  min-width: 16px;
  height: 8px;
  min-height: 8px;
}

.template-detail-features-wpr {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: normal;
}

.template-detail-features-wpr.template-detail-features-wpr > * {
  margin-top: 0px;
  margin-bottom: 0px;
}

.template-detail-features {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
}

.template-detail-features > * + * {
  margin-left: 8px;
}

.template-detail-features-dot {
  width: 20px;
  height: 20px;
  display: flex;
  flex-shrink: 0;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.template-detail-features-dot::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(100, 116, 145);
}

.template-detail-feature {
  margin-top: 0px;
  // margin-bottom: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
}

// --------

.template-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: 280px;
  padding: 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1) 0s;
  overflow: hidden;
  border: 1px solid #dbe1e8;
}

.template-card-img-row {
  display: flex;
  height: 40px;
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1) 0s;
  opacity: 1;
}

.template-card-img-row svg {
  width: 40px;
  height: 40px;
  fill: url(#bot-cool-gradient) rgb(56, 134, 255);
}

.blank-span-h20 {
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
}

.template-card-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1) 0s;
  font-weight: 500;
  overflow: hidden;
}

.blank-span-h08 {
  display: block;
  width: 8px;
  min-width: 8px;
  height: 8px;
  min-height: 8px;
}

.template-card-description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1) 0s;
  position: relative;
  color: rgb(100, 116, 145);
  overflow: hidden;
}

.use-template-btn-row {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0px;
  padding: 24px;
  margin: 0px -24px;
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1) 0s;
  transform: translateY(12px);
  z-index: 1;
}

.template-card-footer {
  flex: 1 1 0%;
  align-items: flex-end;
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1) 0s;
  display: flex;
}

.template-tags-wpr {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
}

.template-card:hover {
  box-shadow: rgb(0 27 71 / 12%) 0px 12px 32px;
}

.template-card:hover .use-template-btn-wpr {
  opacity: 1;
  transform: translateY(0px);
}

.template-card:hover .template-img {
  transform: translateY(-12px);
  opacity: 0;
}
.template-card:hover .template-name {
  transform: translateY(-60px);
}
.template-card:hover .template-description {
  transform: translateY(-60px);
}

.template-card:hover .template-footer {
  transform: translateY(-12px);
  opacity: 0;
}

.template-tags {
  display: flex;
  flex-flow: row wrap;
  -webkit-box-align: center;
  margin: -3px -2px;
  flex: 1 1 0%;
  align-items: flex-end;
  -webkit-box-pack: start;
  justify-content: flex-start;
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1) 0s;
}
.template-tags > * {
  margin: 3px 2px;
}

.template-tag {
  display: flex;
  border-radius: 4px;
}

.template-no-certified-tag {
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: #c0c3c4;
  border-radius: 16px;
  padding: 0px 10px;
  font-size: 12px;
  font-weight: 400;
}

.template-tag-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.01em;
  padding: 3px 5px;
  word-break: break-word;
}

.template-card-right-top-corner-badge {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1) 0s;
  opacity: 1;
}

.close-wizard-page {
  text-align: left;
  height: 66px;
  position: absolute;
  top: 20px;
  right: 20px;
  margin-left: -100%;
  color: $white;
  z-index: 9999;

  .close-btn {
    font-size: 60px;
    font-weight: 100;
    color: $white;
    cursor: pointer;
    opacity: 0.8;
  }

  .close-btn:hover {
    opacity: 0.5;
  }
}
