.home-block-wpr {
    margin-top: 18px;
    border-radius: 12px;
    padding: 24px;
    // box-shadow: 0 0 20px 4px rgb(154 161 177 / 15%), 0 4px 80px -8px rgb(36 40 47 / 25%),
    //     0 4px 4px -2px rgb(91 94 105 / 15%);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a;
    background-color: #fff;
}

.home-block-header-wpr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-block-header {
    align-items: center;
    flex-direction: row;
    display: flex;
}

.home-block-title {
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", "Roboto", "Arial", sans-serif;
}

.home-block-description-and-action-btn-wpr {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    flex-direction: column;
    gap: 8px;
}

.home-block-description {
    color: #222;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
}

.kb-counter {
    display: flex;
    justify-content: flex-start;
    color: #647491;
    flex-direction: row;
    gap: 6px;
}

.actions--btn-wpr {
    display: flex;
    justify-content: flex-end !important;
}

// #00000042

#home-material-btn {
    background-color:var(--blue-light);
    color: #fff;
    margin-right: 4px;
}

.add-kb-disabled {
    color: #00000042 !important;
    cursor: not-allowed;
}

.mat-flat-button {
    padding: 0 18px !important;
    border-radius: 9999px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    line-height: 1 !important;
}

.mat-button .mat-button-wrapper>*,
.mat-flat-button .mat-button-wrapper>* {
    vertical-align: middle;
}

.kb-reedemed-number {
    cursor: pointer;
}
.kb-reedemed-number:hover {
    text-decoration: underline;
}

#hc-chatbot-count-btn {
    margin-top: 0px;
    max-height: 45px;
    min-width: 270px;
    font-size: 16px;
  }
  
  #hc-chatbot-count-btn>.btn-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #hc-chatbot-count-btn>.btn-content>.btn--bot-count {
    min-width: 18px;
    text-align: center;
  }