<div class="home-block-wpr">
    <div class="home-block-header-wpr">
        <div class="home-block-header">
            <div class="home-block-title">
                Connect a Knowledge Base
            </div>
        </div>
    </div>
    <div style="height: 24px; width: 0px; flex: 0 0 auto;"></div>

    <div class="home-block-description-and-action-btn-wpr">
        <div class="home-block-description" style="padding-right:55px">
            Upload URLs to streamline content creation and seamlessly integrate your knowledge base content for a Chat-GPT-like experience
        </div>
       
        <div class="actions-btn-wpr">
            <button mat-flat-button=""
                class="mat-focus-indicator mat-flat-button mat-button-base"
                style="background-color: #2196f3; color: #fff;margin-right: 4px;">
                <span class="mat-button-wrapper">
                 
                    <span class="ml-2"
                        style="font-size: 15px;">
                        Customize
                    </span>

                </span>
                <span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false"
                    ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]">
                </span>
                <span class="mat-button-focus-overlay"> </span>
            </button>
        </div>

    </div>
</div>