<div class="home-block-wpr">
    <div class="home-block-header-wpr">
        <div class="home-block-header">
            <div class="home-block-title">
                <!-- Connect a Knowledge Base -->
                Your Knowledge Bases
            </div>
        </div>
    </div>
    <div style="height: 24px; width: 0px; flex: 0 0 auto;"></div>

    <div class="home-block-description-and-action-btn-wpr">
        <div class="home-block-description" style="padding-right:55px;margin-bottom: 16px;">
            <!-- Upload URLs to streamline content creation and seamlessly integrate your knowledge base content for a
            Chat-GPT-like experience -->

            The  Knowledge Base is a powerful tool that allows users to manage and access organizational knowledge in one central location.
            It has been designed to replace the traditional Q&A system and enable users to upload various sources of information, including PDFs, Text Document, and website URLs
        </div>

        <div class="hc-chatbot-count-btn-wpr">
            <button id="hc-chatbot-count-btn" class="btn btn-size-xl btn-p-outline btn-p-ripple"
              (click)="goToKnowledgeBases()">
              <div class="btn-content">
                <div class="btn--text">
                  Your Knowledge Bases
                </div>
                <div class="btn--bot-count">
                  {{namespaceCount}}
                </div>
              </div>
            </button>
        </div>

        <!-- <div class="kb-counter">

            <span [ngStyle]="{'color': kbCount > kbLimit ? '#f44336' : '#3ea9f5'}" class="kb-reedemed-number"
                matTooltipClass="h-custom-mat-tooltip"
                matTooltip="View detail in Knowledge Bases" 
                #tooltip="matTooltip" 
                matTooltipPosition='below'
                matTooltipHideDelay="100" 
                (click)="goToKnowledgeBases()">
                {{ 'KbPage.KbCounterFooter1' | translate: { counter: kbCount } }} 
            </span>
            {{ 'KbPage.KbCounterFooter2' | translate: {allowed_kb_num: kbLimit, plan_name: prjct_profile_name} }}

            <span *ngIf="(!subscription_is_active && prjct_profile_type === 'payment') && (kbCount > kbLimit)">
                <i class="material-icons" 
                    matTooltipClass="h-custom-mat-tooltip"
                    matTooltip="Subscription payment problem" 
                    #tooltip="matTooltip" 
                    matTooltipPosition='below'
                    matTooltipHideDelay="100" 
                    (click)="openModalSubsExpired()"
                    style="vertical-align: middle; color: #f44336; cursor: pointer; font-size: 20px;">
                    error
                </i>
            </span>

            <span *ngIf="(trial_expired && prjct_profile_type === 'free') && (kbCount > kbLimit)">
                <i class="material-icons" 
                    matTooltipClass="h-custom-mat-tooltip"
                    matTooltip="Your 14-day free trial has expired" 
                    #tooltip="matTooltip" 
                    matTooltipPosition='below'
                    matTooltipHideDelay="100" 
                    (click)="openModalTrialExpired()"
                    style="vertical-align: middle; color: #f44336; cursor: pointer; font-size: 20px;">
                    error
                </i>
            </span>
        </div> -->

        <div class="actions--btn-wpr">
            <!-- <button id="home-material-btn" class="mat-focus-indicator mat-flat-button mat-button-base"
                (click)="goToKnowledgeBases()">
                <span class="mat-button-wrapper">

                    <span class="ml-2" style="font-size: 15px;">
                        Add  
                    
                    </span>

                </span>
                <span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false"
                    ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]">
                </span>
                <span class="mat-button-focus-overlay"> </span>
            </button> -->

            <!-- <button id="home-material-btn" [ngClass]="{'add-kb-disabled': kbSettings?.kbs?.length === 3}"
                class="mat-focus-indicator mat-flat-button mat-button-base"
                (click)="presentModalAddKb()"
                [disabled]="addButtonDisabled">
                <span class="mat-button-wrapper">
                 
                    <span class="ml-2"
                        style="font-size: 15px;">
                         {{'KbPage.AddKb' | translate}} 
                        Add Knowledge Base 
                    </span>

                </span>
                <span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false"
                    ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]">
                </span>
                <span class="mat-button-focus-overlay"> </span>
            </button> -->
        </div>

    </div>
</div>